openapi: 3.2.0
info:
  title: Cart - V1 Ramps API
  version: v1
  description: The Ramps Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Ramps
  description: The Ramps Controller
paths:
  /api/cart/v1/carts/{cartId}/items/ramps:
    delete:
      tags:
      - Ramps
      summary: Delete ramp line items
      description: Deletes the ramp line for a given cart ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: A list of ramp lines with ID
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    patch:
      tags:
      - Ramps
      summary: Update existing ramp lines
      description: Update existing ramp lines
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: A list of line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    post:
      tags:
      - Ramps
      summary: Create ramp lines for one or more cart line items
      description: Create ramp line for the given cartId and line item(s) with ramp parameters.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      requestBody:
        description: List of line item(s) with ramp parameters
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    put:
      tags:
      - Ramps
      summary: Add ramp lines to already ramped line items
      description: Adds ramp line items
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Ramp line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        FeatureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        ProductOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        ProductAttributeGroupMemberIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        RootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        OptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetUsagePriceTier:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        commitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        flatPrice:
          type:
          - number
          - 'null'
          format: double
        isCommitted:
          type:
          - boolean
          - 'null'
        isIncluded:
          type:
          - boolean
          - 'null'
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        priceAdjustment:
          type:
          - number
          - 'null'
          format: double
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type: integer
          format: int32
        tierEndValue:
          type:
          - number
          - 'null'
          format: double
        tierStartValue:
          type:
          - number
          - 'null'
          format: double
        usageRate:
          type:
          - number
          - 'null'
          format: double
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        PriceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        RelatedPriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ComponentProductName:
          type:
          - string
          - 'null'
        ComponentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        defaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type:
          - boolean
          - 'null'
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type:
          - boolean
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        modifiableType:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        isRequired:
          type:
          - boolean
          - 'null'
        lookupObjectName:
          type:
          - string
          - 'null'
        pickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        type:
          type:
          - string
          - 'null'
        helpText:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        autoCascadeQuantity:
          type:
          - boolean
          - 'null'
        autoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        autoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoUpdateQuantity:
          type:
          - boolean
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        contractItemNumber:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        contractPrice:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        defaultPriceDatasource:
          type:
          - string
          - 'null'
        defaultPriceFrom:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        defaultQuantityDatasource:
          type:
          - string
          - 'null'
        defaultQuantityFrom:
          type:
          - string
          - 'null'
        defaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        disableAssetIntegration:
          type:
          - boolean
          - 'null'
        disableCostModel:
          type:
          - boolean
          - 'null'
        disableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableAutoRampCreation:
          type:
          - boolean
          - 'null'
        enableCommitment:
          type:
          - boolean
          - 'null'
        enableRampCreation:
          type:
          - boolean
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        frequency:
          type:
          - string
          - 'null'
        hasCriteria:
          type:
          - boolean
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        isProductActive:
          type:
          - boolean
          - 'null'
        isTaxable:
          type:
          - boolean
          - 'null'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        isQuantityReadOnly:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productDescription:
          type:
          - string
          - 'null'
        productFamily:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
          - boolean
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedAdjustmentAmountSourceId:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPercent:
          type:
          - number
          - 'null'
          format: double
        relatedPercentAppliesTo:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        sellingUomId:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        RelatedPriceListItemsTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedPriceListItem'
        relatedItemId:
          type:
          - string
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        taxCodeId:
          type:
          - string
          - 'null'
        taxInclusive:
          type:
          - boolean
          - 'null'
        type:
          type:
          - string
          - 'null'
        relatedAdjustmentSource:
          type:
          - string
          - 'null'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Feature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeGroup:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        ProductTranslation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupTranslation'
        attributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Proposal:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.LineItem:
      type: object
      properties:
        aboAction:
          type:
          - string
          - 'null'
        addedBy:
          type:
          - string
          - 'null'
        addedByRuleInfo:
          type:
          - string
          - 'null'
        adHocGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        adjustedPrice:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowableAction:
          type:
          - string
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        allowRemoval:
          type:
          - boolean
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        assetQuantity:
          type:
          - number
          - 'null'
          format: double
        isAutoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        baseCost:
          type:
          - number
          - 'null'
          format: double
        baseCostOverride:
          type:
          - number
          - 'null'
          format: double
        baseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        baseExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        basePrice:
          type:
          - number
          - 'null'
          format: double
        basePriceOverride:
          type:
          - number
          - 'null'
          format: double
        basePriceMethod:
          type:
          - string
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        baseProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        billingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        billingRule:
          type:
          - string
          - 'null'
        billingPlan:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        billToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        chargeType:
          type:
          - string
          - 'null'
        classificationHierarchy:
          type:
          - string
          - 'null'
        classificationHierarchyInfo:
          type:
          - string
          - 'null'
        classificationId:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        commitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        contractNumbers:
          type:
          - string
          - 'null'
        cost:
          type:
          - number
          - 'null'
          format: double
        configStatus:
          type:
          - string
          - 'null'
        copySourceBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        copySourceNumber:
          type:
          - integer
          - 'null'
          format: int32
        couponCode:
          type:
          - string
          - 'null'
        isCustomizable:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        deltaPrice:
          type:
          - number
          - 'null'
          format: double
        deltaQuantity:
          type:
          - number
          - 'null'
          format: double
        derivedFrom:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        extendedCost:
          type:
          - number
          - 'null'
          format: double
        extendedPrice:
          type:
          - number
          - 'null'
          format: double
        extendedDescription:
          type:
          - string
          - 'null'
        extendedQuantity:
          type:
          - number
          - 'null'
          format: double
        flatOptionPrice:
          type:
          - number
          - 'null'
          format: double
        frequency:
          type:
          - string
          - 'null'
        groupAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        guidance:
          type:
          - string
          - 'null'
        hasAttributes:
          type:
          - boolean
          - 'null'
        hasBaseProduct:
          type:
          - boolean
          - 'null'
        hasDefaults:
          type:
          - boolean
          - 'null'
        hasIncentives:
          type: boolean
        hasOptions:
          type:
          - boolean
          - 'null'
        hasTieredPrice:
          type:
          - boolean
          - 'null'
        incentive:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        incentiveAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        incentiveBasePrice:
          type:
          - number
          - 'null'
          format: double
        incentiveCode:
          type:
          - string
          - 'null'
        incentiveExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        incentiveType:
          type:
          - string
          - 'null'
        isAssetPricing:
          type:
          - boolean
          - 'null'
        isCustomPricing:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isOptional:
          type:
          - boolean
          - 'null'
        isOptionRollupLine:
          type:
          - boolean
          - 'null'
        isPrimaryLine:
          type:
          - boolean
          - 'null'
        isPrimaryRampLine:
          type:
          - boolean
          - 'null'
        isQuantityModifiable:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        itemSequence:
          type: integer
          format: int32
        lineNumber:
          type: integer
          format: int32
        lineSequence:
          type:
          - integer
          - 'null'
          format: int32
        lineStatus:
          type:
          - string
          - 'null'
        lineType:
          type:
          - string
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        netAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        netPrice:
          type:
          - number
          - 'null'
          format: double
        netUnitPrice:
          type:
          - number
          - 'null'
          format: double
        optionCost:
          type:
          - number
          - 'null'
          format: double
        optionGroupLabel:
          type:
          - string
          - 'null'
        optionPrice:
          type:
          - number
          - 'null'
          format: double
        optionSequence:
          type:
          - integer
          - 'null'
          format: int32
        orderLineStatus:
          type:
          - string
          - 'null'
        overrideName:
          type:
          - string
          - 'null'
        parentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        priceAdjustment:
          type:
          - number
          - 'null'
          format: double
        priceAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        priceAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        priceAdjustmentType:
          type:
          - string
          - 'null'
        priceGroup:
          type:
          - string
          - 'null'
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        pricingGuidance:
          type:
          - string
          - 'null'
        pricingStatus:
          type:
          - string
          - 'null'
        pricingSteps:
          type:
          - string
          - 'null'
        location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        primaryLineNumber:
          type: integer
          format: int32
        primaryTxnLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        productOption:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        productVersion:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        relatedPercent:
          type:
          - number
          - 'null'
          format: double
        relatedPercentAppliesTo:
          type:
          - string
          - 'null'
        quantity:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentType:
          type:
          - string
          - 'null'
        rollupPriceMethod:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
          - boolean
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        sellingFrequency:
          type:
          - string
          - 'null'
        sellingTerm:
          type:
          - number
          - 'null'
          format: double
        sellingUom:
          type:
          - string
          - 'null'
        serviceLocation:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        statusDetails:
          type:
          - string
          - 'null'
        summaryGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        isTaxable:
          type:
          - boolean
          - 'null'
        taxCode:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        term:
          type:
          - number
          - 'null'
          format: double
        transferPriceLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        totalQuantity:
          type:
          - number
          - 'null'
          format: double
        txnParentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        unitCostAdjustment:
          type:
          - number
          - 'null'
          format: double
        unitPriceAdjustmentAuto:
          type:
          - number
          - 'null'
          format: double
        unitPriceAdjustmentManual:
          type:
          - number
          - 'null'
          format: double
        uom:
          type:
          - string
          - 'null'
        categoryHierarchyIds:
          type:
          - string
          - 'null'
        parentConfiguration:
          type:
          - string
          - 'null'
        collaborationParentLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        purchaseId:
          type:
          - string
          - 'null'
        benefitLineType:
          type:
          - string
          - 'null'
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        assetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        Option:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        configuration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductConfiguration'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        priceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedLineItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedLineItem'
        Category:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
        collaborationRequest:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductTranslation:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        family:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        translationName:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroup:
      type: object
      properties:
        attributeMatrixId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        threeColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        twoColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        attributeGroupMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupMember'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetLineItemAttribute:
      type: object
      properties:
        attributeName:
          type:
          - string
          - 'null'
        attributeValue:
          type:
          - string
          - 'null'
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest:
      type: object
      properties:
        lineItem:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        frequency:
          type:
          - string
          - 'null'
        noOfPeriods:
          type:
          - integer
          - 'null'
          format: int32
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Conga.Revenue.Entities.Product:
      type: object
      properties:
        configurationType:
          type:
          - string
          - 'null'
        customizable:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayUrl:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        excludeFromSitemap:
          type: boolean
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        family:
          type:
          - string
          - 'null'
        hasAttributes:
          type: boolean
        hasDefaults:
          type: boolean
        hasOptions:
          type: boolean
        hasSearchAttributes:
          type: boolean
        imageURL:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isCustomizable:
          type: boolean
        isTabViewEnabled:
          type: boolean
        disableExpandInCart:
          type:
          - boolean
          - 'null'
        allowVisualization:
          type:
          - boolean
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productType:
          type:
          - string
          - 'null'
        quantityUnitOfMeasure:
          type:
          - string
          - 'null'
        renewalLeadTime:
          type:
          - number
          - 'null'
          format: double
        stockKeepingUnit:
          type:
          - string
          - 'null'
        uom:
          type:
          - string
          - 'null'
        version:
          type:
          - number
          - 'null'
          format: double
        layout:
          type:
          - string
          - 'null'
        Categories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductCategory'
        prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        productAttributeGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        productOptionGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        translations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductTranslation'
        triggeringPrimaryLineNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        productAttributeMatrixViews:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeMatrixView'
        productFeatureValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductFeatureValue'
        productFeatures:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductFeature'
        productGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroupMember'
        productOptionGroupsForBundle:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        ruleActionId:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Category:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        defaultSearchCategory:
          type: boolean
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type: boolean
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type: boolean
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type: boolean
        isHidden:
          type: boolean
        isLeaf:
          type:
          - boolean
          - 'null'
        isPicklist:
          type: boolean
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductCategory:
      type: object
      properties:
        categoryId:
          type:
          - string
          - 'null'
        default:
          type: boolean
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiable:
          type: boolean
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        Category:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeGroupMember:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        ProductIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroup:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        groupType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.RelatedLineItem:
      type: object
      properties:
        lineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        priceMatrixEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        priceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        relatedAssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        relatedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        relatedExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        RelatedLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        relatedQuantity:
          type:
          - number
          - 'null'
          format: double
        relatedSellingTerm:
          type:
          - number
          - 'null'
          format: double
        relatedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        relationType:
          type:
          - string
          - 'null'
        serviceBasePrice:
          type:
          - number
          - 'null'
          format: double
        useType:
          type:
          - string
          - 'null'
        weightageAmount:
          type:
          - number
          - 'null'
          format: double
        weightagePercentage:
          type:
          - number
          - 'null'
          format: double
        weightageType:
          type:
          - string
          - 'null'
        weightageNetPrice:
          type:
          - number
          - 'null'
          format: double
        isSystemCalculated:
          type:
          - boolean
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeMatrixView:
      type: object
      properties:
        active:
          type: boolean
        attributeValueMatrixId:
          type:
          - string
          - 'null'
        columns:
          type:
          - string
          - 'null'
        hash:
          type:
          - string
          - 'null'
        keys:
          type:
          - string
          - 'null'
        productAttributeScope:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupTranslation:
      type: object
      properties:
        language:
          type:
          - string
          - 'null'
        attributeGroupTranslationName:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetLineItem:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        agreementLineItemId:
          type:
          - string
          - 'null'
        adjustedPrice:
          type:
          - number
          - 'null'
          format: double
        allowedActions:
          type:
          - array
          - 'null'
          items:
            type: string
        assetARR:
          type:
          - number
          - 'null'
          format: double
        assetCode:
          type:
          - string
          - 'null'
        assetMRR:
          type:
          - number
          - 'null'
          format: double
        assetNumber:
          type:
          - string
          - 'null'
        assetStatus:
          type:
          - string
          - 'null'
        assetTCV:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoRenewal:
          type:
          - boolean
          - 'null'
        availableBalance:
          type:
          - number
          - 'null'
          format: double
        baseCost:
          type:
          - number
          - 'null'
          format: double
        baseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        basePrice:
          type:
          - number
          - 'null'
          format: double
        basePriceMethod:
          type:
          - string
          - 'null'
        billingDayOfMonth:
          type:
          - number
          - 'null'
          format: double
        billingEndDate:
          type:
          - string
          - 'null'
          format: date-time
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        billingStartDate:
          type:
          - string
          - 'null'
          format: date-time
        billingThroughDate:
          type:
          - string
          - 'null'
          format: date-time
        businessLineItemId:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        businessObjectType:
          type:
          - string
          - 'null'
        cancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        chargeGroupId:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        currentContractStartDate:
          type:
          - string
          - 'null'
          format: date-time
        currentContractTerm:
          type:
          - number
          - 'null'
          format: double
        currentContractUnitPrice:
          type:
          - number
          - 'null'
          format: double
        currentContractValue:
          type:
          - number
          - 'null'
          format: double
        deltaPrice:
          type:
          - number
          - 'null'
          format: double
        deltaQuantity:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        extendedCost:
          type:
          - number
          - 'null'
          format: double
        extendedDescription:
          type:
          - string
          - 'null'
        extendedPrice:
          type:
          - number
          - 'null'
          format: double
        frequency:
          type:
          - string
          - 'null'
        hasAttributes:
          type:
          - boolean
          - 'null'
        hasOptions:
          type:
          - boolean
          - 'null'
        hideInvoiceDisplay:
          type:
          - boolean
          - 'null'
        initalActivationDate:
          type:
          - string
          - 'null'
          format: date-time
        isHistory:
          type: boolean
        isInActive:
          type:
          - boolean
          - 'null'
        isOptionRollupLine:
          type:
          - boolean
          - 'null'
        isPrimaryLine:
          type:
          - boolean
          - 'null'
        isPrimaryRampLine:
          type:
          - boolean
          - 'null'
        isPrimaryService:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        isRenewalPending:
          type:
          - boolean
          - 'null'
        isRenewed:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        itemSequence:
          type:
          - integer
          - 'null'
          format: int32
        lastRenewEndDate:
          type:
          - string
          - 'null'
          format: date-time
        lineNumber:
          type:
          - integer
          - 'null'
          format: int32
        lineType:
          type:
          - string
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
[...]
