openapi: 3.2.0
info:
  title: Administration Hierarchies API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Hierarchies
paths:
  /hierarchies:
    delete:
      tags:
      - Hierarchies
      summary: Delete hierarchies
      description: Deletes  one or more hierarchy records.
      requestBody:
        description: The list of hierarchies to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Hierarchies
      summary: Retrieve hierarchies
      description: Retrieves the hierarchy records.
      parameters:
      - name: filter
        in: query
        description: Optional. The filter criteria
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional. The sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: Optional. The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Optional. The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional. The included related resources
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Hierarchies
      summary: Update hierarchies
      description: Updates one or more hierarchy records.
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: HierarchyName
              IsActive: true
              HierarchyLabel: HierarchyLabel
              Type: HierarchyType
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Hierarchies
      summary: Create hierarchies
      description: Creates one or more hierarchy records.
      requestBody:
        description: The list of hierarchies to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Hierarchy'
      responses:
        '200':
          description: OK
  /hierarchies/{Id}:
    delete:
      tags:
      - Hierarchies
      summary: Delete a hierarchy
      description: Deletes a single hierarchy record.
      parameters:
      - name: Id
        in: path
        description: The ID of the hierarchy to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Hierarchies
      summary: Retrieve a hierarchy
      description: Retrieves a single hierarchy record.
      parameters:
      - name: Id
        in: path
        description: The ID of the hierarchy
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional. The included related resources
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Hierarchy'
            application/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
            text/json:
              schema:
                $ref: '#/components/schemas/Hierarchy'
        '204':
          description: No Content
    patch:
      tags:
      - Hierarchies
      summary: Update a hierarchy
      description: Updates a single hierarchy record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the document to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the document
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: HierarchyName
              IsActive: true
              HierarchyLabel: HierarchyLabel
              Type: HierarchyType
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
  /hierarchies/{parentId}/price-list-categories:
    delete:
      tags:
      - Hierarchies
      summary: Delete price list categories
      description: Delete price list categories
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Hierarchies
      summary: Retrieve price list categories
      description: Retrieve price list categories
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: ''
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: ''
        schema:
          type: string
      - name: page
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: ''
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Hierarchies
      summary: Update price list categories
      description: Update price list categories
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: PriceListCategoryName
              IsActive: true
              Sequence: 1
              Hierarchy:
                Id: Hierarchy-Id
                Name: Hierarchy-Name
              PriceList:
                Id: PriceList-Id
                Name: PriceList-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Hierarchies
      summary: Create price list categories
      description: Create price list categories
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListCategory'
      responses:
        '200':
          description: OK
  /hierarchies/{parentId}/price-list-categories/{id}:
    delete:
      tags:
      - Hierarchies
      summary: Delete a price list category
      description: Delete a price list category
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Hierarchies
      summary: Retrieve a price list category
      description: Retrieve a price list category
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Hierarchies
      summary: Update a price list category
      description: Update a price list category
      parameters:
      - name: parentId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: PriceListCategoryName
              IsActive: true
              Sequence: 1
              Hierarchy:
                Id: Hierarchy-Id
                Name: Hierarchy-Name
              PriceList:
                Id: PriceList-Id
                Name: PriceList-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    Hierarchy:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        HierarchyLabel:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: HierarchyName
        IsActive: true
        HierarchyLabel: HierarchyLabel
        Type: HierarchyType
    PriceListCategory:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Hierarchy:
          $ref: '#/components/schemas/LookupObject'
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: PriceListCategoryName
        IsActive: true
        Sequence: 1
        Hierarchy:
          Id: Hierarchy-Id
          Name: Hierarchy-Name
        PriceList:
          Id: PriceList-Id
          Name: PriceList-Name
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
