openapi: 3.2.0
info:
  title: Administration Storefronts API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Storefronts
paths:
  /storefronts:
    delete:
      tags:
      - Storefronts
      summary: Delete storefronts
      description: Deletes one or more storefront records based on the IDs provided in the request body.
      requestBody:
        description: The list of storefronts to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Storefronts
      summary: Retrieve storefronts
      description: Retrieves the list of storefront records.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Storefronts
      summary: Update storefronts
      description: Updates one or more storefront based on the details provided in the request body.
      requestBody:
        description: The list of storefronts with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the StoreFront
              Channel: Direct Sales
              DefaultPriceList:
                Id: PL-Id
                Name: PL-Name
              DefaultAccount:
                Id: Account-Id
                Name: Account-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Storefronts
      summary: Create storefronts
      description: Creates one or more storefronts based on details provided in the request body.
      requestBody:
        description: The list of storefronts to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/StoreFront'
      responses:
        '200':
          description: OK
  /storefronts/active:
    get:
      tags:
      - Storefronts
      summary: Retrieve active storefront
      description: Retrieves the active storefront by its identifier.
      parameters:
      - name: storeFrontId
        in: header
        description: Storefront id
        schema:
          type: string
      - name: field
        in: query
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StoreFront'
            application/json:
              schema:
                $ref: '#/components/schemas/StoreFront'
            text/json:
              schema:
                $ref: '#/components/schemas/StoreFront'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RevenueException'
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
            text/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
  /storefronts/{Id}:
    delete:
      tags:
      - Storefronts
      summary: Delete a storefront
      description: Deletes a storefront record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the storefront to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Storefronts
      summary: Retrieve a storefront
      description: Retrieves a single storefront record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the storefront
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Storefronts
      summary: Update a storefront
      description: Updates a single storefront record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the storefront to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the storefront
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the StoreFront
              Channel: Direct Sales
              DefaultPriceList:
                Id: PL-Id
                Name: PL-Name
              DefaultAccount:
                Id: Account-Id
                Name: Account-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    RuntimeTypeHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/FieldAttributes'
        FieldType:
          $ref: '#/components/schemas/Type'
        IsInitOnly:
          type: boolean
          readOnly: true
        IsLiteral:
          type: boolean
          readOnly: true
        IsNotSerialized:
          type: boolean
          readOnly: true
          deprecated: true
        IsPinvokeImpl:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        FieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    CustomAttributeTypedArgument:
      type: object
      properties:
        ArgumentType:
          $ref: '#/components/schemas/Type'
        Value: {}
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    Assembly:
      type: object
      properties:
        DefinedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        ExportedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        CodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        EntryPoint:
          $ref: '#/components/schemas/MethodInfo'
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        ImageRuntimeVersion:
          type:
          - string
          - 'null'
          readOnly: true
        IsDynamic:
          type: boolean
          readOnly: true
        Location:
          type:
          - string
          - 'null'
          readOnly: true
        ReflectionOnly:
          type: boolean
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        IsFullyTrusted:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        EscapedCodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        ManifestModule:
          $ref: '#/components/schemas/Module'
        Modules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        GlobalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        HostContext:
          type: integer
          format: int64
          readOnly: true
        SecurityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    IntPtr:
      type: object
      additionalProperties: false
    PropertyInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        PropertyType:
          $ref: '#/components/schemas/Type'
        Attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        CanRead:
          type: boolean
          readOnly: true
        CanWrite:
          type: boolean
          readOnly: true
        GetMethod:
          $ref: '#/components/schemas/MethodInfo'
        SetMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        MemberInfo:
          $ref: '#/components/schemas/MemberInfo'
        TypedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        MemberName:
          type:
          - string
          - 'null'
          readOnly: true
        IsField:
          type: boolean
          readOnly: true
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    TypeInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
        GenericTypeParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        DeclaredConstructors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        DeclaredEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        DeclaredFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        DeclaredMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        DeclaredMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        DeclaredNestedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        DeclaredProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        ImplementedInterfaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        Member:
          $ref: '#/components/schemas/MemberInfo'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        ParameterType:
          $ref: '#/components/schemas/Type'
        Position:
          type: integer
          format: int32
          readOnly: true
        IsIn:
          type: boolean
          readOnly: true
        IsLcid:
          type: boolean
          readOnly: true
        IsOptional:
          type: boolean
          readOnly: true
        IsOut:
          type: boolean
          readOnly: true
        IsRetval:
          type: boolean
          readOnly: true
        DefaultValue:
          readOnly: true
        RawDefaultValue:
          readOnly: true
        HasDefaultValue:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    StructLayoutAttribute:
      type: object
      properties:
        TypeId:
          readOnly: true
        Value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    ModuleHandle:
      type: object
      properties:
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    CustomAttributeData:
      type: object
      properties:
        AttributeType:
          $ref: '#/components/schemas/Type'
        Constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        ConstructorArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        NamedArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    Type:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    RuntimeMethodHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    ConstructorInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/EventAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        AddMethod:
          $ref: '#/components/schemas/MethodInfo'
        RemoveMethod:
          $ref: '#/components/schemas/MethodInfo'
        RaiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        IsMulticast:
          type: boolean
          readOnly: true
        EventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    Module:
      type: object
      properties:
        Assembly:
          $ref: '#/components/schemas/Assembly'
        FullyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
        ModuleVersionId:
          type: string
          format: uuid
          readOnly: true
        ScopeName:
          type:
          - string
          - 'null'
          readOnly: true
        ModuleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    StoreFront:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        DefaultAccount:
          $ref: '#/components/schemas/LookupObject'
        DefaultPriceList:
          $ref: '#/components/schemas/LookupObject'
        ImageUrl:
          type:
          - string
          - 'null'
        Channel:
          type:
          - string
          - 'null'
        GuestUser:
          $ref: '#/components/schemas/LookupObject'
        DefaultFlow:
          type:
          - string
          - 'null'
        DefaultLocale:
          type:
          - string
          - 'null'
        StoreUrl:
          type:
          - string
          - 'null'
        DefaultSalesUser:
          $ref: '#/components/schemas/LookupObject'
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the StoreFront
        Channel: Direct Sales
        DefaultPriceList:
          Id: PL-Id
          Name: PL-Name
        DefaultAccount:
          Id: Account-Id
          Name: Account-Name
    Exception:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        ReturnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        ReturnType:
          $ref: '#/components/schemas/Type'
        ReturnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    RevenueException:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
