openapi: 3.2.0
info:
  title: Cart - V1 Lookup Field Data API
  version: v1
  description: Lookup Field Data Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: LookupFieldData
  description: Lookup Field Data Controller
paths:
  /api/cart/v1/lookupfield-data/query:
    post:
      tags:
      - LookupFieldData
      summary: Query the lookup field object records based on lookup field setting.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.LookupFieldDataRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.LookupFieldDataRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.LookupFieldDataRequest'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Cart.Manager.Model.LookupFieldDataRequest:
      type: object
      properties:
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        searchText:
          type:
          - string
          - 'null'
        objectData:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        objectDataType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
