openapi: 3.2.0
info:
  title: X-Author Agreement Template API
  version: v1
  description: This class contains APIs related to agreement and template related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementTemplate
  description: This class contains APIs related to agreement and template related operations.
paths:
  /api/xauthor/v1/contracts/{contractId}/templates:
    get:
      tags:
      - AgreementTemplate
      summary: Get a template for an agreement
      parameters:
      - name: contractId
        in: path
        description: Contract ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Contract ID
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Template'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Template'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Template'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Enum.TemplateStage:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.TemplateType:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.FormatFrameworkEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.Template:
      type: object
      properties:
        referenceId:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        templateTypeObject:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TemplateType'
        businessContext:
          type:
          - string
          - 'null'
        businessObject:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.BusinessObject'
        guidance:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        revisionDate:
          type: string
          format: date-time
        agreementTypes:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        subcategory:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        localeId:
          type:
          - string
          - 'null'
        keywords:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        mergefieldList:
          type:
          - string
          - 'null'
        contentText:
          type:
          - string
          - 'null'
        termException:
          type:
          - string
          - 'null'
        termExceptionName:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        clonedFromId:
          type:
          - string
          - 'null'
        clonedFromReferenceId:
          type:
          - string
          - 'null'
        clonedFromTemplateName:
          type:
          - string
          - 'null'
        needsPublishing:
          type: boolean
        vf_PageName:
          type:
          - string
          - 'null'
        activeVersionId:
          type:
          - string
          - 'null'
        outputPage:
          type:
          - string
          - 'null'
        createVisualForcePageEnum:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.CreateVisualForcePageEnum'
        formatFrameworkEnum:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.FormatFrameworkEnum'
        lastModifiedBy:
          type:
          - string
          - 'null'
        lastModified:
          type:
          - string
          - 'null'
        listAgreementTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RecordType'
        checkoutVersionId:
          type:
          - string
          - 'null'
        checkoutById:
          type:
          - string
          - 'null'
        checkoutByName:
          type:
          - string
          - 'null'
        checkoutDate:
          type:
          - string
          - 'null'
        checkoutVersionName:
          type:
          - string
          - 'null'
        sendForApprovalVersion:
          type:
          - string
          - 'null'
        activeVersionName:
          type:
          - string
          - 'null'
        activeVersionNumber:
          type:
          - string
          - 'null'
        activeVersionComments:
          type:
          - string
          - 'null'
        mergeFieldConsolidated:
          type:
          - string
          - 'null'
        isAlternateClause:
          type: boolean
        clauseType:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        externalId:
          type:
          - string
          - 'null'
        enableAgreementClauseTracking:
          type: boolean
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
        createdBy:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
        clauseFormat:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseFormat'
        clauseBehavior:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseBehaviorEnum'
        source:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.TemplateSource'
        documentFileType:
          type:
          - string
          - 'null'
        documentFileSize:
          type: integer
          format: int64
        extendedProperties:
          type:
          - string
          - 'null'
        stage:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.TemplateStage'
        extractionReferenceId:
          type:
          - string
          - 'null'
        isDraft:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.TemplateSource:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.RecordType:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.BusinessObject:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.ClauseBehaviorEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Common.Enum.CreateVisualForcePageEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Common.Enum.ClauseFormat:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
