openapi: 3.2.0
info:
  title: Conga Sign Account Signing UI Options API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountSigningUIOptions
paths:
  /v1/cs-account/admin/accountSettings/signingUiOptions:
    delete:
      tags:
      - AccountSigningUIOptions
      summary: Delete customized new signer experience settings
      description: 'Deletes customized New Signer Experience settings. Note that if there are no customized settings for the

        New Signer Experience then the default settings for the New Signer Experience will be returned.'
      operationId: AccountSigningUIOptions_DeleteAccountSigningUIOptions
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountSigningUIOptions
      summary: Retrieve customized new signer experience settings
      description: 'Retrieves customized New Signer Experience settings. Note that if there are no customized settings for the

        New Signer Experience then the default settings for the New Signer Experience will be returned.'
      operationId: AccountSigningUIOptions_GetAccountSigningUIOptions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigningUiOptions'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    patch:
      tags:
      - AccountSigningUIOptions
      summary: Patch custom signing UI options
      description: Retrieves the customized Signing UI Options.
      operationId: AccountSigningUIOptions_PatchAccountSigningUIOptions
      requestBody:
        x-name: signingUiOptions
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SigningUiOptions'
        required: true
        x-position: 1
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    NotaryHostThankYouOptions:
      type: object
      description: List of available Notary Host Thank You options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: "Check for Recipient name option.\n            "
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        notaryTag:
          type: boolean
          description: Check for Notary Tag option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
        downloadButton:
          type: boolean
          description: Check for Download Button option.
        reviewDocumentsButton:
          type: boolean
          description: Check for Review Documents Button option.
        continue:
          type: boolean
          description: Check for Continue option.
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    InpersonHostThankYouOptions:
      type: object
      description: List of available In-Person Host Thank You options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: Check for Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
        downloadButton:
          type: boolean
          description: Check for Download Button option.
        reviewDocumentsButton:
          type: boolean
          description: Check for Review Documents Button option.
        continue:
          type: boolean
          description: Check for Continue option.
    OverviewOptions:
      type: object
      description: List of available Overview options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
        uploadSection:
          type: boolean
          description: Check for Upload Section option.
    InpersonWelcomeOptions:
      type: object
      description: List of available In-Person Welcome options available for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for a Body option.
        recipientName:
          type: boolean
          description: Check for a Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientActionRequired:
          type: boolean
          description: Check for Recipient Action Requried option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
    NotaryWelcomeOptions:
      type: object
      description: List of Notary Welcome Options available for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: Check for Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientActionRequired:
          type: boolean
          description: Check for Recipient Action Required option.
        notaryTag:
          type: boolean
          description: Check for Notary Tag option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
    SigningUiOptions:
      type: object
      description: Signing interface options for involved signing parties.
      additionalProperties: false
      properties:
        completeSummaryOptions:
          description: List of available Complete Summary options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/CompleteSummaryOptions'
        inpersonWelcomeOptions:
          description: List of available In-person Welcome options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/InpersonWelcomeOptions'
        inpersonHostThankYouOptions:
          description: List of available In-person Host Thank You options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/InpersonHostThankYouOptions'
        notaryWelcomeOptions:
          description: List of available Notary Welcome options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/NotaryWelcomeOptions'
        notaryHostThankYouOptions:
          description: List of available Notary Host Thank you options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/NotaryHostThankYouOptions'
        overviewOptions:
          description: List of available Overview options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/OverviewOptions'
        vrOverviewOptions:
          description: List of available Virtual Room Overview options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/VirtualRoomOverviewOptions'
    VirtualRoomOverviewOptions:
      type: object
      description: List of available Virtual Room Overview options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
    CompleteSummaryOptions:
      type: object
      description: List of available Complete Summary options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        message:
          type: boolean
          description: Check for Message option.
        download:
          type: boolean
          description: Check for Download option.
        review:
          type: boolean
          description: Check for Review option.
        continue:
          type: boolean
          description: Check for Continue option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
        uploadSection:
          type: boolean
          description: Check for Upload Section option.
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
