openapi: 3.2.0
info:
  title: Conga Authorization API
  version: v1
  description: 'Operations tagged Authorization across 3 of this provider''s published API definitions: conga-esignature.json, conga-review.json, conga-x-author.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
tags:
- name: Authorization
  description: This class contains endpoints for authorizing sign providers like Conga Sign, Adobe Sign, or DocuSign, or wet signature.
paths:
  /api/esign/v1/authorize/refresh:
    post:
      tags:
      - Authorization
      summary: Get refresh token
      description: Gets a refresh token using an authentication code.
      parameters:
      - name: signProviderType
        in: query
        description: ''
        schema:
          $ref: '#/components/schemas/SignProviderType'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Errors:
                - Id: null
                  Message: Please provide valid value.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/esign/v1/authorize/token:
    get:
      tags:
      - Authorization
      summary: Get access token
      description: Retrieves an access token for an eSignature service provider.
      parameters:
      - name: signProviderType
        in: query
        description: Select an eSignature service provider from the list.
        schema:
          $ref: '#/components/schemas/SignProviderType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Errors:
                - Id: null
                  Message: Please provide valid value.
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/review/v1/google/authorize:
    post:
      tags:
      - Authorization
      summary: Get an auth token for Google service account flow
      description: Receives encrypted JSON for the Google service account, decrypts it, generates an access token, and returns the token.
      requestBody:
        description: Encrypted service account JSON.
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/review/v1/{reviewtype}/authorize:
    get:
      tags:
      - Authorization
      summary: Get user profile authorization
      description: Gets a review service auth URL or auth token based on your administrator settings.
      parameters:
      - name: reviewtype
        in: path
        description: Supported review types are Office365 and Normal.
        required: true
        schema:
          type: string
      - name: state
        in: query
        description: Resource identifier of required resource available through optional query parameters.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/review/v1/{reviewtype}/delegated/token:
    get:
      tags:
      - Authorization
      summary: Get an auth token for delegated flow
      description: 'Gets an auth token based on your administrator settings, review type, and auth code.

        This endpoint is only for delegated flow.'
      parameters:
      - name: reviewtype
        in: path
        description: Supported review types are Office365 and Normal.
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: Auth Code received after login as first step of delegated flow.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/xauthor/v1/authorization/token-info:
    get:
      tags:
      - Authorization
      summary: Get token information
      description: Extracts the token after logging in, verifies the token on whether the user is verified on the Conga Platform or Salesforce platform, and returns this information.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://xauthor-prod-rls10.congacloud.com
    - url: https://xauthor-preview-rls09.congacloud.com
components:
  schemas:
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    SignProviderType:
      enum:
      - AdobeSign
      - CongaSign
      - DocuSign
      - WetSign
      type: string
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Review.Service.Application.Models.AccessTokenResponse:
      type: object
      properties:
        AuthToken:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Review.Service.Application.Models.AuthorizationResponse:
      type: object
      properties:
        IsDelegated:
          type: boolean
        AuthUrl:
          type:
          - string
          - 'null'
        Token:
          $ref: '#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Apttus.XAuthor.Common.Enum.OrgType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Common.Enum.EnvironmentType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.CRMInformation:
      type: object
      properties:
        authToken:
          type:
          - string
          - 'null'
        instanceURL:
          type:
          - string
          - 'null'
        isProduction:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Model.TokenInformation:
      type: object
      properties:
        orgType:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.OrgType'
        crmInformation:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CRMInformation'
        rlpOrgInstanceUrl:
          type:
          - string
          - 'null'
        rlpBaseUrl:
          type:
          - string
          - 'null'
        isOrgOnboarded:
          type: boolean
        environment:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.EnvironmentType'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- conga-esignature.json
- conga-review.json
- conga-x-author.json
