openapi: 3.2.0
info:
  title: Audit Field History Tracking Config API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Field History Tracking Config
paths:
  /api/audit/v1/field-history-tracking-config:
    get:
      tags:
      - Field History Tracking Config
      summary: Get Field History Tracking Configuration
      description: Retrieves all objects and their associated fields that are currently configured for field history tracking. Use this API to view which objects and fields have change tracking enabled.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse'
              example:
                Success: true
                Data:
                - ObjectName: Agreement
                  FieldsEnabled:
                  - Name
                  - Account
                  - RecordType
                  - AgreementCategory
                  - AgreementNumber
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
  /api/audit/v1/objects/{objectName}/field-history-tracking-config:
    delete:
      tags:
      - Field History Tracking Config
      summary: Remove Object from Field History Tracking
      description: Removes the specified object and all its associated fields from the field history tracking configuration. After removal, changes to these fields will no longer be tracked.
      parameters:
      - name: objectName
        in: path
        description: Object name to be removed from the configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse'
              example:
                Success: true
                Data:
                - ObjectName: Agreement
                  FieldsEnabled:
                  - Name
                  - Account
                  - RecordType
                  - AgreementCategory
                  - AgreementNumber
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
    put:
      tags:
      - Field History Tracking Config
      summary: Add Fields to Field History Tracking
      description: Adds one or more fields to the specified object’s field history tracking configuration. This enables tracking changes to the added fields over time for auditing and reporting purposes.
      parameters:
      - name: objectName
        in: path
        description: Object name to which the fields belong to.
        required: true
        schema:
          type: string
      requestBody:
        description: A list of fields to be added to the object's field history tracking configuration.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse'
              example:
                Success: true
                Data:
                - ObjectName: Agreement
                  FieldsEnabled:
                  - Name
                  - Account
                  - RecordType
                  - AgreementCategory
                  - AgreementNumber
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
components:
  schemas:
    FieldHistoryTrackingConfigModel:
      type: object
      properties:
        ObjectName:
          type:
          - string
          - 'null'
        FieldsEnabled:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    FieldHistoryTrackingConfigModelListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldHistoryTrackingConfigModel'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
