openapi: 3.2.0
info:
  title: Conga Products API
  version: 1.0.0
  description: 'Operations tagged Products across 3 of this provider''s published API definitions: conga-administration.json, conga-asset.json, conga-catalog.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
- url: https://rls.congacloud.com/api/catalog/v1
tags:
- name: Products
paths:
  /products:
    delete:
      tags:
      - Products
      summary: Delete multiple products
      description: Deletes multiple products.
      requestBody:
        description: The list of products to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve the collection of products
      description: Retrieves the collection of all the products.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update multiple products
      description: Updates multiple products.
      requestBody:
        description: The list of products with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the product
              ConfigurationType: Standalone
              Description: Product description
              Family: Product Family
              IsActive: true
              ProductType: Type of the product
              IsCustomizable: true
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create multiple products
      description: Creates multiple product.
      requestBody:
        description: The list of products to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{Id}:
    delete:
      tags:
      - Products
      summary: Delete a single product by its identifier
      description: Deletes a single product by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a single product by its identifier
      description: Retrieves a single product by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a single product
      description: Updates a single product.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the product
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the product
              ConfigurationType: Standalone
              Description: Product description
              Family: Product Family
              IsActive: true
              ProductType: Type of the product
              IsCustomizable: true
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/attribute-matrices:
    get:
      tags:
      - Products
      summary: List Attributes
      description: Retrieves the attribute collection.
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/attribute-rules:
    get:
      tags:
      - Products
      summary: Retrieve all attribute rules
      description: Retrieves all attributes rules in the system.
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/categories:
    get:
      tags:
      - Products
      summary: Retrive lookup records
      description: Retrieves the lookup records for a given ID.
      parameters:
      - name: id
        in: path
        description: The ID
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/clone:
    post:
      tags:
      - Products
      summary: Clone a product
      description: Clones a product.
      parameters:
      - name: id
        in: path
        description: The identifier of the Product to clone
        required: true
        schema:
          type: string
      - name: isDeepCloneObject
        in: query
        description: Should deep clone object
        schema:
          type: boolean
      - name: excludeObjects
        in: query
        description: Objects to exclude from deep cloning
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Override fields with field name and value
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
        '202':
          description: Accepted
        '404':
          description: Not Found
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/constraint-rules:
    get:
      tags:
      - Products
      summary: Retrieve all constraint rules
      description: 'Retrieves all constraint rules with their details. Use query parameters to further narrow the results.

        <p>When executed, this API returns all constraint rules.</p>'
      parameters:
      - name: id
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/price-lists:
    get:
      tags:
      - Products
      summary: Retrieve Price Lists
      description: Retrieves price lists for a specific product.
      parameters:
      - name: id
        in: path
        description: The ID of the product
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{id}/product-groups:
    get:
      tags:
      - Products
      summary: Retrieve product groups for a specific product
      description: Retrieves product groups for a specific product.
      parameters:
      - name: id
        in: path
        description: The ID of the product
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/price-list-items:
    delete:
      tags:
      - Products
      summary: Delete price list items
      description: Delete price list items
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of price list items to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve price list items
      description: 'Retrieves all price list items in a price list, with their details. Use query parameters to further narrow the results.



        When executed, this API returns all price list items in a price list.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update price list items
      description: 'Updates specific fields on one or more price list items. It can update any field except the price list item ID.



        When executed, this API returns the updated price list item or items.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of price list items to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: PriceListItemName
              IsActive: true
              AllocateGroupAdjustment: true
              AllowManualAdjustment: true
              AllowPriceRampOverlap: true
              AllowProration: true
              BillingFrequency: Hourly
              BillingRule: Bill In Advance
              ChargeType: Standard Price
              Criteria: The item criteria specification
              Description: Description
              Frequency: Hourly
              PriceList:
                Id: PriceList-Id
                Name: PriceList-Name
              PriceMethod: Per Unit
              PriceType: One Time
              Product:
                Id: Product-Id
                Name: Product-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create price list items
      description: 'creates one or more price list items in a specific price list. It can create a maximum of 1000 price list items. It can create multiple price list items for the same product or multiple products. To create multiple price list items, pass one array for each price list item record in the API request.



        When executed, this API returns a unique price list item ID (string) that CPQ automatically generates.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of price list items to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceListItem'
      responses:
        '201':
          description: Created
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/price-list-items/{id}:
    delete:
      tags:
      - Products
      summary: Delete a price list item
      description: 'Deletes a specified price list item in a price list.



        When executed, this API returns the delete status of associated record ID.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the price list item to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a price list item
      description: 'Retrieves a price list item in a price list, with their details. Use query parameters to further narrow the results.



        When executed, this API returns a price list item in a price list.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the price list item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a price list item
      description: 'Updates specific fields on specified price list item. It can update any field except the price list item ID.



        When executed, this API returns the updated price list item.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The updated price list item
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: PriceListItemName
              IsActive: true
              AllocateGroupAdjustment: true
              AllowManualAdjustment: true
              AllowPriceRampOverlap: true
              AllowProration: true
              BillingFrequency: Hourly
              BillingRule: Bill In Advance
              ChargeType: Standard Price
              Criteria: The item criteria specification
              Description: Description
              Frequency: Hourly
              PriceList:
                Id: PriceList-Id
                Name: PriceList-Name
              PriceMethod: Per Unit
              PriceType: One Time
              Product:
                Id: Product-Id
                Name: Product-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/price-list-items/{id}/clone:
    post:
      tags:
      - Products
      summary: Clone a price list item
      description: Clones a price list item.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the PriceListItem to clone
        required: true
        schema:
          type: string
      - name: isDeepCloneObject
        in: query
        description: Should deep clone object
        schema:
          type: boolean
      - name: excludeObjects
        in: query
        description: Objects to exclude from deep cloning
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Override fields with field name and value
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
        '202':
          description: Accepted
        '404':
          description: Not Found
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-categories:
    delete:
      tags:
      - Products
      summary: Delete product categories
      description: Deletes one or more product categories from a specified product based on the parameters and request body.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve product categories
      description: Retrieves the product category records for a category.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update product categories
      description: Updates multiple product categories.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Default: true
              DefaultQuantity: 1
              MaxQuantity: 100
              MinQuantity: 1
              Modifiable: true
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create product categories
      description: Creates multiple product categories.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
      responses:
        '201':
          description: Created
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-categories/{id}:
    delete:
      tags:
      - Products
      summary: Delete a product category
      description: Deletes a product category by ID.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a product category
      description: Retrieves a product category by ID.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to fetch
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a product category
      description: Updates a product category.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated fields of the product category
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Default: true
              DefaultQuantity: 1
              MaxQuantity: 100
              MinQuantity: 1
              Modifiable: true
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-feature-values:
    delete:
      tags:
      - Products
      summary: Delete product feature values
      description: Deletes multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve product feature values
      description: Retrieves a list of junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update product feature values
      description: Updates multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Value: test
              Feature:
                Id: Feature-Id
                Name: Feature-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create product feature values
      description: Creates multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeatureValue'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-feature-values/{id}:
    delete:
      tags:
      - Products
      summary: Delete a product feature value
      description: Deletes a specific product feature value junction record that links a product to a feature. This removes the association between the product and feature while preserving both the product and feature entities themselves.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a product feature value
      description: Retrieves a specific junction record.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a product feature value
      description: Updates a specific junction record.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated record
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Value: test
              Feature:
                Id: Feature-Id
                Name: Feature-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-features:
    delete:
      tags:
      - Products
      summary: Delete product features
      description: Deletes multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve product features
      description: Retrieves a list of junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update product features
      description: Updates multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              FeatureSet:
                Id: FeatureSet-Id
                Name: FeatureSet-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create product features
      description: Creates multiple junction records.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductFeature'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-features/{id}:
    delete:
      tags:
      - Products
      summary: Delete a product feature
      description: Deletes a specific junction record.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a product feature
      description: Retrieves a specific junction record.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a product feature
      description: Updates a specific junction record.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the junction record to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated record
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              FeatureSet:
                Id: FeatureSet-Id
                Name: FeatureSet-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-group-members:
    delete:
      tags:
      - Products
      summary: Delete product group members
      description: Deletes one or more product group members from a specified product based on the parameters and request body.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product group members to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a product group members list
      description: Retrieves a product group member for a product.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update product group members
      description: Updates one or more product group members associated with a specified product based on the field updates provided in the request body. The API returns the updated structure of the product group members.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of updated product group members
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    post:
      tags:
      - Products
      summary: Create product group members
      description: Creates one or more product group members with product based on the product ID provided in the parameters and a list of product group members provided in the request body.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product group members to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductGroupMember'
      responses:
        '201':
          description: Created
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{parentId}/product-group-members/{id}:
    delete:
      tags:
      - Products
      summary: Delete a product group member
      description: Deletes a product group member from a product.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product group member to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    get:
      tags:
      - Products
      summary: Retrieve a product group member
      description: Retrieve a product group member
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product group member to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      security:
      - Bearer: []
    patch:
      tags:
      - Products
      summary: Update a product group member
      description: Updates a product group member for a given product.
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent product group
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product group member to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated product group member
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /products/{productId}/attributes:
    get:
      tags:
      - Products
      summary: Get product attributes
      description: Gets attributes for the named product
      parameters:
      - name: productId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Attribute'
            application/json:
              schema:
                $ref: '#/components/schemas/Attribute'
            text/json:
              schema:
                $ref: '#/components/schemas/Attribute'
        '400':
          description: Bad Request
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /api/asset/v1/product/{productId}/replacement-products:
    get:
      tags:
      - Products
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
      - name: priceListId
        in: query
        required: true
        schema:
          type: string
      - name: sortField
        in: query
        schema:
          type: string
      - name: sortorder
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /products/compare:
    post:
      tags:
      - Products
      summary: Compare products
      description: Compares the attributes of a list of products by productId.
      parameters:
      - name: pricelistId
        in: header
        description: The price list ID that is used to filter associated records.
        schema:
          type: string
      - name: cartId
        in: header
        description: A cart's unique identifier. Pass a cart ID to filter data relative to a specific cart.
        schema:
          type: string
          default: ''
      requestBody:
        description: A product's unique identifier. Enter a list of product IDs to specify products for retrieval.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
  /products/details:
    post:
      tags:
      - Products
      summary: Retrieve products by ID
      description: Retrieves product details for multiple products listed by product ID.
      parameters:
      - name: pricelistid
        in: header
        description: The price list ID used to filter associated records.
        schema:
          type: string
      - name: includes
        in: query
        description: A list of product detail types to include in the search result. Possible values are `prices`, `options`, or `attributes`. These provide pricing details, option details (if the product is a bundle), or category details.
        schema:
          type: array
          items:
            type: string
      - name: cartId
        in: header
        description: A cart's unique identifier.
        schema:
          type: string
          default: ''
      - name: depth
        in: query
        description: A product depth specification. The API retrieves the product and sub-product details until reaching the specified depth (level).
        schema:
          type: string
          default: '1'
      - name: suppressWarning
        in: query
        description: When this flag is set to true, the API responds with a 200 code even if it does not find a product in the response.
        schema:
          type: boolean
          default: false
      - name: fetchNonLeafOptionGroups
        in: query
        description: Flag to enable fetching non-leaf ProductOptionGroups and OptionGroups
        schema:
          type: boolean
          default: false
      - name: disableCurrencyConversion
        in: query
        description: Flag to enable/disable the currency conversion of price list items
        schema:
          type: boolean
          default: false
      - name: isOptimizedFetch
        in: query
        description: Flag to enable/disable fetching option groups and options when required
        schema:
          type: boolean
          default: false
      - name: configName
        in: query
        description: Config Name that stores the Product search response field list
        schema:
          type: string
          default: ResponseFieldList_Default
      requestBody:
        description: The unique identifier of a product. Enter product IDs to specify products to be retrieved.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                type: string
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
  /products/{productId}:
    get:
      tags:
      - Products
      summary: Get a product's details
      description: 'Retrieves the details of a product (productId). The API only retrieves active products with an active price list and price list item.

        <p>The API returns details of the following fields, among others.</p><ul><li>Product Name</li><li>Product Code</li><li>Associated Categories</li><li>Associated Attributes</li><li>Configuration Type</li><li>List Price</li><li>Charge Type</li><li>Options products (if the provided product is a bundle)</li></ul>'
      parameters:
      - name: pricelistid
        in: header
        description: The price list ID used to filter associated records.
        schema:
          type: string
      - name: productId
        in: path
        description: The ID of the product to retrieve associated records.
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Related data to include in the response. Available values are `attributes`, `options`, `prices`, and `categories`.
        schema:
          type: array
          items:
            type: string
      - name: optionGroupIds
        in: query
        description: The IDs of the leaf option groups with details to be fetched. Works only when isOptimizedFetch is passed as true.
        schema:
          type: array
          items:
            type: string
      - name: cartId
        in: header
        description: The unique identifier for a cart. Pass a cart ID to filter the data relative to a specific cart.
        schema:
          type: string
          default: ''
      - name: depth
        in: query
        description: The depth of the bundle level. The API retrieves the details of all options and sub-bundles to this level. The product ID provided in the parameters is at level 0.
        schema:
          type: string
          default: '3'
      - name: disableCurrencyConversion
        in: query
        description: Flag to enable/disable the currency conversion of price list items
        schema:
          type: boolean
          default: false
      - name: fetchNonLeafOptionGroups
        in: query
        description: Flag to enable fetching non-leaf ProductOptionGroups and OptionGroups
        schema:
          type: boolean
          default: false
      - name: isOptimizedFetch
        in: query
        description: Flag to enable/disable fetching option groups and options
        schema:
          type: boolean
          default: false
      - name: configName
        in: query
        description: Config Name that stores the Product search response field list
        schema:
          type: string
          default: ResponseFieldList_Default
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
  /products/{productId}/search:
    get:
      tags:
      - Products
      summary: Searches the search text in bundle context (option groups, options, attribute groups, attributes)
      description: Retrieves the list where the search text matches.
      parameters:
      - name: pricelistid
        in: header
        description: The price list ID used to filter associated records.
        schema:
          type: string
      - name: productId
        in: path
        description: The ID of the product to retrieve associated records.
        required: true
        schema:
          type: string
      - name: query
        in: query
        description: The search text which will search in options, attributes, sub bundles
        schema:
          type: string
      - name: includes
        in: query
        description: This mentions where to search into. Available values are `attributes`, `options`
        schema:
          type: array
          items:
            type: string
      - name: cartId
        in: header
        description: The unique identifier for a cart. Pass a cart ID to filter the data relative to a specific cart.
        schema:
          type: string
          default: ''
      - name: depth
        in: query
        description: The depth of the bundle level. Search results will be matched till that depth.
        schema:
          type: string
          default: '3'
      responses:
        '204':
          description: No Content
        '500':
          description: Internal Server Error
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
components:
  schemas:
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    ProductFeature:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        FeatureSet:
          $ref: '#/components/schemas/LookupObject'
        IncludedFeatures:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: Name of the record
        FeatureSet:
          Id: FeatureSet-Id
          Name: FeatureSet-Name
    ProductFeatureValue:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Feature:
          $ref: '#/components/schemas/LookupObject'
        IsIncluded:
          type:
          - boolean
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Value:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: Name of the record
        Value: test
        Feature:
          Id: Feature-Id
          Name: Feature-Name
    Product:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ConfigurationType:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        DisplayUrl:
          type:
          - string
          - 'null'
        ExcludeFromSitemap:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        Family:
          type:
          - string
          - 'null'
        HasAttributes:
          type:
          - boolean
          - 'null'
        HasDefaults:
          type:
          - boolean
          - 'null'
        HasOptions:
          type:
          - boolean
          - 'null'
        HasSearchAttributes:
          type:
          - boolean
          - 'null'
        ImageURL:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        IsCustomizable:
          type:
          - boolean
          - 'null'
        IsTabViewEnabled:
          type:
          - boolean
          - 'null'
        DisableExpandInCart:
          type:
          - boolean
          - 'null'
        AllowVisualization:
          type:
          - boolean
          - 'null'
        ProductCode:
          type:
          - string
          - 'null'
        ProductType:
          type:
          - string
          - 'null'
        QuantityUnitOfMeasure:
          type:
          - string
          - 'null'
        RenewalLeadTime:
          type:
          - number
          - 'null'
          format: double
        StockKeepingUnit:
          type:
          - string
          - 'null'
        Uom:
          type:
          - string
          - 'null'
        Version:
          type:
          - number
          - 'null'
          format: double
        Layout:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the product
        ConfigurationType: Standalone
        Description: Product description
        Family: Product Family
        IsActive: true
        ProductType: Type of the product
        IsCustomizable: true
    ProductCategory:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Category:
          $ref: '#/components/schemas/LookupObject'
        Default:
          type:
          - boolean
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        Modifiable:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Product:
          Id: Product-Id
          Name: Product-Name
        Default: true
        DefaultQuantity: 1
        MaxQuantity: 100
        MinQuantity: 1
        Modifiable: true
        Sequence: 1
    PriceListItem:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AllocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        AllowManualAdjustment:
          type:
          - boolean
          - 'null'
        AllowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        AllowProration:
          type:
          - boolean
          - 'null'
        AutoCascadeQuantity:
          type:
          - boolean
          - 'null'
        AutoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        AutoRenew:
          type:
          - boolean
          - 'null'
        AutoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        AutoRenewalType:
          type:
          - string
          - 'null'
        BillingFrequency:
          type:
          - string
          - 'null'
        BillingRule:
          type:
          - string
          - 'null'
        ChargeType:
          type:
          - string
          - 'null'
        ContractItemNumber:
          type:
          - string
          - 'null'
        ContractNumber:
          type:
          - string
          - 'null'
        ContractPrice:
          $ref: '#/components/schemas/CurrencyField'
        Cost:
          $ref: '#/components/schemas/CurrencyField'
        Criteria:
          type:
          - string
          - 'null'
        DefaultPriceDatasource:
          type:
          - string
          - 'null'
        DefaultPriceFrom:
          type:
          - string
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        DefaultQuantityDatasource:
          type:
          - string
          - 'null'
        DefaultQuantityFrom:
          type:
          - string
          - 'null'
        DefaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        Description:
          type:
          - string
          - 'null'
        DisableAssetIntegration:
          type:
          - boolean
          - 'null'
        DisableCostModel:
          type:
          - boolean
          - 'null'
        DisableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EnableCommitment:
          type:
          - boolean
          - 'null'
        EnableRampCreation:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        Frequency:
          type:
          - string
          - 'null'
        HasCriteria:
          type:
          - boolean
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        IsProductActive:
          type:
          - boolean
          - 'null'
        IsQuantityReadOnly:
          type:
          - boolean
          - 'null'
        IsSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        IsTaxable:
          type:
          - boolean
          - 'null'
        IsTaxInclusive:
          type:
          - boolean
          - 'null'
        IsUsageTierModifiable:
          type:
          - boolean
          - 'null'
        ListPrice:
          $ref: '#/components/schemas/CurrencyField'
        MaxPrice:
          $ref: '#/components/schemas/CurrencyField'
        MaxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        MinMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        MinPrice:
          $ref: '#/components/schemas/CurrencyField'
        MinUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        PriceIncludedInBundle:
          type:
          - boolean
          - 'null'
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        PriceMethod:
          type:
          - string
          - 'null'
        PriceType:
          type:
          - string
          - 'null'
        PriceUom:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductCode:
          type:
          - string
          - 'null'
        ProductDescription:
          type:
          - string
          - 'null'
        ProductFamily:
          type:
          - string
          - 'null'
        ProductName:
          type:
          - string
          - 'null'
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentAmountSourceId:
          $ref: '#/components/schemas/LookupObject'
        RelatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedItemId:
          type:
          - string
          - 'null'
        RelatedPercent:
          type:
          - number
          - 'null'
          format: double
        RelatedPercentAppliesTo:
          type:
          - string
          - 'null'
        RollupPriceToBundle:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        SubType:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        RelatedAdjustmentSource:
          type:
          - string
          - 'null'
        TaxCode:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      example:
        Name: PriceListItemName
        IsActive: true
        AllocateGroupAdjustment: true
        AllowManualAdjustment: true
        AllowPriceRampOverlap: true
        AllowProration: true
        BillingFrequency: Hourly
        BillingRule: Bill In Advance
        ChargeType: Standard Price
        Criteria: The item criteria specification
        Description: Description
        Frequency: Hourly
        PriceList:
          Id: PriceList-Id
          Name: PriceList-Name
        PriceMethod: Per Unit
        PriceType: One Time
        Product:
          Id: Product-Id
          Name: Product-Name
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProductGroupMember:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        Ratio:
          type:
          - number
          - 'null'
          format: double
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Product:
          Id: Product-Id
          Name: Product-Name
        Sequence: 1
    Attribute:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        DefaultValue:
          type:
          - string
          - 'null'
        PickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PickListValueItem'
        LookupObjectName:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsRequired:
          type:
          - boolean
          - 'null'
        HelpText:
          type:
          - string
          - 'null'
        Precision:
          type:
          - integer
          - 'null'
          format: int32
        Scale:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: AttributeName
        Type: String
        DefaultValue: Teststring
        Description: Attribute description
        PickListValue: null
        LookupObjectName: null
        DisplayName: Testing
        IsRequired: false
    PickListValueItem:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        featureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        productOptionComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        parentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        productAttributeGroupMember:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        rootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        optionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Catalog.API.Models.CatalogError:
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int32
        message:
          type:
          - string
          - 'null'
          description: Error Message
        timestamp:
          type: string
          description: Time when the error occurred
          format: date-time
        additionalDetails:
          description: Additional details about the error
      additionalProperties: false
      description: Error object returned by the Catalog APIs
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        productGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        componentProductName:
          type:
          - string
          - 'null'
        componentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        parentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        productOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
[...]
