openapi: 3.2.0
info:
  title: Administration Deal Guidance Dimension Sets API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Deal Guidance Dimension Sets
paths:
  /deal-guidance-dimension-sets:
    delete:
      tags:
      - Deal Guidance Dimension Sets
      summary: Delete deal guidance dimension sets
      description: Deletes the list of the dimension sets for a pricing deal.
      requestBody:
        description: The list of Deal Guidance Dimension Sets to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Dimension Sets
      summary: Retrieve deal guidance dimension sets
      description: Retrieves the list of the dimension sets for a pricing deal.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Guidance Dimension Sets
      summary: Update deal guidance dimension sets
      description: Updates the list of the dimension sets for a pricing deal.
      requestBody:
        description: The list of Deal Guidance Dimension Sets with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: DealGuidanceDimensionSetName
              BusinessObject: Business_object
              Description: Deal Guidance Dimension Set description
              GuidanceType: Guidance_type
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Deal Guidance Dimension Sets
      summary: Create deal guidance dimension sets
      description: Creates the list of the dimension sets for a pricing deal.
      requestBody:
        description: The list of Deal Guidance Dimension Sets to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceDimensionSet'
      responses:
        '200':
          description: OK
  /deal-guidance-dimension-sets/{Id}:
    delete:
      tags:
      - Deal Guidance Dimension Sets
      summary: Delete a deal guidance dimension set
      description: Deletes a single Deal Guidance Dimension Set by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Guidance Dimension Set to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Dimension Sets
      summary: Retrieve a deal guidance dimension set
      description: Retrieves a single dimension set record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Guidance Dimension Set
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Guidance Dimension Sets
      summary: Update a deal guidance dimension set
      description: Updates one or more dimension set records based on the details provided in the request body.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Guidance Dimension Set to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the Deal Guidance Dimension Set
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: DealGuidanceDimensionSetName
              BusinessObject: Business_object
              Description: Deal Guidance Dimension Set description
              GuidanceType: Guidance_type
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    DealGuidanceDimensionSet:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        BusinessObject:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        GuidanceType:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: DealGuidanceDimensionSetName
        BusinessObject: Business_object
        Description: Deal Guidance Dimension Set description
        GuidanceType: Guidance_type
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
