openapi: 3.2.0
info:
  title: Contracts Contract Request API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Contract Request
paths:
  /api/clm/v1/requests:
    post:
      tags:
      - Contract Request
      summary: Create a contract request
      description: "Creates a contract request record in CLM. \n\nThe required fields to create a contract request record are: \n* Name \n* RecordType"
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ContractRequest
              RecordType: MSA
              Requester: null
              Description: ''
              Account:
                Id: fa0d532c-2ce1-4599-873c-0af8079b4f43
                Name: Account
              Supplier: null
              ContractCategory: Sales
              Paper: null
      responses:
        '200':
          description: Returns the details of the created contract request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractRequestResponseAPIResponse'
              example:
                Success: true
                Data:
                  RequestHeader:
                    Description: Sales Contract
                    RecordType: MSA
                    Status: InProgress
                    Requester:
                      Id: 7760e695-b573-4114-9b8b-107118935020
                      Name: User1
                    Id: 61da4018-2b9e-4283-8ba6-486955717823
                    Name: Sales Contract
                    CreatedBy:
                      Id: 21ff6901-c3c6-47d9-a20e-d2ab09b484d0
                      Name: User1
                    CreatedDate: '2026-08-14T00:01:42.6793544+00:00'
                    ModifiedBy:
                      Id: 811ff868-22c7-4637-8e6a-7b627da20dfc
                      Name: User1
                    ModifiedDate: '2026-08-14T00:01:42.6793633+00:00'
                    ExternalId: null
                    ETag: null
                  RequestDetails:
                    Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2026-08-14T00:01:42.6793684Z'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2026-08-14T00:01:42.6793686Z'
                    ContractRequest:
                      Id: efdf505c-7299-4f07-85af-465b9e470d01
                      Name: user
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    InitiationType: null
                    InternalRenewalNotificationDays: null
                    InternalRenewalStartDate: null
                    ParentContract: null
                    Perpetual: null
                    PrimaryContact: null
                    RemainingContractedDays: null
                    RenewalNoticeDate: null
                    RenewalNoticeDays: null
                    RetentionDate: null
                    RetentionPolicyId: null
                    Source: null
                    SpecialTerms: null
                    SubmitRequestMode: null
                    TerminationComments: null
                    TerminationDate: null
                    TerminationNoticeDays: null
                    TerminationNoticeIssueDate: null
                    ExecutedDate: null
                    Currency: USD
                    ContractDurationDays: null
                    ContractedDays: null
                Warnings: null
                Errors: null
        '400':
          description: A required value is missing from the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/incoming-requests:
    post:
      tags:
      - Contract Request
      summary: Get incoming contract requests
      description: 'Retrieves contract requests that are pending approval and assigned to the current user or their groups.

        Supports filtering, sorting, and pagination through the CustomQuery parameter.'
      requestBody:
        description: Optional query parameters for filtering, sorting, and pagination
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns the incoming contract requests assigned to the current user or their groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    Name: Reviewer
                    Description: Team is responsible to review the associated contract
                    Action:
                    - SendforReview
                    IsActive: true
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2026-08-14T00:01:42.7609129Z'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2026-08-14T00:01:42.7609133Z'
                    ExternalId: null
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: The query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/query:
    post:
      tags:
      - Contract Request
      summary: Get contract request records
      description: Executes the query request against the contract request records and returns the matching records.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns the contract requests that match the provided query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractRequestQueryResponseQueryResponseAPIResponse'
        '400':
          description: The query is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/{contractRequestId}/convert:
    post:
      tags:
      - Contract Request
      summary: Convert a contract request to an agreement
      description: 'Converts a contract request into an agreement in CLM.

        Optionally processes DAI (Document AI) on copied documents when useDai is true and worksheetId is provided.'
      parameters:
      - name: contractRequestId
        in: path
        description: ID of the contract request to be converted (route parameter).
        required: true
        schema:
          type: string
      - name: useDai
        in: query
        description: Optional query parameter indicating whether to process DAI on the copied documents.
        schema:
          type: boolean
      - name: worksheetId
        in: query
        description: Optional query parameter specifying the worksheet to use for DAI processing when useDai is true.
        schema:
          type: string
      responses:
        '200':
          description: Returns the details of the created agreement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertToContractResponseAPIResponse'
        '400':
          description: The provided contract request ID is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/{id}:
    delete:
      tags:
      - Contract Request
      summary: Delete a contract request
      description: Deletes the contract request permanently from the system for the provided contract ID.
      parameters:
      - name: id
        in: path
        description: ID of the contract request to be deleted
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns confirmation that the contract request is deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
              example:
                Success: true
                Data: true
                Warnings: null
                Errors: null
        '400':
          description: The provided contract request ID is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    get:
      tags:
      - Contract Request
      summary: Get the contract request details
      description: Fetches the contract request details for the provided contract request ID
      parameters:
      - name: id
        in: path
        description: ID of the contract request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the contract request details for the provided contract request ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractRequestResponseAPIResponse'
              example:
                Success: true
                Data:
                  RequestHeader:
                    Description: Sales Contract
                    RecordType: MSA
                    Status: InProgress
                    Requester:
                      Id: 12b774ff-ea07-42f6-8ea4-3395612694fc
                      Name: User1
                    Id: 7676dbf6-1e6d-4304-a755-3e554490e503
                    Name: Sales Contract
                    CreatedBy:
                      Id: e3c86329-09b0-499e-940c-34c4eab60fce
                      Name: User1
                    CreatedDate: '2026-08-14T00:01:42.6618884+00:00'
                    ModifiedBy:
                      Id: 86f34e05-9846-45b4-b947-c42268f401fe
                      Name: User1
                    ModifiedDate: '2026-08-14T00:01:42.6619149+00:00'
                    ExternalId: null
                    ETag: null
                  RequestDetails:
                    Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2026-08-14T00:01:42.6619501Z'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2026-08-14T00:01:42.6619503Z'
                    ContractRequest:
                      Id: efdf505c-7299-4f07-85af-465b9e470d01
                      Name: user
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    InitiationType: null
                    InternalRenewalNotificationDays: null
                    InternalRenewalStartDate: null
                    ParentContract: null
                    Perpetual: null
                    PrimaryContact: null
                    RemainingContractedDays: null
                    RenewalNoticeDate: null
                    RenewalNoticeDays: null
                    RetentionDate: null
                    RetentionPolicyId: null
                    Source: null
                    SpecialTerms: null
                    SubmitRequestMode: null
                    TerminationComments: null
                    TerminationDate: null
                    TerminationNoticeDays: null
                    TerminationNoticeIssueDate: null
                    ExecutedDate: null
                    Currency: USD
                    ContractDurationDays: null
                    ContractedDays: null
                Warnings: null
                Errors: null
        '400':
          description: The provided contract request ID is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    put:
      tags:
      - Contract Request
      summary: Update a contract request record
      description: "Updates a contract request record for the provided contract ID in CLM.\n\nThe required fields to update a contract request record are: \n* Name \n* Account \n* RecordType"
      parameters:
      - name: id
        in: path
        description: ID of the contract request to be updated
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ContractRequest
              RecordType: MSA
              Requester: null
              Description: ''
              Account:
                Id: fa0d532c-2ce1-4599-873c-0af8079b4f43
                Name: Account
              Supplier: null
              ContractCategory: Sales
              Paper: null
      responses:
        '200':
          description: Returns the updated contract request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractRequestResponseAPIResponse'
              example:
                Success: true
                Data:
                  RequestHeader:
                    Description: Sales Contract
                    RecordType: MSA
                    Status: InProgress
                    Requester:
                      Id: 2deb058d-3df1-493c-add1-cea3f6cfc36a
                      Name: User1
                    Id: bf584b12-fd0c-468f-bd05-4d46d92b5f33
                    Name: Sales Contract
                    CreatedBy:
                      Id: b3664a3f-0af1-4d82-a9ad-684a0dbd5a12
                      Name: User1
                    CreatedDate: '2026-08-14T00:01:42.6713043+00:00'
                    ModifiedBy:
                      Id: c63db630-bfe7-4717-94ea-be4324b32c21
                      Name: User1
                    ModifiedDate: '2026-08-14T00:01:42.6713148+00:00'
                    ExternalId: null
                    ETag: null
                  RequestDetails:
                    Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2026-08-14T00:01:42.6713205Z'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2026-08-14T00:01:42.6713207Z'
                    ContractRequest:
                      Id: efdf505c-7299-4f07-85af-465b9e470d01
                      Name: user
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    InitiationType: null
                    InternalRenewalNotificationDays: null
                    InternalRenewalStartDate: null
                    ParentContract: null
                    Perpetual: null
                    PrimaryContact: null
                    RemainingContractedDays: null
                    RenewalNoticeDate: null
                    RenewalNoticeDays: null
                    RetentionDate: null
                    RetentionPolicyId: null
                    Source: null
                    SpecialTerms: null
                    SubmitRequestMode: null
                    TerminationComments: null
                    TerminationDate: null
                    TerminationNoticeDays: null
                    TerminationNoticeIssueDate: null
                    ExecutedDate: null
                    Currency: USD
                    ContractDurationDays: null
                    ContractedDays: null
                Warnings: null
                Errors: null
        '400':
          description: Provided contract ID is not valid or the required values are not provided in the request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/{id}/action-eligibility:
    get:
      tags:
      - Contract Request
      summary: Get a user's contract request authority
      description: Checks if the current user has the permissions and role to approve, reject, or convert for a given contract, based on the user role (for example, Approver, contract Manager), association with the contract request (e.g., creator, owner, submitter), and the contract request's current status.
      parameters:
      - name: id
        in: path
        description: A 36-character UUID that uniquely identifies the contract request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the user's eligibility details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractRequestActionEligibilityResponseAPIResponse'
        '400':
          description: Invalid contract request ID or contract request details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/requests/{id}/documents:
    delete:
      tags:
      - Contract Request
      summary: Delete documents by contract request ID
      description: Deletes one or more documents associated with a specific contract request. You can provide a list of document IDs to delete specific documents, or omit the list to delete all documents linked to the contract request. The API permanently removes the document data while retaining the metadata with the "IsDeleted" flag set to true. The API returns a confirmation of the deletion status.
      parameters:
      - name: id
        in: path
        description: ID of the contract request
        required: true
        schema:
          type: string
      requestBody:
        description: IDs of the documents to be deleted
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Returns confirmation that the documents are deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
              example:
                Success: true
                Data: true
                Warnings: null
                Errors: null
        '400':
          description: Provided contract request ID or document ID is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    get:
      tags:
      - Contract Request
      summary: Get a contract request's related documents metadata
      description: Fetches all the related documents for the provided contract ID.
      parameters:
      - name: id
        in: path
        description: ID of the contract request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the list of contract request's related documents metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentWrapperListAPIResponse'
        '400':
          description: Provided contract request ID is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    post:
      tags:
      - Contract Request
      summary: Upload documents to a contract request
      description: Uploads documents to a contract request record.
      parameters:
      - name: id
        in: path
        description: ID of the contract request
        required: true
        schema:
          type: string
      requestBody:
        description: File binary data
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                documentAttributes:
                  type: object
                  additionalProperties: {}
            example:
              Name: Reviewer
              Description: Team is responsible to review the associated contract
              Action:
              - SendForReview
              IsActive: true
            encoding:
              file:
                style: form
              documentAttributes:
                style: form
      responses:
        '200':
          description: Returns confirmation that the document is uploaded to a contract request.
        '400':
          description: The contract ID, document ID, or file data is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
components:
  schemas:
    ConvertToContractResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ConvertToContractResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    ConvertToContractResponse:
      type: object
      properties:
        Contract:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Gets or sets the saved agreement data.
        DaiProcessingSucceeded:
          type: boolean
          description: 'Indicates whether DAI document processing succeeded.

            `true` when DAI succeeded; `false` when DAI was not requested or was requested but failed.'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: 'Error details populated when Conga.Contracts.Model.Response.ConvertToContractResponse.DaiProcessingSucceeded is `false`.

            Null when there are no errors.'
      additionalProperties: false
      description: Represents the result of converting a contract request to an agreement.
    ContractRequest:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
          description: Description for Contract Request
        RecordType:
          type:
          - string
          - 'null'
          description: Record Type
        Status:
          type:
          - string
          - 'null'
          description: Cntract Request Status
        Requester:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      description: Model for Contract Request
    StringObjectDictionaryQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type: boolean
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - string
          - 'null'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Error Class
    ContractRequestActionEligibilityResponse:
      type: object
      properties:
        CanConvert:
          type: boolean
          description: Indicates if the contract request can be approved and converted to a contract.
        CanApprove:
          type: boolean
          description: Indicates if the contract request can be approved.
        CanReject:
          type: boolean
          description: Indicates if the contract request can be rejected.
        CanCancel:
          type: boolean
          description: Indicates if the contract request can be canceled.
        CanWithdraw:
          type: boolean
          description: Indicates if the contract request can be withdrawn.
        CanSubmit:
          type: boolean
          description: Indicates if the contract request can be Submitted.
        CanSaveAsDraft:
          type: boolean
          description: Indicates if the contract request can be saved as draft.
      additionalProperties: false
      description: Represents the eligibility of a contract request for various actions.
    ContractRequestQueryResponseQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ContractRequestQueryResponse'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContractRequestQueryResponseQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ContractRequestQueryResponseQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    DocumentWrapper:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        DocumentMetadata:
          $ref: '#/components/schemas/DocumentMetadata'
        BlobData:
          type:
          - string
          - 'null'
          description: Actual document as a blob (byte array)
          format: byte
        RelationshipType:
          type:
          - string
          - 'null'
          description: Relationship Type
      additionalProperties: {}
      description: Document Wrapper to add Relationship type
    ContractRequestActionEligibilityResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ContractRequestActionEligibilityResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    SortInfo:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Field name on which records will be sorted
        Direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
      description: Sorting Information for Fields
    ContractRequestResponse:
      type: object
      properties:
        RequestHeader:
          $ref: '#/components/schemas/ContractRequest'
        RequestDetails:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Contract request details
      additionalProperties: false
      description: Response Model for Contract Request
    CustomQuery:
      type: object
      properties:
        Limit:
          type:
          - integer
          - 'null'
          description: Number of the records to be fetched
          format: int32
        Skip:
          type:
          - integer
          - 'null'
          description: Number of the records to be skipped
          format: int32
        SortInfo:
          $ref: '#/components/schemas/SortInfo'
        CriteriaExpression:
          type:
          - string
          - 'null'
          description: Criteria Expression to filter the records
        Distinct:
          type: boolean
          description: Whether to fetch only distinct records
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of fields to be fetched
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Group Field name if the result to be grouped
        IncludeTotalCount:
          type: boolean
          description: Whether to include total count in the query response. Defaults to true.
      additionalProperties: false
      description: Custom Query
    DocumentWrapperListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentWrapper'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContractRequestQueryResponse:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Id of the Contract Request
        Name:
          type:
          - string
          - 'null'
          description: Name of the Contract Request
        Description:
          type:
          - string
          - 'null'
          description: Description for Contract Request
        RecordType:
          type:
          - string
          - 'null'
          description: Record Type
        Status:
          type:
          - string
          - 'null'
          description: Cntract Request Status
        Requester:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          description: Created Date and Time
          format: date-time
        ModifiedDate:
          type: string
          description: Modified Date and Time
          format: date-time
        ContractId:
          type:
          - string
          - 'null'
          description: Id of the associated Contract
        ContractName:
          type:
          - string
          - 'null'
          description: Name of the associated Contract
      additionalProperties: false
    DocumentMetadata:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Extension:
          type:
          - string
          - 'null'
        Tags:
          type:
          - string
          - 'null'
        ObjectType:
          type:
          - string
          - 'null'
        ObjectId:
          type:
          - string
          - 'null'
        DocumentId:
          type:
          - string
          - 'null'
        DocumentVersion:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
        CheckoutBy:
          type:
          - string
          - 'null'
        CheckoutDate:
          type: string
          format: date-time
        FileSize:
          type: integer
          format: int64
        FileType:
          type:
          - string
          - 'null'
        IsLatest:
          type: boolean
        IsSearchable:
          type:
          - boolean
          - 'null'
      additionalProperties: {}
    StringObjectDictionaryQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/StringObjectDictionaryQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    ContractRequestResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ContractRequestResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
