openapi: 3.2.0
info:
  title: ExternalEndpointConfiguration External Endpoint Configuration API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: External Endpoint Configuration
paths:
  /api/external-endpoint-config/v1/endpoints:
    get:
      tags:
      - External Endpoint Configuration
      summary: Retrieve all endpoint configurations
      description: Retrieves all stored authentication configurations used to connect to external service endpoints.
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
    post:
      tags:
      - External Endpoint Configuration
      summary: Create endpoint configuration
      description: Creates a new external endpoint configuration by defining its URL, HTTP method, headers, parameters, request/response metadata, and linked authentication.
      requestBody:
        description: The external endpoint configuration request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalEndpointConfigurationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateExternalEndpointConfigurationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateExternalEndpointConfigurationRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
  /api/external-endpoint-config/v1/endpoints/validate:
    post:
      tags:
      - External Endpoint Configuration
      summary: Validate external endpoint schema
      description: Validates the request and response metadata of an external endpoint against the expected JSON schema to ensure correct structure before execution.
      requestBody:
        description: The external endpoint metadata request to validate.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpEndpointMetadataRequest'
            example:
              RequestBody:
                Name: Record1
                Id: 123
                Account:
                  Name: Conga
              ResponseBody:
                Success: true
                Data:
                  Id: f5e5857a-d27a-42b6-8291-874b158e5f87
          text/json:
            schema:
              $ref: '#/components/schemas/HttpEndpointMetadataRequest'
            example:
              RequestBody:
                Name: Record1
                Id: 123
                Account:
                  Name: Conga
              ResponseBody:
                Success: true
                Data:
                  Id: f5e5857a-d27a-42b6-8291-874b158e5f87
          application/*+json:
            schema:
              $ref: '#/components/schemas/HttpEndpointMetadataRequest'
            example:
              RequestBody:
                Name: Record1
                Id: 123
                Account:
                  Name: Conga
              ResponseBody:
                Success: true
                Data:
                  Id: f5e5857a-d27a-42b6-8291-874b158e5f87
      responses:
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
  /api/external-endpoint-config/v1/endpoints/{id}:
    delete:
      tags:
      - External Endpoint Configuration
      summary: Delete endpoint configuration
      description: Deletes the specified external endpoint configuration and its stored authentication details.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the external endpoint configuration to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
    get:
      tags:
      - External Endpoint Configuration
      summary: Retrieve endpoint configuration
      description: Fetches the stored authentication details and configuration of an external service endpoint using its unique identifier, including URL, method, headers, and linked authentication.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the external endpoint configuration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ExternalEndpointConfigurationAPIResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
    put:
      tags:
      - External Endpoint Configuration
      summary: Update endpoint configuration
      description: Updates the settings of a configured endpoint, such as changing the Salesforce API version, modifying the HTTP method, or adjusting headers and parameters.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the external endpoint configuration to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated configuration details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalEndpointConfigurationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalEndpointConfigurationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateExternalEndpointConfigurationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
components:
  schemas:
    ParameterDataType:
      enum:
      - String
      - Identifier
      - Boolean
      - Int
      - Double
      - Decimal
      - DateTime
      type: string
    CreateExternalEndpointConfigurationRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        EndpointAuthConfigName:
          type:
          - string
          - 'null'
        URL:
          type:
          - string
          - 'null'
        Method:
          $ref: '#/components/schemas/HttpVerb'
        RequestHeaders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        QueryParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        RouteParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        RequestBodyMetadata:
          $ref: '#/components/schemas/JsonSchemaNode'
        ResponseBodyMetadata:
          $ref: '#/components/schemas/JsonSchemaNode'
      additionalProperties: false
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type: boolean
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ExternalEndpointConfigurationAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/ExternalEndpointConfiguration'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ExternalEndpointConfigurationInfoListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExternalEndpointConfigurationInfo'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ExternalEndpointConfigurationInfo:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        EndpointAuthConfigName:
          type:
          - string
          - 'null'
        URL:
          type:
          - string
          - 'null'
        Method:
          $ref: '#/components/schemas/HttpVerb'
        IsCollectionOutput:
          type: boolean
        OutputDataType:
          $ref: '#/components/schemas/JsonDataType'
      additionalProperties: false
    Parameter:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        ParameterDataType:
          $ref: '#/components/schemas/ParameterDataType'
        Value: {}
        IsRequired:
          type: boolean
      additionalProperties: false
    ExternalEndpointConfiguration:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        EndpointAuthConfigName:
          type:
          - string
          - 'null'
        URL:
          type:
          - string
          - 'null'
        Method:
          $ref: '#/components/schemas/HttpVerb'
        RequestHeaders:
          type:
          - string
          - 'null'
        QueryParameters:
          type:
          - string
          - 'null'
        RouteParameters:
          type:
          - string
          - 'null'
        RequestBodyMetadata:
          type:
          - string
          - 'null'
        ResponseBodyMetadata:
          type:
          - string
          - 'null'
        IsCollectionOutput:
          type: boolean
        OutputDataType:
          $ref: '#/components/schemas/JsonDataType'
      additionalProperties: {}
    HttpEndpointMetadataRequest:
      type: object
      properties:
        RequestBody: {}
        ResponseBody: {}
      additionalProperties: false
    JsonDataType:
      enum:
      - String
      - Identifier
      - Boolean
      - Int
      - Double
      - Decimal
      - DateTime
      - Object
      - Array
      type: string
    UpdateExternalEndpointConfigurationRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        EndpointAuthConfigName:
          type:
          - string
          - 'null'
        URL:
          type:
          - string
          - 'null'
        Method:
          $ref: '#/components/schemas/HttpVerb'
        RequestHeaders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        QueryParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        RouteParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Parameter'
        RequestBodyMetadata:
          $ref: '#/components/schemas/JsonSchemaNode'
        ResponseBodyMetadata:
          $ref: '#/components/schemas/JsonSchemaNode'
        Id:
          type:
          - string
          - 'null'
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    JsonSchemaNode:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Type:
          $ref: '#/components/schemas/JsonDataType'
        Properties:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/JsonSchemaNode'
        Items:
          $ref: '#/components/schemas/JsonSchemaNode'
        Example: {}
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpVerb:
      enum:
      - Get
      - Put
      - Post
      - Patch
      - Delete
      type: string
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
