openapi: 3.2.0
info:
  title: X-Author Alternate Clause API
  version: v1
  description: This class contains API endpoints for alternate clauses related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AlternateClause
  description: This class contains API endpoints for alternate clauses related operations.
paths:
  /api/xauthor/v1/clauses/{clauseId}/alternates/link:
    post:
      tags:
      - AlternateClause
      summary: Link alternate clauses
      description: 'Links alternate clauses to a clause configuration. Alternate clause IDs are passed in the the alternate clause mapping''s clause-ranking order.

        The clauseConfigurationId parameter is optional.'
      parameters:
      - name: clauseId
        in: path
        description: Clause ID associated with a clause version
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Clause ID associated with a clause version
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing clauseConfigurationId and list of alternate clauses
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/{clauseId}/alternates/{alternateclausemappingId}:
    delete:
      tags:
      - AlternateClause
      summary: Unlink alternate clauses
      description: Unlinks alternate clauses from a clause configuration.
      parameters:
      - name: alternateclausemappingId
        in: path
        description: Alternate clause-mapping ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Alternate clause-mapping ID
      - name: clauseId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/{clauseId}/configurations/{configurationId}/alternates/re-order:
    post:
      tags:
      - AlternateClause
      summary: Reorder alternate clauses
      description: Reorder clause configuration's alternate clauses
      parameters:
      - name: clauseId
        in: path
        description: Clause ID associated with clause version
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Clause ID associated with clause version
      - name: configurationId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing clauseConfigurationId and List of alternate clauses
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Core.Model.AlternateClauseMappingRequest:
      type: object
      properties:
        clauseConfigurationId:
          type:
          - string
          - 'null'
        alternateClauseIds:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
