openapi: 3.2.0
info:
  title: Conga Sign Account Attachments Blacklist API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountAttachmentsBlacklist
paths:
  /v1/cs-account/admin/accountSettings/attachmentsBlacklist:
    get:
      tags:
      - AccountAttachmentsBlacklist
      summary: Retrieves a list of blacklisted attachment types.
      description: "An attachment blacklist is a list of file types that a signer cannot upload to a transaction. \nFor example, .exe files may be blacklisted, meaning that a signer cannot attach an .exe file \nto the transaction.\n\nReturns a list of blocked file extensions (e.g., \"EXE\", \"DLL\", \"MSI\", \"DMG\", \"SO\").\n\nNote: This endpoint is READ-ONLY. The blacklist is managed by OneSpan system administrators \nand cannot be modified via the API."
      operationId: AccountAttachmentsBlacklist_GetAccountAttachmentsBlacklist
      responses:
        '200':
          description: OK - Returns list of blacklisted file extensions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWT: []
components:
  schemas:
    Error:
      type: object
      additionalProperties: false
      properties:
        message:
          type:
          - string
          - 'null'
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
