openapi: 3.2.0
info:
  title: Administration Incentive Limits API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Incentive Limits
paths:
  /incentives/{ParentId}/limits:
    delete:
      tags:
      - Incentive Limits
      summary: Delete incentive limits
      description: Deletes one or more incentive limits from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of incentive limits to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Limits
      summary: Retrieve incentive limits
      description: Retrieves a collection of incentive limits based on the parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Limits
      summary: Update incentive limits
      description: Updates one or more incentive limits in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: IncentiveLimitName
              Benefit: null
              LimitAppliesTo: Account
              LimitAppliesToValueSource: null
              LimitMetric: Benefit Quantity
              LimitValue: 2
              LimitValueSource: null
              RecurrenceFrequency: null
              RecurrenceType: One Time
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Incentive Limits
      summary: Create incentive limits
      description: Adds one or more incentive limits to the collection. The parent incentive is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of incentive limits to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveLimit'
      responses:
        '200':
          description: OK
  /incentives/{ParentId}/limits/{Id}:
    delete:
      tags:
      - Incentive Limits
      summary: Delete an incentive limit
      description: Deletes a single incentive limit document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive limit
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Limits
      summary: Retrieve an incentive limit
      description: Retrieves a single incentive limit document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive limit
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Limits
      summary: Update an incentive limit
      description: Updates a single incentive limit document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive limit
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the incentive limit
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: IncentiveLimitName
              Benefit: null
              LimitAppliesTo: Account
              LimitAppliesToValueSource: null
              LimitMetric: Benefit Quantity
              LimitValue: 2
              LimitValueSource: null
              RecurrenceFrequency: null
              RecurrenceType: One Time
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    IncentiveLimit:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Benefit:
          $ref: '#/components/schemas/LookupObject'
        Incentive:
          $ref: '#/components/schemas/LookupObject'
        LimitAppliesTo:
          type:
          - string
          - 'null'
        LimitAppliesToValueSource:
          type:
          - string
          - 'null'
        LimitMetric:
          type:
          - string
          - 'null'
        LimitValue:
          type:
          - number
          - 'null'
          format: double
        LimitValueSource:
          type:
          - string
          - 'null'
        RecurrenceFrequency:
          type:
          - string
          - 'null'
        RecurrenceType:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: IncentiveLimitName
        Benefit: null
        LimitAppliesTo: Account
        LimitAppliesToValueSource: null
        LimitMetric: Benefit Quantity
        LimitValue: 2
        LimitValueSource: null
        RecurrenceFrequency: null
        RecurrenceType: One Time
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
