openapi: 3.2.0
info:
  title: Administration Related Incentives API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Related Incentives
paths:
  /incentives/{ParentId}/related-incentives:
    delete:
      tags:
      - Related Incentives
      summary: Delete related incentives
      description: Deletes one or more related incentives from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Related Incentives
      summary: Retrieve related incentives
      description: Retrieves a collection of related incentives based on the parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Related Incentives
      summary: Update related incentives
      description: Updates one or more related incentives in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              FromIncentive:
                Id: FromIncentive-Id
                Name: FromIncentive-Name
              ToIncentive:
                Id: ToIncentive-Id
                Name: ToIncentive-Name
              RelationType: Is Amended By
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Related Incentives
      summary: Create related incentives
      description: Creates one or more related incentives to the collection. The parent incentive is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The list of related incentives to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedIncentive'
      responses:
        '200':
          description: OK
  /incentives/{ParentId}/related-incentives/{Id}:
    delete:
      tags:
      - Related Incentives
      summary: Delete related incentive
      description: Deletes a single related incentive document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related incentive
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Related Incentives
      summary: Retrieve a related incentive
      description: Retrieves a single related incentive document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related incentive
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Related Incentives
      summary: Update a related incentive
      description: Updates a single related incentive document based on the identifier and parent incentive.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related incentive
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the related incentive
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              FromIncentive:
                Id: FromIncentive-Id
                Name: FromIncentive-Name
              ToIncentive:
                Id: ToIncentive-Id
                Name: ToIncentive-Name
              RelationType: Is Amended By
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    RelatedIncentive:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        FromIncentive:
          $ref: '#/components/schemas/LookupObject'
        RelationType:
          type:
          - string
          - 'null'
        ToIncentive:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      example:
        Name: Name of the record
        FromIncentive:
          Id: FromIncentive-Id
          Name: FromIncentive-Name
        ToIncentive:
          Id: ToIncentive-Id
          Name: ToIncentive-Name
        RelationType: Is Amended By
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
