openapi: 3.2.0
info:
  title: Conga Incentives API
  version: '1.0'
  description: 'Operations tagged Incentives across 2 of this provider''s published API definitions: conga-administration.json, conga-cart-v1.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Incentives
paths:
  /incentives:
    delete:
      tags:
      - Incentives
      summary: Delete incentives
      description: Deletes multiple incentives.
      requestBody:
        description: The list of incentives to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentives
      summary: Retrieve incentives
      description: Retrieves the collection of incentives.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentives
      summary: Update incentives
      description: Updates multiple incentives.
      requestBody:
        description: The list of incentives with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: IncentiveName
              AccountScope:
              - All
              AccountScopeOper: in
              AccountTypeScope:
              - All
              AccountTypeScopeOper: in
              IsActive: true
              AmendmentEffectiveDate: null
              Ancestor: null
              ApplicationMethod: Buy X Get X
              AutoApply: true
              BenefitUom: null
              CombineWithOtherIncentives: false
              ContextType: Line Item
              CountryScope:
              - All
              CountryScopeOper: in
              CycleEndDate: null
              CycleStartDate: null
              Description: Incentive description
              Downgrade: null
              EffectiveDate: '2022-10-10'
              EnableBenefitEffectivityDates: false
              ExcludeChildrenWithActivePrograms: false
              ExpirationDate: '2023-10-10'
              IncentiveCode: null
              IncentiveGroup: null
              IncentiveNumber: null
              IncentiveNumberAuto: null
              IncentiveNumberText: null
              IncludeOrdersForAccountHierarchy: false
              IsBundle: false
              Loyalty: null
              MaxPoints: null
              OriginalEffectiveDate: null
              PointAccrualLevel: null
              PriceListScope:
              - All
              PriceListScopeOper: in
              ProductFamilyScope:
              - All
              ProductFamilyScopeOper: in
              ProductGroupScope:
              - All
              ProductGroupScopeOper: in
              ProductScope:
              - All
              ProductScopeOper: in
              RecurrenceFrequency: null
              RegionScope:
              - All
              RegionScopeOper: in
              RenewalEffectiveDate: null
              SearchField: null
              Sequence: 1
              Status: New
              StopProcessingMoreIncentives: false
              SubUseType: Point Accrual
              Upgrade: null
              UseType: Promotion
              VersionNumber: null
              Criteria: null
              ExclusionCriteria: null
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Incentives
      summary: Create incentives
      description: Creates multiple incentives.
      requestBody:
        description: The list of incentives to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /incentives/{Id}:
    delete:
      tags:
      - Incentives
      summary: Delete an incentive
      description: Deletes a single incentive by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the incentive to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentives
      summary: Retrieve an incentive
      description: Retrieves a single incentive by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the incentive
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Incentive'
            application/json:
              schema:
                $ref: '#/components/schemas/Incentive'
            text/json:
              schema:
                $ref: '#/components/schemas/Incentive'
        '204':
          description: No Content
    patch:
      tags:
      - Incentives
      summary: Update an incentive
      description: Updates a single incentive.
      parameters:
      - name: Id
        in: path
        description: The identifier of the incentive to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the incentive
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: IncentiveName
              AccountScope:
              - All
              AccountScopeOper: in
              AccountTypeScope:
              - All
              AccountTypeScopeOper: in
              IsActive: true
              AmendmentEffectiveDate: null
              Ancestor: null
              ApplicationMethod: Buy X Get X
              AutoApply: true
              BenefitUom: null
              CombineWithOtherIncentives: false
              ContextType: Line Item
              CountryScope:
              - All
              CountryScopeOper: in
              CycleEndDate: null
              CycleStartDate: null
              Description: Incentive description
              Downgrade: null
              EffectiveDate: '2022-10-10'
              EnableBenefitEffectivityDates: false
              ExcludeChildrenWithActivePrograms: false
              ExpirationDate: '2023-10-10'
              IncentiveCode: null
              IncentiveGroup: null
              IncentiveNumber: null
              IncentiveNumberAuto: null
              IncentiveNumberText: null
              IncludeOrdersForAccountHierarchy: false
              IsBundle: false
              Loyalty: null
              MaxPoints: null
              OriginalEffectiveDate: null
              PointAccrualLevel: null
              PriceListScope:
              - All
              PriceListScopeOper: in
              ProductFamilyScope:
              - All
              ProductFamilyScopeOper: in
              ProductGroupScope:
              - All
              ProductGroupScopeOper: in
              ProductScope:
              - All
              ProductScopeOper: in
              RecurrenceFrequency: null
              RegionScope:
              - All
              RegionScopeOper: in
              RenewalEffectiveDate: null
              SearchField: null
              Sequence: 1
              Status: New
              StopProcessingMoreIncentives: false
              SubUseType: Point Accrual
              Upgrade: null
              UseType: Promotion
              VersionNumber: null
              Criteria: null
              ExclusionCriteria: null
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /api/cart/v1/carts/{cartId}/incentives:
    delete:
      tags:
      - Incentives
      summary: Delete an incentive
      description: Removes an incentive from a cart.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    get:
      tags:
      - Incentives
      summary: Get an incentive
      description: Retrieves an incentive from a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Add conditional filters in standard URI format to narrow search results.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
    patch:
      tags:
      - Incentives
      summary: Update an incentive
      description: Updates an incentive on a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    post:
      tags:
      - Incentives
      summary: Add an incentive
      description: Applies a new incentive to a cart.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The incentive
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.IncentiveModel'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    servers:
    - url: https://rls.congacloud.com
components:
  schemas:
    Incentive:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AccountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountScopeOper:
          type:
          - string
          - 'null'
        AccountTypeScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountTypeScopeOper:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        AmendmentEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        Ancestor:
          $ref: '#/components/schemas/LookupObject'
        ApplicationMethod:
          type:
          - string
          - 'null'
        AutoApply:
          type:
          - boolean
          - 'null'
        BenefitUom:
          type:
          - string
          - 'null'
        CascadeBenefitsForBundles:
          type:
          - boolean
          - 'null'
        CombineWithOtherIncentives:
          type:
          - boolean
          - 'null'
        ContextType:
          type:
          - string
          - 'null'
        CountryScope:
          type:
          - array
          - 'null'
          items:
            type: string
        CountryScopeOper:
          type:
          - string
          - 'null'
        CycleEndDate:
          type:
          - string
          - 'null'
          format: date-time
        CycleStartDate:
          type:
          - string
          - 'null'
          format: date-time
        Description:
          type:
          - string
          - 'null'
        Downgrade:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EnableBenefitEffectivityDates:
          type:
          - boolean
          - 'null'
        ExcludeChildrenWithActivePrograms:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        IncentiveCode:
          type:
          - string
          - 'null'
        IncentiveGroup:
          $ref: '#/components/schemas/LookupObject'
        IncentiveProgram:
          $ref: '#/components/schemas/LookupObject'
        IncentiveNumber:
          type:
          - string
          - 'null'
        IncentiveNumberAuto:
          type:
          - string
          - 'null'
        IncentiveNumberText:
          type:
          - string
          - 'null'
        IncludeOrdersForAccountHierarchy:
          type:
          - boolean
          - 'null'
        IsBundle:
          type:
          - boolean
          - 'null'
        Loyalty:
          $ref: '#/components/schemas/LookupObject'
        MaxPoints:
          type:
          - number
          - 'null'
          format: double
        OriginalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        PointAccrualLevel:
          type:
          - string
          - 'null'
        PriceListScope:
          type:
          - array
          - 'null'
          items:
            type: string
        PriceListScopeOper:
          type:
          - string
          - 'null'
        ProductFamilyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamilyScopeOper:
          type:
          - string
          - 'null'
        ProductGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductGroupScopeOper:
          type:
          - string
          - 'null'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductScopeOper:
          type:
          - string
          - 'null'
        RecurrenceFrequency:
          type:
          - string
          - 'null'
        RegionScope:
          type:
          - array
          - 'null'
          items:
            type: string
        RegionScopeOper:
          type:
          - string
          - 'null'
        RenewalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        SearchField:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        EnableCurrency:
          type:
          - boolean
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Status:
          type:
          - string
          - 'null'
        StopProcessingMoreIncentives:
          type:
          - boolean
          - 'null'
        SubUseType:
          type:
          - string
          - 'null'
        Upgrade:
          type:
          - string
          - 'null'
        UseType:
          type:
          - string
          - 'null'
        VersionNumber:
          type:
          - number
          - 'null'
          format: double
        Criteria:
          type:
          - string
          - 'null'
        ExclusionCriteria:
          type:
          - string
          - 'null'
        AdhocGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        IncentiveConditionExpression:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: IncentiveName
        AccountScope:
        - All
        AccountScopeOper: in
        AccountTypeScope:
        - All
        AccountTypeScopeOper: in
        IsActive: true
        AmendmentEffectiveDate: null
        Ancestor: null
        ApplicationMethod: Buy X Get X
        AutoApply: true
        BenefitUom: null
        CombineWithOtherIncentives: false
        ContextType: Line Item
        CountryScope:
        - All
        CountryScopeOper: in
        CycleEndDate: null
        CycleStartDate: null
        Description: Incentive description
        Downgrade: null
        EffectiveDate: '2022-10-10'
        EnableBenefitEffectivityDates: false
        ExcludeChildrenWithActivePrograms: false
        ExpirationDate: '2023-10-10'
        IncentiveCode: null
        IncentiveGroup: null
        IncentiveNumber: null
        IncentiveNumberAuto: null
        IncentiveNumberText: null
        IncludeOrdersForAccountHierarchy: false
        IsBundle: false
        Loyalty: null
        MaxPoints: null
        OriginalEffectiveDate: null
        PointAccrualLevel: null
        PriceListScope:
        - All
        PriceListScopeOper: in
        ProductFamilyScope:
        - All
        ProductFamilyScopeOper: in
        ProductGroupScope:
        - All
        ProductGroupScopeOper: in
        ProductScope:
        - All
        ProductScopeOper: in
        RecurrenceFrequency: null
        RegionScope:
        - All
        RegionScopeOper: in
        RenewalEffectiveDate: null
        SearchField: null
        Sequence: 1
        Status: New
        StopProcessingMoreIncentives: false
        SubUseType: Point Accrual
        Upgrade: null
        UseType: Promotion
        VersionNumber: null
        Criteria: null
        ExclusionCriteria: null
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Cart.Manager.Model.IncentiveModel:
      type: object
      properties:
        codes:
          type:
          - array
          - 'null'
          items:
            type: string
        ids:
          type:
          - array
          - 'null'
          items:
            type: string
        summaryGroups:
          type: boolean
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- conga-administration.json
- conga-cart-v1.json
