openapi: 3.2.0
info:
  title: Administration Incentive Rule Entries API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Incentive Rule Entries
paths:
  /incentive-rules/{ParentId}/entries:
    delete:
      tags:
      - Incentive Rule Entries
      summary: Delete incentive rule entries
      description: Deletes one or more incentive rule entries from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Rule Entries
      summary: Retrieve incentive rule entries
      description: Retrieves a collection of incentive rule entries based on the parent incentive rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Rule Entries
      summary: Update incentive rule entries
      description: Updates one or more incentive rule entries in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: IncentiveRuleEntryName
              AdjustmentAmount: 50
              AdjustmentAmountSource: null
              AdjustmentReason: null
              AdjustmentType: '% Discount'
              AdjustmentUom: null
              AdjustmentValueSource: null
              AdjustmentValueType: Constant
              ChargeTypes: null
              Condition: null
              Dimension1ListValue: null
              Dimension1Value: null
              Dimension2ListValue: null
              Dimension2Value: null
              Dimension3ListValue: null
              Dimension3Value: null
              Dimension4ListValue: null
              Dimension4Value: null
              Dimension5ListValue: null
              Dimension5Value: null
              Dimension6ListValue: null
              Dimension6Value: null
              InclusionMethod: null
              LoyaltyLevel: null
              PeriodEndDate: null
              PeriodStartDate: null
              PriceOverride: null
              ProductCategory: null
              ProductFamilies: null
              ProductFamily: Software
              ProductGroup: null
              ProductGroups: null
              Products: null
              ProductsOper: null
              Quantity: null
              Currency: USD
              TierMetricTypeEntry: USD
              Sequence: 1
              AdjustmentSource: null
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Incentive Rule Entries
      summary: Create incentive rule entries
      description: Adds one or more incentive rule entries to the collection. The parent incentive rule is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of incentive rule entries to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveRuleEntry'
      responses:
        '200':
          description: OK
  /incentive-rules/{ParentId}/entries/{Id}:
    delete:
      tags:
      - Incentive Rule Entries
      summary: Delete an incentive rule entry
      description: Deletes a single incentive rule entry document based on the identifier and parent incentive rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Rule Entries
      summary: Retrieve an incentive rule entry
      description: Retrieves a single incentive rule entry document based on the identifier and parent incentive rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Rule Entries
      summary: Update an incentive rule entry
      description: Updates a single incentive rule entry document based on the identifier and parent incentive rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent incentive rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive rule entry
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the incentive rule entry
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: IncentiveRuleEntryName
              AdjustmentAmount: 50
              AdjustmentAmountSource: null
              AdjustmentReason: null
              AdjustmentType: '% Discount'
              AdjustmentUom: null
              AdjustmentValueSource: null
              AdjustmentValueType: Constant
              ChargeTypes: null
              Condition: null
              Dimension1ListValue: null
              Dimension1Value: null
              Dimension2ListValue: null
              Dimension2Value: null
              Dimension3ListValue: null
              Dimension3Value: null
              Dimension4ListValue: null
              Dimension4Value: null
              Dimension5ListValue: null
              Dimension5Value: null
              Dimension6ListValue: null
              Dimension6Value: null
              InclusionMethod: null
              LoyaltyLevel: null
              PeriodEndDate: null
              PeriodStartDate: null
              PriceOverride: null
              ProductCategory: null
              ProductFamilies: null
              ProductFamily: Software
              ProductGroup: null
              ProductGroups: null
              Products: null
              ProductsOper: null
              Quantity: null
              Currency: USD
              TierMetricTypeEntry: USD
              Sequence: 1
              AdjustmentSource: null
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    IncentiveRuleEntry:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentAmountSource:
          $ref: '#/components/schemas/LookupObject'
        AdjustmentReason:
          type:
          - string
          - 'null'
        AdjustmentType:
          type:
          - string
          - 'null'
        AdjustmentUom:
          type:
          - string
          - 'null'
        AdjustmentValueSource:
          type:
          - string
          - 'null'
        AdjustmentValueType:
          type:
          - string
          - 'null'
        ChargeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        Condition:
          type:
          - string
          - 'null'
        Dimension1ListValue:
          type:
          - string
          - 'null'
        Dimension1Value:
          type:
          - string
          - 'null'
        Dimension2ListValue:
          type:
          - string
          - 'null'
        Dimension2Value:
          type:
          - string
          - 'null'
        Dimension3ListValue:
          type:
          - string
          - 'null'
        Dimension3Value:
          type:
          - string
          - 'null'
        Dimension4ListValue:
          type:
          - string
          - 'null'
        Dimension4Value:
          type:
          - string
          - 'null'
        Dimension5ListValue:
          type:
          - string
          - 'null'
        Dimension5Value:
          type:
          - string
          - 'null'
        Dimension6ListValue:
          type:
          - string
          - 'null'
        Dimension6Value:
          type:
          - string
          - 'null'
        InclusionMethod:
          type:
          - string
          - 'null'
        LoyaltyLevel:
          type:
          - string
          - 'null'
        PeriodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        PeriodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        PriceOverride:
          $ref: '#/components/schemas/CurrencyField'
        IncentiveRule:
          $ref: '#/components/schemas/LookupObject'
        ProductCategory:
          type:
          - string
          - 'null'
        ProductFamilies:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamily:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        ProductGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        Products:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductsOper:
          type:
          - string
          - 'null'
        Quantity:
          type:
          - number
          - 'null'
          format: double
        Sequence:
          type:
          - number
          - 'null'
          format: double
        TierMetricTypeEntry:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        AdjustmentSource:
          type:
          - string
          - 'null'
        AdhocGroups:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: {}
      example:
        Name: IncentiveRuleEntryName
        AdjustmentAmount: 50
        AdjustmentAmountSource: null
        AdjustmentReason: null
        AdjustmentType: '% Discount'
        AdjustmentUom: null
        AdjustmentValueSource: null
        AdjustmentValueType: Constant
        ChargeTypes: null
        Condition: null
        Dimension1ListValue: null
        Dimension1Value: null
        Dimension2ListValue: null
        Dimension2Value: null
        Dimension3ListValue: null
        Dimension3Value: null
        Dimension4ListValue: null
        Dimension4Value: null
        Dimension5ListValue: null
        Dimension5Value: null
        Dimension6ListValue: null
        Dimension6Value: null
        InclusionMethod: null
        LoyaltyLevel: null
        PeriodEndDate: null
        PeriodStartDate: null
        PriceOverride: null
        ProductCategory: null
        ProductFamilies: null
        ProductFamily: Software
        ProductGroup: null
        ProductGroups: null
        Products: null
        ProductsOper: null
        Quantity: null
        Currency: USD
        TierMetricTypeEntry: USD
        Sequence: 1
        AdjustmentSource: null
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
