openapi: 3.2.0
info:
  title: Administration Waterfall Rule Entry API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: WaterfallRuleEntry
paths:
  /waterfall-rules/{ParentId}/entries:
    delete:
      tags:
      - WaterfallRuleEntry
      summary: Delete waterfall rule entries
      description: 'Deletes one or more waterfall rule entries from a specific waterfall rule of type condition or dimension.



        When executed, this API returns one or more records with the delete status of each associated record ID.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
      responses:
        '200':
          description: OK
    get:
      tags:
      - WaterfallRuleEntry
      summary: Retrieve waterfall rule entries
      description: 'Retrieves all waterfall rule entries in a waterfall rule, with their details. Use query parameters to further narrow down the retrieved results.


        When executed, this API returns all waterfall rule entries in a waterfall rule.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - WaterfallRuleEntry
      summary: Update waterfall rule entries
      description: 'Updates specific fields on one or more waterfall rule entries. It can update any fields except waterfall rule entry ID.



        When executed, this API returns the updated waterfall rule entry or waterfall rule entries.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Sequence: 1
              WaterfallRule:
                Id: WaterFallRule-Id
                Name: WaterFallRule-Name
              AdjustmentType: '% Discount'
              AdjustmentAmount: 100
              Dimension1Value: 3af14e4a-d597-417e-b14e-e001fae5bdec
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - WaterfallRuleEntry
      summary: Create waterfall rule entries
      description: 'Ccreates one or more waterfall rule entries. It can create a maximum of 100 waterfall rule entries for a particular waterfall rule.


        When executed, this API returns a unique waterfall rule entry ID (string) that CPQ automatically generates.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of waterfall rule entries to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleEntry'
      responses:
        '200':
          description: OK
  /waterfall-rules/{ParentId}/entries/{Id}:
    delete:
      tags:
      - WaterfallRuleEntry
      summary: Delete a waterfall rule entry
      description: Deletes a single waterfall rule entry document based on the identifier and parent waterfall rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - WaterfallRuleEntry
      summary: Retrieve a waterfall rule entry
      description: Retrieves a single waterfall rule entry document based on the identifier and parent waterfall rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - WaterfallRuleEntry
      summary: Update a waterfall rule entry
      description: Updates a single waterfall rule entry document based on the identifier and parent waterfall rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall rule entry
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the waterfall rule entry
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Sequence: 1
              WaterfallRule:
                Id: WaterFallRule-Id
                Name: WaterFallRule-Name
              AdjustmentType: '% Discount'
              AdjustmentAmount: 100
              Dimension1Value: 3af14e4a-d597-417e-b14e-e001fae5bdec
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    WaterfallRuleEntry:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentAmountSource:
          $ref: '#/components/schemas/LookupObject'
        AdjustmentReason:
          type:
          - string
          - 'null'
        AdjustmentType:
          type:
          - string
          - 'null'
        AdjustmentUom:
          type:
          - string
          - 'null'
        AdjustmentValueSource:
          type:
          - string
          - 'null'
        AdjustmentValueType:
          type:
          - string
          - 'null'
        BandSize:
          type:
          - number
          - 'null'
          format: double
        ChargeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        Condition:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Dimension1ListValue:
          type:
          - string
          - 'null'
        Dimension1Value:
          type:
          - string
          - 'null'
        Dimension2ListValue:
          type:
          - string
          - 'null'
        Dimension2Value:
          type:
          - string
          - 'null'
        Dimension3ListValue:
          type:
          - string
          - 'null'
        Dimension3Value:
          type:
          - string
          - 'null'
        Dimension4ListValue:
          type:
          - string
          - 'null'
        Dimension4Value:
          type:
          - string
          - 'null'
        Dimension5ListValue:
          type:
          - string
          - 'null'
        Dimension5Value:
          type:
          - string
          - 'null'
        Dimension6ListValue:
          type:
          - string
          - 'null'
        Dimension6Value:
          type:
          - string
          - 'null'
        EndFactor:
          type:
          - number
          - 'null'
          format: double
        MatchInAsset:
          type:
          - boolean
          - 'null'
        MatchProductGroup:
          $ref: '#/components/schemas/LookupObject'
        MaxProducts:
          type:
          - number
          - 'null'
          format: double
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MinProducts:
          type:
          - number
          - 'null'
          format: double
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        PeriodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        PeriodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        PriceOverride:
          $ref: '#/components/schemas/CurrencyField'
        ProductCategory:
          type:
          - string
          - 'null'
        ProductFamilies:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamily:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        ProductGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        Products:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductsOper:
          type:
          - string
          - 'null'
        Quantity:
          type:
          - number
          - 'null'
          format: double
        Sequence:
          type:
          - number
          - 'null'
          format: double
        StartFactor:
          type:
          - number
          - 'null'
          format: double
        Term:
          type:
          - number
          - 'null'
          format: double
        TermPeriodStart:
          type:
          - string
          - 'null'
        UniqueSequenceKey:
          type:
          - string
          - 'null'
        WaterfallRule:
          $ref: '#/components/schemas/LookupObject'
        AdjustmentSource:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Sequence: 1
        WaterfallRule:
          Id: WaterFallRule-Id
          Name: WaterFallRule-Name
        AdjustmentType: '% Discount'
        AdjustmentAmount: 100
        Dimension1Value: 3af14e4a-d597-417e-b14e-e001fae5bdec
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
