openapi: 3.2.0
info:
  title: Conga Documents API
  version: '1.0'
  description: 'Operations tagged Documents across 3 of this provider''s published API definitions: conga-conga-sign.json, conga-document-management.json, conga-ingress.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com/api/sign
- url: https://rls.congacloud.com
- url: https://rls.congacloud.com/api/ingress
tags:
- name: Documents
paths:
  /v1/cs-packages/{packageId}/documents:
    post:
      tags:
      - Documents
      summary: Add a new document to an existing package
      description: Adds a new document to an existing package by using a document resource.
      operationId: Documents_CreateDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                File:
                  type:
                  - string
                  - 'null'
                  format: binary
                Payload:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    delete:
      tags:
      - Documents
      summary: Delete multiple documents from a package
      description: Deletes multiple documents, identified by their documentID, from a specified package.
      operationId: Documents_DeleteDocuments
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: documentIds
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-position: 2
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - Documents
      summary: Update documents
      description: Updates the documents in a package. For example, to re-order them.
      operationId: Documents_UpdateDocuments
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: documents
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Document'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/all-documents/zip:
    get:
      tags:
      - Documents
      summary: Retrieve zipped file containing all documents including supporting documents
      description: 'Retrieves a zipped file that contains both signable documents and Supporting Documents.

        This differs from the /zip endpoint which only returns signable documents.'
      operationId: Documents_GetAllDocumentsZip
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: flatten
        in: query
        description: Flatten the pdf.
        schema:
          type: boolean
          default: false
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/signConfirm:
    post:
      tags:
      - Documents
      summary: Create a signature confirmation
      description: Confirms that the application can execute the signing process on the document.
      operationId: Documents_CreateSignatureConfirmation
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedDocument'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/signed_documents:
    post:
      tags:
      - Documents
      summary: Sign all documents in a package
      description: Signs all documents in a specified package.
      operationId: Documents_SignAllDocuments
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: documents
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignedDocuments'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignedDocuments'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/visibility:
    get:
      tags:
      - Documents
      summary: Retrieve document visibility information
      description: Retrieves information about which recipients can view specific documents in a package during a Signing Ceremony.
      operationId: Documents_GetDocumentVisibility
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentVisibilityConfiguration'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - Documents
      summary: Update document visibility
      description: 'Retrieves information about which recipients can view specific documents in a package during a Signing Ceremony.

        The response is a Document Visibility object that contains a list of configurations. Each configuration has:

        (1) the Document ID of a specific document; (2) a list of Role IDs of the signers who can view the document.

        Note that: Documents not in the Document Visibility object are visible to all recipients. The Package Owner can

        always see all documents in the package, regardless of its Document Visibility configuration.'
      operationId: Documents_UpdateDocumentsVisibility
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentVisibility'
        required: true
        x-position: 2
      responses:
        '204':
          description: No Content
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/zip:
    get:
      tags:
      - Documents
      summary: Retrieve zipped documents
      description: Retrieves a zipped file that contains all documents that were added to the package.
      operationId: Documents_GetZip
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: flatten
        in: query
        description: Flatten the pdf.
        schema:
          type: boolean
          default: false
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}:
    delete:
      tags:
      - Documents
      summary: Delete a document from a package
      description: Deletes a document from a specified package.
      operationId: Documents_DeleteDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Documents
      summary: Retrieve the specified document
      description: 'Retrieves all information related to a given document, including ID, name, description, presentation index,

        any associated data elements, approvals and fields.'
      operationId: Documents_GetDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - Documents
      summary: Update a document
      description: Updates a single, specified document. This endpoint accepts multi-part data, or the JSON structure of a document.
      operationId: Documents_UpdateDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - Documents
      summary: Update the specified document
      description: Updates the specified document.
      operationId: Documents_UpdateDocumentPut
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Document'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/fields:
    put:
      tags:
      - Documents
      summary: Replace approvals and imprint fields for a document
      description: 'Replaces approvals and imprint fields with those provided in the request.

        - If an array is not provided then nothing will be updated for that field type.

        - If an empty array is provided then all fields of that type will be deleted.

        - Only the editable imprint fields will be replaced.'
      operationId: Documents_ReplaceDocumentFields
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: documentFields
        description: Arrays of approvals and imprint fields to replace.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentFields'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentFields'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/layout:
    post:
      tags:
      - Documents
      summary: Apply a layout to a document
      description: Applies a specific layout to a specified document. At least one parameter needs to be applied, either layoutID, or layoutName.
      operationId: Documents_ApplyLayoutToDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      - name: layoutId
        in: query
        description: The unique layout id.
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: layoutName
        in: query
        description: The unique layout name.
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: removeOutOfBound
        in: query
        description: 'Default value : false'
        schema:
          type: boolean
          default: false
        x-position: 5
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/metadata:
    put:
      tags:
      - Documents
      summary: Update document custom metadata
      description: 'Updates the document custom metadata by overriding it with those in the payload.

        Internal metadata defined by OneSpan cannot be updated and will be ignored if included in the payload.


        Metadata is stored as key-value pairs where keys are strings and values can be any JSON-serializable type.'
      operationId: Documents_UpdateDocumentMetadata
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: metadata
        description: Document metadata as key-value pairs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/original:
    get:
      tags:
      - Documents
      summary: Retrieve an original PDF document
      description: Retrieves the original PDF document that was included in a package.
      operationId: Documents_GetOriginalDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/pages/{index}:
    get:
      tags:
      - Documents
      summary: Retrieve a page
      description: Retrieves the document page you specify, returning it as a .png image file.
      operationId: Documents_GetDocumentPageByIndex
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      - name: index
        in: path
        required: true
        description: The page index.
        schema:
          type: integer
          format: int32
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-packages/{packageId}/documents/{documentId}/pdf:
    get:
      tags:
      - Documents
      summary: Retrieve a specific document in PDF form
      description: 'Retrieves a specific document. This function always returns the PDF version of the document,

        even if the document was originally submitted in a different format.'
      operationId: Documents_GetPdfDocument
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package id.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: The unique document id.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /api/document-management/v1/documents:
    delete:
      tags:
      - Documents
      summary: Delete documents by their IDs
      description: Deletes multiple documents and returns the status of the request.
      requestBody:
        description: List of document IDs
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data:
                  IsDeleted: true
                  Message: d985ea31-57b8-497a-94e3-f775318a52a0,9476257e-d42b-45b4-8643-1f08fb60f1cf deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    post:
      tags:
      - Documents
      summary: Upload documents
      description: 'Uploads multiple documents and returns a list of metadata for each document. The following file extentions are supported: *.doc,.docx,.pdf,.zip,.png,.rtf,.txt,.jpg,.jpeg,.msg,.xls,.xlsx*'
      parameters:
      - name: objectType
        in: query
        description: Object name
        schema:
          type: string
      - name: objectId
        in: query
        description: Object ID
        schema:
          type: string
      - name: description
        in: query
        description: Description
        schema:
          type: string
      - name: checkoutBy
        in: query
        description: Checkedout by information
        schema:
          type: string
      - name: checkoutDate
        in: query
        description: Checkedout date
        schema:
          type: string
      - name: tags
        in: query
        description: Tags available for documents
        schema:
          type: array
          items:
            type: string
      - name: isSearchable
        in: query
        description: Indicates whether the document is searchable or not
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                customProperties:
                  type: object
                  additionalProperties: {}
            encoding:
              files:
                style: form
              customProperties:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataListAPIResponse'
              example:
                Success: true
                Data:
                - Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: c8dcc5ae-3e5b-428b-a402-deb88772b30f
                  DocumentId: b117de29-1fc9-4a8b-aed6-c6b79bf42ce6
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: 558ddf99-7644-4206-98cf-43e738741978
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:36.9668947+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:36.966904+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/bulk:
    get:
      tags:
      - Documents
      summary: Get documents by their IDs
      description: Retrieves multiple documents by document ID.
      parameters:
      - name: documentId
        in: query
        description: List of string values of the documentIds
        schema:
          type: array
          items:
            type: string
      - name: ignoreInvalidIds
        in: query
        description: List of string values of the documentIds
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseListAPIResponse'
              example:
                Success: true
                Data:
                - DocumentMetadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: aa03b67d-f622-4b3e-8757-5996361e7ca9
                    DocumentId: 29850b74-7599-4adb-86aa-200c84db8d2a
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: bf663ebd-e4a2-4588-a2d7-b3346e8a505d
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.0726532+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.0726614+00:00'
                    ExternalId: null
                    ETag: null
                  BlobData: UEFO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/multipart-uploads:
    post:
      tags:
      - Documents
      summary: Initiate a multipart upload
      description: Initiates multipart upload and returns the upload ID, key, and document metadata.
      requestBody:
        description: Document request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DocumentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocumentRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitMultipartUploadResponseAPIResponse'
              example:
                Success: true
                Data:
                  UploadId: '7162'
                  Key: '1465'
                  Metadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: 4df07ca1-8760-40a6-af5e-06be37fc4ee9
                    DocumentId: 5d88cf57-5cf8-4f2e-accc-52881a15671e
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: 818170e0-5d93-40e4-b6d3-86ee37141c14
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.0032968+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.003305+00:00'
                    ExternalId: null
                    ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/objects/{objectId}:
    get:
      tags:
      - Documents
      summary: Get documents by object ID and file type
      description: Retrieves documents by passing file type and object ID as inputs.
      parameters:
      - name: objectId
        in: path
        description: Object ID
        required: true
        schema:
          type: string
      - name: fileType
        in: query
        description: Type of the file
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseListAPIResponse'
              example:
                Success: true
                Data:
                - DocumentMetadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: ea84fc4e-9a9f-4866-9307-0d43f6a259bf
                    DocumentId: cfe2a764-6777-4e0b-aef5-95ccd0d34397
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: 2bd9b387-f1fd-4f4a-bd6d-82da2cc23bf1
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.1140056+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.114024+00:00'
                    ExternalId: null
                    ETag: null
                  BlobData: UEFO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/objects/{objectType}/{objectId}:
    delete:
      tags:
      - Documents
      summary: Delete documents by object type and ID
      description: Deletes documents by object type and object ID.
      parameters:
      - name: objectType
        in: path
        description: Object name
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: Object ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data:
                  IsDeleted: true
                  Message: Documents associated to 1fa0765b-91a0-4e4f-bafe-e22437a806f2 are deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    get:
      tags:
      - Documents
      summary: Get documents by object type and ID
      description: Retrieves documents by passing the object type and object ID as inputs
      parameters:
      - name: objectId
        in: path
        description: Object ID
        required: true
        schema:
          type: string
      - name: objectType
        in: path
        description: Object name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseListAPIResponse'
              example:
                Success: true
                Data:
                - DocumentMetadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: 0be937b4-8ef6-439c-9cc3-6fc83709f714
                    DocumentId: 1c9a1621-fd22-4641-8beb-3de9a71e8dc9
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: 4557ad2b-3dc6-46f6-9447-3aecb8434e87
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.088088+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.0880963+00:00'
                    ExternalId: null
                    ETag: null
                  BlobData: UEFO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/objects/{objectType}/{objectId}/versions:
    get:
      tags:
      - Documents
      summary: Get version details by object type and ID
      description: Retrieves document version details by passing the object type and object ID as inputs.
      parameters:
      - name: objectId
        in: path
        description: Object ID
        required: true
        schema:
          type: string
      - name: objectType
        in: path
        description: Object name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataListAPIResponse'
              example:
                Success: true
                Data:
                - Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: 106a9c5d-df68-42a2-8900-5faa9704913e
                  DocumentId: c4fc8c35-a5bf-4ce1-b758-08ece31e711d
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: 731368d1-e09f-4439-bae4-cd690010f487
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.0915395+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.0915485+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/search:
    post:
      tags:
      - Documents
      summary: Search documents using advanced query parameters
      description: Searches for documents using the provided query parameters and returns matching document metadata.
      parameters:
      - name: includeTotalCount
        in: query
        description: Optional parameter for specifying whether the total record count should be included in the response.
        schema:
          type: boolean
          default: false
      requestBody:
        description: Query parameters for document searching.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentQuery'
          text/json:
            schema:
              $ref: '#/components/schemas/DocumentQuery'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocumentQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataListAPIResponse'
              example:
                Success: true
                Data:
                - Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: 20f5b9d9-93e0-4120-be49-4e6b893a7856
                  DocumentId: 01e4ef5f-db79-479b-bbb9-a0c6f854bc09
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: 2480c9a1-870d-48aa-bfaa-de957b4d5a7e
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.1107967+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.1108046+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/upload:
    post:
      tags:
      - Documents
      summary: Upload a single document
      description: 'Uploads a single document and returns the document''s metadata. The following file extentions are supported: *.doc,.docx,.pdf,.zip,.png,.rtf,.txt,.jpg,.jpeg,.msg,.xls,.xlsx*'
      parameters:
      - name: objectType
        in: query
        description: Object name
        schema:
          type: string
      - name: objectId
        in: query
        description: Object ID
        schema:
          type: string
      - name: newVersionId
        in: query
        description: ID of the new document version
        schema:
          type: string
      - name: description
        in: query
        description: Description
        schema:
          type: string
      - name: checkoutBy
        in: query
        description: Checkedout by details
        schema:
          type: string
      - name: checkoutDate
        in: query
        description: Checkedout date
        schema:
          type: string
      - name: tags
        in: query
        description: Tags available for the document
        schema:
          type: array
          items:
            type: string
      - name: documentId
        in: query
        description: Document ID
        schema:
          type: string
      - name: isSearchable
        in: query
        description: Indicates whether the document is searchable or not
        schema:
          type: boolean
          default: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                customProperties:
                  type: object
                  additionalProperties: {}
            encoding:
              file:
                style: form
              customProperties:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: eb028509-f9ba-43d0-b2cb-e56135a3628e
                  DocumentId: e187f8c2-d775-4ffe-b171-6b60589a9d59
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: dabbc6d7-9c99-4922-b6b6-7a10f073eeb4
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:36.98699+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:36.9869984+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}:
    delete:
      tags:
      - Documents
      summary: Delete a document by its ID
      description: Deletes a document and returns the status of the request.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      - name: hardDelete
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data:
                  IsDeleted: true
                  Message: 12f6e292-d07f-42a5-8680-ecaa5b600fe3 deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    put:
      tags:
      - Documents
      summary: Update a document
      description: Updates a document and returns the updated document's metadata.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      - name: newVersionId
        in: query
        description: ID of the new document version
        schema:
          type: string
      - name: description
        in: query
        description: Description
        schema:
          type: string
      - name: checkoutBy
        in: query
        description: Checkedout by details
        schema:
          type: string
      - name: checkoutDate
        in: query
        description: Checkedout date
        schema:
          type: string
      - name: isSearchable
        in: query
        description: Indicates whether the document is searchable
        schema:
          type: boolean
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                customProperties:
                  type: object
                  additionalProperties: {}
            encoding:
              file:
                style: form
              customProperties:
                style: form
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: 29ea5a9c-52de-4269-a1c7-7dc36dae99cd
                  DocumentId: 0b5acffc-571b-48a2-a77a-1400318cf002
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: 0b0e116e-c4a9-4b7d-a685-eb546c3e6861
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.0352186+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.0352268+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/clone:
    post:
      tags:
      - Documents
      summary: Clone a document
      description: Clones the document described by the document ID.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: 2c6860b3-f5ac-47f4-921b-57f1d2610ffb
                  DocumentId: ba798000-baf6-4143-bbbd-ec33c8a4f0b8
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: ab11fb27-9584-4af1-9165-7020dd27fac4
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.0945997+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.0946081+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/exists:
    get:
      tags:
      - Documents
      summary: Check a document
      description: Checks whether the given document (documentId) exists.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/metadata:
    get:
      tags:
      - Documents
      summary: Get a document's metadata by its ID
      description: Retrieves the document metadata by passing a document ID as an input.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: 1c7c957a-fc8d-4bf3-bb0e-2c24809ddfcc
                  DocumentId: 95a11e37-a026-47d7-a7d8-0c7f57d805ed
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: efe82415-5c76-40ac-9963-a94258065dbd
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.049965+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.0499733+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    put:
      tags:
      - Documents
      summary: Update the document metadata information for all versions
      description: Updates the document metadata information for all versions and returns the status of the request.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      requestBody:
        description: Metadata of the document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentMetadataUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DocumentMetadataUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DocumentMetadataUpdateRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/multipart-uploads:
    delete:
      tags:
      - Documents
      summary: Abort a multipart upload
      description: Aborts an incomplete multipart upload, deletes the metadata and version associated with it, and returns the status of the request.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      requestBody:
        description: Multipart upload data request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipartUploadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/MultipartUploadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MultipartUploadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: Multipart upload aborted successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    post:
      tags:
      - Documents
      summary: Complete multipart upload
      description: Completes multipart upload by combining single uploaded parts and returns the status of the request.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      requestBody:
        description: Multipart upload data request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteMultipartUploadRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CompleteMultipartUploadRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CompleteMultipartUploadRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: Multipart upload completed successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    put:
      tags:
      - Documents
      summary: Upload a single part of a large file
      description: Uploads a single part of a large file and returns the Etag and part number.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: The key that identifies the file location. It is defined in the multipart initiate response.
        schema:
          type: string
      - name: uploadId
        in: query
        description: Upload ID. It is defined in the multipart initiate response.
        schema:
          type: string
      - name: partNumber
        in: query
        description: A part number uniquely identifies a part and its position in the object you are uploading.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPartResponseAPIResponse'
              example:
                Success: true
                Data:
                  ETag: '16562'
                  PartNumber: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/versions:
    get:
      tags:
      - Documents
      summary: Retrieve document versions
      description: Retrieves document versions by passing a document ID as an input.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentMetadataListAPIResponse'
              example:
                Success: true
                Data:
                - Description: Desc
                  Extension: .txt
                  Tags: ''
                  ObjectType: Agreement
                  ObjectId: c2f6d533-5db5-45f4-993a-bd9f3e1b6b7e
                  DocumentId: 744727cb-7f3d-4594-9feb-3e9a39b6b474
                  DocumentVersion: 1
                  IsDeleted: false
                  CheckoutBy: ''
                  CheckoutDate: '2022-01-01T00:00:00'
                  FileSize: 100
                  FileType: text/plain
                  IsLatest: true
                  IsSearchable: true
                  Id: 3c96e607-44ab-4afc-85b7-bcf67e132780
                  Name: Doc1.txt
                  CreatedBy:
                    Id: ''
                    Name: ''
                  CreatedDate: '2026-07-27T11:13:37.099533+00:00'
                  ModifiedBy:
                    Id: ''
                    Name: ''
                  ModifiedDate: '2026-07-27T11:13:37.0995415+00:00'
                  ExternalId: null
                  ETag: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{documentId}/versions/{versionId}:
    delete:
      tags:
      - Documents
      summary: Delete a versioned document
      description: Deletes a document version by passing the document ID and version ID as inputs.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        description: Document version ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data:
                  IsDeleted: true
                  Message: ad22aac7-2221-46bd-8b3b-b1a516976ef8 deleted successfully.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    get:
      tags:
      - Documents
      summary: Get a document by its ID and version
      description: Takes the document ID and version ID as inputs and retrieves specific document version.
      parameters:
      - name: documentId
        in: path
        description: Document ID
        required: true
        schema:
          type: string
      - name: versionId
        in: path
        description: Document version ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseAPIResponse'
              example:
                Success: true
                Data:
                  DocumentMetadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: a1814de9-31a6-422a-816b-7d2c32724b73
                    DocumentId: ad4040a2-f6d6-4cc6-8bfe-b279a48da95c
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: c28debbf-a4a5-499a-8c86-c7a78db81b3e
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.1027739+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.1027821+00:00'
                    ExternalId: null
                    ETag: null
                  BlobData: UEFO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{id}:
    get:
      tags:
      - Documents
      summary: Get document information by its ID
      description: Uses the version ID to retrieve a document's metadata.
      parameters:
      - name: id
        in: path
        description: Version ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponseAPIResponse'
              example:
                Success: true
                Data:
                  DocumentMetadata:
                    Description: Desc
                    Extension: .txt
                    Tags: ''
                    ObjectType: Agreement
                    ObjectId: 81d9630f-db70-40ba-b44e-7fdbfdeab08e
                    DocumentId: 1b61b927-b033-4381-955c-83257ef41b38
                    DocumentVersion: 1
                    IsDeleted: false
                    CheckoutBy: ''
                    CheckoutDate: '2022-01-01T00:00:00'
                    FileSize: 100
                    FileType: text/plain
                    IsLatest: true
                    IsSearchable: true
                    Id: c4beb4dd-f87d-4782-b072-06ee4631d8ea
                    Name: Doc1.txt
                    CreatedBy:
                      Id: ''
                      Name: ''
                    CreatedDate: '2026-07-27T11:13:37.0590432+00:00'
                    ModifiedBy:
                      Id: ''
                      Name: ''
                    ModifiedDate: '2026-07-27T11:13:37.0590518+00:00'
                    ExternalId: null
                    ETag: null
                  BlobData: UEFO
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: OrganizationFriendlyId is not defined.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /api/document-management/v1/documents/{id}/download:
    get:
      tags:
      - Documents
      summary: Get a document by its ID
      description: Downloads a document by ID.
      parameters:
      - name: id
        in: path
        description: Version ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Id not provided.
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
      security:
      - Bearer: []
    servers:
    - url: https://rls.congacloud.com
  /v2/documents/convert:
    post:
      tags:
      - Documents
      summary: Convert documents' format
      description: "Converts one or more passed documents from one format to another.\nThe generated documents can be delivered to one or more destinations.\n            \nEXAMPLE I: Convert a batch of Word documents to PDF.\n            \n    Request:\n            \n    POST /documents/convert\n    {\n        \"documents\": [\n            {\n                \"id\": \"420326c7-aaa4-4598-a072-48e8cbbe442d\"\n            },\n            {\n                \"id\": \"b04393b5-16c2-4364-9ea3-a3d3c38453e1\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }"
      operationId: Documents_Convert
      parameters:
      - name: request
        in: query
        description: Convert request
        schema:
          $ref: '#/components/schemas/ConvertRequest'
        x-position: 1
      responses:
        '200':
          description: Returns the job request ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocGenWorkflowAsyncResponse'
        '400':
          description: The passed request is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResponse'
        '401':
          description: The token is missing or the user lacks permission to perform the action.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocGenWorkflowAsyncResponse'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/ingress
  /v2/documents/generate:
    post:
      tags:
      - Documents
      summary: Generate a document from merge templates and data sources
      description: "Generates a document by merging one or more templates with data collected from multiple sources.\n            \nEXAMPLE I: Merging a single XAuthor template with data fetched from Conga Platform and generating a PDF document as output.\n            \n    Request:\n            \n    POST /documents/generate\n    {\n        \"data\": [\n            {\n                \"entityId\": \"3ff0e051-d655-451d-abb5-a71b202cb935\",\n                \"entityName\": \"Agreement\"\n            }\n        ],\n        \"templates\": [\n            {\n                \"id\": \"79d97cc6-933b-4f2f-95b6-a64d3349f3ac\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1, // 0 -> DOCX     1 -> PDF\n            \"fileName\": \"OutputDocument\"\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }\n            \nEXAMPLE II: Merging a single XAuthor template with inline data passed in the request and generating a PDF.\n            \n    Request:\n            \n    POST /documents/generate\n    {\n        \"data\": [\n            {\n                \"entityId\": \"ffe71825-6212-4438-866e-b0a7785d9e0d\",\n                \"entityName\": \"ProductConfiguration\",\n                \"Data\": \"[{\\\"ObjectName\\\":\\\"ProductConfiguration\\\",\\\"Result\\\":[{\\\"Id\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\",\\\"Name\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\"}]},{\\\"ObjectName\\\":\\\"LineItem\\\",\\\"Result\\\":[{\\\"Id\\\":\\\"553dc3ad-4a9a-4eb2-960e-7bb2b19e0727\\\",\\\"Name\\\":\\\"Conga Water Bottle\\\",\\\"Description\\\":\\\"Stay hydrated on the ice-cold tears of your competition.\\\",\\\"Quantity\\\":1,\\\"Product\\\":{\\\"Id\\\":\\\"9b319b18-1916-4858-b4e8-4ee2b55f83e5\\\",\\\"Name\\\":\\\"Conga Water Bottle\\\",\\\"Description\\\":null},\\\"Configuration\\\":{\\\"Id\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\",\\\"Name\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\"}}]}]\"\n            }\n        ],\n        \"templates\": [\n            {\n                \"id\": \"950039fe-3ca3-49be-ba89-6d8999083a28\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1,\n            \"fileName\": \"OutputDocument\"\n        }\n    }"
      operationId: Documents_Generate
      parameters:
      - name: request
        in: query
        description: Merge request
        schema:
          $ref: '#/components/schemas/MergeRequest'
        x-position: 1
      responses:
        '200':
          description: Returns the job request ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocGenWorkflowAsyncResponse'
        '400':
          description: The passed request is invalid.
          content:
[...]
