openapi: 3.2.0
info:
  title: Conga Sign One Span URL API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: OneSpanUrl
paths:
  /v1/onespan/url:
    get:
      tags:
      - OneSpanUrl
      summary: Retrieves OneSpan BaseURL for different regions
      description: Retrieves OneSpan BaseURL for different regions
      operationId: OneSpanUrl_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfOneSpanURLResponse'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    ResultOfOneSpanURLResponse:
      type: object
      description: Object used to manage OneSpan list types
      additionalProperties: false
      properties:
        count:
          type: integer
          description: Count
          format: int32
        results:
          type: array
          description: Results
          items:
            $ref: '#/components/schemas/OneSpanURLResponse'
    OneSpanURLResponse:
      type: object
      additionalProperties: false
      properties:
        baseUrl:
          type: string
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
