openapi: 3.2.0
info:
  title: Administration Feature API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Feature
paths:
  /feature-sets/{ParentId}/features:
    delete:
      tags:
      - Feature
      summary: Delete features
      description: Deletes one or more features from the feature set collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      requestBody:
        description: The list of features to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Feature
      summary: Retrieve features
      description: Retrieves a collection of features based on the parent feature set.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Feature
      summary: Update features
      description: Updates one or more features in the feature set collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: FeatureName
              Description: Feature description
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Feature
      summary: Create features
      description: Adds one or more features to the feature set collection. The parent feature set is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      requestBody:
        description: The list of features to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
      responses:
        '200':
          description: OK
  /feature-sets/{ParentId}/features/{Id}:
    delete:
      tags:
      - Feature
      summary: Delete a feature
      description: Deletes a single feature document based on the identifier and parent feature set.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the feature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Feature
      summary: Retrieve a feature
      description: Retrieves a single feature document based on the identifier and parent feature set.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the feature
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Feature
      summary: Update a feature
      description: Updates a single feature document based on the identifier and parent feature set.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent feature set
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the feature
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the feature
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: FeatureName
              Description: Feature description
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    Feature:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        FeatureSet:
          $ref: '#/components/schemas/LookupObject'
        Description:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: FeatureName
        Description: Feature description
        Sequence: 1
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
