openapi: 3.2.0
info:
  title: Contracts Contract Clause API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Contract Clause
paths:
  /api/clm/v1/contracts/clauses/{contractClauseId}:
    get:
      tags:
      - Contract Clause
      summary: Get contract clause details
      description: Fetches contract clause details based on contract clause ID.
      parameters:
      - name: contractClauseId
        in: path
        description: ID of a clause available in CLM
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns contract clause details based on the clause ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                Data:
                - Id: 51c157c8-a45e-43b0-a5a1-df4cdc72a407
                  Name: Affiliate
                  Agreement: 4ae151a8-ba84-4e60-888e-86326c02d0db
                  Template:
                    Id: af72e569-9e65-4f97-a7c9-26466c02be51
                    Name: SP test Clause
                  Clause: Affiliate
                  Category: Default
                  Subcategory: Default
                  Text: Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).
                  Comments: Marked clause 'Property rights'
                  MateriallySignificant: false
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:41.7835349Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:41.7835351Z'
                Warnings: null
                Errors: null
        '400':
          description: The provided clause ID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/clause:
    post:
      tags:
      - Contract Clause
      summary: Create a new contract clause
      description: Creates a new contract clause for the specified contract.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract to associate the clause with
        required: true
        schema:
          type: string
      requestBody:
        description: The contract clause data to create
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Affiliate
              Agreement: 4ae151a8-ba84-4e60-888e-86326c02d0db
              Template:
                Id: af72e569-9e65-4f97-a7c9-26466c02be51
                Name: SP test Clause
              Clause: Affiliate
              Category: Default
              Subcategory: Default
              Text: Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).
              Comments: Marked clause 'Property rights'
              MateriallySignificant: false
      responses:
        '200':
          description: The contract clause was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  Id: 367c8df4-8772-485e-a915-979b06460800
                  Name: Test Obligation 1
                  ObligationType: Operational
                  Priority: High
                  Description: Test data
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                Warnings: null
                Errors: null
        '400':
          description: The request was invalid or the contract ID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: The specified contract was not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/clause/{contractClauseId}:
    put:
      tags:
      - Contract Clause
      summary: Update an existing contract clause
      description: Updates a contract clause with the provided data.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract associated with the clause
        required: true
        schema:
          type: string
      - name: contractClauseId
        in: path
        description: ID of the contract clause to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated contract clause data
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Affiliate
              Agreement: 4ae151a8-ba84-4e60-888e-86326c02d0db
              Template:
                Id: af72e569-9e65-4f97-a7c9-26466c02be51
                Name: SP test Clause
              Clause: Affiliate
              Category: Default
              Subcategory: Default
              Text: Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).
              Comments: Marked clause 'Property rights'
              MateriallySignificant: false
      responses:
        '200':
          description: The contract clause was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  Id: e39b09ff-deb4-485c-81ea-ca10657ac2f0
                  Name: Test Obligation 1
                  ObligationType: Operational
                  Priority: High
                  Description: Test data
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                Warnings: null
                Errors: null
        '400':
          description: The request was invalid or the contract clause ID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: The specified contract clause was not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/clauses:
    post:
      tags:
      - Contract Clause
      summary: Get all contract clauses
      description: 'Fetches all contract clauses and groups them by Clause and DocumentVersionId fields. This API also processes the contract clauses to return the most recent version of each clause along with the total number of versions for each clause.

        You can filter and sort the results by defining query parameters.'
      parameters:
      - name: contractId
        in: path
        description: ID of a contract
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to filter and sort the list of clauses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/clauses/bulk:
    delete:
      tags:
      - Contract Clause
      summary: Delete multiple contract clauses
      description: Deletes multiple clauses associated with the specified contract in a single request.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract associated with the clauses
        required: true
        schema:
          type: string
      requestBody:
        description: A list of contract clause IDs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: Returns the status of each deletion operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResultStatusDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  4ae151a8-ba84-4e60-888e-86326c02d0db: Success
                  af72e569-9e65-4f97-a7c9-26466c02be51: Fail
                Warnings: null
                Errors: null
        '400':
          description: The request was invalid, contains invalid IDs, or references clauses from different contracts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: One or more of the specified contract clauses were not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    post:
      tags:
      - Contract Clause
      summary: Create multiple clauses for a contract
      description: Creates multiple clauses for the specified contract in a single request.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract to associate the clauses with
        required: true
        schema:
          type: string
      requestBody:
        description: A list of contract clause data to create
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Affiliate
              Agreement: 4ae151a8-ba84-4e60-888e-86326c02d0db
              Template:
                Id: af72e569-9e65-4f97-a7c9-26466c02be51
                Name: SP test Clause
              Clause: Affiliate
              Category: Default
              Subcategory: Default
              Text: Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).
              Comments: Marked clause 'Property rights'
              MateriallySignificant: false
      responses:
        '200':
          description: The contract clauses were created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Contract-Demo
                  Account:
                    Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                    Name: Conga
                  RecordType: MSA
                  ContractCategory: Sales
                  TotalContractValue: 2000
                  ContractStartDate: '2023-01-01T00:00:00'
                  ContractEndDate: '2023-12-31T00:00:00'
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                  Status: Activated
                  StatusCategory: In Effect
                  Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:41.8170511Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:41.8170514Z'
                  ContractNumber: '42'
                  Currency: USD
                Warnings: null
                Errors: null
        '400':
          description: The request was invalid or the contract ID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: The specified contract was not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    put:
      tags:
      - Contract Clause
      summary: Update multiple clauses of a contract
      description: Updates multiple clauses of a contract with the provided data in a single request. Each clause in the request must include an ID field.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract associated with the clauses
        required: true
        schema:
          type: string
      requestBody:
        description: A list of contract clause data to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Affiliate
              Agreement: 4ae151a8-ba84-4e60-888e-86326c02d0db
              Template:
                Id: af72e569-9e65-4f97-a7c9-26466c02be51
                Name: SP test Clause
              Clause: Affiliate
              Category: Default
              Subcategory: Default
              Text: Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).
              Comments: Marked clause 'Property rights'
              MateriallySignificant: false
      responses:
        '200':
          description: The contract clauses were updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Contract-Demo
                  Account:
                    Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                    Name: Conga
                  RecordType: MSA
                  ContractCategory: Sales
                  TotalContractValue: 2000
                  ContractStartDate: '2023-01-01T00:00:00'
                  ContractEndDate: '2023-12-31T00:00:00'
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                  Status: Activated
                  StatusCategory: In Effect
                  Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:41.8243032Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:41.8243034Z'
                  ContractNumber: '42'
                  Currency: USD
                Warnings: null
                Errors: null
        '400':
          description: The request was invalid, contains invalid IDs, or references clauses from different contracts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: One or more of the specified contract clauses were not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/clauses/{contractClauseId}:
    delete:
      tags:
      - Contract Clause
      summary: Delete a contract clause
      description: Deletes the specified clause from the contract.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract associated with the clause
        required: true
        schema:
          type: string
      - name: contractClauseId
        in: path
        description: ID of the contract clause to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The contract clause was deleted successfully
        '400':
          description: The contract clause ID is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: The specified contract clause was not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
components:
  schemas:
    StringObjectDictionaryQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringObjectDictionaryListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - string
          - 'null'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Error Class
    StringObjectDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    CustomQuery:
      type: object
      properties:
        Limit:
          type:
          - integer
          - 'null'
          description: Number of the records to be fetched
          format: int32
        Skip:
          type:
          - integer
          - 'null'
          description: Number of the records to be skipped
          format: int32
        SortInfo:
          $ref: '#/components/schemas/SortInfo'
        CriteriaExpression:
          type:
          - string
          - 'null'
          description: Criteria Expression to filter the records
        Distinct:
          type: boolean
          description: Whether to fetch only distinct records
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of fields to be fetched
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Group Field name if the result to be grouped
        IncludeTotalCount:
          type: boolean
          description: Whether to include total count in the query response. Defaults to true.
      additionalProperties: false
      description: Custom Query
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    StringObjectDictionaryQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/StringObjectDictionaryQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    StringResultStatusDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    SortInfo:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Field name on which records will be sorted
        Direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
      description: Sorting Information for Fields
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
