openapi: 3.2.0
info:
  title: Review Sites API
  version: v1
  description: Review Site APIs
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: ReviewSites
  description: Review Site APIs
paths:
  /api/review/v1/office365/sites/{siteName}/validate:
    get:
      tags:
      - ReviewSites
      summary: Validate Sharepoint site
      description: Checks if the custom-created Sharepoint site is valid.
      parameters:
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type: string
      - name: ExternalToken
        in: header
        description: Token required to communicate with external review provider like Office365. (It's not required for Normal flow)
        required: true
        allowEmptyValue: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Review.Service.Application.Models.ValidateReviewSitesResponse:
      type: object
      properties:
        SiteId:
          type:
          - string
          - 'null'
        IsSiteValid:
          type: boolean
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
