openapi: 3.2.0
info:
  title: X-Author Document Metadata API
  version: v1
  description: This class contains API endpoints for document metadata.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DocumentMetadata
  description: This class contains API endpoints for document metadata.
paths:
  /api/xauthor/v1/documents/gdocs/{gdocFileId}/metadata:
    get:
      tags:
      - DocumentMetadata
      summary: Get V2 metadata JSON
      parameters:
      - name: gdocFileId
        in: path
        description: Google doc file Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Google doc file Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{attachmentId}/document-properties:
    get:
      tags:
      - DocumentMetadata
      summary: Get metadata and custom properties
      description: Gets metadata with document's custom properties
      parameters:
      - name: attachmentId
        in: path
        description: Attachment ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Attachment ID
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentCustomProperties'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentCustomProperties'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentCustomProperties'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{attachmentId}/metadata:
    get:
      tags:
      - DocumentMetadata
      summary: Get document metadata
      parameters:
      - name: attachmentId
        in: path
        description: Attachment ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Attachment ID
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMetadata'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{attachmentId}/metadata/v2:
    get:
      tags:
      - DocumentMetadata
      summary: Get V2 metadata JSON
      parameters:
      - name: attachmentId
        in: path
        description: attachment Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: attachment Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.BaseMetadata'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{attachmentId}/smart-elements:
    get:
      tags:
      - DocumentMetadata
      summary: Get fields and clauses from document metadata
      parameters:
      - name: attachmentId
        in: path
        description: ''
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentSchema.DocumentMetadataSchema'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentSchema.DocumentMetadataSchema'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentSchema.DocumentMetadataSchema'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Model.DocumentCustomProperties:
      type: object
      properties:
        majorVersion:
          type:
          - string
          - 'null'
        minorVersion:
          type:
          - string
          - 'null'
        documentType:
          type:
          - string
          - 'null'
        documentTags:
          type:
          - string
          - 'null'
        templateVersionId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        action:
          type:
          - string
          - 'null'
        userCustomProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
        auditLogProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Apttus.XAuthor.Common.Model.DocumentSchema.DocumentMetadataSchema:
      type: object
      properties:
        documentClauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentSchema.DocumentClause'
        documentFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.DocumentSchema.DocumentField'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.ClauseMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        subType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.ClauseSubTypeEnum'
        referenceId:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isDirty:
          type: boolean
        configReferenceId:
          type:
          - string
          - 'null'
        configName:
          type:
          - string
          - 'null'
        isMarkedForDeletion:
          type: boolean
        markupClauseMetadata:
          type:
          - string
          - 'null'
        condition:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Condition'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.DocumentSchema.DocumentField:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        ids:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.ConditionFilter:
      type: object
      properties:
        index:
          type: integer
          format: int32
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldApiName:
          type:
          - string
          - 'null'
        fieldLabel:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        referenceTo:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
        operator:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        expression:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.FieldMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        baseValueLocalized:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isReadonly:
          type:
          - boolean
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        sourceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldSourceMetadata'
        isMarkedForDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.DocumentMetadata:
      type: object
      properties:
        schemaVersion:
          type:
          - string
          - 'null'
        mergeEngine:
          type:
          - string
          - 'null'
        mergeVersion:
          type:
          - string
          - 'null'
        templateType:
          $ref: '#/components/schemas/Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum'
        templateVersion:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        templateVersionId:
          type:
          - string
          - 'null'
        businessObject:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        parentObjectId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        documentMetadataId:
          type:
          - string
          - 'null'
        documentVersion:
          type:
          - string
          - 'null'
        hasSmartItem:
          type: boolean
        locale:
          type:
          - string
          - 'null'
        numberPrecision:
          type: integer
          format: int32
        currencyPrecision:
          type: integer
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldSourceMetadata:
      type: object
      properties:
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldAPIName:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldObjectInstanceId:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.ExternalMetadata:
      type: object
      properties:
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldExternalMetadata'
        clauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.ClauseExternalMetadata'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.FieldExternalMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.ClauseExternalMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.ClauseSubTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.DocumentSchema.DocumentClause:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        content:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.ConditionJson:
      type: object
      properties:
        filters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.ConditionFilter'
        filterLogicExpression:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Condition:
      type: object
      properties:
        conditionCQLStyle:
          type:
          - string
          - 'null'
        conditionJson:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.ConditionJson'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DocumentMetadata:
      type: object
      properties:
        metadata:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.SchemaMetadata:
      type: object
      properties:
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
        clauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.ClauseMetadata'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.BaseMetadata:
      type: object
      properties:
        documentMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.DocumentMetadata'
        schemaMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.SchemaMetadata'
        externalMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.ExternalMetadata'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
