openapi: 3.2.0
info:
  title: Administration Constraint Rules API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Constraint Rules
paths:
  /constraint-rules:
    delete:
      tags:
      - Constraint Rules
      summary: Delete constraint rules
      description: 'Deletes one or more constraint rules. It can delete 1000 constraint rules in one go. If a constraint rule is deleted, the constraint rule conditions and actions associated with it are also deleted. Permissions are required to delete constraint rules.



        When executed, this API returns one or more records with each record ID''s delete status.'
      requestBody:
        description: List of constraint rules to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rules
      summary: Retrieve constraint rules
      description: 'Retrieves all constraint rules with their details. Use query parameters to further narrow the results.



        When executed, this API returns all constraint rules.'
      parameters:
      - name: filter
        in: query
        description: Filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort condition
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rules
      summary: Update constraint rules
      description: 'Updates a specific fields on one or more constraint rules. It can update any fields except the constraint rule ID.



        When executed, this API returns the updated constraint rules or constraint rules.'
      requestBody:
        description: List of records to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: ConstraintRuleName
              IsActive: true
              ConditionAssociation: 1 AND 2 AND 3
              Description: ConstraintRule description
              StartDate: '2022-07-25'
              EndDate: '2034-07-25'
              IsBundleContext: false
              Sequence: 1
              Type: Exclusion
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Constraint Rules
      summary: Create constraint rules
      description: 'one or more constraint rules. It can create a maximum of 1000 constraint rules. To create multiple constraint rules, pass multiple arrays of code in the API request (one array for each constraint rule record).



        When executed, this API returns a unique constraint rule ID (string) that CPQ automatically generates.'
      requestBody:
        description: List of constraint rules to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRule'
      responses:
        '200':
          description: OK
  /constraint-rules/{Id}:
    delete:
      tags:
      - Constraint Rules
      summary: Delete a constraint rule
      description: 'Deletes a constraint rule based on the constraint rule ID passed in the path parameter. Permissions are required to delete a constraint rule.



        When executed, this API returns one or more records with each record ID''s delete status.'
      parameters:
      - name: Id
        in: path
        description: Identifier of the constraint rule to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rules
      summary: Retrieve a constraint rule
      description: Retrieves a constraint rule based on the constraint rule ID passed in the path parameter.
      parameters:
      - name: Id
        in: path
        description: Identifier of the constraint rule
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rules
      summary: Update a constraint rule
      description: 'Updates a specific fields on a constraint rule based on the constraint rule ID passed in the path parameter.



        When executed, this API returns the updated constraint rule.'
      parameters:
      - name: Id
        in: path
        description: Identifier of the constraint rule to update
        required: true
        schema:
          type: string
      requestBody:
        description: Updated state of the constraint rule
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ConstraintRuleName
              IsActive: true
              ConditionAssociation: 1 AND 2 AND 3
              Description: ConstraintRule description
              StartDate: '2022-07-25'
              EndDate: '2034-07-25'
              IsBundleContext: false
              Sequence: 1
              Type: Exclusion
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ConstraintRule:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        ConditionAssociation:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        IsBundleContext:
          type:
          - boolean
          - 'null'
        IsPointOfSale:
          type:
          - boolean
          - 'null'
        IsPostSale:
          type:
          - boolean
          - 'null'
        RuleCategory:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        Type:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: ConstraintRuleName
        IsActive: true
        ConditionAssociation: 1 AND 2 AND 3
        Description: ConstraintRule description
        StartDate: '2022-07-25'
        EndDate: '2034-07-25'
        IsBundleContext: false
        Sequence: 1
        Type: Exclusion
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
