openapi: 3.2.0
info:
  title: ExternalEndpointConfiguration External Endpoint Auth Credentials API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: External Endpoint Auth Credentials
paths:
  /api/external-endpoint-config/v1/credentials:
    post:
      tags:
      - External Endpoint Auth Credentials
      summary: Create authentication configuration
      description: Stores authentication credentials (OAuth2, Basic Auth, etc.) required to connect securely to an external platform such as Salesforce. Once created, these credentials can be referenced by endpoint configurations to authenticate requests.
      requestBody:
        description: Auth configuration details for the external endpoint.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
    put:
      tags:
      - External Endpoint Auth Credentials
      summary: Update authentication configuration
      description: Updates stored authentication details, such as client secrets or passwords, for a specified external platform, such as Salesforce.
      requestBody:
        description: The updated authentication configuration details for the external endpoint.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
          text/json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExternalServiceAuthConfig'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
  /api/external-endpoint-config/v1/credentials/{name}:
    delete:
      tags:
      - External Endpoint Auth Credentials
      summary: Delete authentication configuration
      description: Removes the stored authentication details for the specified configuration, preventing future connections to the external service endpoint.
      parameters:
      - name: name
        in: path
        description: The unique name of the external endpoint configuration to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
    get:
      tags:
      - External Endpoint Auth Credentials
      summary: Retrieve authentication configuration
      description: Returns the stored authentication details of a specific configuration used for securely connecting to an external service endpoint.
      parameters:
      - name: name
        in: path
        description: The unique name of the external endpoint configuration.
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
        '503':
          description: Service Temporarily Unavailable
components:
  schemas:
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type: boolean
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    OAuthClientSecrets:
      type: object
      properties:
        AuthURL:
          type:
          - string
          - 'null'
        ClientId:
          type:
          - string
          - 'null'
        ClientSecret:
          type:
          - string
          - 'null'
        Scope:
          type:
          - string
          - 'null'
      additionalProperties: false
    AuthType:
      enum:
      - OAuth2_Client_Credentials
      - OAuth2_Password
      - BasicAuth
      type: string
    BasicAuthSecrets:
      type: object
      properties:
        UserName:
          type:
          - string
          - 'null'
        Password:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExternalServiceAuthConfig:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        AuthType:
          $ref: '#/components/schemas/AuthType'
        OAuthClientSecrets:
          $ref: '#/components/schemas/OAuthClientSecrets'
        OAuthPasswordSecrets:
          $ref: '#/components/schemas/OAuthPasswordSecrets'
        BasicAuthSecrets:
          $ref: '#/components/schemas/BasicAuthSecrets'
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    OAuthPasswordSecrets:
      type: object
      properties:
        AuthURL:
          type:
          - string
          - 'null'
        ClientId:
          type:
          - string
          - 'null'
        ClientSecret:
          type:
          - string
          - 'null'
        Scope:
          type:
          - string
          - 'null'
        UserName:
          type:
          - string
          - 'null'
        Password:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
