openapi: 3.2.0
info:
  title: 3. Order Line Items API
  description: Order API provides endpoints for managing customer orders, order lifecycle operations, and order-related business processes. This includes creating, updating, retrieving, and managing orders throughout their lifecycle.
  contact:
    name: Conga Support Team
    url: https://support.conga.com
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/order/v1
security:
- Bearer: []
tags:
- name: 3. Order Line Items
  description: Manages order line items represent each product, service, or subscription that a customer has purchased as part of an order.
paths:
  /order/{ParentId}/orderlineitems:
    patch:
      tags:
      - 3. Order Line Items
      summary: Updates multiple order line items in a single operation.
      description: "Use this endpoint to efficiently update several line items at once, such as adjusting quantities across multiple products \nor updating billing dates for a group of items.\n\nImportant restrictions:\n- All line items must belong to the specified order\n- Each line item must be in an editable status (e.g., Draft or Pending)\n- For external orders, only certain fields can be modified\n- Line items in 'Activated' status can only have their ready-for-billing date updated"
      parameters:
      - name: ParentId
        in: path
        description: The unique identifier of the order containing the line items
        required: true
        schema:
          type: string
      requestBody:
        description: A list of line item updates, each containing an Id field and the fields to modify
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
            text/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RevenueException'
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
            text/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
        '500':
          description: Internal Server Error
components:
  schemas:
    RuntimeTypeHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/FieldAttributes'
        FieldType:
          $ref: '#/components/schemas/Type'
        IsInitOnly:
          type: boolean
          readOnly: true
        IsLiteral:
          type: boolean
          readOnly: true
        IsNotSerialized:
          type: boolean
          readOnly: true
          deprecated: true
        IsPinvokeImpl:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        FieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    CustomAttributeTypedArgument:
      type: object
      properties:
        ArgumentType:
          $ref: '#/components/schemas/Type'
        Value:
          type: 'null'
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    Assembly:
      type: object
      properties:
        DefinedTypes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        ExportedTypes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        CodeBase:
          type:
          - 'null'
          - string
          readOnly: true
          deprecated: true
        EntryPoint:
          $ref: '#/components/schemas/MethodInfo'
        FullName:
          type:
          - 'null'
          - string
          readOnly: true
        ImageRuntimeVersion:
          type:
          - 'null'
          - string
          readOnly: true
        IsDynamic:
          type: boolean
          readOnly: true
        Location:
          type:
          - 'null'
          - string
          readOnly: true
        ReflectionOnly:
          type: boolean
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        IsFullyTrusted:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        EscapedCodeBase:
          type:
          - 'null'
          - string
          readOnly: true
          deprecated: true
        ManifestModule:
          $ref: '#/components/schemas/Module'
        Modules:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        GlobalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        HostContext:
          type: integer
          format: int64
          readOnly: true
        SecurityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    IntPtr:
      type: object
      additionalProperties: false
    PropertyInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        PropertyType:
          $ref: '#/components/schemas/Type'
        Attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        CanRead:
          type: boolean
          readOnly: true
        CanWrite:
          type: boolean
          readOnly: true
        GetMethod:
          $ref: '#/components/schemas/MethodInfo'
        SetMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        MemberInfo:
          $ref: '#/components/schemas/MemberInfo'
        TypedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        MemberName:
          type:
          - 'null'
          - string
          readOnly: true
        IsField:
          type: boolean
          readOnly: true
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    TypeInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - 'null'
          - string
          readOnly: true
        AssemblyQualifiedName:
          type:
          - 'null'
          - string
          readOnly: true
        FullName:
          type:
          - 'null'
          - string
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
        GenericTypeParameters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        DeclaredConstructors:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        DeclaredEvents:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        DeclaredFields:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        DeclaredMembers:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        DeclaredMethods:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        DeclaredNestedTypes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        DeclaredProperties:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        ImplementedInterfaces:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        Member:
          $ref: '#/components/schemas/MemberInfo'
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        ParameterType:
          $ref: '#/components/schemas/Type'
        Position:
          type: integer
          format: int32
          readOnly: true
        IsIn:
          type: boolean
          readOnly: true
        IsLcid:
          type: boolean
          readOnly: true
        IsOptional:
          type: boolean
          readOnly: true
        IsOut:
          type: boolean
          readOnly: true
        IsRetval:
          type: boolean
          readOnly: true
        DefaultValue:
          type: 'null'
          readOnly: true
        RawDefaultValue:
          type: 'null'
          readOnly: true
        HasDefaultValue:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    StructLayoutAttribute:
      type: object
      properties:
        TypeId:
          type: 'null'
          readOnly: true
        Value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    ModuleHandle:
      type: object
      properties:
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    CustomAttributeData:
      type: object
      properties:
        AttributeType:
          $ref: '#/components/schemas/Type'
        Constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        ConstructorArguments:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        NamedArguments:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    Type:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - 'null'
          - string
          readOnly: true
        AssemblyQualifiedName:
          type:
          - 'null'
          - string
          readOnly: true
        FullName:
          type:
          - 'null'
          - string
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    RuntimeMethodHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    ConstructorInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/EventAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        AddMethod:
          $ref: '#/components/schemas/MethodInfo'
        RemoveMethod:
          $ref: '#/components/schemas/MethodInfo'
        RaiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        IsMulticast:
          type: boolean
          readOnly: true
        EventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    Module:
      type: object
      properties:
        Assembly:
          $ref: '#/components/schemas/Assembly'
        FullyQualifiedName:
          type:
          - 'null'
          - string
          readOnly: true
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
        ModuleVersionId:
          type: string
          format: uuid
          readOnly: true
        ScopeName:
          type:
          - 'null'
          - string
          readOnly: true
        ModuleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    Exception:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - 'null'
          - string
          readOnly: true
        Data:
          type:
          - 'null'
          - object
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - 'null'
          - string
        Source:
          type:
          - 'null'
          - string
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - 'null'
          - string
          readOnly: true
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    MethodInfo:
      type: object
      properties:
        Name:
          type:
          - 'null'
          - string
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        ReturnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        ReturnType:
          $ref: '#/components/schemas/Type'
        ReturnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    RevenueException:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - 'null'
          - string
          readOnly: true
        Data:
          type:
          - 'null'
          - object
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - 'null'
          - string
        Source:
          type:
          - 'null'
          - string
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - 'null'
          - string
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
