openapi: 3.2.0
info:
  title: Contracts In-Effect View API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: In-Effect View
paths:
  /api/clm/v1/contracts/{contractId}/in-effect-view/clauses:
    get:
      tags:
      - In-Effect View
      summary: Get in-effect view of contract clause changes
      description: Fetches contract clause changes that occurred during an amendment, enabling a comparison of the amendment's change history.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: skip
        in: query
        description: Number of records to skip (optional, requires feature flag)
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Number of records to return (optional, requires feature flag)
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returns contract clause changes during amendment
        '400':
          description: Contract ID is invalid.
  /api/clm/v1/contracts/{contractId}/in-effect-view/details:
    get:
      tags:
      - In-Effect View
      summary: Get in-effect view of contract detail changes
      description: Fetches contract detail changes that occurred during an amendment, enabling a comparison of the amendment's change history.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns contract detail changes during amendment
        '400':
          description: Contract ID is invalid.
  /api/clm/v1/contracts/{contractId}/in-effect-view/documents:
    get:
      tags:
      - In-Effect View
      summary: Get in-effect view of contract document changes
      description: Fetches contract document changes that occurred during an amendment, enabling a comparison of the amendment's change history.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: skip
        in: query
        description: Number of records to skip (optional, requires feature flag)
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Number of records to return (optional, requires feature flag)
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returns contract document changes during amendment
        '400':
          description: Contract ID is invalid.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
