openapi: 3.2.0
info:
  title: Schema Manager Index Definition API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Index Definition
paths:
  /api/schema/v1/objects/{objectName}/indexes:
    post:
      tags:
      - Index Definition
      summary: Index a field
      description: Validates and enables the "IsIndexField" field value to true for a field in a given object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object in which the field exists
        required: true
        schema:
          type: string
      requestBody:
        description: Field name to be indexed
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndexMetadataCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/IndexMetadataCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/IndexMetadataCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMetadataAPIResponse'
              example:
                Success: true
                Data:
                  FieldName: Name
                  DisplayName: Name
                  Description: null
                  DataType: String
                  DefaultValue: null
                  IsProtected: true
                  IsIndexField: true
                  IsSortable: true
                  IsRequired: false
                  IsUnique: false
                  IsDeprecated: false
                  IsCalculated: false
                  IsInternalField: false
                  IsAliasField: false
                  Length: 2000
                  LookupObjectName: null
                  LookupFilterCriteria: null
                  DependentPicklistMetadataName: null
                  PicklistName: null
                  ComplexMetadataName: null
                  AutoNumberInitialSeed: 0
                  AutoNumberPrefix: null
                  Precision: 0
                  Scale: 0
                  Expression: null
                  ExpressionDependency: null
                  AliasExpressionDependency: null
                  IsPreComputed: null
                  ReferenceObject: null
                  TargetObject: null
                  TargetField: null
                  RollupFunction: null
                  RollupFilterCriteria: null
                  AliasFieldDefinition: null
                  AliasFieldMetadataName: null
                  IsRichTextField: false
                  IsPropertyLookup: false
                  IdentifierType: null
                StatusCode: Created
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/indexes/{indexFieldName}:
    delete:
      tags:
      - Index Definition
      summary: Delete an existing index
      description: Validates and sets the "IsIndexField" field value to false for a field in a given object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object in which the field exists
        required: true
        schema:
          type: string
      - name: indexFieldName
        in: path
        description: Name of the indexed field
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    FieldMetadataAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/FieldMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    FieldMetadata:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DataType:
          $ref: '#/components/schemas/DataType'
        DefaultValue:
          type:
          - string
          - 'null'
        IsProtected:
          type: boolean
        IsIndexField:
          type: boolean
        IsSortable:
          type: boolean
        IsRequired:
          type: boolean
        IsUnique:
          type: boolean
        IsDeprecated:
          type: boolean
        IsCalculated:
          type: boolean
        IsInternalField:
          type: boolean
        IsAliasField:
          type: boolean
        ReadAccess:
          type:
          - boolean
          - 'null'
        WriteAccess:
          type:
          - boolean
          - 'null'
        Length:
          type:
          - integer
          - 'null'
          format: int32
        LookupObjectName:
          type:
          - string
          - 'null'
        LookupFilterCriteria:
          type:
          - string
          - 'null'
        DependentPicklistMetadataName:
          type:
          - string
          - 'null'
        PicklistName:
          type:
          - string
          - 'null'
        ComplexMetadataName:
          type:
          - string
          - 'null'
        AutoNumberInitialSeed:
          type: integer
          format: int32
        AutoNumberPrefix:
          type:
          - string
          - 'null'
        Precision:
          type: integer
          format: int32
        Scale:
          type: integer
          format: int32
        Expression:
          type:
          - string
          - 'null'
        ExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        AliasExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        IsPreComputed:
          type:
          - boolean
          - 'null'
        ReferenceObject:
          type:
          - string
          - 'null'
        TargetObject:
          type:
          - string
          - 'null'
        TargetField:
          type:
          - string
          - 'null'
        RollupFunction:
          type:
          - string
          - 'null'
        RollupFilterCriteria:
          type:
          - string
          - 'null'
        AliasFieldDefinition:
          type:
          - string
          - 'null'
        AliasFieldMetadataName:
          type:
          - string
          - 'null'
        IsRichTextField:
          type: boolean
        IsPropertyLookup:
          type:
          - boolean
          - 'null'
        IdentifierType:
          $ref: '#/components/schemas/IdentifierType'
      additionalProperties: false
    DataType:
      enum:
      - String
      - Int
      - Double
      - Currency
      - Boolean
      - DateTime
      - AutoNumber
      - Lookup
      - Picklist
      - MultiPicklist
      - Identifier
      - LongString
      - Complex
      - ComplexArray
      - Reference
      - Rollup
      - Decimal
      - Image
      - Alias
      - Date
      - Owner
      type: string
    IndexMetadataCreateRequest:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Name of the field to be indexed.
      additionalProperties: false
    IdentifierType:
      enum:
      - UUIDv4
      - UID18
      type: string
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
