openapi: 3.2.0
info:
  title: X-Author Data Correction API
  version: v1
  description: This class contains API endpoints for data correction-related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DataCorrection
  description: This class contains API endpoints for data correction-related operations.
paths:
  /api/xauthor/v1/data-correction/template/field/record-type:
    put:
      tags:
      - DataCorrection
      summary: Convert RecordType to ContractType
      description: 'Updates existing records for a schema change, renaming the RecordType field ContractType.

        After the update, existing records have a new ContractType key with the existing RecordType field data.'
      parameters:
      - name: data
        in: query
        description: Pass anything to confirm the action.
        required: true
        schema:
          type: string
          description: Pass anything to confirm the action.
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TemplateLockStatus'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TemplateLockStatus'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.TemplateLockStatus'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Model.TemplateLockStatus:
      type: object
      properties:
        templateId:
          type:
          - string
          - 'null'
        templateName:
          type:
          - string
          - 'null'
        checkedoutVersionId:
          type:
          - string
          - 'null'
        checkedoutVersionName:
          type:
          - string
          - 'null'
        isCheckedout:
          type: boolean
        checkoutById:
          type:
          - string
          - 'null'
        checkoutByName:
          type:
          - string
          - 'null'
        checkoutDate:
          type:
          - string
          - 'null'
        isCheckedoutByLoggedInUser:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
