{
  "openapi": "3.0.1",
  "info": {
    "title": "X-Author",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://xauthor-prod-rls10.congacloud.com"
    },
    {
      "url": "https://xauthor-preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/xajs/v1/xAuthor/User/UsersByType": {
      "post": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "userType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/xauthor/v1/accounts/{name}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get accounts",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the account",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Name of the account",
              "default": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/admin-settings": {
      "get": {
        "tags": [
          "AdminSettings"
        ],
        "summary": "Get administrator settings",
        "description": "Retrieves all application-related information, like the user profile and org details.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/admin-settings/google-service-config": {
      "get": {
        "tags": [
          "AdminSettings"
        ],
        "summary": "Get Google account configuration",
        "description": "Retrieves Google Drive service account and folder configuration information.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/analytics": {
      "post": {
        "tags": [
          "Analytics"
        ],
        "summary": "Add application usage data",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "data for analytics/metrics",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AnalyticsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AnalyticsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AnalyticsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AnalyticsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/authorization/token-info": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get token information",
        "description": "Extracts the token after logging in, verifies the token on whether the user is verified on the Conga Platform or Salesforce platform, and returns this information.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.TokenInformation"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause-content/mark": {
      "post": {
        "tags": [
          "ClauseContent"
        ],
        "summary": "Mark plain text as a clause",
        "description": "Use this API to mark plain text as a clause. When you post to this endpoint, it applies the clause's clause boundary and smartness properties to the text.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause-content/markup-metadata": {
      "post": {
        "tags": [
          "ClauseContent"
        ],
        "summary": "Get the markup clause details for both template and agreement in encoded format",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause-content/{clauseId}": {
      "post": {
        "tags": [
          "ClauseContent"
        ],
        "summary": "Get clause content for document insertion",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Clause ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Clause ID",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Request of type {ClauseContentRequest}",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause/compare": {
      "post": {
        "tags": [
          "ClauseComparison"
        ],
        "summary": "The Api is used to initiate the clause semantic comparison request",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Clause Comaprison request consist of clause id , extracted text and standard text",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Request.ClauseComparisonRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Request.ClauseComparisonRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Request.ClauseComparisonRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Request.ClauseComparisonRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause/compare/statuses": {
      "get": {
        "tags": [
          "ClauseComparison"
        ],
        "summary": "The API is used to get the comparison status on the basis of comparison id , it can give for multiple ids",
        "parameters": [
          {
            "name": "comparisonIds",
            "in": "query",
            "description": "Its contains the list of comparison id",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Its contains the list of comparison id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause/compare/{comparisonId}/results": {
      "get": {
        "tags": [
          "ClauseComparison"
        ],
        "summary": "It returns the result after the semantic comparison is completed",
        "parameters": [
          {
            "name": "comparisonId",
            "in": "path",
            "description": "The comparison id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The comparison id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResultsResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResultsResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clause/compare/{comparisonId}/status": {
      "get": {
        "tags": [
          "ClauseComparison"
        ],
        "summary": "The API is used to get the comparison status on the basis of comparison id",
        "parameters": [
          {
            "name": "comparisonId",
            "in": "path",
            "description": "Comparison id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comparison id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.XAuthor.Common.DTO.ClauseComparison.Response.ClauseComparisonResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/advance-query": {
      "post": {
        "tags": [
          "ClauseLibrary"
        ],
        "summary": "Filter clauses",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request filter",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.SearchRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.SearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.SearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/alternate": {
      "post": {
        "tags": [
          "Clause"
        ],
        "summary": "Get alternate clauses",
        "description": "Gets alternate clauses for use in contract negotiations.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Alternate clause request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/alternates/check": {
      "post": {
        "tags": [
          "Clause"
        ],
        "summary": "Validate alternate clauses",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "List of alternate clause requestes with clause referenceid and clause config referenceid",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel"
                },
                "description": "List of alternate clause requestes with clause referenceid and clause config referenceid",
                "nullable": true
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel"
                },
                "description": "List of alternate clause requestes with clause referenceid and clause config referenceid",
                "nullable": true
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel"
                },
                "description": "List of alternate clause requestes with clause referenceid and clause config referenceid",
                "nullable": true
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel"
                },
                "description": "List of alternate clause requestes with clause referenceid and clause config referenceid",
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/bundles/{name}": {
      "get": {
        "tags": [
          "Clause"
        ],
        "summary": "Get a clause bundle",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the bundle",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Name of the bundle",
              "default": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/configurations/{clauseConfigId}": {
      "get": {
        "tags": [
          "Clause"
        ],
        "summary": "List alternate clauses and sub-clauses",
        "parameters": [
          {
            "name": "clauseConfigId",
            "in": "path",
            "description": "",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/mark/metadata/{contractId}": {
      "get": {
        "tags": [
          "ClauseMetadata"
        ],
        "summary": "Get mark clause metadata",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "The contract's Id",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "The contract's Id",
              "default": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/metadata": {
      "get": {
        "tags": [
          "ClauseMetadata"
        ],
        "summary": "Get a template clause's metadata",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/promote": {
      "post": {
        "tags": [
          "ClauseLibrary"
        ],
        "summary": "Promote a clause",
        "description": "This API promotes a marked clause from an agreement to the clause library, entering that clause into the clause library's clause repository. Once the clause is available in the clause library, you can reuse it for the original agreement record even after regenerating the document or you can make the clause available for other agreements and users.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCheckInRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCheckInRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCheckInRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCheckInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Template"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Template"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Template"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/query": {
      "post": {
        "tags": [
          "ClauseLibrary"
        ],
        "summary": "Get clauses",
        "description": "The clause library contains clauses or clause templates that contain modular blocks of contractual language. These blocks can be reused across agreement templates. Using this API, you can fetch all available clauses in the clause library by passing the required filter criteria in the request body.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request filter",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClausesRequestFilter"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClausesRequestFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClausesRequestFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.ClausesRequestFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Clause"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/{clauseId}/alternates/link": {
      "post": {
        "tags": [
          "AlternateClause"
        ],
        "summary": "Link alternate clauses",
        "description": "Links alternate clauses to a clause configuration. Alternate clause IDs are passed in the the alternate clause mapping's clause-ranking order.\r\nThe clauseConfigurationId parameter is optional.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Clause ID associated with a clause version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Clause ID associated with a clause version",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Request containing clauseConfigurationId and list of alternate clauses",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/{clauseId}/alternates/{alternateclausemappingId}": {
      "delete": {
        "tags": [
          "AlternateClause"
        ],
        "summary": "Unlink alternate clauses",
        "description": "Unlinks alternate clauses from a clause configuration.",
        "parameters": [
          {
            "name": "alternateclausemappingId",
            "in": "path",
            "description": "Alternate clause-mapping ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Alternate clause-mapping ID",
              "nullable": true
            }
          },
          {
            "name": "clauseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/{clauseId}/configurations/{configurationId}/alternates/re-order": {
      "post": {
        "tags": [
          "AlternateClause"
        ],
        "summary": "Reorder alternate clauses",
        "description": "Reorder clause configuration's alternate clauses",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Clause ID associated with clause version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Clause ID associated with clause version",
              "nullable": true
            }
          },
          {
            "name": "configurationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Request containing clauseConfigurationId and List of alternate clauses",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Core.Model.AlternateClauseMappingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/clauses/{clauseId}/versions/{clauseVersionId}/richtext-content": {
      "get": {
        "tags": [
          "ClauseVersion"
        ],
        "summary": "Get clause content as text or HTML",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "clause Id associated with clause version",
            "required": true,
            "schema": {
              "type": "string",
              "description": "clause Id associated with clause version",
              "nullable": true
            }
          },
          {
            "name": "clauseVersionId",
            "in": "path",
            "description": "Clause version Id to get content",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Clause version Id to get content",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/config-management/crm-connection": {
      "put": {
        "tags": [
          "ConfigurationManagement"
        ],
        "summary": "Toggle connect to CRM flag",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "boolean value indicating turn on/off the configuration",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "boolean",
                "description": "boolean value indicating turn on/off the configuration"
              }
            },
            "application/json": {
              "schema": {
                "type": "boolean",
                "description": "boolean value indicating turn on/off the configuration"
              }
            },
            "text/json": {
              "schema": {
                "type": "boolean",
                "description": "boolean value indicating turn on/off the configuration"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "boolean",
                "description": "boolean value indicating turn on/off the configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contacts/{name}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get contacts",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Contact name",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "description": "Contact name",
              "default": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts": {
      "post": {
        "tags": [
          "Agreement"
        ],
        "summary": "Create an agreement",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The basic agreement object information",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/advance-query": {
      "post": {
        "tags": [
          "Agreement"
        ],
        "summary": "Filter agreements with advanced search criteria",
        "description": "Gets one or more agreements based on the advanced search filters provided in the request body.\r\nSupports complex filter expressions, field selection, sorting, pagination via offset and limit.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The advanced search request containing filter expressions, field selectors, sort options, offset, and limit",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/documents/create-offline": {
      "post": {
        "tags": [
          "AgreementOffline"
        ],
        "summary": "Create an offline agreement",
        "description": "Creates a new contract document and affixes it to a new contract record. Pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Create offline agreement request body",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/documents/create-offline-multipart": {
      "post": {
        "tags": [
          "AgreementOffline"
        ],
        "summary": "Create offline Agreement",
        "description": "Creates a new contract document and affixes it into a new contract record. Pass the Agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.",
        "parameters": [
          {
            "name": "ContractAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {},
              "nullable": true
            }
          },
          {
            "name": "DocumentCustomProperties",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {},
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentFile": {
                    "type": "string",
                    "description": "Document to be created as offline Agreement",
                    "format": "binary",
                    "nullable": true
                  },
                  "DocumentMetadata.Tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "DocumentMetadata.Description": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "encoding": {
                "documentFile": {
                  "style": "form"
                },
                "DocumentMetadata.Tags": {
                  "style": "form"
                },
                "DocumentMetadata.Description": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/documents/store-executed-multipart": {
      "post": {
        "tags": [
          "AgreementOffline"
        ],
        "summary": "Create store executed agreement",
        "description": "Creates a new contract document and affixes it into a new contract record. Pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.",
        "parameters": [
          {
            "name": "ContractAttributes",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {},
              "nullable": true
            }
          },
          {
            "name": "DocumentCustomProperties",
            "in": "query",
            "schema": {
              "type": "object",
              "additionalProperties": {},
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentFile": {
                    "type": "string",
                    "description": "Document file",
                    "format": "binary",
                    "nullable": true
                  },
                  "DocumentMetadata.Tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "DocumentMetadata.Description": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "encoding": {
                "documentFile": {
                  "style": "form"
                },
                "DocumentMetadata.Tags": {
                  "style": "form"
                },
                "DocumentMetadata.Description": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/query": {
      "post": {
        "tags": [
          "Agreement"
        ],
        "summary": "Get agreements",
        "description": "Gets one or more agreements based on the parameters provided in the request body.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request query body value",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/query/me": {
      "post": {
        "tags": [
          "Agreement"
        ],
        "summary": "Get agreements owned by current logged in user",
        "description": "Gets one or more agreements based on the parameters provided in the request body.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request query body value having filter criteria, page size and offset",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/recently-viewed": {
      "post": {
        "tags": [
          "Agreement"
        ],
        "summary": "List recently viewed agreements",
        "description": "Gets one or more recently viewed agreements.",
        "parameters": [
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The request query body value",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}": {
      "get": {
        "tags": [
          "Agreement"
        ],
        "summary": "Get agreement details by contract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "The contract identifier",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The contract identifier",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.Agreement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/AI/redline/check-in": {
      "post": {
        "tags": [
          "AIRedline"
        ],
        "summary": "This method is to process the check-in or publish of the document  based on the AI suggestion and the details provided in the request.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Agreement Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Agreement Id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The info related to publish option , attachment id and the clause changes details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/AI/redline/preview": {
      "post": {
        "tags": [
          "AIRedline"
        ],
        "summary": "This method to generate a preview of the updated contentbased on the AI suggestion and other details provided in the request",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Agreement Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Agreement Id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "The info related to publish option , attachment id and the clause changes details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/AI/redline/risks": {
      "post": {
        "tags": [
          "AIRedline"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/AI/redline/risks/{attachmentId}": {
      "get": {
        "tags": [
          "AIRedline"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/check-in": {
      "post": {
        "tags": [
          "ContractCheckin"
        ],
        "summary": "Performs post checkin activity like reconcilation / pdf file creation / metadata processing.\r\nFile content wont be read as part of this process.Request contains all the information related to file content which is required during checkin",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Agreement Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Agreement Id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Checkin request parameters",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.ContractCheckinRequestModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.ContractCheckinRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.ContractCheckinRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.ContractCheckinRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/clauses/final": {
      "post": {
        "tags": [
          "AgreementClause"
        ],
        "summary": "Create agreement clauses as final",
        "description": "Creates one or more records of agreement clauses as final based on the agreementId provided in the parameters.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/clauses/original": {
      "post": {
        "tags": [
          "AgreementClause"
        ],
        "summary": "Create agreement clauses",
        "description": "Creates one or more records of agreement clauses based on the agreementId provided in the parameters.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "description": "",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/xauthor/v1/contracts/{contractId}/documents/check-in": {
      "post": {
        "tags": [
          "AgreementDocumentCheckin"
        ],
        "summary": "Check in a document specific to an agreement",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Agreement Id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Agreement Id",
              "nullable": true
            }
          },
          {
            "name": "OrgType",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "RLP"
            }
          }
        ],
        "requestBody": {
          "description": "Check-in request parameters",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest"
              }
            },
[...]
