openapi: 3.2.0
info:
  title: Extensibility Custom Code API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Custom Code
paths:
  /api/extensibility/v1/customcode:
    get:
      tags:
      - Custom Code
      summary: Get all custom codes
      description: Retrieves all available custom codes and their associated information.
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/execute:
    post:
      tags:
      - Custom Code
      summary: Execute the custom code
      description: Executes the custom code.
      requestBody:
        description: Custom code runtime request body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CSharpProjectRuntimeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CSharpProjectRuntimeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CSharpProjectRuntimeRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/migration/export/{Type}:
    post:
      tags:
      - Custom Code
      summary: Export the Projects or Resources based on the specified Type
      description: Exports the Projects or Resources based on the given Type parameter.
      parameters:
      - name: Type
        in: path
        description: Type of export, either "Projects" or "Resources"
        required: true
        schema:
          $ref: '#/components/schemas/Types'
      requestBody:
        description: Request containing export details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/migration/import/{Type}:
    post:
      tags:
      - Custom Code
      summary: Import the Projects or Resources based on the specified Type
      description: Imports the Projects or Resources based on the given Type parameter.
      parameters:
      - name: Type
        in: path
        description: Type of import, either "Projects" or "Resources"
        required: true
        schema:
          $ref: '#/components/schemas/Types'
      requestBody:
        description: Request containing import details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MigrationExportImportRequestModel'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-apis:
    get:
      tags:
      - Custom Code
      summary: Get all trusted API configurations
      description: Retrieves a list of trusted API configurations.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndPointInformationResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Endpoint_name
                  Endpoint: Endpoint_URL
                  AllowedHttpVerbs:
                  - Get
                  - Post
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
    post:
      tags:
      - Custom Code
      summary: Add a trusted API configuration
      description: Adds a trusted API configuration and returns the status of the request.
      requestBody:
        description: Trusted API configuration data to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanNullableAPIResponse'
              example:
                Success: true
                Data: true
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-apis/allowed-http-verbs:
    get:
      tags:
      - Custom Code
      summary: Retrieve all allowed HTTP verbs
      description: Fetches all allowed HTTP verbs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListAPIResponse'
              example:
                Success: true
                Data:
                - GET
                - POST
                - PUT
                - DELETE
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-apis/uri:
    get:
      tags:
      - Custom Code
      summary: Retrieve a trusted API configuration by URI
      description: Fetches trusted API configuration details based on the URI of the trusted API configuration.
      parameters:
      - name: uri
        in: query
        description: URI of the trusted API configuration
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndPointInformationResponseAPIResponse'
              example:
                Success: true
                Data:
                  Name: Endpoint_name
                  Endpoint: Endpoint_URL
                  AllowedHttpVerbs:
                  - Get
                  - Post
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-apis/{name}:
    delete:
      tags:
      - Custom Code
      summary: Delete a trusted API configuration
      description: Deletes a trusted API configuration and returns the status of the request.
      parameters:
      - name: name
        in: path
        description: Trusted API configuration name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanNullableAPIResponse'
              example:
                Success: true
                Data: true
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
    get:
      tags:
      - Custom Code
      summary: Retrieve a trusted API configuration by name
      description: Fetches trusted API configuration details based on the name.
      parameters:
      - name: name
        in: path
        description: Trusted API configuration name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndPointInformationResponseAPIResponse'
              example:
                Success: true
                Data:
                  Name: Endpoint_name
                  Endpoint: Endpoint_URL
                  AllowedHttpVerbs:
                  - Get
                  - Post
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
      - Custom Code
      summary: Update a trusted API configuration
      description: Updates a trusted API configuration and returns the status of the request.
      parameters:
      - name: name
        in: path
        description: Trusted API configuration name
        required: true
        schema:
          type: string
      requestBody:
        description: Trusted API configuration data to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedAPIsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanNullableAPIResponse'
              example:
                Success: true
                Data: true
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-objects:
    get:
      tags:
      - Custom Code
      summary: List all trusted object configurations
      description: Returns a list of trusted out-of-the-box (OOTB) object configurations.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllObjectsInformationResponseListAPIResponse'
              example:
                Success: true
                Data:
                - ObjectName: Name_Of_Object
                  DisplayName: Display_Name_Of_Object
                  AllowedOperationNames: null
                  AllowedOperations:
                  - Name: Operation_Name
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
    post:
      tags:
      - Custom Code
      summary: Add a trusted object configuration
      description: Adds a trusted out-of-the-box (OOTB) object configuration.
      requestBody:
        description: Trusted OOTB object configuration data to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse'
              example:
                Success: true
                Data:
                - TrustedObjects:
                  - ObjectName: Name_Of_Object
                    AllowedOperationNames: null
                    AllowedOperations:
                    - Name: Operation_Name
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-objects/allowed-operations:
    get:
      tags:
      - Custom Code
      summary: List allowed operations
      description: Returns a list of allowed operations.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListAPIResponse'
              example:
                Success: true
                Data:
                - Create
                - Update
                - Read
                - Delete
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/trusted-objects/{name}:
    delete:
      tags:
      - Custom Code
      summary: Delete a trusted object configuration
      description: Removes an existing trusted out-of-the-box (OOTB) object configuration.
      parameters:
      - name: name
        in: path
        description: Trusted object configuration name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse'
              example:
                Success: true
                Data:
                - TrustedObjects:
                  - ObjectName: Name_Of_Object
                    AllowedOperationNames: null
                    AllowedOperations:
                    - Name: Operation_Name
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
    get:
      tags:
      - Custom Code
      summary: Get a trusted object configuration by name
      description: Returns the details of an existing trusted out-of-the-box (OOTB) object configuration.
      parameters:
      - name: name
        in: path
        description: Trusted object configuration name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectInformationResponseAPIResponse'
              example:
                Success: true
                Data:
                  ObjectName: Name_Of_Object
                  AllowedOperationNames: null
                  AllowedOperations:
                  - Name: Operation_Name
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
      - Custom Code
      summary: Update a trusted object configuration
      description: Updates an existing trusted out-of-the-box (OOTB) object configuration.
      parameters:
      - name: name
        in: path
        description: Trusted object configuration name
        required: true
        schema:
          type: string
      requestBody:
        description: Trusted OOTB object configuration data to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomCodeTrustedObjectUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse'
              example:
                Success: true
                Data:
                - TrustedObjects:
                  - ObjectName: Name_Of_Object
                    AllowedOperationNames: null
                    AllowedOperations:
                    - Name: Operation_Name
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/{name}:
    delete:
      tags:
      - Custom Code
      summary: Delete a custom code by name
      description: This endpoint validates and deletes the project Informations based on the name and returns OK response with string result otherwise returns exceptions.
      parameters:
      - name: name
        in: path
        description: Project Name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: 688fb287-78c8-48a4-a5f2-e30aab871f2c deleted successfully.
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    get:
      tags:
      - Custom Code
      summary: Retrieve custom code by project name
      description: Retrieves custom code for the given project name.
      parameters:
      - name: name
        in: path
        description: Project name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/{name}/debuglog:
    post:
      tags:
      - Custom Code
      summary: Enable debug log
      description: Sets the EnableDebugLog flag for custom code for the given project name.
      parameters:
      - name: name
        in: path
        description: Project name
        required: true
        schema:
          type: string
      - name: enable
        in: query
        description: Status of the EnableDebugLog flag
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/extensibility/v1/customcode/{projectName}/download:
    get:
      tags:
      - Custom Code
      summary: Download the project
      description: Downloads the custom code project with the given project name (in ZIP format).
      parameters:
      - name: projectName
        in: path
        description: Project name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
components:
  schemas:
    ObjectInformationResponse:
      type: object
      properties:
        ObjectName:
          type:
          - string
          - 'null'
          description: Name of the trusted object
        AllowedOperationNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of operation Names that are allowed for the trusted object
        AllowedOperations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OperationResponse'
          description: List of operations that are allowed for the trusted object
      additionalProperties: false
    MigrationExportImportRequestModel:
      type: object
      properties:
        MigrationConfigurationId:
          type:
          - string
          - 'null'
        PackageDetailsId:
          type:
          - string
          - 'null'
        PackageId:
          type:
          - string
          - 'null'
      additionalProperties: false
    CustomCodeTrustedObjectUpdateRequest:
      type: object
      properties:
        AllowedOperations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OperationInfoRequest'
          description: List of all allowed operations to be updated for a trusted object
      additionalProperties: false
    CustomCodeTrustedObjectCreateRequest:
      type: object
      properties:
        ObjectName:
          type:
          - string
          - 'null'
          description: Name of the object to be added as Trusted Object
        AllowedOperations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OperationInfoRequest'
          description: List of operations to be allowed for the trusted object
      additionalProperties: false
    OperationResponse:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the operation. **For example:** Create, Update, Delete, Read
      additionalProperties: false
    EndPointInformationResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EndPointInformationResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CustomCodeTrustedObjectResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/CustomCodeTrustedObjectResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    EndPointInformationResponse:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the trusted api entry
        Endpoint:
          type:
          - string
          - 'null'
          description: Endpoint uri of the trusted api
        AllowedHttpVerbs:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of all allowed HttpVerbs
      additionalProperties: false
    BadRequestErrorResponseExample:
      type: object
      additionalProperties: false
    AllObjectsInformationResponse:
      type: object
      properties:
        ObjectName:
          type:
          - string
          - 'null'
          description: Name of the trusted object
        DisplayName:
          type:
          - string
          - 'null'
          description: Name of the trusted object to be displayed
        AllowedOperationNames:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of operationNames that are allowed for the trusted object
        AllowedOperations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/OperationResponse'
          description: List of operations that are allowed for the trusted object
      additionalProperties: false
    CSharpProjectRuntimeRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the project
        MethodName:
          type:
          - string
          - 'null'
          description: Name of the method to be executed
        FullyQualifiedClassname:
          type:
          - string
          - 'null'
          description: Name of the class
        Parameters:
          type:
          - array
          - 'null'
          items: {}
          description: Input data that above method accept as parameters
      additionalProperties: false
      description: C# project runtime request
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    BadRequestErrorResponseExampleAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/BadRequestErrorResponseExample'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    EndPointInformationResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/EndPointInformationResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CustomCodeTrustedObjectResponse:
      type: object
      properties:
        TrustedObjects:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ObjectInformationResponse'
          description: List of operations that are allowed for the trusted object
      additionalProperties: false
    Types:
      enum:
      - Projects
      - Resources
      type: string
    CustomCodeTrustedAPIsRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the trusted api entry
        Endpoint:
          type:
          - string
          - 'null'
          description: Endpoint uri of the trusted api
        AllowedHttpVerbs:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of all allowed HttpVerbs
      additionalProperties: false
    ObjectInformationResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/ObjectInformationResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    StringListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: string
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    AllObjectsInformationResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AllObjectsInformationResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BooleanNullableAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - boolean
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
    OperationInfoRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the operation. **For example:** Create, Update, Delete, Read
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
