openapi: 3.2.0
info:
  title: Administration Constraint Rule Conditions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Constraint Rule Conditions
paths:
  /constraint-rules/{ParentId}/conditions:
    delete:
      tags:
      - Constraint Rule Conditions
      summary: Delete constraint rule conditions
      description: 'Deletes one or more constraint rule conditions from a constraint rule.



        When executed, this API returns one or more records with each record ID''s delete status.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of constraint rule conditions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rule Conditions
      summary: Retrieve constraint rule conditions
      description: 'Retrieves all constraint rule conditions in a constraint rule, with their details. Use query parameters to further narrow down the retrieved results.



        When executed, this API returns all constraint rule conditions in a constraint rule.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort condition
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Conditions
      summary: Update constraint rule conditions
      description: 'Updates specific fields on one or more constraint rule conditions. It can update any fields except the constraint rule condition ID.



        When executed, this API returns the updated constraint rule condition or conditions.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of records to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: ConstraintRuleConditionName
              ConditionCriteria: '{"ObjectName"="LineItem","ObjectLabel"="Line Item","searchText"=null,"filter"={"predicates"=[{"RowNum"=1,"FieldValue"="Bundle","FieldType"="PICKLIST","FieldName"="Product.ConfigurationType","FieldLabel"="Configuration Type","CompOper"="in","BoolOper"="AND"}],"condExpr"="1"},"fields"=["Product.ConfigurationType"],"exprStr"="(Configuration Type in Bundle)"}'
              MatchInCartOptions: false
              MatchInLocation: false
              MatchInOptions: false
              MatchInPrimaryLines: true
              MatchInRelatedLines: false
              MatchInServiceAssets: false
              MatchMaxProducts: 0
              MatchMinProducts: 0
              MatchRule: null
              Product: null
              ProductFamily: null
              ProductFieldA: Name
              ProductFieldB: null
              ProductFieldC: null
              ProductFieldD: null
              ProductFieldOperatorA: equal to
              ProductFieldOperatorB: equal to
              ProductFieldOperatorC: equal to
              ProductFieldOperatorD: equal to
              ProductFieldValueA: valueA
              ProductFieldValueB: null
              ProductFieldValueC: null
              ProductFieldValueD: null
              ProductGroup: null
              ProductOptionGroup: null
              ProductScope: Product Field Set
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Constraint Rule Conditions
      summary: Create constraint rule conditions
      description: 'Creates one or more constraint rule conditions in a specific constraint rule. It can create a maximum of 100 constraint rule conditions.



        When executed, this API returns a unique constraint rule condition ID (string) that CPQ generates automatically.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of constraint rule conditions to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleCondition'
      responses:
        '200':
          description: OK
  /constraint-rules/{ParentId}/conditions/{Id}:
    delete:
      tags:
      - Constraint Rule Conditions
      summary: Delete a constraint rule condition
      description: Deletes a single constraint rule condition in a constraint rule.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule condition to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rule Conditions
      summary: Retrieve a constraint rule condition
      description: Retrieve a single constraint rule condition in a constraint rule, with its details.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule condition to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Conditions
      summary: Update a constraint rule condition
      description: Updates a single constraint rule condition in a constraint rule.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule condition to update
        required: true
        schema:
          type: string
      requestBody:
        description: Updated state of the constraint rule condition
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ConstraintRuleConditionName
              ConditionCriteria: '{"ObjectName"="LineItem","ObjectLabel"="Line Item","searchText"=null,"filter"={"predicates"=[{"RowNum"=1,"FieldValue"="Bundle","FieldType"="PICKLIST","FieldName"="Product.ConfigurationType","FieldLabel"="Configuration Type","CompOper"="in","BoolOper"="AND"}],"condExpr"="1"},"fields"=["Product.ConfigurationType"],"exprStr"="(Configuration Type in Bundle)"}'
              MatchInCartOptions: false
              MatchInLocation: false
              MatchInOptions: false
              MatchInPrimaryLines: true
              MatchInRelatedLines: false
              MatchInServiceAssets: false
              MatchMaxProducts: 0
              MatchMinProducts: 0
              MatchRule: null
              Product: null
              ProductFamily: null
              ProductFieldA: Name
              ProductFieldB: null
              ProductFieldC: null
              ProductFieldD: null
              ProductFieldOperatorA: equal to
              ProductFieldOperatorB: equal to
              ProductFieldOperatorC: equal to
              ProductFieldOperatorD: equal to
              ProductFieldValueA: valueA
              ProductFieldValueB: null
              ProductFieldValueC: null
              ProductFieldValueD: null
              ProductGroup: null
              ProductOptionGroup: null
              ProductScope: Product Field Set
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ConstraintRuleCondition:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ConditionCriteria:
          type:
          - string
          - 'null'
        ConstraintRule:
          $ref: '#/components/schemas/LookupObject'
        MatchInCartOptions:
          type:
          - boolean
          - 'null'
        MatchInLocation:
          type:
          - boolean
          - 'null'
        MatchInOptions:
          type:
          - boolean
          - 'null'
        MatchInPrimaryLines:
          type:
          - boolean
          - 'null'
        MatchInRelatedLines:
          type:
          - boolean
          - 'null'
        MatchInServiceAssets:
          type:
          - boolean
          - 'null'
        MatchMaxProducts:
          type:
          - number
          - 'null'
          format: double
        MatchMinProducts:
          type:
          - number
          - 'null'
          format: double
        MatchRule:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductFamily:
          type:
          - string
          - 'null'
        ProductFieldA:
          type:
          - string
          - 'null'
        ProductFieldB:
          type:
          - string
          - 'null'
        ProductFieldC:
          type:
          - string
          - 'null'
        ProductFieldD:
          type:
          - string
          - 'null'
        ProductFieldOperatorA:
          type:
          - string
          - 'null'
        ProductFieldOperatorB:
          type:
          - string
          - 'null'
        ProductFieldOperatorC:
          type:
          - string
          - 'null'
        ProductFieldOperatorD:
          type:
          - string
          - 'null'
        ProductFieldValueA:
          type:
          - string
          - 'null'
        ProductFieldValueB:
          type:
          - string
          - 'null'
        ProductFieldValueC:
          type:
          - string
          - 'null'
        ProductFieldValueD:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        ProductOptionGroup:
          $ref: '#/components/schemas/LookupObject'
        ProductScope:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
      example:
        Name: ConstraintRuleConditionName
        ConditionCriteria: '{"ObjectName"="LineItem","ObjectLabel"="Line Item","searchText"=null,"filter"={"predicates"=[{"RowNum"=1,"FieldValue"="Bundle","FieldType"="PICKLIST","FieldName"="Product.ConfigurationType","FieldLabel"="Configuration Type","CompOper"="in","BoolOper"="AND"}],"condExpr"="1"},"fields"=["Product.ConfigurationType"],"exprStr"="(Configuration Type in Bundle)"}'
        MatchInCartOptions: false
        MatchInLocation: false
        MatchInOptions: false
        MatchInPrimaryLines: true
        MatchInRelatedLines: false
        MatchInServiceAssets: false
        MatchMaxProducts: 0
        MatchMinProducts: 0
        MatchRule: null
        Product: null
        ProductFamily: null
        ProductFieldA: Name
        ProductFieldB: null
        ProductFieldC: null
        ProductFieldD: null
        ProductFieldOperatorA: equal to
        ProductFieldOperatorB: equal to
        ProductFieldOperatorC: equal to
        ProductFieldOperatorD: equal to
        ProductFieldValueA: valueA
        ProductFieldValueB: null
        ProductFieldValueC: null
        ProductFieldValueD: null
        ProductGroup: null
        ProductOptionGroup: null
        ProductScope: Product Field Set
        Sequence: 1
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
