openapi: 3.2.0
info:
  title: Administration Field Set Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: FieldSetSettings
paths:
  /field-sets:
    get:
      tags:
      - FieldSetSettings
      summary: List field sets
      description: Retrieves the list of field sets.
      responses:
        '200':
          description: OK
        '204':
          description: No Content
  /field-sets/{name}:
    get:
      tags:
      - FieldSetSettings
      summary: List fieldset fields
      description: Retrieves the list of fields for a fieldset.
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
    put:
      tags:
      - FieldSetSettings
      summary: Update fields in fieldset
      description: Add/Remove fields in a fieldset.
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
