openapi: 3.2.0
info:
  title: Conga Sign Imprint Fields API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: ImprintFields
paths:
  /v1/cs-packages/{packageId}/documents/{documentId}/imprint-fields:
    delete:
      tags:
      - ImprintFields
      summary: Deletes all imprint fields assigned to the document.
      description: Deletes all imprint fields assigned to the document.
      operationId: ImprintFields_DeleteImprintFields
      parameters:
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - ImprintFields
      summary: Creates new imprint field with an autogenerated id.
      description: Creates new imprint field with an autogenerated id.
      operationId: ImprintFields_PostImprintField
      parameters:
      - name: packageId
        in: path
        required: true
        description: Package Id for Imprint Fields
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: Document Id for Imprint Fields
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: imprintField
        description: Imprint Field
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImprintField'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfImprintField'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - ImprintFields
      summary: Replaces all imprint fields with those provided in the request.
      description: 'Replaces all imprint fields with those provided in the request. If an empty array is provided then all fields will be deleted.

        Only the editable imprint fields will be replaced.'
      operationId: ImprintFields_UpdateImprintFields
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package identifier.
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        description: Document Id in the package.
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: imprintFields
        description: List of imprint fields needs to be updated.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ImprintField'
        required: true
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImprintField'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-packages/{packageId}/documents/{documentId}/imprint-fields/{fieldId}:
    delete:
      tags:
      - ImprintFields
      summary: Deletes existing imprint field.
      description: Deletes existing imprint field.
      operationId: ImprintFields_DeleteImprintFields2
      parameters:
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - ImprintFields
      summary: Retrieves existing imprint field.
      description: Retrieves existing imprint field.
      operationId: ImprintFields_GetExistingImprintField
      parameters:
      - name: fieldId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: packageId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImprintField'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - ImprintFields
      summary: Update existing imprint field.
      description: Updates existing imprint field. Note that the JSON Field ID will be ignored and replaced by the one from the query parameter.
      operationId: ImprintFields_UpdateExistingImprintField
      parameters:
      - name: fieldId
        in: path
        required: true
        description: Field Id
        schema:
          type: string
        x-position: 1
      - name: packageId
        in: path
        required: true
        description: The unique package identifier.
        schema:
          type: string
        x-position: 2
      - name: documentId
        in: path
        required: true
        description: Document Id in the package.
        schema:
          type: string
        x-position: 3
      requestBody:
        x-name: imprintField
        description: Existing imprint fields needs to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImprintField'
        required: true
        x-position: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImprintField'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-packages/{packageId}/documents/{documentId}/imprint-fields/{fieldId}/copies:
    post:
      tags:
      - ImprintFields
      summary: Copies the imprint field to the other documents in the package.
      description: 'Copies the imprint field to the other documents in the package. When it is not possible to add a field due to the lack of a given page number,

        the field will be added on the last page of this document.'
      operationId: ImprintFields_ImprintFieldCopies
      parameters:
      - name: fieldId
        in: path
        required: true
        description: Field Id
        schema:
          type: string
        x-position: 1
      - name: packageId
        in: path
        required: true
        description: The unique package identifier.
        schema:
          type: string
        x-position: 2
      - name: documentId
        in: path
        required: true
        description: Document Id in the package.
        schema:
          type: string
        x-position: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImprintField'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    ImprintFieldSubType:
      type: string
      description: ''
      x-enumNames:
      - LABEL
      enum:
      - LABEL
    ImprintFieldType:
      type: string
      description: ''
      x-enumNames:
      - INPUT
      enum:
      - INPUT
    ResultOfImprintField:
      type: object
      description: Object used to manage OneSpan list types
      additionalProperties: false
      properties:
        count:
          type: integer
          description: Count
          format: int32
        results:
          type: array
          description: Results
          items:
            $ref: '#/components/schemas/ImprintField'
    ImprintField:
      type: object
      description: Imprint Field class
      additionalProperties: false
      properties:
        value:
          type: string
          description: The Imprint Field value
        name:
          type: string
          description: Imprint Field name.
        type:
          description: Imprint Field type.
          oneOf:
          - $ref: '#/components/schemas/ImprintFieldType'
        id:
          type: string
          description: Imprint Field Id.
        data:
          type: object
          description: Custom data for the Imprint Field
          additionalProperties: {}
        page:
          type: integer
          description: The document page where the Imprint Field is located
          format: int32
        left:
          type: number
          description: X coordinate of the Imprint Field
          format: double
        subtype:
          description: Imprint Field subtype
          oneOf:
          - $ref: '#/components/schemas/ImprintFieldSubType'
        width:
          type: number
          description: Imprint Field width.
          format: double
        top:
          type: number
          description: Y coordinate of the Imprint Field
          format: double
        height:
          type: number
          description: Imprint Field height.
          format: double
        binding:
          type: string
          description: Imprint Field Binding
        editable:
          type: boolean
          description: Determines if Imprint Field is to be editable
        horizontalTextAlignment:
          type: string
          description: Horizontal text alignment of the Imprint Field
        tooltip:
          type: string
          description: Tooltip of the Imprint Field
        notary:
          type: boolean
          description: Notary of the Imprint Field
        fontSize:
          type:
          - integer
          - 'null'
          description: Font Size of the Imprint Field
          format: int32
        formattedValue:
          type: string
          description: Formatted Value of the Imprint Field
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
