openapi: 3.2.0
info:
  title: Approvals System Properties API
  description: '

    The Approvals API is used to submit, preview, and retrieve approval processes.

    '
  version: v1
servers:
- url: https://rls.congacloud.com/api/approvals
security: []
tags:
- name: SystemProperties
paths:
  /v1/system-properties:
    get:
      tags:
      - SystemProperties
      summary: Get system properties
      description: Retrieves the system properties.
      operationId: SystemProperties_GetSystemProperties
      responses:
        '200':
          description: Product Settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSettingSystemProperties'
      security:
      - oauth2: []
      - Bearer: []
    post:
      tags:
      - SystemProperties
      summary: Update system properties
      description: Updates the system properties with a system configuration request.
      operationId: SystemProperties_UpsertSystemConfig
      requestBody:
        x-name: upsertSystemConfigRequest
        description: The UpsertSystemConfigRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSystemConfigRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: Updated system properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSettingSystemProperties'
      security:
      - oauth2: []
      - Bearer: []
  /v1/system-properties/email-config:
    post:
      tags:
      - SystemProperties
      summary: Create email configuration
      description: Creates email configuration.
      operationId: SystemProperties_CreateEmailConfig
      requestBody:
        x-name: applicationEmailConfig
        description: The applicationEmailConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationEmailConfig'
        required: true
        x-position: 1
      responses:
        '200':
          description: The created applicationEmailConfig.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationEmailConfig'
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - SystemProperties
      summary: Get email configuration
      description: Retrieves the email configuration from system properties.
      operationId: SystemProperties_GetEmailConfig
      responses:
        '200':
          description: The email configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationEmailConfig'
      security:
      - oauth2: []
      - Bearer: []
    patch:
      tags:
      - SystemProperties
      summary: Update email configuration
      description: Updates email configuration.
      operationId: SystemProperties_UpdateEmailConfig
      requestBody:
        x-name: applicationEmailConfig
        description: The applicationEmailConfig
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationEmailConfig'
        required: true
        x-position: 1
      responses:
        '200':
          description: The updated applicationEmailConfig.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationEmailConfig'
      security:
      - oauth2: []
      - Bearer: []
  /v1/system-properties/product-settings:
    get:
      tags:
      - SystemProperties
      summary: Get custom configurations
      description: Retrieves custom configurations for multiple business objects.
      operationId: SystemProperties_GetMultipleProductSettings
      parameters:
      - name: productSettingNames
        in: query
        style: form
        explode: true
        required: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
        x-position: 1
      responses:
        '200':
          description: The custom configuration (ProductSettingCustomConfig) for multiple business objects
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      security:
      - oauth2: []
      - Bearer: []
    post:
      tags:
      - SystemProperties
      summary: Create or update a custom configuration
      description: Creates or updates the custom configuration (ProductSettingCustomConfig) for a business object.
      operationId: SystemProperties_UpsertCustomConfig
      requestBody:
        x-name: upsertProductSettingsRequest
        description: The UpsertProductSettingsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertProductSettingsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: The custom configuration (ProductSettingCustomConfig) for a business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSettingCustomConfig'
      security:
      - oauth2: []
      - Bearer: []
  /v1/system-properties/product-settings/businessobjects:
    get:
      tags:
      - SystemProperties
      summary: Get all business object product settings
      description: Retrieves Approvals product settings for all business objects.
      operationId: SystemProperties_GetAllProductSettings
      responses:
        '200':
          description: Approvals product settings for all business objects
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      security:
      - oauth2: []
      - Bearer: []
  /v1/system-properties/product-settings/{businessObject}:
    delete:
      tags:
      - SystemProperties
      summary: Delete a custom configuration
      description: Deletes the custom configuration (ProductSettingCustomConfig) for a business object.
      operationId: SystemProperties_DeleteCustomConfig
      parameters:
      - name: businessObject
        in: path
        required: true
        description: The business object name of the requested custom configuraiton
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: 'Boolean: Deleted Records Status.'
          content:
            application/json:
              schema:
                type: boolean
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - SystemProperties
      summary: Get a custom configuration
      description: Retrieves the custom configuration (ProductSettingCustomConfig) for a business object.
      operationId: SystemProperties_GetCustomConfig
      parameters:
      - name: businessObject
        in: path
        required: true
        description: The business object name of the requested custom configuraiton
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Returns the custom configuration (ProductSettingCustomConfig) for a business object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSettingCustomConfig'
      security:
      - oauth2: []
      - Bearer: []
components:
  schemas:
    EmailAddress:
      type: object
      additionalProperties: false
      properties:
        Address:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
    ProductSettingCustomConfig:
      type: object
      description: Settings
      additionalProperties: false
      properties:
        BusinessObject:
          type:
          - string
          - 'null'
          description: The business object
        EnableRuleEngineCallback:
          type: boolean
          description: Enables the rule engine callback
          default: false
        RuleBasedSubmitActionCallback:
          type: boolean
          description: Enables rule based submit callbacks
          default: true
        RecordLevelPermissionNameForPreview:
          type:
          - string
          - 'null'
          description: Record level permission name for previewing approval requests
        RecordLevelPermissionNameForSubmit:
          type:
          - string
          - 'null'
          description: Record level permission name for submitting approval requests
        RecordLevelPermissionNameForRecall:
          type:
          - string
          - 'null'
          description: Record level permission name for recalling approval requests
        ObjectsForCustomUser:
          type:
          - string
          - 'null'
          description: List of ObjectNames to be used while configuring CustomAssignee
        ApprovalStatusField:
          type:
          - string
          - 'null'
          description: Specifies the name of the ApprovalStatus field for custom context objects. Defaults to "ApprovalStatus" if not provided.
          default: ApprovalStatus
        HideDefaultDisplayFields:
          type: boolean
          description: Hide DefaultDisplayFields such as Sequence, SubSequence and Delegate Approver in priveiw/my approval page
          default: false
        EnableRejectionEmails:
          type: boolean
          description: EnableRejectionEmails
          default: false
        DetailsViewColumnCount:
          type: integer
          description: Number of columns in Approval Detail Layout
          format: int32
    UpsertSystemConfigRequest:
      allOf:
      - $ref: '#/components/schemas/ProductSettingSystemProperties'
      - type: object
        description: UpsertSystemConfigRequest
        additionalProperties: false
    UpsertProductSettingsRequest:
      allOf:
      - $ref: '#/components/schemas/ProductSettingCustomConfig'
      - type: object
        description: UpsertProductSettingsRequest
        additionalProperties: false
    ApplicationEmailConfig:
      type: object
      additionalProperties: false
      properties:
        EnableOrganizationWideEmailAddress:
          type:
          - boolean
          - 'null'
        OrganizationWideEmailConfig:
          $ref: '#/components/schemas/OrganizationWideEmail'
        OrganizationWideEmailAddresses:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationWideEmail'
        EnableComplianceBCCEmail:
          type:
          - boolean
          - 'null'
        ComplianceBCCEmailAddress:
          oneOf:
          - $ref: '#/components/schemas/EmailAddress'
        ReplyToEmailAddress:
          oneOf:
          - $ref: '#/components/schemas/EmailAddress'
        CcEmailAddresses:
          type: array
          items:
            $ref: '#/components/schemas/EmailAddress'
        ShouldProcessInbound:
          type: boolean
    OrganizationWideEmail:
      type: object
      additionalProperties: false
      properties:
        EmailAddress:
          $ref: '#/components/schemas/EmailAddress'
        Description:
          type: string
    ProductSettingSystemProperties:
      type: object
      description: ProductSettingSystemProperties
      additionalProperties: false
      properties:
        MaxAdhocGroup:
          type: integer
          description: MaxAdhocGroup
          format: int32
          default: 7
          example: 7
        MaxAdhocApproverPerGroup:
          type: integer
          description: MaxAdhocApproverPerGroup
          format: int32
          default: 7
          example: '7'
        DashboardDefaultTab:
          type:
          - string
          - 'null'
          description: DashboardDefaultTab
        BackupAssignmentEmailTemplate:
          description: The backup assignment email template to use
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        DelegateAssignmentEmailTemplate:
          description: The default assignment email template to use
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        CancellationEmailToApprovedOrNotified:
          type: boolean
          description: CancellationEmailToApprovedOrNotified
          default: false
        DeferredEmailProcessing:
          type: boolean
          description: DeferredEmailProcessing
          default: true
        SuppressQueueEmails:
          type: boolean
          description: SuppressQueueEmails
          default: true
        EnableUserGroups:
          type: boolean
          description: EnableUserGroups
          default: false
        IsEmailEnabled:
          type: boolean
          description: Enable email
          default: true
        EmailApprovalsStrictMode:
          type: boolean
          description: Email strict mode
          default: false
        DashboardRejectionComments:
          type: boolean
          description: DashboardRejectionComments
          default: false
        CreEnabled:
          type: boolean
          description: CreEnabled
          default: false
        AddApproverEnabled:
          type: boolean
          description: AddApproverEnabled
          default: true
        ApproverStepperStyle:
          type:
          - string
          - 'null'
          description: Approver Stepper Style
          default: Default
        ApprovalCenter:
          type:
          - string
          - 'null'
          description: System Property to store object names to be shown in the approval center
          example: '[{"ObjectName":"Agreement","DisplayName":"Contract"},{"ObjectName":"ProductConfiguration","DisplayName":"Product Configuration"}]'
        EnableAttachmentsOnApprovalCenter:
          type: boolean
          description: Enable Attachments On Approval Center
          default: false
        HideNavigationBar:
          type: boolean
          description: Hide Navigation bar in MyApproval Page redirected from Approval Center
          default: false
        ChatNotificationType:
          description: Gets or sets the types of chat notifications.
          example: Teams
          oneOf:
          - $ref: '#/components/schemas/ChatNotificationType'
    LookupObject:
      type: object
      additionalProperties: false
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
    ChatNotificationType:
      type: string
      description: Specifies the types of notification that can be sent.
      x-enumNames:
      - None
      - Teams
      enum:
      - None
      - Teams
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Use a JWT Bearer token. (Example: Bearer eyJhbGciO...)'
      name: Authorization
      in: header
    oauth2:
      type: oauth2
      description: Login with a Salesforce or SalesforceSandbox account
      flows:
        authorizationCode:
          authorizationUrl: https://login-rls.congacloud.com/api/v1/auth//connect/authorize
          tokenUrl: https://login-rls.congacloud.com/api/v1/auth//connect/token
          scopes:
            openid: openid
            profile: profile
            offline_access: offline_access
            Auth.Api.Platform: Auth.Api.Platform
