openapi: 3.2.0
info:
  title: X-Author Document Review API
  version: v1
  description: This class contains API endpoints for Document Review.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DocumentReview
  description: This class contains API endpoints for Document Review.
paths:
  /api/xauthor/v1/documents/reviews/details:
    get:
      tags:
      - DocumentReview
      summary: Check Send For Review status.
      parameters:
      - name: agreementId
        in: query
        description: Agreement's Id
        schema:
          type:
          - string
          - 'null'
          description: Agreement's Id
      - name: templateId
        in: query
        description: Template's Id
        schema:
          type:
          - string
          - 'null'
          description: Template's Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ParallelReview'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ParallelReview'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ParallelReview'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/reviews/status:
    get:
      tags:
      - DocumentReview
      summary: Check review cycle is pending or not.
      parameters:
      - name: agreementId
        in: query
        description: Agreement's Id
        schema:
          type:
          - string
          - 'null'
          description: Agreement's Id
      - name: templateId
        in: query
        description: Template's Id
        schema:
          type:
          - string
          - 'null'
          description: Template's Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.ParallelReview:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        versionAware:
          type: boolean
        templateType:
          type:
          - string
          - 'null'
        latestVersion:
          type:
          - string
          - 'null'
        emailSubject:
          type:
          - string
          - 'null'
        emailBody:
          type:
          - string
          - 'null'
        isDocumentUnderReview:
          type: boolean
        reviewers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Reviewer'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ContentControlInfo:
      type: object
      properties:
        allowEditing:
          type: boolean
        controlId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Reviewer:
      type: object
      properties:
        contentControlsInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ContentControlInfo'
        reviewerEmail:
          type:
          - string
          - 'null'
        reviewerId:
          type:
          - string
          - 'null'
        reviewerName:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
