openapi: 3.2.0
info:
  title: Data Currency API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Currency
paths:
  /api/data/v1/currencies:
    get:
      tags:
      - Currency
      summary: Get all currency
      description: Retrieves all currencies.
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CurrencyResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Code: CAD
                  Name: Canada Dollar
                  Symbol: $
                  Scale: 2
                - Code: JPY
                  Name: Japan Yen
                  Symbol: ¥
                  Scale: 0
                - Code: MXN
                  Name: Mexico Peso
                  Symbol: $
                  Scale: 2
                - Code: INR
                  Name: India Rupee
                  Symbol: ₹
                  Scale: 2
                StatusCode: OK
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Code: CAD
                  Name: Canada Dollar
                  Symbol: $
                  Scale: 2
                - Code: JPY
                  Name: Japan Yen
                  Symbol: ¥
                  Scale: 0
                - Code: MXN
                  Name: Mexico Peso
                  Symbol: $
                  Scale: 2
                - Code: INR
                  Name: India Rupee
                  Symbol: ₹
                  Scale: 2
                StatusCode: OK
            text/json:
              schema:
                $ref: '#/components/schemas/CurrencyResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Code: CAD
                  Name: Canada Dollar
                  Symbol: $
                  Scale: 2
                - Code: JPY
                  Name: Japan Yen
                  Symbol: ¥
                  Scale: 0
                - Code: MXN
                  Name: Mexico Peso
                  Symbol: $
                  Scale: 2
                - Code: INR
                  Name: India Rupee
                  Symbol: ₹
                  Scale: 2
                StatusCode: OK
components:
  schemas:
    CurrencyResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CurrencyResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CurrencyResponse:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Symbol:
          type:
          - string
          - 'null'
        Scale:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
