openapi: 3.2.0
info:
  title: X-Author DAI API
  version: v1
  description: To do the operation reated to Discovery extraction and checking the status and marking
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DAI
  description: To do the operation reated to Discovery extraction and checking the status and marking
paths:
  /api/xauthor/v1/discovery-ai/contracts/{contractId}/documents/{attachmentId}/status:
    get:
      tags:
      - DAI
      summary: Get IDE job status
      description: "- Null if IDE import request is not made\n- Complete or Job type is In-Review and status Pending\n- If job status is complete then we will retrive field and clause in next request and mean while we will display message to customer that we are processing document\n  Else we will display other message to customer"
      parameters:
      - name: contractId
        in: path
        description: contractId
        required: true
        schema:
          type:
          - string
          - 'null'
          description: contractId
      - name: attachmentId
        in: path
        description: AttachmentId Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: AttachmentId Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEDocumentStatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEDocumentStatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEDocumentStatusResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/discovery-ai/contracts/{contractid}/documents/{attachmentId}/markup-document:
    post:
      tags:
      - DAI
      summary: Extract and mark the clauses and fields in the request document and also update the metadata
      parameters:
      - name: contractid
        in: path
        description: ''
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: attachmentId
        in: path
        description: ''
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request object that consists of information about content, agreementId, etc
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEExtractedEntityRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEExtractedEntityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEExtractedEntityRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDEExtractedEntityRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.DAIExtractedDocumentResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.DAIExtractedDocumentResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.DAIExtractedDocumentResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Enum.XAAddInLoadType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.Field:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        parentType:
          type:
          - string
          - 'null'
        pickList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
        length:
          type:
          - integer
          - 'null'
          format: int32
        localName:
          type:
          - string
          - 'null'
        mergeFieldName:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        tag:
          type:
          - string
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        readOnly:
          type:
          - boolean
          - 'null'
        isRichtextField:
          type:
          - boolean
          - 'null'
        relationshipMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RelationshipMetadata'
        referenceTo:
          type:
          - string
          - 'null'
        referenceObject:
          type:
          - string
          - 'null'
        isDBReferenceField:
          type: boolean
        referenceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        picklistName:
          type:
          - string
          - 'null'
        defaultValue: {}
        dependentPicklistName:
          type:
          - string
          - 'null'
        dependentPicklist:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DependentPicklistItem'
        isSortable:
          type:
          - boolean
          - 'null'
        isNameField:
          type:
          - boolean
          - 'null'
        isFilterable:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.IDEMissingProvisions:
      type: object
      properties:
        clause:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CCI.CCIMappedClause'
        field:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CCI.CCIMappedField'
      additionalProperties: false
    Conga.XAuthor.Core.Model.ClauseLibraryMatchSourceEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.IDEExtractedEntityRequest:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        ideJobId:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        bodyContent:
          type:
          - string
          - 'null'
        documentContent:
          type:
          - string
          - 'null'
        docProtectionMode:
          type:
          - string
          - 'null'
        cciDocumentId:
          type:
          - string
          - 'null'
        xaAddInLoadType:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.XAAddInLoadType'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DependentPicklistItem:
      type: object
      properties:
        controllingPicklistValue:
          type:
          - string
          - 'null'
        picklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
      additionalProperties: false
    Conga.XAuthor.Core.Model.DAIExtractedDocumentResponse:
      type: object
      properties:
        ideExtractedMissingProvisions:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.IDEMissingProvisions'
        content:
          type:
          - string
          - 'null'
        daiExtractedClauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Core.Model.DAIExtractedClauses'
        detectedDateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDEDocumentStatusResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        jobType:
          type:
          - string
          - 'null'
        jobStatus:
          type:
          - string
          - 'null'
        jobErrorMessage:
          type:
          - string
          - 'null'
        cciDocumentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CCI.CCIMappedField:
      type: object
      properties:
        objectName:
          type:
          - string
          - 'null'
        objectFieldLabel:
          type:
          - string
          - 'null'
        congaField:
          type:
          - string
          - 'null'
        objectFieldType:
          type:
          - string
          - 'null'
        localName:
          type:
          - string
          - 'null'
        referenceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        referenceTo:
          type:
          - string
          - 'null'
        ideEntityId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CCI.CCIMappedClause:
      type: object
      properties:
        clauseLabel:
          type:
          - string
          - 'null'
        clauseId:
          type:
          - string
          - 'null'
        wordWildCard:
          type:
          - string
          - 'null'
        patternSimilarity:
          type:
          - string
          - 'null'
        clauseType:
          type:
          - string
          - 'null'
        clauseReferenceId:
          type:
          - string
          - 'null'
        standardClause:
          type:
          - string
          - 'null'
        standardClauseUpper:
          type:
          - string
          - 'null'
        clauseCategory:
          type:
          - string
          - 'null'
        clauseSubCategory:
          type:
          - string
          - 'null'
        clauseExtractionId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.PickListItem:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Core.Model.DAIExtractedClauses:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        standardValue:
          type:
          - string
          - 'null'
        recordId:
          type:
          - string
          - 'null'
        contentControlId:
          type:
          - string
          - 'null'
        libraryMatchSource:
          $ref: '#/components/schemas/Conga.XAuthor.Core.Model.ClauseLibraryMatchSourceEnum'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RelationshipMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        referenceType:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        targetObjectName:
          type:
          - string
          - 'null'
        targetFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
