openapi: 3.2.0
info:
  title: Administration Response Field Configuration API
  version: 1.0.0
  description: ResponseFieldConfigurationController
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: ResponseFieldConfiguration
  description: ResponseFieldConfigurationController
paths:
  /responsefield-configuration/{categoryName}:
    get:
      tags:
      - ResponseFieldConfiguration
      summary: List name of ResponseFieldConfiguration.
      description: Retrieves the list of configuration name of responsefield configuration.
      parameters:
      - name: categoryName
        in: path
        description: Provide only - Category Name.
        required: true
        schema:
          type: string
          default: RevenueCatalogResponseFieldList
      responses:
        '200':
          description: OK
        '204':
          description: No Content
  /responsefield-configuration/{categoryName}/{configName}:
    delete:
      tags:
      - ResponseFieldConfiguration
      summary: Delete FieldSetconfiguration
      description: Delete configuration
      parameters:
      - name: configName
        in: path
        description: Name of the configuration
        required: true
        schema:
          type: string
      - name: categoryName
        in: path
        description: Name of the category
        required: true
        schema:
          type: string
          default: RevenueCatalogResponseFieldList
      responses:
        '202':
          description: Accepted
    get:
      tags:
      - ResponseFieldConfiguration
      summary: Get FieldSetConfiguration By Name
      description: Get the FieldSetConfiguration By Name
      parameters:
      - name: categoryName
        in: path
        description: Provide only - Category Name.
        required: true
        schema:
          type: string
          default: RevenueCatalogResponseFieldList
      - name: configName
        in: path
        description: Name of the configuration
        required: true
        schema:
          type: string
          default: ResponseFieldList_Default
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    put:
      tags:
      - ResponseFieldConfiguration
      summary: Update FieldSetconfiguration
      description: Update the existing configuration
      parameters:
      - name: configName
        in: path
        description: Name of the configuration which you want to update
        required: true
        schema:
          type: string
      - name: categoryName
        in: path
        description: Name of the category
        required: true
        schema:
          type: string
          default: RevenueCatalogResponseFieldList
      requestBody:
        description: Configuration data to be updated.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
      responses:
        '202':
          description: Accepted
  /responsefield-configuration/{categoryName}/{defaultConfigName}/{newConfigName}:
    post:
      tags:
      - ResponseFieldConfiguration
      summary: Add a FieldSetconfiguration
      description: Creates a new configuration
      parameters:
      - name: newConfigName
        in: path
        description: New config Name which you want to create
        required: true
        schema:
          type: string
      - name: categoryName
        in: path
        description: Name of the category
        required: true
        schema:
          type: string
          default: RevenueCatalogResponseFieldList
      - name: defaultConfigName
        in: path
        description: default config name of the configuration
        required: true
        schema:
          type: string
          default: ResponseFieldList_Default
      requestBody:
        description: Configuration data to be added.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SearchConfig'
      responses:
        '201':
          description: Created
components:
  schemas:
    SearchConfig:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
      example:
        Id: Id
        Fields:
        - Id
        - Name
        - Description
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
