openapi: 3.2.0
info:
  title: Administration Price Dimensions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Price Dimensions
paths:
  /price-dimensions:
    delete:
      tags:
      - Price Dimensions
      summary: Delete price dimensions
      description: 'Deletes one or more price dimensions. It can delete a maximum of 100 price dimensions.



        When executed, this API returns one or more records with the delete status of each associated record ID.'
      requestBody:
        description: The list of price dimensions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Price Dimensions
      summary: Retrieve price dimensions
      description: 'Retrieves all price dimensions. Use query parameters to further narrow the results.


        When executed, this API returns all price dimensions.'
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Price Dimensions
      summary: Update price dimensions
      description: 'Updates updates specific fields on one or more price dimensions. It can update any fields except price dimension ID.



        When executed, this API returns the updated price dimension or price dimensions.'
      requestBody:
        description: The list of price dimensions with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: PriceDimensionName
              IsActive: true
              AttributeGroup:
                Id: AttributeGroupId
                Name: AttributeGroup-Name
              BusinessObject: BusinessObject Name
              ContextType: Context Type
              Datasource: Data Source Name
              Description: Description
              Incentive:
                Id: Incentive-Id
                Name: IncentiveName
              IsPicklist: true
              Label: Label name
              RelationType: Relation Type
              Type: Type
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Price Dimensions
      summary: Create price dimensions
      description: 'Creates one or more price dimensions.



        When executed, this API returns a unique price dimension ID (string) that CPQ automatically generates.'
      requestBody:
        description: The list of price dimensions to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceDimension'
      responses:
        '200':
          description: OK
  /price-dimensions/{Id}:
    delete:
      tags:
      - Price Dimensions
      summary: Delete a price dimension
      description: Deletes a price dimension based on the ID provided.
      parameters:
      - name: Id
        in: path
        description: The identifier of the price dimension to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Price Dimensions
      summary: Retrieve a price dimension
      description: Retrieves details of a price dimensions associated with the provided price dimensions ID.
      parameters:
      - name: Id
        in: path
        description: The identifier of the price dimension
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PriceDimension'
            application/json:
              schema:
                $ref: '#/components/schemas/PriceDimension'
            text/json:
              schema:
                $ref: '#/components/schemas/PriceDimension'
        '204':
          description: No Content
    patch:
      tags:
      - Price Dimensions
      summary: Update a price dimension
      description: Updates a price dimension based on the details provided in the request body.
      parameters:
      - name: Id
        in: path
        description: The identifier of the price dimension to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the price dimension
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: PriceDimensionName
              IsActive: true
              AttributeGroup:
                Id: AttributeGroupId
                Name: AttributeGroup-Name
              BusinessObject: BusinessObject Name
              ContextType: Context Type
              Datasource: Data Source Name
              Description: Description
              Incentive:
                Id: Incentive-Id
                Name: IncentiveName
              IsPicklist: true
              Label: Label name
              RelationType: Relation Type
              Type: Type
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
  /price-dimensions/{name}/datasource-value:
    get:
      tags:
      - Price Dimensions
      summary: Fetch Datasource value
      description: Fetch Datasource value
      parameters:
      - name: name
        in: path
        description: Incentive Program Name
        required: true
        schema:
          type: string
      - name: businessObjectId
        in: query
        description: BusinessObjectId
        schema:
          type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    PriceDimension:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AttributeGroup:
          $ref: '#/components/schemas/LookupObject'
        BusinessObject:
          type:
          - string
          - 'null'
        ChildFilterName:
          type:
          - string
          - 'null'
        ContextType:
          type:
          - string
          - 'null'
        CumulativeDimension:
          $ref: '#/components/schemas/LookupObject'
        Datasource:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Incentive:
          $ref: '#/components/schemas/LookupObject'
        RelationType:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: PriceDimensionName
        IsActive: true
        AttributeGroup:
          Id: AttributeGroupId
          Name: AttributeGroup-Name
        BusinessObject: BusinessObject Name
        ContextType: Context Type
        Datasource: Data Source Name
        Description: Description
        Incentive:
          Id: Incentive-Id
          Name: IncentiveName
        IsPicklist: true
        Label: Label name
        RelationType: Relation Type
        Type: Type
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
