openapi: 3.2.0
info:
  title: X-Author Field Data Retrieval API
  version: v1
  description: This class contains API endpoints for retrieving document field data related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: FieldDataRetrieval
  description: This class contains API endpoints for retrieving document field data related operations.
paths:
  /api/xauthor/v1/metadata/2/fields/retrieve-data:
    post:
      tags:
      - FieldDataRetrieval
      summary: Get field data with locale based formatted values
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing information to get the field data with locale based formaated values
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedCLMFieldDataRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedCLMFieldDataRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedCLMFieldDataRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedCLMFieldDataRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Metadata.V2.FieldMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        baseValueLocalized:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isReadonly:
          type:
          - boolean
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        sourceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldSourceMetadata'
        isMarkedForDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        clmValue:
          type:
          - string
          - 'null'
        clmValueLocalized:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        fieldDataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        currencySymbol:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.FieldSourceMetadata:
      type: object
      properties:
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldAPIName:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldObjectInstanceId:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.LocaleFormattedCLMFieldDataRequest:
      type: object
      properties:
        objectName:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        documentLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        fieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
