openapi: 3.2.0
info:
  title: Conga Sign Password Policy API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: PasswordPolicy
paths:
  /v1/cs-passwordPolicy:
    get:
      tags:
      - PasswordPolicy
      summary: Retrieve password policy information
      description: Retrieves the password policy configuration for the current account.
      operationId: PasswordPolicy_GetPasswordPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - PasswordPolicy
      summary: Update password policy configuration
      description: Updates the password policy configuration for the current account.
      operationId: PasswordPolicy_UpdatePasswordPolicy
      requestBody:
        x-name: passwordPolicy
        description: The password policy configuration to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordPolicy'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    PasswordPolicy:
      type: object
      additionalProperties: false
      required:
      - age
      - history
      - length
      - includeUppercase
      - includeLowercase
      - includeNumbers
      - includeSpecialCharacters
      - expiry
      - requiredRules
      - enableExpiryNotifications
      - firstReminder
      - repeatReminderCount
      - maxInvalidLoginAttempts
      properties:
        age:
          type: integer
          description: Minimum password age.
          format: int32
        history:
          type: integer
          description: Number of unique new passwords that have to be provided before an old password can be reused.
          format: int32
        length:
          type: integer
          description: Minimum password length.
          format: int32
        includeUppercase:
          type: boolean
          description: Password requires to include uppercase character.
        includeLowercase:
          type: boolean
          description: Password requires to include lowercase character.
        includeNumbers:
          type: boolean
          description: Password requires to include number
        includeSpecialCharacters:
          type: boolean
          description: Password requires to include special character.
        expiry:
          type: integer
          description: Number of days after which the password will expire.
          format: int32
        requiredRules:
          type: integer
          description: Number of required rules.
          format: int32
        enableExpiryNotifications:
          type: boolean
          description: Turn on/off password expiry notifications.
        firstReminder:
          type: integer
          description: Number of days the first expiry notification is send before password is expired.
          format: int32
        repeatReminderCount:
          type: integer
          description: Number of expiry notifications.
          format: int32
        maxInvalidLoginAttempts:
          type: integer
          description: Number of login failures allowed for a user before the account is locked.
          format: int32
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
