openapi: 3.2.0
info:
  title: Administration Attribute Group Members API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attribute Group Members
paths:
  /attribute-groups/{ParentId}/attributes:
    delete:
      tags:
      - Attribute Group Members
      summary: Delete attribute group members
      description: Deletes one or more attribute group members from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of attribute group members to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Group Members
      summary: Retrieve attribute group members
      description: Retrieves a collection of attribute group members based on the parent attribute group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Group Members
      summary: Update attribute group members
      description: Updates one or more attribute group members in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: AttributeGroupMemberName
              CascadeSharedAttributeStatus:
              - All
              CascadeSharedAttributeUpdates: 'Yes'
              DisplayType: null
              IsHidden: false
              IsPrimary: false
              IsReadOnly: false
              Sequence: 1
              Attribute:
                Id: AttributeId
                Name: AttributeName
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Attribute Group Members
      summary: Create attribute group members
      description: Creates one or more attribute group members to the collection. The parent attribute group is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of attribute group members to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroupMember'
      responses:
        '200':
          description: OK
  /attribute-groups/{ParentId}/attributes/{Id}:
    delete:
      tags:
      - Attribute Group Members
      summary: Delete an attribute group member
      description: Deletes a single attribute group member of an attribute group record.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the attribute group member
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Group Members
      summary: Retrieve attribute group member
      description: Retrieves a single attribute group member of an attribute group record.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the attribute group member
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Group Members
      summary: Update an attribute group member
      description: Updates a single attribute group member of an attribute group record.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent attribute group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the attribute group member
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the attribute group member
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AttributeGroupMemberName
              CascadeSharedAttributeStatus:
              - All
              CascadeSharedAttributeUpdates: 'Yes'
              DisplayType: null
              IsHidden: false
              IsPrimary: false
              IsReadOnly: false
              Sequence: 1
              Attribute:
                Id: AttributeId
                Name: AttributeName
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    AttributeGroupMember:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AttributeGroup:
          $ref: '#/components/schemas/LookupObject'
        Attribute:
          $ref: '#/components/schemas/LookupObject'
        CascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        CascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        DisplayType:
          type:
          - string
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsPrimary:
          type:
          - boolean
          - 'null'
        IsReadOnly:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
      example:
        Name: AttributeGroupMemberName
        CascadeSharedAttributeStatus:
        - All
        CascadeSharedAttributeUpdates: 'Yes'
        DisplayType: null
        IsHidden: false
        IsPrimary: false
        IsReadOnly: false
        Sequence: 1
        Attribute:
          Id: AttributeId
          Name: AttributeName
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
