openapi: 3.2.0
info:
  title: X-Author Playbook API
  version: v1
  description: 'Provides API endpoints for managing playbooks associated with a contract.

    Supports retrieving available playbooks, playbook rules, and matched playbooks based on contract metadata.'
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Playbook
  description: 'Provides API endpoints for managing playbooks associated with a contract.

    Supports retrieving available playbooks, playbook rules, and matched playbooks based on contract metadata.'
paths:
  /api/xauthor/v1/contracts/{contractId}/playbooks:
    get:
      tags:
      - Playbook
      summary: Get the list of playbooks based upon contract type, source and legal entity.
      parameters:
      - name: contractId
        in: path
        description: The Id of the contract
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The Id of the contract
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.Playbook'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.Playbook'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.Playbook'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/match:
    get:
      tags:
      - Playbook
      summary: Retrieves the list of matched available playbooks for the specified contract.
      parameters:
      - name: contractId
        in: path
        description: The unique identifier of the contract.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the contract.
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookMatchDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookMatchDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookMatchDetails'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/rules:
    get:
      tags:
      - Playbook
      summary: Get the list of rules matched for the playbook based upon contract type, source and legal entity.
      parameters:
      - name: playbookId
        in: path
        description: The Id of the playbook
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The Id of the playbook
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookRuleDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookRuleDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookRuleDetails'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.AI.Redline.Playbook:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        contractType:
          type:
          - string
          - 'null'
        intent:
          type:
          - string
          - 'null'
        source:
          type:
          - array
          - 'null'
          items:
            type: string
        legalEntity:
          type:
          - array
          - 'null'
          items:
            type: string
        totalRules:
          type: integer
          format: int32
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseRule:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        clauseName:
          type:
          - string
          - 'null'
        clauseText:
          type:
          - string
          - 'null'
        matchRange:
          type:
          - string
          - 'null'
        displayOrder:
          type: integer
          format: int32
        favorableCriteria:
          type:
          - string
          - 'null'
        unfavorableCriteria:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.DocumentRule:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        matchRange:
          type:
          - string
          - 'null'
        displayOrder:
          type: integer
          format: int32
        favorableCriteria:
          type:
          - string
          - 'null'
        unfavorableCriteria:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.PlaybookRuleDetails:
      type: object
      properties:
        clauseRules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRule'
        documentRules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.DocumentRule'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.PlaybookMatchDetails:
      type: object
      properties:
        matched:
          type: boolean
        playbookId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
