openapi: 3.2.0
info:
  title: Cart - V1 Ramp Line Items API
  version: v1
  description: The Ramp Line Items Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: RampLineItems
  description: The Ramp Line Items Controller
paths:
  /api/cart/v1/carts/{cartId}/items/ramp-lines:
    delete:
      tags:
      - RampLineItems
      summary: Delete ramp line items
      description: Deletes the ramp line for a given cart ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: A list of ramp lines with ID
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    post:
      tags:
      - RampLineItems
      summary: Create mass ramp lines
      description: Creates mass ramp lines for the given cartId
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.MassPriceRampLineRequest'
            example:
              LineItems:
              - string
              RampPeriods:
              - StartDate: '2025-05-27T18:36:54.836+00:00'
                EndDate: '2025-05-27T18:36:54.836+00:00'
                Ramps: string
                TermInMonths: 0
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.MassPriceRampLineRequest'
            example:
              LineItems:
              - string
              RampPeriods:
              - StartDate: '2025-05-27T18:36:54.836+00:00'
                EndDate: '2025-05-27T18:36:54.836+00:00'
                Ramps: string
                TermInMonths: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.MassPriceRampLineRequest'
            example:
              LineItems:
              - string
              RampPeriods:
              - StartDate: '2025-05-27T18:36:54.836+00:00'
                EndDate: '2025-05-27T18:36:54.836+00:00'
                Ramps: string
                TermInMonths: 0
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    put:
      tags:
      - RampLineItems
      summary: Update ramp line items
      description: Updates ramp line items for a given cart ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: A list of line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 2
              LineNumber: 2
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 2
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-2
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge2-id
              Name: product1-charge2-name
            - HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 3
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: ''
              PricingStatus: Pending
              PrimaryLineNumber: 3
              Quantity: 100
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-3
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product2-charge3-id
              Name: product2-charge3-name
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/items/{itemId}/auto-ramps:
    post:
      tags:
      - RampLineItems
      summary: Add ramp line items to the cart line item
      description: Creates ramp line items for the given cartId and lineItemId parameters.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique identifier of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: The addRampLineRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AutoRamplinesRequest'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/items/{itemId}/ramp-lines:
    delete:
      tags:
      - RampLineItems
      summary: Delete a ramp line item
      description: Deletes a ramp line identified by cart ID and line item ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique ramp line item identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Ramp line with ID
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    post:
      tags:
      - RampLineItems
      summary: Add a line item to a ramp line
      description: Adds a ramp line item to the given cart ID and line item ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The unique identifier of the ramp line item
        required: true
        schema:
          type: string
      requestBody:
        description: The ramp line item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    put:
      tags:
      - RampLineItems
      summary: Update a ramp line item
      description: Updates a single ramp line item for the given cart ID and line item ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The ramp line number ID
        required: true
        schema:
          type: string
      requestBody:
        description: The ramp line item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
            example:
              HasIncentives: false
              IsPrimaryLine: true
              IsPrimaryRampLine: true
              ItemSequence: 1
              LineNumber: 1
              LineType: Product/Service
              PriceGroup: Price Ramp
              PricingStatus: Pending
              PrimaryLineNumber: 1
              Quantity: 200
              SellingTerm: 1
              Product:
                ExcludeFromSitemap: false
                HasAttributes: false
                HasDefaults: false
                HasOptions: false
                HasSearchAttributes: false
                IsActive: false
                IsCustomizable: false
                IsTabViewEnabled: false
                Id: product-1
              PriceList:
                DisableCurrencyAdjustment: false
                IsActive: false
                Id: price-list-id
              Id: product1-charge1-id
              Name: product1-charge1-name
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/items/{itemId}/ramp-lines/split:
    put:
      tags:
      - RampLineItems
      summary: Splits a ramp line item into multiple periods
      description: Splits a single ramp line item for the given cart ID and line item ID into multiple periods based on the split configuration.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: The ramp line item ID to be split
        required: true
        schema:
          type: string
      requestBody:
        description: The split configuration containing number of splits and period details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.SplitPriceRampRequest'
            example:
              NoOfSplits: 3
              SplitPeriods:
              - StartDate: '2026-01-01T00:00:00'
                EndDate: '2026-04-30T00:00:00'
              - StartDate: '2026-05-01T00:00:00'
                EndDate: '2026-08-31T00:00:00'
              - StartDate: '2026-09-01T00:00:00'
                EndDate: '2026-12-31T00:00:00'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.SplitPriceRampRequest'
            example:
              NoOfSplits: 3
              SplitPeriods:
              - StartDate: '2026-01-01T00:00:00'
                EndDate: '2026-04-30T00:00:00'
              - StartDate: '2026-05-01T00:00:00'
                EndDate: '2026-08-31T00:00:00'
              - StartDate: '2026-09-01T00:00:00'
                EndDate: '2026-12-31T00:00:00'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.SplitPriceRampRequest'
            example:
              NoOfSplits: 3
              SplitPeriods:
              - StartDate: '2026-01-01T00:00:00'
                EndDate: '2026-04-30T00:00:00'
              - StartDate: '2026-05-01T00:00:00'
                EndDate: '2026-08-31T00:00:00'
              - StartDate: '2026-09-01T00:00:00'
                EndDate: '2026-12-31T00:00:00'
        required: true
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/ramp-periods:
    post:
      tags:
      - RampLineItems
      summary: Generate ramp periods
      description: Generate the ramp periods for the given cart ID
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.GenerateMassPriceRampRequest'
            example:
              Frequency: string
              Term: 0
              StartDate: '2023-01-01T00:00:00'
              TermFrequency: string
              EndDate: '2024-12-31T00:00:00'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.GenerateMassPriceRampRequest'
            example:
              Frequency: string
              Term: 0
              StartDate: '2023-01-01T00:00:00'
              TermFrequency: string
              EndDate: '2024-12-31T00:00:00'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.MassRampLineItemRequests.GenerateMassPriceRampRequest'
            example:
              Frequency: string
              Term: 0
              StartDate: '2023-01-01T00:00:00'
              TermFrequency: string
              EndDate: '2024-12-31T00:00:00'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Platform.Metadata.Client.Models.ObjectMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        isProtected:
          type: boolean
        objectType:
          $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Enums.ObjectType'
        isDeprecated:
          type: boolean
        isShared:
          type: boolean
        isDataCacheEnabled:
          type: boolean
        isTrackingEnabled:
          type: boolean
        isAllowOwnerScope:
          type: boolean
        category:
          type:
          - string
          - 'null'
        fieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.FieldMetadata'
        internalRuntimeAliasFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.FieldMetadata'
        internalPrecomputedAliasFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.FieldMetadata'
        picklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.PicklistMetadata'
        dependentPicklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.DataStore.Metadata.Contracts.Models.DependentPicklistMetadata'
        complexFieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.ComplexFieldMetadata'
        aliasFieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.AliasFieldMetadata'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        hasCurrencyFields:
          type: boolean
          readOnly: true
      additionalProperties: false
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Client.Context.Models.ClientContext:
      type: object
      properties:
        organizationId:
          type:
          - string
          - 'null'
        organizationFriendlyId:
          type:
          - string
          - 'null'
        userId:
          type:
          - string
          - 'null'
        authToken:
          type:
          - string
          - 'null'
        externalId:
          type:
          - string
          - 'null'
        instanceUrl:
          type:
          - string
          - 'null'
          readOnly: true
        guestSessionId:
          type:
          - string
          - 'null'
        onBehalfUser:
          type:
          - string
          - 'null'
          readOnly: true
        origin:
          type:
          - string
          - 'null'
          readOnly: true
        referrer:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        ProductOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        ProductAttributeGroupMemberIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        RootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        OptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        FeatureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.DataStore.Metadata.Contracts.Models.ControllingAndDependentPicklistEntry:
      type: object
      properties:
        controllingPicklistEntry:
          type:
          - string
          - 'null'
        dependentPicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.DataStore.Metadata.Contracts.Models.DependentPicklistEntry'
      additionalProperties: false
    Conga.Revenue.Cart.Common.Models.LDFeatureFlag.CartLDFeatureFlag:
      type: object
      properties:
        isCreateNewCRForCompletedCREnabled:
          type:
          - boolean
          - 'null'
        isCartHistogramMetricsEnabled:
          type: boolean
        featureFlags:
          type:
          - object
          - 'null'
          additionalProperties:
            type: boolean
      additionalProperties: false
    Conga.Platform.Common.Models.DataType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      type: integer
      format: int32
    Conga.Revenue.Actors.Messages.SplitPeriod:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
      additionalProperties: false
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetLineItem:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        agreementLineItemId:
          type:
          - string
          - 'null'
        adjustedPrice:
          type:
          - number
          - 'null'
          format: double
        allowedActions:
          type:
          - array
          - 'null'
          items:
            type: string
        assetARR:
          type:
          - number
          - 'null'
          format: double
        assetCode:
          type:
          - string
          - 'null'
        assetMRR:
          type:
          - number
          - 'null'
          format: double
        assetNumber:
          type:
          - string
          - 'null'
        assetStatus:
          type:
          - string
          - 'null'
        assetTCV:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoRenewal:
          type:
          - boolean
          - 'null'
        availableBalance:
          type:
          - number
          - 'null'
          format: double
        baseCost:
          type:
          - number
          - 'null'
          format: double
        baseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        basePrice:
          type:
          - number
          - 'null'
          format: double
        basePriceMethod:
          type:
          - string
          - 'null'
        billingDayOfMonth:
          type:
          - number
          - 'null'
          format: double
        billingEndDate:
          type:
          - string
          - 'null'
          format: date-time
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        billingStartDate:
          type:
          - string
          - 'null'
          format: date-time
        billingThroughDate:
          type:
          - string
          - 'null'
          format: date-time
        businessLineItemId:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        businessObjectType:
          type:
          - string
          - 'null'
        cancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        chargeGroupId:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        currentContractStartDate:
          type:
          - string
          - 'null'
          format: date-time
        currentContractTerm:
          type:
          - number
          - 'null'
          format: double
        currentContractUnitPrice:
          type:
          - number
          - 'null'
          format: double
        currentContractValue:
          type:
          - number
          - 'null'
          format: double
        deltaPrice:
          type:
          - number
          - 'null'
          format: double
        deltaQuantity:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        extendedCost:
          type:
          - number
          - 'null'
          format: double
        extendedDescription:
          type:
          - string
          - 'null'
        extendedPrice:
          type:
          - number
          - 'null'
          format: double
        frequency:
          type:
          - string
          - 'null'
        hasAttributes:
          type:
          - boolean
          - 'null'
        hasOptions:
          type:
          - boolean
          - 'null'
        hideInvoiceDisplay:
          type:
          - boolean
          - 'null'
        initalActivationDate:
          type:
          - string
          - 'null'
          format: date-time
        isHistory:
          type: boolean
        isInActive:
          type:
          - boolean
          - 'null'
        isOptionRollupLine:
          type:
          - boolean
          - 'null'
        isPrimaryLine:
          type:
          - boolean
          - 'null'
        isPrimaryRampLine:
          type:
          - boolean
          - 'null'
        isPrimaryService:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        isRenewalPending:
          type:
          - boolean
          - 'null'
        isRenewed:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        itemSequence:
          type:
          - integer
          - 'null'
          format: int32
        lastRenewEndDate:
          type:
          - string
          - 'null'
          format: date-time
        lineNumber:
          type:
          - integer
          - 'null'
          format: int32
        lineType:
          type:
          - string
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        mustUpgrade:
          type:
          - boolean
          - 'null'
        netPrice:
          type:
          - number
          - 'null'
          format: double
        netUnitPrice:
          type:
          - number
          - 'null'
          format: double
        nextRenewalEndDate:
          type:
          - string
          - 'null'
          format: date-time
        optionCost:
          type:
          - number
          - 'null'
          format: double
        optionPrice:
          type:
          - number
          - 'null'
          format: double
        originalStartDate:
          type:
          - string
          - 'null'
          format: date-time
        parentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        priceGroup:
          type:
          - string
          - 'null'
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        primaryLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        productType:
          type:
          - string
          - 'null'
        purchaseDate:
          type:
          - string
          - 'null'
          format: date-time
        purchaseId:
          type:
          - string
          - 'null'
        quantity:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentType:
          type:
          - string
          - 'null'
        renewalDate:
          type:
          - string
          - 'null'
          format: date-time
        renewalFrequency:
          type:
          - string
          - 'null'
        renewalTerm:
          type:
          - number
          - 'null'
          format: double
        sellingFrequency:
          type:
          - string
          - 'null'
        sellingTerm:
          type:
          - number
          - 'null'
          format: double
        sellingUom:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        taxable:
          type:
          - boolean
          - 'null'
        taxInclusive:
          type:
          - boolean
          - 'null'
        term:
          type:
          - number
          - 'null'
          format: double
        totalBalance:
          type:
          - number
          - 'null'
          format: double
        totalQuantity:
          type:
          - number
          - 'null'
          format: double
        proposalId:
          type:
          - string
          - 'null'
        proposalLineItemId:
          type:
          - string
          - 'null'
        Account:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        AssetAttributeValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItemAttribute'
        BillingPlan:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BundleAssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        LegalEntity:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Option:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        PaymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ParentAsset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        PriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ShipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        TaxCode:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        AssetUsagePriceTiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AssetUsagePriceTier'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetUsagePriceTier:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        commitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        flatPrice:
          type:
          - number
          - 'null'
          format: double
        isCommitted:
          type:
          - boolean
          - 'null'
        isIncluded:
          type:
          - boolean
          - 'null'
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        priceAdjustment:
          type:
          - number
          - 'null'
          format: double
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type: integer
          format: int32
        tierEndValue:
          type:
          - number
          - 'null'
          format: double
        tierStartValue:
          type:
          - number
          - 'null'
          format: double
        usageRate:
          type:
          - number
          - 'null'
          format: double
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        PriceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Cart.Manager.Model.DeleteRampLineItemModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.Settings.ApprovalCustomConfig:
      type: object
      properties:
        approvalContextType:
          type:
          - string
          - 'null'
        approvalStatusField:
          type:
          - string
          - 'null'
        childObjectTypes:
          type:
          - string
          - 'null'
        childObjectTypes2:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductConfiguration:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ancestor:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        approvalPreviewStatus:
          type:
          - string
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        billingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        billToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        businessObjectType:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        businessObjectProfile:
          type:
          - string
          - 'null'
        businessObjectRefId:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        contractNumbers:
          type:
          - string
          - 'null'
        couponCodes:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        effectivePriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        expectedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        expectedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        finalizedDate:
          type:
          - string
          - 'null'
          format: date-time
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        activationDate:
          type:
          - string
          - 'null'
          format: date-time
        order:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        owner:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        status:
          type:
          - string
          - 'null'
        proposal:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Proposal'
        parentProposal:
          type:
          - string
          - 'null'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        orderId:
          type:
          - string
          - 'null'
        numberOfItems:
          type: integer
          format: int32
        summaryGroupType:
          type:
          - string
          - 'null'
        useType:
          type:
          - string
          - 'null'
        baseRelationCount:
          type:
          - integer
          - 'null'
          format: int32
        costRollupInfo:
          type:
          - string
          - 'null'
        currentUser:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        intent:
          type:
          - string
          - 'null'
        isPricePending:
          type: boolean
        isTaskPending:
          type: boolean
        isTransient:
          type: boolean
        isValidationPending:
          type: boolean
        lineItemsAwaitingPrice:
          type:
          - string
          - 'null'
        legalEntity:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        parentConfiguration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        primordial:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        purchaseId:
          type:
          - string
          - 'null'
        renewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentType:
          type:
          - string
          - 'null'
        splitCriteriaKey:
          type:
          - string
          - 'null'
        taskCompletedDate:
          type:
          - string
          - 'null'
          format: date-time
        versionNumber:
          type: integer
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Metadata.Client.Models.FieldMetadata:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        dataType:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.DataType'
        defaultValue:
          type:
          - string
          - 'null'
        isProtected:
          type: boolean
        isIndexField:
          type: boolean
        isSortable:
          type: boolean
        isRequired:
          type: boolean
        isUnique:
          type: boolean
        isDeprecated:
          type: boolean
        isCalculated:
          type: boolean
        isAliasField:
          type: boolean
        readAccess:
          type: boolean
        writeAccess:
          type: boolean
        isPropertyLookup:
          type:
          - boolean
          - 'null'
        length:
          type:
          - integer
          - 'null'
          format: int32
        lookupObjectName:
          type:
          - string
          - 'null'
        lookupFilterCriteria:
          type:
          - string
          - 'null'
        dependentPicklistMetadataName:
          type:
          - string
          - 'null'
        picklistName:
          type:
          - string
          - 'null'
        complexMetadataName:
          type:
          - string
          - 'null'
        autoNumberInitialSeed:
          type: integer
          format: int32
        autoNumberPrefix:
          type:
          - string
          - 'null'
        precision:
          type: integer
          format: int32
        scale:
          type: integer
          format: int32
        expression:
          type:
          - string
          - 'null'
        expressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        aliasExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        isPreComputed:
          type:
          - boolean
          - 'null'
        referenceObject:
          type:
          - string
          - 'null'
        targetObject:
          type:
          - string
          - 'null'
        targetField:
          type:
          - string
          - 'null'
        rollupFunction:
          type:
          - string
          - 'null'
        rollupFilterCriteria:
          type:
          - string
          - 'null'
        aliasFieldDefinition:
          type:
          - string
          - 'null'
        aliasFieldMetadataName:
          type:
          - string
          - 'null'
        isRichTextField:
          type: boolean
      additionalProperties: false
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        RelatedPriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Metadata.Client.Models.AliasFieldMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        aliasFieldDefinitionDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Platform.Metadata.Client.Models.AliasFieldDefinitionDetail'
      additionalProperties: false
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ComponentProductName:
          type:
          - string
          - 'null'
        ComponentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Metadata.Client.Enums.ObjectType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Conga.Revenue.Cart.Common.Constants.MessageType:
      enum:
      - 200
      - 204
      - 400
      - 403
      - 404
      - 422
      - 500
      type: integer
      format: int32
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        defaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type:
          - boolean
          - 'null'
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type:
          - boolean
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        modifiableType:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Metadata.Client.Models.AliasFieldDefinitionDetail:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        sequence:
          type: integer
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.TempIncentiveLimitData:
      type: object
      properties:
        configurationId:
          type:
          - string
          - 'null'
        incentiveId:
          type:
          - string
          - 'null'
        limitId:
          type:
          - string
          - 'null'
        limitAppliesTo:
          type:
          - string
          - 'null'
        limitAppliesToValue:
          type:
          - string
          - 'null'
        limitEndDate:
          type:
          - string
          - 'null'
          format: date-time
        limitMetric:
          type:
          - string
          - 'null'
        limitStartDate:
          type:
          - string
          - 'null'
          format: date-time
        usedValue:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        isRequired:
          type:
          - boolean
          - 'null'
        lookupObjectName:
          type:
          - string
          - 'null'
        pickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        type:
          type:
          - string
          - 'null'
        helpText:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        autoCascadeQuantity:
          type:
          - boolean
          - 'null'
        autoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        autoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoUpdateQuantity:
          type:
          - boolean
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        contractItemNumber:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        contractPrice:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        defaultPriceDatasource:
          type:
          - string
          - 'null'
        defaultPriceFrom:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        defaultQuantityDatasource:
          type:
          - string
          - 'null'
        defaultQuantityFrom:
          type:
          - string
          - 'null'
        defaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        disableAssetIntegration:
          type:
          - boolean
          - 'null'
        disableCostModel:
          type:
          - boolean
          - 'null'
        disableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableAutoRampCreation:
          type:
          - boolean
          - 'null'
        enableCommitment:
          type:
          - boolean
          - 'null'
        enableRampCreation:
          type:
          - boolean
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        frequency:
          type:
          - string
          - 'null'
        hasCriteria:
          type:
          - boolean
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        isProductActive:
          type:
          - boolean
          - 'null'
        isTaxable:
          type:
          - boolean
          - 'null'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        isQuantityReadOnly:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productDescription:
          type:
          - string
          - 'null'
        productFamily:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
          - boolean
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedAdjustmentAmountSourceId:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPercent:
          type:
          - number
          - 'null'
          format: double
        relatedPercentAppliesTo:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        sellingUomId:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        RelatedPriceListItemsTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedPriceListItem'
        relatedItemId:
          type:
          - string
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        taxCodeId:
          type:
          - string
          - 'null'
        taxInclusive:
          type:
          - boolean
          - 'null'
        type:
          type:
          - string
          - 'null'
        relatedAdjustmentSource:
          type:
          - string
          - 'null'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Feature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.DataStore.Metadata.Contracts.Models.DependentPicklistEntry:
      type: object
      properties:
        value:
          type:
          - string
          - 'null'
        displayText:
          type:
          - string
          - 'null'
        sequence:
          type: integer
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Actors.Messages.SplitPriceRampRequest:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        noOfSplits:
          type: integer
          format: int32
        splitPeriods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Actors.Messages.SplitPeriod'
        cartId:
          type:
          - string
          - 'null'
        errorDetail:
          type:
          - string
          - 'null'
        additionalDetails: {}
        isRestoreRequest:
          type: boolean
        startSyncToCrmOnPriceComplete:
          type: boolean
        cart:
          $ref: '#/components/schemas/Conga.Revenue.Cart.Common.Models.ProductConfigurationModel'
        cartConfigurationSettings:
          $ref: '#/components/schemas/Conga.Revenue.Cart.Common.Messages.Cart.CartConfigurationSettings'
        cartLDFeatureFlag:
          $ref: '#/components/schemas/Conga.Revenue.Cart.Common.Models.LDFeatureFlag.CartLDFeatureFlag'
        pricingLDFeatureFlag:
          $ref: '#/components/schemas/Conga.Revenue.Cart.Common.Models.LDFeatureFlag.PricingLDFeatureFlag'
        cartMetadata:
          $ref: '#/components/schemas/Conga.Revenue.Cart.Common.Messages.Cart.CartMetadata'
        traceContext:
          type:
          - string
          - 'null'
        propertyBag:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        spanContext:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        isDebuggerEnabled:
          type: boolean
        context:
          $ref: '#/components/schemas/Conga.Platform.Client.Context.Models.ClientContext'
      additionalProperties: false
    Conga.Revenue.Entities.ProductAttributeGroup:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        ProductTranslation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupTranslation'
        attributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Proposal:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Actors.Models.RampPeriod:
      type: object
      properties:
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        ramps:
          type:
          - string
          - 'null'
        termInMonths:
          type:
          - number
          - 'null'
          format: double
        billingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
      additionalProperties: false
    Conga.Revenue.Entities.LineItem:
      type: object
      properties:
        aboAction:
          type:
          - string
          - 'null'
        addedBy:
          type:
          - string
          - 'null'
        addedByRuleInfo:
          type:
          - string
          - 'null'
        adHocGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        adjustedPrice:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowableAction:
          type:
          - string
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        allowRemoval:
          type:
          - boolean
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        assetQuantity:
          type:
          - number
          - 'null'
          format: double
        isAutoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        baseCost:
          type:
          - number
          - 'null'
          format: double
        baseCostOverride:
          type:
          - number
          - 'null'
          format: double
        baseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        baseExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        basePrice:
          type:
          - number
[...]
