openapi: 3.2.0
info:
  title: Administration Product Attribute Groups API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Product Attribute Groups
paths:
  /products/{ParentId}/attribute-groups:
    delete:
      tags:
      - Product Attribute Groups
      summary: Delete product attribute groups
      description: Deletes one or more attribute groups associated with the product ID provided in the parameter. The product can be standalone, bundle or an option.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Attribute Groups
      summary: Retrieve product attribute groups
      description: Retrieves the attribute groups for a given product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Attribute Groups
      summary: Update product attribute groups
      description: Updates one or more product attribute groups.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              AttributeGroup:
                Id: AttributeGroup-Id
                Name: AttributeGroup-Name
              FieldUpdateCriteriaIds: '["FieldExpressionId1","FieldExpressionId2"]'
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Product Attribute Groups
      summary: Create product attribute groups
      description: Creates one or more attribute groups to a product. The product can be standalone, bundle or an option.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product attribute groups to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeGroup'
      responses:
        '200':
          description: OK
  /products/{ParentId}/attribute-groups/{Id}:
    delete:
      tags:
      - Product Attribute Groups
      summary: Delete a product attribute group
      description: Deletes a single product attribute group document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product attribute group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Attribute Groups
      summary: Retrieve a product attribute group
      description: Retrieves a single product attribute group document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product attribute group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Attribute Groups
      summary: Update a product attribute group
      description: Updates a single product attribute group document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product attribute group
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the product attribute group
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              AttributeGroup:
                Id: AttributeGroup-Id
                Name: AttributeGroup-Name
              FieldUpdateCriteriaIds: '["FieldExpressionId1","FieldExpressionId2"]'
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ProductAttributeGroup:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AttributeGroup:
          $ref: '#/components/schemas/LookupObject'
        FieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        AttributeGroup:
          Id: AttributeGroup-Id
          Name: AttributeGroup-Name
        FieldUpdateCriteriaIds: '["FieldExpressionId1","FieldExpressionId2"]'
        Sequence: 1
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
