openapi: 3.2.0
info:
  title: Conga Sign Account Package Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountPackageSettings
paths:
  /v1/cs-account/admin/accountSettings/packageSettings:
    patch:
      tags:
      - AccountPackageSettings
      summary: Updates your Backoffice Package settings with any or all changes. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes
      description: Update your Backoffice Package settings with your new settings
      operationId: AccountPackageSettings_AddAccountPackageSettings
      requestBody:
        x-name: accountPackageSettings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPackageSettings'
        required: true
        x-position: 1
      responses:
        '204':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    delete:
      tags:
      - AccountPackageSettings
      summary: Deletes and resets any customized Backoffice Package settings
      description: Deletes any Backoffice Package settings that you may have changed. Your Backoffice Package settings will be returned to their default values
      operationId: AccountPackageSettings_DeleteAccountPackageSettings
      responses:
        '204':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountPackageSettings
      summary: Retrieves a list of all your current Backoffice Package Settings
      description: Retrieves your Backoffice Package settings
      operationId: AccountPackageSettings_GetAccountPackageSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPackageSettings'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    AccountPackageSettings:
      type: object
      description: This class contains properties for the Account Package Settings
      additionalProperties: false
      properties:
        ada:
          type:
          - boolean
          - 'null'
          description: Determines if ADA (Americans with Disabilities Act) settings are enabled.
        declineButton:
          type:
          - boolean
          - 'null'
          description: Specifies whether the decline button is visible to users.
        defaultTimeBasedExpiry:
          type:
          - boolean
          - 'null'
          description: Indicates if the default expiration is based on time.
        disableDeclineOther:
          type:
          - boolean
          - 'null'
          description: Determines if other decline options are disabled.
        disableDownloadForUncompletedPackage:
          type:
          - boolean
          - 'null'
          description: Specifies if downloading is disabled for packages that are not completed.
        disableFirstInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Indicates if the first in-person affidavit requirement is disabled.
        disableInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Specifies whether in-person affidavit requirements are disabled.
        disableOptOutButton:
          type:
          - boolean
          - 'null'
          description: Indicates if the opt-out button is disabled.
        disableSecondInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Indicates if the second in-person affidavit requirement is disabled.
        enforceCaptureSignature:
          type:
          - boolean
          - 'null'
          description: Determines if capturing signatures is enforced.
        extractAcroFields:
          type:
          - boolean
          - 'null'
          description: Specifies if Acrobat form fields should be extracted.
        extractTextTags:
          type:
          - boolean
          - 'null'
          description: Indicates if text tags should be extracted.
        fontSize:
          type:
          - integer
          - 'null'
          description: 'Specify the font size used for signatures. (Value range: 7-14)'
          format: int32
        geolocation:
          type:
          - boolean
          - 'null'
          description: Indicates if geolocation is enabled.
        globalActionsConfirm:
          type:
          - boolean
          - 'null'
          description: Specifies if global actions require confirmation.
        globalActionsDownload:
          type:
          - boolean
          - 'null'
          description: Determines if global download actions are allowed.
        globalActionsHideEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Indicates if the evidence summary should be hidden in global actions.
        globalActionsSaveAsLayout:
          type:
          - boolean
          - 'null'
          description: Specifies if saving as layout is enabled for global actions.
        handDrawnSignatureStyle:
          type:
          - string
          - 'null'
          description: Specifies the hand-drawn signature style.
        hideCaptureText:
          type:
          - boolean
          - 'null'
          description: Determines if the capture text option is hidden.
        hideLanguageDropdown:
          type:
          - boolean
          - 'null'
          description: Indicates if the language dropdown should be hidden.
        hidePackageOwnerInPerson:
          type:
          - boolean
          - 'null'
          description: Specifies if the package owner's in-person view is hidden.
        hideWatermark:
          type:
          - boolean
          - 'null'
          description: Determines if watermarks are hidden.
        inPerson:
          type:
          - boolean
          - 'null'
          description: Indicates if in-person signing is enabled.
        leftMenuExpand:
          type:
          - boolean
          - 'null'
          description: Specifies if the left menu should be expanded by default.
        maxAttachmentFiles:
          type:
          - integer
          - 'null'
          description: Specify the maximum number of attachment files allowed. (Value 1-999)
          format: int32
          maximum: 999
          minimum: 1
        navigator:
          type:
          - boolean
          - 'null'
          description: Indicates if the navigator is enabled.
        optionalNavigation:
          type:
          - boolean
          - 'null'
          description: Determines if optional navigation is enabled.
        progressBar:
          type:
          - boolean
          - 'null'
          description: Indicates if the progress bar is displayed.
        showNseHelp:
          type:
          - boolean
          - 'null'
          description: Indicates if NSE (New Signer Experience) help is shown.
        showNseLogoInIframe:
          type:
          - boolean
          - 'null'
          description: Specifies if the NSE logo is shown in iframes.
        showNseOverview:
          type:
          - boolean
          - 'null'
          description: Determines if the NSE overview is displayed.
        textAlignment:
          type:
          - string
          - 'null'
          description: Text alignment can be (left, right, center)
        timestampOnSignature:
          type:
          - boolean
          - 'null'
          description: Indicates if the timestamp should be included on the signature.
        title:
          type:
          - boolean
          - 'null'
          description: Indicates if the title is displayed.
        typedSignatureStyle:
          type:
          - string
          - 'null'
          description: Specifies the typed signature style.
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
