openapi: 3.2.0
info:
  title: Administration Product Option Prices API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Product Option Prices
paths:
  /product-option-prices:
    delete:
      tags:
      - Product Option Prices
      summary: Delete product option prices
      description: Deletes multiple product option prices.
      requestBody:
        description: The list of product option prices to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Option Prices
      summary: Retrieve product option prices
      description: Retrieves the collection of product option prices.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Option Prices
      summary: Update product option prices
      description: Updates multiple product option prices.
      requestBody:
        description: The list of product option prices with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Sequence: 1
              AdjustmentAmount: 10
              AdjustmentType: Discount Amount
              AllocateGroupAdjustment: true
              AllowManualAdjustment: true
              ChargeType: Standard Price
              PriceList:
                Id: PL-Id
                Name: PL-name
              IsSellingTermReadOnly: true
              IsPriceIncludedInBundle: true
              IsQuantityReadOnly: true
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Product Option Prices
      summary: Create product option prices
      description: Creates multiple product option prices.
      requestBody:
        description: The list of product option prices to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductOptionPrice'
      responses:
        '200':
          description: OK
  /product-option-prices/{Id}:
    delete:
      tags:
      - Product Option Prices
      summary: Delete a product option price
      description: Deletes a single product option price by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product option price to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Option Prices
      summary: Retrieve a product option price
      description: Retrieves a single product option price by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product option price
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Option Prices
      summary: Update a product option price
      description: Updates a single product option price.
      parameters:
      - name: Id
        in: path
        description: The identifier of the product option price to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the product option price
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Sequence: 1
              AdjustmentAmount: 10
              AdjustmentType: Discount Amount
              AllocateGroupAdjustment: true
              AllowManualAdjustment: true
              ChargeType: Standard Price
              PriceList:
                Id: PL-Id
                Name: PL-name
              IsSellingTermReadOnly: true
              IsPriceIncludedInBundle: true
              IsQuantityReadOnly: true
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ProductOptionPrice:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentType:
          type:
          - string
          - 'null'
        AllocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        AllowManualAdjustment:
          type:
          - boolean
          - 'null'
        ChargeType:
          type:
          - string
          - 'null'
        ContractItemNumber:
          type:
          - string
          - 'null'
        ContractPrice:
          $ref: '#/components/schemas/CurrencyField'
        HideInvoiceDisplay:
          type:
          - boolean
          - 'null'
        IsQuantityReadOnly:
          type:
          - boolean
          - 'null'
        IsSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        IsPriceIncludedInBundle:
          type:
          - boolean
          - 'null'
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        PriceOverride:
          $ref: '#/components/schemas/CurrencyField'
        ProductOptionComponent:
          $ref: '#/components/schemas/LookupObject'
        RollupPriceMethod:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        Currency:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Sequence: 1
        AdjustmentAmount: 10
        AdjustmentType: Discount Amount
        AllocateGroupAdjustment: true
        AllowManualAdjustment: true
        ChargeType: Standard Price
        PriceList:
          Id: PL-Id
          Name: PL-name
        IsSellingTermReadOnly: true
        IsPriceIncludedInBundle: true
        IsQuantityReadOnly: true
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
