openapi: 3.2.0
info:
  title: X-Author Log API
  version: v1
  description: This class contains APIs for application logs.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Log
  description: This class contains APIs for application logs.
paths:
  /api/xauthor/v1/logs:
    post:
      tags:
      - Log
      summary: Applications exception logging.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The application logging
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ApplicationLogging'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ApplicationLogging'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ApplicationLogging'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ApplicationLogging'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/logs/customMetrics:
    post:
      tags:
      - Log
      summary: To Log the custom metrics for the XA user
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: contains the info for XA version - Advance/Legacy/Desktop
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Controller.CustomMetricsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Controller.CustomMetricsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Controller.CustomMetricsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Controller.CustomMetricsRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Model.ApplicationLogging:
      type: object
      properties:
        exceptionlogs:
          type:
          - string
          - 'null'
        userName:
          type:
          - string
          - 'null'
        organization:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.Controller.CustomMetricsRequest:
      type: object
      properties:
        xaVersion:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
