openapi: 3.2.0
info:
  title: Administration Attribute Constraint Rule Entries API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attribute Constraint Rule Entries
paths:
  /attribute-constraint-rules/{ParentId}/entries:
    delete:
      tags:
      - Attribute Constraint Rule Entries
      summary: Delete AttributeConstraintRuleEntries
      description: Deletes multiple AttributeConstraintRuleEntries.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The list of AttributeConstraintRuleEntries to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Constraint Rule Entries
      summary: Retrieve AttributeConstraintRuleEntries
      description: Retrieves the list of AttributeConstraintRuleEntries.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter array
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort string
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of entries to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The array of includes
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Constraint Rule Entries
      summary: Update AttributeConstraintRuleEntries
      description: Updates multiple AttributeConstraintRuleEntries.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The list of untyped AttributeConstraintRuleEntries to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Attribute Constraint Rule Entries
      summary: Create AttributeConstraintRuleEntries
      description: Creates multiple AttributeConstraintRuleEntries.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The list of AttributeConstraintRuleEntries to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRuleEntry'
      responses:
        '200':
          description: OK
  /attribute-constraint-rules/{ParentId}/entries/export:
    get:
      tags:
      - Attribute Constraint Rule Entries
      summary: Get the list of AttributeConstraintRuleEntries as a CSV file.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
  /attribute-constraint-rules/{ParentId}/entries/import:
    post:
      tags:
      - Attribute Constraint Rule Entries
      summary: Create AttributeConstraintRuleEntries using a CSV file.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      requestBody:
        description: CSV file constaining the list of AttributeConstraintRuleEntries to create
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '200':
          description: OK
  /attribute-constraint-rules/{ParentId}/entries/{id}:
    delete:
      tags:
      - Attribute Constraint Rule Entries
      summary: Delete an AttributeConstraintRuleEntry
      description: Deletes an AttributeConstraintRuleEntry.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the AttributeConstraintRuleEntry to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Constraint Rule Entries
      summary: Retrieve an AttributeConstraintRuleEntry
      description: Retrieves a single AttributeConstraintRuleEntry by ID.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the AttributeConstraintRuleEntry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Constraint Rule Entries
      summary: Update an AttributeConstraintRuleEntry
      description: Updates an existing AttributeConstraintRuleEntry.
      parameters:
      - name: ParentId
        in: path
        description: The parent identifier
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the AttributeConstraintRuleEntry to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated AttributeConstraintRuleEntry
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttributeConstraintRuleEntry:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AttributeConstraintRule:
          $ref: '#/components/schemas/LookupObject'
        ConditionAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConditionAttribute'
        ActionIntent:
          type:
          - string
          - 'null'
        ActionScope:
          type:
          - string
          - 'null'
        ActionProduct:
          $ref: '#/components/schemas/LookupObject'
        ActionProductGroup:
          $ref: '#/components/schemas/LookupObject'
        ActionProductFamily:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        TargetFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TargetField'
      additionalProperties: {}
    ConditionAttribute:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Operator:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
      additionalProperties: false
    TargetField:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        FieldValue:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
