openapi: 3.2.0
info:
  title: Asset Actions API
  version: 1.0.0
  description: Controller to manage the asset action(s)
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AssetActions
  description: Controller to manage the asset action(s)
paths:
  /api/asset/v1/assets/{cartId}/change:
    post:
      tags:
      - AssetActions
      summary: Change a cart's assets
      description: Changes the list of assets provided for a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of asset IDs to change
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/change-configuration:
    post:
      tags:
      - AssetActions
      summary: Configure an asset
      description: Changes the configuration of an asset provided for a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Asset Change Config Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/change-quantity:
    post:
      tags:
      - AssetActions
      summary: Change quantity
      description: Updates the quantity characteristic of assets in a given cart's asset list. This API updates the associated or implied quantity that any asset has. The AssetChangeQuantityRequest request parameter lists items the API can act on. You can change the quantities of multiple assets in a single request.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of AssetChangeQuantityRequest parameters
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/renew:
    post:
      tags:
      - AssetActions
      summary: Renew a cart's assets
      description: Renews the listed assets for a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: useAssetPrice
        in: query
        description: Flag for using existing asset price and skipping config/pricing
        schema:
          type: boolean
          default: false
      requestBody:
        description: RenewAssetRequest, containing the asset IDs, renew date, and renew term needed to renew asset records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/restore:
    post:
      tags:
      - AssetActions
      summary: Restore line items
      description: Restores line-item fields to their original values from the asset line item.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of asset restore line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/resume:
    post:
      tags:
      - AssetActions
      summary: Resume assets
      description: Resumes the listed assets.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of AssetResumeRequest parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/suspend:
    post:
      tags:
      - AssetActions
      summary: Suspend assets
      description: Suspends the listed assets by date. This API suspends an existing asset based on the suspension date. It remains suspended until the suspension end date.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of AssetSuspendRequest parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/swap:
    post:
      tags:
      - AssetActions
      summary: Swap an asset
      description: Swaps an asset with any eligible replacement product, effective a given date.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: assetSwapRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/terminate:
    post:
      tags:
      - AssetActions
      summary: Terminate a cart's assets
      description: Terminates the assets listed for a given cart.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: List of asset IDs to terminate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest'
        required: true
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/asset/v1/assets/{cartId}/termination-date:
    get:
      tags:
      - AssetActions
      summary: Get termination date
      description: Gets the default asset termination date based on the callback.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AccountId:
          type:
          - string
          - 'null'
        BasedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        BasedOnAdjustmentType:
          type:
          - string
          - 'null'
        BasedOnPriceList:
          type:
          - string
          - 'null'
        BasedOnPriceListId:
          type:
          - string
          - 'null'
        ContractNumber:
          type:
          - string
          - 'null'
        CostModel:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DisableCurrencyAdjustment:
          type: boolean
        IsActive:
          type: boolean
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        Type:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        FeatureSetId:
          type:
          - string
          - 'null'
        IncludedFeatures:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        FeatureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        ContentType:
          type:
          - string
          - 'null'
        DetailPage:
          type:
          - string
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsGlobal:
          type:
          - boolean
          - 'null'
        IsLeaf:
          type:
          - boolean
          - 'null'
        IsModifiable:
          type:
          - boolean
          - 'null'
        IsPicklist:
          type:
          - boolean
          - 'null'
        Level:
          type:
          - integer
          - 'null'
          format: int32
        MaxOptions:
          type:
          - number
          - 'null'
          format: double
        MaxTotalQuantityExpression:
          type:
          - string
          - 'null'
        MaxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        MinOptions:
          type:
          - number
          - 'null'
          format: double
        MinTotalQuantityExpression:
          type:
          - string
          - 'null'
        MinTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        ModifiableType:
          type:
          - string
          - 'null'
        OptionGroupId:
          type:
          - string
          - 'null'
        ParentOptionGroupId:
          type:
          - string
          - 'null'
        ProductAttributeGroupId:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        RootOptionGroupId:
          type:
          - string
          - 'null'
        RootSequence:
          type:
          - number
          - 'null'
          format: double
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Type:
          type:
          - string
          - 'null'
        ProductOptionComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        ProductAttributeGroupMember:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        RootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        OptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetSwapRequest:
      type: object
      properties:
        AssetId:
          type:
          - string
          - 'null'
        EffectiveSwapDate:
          type: string
          format: date-time
        ProductId:
          type:
          - string
          - 'null'
        LineItemFieldsToBeUpdated:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Revenue.Entities.AssetUsagePriceTier:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentType:
          type:
          - string
          - 'null'
        CommitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        Dimension1Value:
          type:
          - string
          - 'null'
        Dimension2Value:
          type:
          - string
          - 'null'
        Dimension3Value:
          type:
          - string
          - 'null'
        Dimension4Value:
          type:
          - string
          - 'null'
        Dimension5Value:
          type:
          - string
          - 'null'
        Dimension6Value:
          type:
          - string
          - 'null'
        FlatPrice:
          type:
          - number
          - 'null'
          format: double
        IsCommitted:
          type:
          - boolean
          - 'null'
        IsIncluded:
          type:
          - boolean
          - 'null'
        PeriodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        PeriodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        PriceAdjustment:
          type:
          - number
          - 'null'
          format: double
        PriceOverride:
          type:
          - number
          - 'null'
          format: double
        Sequence:
          type: integer
          format: int32
        TierEndValue:
          type:
          - number
          - 'null'
          format: double
        TierStartValue:
          type:
          - number
          - 'null'
          format: double
        UsageRate:
          type:
          - number
          - 'null'
          format: double
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        PriceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        FeatureId:
          type:
          - string
          - 'null'
        IsIncluded:
          type: boolean
        ProductId:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        ImageURL:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.ProductConfiguration:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Account:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Ancestor:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ApprovalPreviewStatus:
          type:
          - string
          - 'null'
        ApprovalStatus:
          type:
          - string
          - 'null'
        BillingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BusinessObjectType:
          type:
          - string
          - 'null'
        BusinessObjectId:
          type:
          - string
          - 'null'
        BusinessObjectProfile:
          type:
          - string
          - 'null'
        BusinessObjectRefId:
          type:
          - string
          - 'null'
        Comments:
          type:
          - string
          - 'null'
        ContractNumbers:
          type:
          - string
          - 'null'
        CouponCodes:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        ShipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EffectivePriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        ExpectedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        ExpectedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        FinalizedDate:
          type:
          - string
          - 'null'
          format: date-time
        PricingDate:
          type:
          - string
          - 'null'
          format: date-time
        Location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ActivationDate:
          type:
          - string
          - 'null'
          format: date-time
        Order:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Owner:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Status:
          type:
          - string
          - 'null'
        Proposal:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Proposal'
        ParentProposal:
          type:
          - string
          - 'null'
        PriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        OrderId:
          type:
          - string
          - 'null'
        NumberOfItems:
          type: integer
          format: int32
        SummaryGroupType:
          type:
          - string
          - 'null'
        UseType:
          type:
          - string
          - 'null'
        BaseRelationCount:
          type:
          - integer
          - 'null'
          format: int32
        CostRollupInfo:
          type:
          - string
          - 'null'
        CurrentUser:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Intent:
          type:
          - string
          - 'null'
        IsPricePending:
          type: boolean
        IsTaskPending:
          type: boolean
        IsTransient:
          type: boolean
        IsValidationPending:
          type: boolean
        LineItemsAwaitingPrice:
          type:
          - string
          - 'null'
        LegalEntity:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ParentConfiguration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PaymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Primordial:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PurchaseId:
          type:
          - string
          - 'null'
        RenewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RenewalAdjustmentType:
          type:
          - string
          - 'null'
        SplitCriteriaKey:
          type:
          - string
          - 'null'
        TaskCompletedDate:
          type:
          - string
          - 'null'
          format: date-time
        VersionNumber:
          type: integer
          format: int32
      additionalProperties: {}
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        PriceListItemId:
          type:
          - string
          - 'null'
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedChargeType:
          type:
          - string
          - 'null'
        RelatedCustomGroup:
          type:
          - string
          - 'null'
        RelatedCustomField:
          type:
          - string
          - 'null'
        RelatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        RelatedPriceListItemId:
          type:
          - string
          - 'null'
        RelatedProductId:
          type:
          - string
          - 'null'
        RelatedProductFamily:
          type:
          - string
          - 'null'
        RelatedProductGroupId:
          type:
          - string
          - 'null'
        RelationType:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        ProductGroupId:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        AttributeGroupId:
          type:
          - string
          - 'null'
        AttributeId:
          type:
          - string
          - 'null'
        CascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        CascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        DisplayType:
          type:
          - string
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsPrimary:
          type:
          - boolean
          - 'null'
        IsReadOnly:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetResumeRequest:
      type: object
      properties:
        AssetIds:
          type:
          - array
          - 'null'
          items:
            type: string
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        LineItemFieldsToBeUpdated:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AllowCloning:
          type: boolean
        AutoUpdateQuantity:
          type: boolean
        ComponentProductId:
          type:
          - string
          - 'null'
        ConfigType:
          type:
          - string
          - 'null'
        DefaultQuantityExpression:
          type:
          - string
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        InclusionCriteria:
          type:
          - string
          - 'null'
        IsDefault:
          type: boolean
        IsModifiable:
          type: boolean
        IsRequired:
          type: boolean
        MaxQuantityExpression:
          type:
          - string
          - 'null'
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MinQuantityExpression:
          type:
          - string
          - 'null'
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        ParentProductId:
          type:
          - string
          - 'null'
        ProductOptionGroupId:
          type:
          - string
          - 'null'
        RelationshipType:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        ComponentProductName:
          type:
          - string
          - 'null'
        ComponentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AncestorId:
          type:
          - string
          - 'null'
        AncestorPath:
          type:
          - string
          - 'null'
        DefaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        Description:
          type:
          - string
          - 'null'
        ExpandedByDefault:
          type:
          - boolean
          - 'null'
        GuidePage:
          type:
          - string
          - 'null'
        HideAllSearchFilters:
          type:
          - boolean
          - 'null'
        HierarchyId:
          type:
          - string
          - 'null'
        ImageURL:
          type:
          - string
          - 'null'
        IncludeInTotalsView:
          type:
          - boolean
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsLeaf:
          type:
          - boolean
          - 'null'
        IsModifiable:
          type:
          - boolean
          - 'null'
        IsPicklist:
          type:
          - boolean
          - 'null'
        Label:
          type:
          - string
          - 'null'
        LargeImageURL:
          type:
          - string
          - 'null'
        LongDescription:
          type:
          - string
          - 'null'
        MaxOptions:
          type:
          - number
          - 'null'
          format: double
        MaxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        MaxTotalQuantityExpression:
          type:
          - string
          - 'null'
        MinOptions:
          type:
          - number
          - 'null'
          format: double
        MinTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        MinTotalQuantityExpression:
          type:
          - string
          - 'null'
        ModifiableType:
          type:
          - string
          - 'null'
        SearchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Type:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest:
      type: object
      properties:
        AssetIds:
          type:
          - array
          - 'null'
          items:
            type: string
        StartDate:
          type: string
          format: date-time
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        Term:
          type:
          - number
          - 'null'
          format: double
        LineItemFieldsToBeUpdated:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        DefaultValue:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        IsRequired:
          type:
          - boolean
          - 'null'
        LookupObjectName:
          type:
          - string
          - 'null'
        PickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        Type:
          type:
          - string
          - 'null'
        HelpText:
          type:
          - string
          - 'null'
        Precision:
          type:
          - integer
          - 'null'
          format: int32
        Scale:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AllocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        AllowManualAdjustment:
          type:
          - boolean
          - 'null'
        AllowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        AllowProration:
          type:
          - boolean
          - 'null'
        AutoCascadeQuantity:
          type:
          - boolean
          - 'null'
        AutoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        AutoRenew:
          type:
          - boolean
          - 'null'
        AutoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        AutoRenewalType:
          type:
          - string
          - 'null'
        AutoUpdateQuantity:
          type:
          - boolean
          - 'null'
        BillingFrequency:
          type:
          - string
          - 'null'
        BillingRule:
          type:
          - string
          - 'null'
        ChargeType:
          type:
          - string
          - 'null'
        ContractItemNumber:
          type:
          - string
          - 'null'
        ContractNumber:
          type:
          - string
          - 'null'
        ContractPrice:
          type:
          - number
          - 'null'
          format: double
        Cost:
          type:
          - number
          - 'null'
          format: double
        Criteria:
          type:
          - string
          - 'null'
        DefaultPriceDatasource:
          type:
          - string
          - 'null'
        DefaultPriceFrom:
          type:
          - string
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        DefaultQuantityDatasource:
          type:
          - string
          - 'null'
        DefaultQuantityFrom:
          type:
          - string
          - 'null'
        DefaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        Description:
          type:
          - string
          - 'null'
        DisableAssetIntegration:
          type:
          - boolean
          - 'null'
        DisableCostModel:
          type:
          - boolean
          - 'null'
        DisableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EnableAutoRampCreation:
          type:
          - boolean
          - 'null'
        EnableCommitment:
          type:
          - boolean
          - 'null'
        EnableRampCreation:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        Frequency:
          type:
          - string
          - 'null'
        HasCriteria:
          type:
          - boolean
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        IsProductActive:
          type:
          - boolean
          - 'null'
        IsTaxable:
          type:
          - boolean
          - 'null'
        IsTaxInclusive:
          type:
          - boolean
          - 'null'
        IsQuantityReadOnly:
          type:
          - boolean
          - 'null'
        IsSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        IsUsageTierModifiable:
          type:
          - boolean
          - 'null'
        ListPrice:
          type:
          - number
          - 'null'
          format: double
        MaxPrice:
          type:
          - number
          - 'null'
          format: double
        MaxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        MinMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        MinPrice:
          type:
          - number
          - 'null'
          format: double
        MinUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        PriceIncludedInBundle:
          type:
          - boolean
          - 'null'
        PriceListId:
          type:
          - string
          - 'null'
        PriceMethod:
          type:
          - string
          - 'null'
        PriceType:
          type:
          - string
          - 'null'
        PriceUom:
          type:
          - string
          - 'null'
        ProductCode:
          type:
          - string
          - 'null'
        ProductDescription:
          type:
          - string
          - 'null'
        ProductFamily:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        ProductName:
          type:
          - string
          - 'null'
        RollupPriceToBundle:
          type:
          - boolean
          - 'null'
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedAdjustmentAmountSourceId:
          type:
          - string
          - 'null'
        RelatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        RelatedPercent:
          type:
          - number
          - 'null'
          format: double
        RelatedPercentAppliesTo:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        SellingUomId:
          type:
          - string
          - 'null'
        SubType:
          type:
          - string
          - 'null'
        RelatedPriceListItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedPriceListItem'
        RelatedItemId:
          type:
          - string
          - 'null'
        Taxable:
          type:
          - boolean
          - 'null'
        TaxCodeId:
          type:
          - string
          - 'null'
        TaxInclusive:
          type:
          - boolean
          - 'null'
        Type:
          type:
          - string
          - 'null'
        RelatedAdjustmentSource:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        PriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
      additionalProperties: {}
    Conga.Revenue.Entities.Feature:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        FeatureSetId:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest:
      type: object
      properties:
        AssetId:
          type:
          - string
          - 'null'
        Quantity:
          type: number
          format: double
        IsUpdateExistingAsset:
          type: boolean
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        CotermAssetIds:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Conga.Revenue.Entities.ProductAttributeGroup:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AttributeGroupId:
          type:
          - string
          - 'null'
        FieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        AttributeGroupTranslationes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupTranslation'
        AttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.Proposal:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.LineItem:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        ABOAction:
          type:
          - string
          - 'null'
        AddedBy:
          type:
          - string
          - 'null'
        AddedByRuleInfo:
          type:
          - string
          - 'null'
        AdHocGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        GroupSequence:
          type:
          - integer
          - 'null'
          format: int32
        AdjustedPrice:
          type:
          - number
          - 'null'
          format: double
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentType:
          type:
          - string
          - 'null'
        AllocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        AllowableAction:
          type:
          - string
          - 'null'
        AllowManualAdjustment:
          type:
          - boolean
          - 'null'
        AllowProration:
          type:
          - boolean
          - 'null'
        AllowRemoval:
          type:
          - boolean
          - 'null'
        ApprovalStatus:
          type:
          - string
          - 'null'
        AssetQuantity:
          type:
          - number
          - 'null'
          format: double
        IsAutoRenew:
          type:
          - boolean
          - 'null'
        AutoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        AutoRenewalType:
          type:
          - string
          - 'null'
        BaseCost:
          type:
          - number
          - 'null'
          format: double
        BaseCostOverride:
          type:
          - number
          - 'null'
          format: double
        BaseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        BaseExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        BasePrice:
          type:
          - number
          - 'null'
          format: double
        BasePriceOverride:
          type:
          - number
          - 'null'
          format: double
        BasePriceMethod:
          type:
          - string
          - 'null'
        BillingFrequency:
          type:
          - string
          - 'null'
        BaseProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillingRule:
          type:
          - string
          - 'null'
        BillingPlan:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ChargeType:
          type:
          - string
          - 'null'
        ClassificationHierarchy:
          type:
          - string
          - 'null'
        ClassificationHierarchyInfo:
          type:
          - string
          - 'null'
        ClassificationId:
          type:
          - string
          - 'null'
        Comments:
          type:
          - string
          - 'null'
        CommitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        ContractNumbers:
          type:
          - string
          - 'null'
        Cost:
          type:
          - number
          - 'null'
          format: double
        ConfigStatus:
          type:
          - string
          - 'null'
        CopySourceBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        CopySourceNumber:
          type:
          - integer
          - 'null'
          format: int32
        CouponCode:
          type:
          - string
          - 'null'
        IsCustomizable:
          type:
          - boolean
          - 'null'
        IsReadOnly:
          type:
          - boolean
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DeltaPrice:
          type:
          - number
          - 'null'
          format: double
        DeltaQuantity:
          type:
          - number
          - 'null'
          format: double
        DerivedFrom:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        ExtendedCost:
          type:
          - number
          - 'null'
          format: double
        ExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        ExtendedDescription:
          type:
          - string
          - 'null'
        ExtendedQuantity:
          type:
          - number
          - 'null'
          format: double
        FlatOptionPrice:
          type:
          - number
          - 'null'
          format: double
        Frequency:
          type:
          - string
          - 'null'
        GroupAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        Guidance:
          type:
          - string
          - 'null'
        HasAttributes:
          type:
          - boolean
          - 'null'
        HasBaseProduct:
          type:
          - boolean
          - 'null'
        HasDefaults:
          type:
          - boolean
          - 'null'
        HasIncentives:
          type: boolean
        HasOptions:
          type:
          - boolean
          - 'null'
        HasTieredPrice:
          type:
          - boolean
          - 'null'
        Incentive:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        IncentiveAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        IncentiveBasePrice:
          type:
          - number
          - 'null'
          format: double
        IncentiveCode:
          type:
          - string
          - 'null'
        IncentiveExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        IncentiveType:
          type:
          - string
          - 'null'
        IsAssetPricing:
          type:
          - boolean
          - 'null'
        IsCustomPricing:
          type:
          - boolean
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsOptional:
          type:
          - boolean
          - 'null'
        IsOptionRollupLine:
          type:
          - boolean
          - 'null'
        IsPrimaryLine:
          type:
          - boolean
          - 'null'
        IsPrimaryRampLine:
          type:
          - boolean
          - 'null'
        IsQuantityModifiable:
          type:
          - boolean
          - 'null'
        IsSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        IsUsageTierModifiable:
          type:
          - boolean
          - 'null'
        ItemSequence:
          type: integer
          format: int32
        LineNumber:
          type: integer
          format: int32
        LineSequence:
          type:
          - integer
          - 'null'
          format: int32
        LineStatus:
          type:
          - string
          - 'null'
        LineType:
          type:
          - string
          - 'null'
        ListPrice:
          type:
          - number
          - 'null'
          format: double
        MaxPrice:
          type:
          - number
          - 'null'
          format: double
        MaxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        MinMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        MinPrice:
          type:
          - number
          - 'null'
          format: double
        MinUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        NetAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        NetPrice:
          type:
          - number
          - 'null'
          format: double
        NetUnitPrice:
          type:
          - number
          - 'null'
          format: double
        OptionCost:
          type:
          - number
          - 'null'
          format: double
        OptionGroupLabel:
          type:
          - string
          - 'null'
        OptionPrice:
          type:
          - number
          - 'null'
          format: double
        OptionSequence:
          type:
          - integer
          - 'null'
          format: int32
        OrderLineStatus:
          type:
          - string
          - 'null'
        OverrideName:
          type:
          - string
          - 'null'
        ParentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        PriceAdjustment:
          type:
          - number
          - 'null'
          format: double
        PriceAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        PriceAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        PriceAdjustmentType:
          type:
          - string
          - 'null'
        PriceGroup:
          type:
          - string
          - 'null'
        PriceIncludedInBundle:
          type:
          - boolean
          - 'null'
        PriceMethod:
          type:
          - string
          - 'null'
        PriceType:
          type:
          - string
          - 'null'
        PriceUom:
          type:
          - string
          - 'null'
        PricingDate:
          type:
          - string
          - 'null'
          format: date-time
        PricingGuidance:
          type:
          - string
          - 'null'
        PricingStatus:
          type:
          - string
          - 'null'
        PricingSteps:
          type:
          - string
          - 'null'
        Location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PaymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PrimaryLineNumber:
          type: integer
          format: int32
        PrimaryTxnLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        ProductOption:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ProductVersion:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        RelatedPercent:
          type:
          - number
          - 'null'
          format: double
        RelatedPercentAppliesTo:
          type:
          - string
          - 'null'
        Quantity:
          type:
          - number
          - 'null'
          format: double
        RenewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RenewalAdjustmentType:
          type:
          - string
          - 'null'
        RollupPriceMethod:
          type:
          - string
          - 'null'
        RollupPriceToBundle:
          type:
          - boolean
          - 'null'
        ShipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        SellingFrequency:
          type:
          - string
          - 'null'
        SellingTerm:
          type:
          - number
          - 'null'
          format: double
        SellingUom:
          type:
          - string
          - 'null'
        ServiceLocation:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        StatusDetails:
          type:
          - string
          - 'null'
        SummaryGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        IsTaxable:
          type:
          - boolean
          - 'null'
        TaxCode:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        IsTaxInclusive:
          type:
          - boolean
          - 'null'
        Term:
          type:
          - number
          - 'null'
          format: double
        TransferPriceLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        TotalQuantity:
          type:
          - number
          - 'null'
          format: double
        TxnParentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        UnitCostAdjustment:
          type:
          - number
          - 'null'
          format: double
        UnitPriceAdjustmentAuto:
          type:
          - number
          - 'null'
          format: double
        UnitPriceAdjustmentManual:
          type:
          - number
          - 'null'
          format: double
        Uom:
          type:
          - string
          - 'null'
        CategoryHierarchyIds:
          type:
          - string
          - 'null'
        ParentConfiguration:
          type:
          - string
          - 'null'
        CollaborationParentLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        PurchaseId:
          type:
          - string
          - 'null'
        BenefitLineType:
          type:
          - string
          - 'null'
        TargetPrice:
          type:
          - number
          - 'null'
          format: double
        ExpertPrice:
          type:
          - number
          - 'null'
          format: double
        FloorPrice:
          type:
          - number
          - 'null'
          format: double
        ACV:
          type:
          - number
          - 'null'
          format: double
        Attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        Option:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        Configuration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductConfiguration'
        PriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        PriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        RelatedLineItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedLineItem'
        Category:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
        CollaborationRequest:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductTranslation:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Family:
          type:
          - string
          - 'null'
        Language:
          type:
          - string
          - 'null'
        ProductCode:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        TranslationName:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroup:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AttributeMatrixId:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        ThreeColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        TwoColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        AttributeGroupMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupMember'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetLineItemAttribute:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AttributeName:
          type:
          - string
          - 'null'
        AttributeValue:
          type:
          - string
          - 'null'
        AssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest:
      type: object
      properties:
        AssetId:
          type:
          - string
          - 'null'
        EffectiveStartDate:
          type: string
          format: date-time
      additionalProperties: false
    Conga.Revenue.Entities.Category:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AncestorId:
          type:
          - string
          - 'null'
        AncestorPath:
          type:
          - string
          - 'null'
        HierarchyId:
          type:
          - string
          - 'null'
        DefaultSearchCategory:
          type: boolean
        Description:
          type:
          - string
          - 'null'
        ExpandedByDefault:
          type: boolean
        GuidePage:
          type:
          - string
          - 'null'
        HideAllSearchFilters:
          type: boolean
        ImageURL:
          type:
          - string
          - 'null'
        IncludeInTotalsView:
          type: boolean
        IsHidden:
          type: boolean
        IsLeaf:
          type:
          - boolean
          - 'null'
        IsPicklist:
          type: boolean
        Label:
          type:
          - string
          - 'null'
        LargeImageURL:
          type:
          - string
          - 'null'
        LongDescription:
          type:
          - string
          - 'null'
        SearchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        Type:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem:
      type: object
      properties:
        RenewalStartDate:
          type:
          - string
          - 'null'
          format: date-time
        RenewalEndDate:
          type:
          - string
          - 'null'
          format: date-time
        lineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.LineItem'
      additionalProperties: false
    Conga.Revenue.Entities.ProductCategory:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        CategoryId:
          type:
          - string
          - 'null'
        Default:
          type: boolean
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        Modifiable:
          type: boolean
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        ProductId:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        Category:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest:
      type: object
      properties:
        FarthestAssetEndDate:
          type: boolean
        RenewTerm:
          type:
          - integer
          - 'null'
          format: int32
        AssetIds:
          type:
          - array
          - 'null'
          items:
            type: string
        RenewEndDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    Conga.Revenue.Entities.ProductAttributeGroupMember:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AttributeGroupId:
          type:
          - string
          - 'null'
        FieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroup:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        GroupType:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.RelatedLineItem:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        LineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PriceMatrixEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PriceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        RelatedAssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        RelatedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        RelatedExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedCartLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        RelatedQuantity:
          type:
          - number
          - 'null'
          format: double
        RelatedSellingTerm:
          type:
          - number
          - 'null'
          format: double
        RelatedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        RelationType:
          type:
          - string
          - 'null'
        ServiceBasePrice:
          type:
          - number
          - 'null'
          format: double
        UseType:
          type:
          - string
          - 'null'
        WeightageAmount:
          type:
          - number
          - 'null'
          format: double
        WeightagePercent:
          type:
          - number
          - 'null'
          format: double
        WeightageType:
          type:
          - string
          - 'null'
        WeightedNetPrice:
          type:
          - number
          - 'null'
          format: double
        IsSystemCalculated:
          type:
          - boolean
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest:
      type: object
      properties:
        AssetIds:
          type:
          - array
          - 'null'
          items:
            type: string
        AssetTerminationDate:
          type: string
          format: date-time
        LineItemFieldsToBeUpdated:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Revenue.Entities.ProductAttributeMatrixView:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Active:
          type: boolean
        AttributeValueMatrixId:
          type:
          - string
          - 'null'
        Columns:
          type:
          - string
          - 'null'
        Hash:
          type:
          - string
          - 'null'
        Keys:
          type:
          - string
          - 'null'
        ProductAttributeScope:
          type:
          - string
          - 'null'
        ProductId:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupTranslation:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        Language:
          type:
          - string
          - 'null'
        AttributeGroupTranslationName:
          type:
          - string
          - 'null'
        ProductAttributeGroupId:
          type:
          - string
          - 'null'
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.AssetLineItem:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
        AddedBy:
          type:
          - string
          - 'null'
        AgreementId:
          type:
          - string
          - 'null'
        AgreementLineItemId:
          type:
          - string
          - 'null'
        AdjustedPrice:
          type:
          - number
          - 'null'
          format: double
        AllowedActions:
          type:
          - array
          - 'null'
          items:
            type: string
        AssetARR:
          type:
          - number
          - 'null'
          format: double
        AssetCode:
          type:
          - string
          - 'null'
        AssetMRR:
          type:
          - number
          - 'null'
          format: double
        AssetNumber:
          type:
          - string
          - 'null'
        AssetStatus:
          type:
          - string
          - 'null'
        AssetTCV:
          type:
          - number
          - 'null'
          format: double
        ACV:
          type:
          - number
          - 'null'
          format: double
        BaseTCV:
          type:
          - number
          - 'null'
          format: double
        ContractionTCV:
          type:
          - number
          - 'null'
          format: double
        ExpansionTCV:
          type:
          - number
          - 'null'
          format: double
        GRR:
          type:
          - number
          - 'null'
          format: double
        NRR:
          type:
          - number
          - 'null'
          format: double
        AutoRenewalType:
          type:
          - string
          - 'null'
        AutoRenewal:
          type:
          - boolean
          - 'null'
        AvailableBalance:
          type:
          - number
          - 'null'
          format: double
        BaseCost:
          type:
          - number
          - 'null'
          format: double
        BaseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        BasePrice:
          type:
          - number
          - 'null'
          format: double
        BasePriceMethod:
          type:
          - string
          - 'null'
        BillingDayOfMonth:
          type:
          - number
          - 'null'
          format: double
        BillingEndDate:
          type:
          - string
          - 'null'
          format: date-time
        BillingFrequency:
          type:
          - string
          - 'null'
        BillingRule:
          type:
          - string
          - 'null'
        BillingStartDate:
          type:
          - string
          - 'null'
          format: date-time
        BillingThroughDate:
          type:
          - string
          - 'null'
          format: date-time
        BusinessLineItemId:
          type:
          - string
          - 'null'
        BusinessObjectId:
          type:
          - string
          - 'null'
        BusinessObjectType:
          type:
          - string
          - 'null'
        CancelledDate:
          type:
          - string
          - 'null'
          format: date-time
        ChargeGroupId:
          type:
          - string
          - 'null'
        Comments:
          type:
          - string
          - 'null'
        ChargeType:
          type:
          - string
          - 'null'
        CurrentContractStartDate:
          type:
          - string
          - 'null'
          format: date-time
        CurrentContractTerm:
          type:
          - number
          - 'null'
          format: double
        TotalContractTerm:
          type:
          - number
          - 'null'
          format: double
        CurrentContractUnitPrice:
          type:
          - number
          - 'null'
          format: double
        CurrentContractValue:
          type:
          - number
          - 'null'
          format: double
        DeltaPrice:
          type:
          - number
          - 'null'
          format: double
        DeltaQuantity:
          type:
          - number
          - 'null'
          format: double
        Description:
          type:
          - string
          - 'null'
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        ExtendedCost:
          type:
          - number
          - 'null'
          format: double
        ExtendedDescription:
          type:
          - string
          - 'null'
        ExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        Frequency:
          type:
          - string
          - 'null'
        HasAttributes:
          type:
          - boolean
          - 'null'
        HasOptions:
          type:
          - boolean
          - 'null'
        HideInvoiceDisplay:
          type:
          - boolean
          - 'null'
        InitalActivationDate:
          type:
          - string
          - 'null'
          format: date-time
        IsHistory:
          type:
          - boolean
          - 'null'
        IsInActive:
          type:
          - boolean
          - 'null'
        IsOptionRollupLine:
          type:
          - boolean
          - 'null'
        IsPrimaryLine:
          type:
          - boolean
          - 'null'
        IsPrimaryRampLine:
          type:
          - boolean
          - 'null'
        IsPrimaryService:
          type:
          - boolean
          - 'null'
        IsReadOnly:
          type:
          - boolean
          - 'null'
        IsRenewalPending:
          type:
          - boolean
          - 'null'
        IsRenewed:
          type:
          - boolean
          - 'null'
        IsUsageTierModifiable:
          type:
          - boolean
          - 'null'
        ItemSequence:
          type:
          - integer
          - 'null'
          format: int32
        LastRenewEndDate:
          type:
          - string
          - 'null'
          format: date-time
        LineNumber:
          type:
          - integer
          - 'null'
          format: int32
        LineType:
          type:
          - string
          - 'null'
        ListPrice:
          type:
          - number
          - 'null'
          format: double
        MaxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        MinUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        MustUpgrade:
          type:
          - boolean
          - 'null'
        NetPrice:
          type:
          - number
          - 'null'
          format: double
        NetUnitPrice:
          type:
          - number
          - 'null'
          format: double
        NextRenewalEndDate:
          type:
          - string
          - 'null'
          format: date-time
        OptionCost:
          type:
          - number
          - 'null'
          format: double
        OptionPrice:
          type:
          - number
          - 'null'
          format: double
        OriginalStartDate:
          type:
          - string
          - 'null'
          format: date-time
        ParentBundleNumber:
          type:
          - integer
          - 'null'
          format: int32
        PriceGroup:
          type:
          - string
          - 'null'
        PriceIncludedInBundle:
          type:
          - boolean
          - 'null'
        PriceMethod:
          type:
          - string
          - 'null'
        PriceType:
          type:
          - string
          - 'null'
        PriceUom:
          type:
          - string
          - 'null'
        PricingDate:
          type:
          - string
          - 'null'
          format: date-time
        PrimaryLineNumber:
          type:
          - integer
          - 'null'
          format: int32
        ProductType:
          type:
          - string
          - 'null'
        PurchaseDate:
          type:
          - string
          - 'null'
          format: date-time
        PurchaseId:
          type:
          - string
          - 'null'
        Quantity:
          type:
          - number
          - 'null'
          format: double
        RenewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RenewalAdjustmentType:
          type:
          - string
          - 'null'
        RenewalDate:
          type:
          - string
          - 'null'
          format: date-time
        RenewalFrequency:
          type:
          - string
          - 'null'
        RenewalTerm:
          type:
          - number
          - 'null'
          format: double
        SellingFrequency:
          type:
          - string
          - 'null'
        SellingTerm:
          type:
          - number
          - 'null'
          format: double
        SellingUom:
          type:
          - string
          - 'null'
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        Taxable:
          type:
          - boolean
          - 'null'
        TaxInclusive:
          type:
          - boolean
          - 'null'
        Term:
          type:
          - number
          - 'null'
          format: double
        TotalBalance:
          type:
          - number
          - 'null'
          format: double
        TotalQuantity:
          type:
          - number
          - 'null'
          format: double
        ProposalId:
          type:
          - string
          - 'null'
        ProposalLineItemId:
          type:
          - string
          - 'null'
        ProductVersion:
          type:
          - number
          - 'null'
          format: double
        Account:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        AssetAttributeValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItemAttribute'
        BillingPlan:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BillToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        BundleAssetLineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        LegalEntity:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        Option:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        PaymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        PriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ParentAsset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AssetLineItem'
        PriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ShipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        TaxCode:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        AssetUsagePriceTiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AssetUsagePriceTier'
        Attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
      additionalProperties: {}
    Conga.Revenue.Entities.Product:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
[...]
