openapi: 3.2.0
info:
  title: Email Sender API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Email Sender
paths:
  /api/email/v1/emails:
    post:
      tags:
      - Email Sender
      summary: Send an email
      description: Validates and sends an email based on the information provided in the request body and returns a status code in response.
      requestBody:
        description: "Email request information.\n            <ul><li><b>From</b> (EmailAddress,<b> *required</b>): Sender email address object.</li><li><b>FromEmailOption</b> (string, optional): Option (LoggedInUser, OrgWideEmail, or Emailprofile) for sender email.</li><li><b>To</b> (array of EmailAddress,<b> *required</b>): List of recipient email addresses.</li><li><b>Subject</b> (string,<b> *required</b>): Subject of the email.</li><li><b>PlainTextBody</b> (string,<b> *required</b>): Plain text body of the email.</li><li><b>HtmlBody</b> (string, optional): HTML body of the email.</li><li><b>Cc</b> (array of EmailAddress, optional): CC recipients.</li><li><b>Bcc</b> (array of EmailAddress, optional): BCC recipients.</li><li><b>ReplyTo</b> (array of EmailAddress, optional): Reply-to addresses.</li><li><b>Attachments</b> (array, optional): List of attachments. For more information, refer to the Email Attachment details below.</li><li><b>Priority</b> (MailPriority, optional): Email priority. Allowed values: Low, Normal, High.</li><li><b>Headers</b> (object, optional): Custom email headers.</li><li><b>ShouldProcessInbound</b> (boolean, optional): Indicates if inbound processing should occur.</li><li><b>EmailProfileName</b> (string, optional): The name of the email profile to use for sending the email when <b>FromEmailOption</b> is set to <b>Emailprofile</b>.</li></ul>\n            Provide the following details for an email attachment:\n            <ul><li><b>Name</b>: The name of the file. This field is required, and if it contains null value in the request, the API returns an error.</li><li><b>MimeType</b>: MimeType: A string sent along with a file indicating the type of the file (describing the content format, for example, a sound file might be labeled audio/ogg , or an image file image/png). This field is required, and if it contains an invalid or null value in the request, the API returns an error. For more information on supported media type, click [here](https://documentation.conga.com/en/advantage-platform-administration/current/conga-advantage-platform-api-reference/supported-mime-types-and-file-extensions-for-email-apis).</li><li><b>FileContent</b>: Byte array collection of your file. This field is required, and if it contains an invalid or null value in the request, the API returns an error.</li></ul>"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
            example:
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              To:
              - Address: test@conga.com
                DisplayName: Test User
              Subject: Test Subject email from Conga - Local Env
              PlainTextBody: This is PlainTextBody from Conga - Local Env
              HtmlBody: <p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>
              Cc:
              - Address: test@conga.com
                DisplayName: Test User
              Bcc:
              - Address: test@conga.com
                DisplayName: Test User
              ReplyTo:
              - Address: test@conga.com
                DisplayName: Test User
              Attachments:
              - Name: SampleFile.txt
                MimeType: application/octet-stream
                FileData: VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=
                FileContent: null
                File: null
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              OutboundTraceId: null
              EmailProfileName: null
              TrackingOptions:
                ShouldTrackDeliveryStatus: false
                ClientEventName: null
          text/json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
            example:
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              To:
              - Address: test@conga.com
                DisplayName: Test User
              Subject: Test Subject email from Conga - Local Env
              PlainTextBody: This is PlainTextBody from Conga - Local Env
              HtmlBody: <p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>
              Cc:
              - Address: test@conga.com
                DisplayName: Test User
              Bcc:
              - Address: test@conga.com
                DisplayName: Test User
              ReplyTo:
              - Address: test@conga.com
                DisplayName: Test User
              Attachments:
              - Name: SampleFile.txt
                MimeType: application/octet-stream
                FileData: VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=
                FileContent: null
                File: null
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              OutboundTraceId: null
              EmailProfileName: null
              TrackingOptions:
                ShouldTrackDeliveryStatus: false
                ClientEventName: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
            example:
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              To:
              - Address: test@conga.com
                DisplayName: Test User
              Subject: Test Subject email from Conga - Local Env
              PlainTextBody: This is PlainTextBody from Conga - Local Env
              HtmlBody: <p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>
              Cc:
              - Address: test@conga.com
                DisplayName: Test User
              Bcc:
              - Address: test@conga.com
                DisplayName: Test User
              ReplyTo:
              - Address: test@conga.com
                DisplayName: Test User
              Attachments:
              - Name: SampleFile.txt
                MimeType: application/octet-stream
                FileData: VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=
                FileContent: null
                File: null
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              OutboundTraceId: null
              EmailProfileName: null
              TrackingOptions:
                ShouldTrackDeliveryStatus: false
                ClientEventName: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailResponseAPIResponse'
              example:
                Success: true
                Data:
                  Success: true
                  EmailStatusCode: Ok
                  Message: null
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: '''From'' email address domain is invalid.'
                StatusCode: BadRequest
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: InternalServerError
  /api/email/v1/emails/bulk:
    post:
      tags:
      - Email Sender
      summary: Send bulk/mass email
      description: Validates and sends bulk emails based on the information provided in the request body and returns a status code in response.
      requestBody:
        description: Email Message
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailMessage'
            example:
              EmailTemplateId: 1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              EmailRequestWrappers:
              - EmailTemplateParameters:
                  EmailTemplateId: null
                  RecipientType: User
                  RecipientId: 0dcefe40-5256-4459-90b0-6eb3d777bed6
                  ObjectName: TestObjectName
                  RecordId: 85f79954-89b9-4d1f-a3c5-559bf9b89cae
                  TemplateData:
                    DynamicName: TestUserName
                    DynamicLastName: TestUserLastName
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test TO User
                  Cc:
                  - Address: test@conga.com
                    DisplayName: Test CC User
                  Bcc:
                  - Address: test@conga.com
                    DisplayName: Test Bcc User
                  ReplyTo:
                  - Address: test@conga.com
                    DisplayName: Test ReplyTo User
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              Attachments: null
              EmailProfileName: null
          text/json:
            schema:
              $ref: '#/components/schemas/EmailMessage'
            example:
              EmailTemplateId: 1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              EmailRequestWrappers:
              - EmailTemplateParameters:
                  EmailTemplateId: null
                  RecipientType: User
                  RecipientId: 0dcefe40-5256-4459-90b0-6eb3d777bed6
                  ObjectName: TestObjectName
                  RecordId: 85f79954-89b9-4d1f-a3c5-559bf9b89cae
                  TemplateData:
                    DynamicName: TestUserName
                    DynamicLastName: TestUserLastName
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test TO User
                  Cc:
                  - Address: test@conga.com
                    DisplayName: Test CC User
                  Bcc:
                  - Address: test@conga.com
                    DisplayName: Test Bcc User
                  ReplyTo:
                  - Address: test@conga.com
                    DisplayName: Test ReplyTo User
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              Attachments: null
              EmailProfileName: null
          application/*+json:
            schema:
              $ref: '#/components/schemas/EmailMessage'
            example:
              EmailTemplateId: 1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a
              From:
                Address: test@conga.com
                DisplayName: Test User
              FromEmailOption: OrgWideEmail
              EmailRequestWrappers:
              - EmailTemplateParameters:
                  EmailTemplateId: null
                  RecipientType: User
                  RecipientId: 0dcefe40-5256-4459-90b0-6eb3d777bed6
                  ObjectName: TestObjectName
                  RecordId: 85f79954-89b9-4d1f-a3c5-559bf9b89cae
                  TemplateData:
                    DynamicName: TestUserName
                    DynamicLastName: TestUserLastName
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test TO User
                  Cc:
                  - Address: test@conga.com
                    DisplayName: Test CC User
                  Bcc:
                  - Address: test@conga.com
                    DisplayName: Test Bcc User
                  ReplyTo:
                  - Address: test@conga.com
                    DisplayName: Test ReplyTo User
              Priority: Normal
              Headers:
                X-SES-CONFIGURATION-SET: test-config-set
              ShouldProcessInbound: false
              Attachments: null
              EmailProfileName: null
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanNullableAPIResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/email/v1/emails/domain/verify:
    get:
      tags:
      - Email Sender
      summary: Verify an email domain
      description: Checks whether the given domain/subdomain is registered and can be used for sending emails.
      parameters:
      - name: domain
        in: query
        description: 'Domain: The domain to be verified.'
        schema:
          type: string
      - name: subDomain
        in: query
        description: 'SubDomain(optional): The subdomain to be verified.'
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: Verified
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: '''From'' email address domain is invalid.'
                StatusCode: BadRequest
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: InternalServerError
  /api/email/v2/emails/bulk:
    post:
      tags:
      - Email Sender
      summary: Send bulk/mass email using the v2 contract.
      requestBody:
        description: Bulk email request information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEmailV2Request'
            example:
              EmailRequests:
              - ClientReferenceId: client-1
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test User
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: true
                  ClientEventName: bulk-email-event-1
              - ClientReferenceId: null
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test2@conga.com
                    DisplayName: Test User 2
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: false
                  ClientEventName: bulk-email-event-2
          text/json:
            schema:
              $ref: '#/components/schemas/BulkEmailV2Request'
            example:
              EmailRequests:
              - ClientReferenceId: client-1
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test User
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: true
                  ClientEventName: bulk-email-event-1
              - ClientReferenceId: null
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test2@conga.com
                    DisplayName: Test User 2
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: false
                  ClientEventName: bulk-email-event-2
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkEmailV2Request'
            example:
              EmailRequests:
              - ClientReferenceId: client-1
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test@conga.com
                    DisplayName: Test User
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: true
                  ClientEventName: bulk-email-event-1
              - ClientReferenceId: null
                FromEmailOption: LoggedInUser
                EmailTemplateParameters:
                  EmailTemplateId: sample-template-id
                  RecipientType: null
                  RecipientId: null
                  ObjectName: null
                  RecordId: null
                  TemplateData: null
                  RecordDetails: null
                EmailParameters:
                  To:
                  - Address: test2@conga.com
                    DisplayName: Test User 2
                  Cc: []
                  Bcc: []
                  ReplyTo: []
                Priority: Normal
                Headers:
                  X-SES-CONFIGURATION-SET: test-config-set
                ShouldProcessInbound: false
                Attachments: null
                EmailProfileName: null
                TrackingOptions:
                  ShouldTrackDeliveryStatus: false
                  ClientEventName: bulk-email-event-2
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEmailV2ResponseAPIResponse'
              example:
                Success: true
                Data:
                  EmailResults:
                  - ClientReferenceId: client-1
                    EmailSendId: guid1
                  - EmailSendId: guid2
                StatusCode: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: '''From'' email address domain is invalid.'
                StatusCode: BadRequest
        '500':
          description: Internal Server Error
components:
  schemas:
    EmailAddress:
      type: object
      properties:
        Address:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
      additionalProperties: false
    EmailMessage:
      type: object
      properties:
        EmailTemplateId:
          type:
          - string
          - 'null'
        From:
          $ref: '#/components/schemas/EmailAddress'
        FromEmailOption:
          $ref: '#/components/schemas/FromEmailOption'
        EmailRequestWrappers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailRequestWrapper'
        Priority:
          $ref: '#/components/schemas/MailPriority'
        Headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        ShouldProcessInbound:
          type: boolean
        Attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAttachment'
        EmailProfileName:
          type:
          - string
          - 'null'
      additionalProperties: false
    FromEmailOption:
      enum:
      - OrgWideEmail
      - LoggedInUser
      - EmailProfile
      type: string
    EmailRequest:
      type: object
      properties:
        From:
          $ref: '#/components/schemas/EmailAddress'
        FromEmailOption:
          $ref: '#/components/schemas/FromEmailOption'
        To:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        Subject:
          type:
          - string
          - 'null'
        PlainTextBody:
          type:
          - string
          - 'null'
        HtmlBody:
          type:
          - string
          - 'null'
        Cc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        ReplyTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        Attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAttachment'
        Priority:
          $ref: '#/components/schemas/MailPriority'
        Headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        ShouldProcessInbound:
          type: boolean
        OutboundTraceId:
          type:
          - string
          - 'null'
          readOnly: true
        EmailProfileName:
          type:
          - string
          - 'null'
        TrackingOptions:
          $ref: '#/components/schemas/EmailTrackingOptions'
      additionalProperties: false
    EmailResponse:
      type: object
      properties:
        Success:
          type: boolean
        EmailStatusCode:
          $ref: '#/components/schemas/SmtpStatusCode'
        Message:
          type:
          - string
          - 'null'
        EmailSendId:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    EmailRequestWrapper:
      type: object
      properties:
        EmailTemplateParameters:
          $ref: '#/components/schemas/EmailTemplateParameters'
        EmailParameters:
          $ref: '#/components/schemas/EmailParameters'
      additionalProperties: false
    MailPriority:
      enum:
      - Normal
      - Low
      - High
      type: string
    BulkEmailV2Request:
      type: object
      properties:
        EmailRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BulkEmailV2RequestItem'
      additionalProperties: false
    BulkEmailV2Response:
      type: object
      properties:
        EmailResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BulkEmailV2ResponseItem'
      additionalProperties: false
    EmailParameters:
      type: object
      properties:
        To:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        Cc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        Bcc:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
        ReplyTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAddress'
      additionalProperties: false
    EmailAttachment:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        MimeType:
          type:
          - string
          - 'null'
        FileData:
          type:
          - string
          - 'null'
          deprecated: true
        FileContent:
          type:
          - string
          - 'null'
          format: byte
        File:
          type:
          - string
          - 'null'
          format: binary
      additionalProperties: false
    EmailTrackingOptions:
      type: object
      properties:
        ShouldTrackDeliveryStatus:
          type: boolean
        ClientEventName:
          type:
          - string
          - 'null'
      additionalProperties: false
    BulkEmailV2ResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/BulkEmailV2Response'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BulkEmailV2ResponseItem:
      type: object
      properties:
        ClientReferenceId:
          type:
          - string
          - 'null'
        EmailSendId:
          type:
          - string
          - 'null'
      additionalProperties: false
    EmailResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/EmailResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BulkEmailV2RequestItem:
      type: object
      properties:
        ClientReferenceId:
          type:
          - string
          - 'null'
        FromEmailOption:
          $ref: '#/components/schemas/FromEmailOption'
        EmailTemplateParameters:
          $ref: '#/components/schemas/EmailTemplateParameters'
        EmailParameters:
          $ref: '#/components/schemas/EmailParameters'
        Priority:
          $ref: '#/components/schemas/MailPriority'
        Headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        ShouldProcessInbound:
          type: boolean
        Attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailAttachment'
        EmailProfileName:
          type:
          - string
          - 'null'
        TrackingOptions:
          $ref: '#/components/schemas/EmailTrackingOptions'
      additionalProperties: false
    SmtpStatusCode:
      enum:
      - SystemStatus
      - HelpMessage
      - ServiceReady
      - ServiceClosingTransmissionChannel
      - Ok
      - UserNotLocalWillForward
      - CannotVerifyUserWillAttemptDelivery
      - StartMailInput
      - ServiceNotAvailable
      - MailboxBusy
      - LocalErrorInProcessing
      - InsufficientStorage
      - ClientNotPermitted
      - CommandUnrecognized
      - SyntaxError
      - CommandNotImplemented
      - BadCommandSequence
      - CommandParameterNotImplemented
      - MustIssueStartTlsFirst
      - MailboxUnavailable
      - UserNotLocalTryAlternatePath
      - ExceededStorageAllocation
      - MailboxNameNotAllowed
      - TransactionFailed
      - GeneralFailure
      type: string
    EmailTemplateParameters:
      type: object
      properties:
        EmailTemplateId:
          type:
          - string
          - 'null'
        RecipientType:
          type:
          - string
          - 'null'
        RecipientId:
          type:
          - string
          - 'null'
        ObjectName:
          type:
          - string
          - 'null'
        RecordId:
          type:
          - string
          - 'null'
        TemplateData:
          type:
          - object
          - 'null'
          additionalProperties: {}
        RecordDetails:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    BooleanNullableAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - boolean
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
