openapi: 3.2.0
info:
  title: Conga Sign Sender API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: Sender
paths:
  /v1/cs-account/senders:
    post:
      tags:
      - Sender
      summary: Create a user
      description: Creates a new user in an account.
      operationId: Sender_CreateSender
      requestBody:
        x-name: sender
        description: The sender account payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sender'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Sender
      summary: List users in an account
      description: 'Retrieves a list of the users in an account. Optional query parameters can be used to filter the list. By default, only one sender is retrieved. To retrieve additional users you must modify the "to" and "from" parameters, where each number in the parameter corresponds to a user. For example: to = 3 from = 10 Will return users 3 to 10 in the user list.'
      operationId: Sender_ListSenders
      parameters:
      - name: search
        in: query
        description: 'Any text which is going to be used in conjunction with the searchtype if provided. '
        schema:
          type: string
        x-position: 1
      - name: from
        in: query
        description: 'The first record that will be returned. Useful for pagination. '
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: to
        in: query
        description: 'The last record that will be returned. Useful for pagination. '
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: dir
        in: query
        description: The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.
        schema:
          type: string
        x-position: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfSender'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}:
    delete:
      tags:
      - Sender
      summary: Delete a sender
      description: Deletes a specified sender from an account.
      operationId: Sender_DeleteSender
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Sender
      summary: Retrieve a user's detailed account information
      description: Retrieves detailed account information of a specified user.
      operationId: Sender_GetSender
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - Sender
      summary: Update a sender's details
      description: Updates or modifies detail information for a specified Sender.
      operationId: Sender_UpdateSender
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      - name: rawSignatureCapture
        in: query
        description: If set to true, the autograph signatures will be provided as a vector. Default is set to false.
        schema:
          type: boolean
          default: false
        x-position: 3
      requestBody:
        x-name: sender
        description: The sender account payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sender'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}/invite:
    post:
      tags:
      - Sender
      summary: Invites a user to join the account.
      description: "Sends an email invitation to a user. The user will receive an invitation link \nand a token identifying the account.\n\nNote: OneSpan returns 200 OK with empty body, which is automatically converted \nto 204 No Content by the response handler."
      operationId: Sender_InviteSender
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '204':
          description: No Content - Invitation sent successfully
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found - Sender does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}/password:
    post:
      tags:
      - Sender
      summary: Updates a Sender's password.
      description: Helps users update or change their account password. Users can only modify their own password.
      operationId: Sender_UpdatePassword
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      - name: rawSignatureCapture
        in: query
        description: If set to true, the autograph signatures will be provided as a vector. Default is set to false.
        schema:
          type: boolean
          default: false
        x-position: 3
      requestBody:
        x-name: credentials
        description: The credentials containing old and new password.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credentials'
        required: true
        x-position: 2
      responses:
        '204':
          description: No Content - Password updated successfully
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}/resetpassword:
    post:
      tags:
      - Sender
      summary: Resets the password for a specified user.
      description: Sends an email to a specified user, so that they can set a new password.
      operationId: Sender_ResetPassword
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '204':
          description: No Content - Password Reset successfully
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}/signature/image:
    delete:
      tags:
      - Sender
      summary: Delete a signature image
      description: Deletes the image being used by a recipient as their default transaction signature.
      operationId: Sender_DeleteSenderSignatureImage
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Sender
      summary: Retrieve a user's signature
      description: Retrieves the image that is being used by a recipient as their default signature when signing a transaction.
      operationId: Sender_GetSendersSignatureImage
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureImage'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - Sender
      summary: Upload a signature image
      description: Uploads an image to be used by a recipient as their default signature when signing a transaction.
      operationId: Sender_UploadSenderSignatureImage
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                ContentType:
                  type:
                  - string
                  - 'null'
                ContentDisposition:
                  type:
                  - string
                  - 'null'
                Headers:
                  type:
                  - array
                  - 'null'
                  items: {}
                Length:
                  type: integer
                  format: int64
                Name:
                  type:
                  - string
                  - 'null'
                FileName:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Address:
      type: object
      additionalProperties: false
      properties:
        address1:
          type: string
          description: Address1
        address2:
          type: string
          description: Address2
        city:
          type: string
          description: City
        country:
          type: string
          description: Country
        state:
          type: string
          description: State
        zipcode:
          type: string
          description: Zipcode
    Translation:
      type: object
      description: Field localization.
      additionalProperties: false
      properties:
        data:
          type: object
          description: Localization metadata.
          additionalProperties: {}
        description:
          type: string
          description: Optionally provide a description of the selected language.
        id:
          type: string
          description: Localization Id.
        language:
          type: string
          description: 'Available options: en, fr, it, ru, es, pt, de, nl, da, el, zh-CN, zh-TW, ja, ko'
        name:
          type: string
          description: 'Specify a Field Name for the selected language. This is a required field. This is the name of the field

            as your users see it in their account profiles and on transactions in which they participate.'
    Quota:
      type: object
      additionalProperties: false
      properties:
        cycle:
          type: string
        limit:
          type: integer
          format: int32
        scope:
          type: string
        target:
          $ref: '#/components/schemas/Target'
    UserCustomField:
      type: object
      description: Object to manage a user custom field
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data
          additionalProperties: {}
        id:
          type: string
          description: Id
        name:
          type: string
          description: Name
        translations:
          type: array
          description: List of translations
          items:
            $ref: '#/components/schemas/Translation'
        value:
          type: string
          description: Value
    Company:
      type: object
      description: Company information.
      additionalProperties: false
      properties:
        address:
          description: Company address.
          oneOf:
          - $ref: '#/components/schemas/Address'
        data:
          type: object
          description: Company metadata.
          additionalProperties: {}
        id:
          type: string
          description: Unique company Id.
        name:
          type: string
          description: Company name.
    GroupMembership:
      type: object
      description: Object to manage group membership
      additionalProperties: false
      properties:
        groupId:
          type: string
          description: GroupId
        groupName:
          type: string
          description: GroupName
        memberType:
          description: MemberType
          oneOf:
          - $ref: '#/components/schemas/MemberType'
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    SenderType:
      type: string
      description: ''
      x-enumNames:
      - REGULAR
      - MANAGER
      enum:
      - REGULAR
      - MANAGER
    TextualSignatureStyle:
      type: object
      description: Object to manage a text signature
      additionalProperties: false
      properties:
        color:
          type: string
          description: Signature color.
        font:
          type: string
          description: Signature font.
    License:
      type: object
      description: License information.
      additionalProperties: false
      properties:
        created:
          type:
          - string
          - 'null'
          description: License creation date.
          format: date-time
        paidUntil:
          type:
          - string
          - 'null'
          description: Paid license expiration.
          format: date-time
        plan:
          description: License plan.
          oneOf:
          - $ref: '#/components/schemas/Plan'
        status:
          description: License status.
          oneOf:
          - $ref: '#/components/schemas/LicenseStatus'
        transactions:
          type: array
          description: Transactions associated with this license
          items:
            $ref: '#/components/schemas/Transaction'
    Transaction:
      type: object
      additionalProperties: false
      properties:
        created:
          type:
          - string
          - 'null'
          format: date-time
        creditCard:
          $ref: '#/components/schemas/CreditCard'
        price:
          $ref: '#/components/schemas/Price'
    External:
      type: object
      description: External integration provider settings.
      additionalProperties: false
      properties:
        data:
          type: object
          description: Provider metadata.
          additionalProperties: {}
        id:
          type: string
          description: External integration Id.
        provider:
          type: string
          description: Provider method.
        providerName:
          type: string
          description: Provider name.
    SenderStatus:
      type: string
      description: ''
      x-enumNames:
      - INVITED
      - ACTIVE
      - LOCKED
      enum:
      - INVITED
      - ACTIVE
      - LOCKED
    CcExpiration:
      type: object
      additionalProperties: false
      properties:
        month:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
    CreditCard:
      type: object
      additionalProperties: false
      properties:
        cvv:
          type: string
        expiration:
          $ref: '#/components/schemas/CcExpiration'
        name:
          type: string
        number:
          type: string
        type:
          type: string
    Credentials:
      type: object
      additionalProperties: false
      properties:
        email:
          type: string
        newPassword:
          type: string
        password:
          type: string
    Price:
      type: object
      description: Object to manage price
      additionalProperties: false
      properties:
        amount:
          type: integer
          description: Amount
          format: int32
        currency:
          description: Currency
          oneOf:
          - $ref: '#/components/schemas/Currency'
    Account:
      type: object
      description: Account information.
      additionalProperties: false
      properties:
        company:
          description: Company information.
          oneOf:
          - $ref: '#/components/schemas/Company'
        created:
          type:
          - string
          - 'null'
          description: Account creation date.
          format: date-time
        customFields:
          type: array
          description: Account custom fields.
          items:
            $ref: '#/components/schemas/CustomField'
        data:
          type: object
          description: Account metadata.
          additionalProperties: {}
        id:
          type: string
          description: Account Id.
        licenses:
          type: array
          description: Account license information.
          items:
            $ref: '#/components/schemas/License'
        logoUrl:
          type: string
          description: Account Logo URL.
        name:
          type: string
          description: Account name.
        owner:
          type: string
          description: Unique Owner Id.
        providers:
          description: External document sources.
          oneOf:
          - $ref: '#/components/schemas/AccountProviders'
        updated:
          type:
          - string
          - 'null'
          description: Account update date.
          format: date-time
    Plan:
      type: object
      additionalProperties: false
      properties:
        contract:
          type: string
        cycle:
          $ref: '#/components/schemas/Cycle'
        data:
          type: object
          additionalProperties: {}
        description:
          type: string
        features:
          type: object
          additionalProperties: {}
        freeCycles:
          $ref: '#/components/schemas/CycleCount'
        group:
          type: string
        id:
          type: string
        name:
          type: string
        original:
          type: string
        price:
          $ref: '#/components/schemas/Price'
        quotas:
          type: array
          items:
            $ref: '#/components/schemas/Quota'
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    MemberType:
      type: string
      description: Type of member in a group
      x-enumNames:
      - REGULAR
      - MANAGER
      - SIGNER
      - AD_HOC_GROUP_MEMBER
      enum:
      - REGULAR
      - MANAGER
      - SIGNER
      - AD_HOC_GROUP_MEMBER
    ProfessionalIdentityField:
      type: object
      description: Object to manage professional identity field
      additionalProperties: false
      properties:
        category:
          type: string
          description: Category
        data:
          type: object
          description: Custom data
          additionalProperties: {}
        id:
          type: string
          description: Id
        name:
          type: string
          description: Name
        translations:
          type: array
          description: List of translations
          items:
            $ref: '#/components/schemas/Translation'
        type:
          type: string
          description: Type
        value:
          type: string
          description: Value
    CycleCount:
      type: object
      additionalProperties: false
      properties:
        count:
          type: integer
          format: int32
        cycle:
          $ref: '#/components/schemas/CycleCount'
    LicenseStatus:
      type: string
      description: ''
      x-enumNames:
      - ACTIVE
      - PENDING
      - GRACE
      enum:
      - ACTIVE
      - PENDING
      - GRACE
    SignatureImage:
      type: object
      description: Object to manage a senders signature image
      additionalProperties: false
      properties:
        fileName:
          type: string
          description: File name
        mediaType:
          type: string
          description: Media type
        content:
          type: string
          description: Base64 encoded image
    SignatureStyle:
      type: object
      additionalProperties: false
      properties:
        handdrawn:
          type: string
          description: Hand drawn signature image (base 64 encoding).
        textual:
          description: Textual signature style
          oneOf:
          - $ref: '#/components/schemas/TextualSignatureStyle'
    Cycle:
      type: string
      description: ''
      x-enumNames:
      - DAY
      - MONTH
      - YEAR
      enum:
      - DAY
      - MONTH
      - YEAR
    AccountProviders:
      type: object
      additionalProperties: false
      properties:
        documents:
          type: array
          description: List of external sources for documents
          items:
            $ref: '#/components/schemas/Provider'
        users:
          type: array
          description: List of external sources for users
          items:
            $ref: '#/components/schemas/Provider'
    Provider:
      type: object
      description: Object to manage account providers for documents and users
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom meta data
          additionalProperties: {}
        id:
          type: string
          description: Id
        name:
          type: string
          description: Name
        provides:
          type: string
          description: Provides
    Target:
      type: string
      description: ''
      x-enumNames:
      - SIGNER
      - SENDER
      - DOCUMENT
      - PACKAGE
      - STORAGE
      enum:
      - SIGNER
      - SENDER
      - DOCUMENT
      - PACKAGE
      - STORAGE
    CustomField:
      type: object
      description: "A custom field is one that, at the time of signing, is automatically populated with data that is specific\nto the signer. For instance, a signer might have an Agent Number, and that number may need to appear in the\nfinal document next to their signature. By using a custom field, the signer can specify their Agent Number,\nand that number will automatically appear in any other field that has been configured to receive it.\n            \nMore info: https://community.onespan.com/documentation/onespan-sign/guides/admin-guides/user/custom-fields"
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom field metadata.
          additionalProperties: {}
        id:
          type: string
          description: The unique of id of the field
        name:
          type: string
          description: Custom field name.
        required:
          type: boolean
          description: Flag that indicates if the custom field will be required for users when setting up their account profiles.
        translations:
          type: array
          description: Custom field localization.
          items:
            $ref: '#/components/schemas/Translation'
        value:
          type: string
          description: Custom field default value.
    Currency:
      type: object
      description: The currency used for the Price object
      additionalProperties: false
      properties:
        data:
          type: object
          description: Data
          additionalProperties: {}
        id:
          type: string
          description: Id
        name:
          type: string
          description: Name
    ResultOfSender:
      type: object
      description: Object used to manage OneSpan list types
      additionalProperties: false
      properties:
        count:
          type: integer
          description: Count
          format: int32
        results:
          type: array
          description: Results
          items:
            $ref: '#/components/schemas/Sender'
    Sender:
      type: object
      description: Sender
      additionalProperties: false
      properties:
        type:
          description: Type
          oneOf:
          - $ref: '#/components/schemas/SenderType'
        status:
          description: Status
          oneOf:
          - $ref: '#/components/schemas/SenderStatus'
        specialTypes:
          type: array
          description: Special User Types. Currently only NOTARY is supported.
          items:
            type: string
        name:
          type: string
          description: Name
        signature:
          description: Gets or Sets Signature
          oneOf:
          - $ref: '#/components/schemas/SignatureStyle'
        account:
          description: Gets or Sets Account
          oneOf:
          - $ref: '#/components/schemas/Account'
        address:
          description: Gets or Sets Address
          oneOf:
          - $ref: '#/components/schemas/Address'
        created:
          type:
          - string
          - 'null'
          description: Created
          format: date-time
        id:
          type: string
          description: Id
        data:
          type: object
          description: Data
          additionalProperties: {}
        language:
          type: string
          description: 'Available options: en, fr, it, ru, es, pt, de, nl, da, el, zh-CN, zh-TW, ja, ko'
        timezoneId:
          type: string
          description: TimezoneId
        external:
          description: Gets or Sets External
          oneOf:
          - $ref: '#/components/schemas/External'
        company:
          type: string
          description: Company
        updated:
          type:
          - string
          - 'null'
          description: Updated
          format: date-time
        phone:
          type: string
          description: Phone
        userCustomFields:
          type: array
          description: UserCustomFields
          items:
            $ref: '#/components/schemas/UserCustomField'
        professionalIdentityFields:
          type: array
          description: ProfessionalIdentityFields
          items:
            $ref: '#/components/schemas/ProfessionalIdentityField'
        title:
          type: string
          description: Title
        firstName:
          type: string
          description: FirstName
        lastName:
          type: string
          description: LastName
        email:
          type: string
          description: Email
        locked:
          type:
          - string
          - 'null'
          description: Locked
          format: date-time
        activated:
          type:
          - string
          - 'null'
          description: Activated
          format: date-time
        memberships:
          type: array
          description: Memberships
          items:
            $ref: '#/components/schemas/GroupMembership'
        hasDelegates:
          type:
          - boolean
          - 'null'
          description: Has Delegates
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
