openapi: 3.2.0
info:
  title: Conga Sign O Auth2 API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: OAuth2
paths:
  /v1/cs-account/authentication/oauth2/clients:
    post:
      tags:
      - OAuth2
      summary: Create a new OAuth2 client
      description: 'Creates a new OAuth2 client for the authenticated account. The client will be assigned a unique

        client ID and client secret that can be used for OAuth2 authentication flows. The client secret

        is only returned in this response and when regenerating credentials, so it should be stored securely.'
      operationId: OAuth2_CreateOAuth2Client
      requestBody:
        x-name: clientCreation
        description: OAuth2 client creation request with alias
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2ClientCreation'
        required: true
        x-position: 1
      responses:
        '200':
          description: OAuth2 client created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2ClientCredentials'
        '400':
          description: Bad Request - Invalid client details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - OAuth2
      summary: List all OAuth2 clients
      description: 'Retrieves a list of all OAuth2 clients associated with the authenticated account.

        This endpoint returns basic information about each OAuth2 client, including the account UID,

        client alias, client ID, and creation timestamp. The client secret is not included in the

        response for security reasons.'
      operationId: OAuth2_ListOAuth2Clients
      responses:
        '200':
          description: Successfully retrieved OAuth2 clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuth2Client'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/authentication/oauth2/clients/{clientId}:
    delete:
      tags:
      - OAuth2
      summary: Delete an OAuth2 client
      description: 'Permanently deletes an OAuth2 client from the authenticated account. Once deleted, the client ID

        and secret will no longer be valid for authentication. This action cannot be undone. Any existing

        access tokens generated by this client will be immediately invalidated.'
      operationId: OAuth2_DeleteOAuth2Client
      parameters:
      - name: clientId
        in: path
        required: true
        description: The unique identifier of the OAuth2 client to delete
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OAuth2 client deleted successfully
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found - OAuth2 client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/authentication/oauth2/clients/{clientId}/regenerate-secret:
    post:
      tags:
      - OAuth2
      summary: Regenerate OAuth2 client secret
      description: 'Generates a new client secret for an existing OAuth2 client. The old client secret will be

        immediately invalidated and any existing access tokens generated with the old secret will be revoked.

        The new client secret is only returned in this response, so it should be stored securely. This operation

        is useful for security rotation or when the client secret has been compromised.'
      operationId: OAuth2_RegenerateOAuth2ClientSecret
      parameters:
      - name: clientId
        in: path
        required: true
        description: The unique identifier of the OAuth2 client
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OAuth2 client secret regenerated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2ClientCredentials'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found - OAuth2 client not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-oauth2/token:
    post:
      tags:
      - OAuth2
      summary: Generate an OAuth2 access token
      description: 'Standard OAuth2 token endpoint for obtaining access tokens using the client credentials grant flow.

        This endpoint is used to exchange OAuth2 client credentials for an access token that can be used to

        authenticate API requests. The client credentials should be provided in the request body as

        form-urlencoded data with client_id, client_secret, and grant_type.'
      operationId: OAuth2_GenerateOAuth2Token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: 'Request model for OAuth2 token generation (form-urlencoded)

                [JsonPropertyName] attribute is needed for Swagger/OpenAPI schema generation (via FormUrlEncodedOperationFilter)'
              additionalProperties: false
              required:
              - grant_type
              properties:
                grant_type:
                  type: string
                  description: The OAuth2 grant type (must be "client_credentials")
                  minLength: 1
                client_id:
                  type:
                  - string
                  - 'null'
                  description: The client ID for authentication (optional if using Authorization header)
                client_secret:
                  type:
                  - string
                  - 'null'
                  description: The client secret for authentication (optional if using Authorization header)
      responses:
        '200':
          description: OAuth2 access token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2TokenResponse'
        '400':
          description: Bad Request - Invalid grant type or credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized - Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    OAuth2TokenResponse:
      type: object
      description: Response model for OAuth2 token
      additionalProperties: false
      required:
      - access_token
      - token_type
      - expires_in
      properties:
        access_token:
          type: string
          description: The access token (required)
          minLength: 1
        token_type:
          type: string
          description: The token type, typically "Bearer" (required)
          minLength: 1
        expires_in:
          type: integer
          description: The access token expiration time in seconds (required)
          format: int32
    OAuth2ClientCreation:
      type: object
      description: Request model for creating a new OAuth2 client
      additionalProperties: false
      required:
      - alias
      properties:
        alias:
          type: string
          description: The alias/name for the OAuth2 client (required)
          minLength: 1
    OAuth2ClientCredentials:
      type: object
      description: Response model containing OAuth2 client credentials
      additionalProperties: false
      required:
      - accountUid
      - clientAlias
      - clientId
      - clientSecret
      - createdAt
      properties:
        accountUid:
          type: string
          description: The unique account identifier (required)
          minLength: 1
        clientAlias:
          type: string
          description: The client alias/name (required)
          minLength: 1
        clientId:
          type: string
          description: The unique client identifier (required)
          minLength: 1
        clientSecret:
          type: string
          description: The client secret - only returned on creation or regeneration (required)
          minLength: 1
        createdAt:
          type: string
          description: The timestamp when the client was created (required)
          minLength: 1
    OAuth2Client:
      type: object
      description: OAuth2 Client
      additionalProperties: false
      properties:
        accountUid:
          type: string
          description: The unique account identifier
        clientAlias:
          type: string
          description: The client alias/name
        clientId:
          type: string
          description: The unique client identifier
        createdAt:
          type: string
          description: The timestamp when the client was created (ISO 8601 format)
          example: '2025-09-08T09:15:30'
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
