openapi: 3.2.0
info:
  title: Invoice Management Invoice Configurations API
  version: 1.0.0
  description: Provides endpoints for configuring and managing invoice run requests.
servers:
- url: https://rls.congacloud.com/api/invoicing/v1
security:
- Bearer: []
tags:
- name: Invoice Configurations
  description: Provides endpoints for configuring and managing invoice run requests.
paths:
  /configure-requests:
    patch:
      tags:
      - Invoice Configurations
      summary: Updates an existing invoice configuration request with modified settings.
      requestBody:
        description: The invoice configuration request containing updated settings for the invoice run.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          application/*+json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
    post:
      tags:
      - Invoice Configurations
      summary: Configures and creates an invoice run request based on the provided configuration.
      requestBody:
        description: The invoice configuration request containing settings for the invoice run.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          application/*+json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /configure-requests/estimate:
    post:
      tags:
      - Invoice Configurations
      summary: Retrieves a preview of an invoice request based on the provided configuration without persisting the request.
      requestBody:
        description: The invoice configuration request containing settings to preview.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          text/json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
          application/*+json:
            schema:
              $ref: '#/components/schemas/InvoiceConfigurationRequest'
            example: "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
  /configure-requests/{id}:
    get:
      tags:
      - Invoice Configurations
      summary: Retrieves an invoice configuration request by its unique identifier.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the invoice configuration request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationRequestResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationRequestResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationRequestResponse'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /configure-requests/{id}/clone:
    post:
      tags:
      - Invoice Configurations
      summary: Clones an existing invoice configuration request to create a new configuration based on the specified source.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the invoice configuration request to clone.
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceConfigurationResponseBatchResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /configure-requests/{id}/estimate:
    get:
      tags:
      - Invoice Configurations
      summary: Retrieves a preview of an invoice request, including billing schedule records and estimated invoice details.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the invoice configuration request to preview.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceRequestPreviewResponse'
  /configure-requests/{id}/request-results:
    get:
      tags:
      - Invoice Configurations
      summary: Retrieves an invoice request result by configuration request identifier.
      parameters:
      - name: id
        in: path
        description: The unique identifier of the configuration request.
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional list of related entities to include in the response.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceRequestResult'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceRequestResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceRequestResult'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
components:
  schemas:
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    ApiError:
      type: object
      properties:
        Source:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Detail: {}
        Help:
          type:
          - string
          - 'null'
      additionalProperties: false
    InvoiceConfigurationRequest:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        RunType:
          type:
          - string
          - 'null'
        AutoApproveInvoices:
          type:
          - boolean
          - 'null'
        Status:
          type:
          - string
          - 'null'
        InvoiceDateType:
          type:
          - string
          - 'null'
        ProcessFrom:
          type:
          - string
          - 'null'
          format: date-time
        ProcessTo:
          type:
          - string
          - 'null'
          format: date-time
        FilterCriteria:
          $ref: '#/components/schemas/FilterDefinitionRequest'
        FilterCriteriaOld:
          $ref: '#/components/schemas/Criteria'
        CreateCreditMemos:
          type:
          - boolean
          - 'null'
        CreditMemoCreationOption:
          type:
          - string
          - 'null'
        InvoiceDate:
          type:
          - string
          - 'null'
          format: date-time
        CreditMemoDateBasedOn:
          type:
          - string
          - 'null'
        CreditMemoDate:
          type:
          - string
          - 'null'
          format: date-time
        AutoApproveAmountOperator:
          type:
          - string
          - 'null'
        AutoApproveAmount:
          $ref: '#/components/schemas/CurrencyField'
        SuppressCriterion:
          type:
          - string
          - 'null'
        SuppressOperator:
          type:
          - string
          - 'null'
        SuppressInvoiceAmount:
          $ref: '#/components/schemas/CurrencyField'
        AutoApplyCreditMemo:
          type:
          - boolean
          - 'null'
        AutoApproveCreditMemos:
          type:
          - boolean
          - 'null'
        Frequency:
          type:
          - string
          - 'null'
        WeekOfTheMonth:
          type:
          - string
          - 'null'
        WeekDay:
          type:
          - array
          - 'null'
          items:
            type: string
        InvoiceDayReference:
          type:
          - string
          - 'null'
        InvoiceMonthReference:
          type:
          - string
          - 'null'
        InvoiceDateOffset:
          type:
          - string
          - 'null'
        ProcessThroughOffset:
          type:
          - string
          - 'null'
        StartHour:
          type:
          - string
          - 'null'
        StartMinute:
          type:
          - string
          - 'null'
        OverwriteInvoiceTemplates:
          type:
          - boolean
          - 'null'
        InvoiceDocumentTemplate:
          $ref: '#/components/schemas/LookupObject'
        InvoiceEmailTemplate:
          $ref: '#/components/schemas/LookupObject'
        OverwriteCreditMemoTemplates:
          type:
          - boolean
          - 'null'
        CreditMemoDocumentTemplate:
          $ref: '#/components/schemas/LookupObject'
        CreditMemoEmailTemplate:
          $ref: '#/components/schemas/LookupObject'
        SplitCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LookupObject'
        MonthlyDate:
          type:
          - string
          - 'null'
        ProcessFromDayReference:
          type:
          - string
          - 'null'
        ProcessFromMonthReference:
          type:
          - string
          - 'null'
        ProcessToDayReference:
          type:
          - string
          - 'null'
        ProcessToMonthReference:
          type:
          - string
          - 'null'
        ProcessFromOffset:
          type:
          - string
          - 'null'
        ScheduleFrom:
          type:
          - string
          - 'null'
          format: date
        ScheduleTo:
          type:
          - string
          - 'null'
          format: date
      additionalProperties: false
    Filter:
      type: object
      properties:
        CondExpr:
          type:
          - string
          - 'null'
        Predicates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Predicate'
        HasRHSFields:
          type: boolean
        ChildFilter:
          $ref: '#/components/schemas/ChildFilter'
      additionalProperties: false
    ChildFilter:
      type: object
      properties:
        CondExpr:
          type:
          - string
          - 'null'
        Predicates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Predicate'
        HasRHSFields:
          type: boolean
        ChildFilter:
          $ref: '#/components/schemas/ChildFilter'
        ChildObjectLabel:
          type:
          - string
          - 'null'
        ChildObjectName:
          type:
          - string
          - 'null'
        RelationFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    InvoiceConfigurationRequestResponse:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        RequestType:
          type:
          - string
          - 'null'
        AutoApproveInvoices:
          type: boolean
        InvoiceDateBasedOn:
          type:
          - string
          - 'null'
        ProcessFrom:
          type:
          - string
          - 'null'
          format: date-time
        ProcessTo:
          type: string
          format: date-time
        FilterCriteria:
          $ref: '#/components/schemas/FilterDefinition'
        Status:
          type:
          - string
          - 'null'
        CreateCreditMemos:
          type:
          - boolean
          - 'null'
        CreditMemoCreationOption:
          type:
          - string
          - 'null'
        InvoiceDate:
          type:
          - string
          - 'null'
          format: date-time
        CreditMemoDateBasedOn:
          type:
          - string
          - 'null'
        CreditMemoDate:
          type:
          - string
          - 'null'
          format: date-time
        AutoApproveAmountOperator:
          type:
          - string
          - 'null'
        AutoApproveAmount:
          $ref: '#/components/schemas/CurrencyField'
        SuppressCriterion:
          type:
          - string
          - 'null'
        SuppressOperator:
          type:
          - string
          - 'null'
        SuppressInvoiceAmount:
          $ref: '#/components/schemas/CurrencyField'
        AutoApplyCreditMemo:
          type: boolean
        AutoApproveCreditMemos:
          type: boolean
        Frequency:
          type:
          - string
          - 'null'
        WeekOfTheMonth:
          type:
          - string
          - 'null'
        WeekDay:
          type:
          - array
          - 'null'
          items:
            type: string
        InvoiceDayReference:
          type:
          - string
          - 'null'
        InvoiceMonthReference:
          type:
          - string
          - 'null'
        InvoiceDateOffset:
          type:
          - string
          - 'null'
        ProcessThroughOffset:
          type:
          - string
          - 'null'
        StartHour:
          type:
          - string
          - 'null'
        StartMinute:
          type:
          - string
          - 'null'
        OverwriteInvoiceTemplates:
          type: boolean
        InvoiceDocumentTemplate:
          $ref: '#/components/schemas/LookupObject'
        InvoiceEmailTemplate:
          $ref: '#/components/schemas/LookupObject'
        OverwriteCreditMemoTemplates:
          type: boolean
        CreditMemoDocumentTemplate:
          $ref: '#/components/schemas/LookupObject'
        CreditMemoEmailTemplate:
          $ref: '#/components/schemas/LookupObject'
        CronExpression:
          type:
          - string
          - 'null'
        NextScheduledRunAt:
          type:
          - string
          - 'null'
          format: date-time
        SplitCriteria:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LookupObject'
        MonthlyDate:
          type:
          - string
          - 'null'
        ProcessFromDayReference:
          type:
          - string
          - 'null'
        ProcessFromMonthReference:
          type:
          - string
          - 'null'
        ProcessToDayReference:
          type:
          - string
          - 'null'
        ProcessToMonthReference:
          type:
          - string
          - 'null'
        ProcessFromOffset:
          type:
          - string
          - 'null'
        ScheduleFrom:
          type:
          - string
          - 'null'
          format: date
        ScheduleTo:
          type:
          - string
          - 'null'
          format: date
      additionalProperties: false
    ErrorApiResponse:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiError'
      additionalProperties: false
    UserFilter:
      type: object
      properties:
        CondExpr:
          type:
          - string
          - 'null'
        Predicates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Predicate'
        HasRHSFields:
          type: boolean
        ChildFilter:
          $ref: '#/components/schemas/ChildFilter'
      additionalProperties: false
    FilterNode:
      type: object
      properties:
        IsEmpty:
          type: boolean
          readOnly: true
      additionalProperties: false
    InvoiceConfigurationResponseBatchResponse:
      type: object
      properties:
        Summary:
          type:
          - string
          - 'null'
        Results:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/InvoiceConfigurationResponse'
      additionalProperties: false
    FilterDefinition:
      type: object
      properties:
        ParentOperator:
          type:
          - string
          - 'null'
        Rules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FilterNode'
        QueryPlan:
          $ref: '#/components/schemas/QueryPlan'
      additionalProperties: false
    QueryPlan:
      type: object
      properties:
        AccountQuery:
          type:
          - string
          - 'null'
        LocationQuery:
          type:
          - string
          - 'null'
        ProductQuery:
          type:
          - string
          - 'null'
        BillingScheduleQuery:
          type:
          - string
          - 'null'
      additionalProperties: false
    Criteria:
      type: object
      properties:
        SearchText:
          type:
          - string
          - 'null'
        ExprStr:
          type:
          - string
          - 'null'
        ObjectLabel:
          type:
          - string
          - 'null'
        ObjectName:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
        Filter:
          $ref: '#/components/schemas/Filter'
        UserFilter:
          $ref: '#/components/schemas/UserFilter'
        UserFields:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    InvoiceRequestResult:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Status:
          type:
          - string
          - 'null'
        RequestName:
          $ref: '#/components/schemas/LookupObject'
        TotalAccountsInScope:
          type: integer
          format: int32
        TotalOrdersInScope:
          type: integer
          format: int32
        TotalBSRsInScope:
          type: integer
          format: int32
        TotalInvoicesCreated:
          type: integer
          format: int32
        TotalInvoicesAutoApproved:
          type: integer
          format: int32
        TotalCreditMemosCreated:
          type: integer
          format: int32
        TotalCreditMemosApproved:
          type: integer
          format: int32
        TotalCreditMemosWithTaxProcessed:
          type: integer
          format: int32
      additionalProperties: {}
    Predicate:
      type: object
      properties:
        RowNum:
          type:
          - integer
          - 'null'
          format: int32
        RHSObjectName:
          type:
          - string
          - 'null'
        RHSFieldType:
          type:
          - string
          - 'null'
        RHSFieldName:
          type:
          - string
          - 'null'
        RHSFieldLabel:
          type:
          - string
          - 'null'
        RHSChildFilterName:
          type:
          - string
          - 'null'
        RefFieldName:
          type:
          - string
          - 'null'
        OffsetValue:
          type:
          - string
          - 'null'
        LHSObjectName:
          type:
          - string
          - 'null'
        LHSChildFilterName:
          type:
          - string
          - 'null'
        FieldValue: {}
        FieldType:
          type:
          - string
          - 'null'
        FieldName:
          type:
          - string
          - 'null'
        FieldLabel:
          type:
          - string
          - 'null'
        CompOper:
          type:
          - string
          - 'null'
        BoolOper:
          type:
          - string
          - 'null'
        AggregateMethod:
          type:
          - string
          - 'null'
      additionalProperties: false
    InvoiceRequestPreviewResponse:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Gets or sets the name of the invoice request preview response.
        NumberOfAccountsSelected:
          type: integer
          description: Gets or sets the number of accounts selected during the invoice run.
          format: int32
        NumberOfOrdersSelected:
          type: integer
          description: Gets or sets the number of orders selected during the invoice run.
          format: int32
        NumberOfBillingScheduleRecordsSelected:
          type: integer
          description: Gets or sets the number of billing schedule records selected during the invoice run.
          format: int32
        NumberOfInvoicesGenerated:
          type: integer
          description: Gets or sets the number of invoices generated during the invoice run.
          format: int32
        NumberOfInvoicesAutoApproved:
          type: integer
          description: Gets or sets the number of invoices that were auto-approved during the invoice run.
          format: int32
        NumberOfCreditMemosGenerated:
          type: integer
          description: Gets or sets the number of credit memos generated during the invoice run.
          format: int32
        NumberOfCreditMemosAutoApproved:
          type: integer
          description: Gets or sets the number of credit memos that were auto-approved during the invoice run.
          format: int32
      additionalProperties: false
      description: Represents the result of an invoice run operation.
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    FilterDefinitionRequest:
      type: object
      properties:
        ParentOperator:
          type:
          - string
          - 'null'
        Rules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FilterNode'
      additionalProperties: false
    InvoiceConfigurationResponse:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        RecordIndex:
          type: integer
          format: int32
        IsSuccess:
          type: boolean
        Errors:
          type:
          - array
          - 'null'
          items:
            type: string
        ErrorMessage:
          type:
          - string
          - 'null'
          deprecated: true
        JobId:
          type:
          - string
          - 'null'
        InvoiceRequestResultId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
