openapi: 3.2.0
info:
  title: User Management User Group API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: User Group
paths:
  /api/user-management/v1/user-groups:
    get:
      tags:
      - User Group
      summary: Get filtered user groups
      description: Returns all user groups that meet the criteria.
      parameters:
      - name: criteria
        in: query
        description: 'Search criteria for the user groups. For example: `IsSendEmailToMemebers = ''true''`. <p>**Note:** The criteria field (in this case, IsSendEmailToMemebers) must be indexed.</p>'
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Field name for sorting. **For example**: Name. <p>**Note**: The sort field (in this case, Name) should be indexed or sortable.</p>'
        schema:
          type: string
      - name: sortDirection
        in: query
        description: Sort direction (ascending or descending) of the data. For example, ASC or DESC. <p>**Note:** If the sort field parameter is specified, the default sort order is DESC.</p>
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of records to display on each page.
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: The page number of the result set to view.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                RecordCount: 2
                Data:
                - UserName: SystemAdmin
                  Id: efafa9a0-2c29-44d4-b39a-06c929a0a33d
                  PermissionGroups: GlobalScopePermissionGroup
                - UserName: GeneralUser
                  Id: dffe9ac3-17f1-40ab-8f1e-238964132fa4
                  PermissionGroups: ScopePermissionGroup
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: getApiUserManagementV1UserGroups
      x-operation-id-source: derived
    post:
      tags:
      - User Group
      summary: Create a user group
      description: Creates a new user group and returns the user group's ID.
      requestBody:
        description: Details to be created in the user group model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UserGroupCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UserGroupCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: 4201bcc0-5898-4817-a942-3eae5f3258cf
                StatusCode: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: postApiUserManagementV1UserGroups
      x-operation-id-source: derived
  /api/user-management/v1/user-groups/bulk-upsert-userGroups:
    put:
      tags:
      - User Group
      summary: Create and update multiple user groups
      description: 'Creates and updates multiple user groups and returns the ids of the user groups created and updated.

        **Note**: If a user group already exists (based on a Platform user record identifier), the API will update the existing user group instead of creating a duplicate record , else if the user group is not present new record is created.'
      requestBody:
        description: User group model data to be created or updated
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserGroupUpsertRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserGroupUpsertRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UserGroupUpsertRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  ObjectName: SampleObject
                  PermissionGroupName: ViewAllPermissionGroup
                  Id: 990dc8ca-6cf6-4770-9db3-d54cdda2e3bf
                  RecordTypeAccess:
                    NDA:
                      Enabled: true
                    MSA:
                      Enabled: false
                    Master:
                      Enabled: true
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
      operationId: putApiUserManagementV1UserGroupsBulkUpsertUserGroups
      x-operation-id-source: derived
  /api/user-management/v1/user-groups/{userGroupId}:
    delete:
      tags:
      - User Group
      summary: Delete a user group
      description: Deletes a user group and returns status.
      parameters:
      - name: userGroupId
        in: path
        description: User group ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: 13580633-d081-479e-b6c5-ce92ae8fb35c deleted successfully.
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: deleteApiUserManagementV1UserGroupsByUserGroupId
      x-operation-id-source: derived
    get:
      tags:
      - User Group
      summary: Get user group details by ID
      description: Returns the details of a user group based on the user group ID.
      parameters:
      - name: userGroupId
        in: path
        description: User group ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupAPIResponse'
              example:
                Success: true
                Data:
                  Email: exampleusergroup@conga.com
                  IsSendEmailToMembers: true
                  ParentUserGroups: null
                  Id: e4d1ba03-0d78-4d88-aa39-746319952b8b
                  Name: ExampleUserGroup
                  CreatedBy:
                    Id: b152811c-4ca3-4662-ad37-21bfed0c9a88
                    Name: System Admin
                  CreatedDate: '2026-07-27T11:07:35.1906909+00:00'
                  ModifiedBy:
                    Id: b152811c-4ca3-4662-ad37-21bfed0c9a88
                    Name: System Admin
                  ModifiedDate: '2026-07-27T11:07:35.1906946+00:00'
                  ExternalId: null
                  ETag: null
                StatusCode: OK
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: getApiUserManagementV1UserGroupsByUserGroupId
      x-operation-id-source: derived
    put:
      tags:
      - User Group
      summary: Update a user group
      description: Updates the user group information for a specific group.
      parameters:
      - name: userGroupId
        in: path
        description: User group ID
        required: true
        schema:
          type: string
      requestBody:
        description: Details to be updated in the user group model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/UserGroupUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UserGroupUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: d1ee4716-79d7-47c7-866b-359451c8e26d
                StatusCode: Created
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: putApiUserManagementV1UserGroupsByUserGroupId
      x-operation-id-source: derived
  /v1/user-group:
    post:
      tags:
      - User Group
      summary: Create a user group
      description: Creates a new user group with the provided details. Returns the created user group object with its assigned ID.
      operationId: UserGroup_CreateUserGroup
      requestBody:
        x-name: userGroup
        description: User group to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
        x-position: 1
      responses:
        '200':
          description: The created user group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - User Group
      summary: List user groups
      description: Gets a list of all user groups
      operationId: UserGroup_GetUserGroups
      parameters:
      - name: filter
        in: query
        description: 'The filter string (example: IsActive = ''true'')'
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: page
        in: query
        description: 'The page number (default: 1)'
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 2
      - name: limit
        in: query
        description: The maximum number of items to be returned
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      responses:
        '200':
          description: A list of user groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroup'
      security:
      - oauth2: []
      - Bearer: []
    put:
      tags:
      - User Group
      summary: Update a user group
      description: Updates an existing user group with new information. Provide the user group ID and updated fields in the request body. Returns the updated user group object.
      operationId: UserGroup_UpdateUserGroup
      requestBody:
        x-name: userGroup
        description: User group to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroup'
        required: true
        x-position: 1
      responses:
        '200':
          description: The updated user group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroup'
      security:
      - oauth2: []
      - Bearer: []
  /v1/user-group/{groupId}/members:
    post:
      tags:
      - User Group
      summary: Add a member
      description: Adds a member to an existing user group.
      operationId: UserGroup_AddUserGroupMember
      parameters:
      - name: groupId
        in: path
        required: true
        description: User group ID
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: request
        description: User group member to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddGroupMemberPayloadDTO'
        required: true
        x-position: 2
      responses:
        '200':
          description: The added member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupMember'
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - User Group
      summary: List user group members
      description: Lists all members of the given user group.
      operationId: UserGroup_GetUserGroupMembers
      parameters:
      - name: groupId
        in: path
        required: true
        description: User group ID
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: A list of user group members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroupMember'
      security:
      - oauth2: []
      - Bearer: []
  /v1/user-group/{groupId}/members/{memberId}:
    delete:
      tags:
      - User Group
      summary: Delete a member by ID
      description: Deletes the user group member identified in the request.
      operationId: UserGroup_DeleteUserGroupMemberById
      parameters:
      - name: groupId
        in: path
        required: true
        description: User group ID
        schema:
          type: string
        x-position: 1
      - name: memberId
        in: path
        required: true
        description: User group member ID
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: True if the delete succeeded; else false.
          content:
            application/json:
              schema:
                type: boolean
      security:
      - oauth2: []
      - Bearer: []
  /v1/user-group/{id}:
    delete:
      tags:
      - User Group
      summary: Delete a user group by ID
      description: Deletes the user group.
      operationId: UserGroup_DeleteUserGroupById
      parameters:
      - name: id
        in: path
        required: true
        description: User group ID
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: True or False depends on if the delete succeeded
          content:
            application/json:
              schema:
                type: boolean
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - User Group
      summary: List a user group's membership
      description: 'Returns the user group (ID, name, email) with all members. Each member contains: ID, name, type (User or Group), member ID, and group ID.'
      operationId: UserGroup_GetUserGroupById
      parameters:
      - name: id
        in: path
        required: true
        description: User group ID
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: The user group and its members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupWithMembers'
      security:
      - oauth2: []
      - Bearer: []
components:
  schemas:
    StringObjectDictionaryListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    UserGroupCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: The user group name
        Email:
          type:
          - string
          - 'null'
          description: The user group's email address
        IsSendEmailToMembers:
          type: boolean
          description: The user group's Send Email flag
      additionalProperties: false
    StringObjectDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
    UserGroup:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Email:
          type:
          - string
          - 'null'
        IsSendEmailToMembers:
          type: boolean
        ParentUserGroups:
          type:
          - string
          - 'null'
      additionalProperties: {}
    UserGroupUpdateRequest:
      type: object
      properties:
        Email:
          type:
          - string
          - 'null'
          description: The user group's email address
        IsSendEmailToMembers:
          type: boolean
          description: The user group's Send Email flag
      additionalProperties: false
    UserGroupUpsertRequest:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: The unique identifier for user group
        Name:
          type:
          - string
          - 'null'
          description: The user group name
        Email:
          type:
          - string
          - 'null'
          description: The user group's email address
        IsSendEmailToMembers:
          type: boolean
          description: The user group's Send Email flag
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    UserGroupAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/UserGroup'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    UserGroupMember:
      allOf:
      - $ref: '#/components/schemas/BaseObject'
      - type: object
        additionalProperties: {}
        properties:
          UserGroupId:
            type:
            - string
            - 'null'
          MemberId:
            type:
            - string
            - 'null'
          MemberType:
            $ref: '#/components/schemas/OwnerType'
    AddGroupMemberPayloadDTO:
      type: object
      description: AddGroupMemberPayloadDTO
      additionalProperties: false
      required:
      - MemberId
      - MemberType
      properties:
        MemberId:
          type: string
          description: MemberId
          minLength: 1
        MemberType:
          type: string
          description: MemberType
          minLength: 1
    OwnerType:
      type: string
      description: ''
      x-enumNames:
      - User
      - UserGroup
      enum:
      - User
      - UserGroup
    UserGroupWithMembers:
      allOf:
      - $ref: '#/components/schemas/UserGroup'
      - type: object
        additionalProperties: {}
        properties:
          members:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/UserGroupMember'
    BaseObject:
      type: object
      additionalProperties: {}
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        CustomProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
    oauth2:
      type: oauth2
      description: Login with a Salesforce or SalesforceSandbox account
      flows:
        authorizationCode:
          authorizationUrl: https://login-rls.congacloud.com/api/v1/auth//connect/authorize
          tokenUrl: https://login-rls.congacloud.com/api/v1/auth//connect/token
          scopes:
            openid: openid
            profile: profile
            offline_access: offline_access
            Auth.Api.Platform: Auth.Api.Platform
