openapi: 3.2.0
info:
  title: X-Author Agreement Offline API
  version: v1
  description: This class contains APIs related to offline agreements.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementOffline
  description: This class contains APIs related to offline agreements.
paths:
  /api/xauthor/v1/contracts/documents/create-offline:
    post:
      tags:
      - AgreementOffline
      summary: Create an offline agreement
      description: Creates a new contract document and affixes it to a new contract record. Pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Create offline agreement request body
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CreateOfflineRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/documents/create-offline-multipart:
    post:
      tags:
      - AgreementOffline
      summary: Create offline Agreement
      description: Creates a new contract document and affixes it into a new contract record. Pass the Agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.
      parameters:
      - name: ContractAttributes
        in: query
        schema:
          type:
          - object
          - 'null'
          additionalProperties: {}
      - name: DocumentCustomProperties
        in: query
        schema:
          type:
          - object
          - 'null'
          additionalProperties: {}
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentFile:
                  type:
                  - string
                  - 'null'
                  description: Document to be created as offline Agreement
                  format: binary
                DocumentMetadata.Tags:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                DocumentMetadata.Description:
                  type:
                  - string
                  - 'null'
            encoding:
              documentFile:
                style: form
              DocumentMetadata.Tags:
                style: form
              DocumentMetadata.Description:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/documents/store-executed-multipart:
    post:
      tags:
      - AgreementOffline
      summary: Create store executed agreement
      description: Creates a new contract document and affixes it into a new contract record. Pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Record Type, Account Name, and Contact ID.
      parameters:
      - name: ContractAttributes
        in: query
        schema:
          type:
          - object
          - 'null'
          additionalProperties: {}
      - name: DocumentCustomProperties
        in: query
        schema:
          type:
          - object
          - 'null'
          additionalProperties: {}
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentFile:
                  type:
                  - string
                  - 'null'
                  description: Document file
                  format: binary
                DocumentMetadata.Tags:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                DocumentMetadata.Description:
                  type:
                  - string
                  - 'null'
            encoding:
              documentFile:
                style: form
              DocumentMetadata.Tags:
                style: form
              DocumentMetadata.Description:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/import-offline:
    post:
      tags:
      - AgreementOffline
      summary: Import an offline agreement
      description: Imports a contract document into an existing contract record. You must pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Agreement ID, Offline Mode, and Document Content.
      parameters:
      - name: contractId
        in: path
        description: contractId
        required: true
        schema:
          type:
          - string
          - 'null'
          description: contractId
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Import offline agreement request body
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AgreementDocument.ImportOfflineRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AgreementDocument.ImportOfflineRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AgreementDocument.ImportOfflineRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.AgreementDocument.ImportOfflineRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/import-offline-multipart:
    post:
      tags:
      - AgreementOffline
      summary: Import an offline agreement
      description: Imports a contract document into an existing contract record. You must pass the agreement information in the request body to attach a document to an agreement. Fields passed in the request body include Agreement ID, Offline Mode, and Document Content.
      parameters:
      - name: DocumentCustomProperties
        in: query
        schema:
          type:
          - object
          - 'null'
          additionalProperties: {}
      - name: contractId
        in: path
        description: Contract Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Contract Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentFile:
                  type:
                  - string
                  - 'null'
                  description: Document to be imported as offline Agreement
                  format: binary
                ContractId:
                  type:
                  - string
                  - 'null'
                ConvertPdfToDocx:
                  type: boolean
                DocumentMetadata.Tags:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                DocumentMetadata.Description:
                  type:
                  - string
                  - 'null'
            encoding:
              documentFile:
                style: form
              ContractId:
                style: form
              ConvertPdfToDocx:
                style: form
              DocumentMetadata.Tags:
                style: form
              DocumentMetadata.Description:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Conga.XAuthor.Core.Model.AgreementDocument.ImportOfflineRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        suggestedFileName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CreateOfflineRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        suggestedFileName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        fieldDefinitions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldDefinition'
      additionalProperties: false
    Apttus.XAuthor.Common.DTO.Contracts.ImportOfflineAgreementResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
        attachmentId:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.FieldDefinition:
      type: object
      properties:
        fieldAPIName:
          type:
          - string
          - 'null'
        value: {}
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
