openapi: 3.2.0
info:
  title: Cart - V1 Carts API
  version: v1
  description: The Cart Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Carts
  description: The Cart Controller
paths:
  /api/cart/v1/carts:
    delete:
      tags:
      - Carts
      summary: Delete carts
      description: Deletes multiple carts from a submitted list.
      requestBody:
        description: The list of carts to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Carts
      summary: Get all carts
      description: Retrieves the collection of all the carts.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Carts
      summary: Update carts
      description: Updates multiple carts from a list.
      requestBody:
        description: The list of carts with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Carts
      summary: Create carts
      description: Creates multiple carts from a list.
      requestBody:
        description: The list of carts to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration'
      responses:
        '200':
          description: OK
  /api/cart/v1/carts/{Id}:
    delete:
      tags:
      - Carts
      summary: Delete a cart
      description: Deletes a single cart by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the cart
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Carts
      summary: Get a cart
      description: Retrieves a single cart by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the cart
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Carts
      summary: Update a cart
      description: Updates a single cart by ID.
      parameters:
      - name: Id
        in: path
        description: The identifier of the cart to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the cart
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    Conga.Revenue.Entities.Platform.ProductConfiguration:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        ancestor:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        approvalStatus:
          type:
          - string
          - 'null'
        baseRelationCount:
          type:
          - integer
          - 'null'
          format: int32
        billingPreference:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        billToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        businessObjectId:
          type:
          - string
          - 'null'
        businessObjectProfile:
          type:
          - string
          - 'null'
        businessObjectRefId:
          type:
          - string
          - 'null'
        businessObjectType:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        contractNumbers:
          type:
          - string
          - 'null'
        costRollupInfo:
          type:
          - string
          - 'null'
        couponCodes:
          type:
          - string
          - 'null'
        currentUser:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        description:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        effectivePriceList:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        expectedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        expectedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        finalizedDate:
          type:
          - string
          - 'null'
          format: date-time
        intent:
          type:
          - string
          - 'null'
        isPricePending:
          type: boolean
        isTaskPending:
          type: boolean
        isTransient:
          type: boolean
        isValidationPending:
          type: boolean
        lineItemsAwaitingPrice:
          type:
          - string
          - 'null'
        legalEntity:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        location:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        numberOfItems:
          type:
          - integer
          - 'null'
          format: int32
        order:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        parentConfiguration:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        priceList:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        primordial:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        purchaseId:
          type:
          - string
          - 'null'
        renewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentType:
          type:
          - string
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        splitCriteriaKey:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        summaryGroupType:
          type:
          - string
          - 'null'
        taskCompletedDate:
          type:
          - string
          - 'null'
          format: date-time
        useType:
          type:
          - string
          - 'null'
        versionNumber:
          type:
          - integer
          - 'null'
          format: int32
        activationDate:
          type:
          - string
          - 'null'
          format: date-time
        parentProposal:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        owner:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
