openapi: 3.2.0
info:
  title: Administration Custom Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: CustomSettings
paths:
  /flows:
    get:
      tags:
      - CustomSettings
      summary: List flows
      description: Retrieves the list of the flows.
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create flows
      description: Creates one or more custom flows based on the request body.The API also creates display action settings and display column settings with default values, which can be overriden or updated using the settings endpoints.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
          text/json:
            schema:
              $ref: '#/components/schemas/Flow'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flow'
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
            text/json:
              schema:
                $ref: '#/components/schemas/Flow'
  /flows/{flowName}/views:
    get:
      tags:
      - CustomSettings
      summary: Retrieve column displays associated with a flow
      description: "Retrieves the column displays for the flow passed in the parameter, based on the Display Column Settings configured and the Display Type. The columns are defined for the following <b>Display Types</b> which correspond to different sections on a CPQ page: \n<ul><li>Cart Line Item</li><li>Cart Total Item</li><li>Mass Update</li><li>Cost Line Item</li><li>Usage Price tiers</li><li>Price Ramps</li><li>Tierd Price</li><li>Related Price</li><li>Line Item Waterfall</li><li>Option Line Item</li></ul><p>The API also retrieves the following details associated with the columns: </p><ul><li> Sequence: Defines sequence in which columns are displayed on CPQ pages.</li><li> Field Name: The name of the column</li><li> Is Editable: Indicates whether the column is editable in CPQ.</li><li>Style: Defines the column text alignment using CSS styles.</li><li> Style Class: Defines the style class used for the column.</li></ul>'"
      parameters:
      - name: flowName
        in: path
        description: The name of the flow
        required: true
        schema:
          type: string
          default: system
      - name: viewFor
        in: query
        description: The component associated with the flow
        schema:
          type: string
          default: Cart
      - name: search
        in: query
        description: Search with view field
        schema:
          type: string
      - name: sort
        in: query
        description: Sort the views
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create views
      description: Creates views for a flow.
      parameters:
      - name: flowName
        in: path
        description: The name of the flow
        required: true
        schema:
          type: string
          default: system
      - name: viewFor
        in: query
        description: The component associated with the flow
        schema:
          type: string
          default: Cart
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
    put:
      tags:
      - CustomSettings
      summary: Update flow views
      description: Updates one or more views for a flow record.
      parameters:
      - name: flowName
        in: path
        description: The name of the flow
        required: true
        schema:
          type: string
          default: system
      - name: viewFor
        in: query
        description: The component associated with the flow
        schema:
          type: string
          default: Cart
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/View'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
  /flows/{flowName}/views/{viewName}:
    delete:
      tags:
      - CustomSettings
      summary: Delete flow views
      description: Deletes the views for a flow.
      parameters:
      - name: viewName
        in: path
        description: The name of the view
        required: true
        schema:
          type: string
      - name: flowName
        in: path
        description: The name of the flow
        required: true
        schema:
          type: string
          default: system
      - name: viewFor
        in: query
        description: The component associated with the flow
        schema:
          type: string
          default: Cart
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
    get:
      tags:
      - CustomSettings
      summary: Retrieve views associated with a flow
      description: Retrieves the views that are associated with the flow.
      parameters:
      - name: viewName
        in: path
        description: The name of the view
        required: true
        schema:
          type: string
      - name: flowName
        in: path
        description: The name of the flow
        required: true
        schema:
          type: string
          default: system
      - name: viewFor
        in: query
        description: The ccomponent associated with the flow
        schema:
          type: string
          default: Cart
      responses:
        '200':
          description: OK
        '204':
          description: No Content
  /flows/{flowname}:
    delete:
      tags:
      - CustomSettings
      summary: Delete a flow
      description: Deletes a flow based on the flow name provided in the parameter.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
    get:
      tags:
      - CustomSettings
      summary: Get a flow by name
      description: This API can be used to retrieve a single flow record.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    put:
      tags:
      - CustomSettings
      summary: Update a flow
      description: updates a flow based on the flow name provided in the parameter.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Flow'
          text/json:
            schema:
              $ref: '#/components/schemas/Flow'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Flow'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Flow'
            application/json:
              schema:
                $ref: '#/components/schemas/Flow'
            text/json:
              schema:
                $ref: '#/components/schemas/Flow'
  /flows/{flowname}/actions:
    get:
      tags:
      - CustomSettings
      summary: Retrieve actions associated with a flow
      description: " Retrieves actions for the flow passed in the parameter, based on the display action settings configured and the display type. The actions are defined for the following <b>Display Types</b> which correspond to different pages in CPQ:\n <ul><li>Cart Page</li><li>Catalog Page </li><li>Bundle Page </li><li>Attribute Page </li><li>Resolve</li><li> configuration Page </li><li>Installed Products Page</li><li>Analyze Quote </li><li>Cart Summary </li></ul><p> The API also retrieves the following details associated with the actions: </p><ul><li> Sequence: Defines sequence in which actions are displayed on CPQ pages. </li><li>Action: API names of the actions.For example, <i>Finalize</i> and<i>Addmoreproduct</i>.\n</li><li>Action Label Name: Actions lables that displayed on the CPQ pages. For example, <b>Finalize</b> and <b>Close Cart</b>. </li><li> Display As: Defines whether given action is displayed as an<i> Action</i> or<i> Task</i> on the CPQ page. </li><li> Action Area: Defines position on the page where action is displayed.For example, <i>Left</i>, <i>Right</i>, and<i> Center</i>. </li><li> Action Style Class: Defines the style class used for the action. </li><li> Action Page: The name of the Visualforce or custom page that is invoked for the respective action along with action params. </li><li> Behavior: Defines the action page''s behavior on opening the page in a dialog window, new window, or the same window. </li><li> Action type: Defines the action type. For example, <i>Quick Redirect</i>,<i> Save</i>, and<i> Quick Save</i>. </li><li>Is Enabled: Indicates whether the action is enabled or disabled. </li><li>Always Display: Indicates that the actions are displayed even is they are disabled.The disabled actions are grayed out on the CPQ pages. </li></ul>"
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create flow actions
      description: Creates 1 or more flow actions.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items: {}
            example:
            - DisplayType: DisplayType
              ActionName: ActionName
              Name: Name
              Sequence: 1
              Flow: Flowname
              IsEnabled: true
              ActionArea: Flowname
              DisplayAs: Action
              AlwaysDisplay: true
              ActionLabelName: ActionLabelName
          text/json:
            schema:
              type: array
              items: {}
          application/*+json:
            schema:
              type: array
              items: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
    put:
      tags:
      - CustomSettings
      summary: Update flow actions
      description: Creates, updates, and deletes flow actions based on the request body, for the flow passed in the parameter.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items: {}
            example:
            - DisplayType: DisplayType
              ActionName: ActionName
              Name: Name
              Sequence: 1
              Flow: Flowname
              IsEnabled: true
              ActionArea: Flowname
              DisplayAs: Action
              AlwaysDisplay: true
              ActionLabelName: ActionLabelName
          text/json:
            schema:
              type: array
              items: {}
          application/*+json:
            schema:
              type: array
              items: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RevenueException'
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
            text/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
  /flows/{flowname}/displays:
    get:
      tags:
      - CustomSettings
      summary: Retrieve column displays associated with a flow
      description: "Retrieves column displays for the flow passed in the parameter, based on the display column settings configured and the display type. The columns are defined for the following <b>Display Types</b> which correspond to different sections on a CPQ page: \n<ul><li>Cart Line Item</li><li>Cart Total Item</li><li>Mass Update</li><li>Cost Line Item</li><li>Usage Price tiers</li><li>Price Ramps</li><li>Tierd Price</li><li>Related Price</li><li>Line Item Waterfall</li><li>Option Line Item</li></ul><p>The API also retrieves the following details associated with the columns: </p><ul><li> Sequence: Defines sequence in which columns are displayed on CPQ pages.</li><li> Field Name: The name of the column</li><li> Is Editable: Indicates whether the column is editable in CPQ.</li><li>Style: Defines the column text alignment using CSS styles.</li><li> Style Class: Defines the style class used for the column.</li></ul>'"
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create flow displays
      description: Creates 1 or more displays for a flow.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items: {}
            example:
            - DisplayType: DisplayType
              Flow: FlowName
              Name: Name
              FieldLength: 18
              FieldName: FieldName
              FieldType: FieldType
              IsCalculated: true
              IsEditable: true
              IsPricePoint: false
              IsSortable: false
              Label: Label
              ObjectType: null
              Sequence: 1
              Scale: 5
              Style: null
              StyleClass: null
              SObjectName: null
              Controller: null
              IsRichTextchText: false
          text/json:
            schema:
              type: array
              items: {}
          application/*+json:
            schema:
              type: array
              items: {}
      responses:
        '201':
          description: Created
    put:
      tags:
      - CustomSettings
      summary: Update flow displays
      description: Updates 1 more displays for a flow record.
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items: {}
            example:
            - DisplayType: DisplayType
              Flow: FlowName
              Name: Name
              FieldLength: 18
              FieldName: FieldName
              FieldType: FieldType
              IsCalculated: true
              IsEditable: true
              IsPricePoint: false
              IsSortable: false
              Label: Label
              ObjectType: null
              Sequence: 1
              Scale: 5
              Style: null
              StyleClass: null
              SObjectName: null
              Controller: null
              IsRichTextchText: false
          text/json:
            schema:
              type: array
              items: {}
          application/*+json:
            schema:
              type: array
              items: {}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
  /flows/{flowname}/settings:
    get:
      tags:
      - CustomSettings
      summary: Retrieve custom setting defined for a flow
      description: 'Retrieves the custom settings defined for a flow name provided in the parameter. When custom settings are defined at both flow-level and global-level, flow-level take precedence over global settings in response the API retrieves.<p> The API retrieves the following custom settings: </p><ul><li> Config System Properties</li><li>Config Select Config Products Settings</li><li>Config Select Bundle Options Settings</li><li>Incentive System Properties</li><li>Installed Products Settings</li></ul><p>The above-mentioned custom settings are categorized into the following: </p><ul><li>Config Page Settings</li><li>Catalog Page Settings</li><li>Cart Page Settings</li><li>Pricing Engine</li><li>Configuration Engine</li><li>Promotions Settings</li><li>Asset Settings</li><li>Incentives Settings</li><li>Favorite Settings</li></ul>'
      parameters:
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
                additionalProperties: {}
            application/json:
              schema:
                type: object
                additionalProperties: {}
            text/json:
              schema:
                type: object
                additionalProperties: {}
        '204':
          description: No Content
  /flows/{flowname}/settings/{settingname}:
    delete:
      tags:
      - CustomSettings
      summary: Delete settings
      description: Deletes a setting or child setting for a flow.
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: query
        description: ''
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - CustomSettings
      summary: Retrieve custom settings associated with a flow
      description: "Retrieves the following categories of setting associated with a flow name provided in the parameters. \n<ul><li>Config Page Settings</li><li>Catalog Page Settings</li></ul><p>The above-mentioned settings are divided into the following custom settings or child settings which are used in the `settingName` parameter to retrieve the fields belonging to it.</p><ul><li>Config System Properties</li><li>Config Select Config Products Settings</li><li>Config Select Bundle Options Settings</li></ul><p> The `childSettingName` is not supported in this release</p>"
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: query
        description: ''
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
                additionalProperties: {}
            application/json:
              schema:
                type: object
                additionalProperties: {}
            text/json:
              schema:
                type: object
                additionalProperties: {}
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create settings
      description: Creates a setting or child setting for a flow.
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: query
        description: ''
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              key1: value1
              key2: value2
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
    put:
      tags:
      - CustomSettings
      summary: Update custom settings associated with a flow
      description: "Updates the following categories of setting associated with a flow name provided in the parameters. \n<ul><li>Config Page Settings</li><li>Catalog Page Settings</li></ul><p>The above-mentioned settings are divided into the following custom settings or child settings which are used in the `settingName` parameter to update the fields belonging to it.</p><ul><li>Config System Properties</li><li>Config Select Config Products Settings</li><li>Config Select Bundle Options Settings</li></ul><p> The `childSettingName` is not supported in this release.</p>"
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: query
        description: ''
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              key1: value1
              key2: value2
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
  /flows/{flowname}/settings/{settingname}/{childsettingname}:
    delete:
      tags:
      - CustomSettings
      summary: Delete settings
      description: Deletes a setting or child setting for a flow.
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - CustomSettings
      summary: Retrieve custom settings associated with a flow
      description: "Retrieves the following categories of setting associated with a flow name provided in the parameters. \n<ul><li>Config Page Settings</li><li>Catalog Page Settings</li></ul><p>The above-mentioned settings are divided into the following custom settings or child settings which are used in the `settingName` parameter to retrieve the fields belonging to it.</p><ul><li>Config System Properties</li><li>Config Select Config Products Settings</li><li>Config Select Bundle Options Settings</li></ul><p> The `childSettingName` is not supported in this release</p>"
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
          default: system
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: object
                additionalProperties: {}
            application/json:
              schema:
                type: object
                additionalProperties: {}
            text/json:
              schema:
                type: object
                additionalProperties: {}
        '204':
          description: No Content
    post:
      tags:
      - CustomSettings
      summary: Create settings
      description: Creates a setting or child setting for a flow.
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              key1: value1
              key2: value2
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
    put:
      tags:
      - CustomSettings
      summary: Update custom settings associated with a flow
      description: "Updates the following categories of setting associated with a flow name provided in the parameters. \n<ul><li>Config Page Settings</li><li>Catalog Page Settings</li></ul><p>The above-mentioned settings are divided into the following custom settings or child settings which are used in the `settingName` parameter to update the fields belonging to it.</p><ul><li>Config System Properties</li><li>Config Select Config Products Settings</li><li>Config Select Bundle Options Settings</li></ul><p> The `childSettingName` is not supported in this release.</p>"
      parameters:
      - name: settingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: childsettingname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: flowname
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              key1: value1
              key2: value2
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items: {}
            application/json:
              schema:
                type: array
                items: {}
            text/json:
              schema:
                type: array
                items: {}
components:
  schemas:
    RuntimeTypeHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/FieldAttributes'
        FieldType:
          $ref: '#/components/schemas/Type'
        IsInitOnly:
          type: boolean
          readOnly: true
        IsLiteral:
          type: boolean
          readOnly: true
        IsNotSerialized:
          type: boolean
          readOnly: true
          deprecated: true
        IsPinvokeImpl:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        FieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    ConfigCustomDisplayColumns:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Flow:
          type:
          - string
          - 'null'
        DisplayType:
          type:
          - string
          - 'null'
        FieldName:
          type:
          - string
          - 'null'
        FieldType:
          type:
          - string
          - 'null'
        FieldLength:
          type: integer
          format: int32
        Scale:
          type: integer
          format: int32
        Label:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        IsSortable:
          type: boolean
        IsEditable:
          type: boolean
        IsCalculated:
          type: boolean
        IsPricePoint:
          type:
          - boolean
          - 'null'
        HeaderStyle:
          type:
          - string
          - 'null'
        Style:
          type:
          - string
          - 'null'
        StyleClass:
          type:
          - string
          - 'null'
        ObjectType:
          type:
          - string
          - 'null'
        SObjectName:
          type:
          - string
          - 'null'
        Controller:
          type:
          - string
          - 'null'
        IsRichTextchText:
          type: boolean
      additionalProperties: false
    CustomAttributeTypedArgument:
      type: object
      properties:
        ArgumentType:
          $ref: '#/components/schemas/Type'
        Value: {}
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    Assembly:
      type: object
      properties:
        DefinedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        ExportedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        CodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        EntryPoint:
          $ref: '#/components/schemas/MethodInfo'
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        ImageRuntimeVersion:
          type:
          - string
          - 'null'
          readOnly: true
        IsDynamic:
          type: boolean
          readOnly: true
        Location:
          type:
          - string
          - 'null'
          readOnly: true
        ReflectionOnly:
          type: boolean
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        IsFullyTrusted:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        EscapedCodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        ManifestModule:
          $ref: '#/components/schemas/Module'
        Modules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        GlobalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        HostContext:
          type: integer
          format: int64
          readOnly: true
        SecurityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    IntPtr:
      type: object
      additionalProperties: false
    Flow:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
      additionalProperties: false
      example:
        Name: FlowName
        Description: Flow description
    PropertyInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        PropertyType:
          $ref: '#/components/schemas/Type'
        Attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        CanRead:
          type: boolean
          readOnly: true
        CanWrite:
          type: boolean
          readOnly: true
        GetMethod:
          $ref: '#/components/schemas/MethodInfo'
        SetMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        MemberInfo:
          $ref: '#/components/schemas/MemberInfo'
        TypedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        MemberName:
          type:
          - string
          - 'null'
          readOnly: true
        IsField:
          type: boolean
          readOnly: true
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ViewSort:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        Direction:
          type:
          - string
          - 'null'
      additionalProperties: false
    TypeInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
        GenericTypeParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        DeclaredConstructors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        DeclaredEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        DeclaredFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        DeclaredMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        DeclaredMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        DeclaredNestedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        DeclaredProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        ImplementedInterfaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        Member:
          $ref: '#/components/schemas/MemberInfo'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        ParameterType:
          $ref: '#/components/schemas/Type'
        Position:
          type: integer
          format: int32
          readOnly: true
        IsIn:
          type: boolean
          readOnly: true
        IsLcid:
          type: boolean
          readOnly: true
        IsOptional:
          type: boolean
          readOnly: true
        IsOut:
          type: boolean
          readOnly: true
        IsRetval:
          type: boolean
          readOnly: true
        DefaultValue:
          readOnly: true
        RawDefaultValue:
          readOnly: true
        HasDefaultValue:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    StructLayoutAttribute:
      type: object
      properties:
        TypeId:
          readOnly: true
        Value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    View:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        IsDefault:
          type: boolean
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
        Filter:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ViewFilter'
        FilterExpression:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        For:
          type:
          - string
          - 'null'
        Sort:
          $ref: '#/components/schemas/ViewSort'
        LeftColumns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConfigCustomDisplayColumns'
        MiddleColumns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConfigCustomDisplayColumns'
        RightColumns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConfigCustomDisplayColumns'
      additionalProperties: false
      example:
        Name: ViewName
        IsDefault: false
        GroupBy: null
        Filter:
        - Field: Field
          Operator: Oper
          Value: Value
          MatchParentLinesOnly: true
          SelectAllQualifiedLines: true
        FilterExpression: 'A logical expression used to filter data, Example: (1 AND 2) OR 3'
        Type: ViewType
        For: null
        Sort:
          Field: Sort by Field Name
          Direction: 'Sorting Order: Ascending or Descending'
        LeftColumns:
        - Name: Name
          Flow: FlowName
          DisplayType: null
          FieldName: FieldName
          FieldType: null
          FieldLength: 0
          Scale: 0
          Label: null
          Sequence: 1
          IsSortable: true
          IsEditable: true
          IsCalculated: true
          IsPricePoint: true
          HeaderStyle: null
          Style: null
          StyleClass: null
          ObjectType: null
          SObjectName: null
          Controller: null
          IsRichTextchText: null
        MiddleColumns:
        - Name: Name
          Flow: FlowName
          DisplayType: null
          FieldName: FieldName
          FieldType: null
          FieldLength: 0
          Scale: 0
          Label: null
          Sequence: 1
          IsSortable: true
          IsEditable: true
          IsCalculated: true
          IsPricePoint: true
          HeaderStyle: null
          Style: null
          StyleClass: null
          ObjectType: null
          SObjectName: null
          Controller: null
          IsRichTextchText: null
        RightColumns:
        - Name: Name
          Flow: FlowName
          DisplayType: null
          FieldName: FieldName
          FieldType: null
          FieldLength: 0
          Scale: 0
          Label: null
          Sequence: 1
          IsSortable: true
          IsEditable: true
          IsCalculated: true
          IsPricePoint: true
          HeaderStyle: null
          Style: null
          StyleClass: null
          ObjectType: null
          SObjectName: null
          Controller: null
          IsRichTextchText: null
    ModuleHandle:
      type: object
      properties:
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    CustomAttributeData:
      type: object
      properties:
        AttributeType:
          $ref: '#/components/schemas/Type'
        Constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        ConstructorArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        NamedArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    Type:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    ViewFilter:
      type: object
      properties:
        Field:
          type:
          - string
          - 'null'
        Operator:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        MatchParentLinesOnly:
          type: boolean
        SelectAllQualifiedLines:
          type: boolean
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    RuntimeMethodHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    ConstructorInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/EventAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        AddMethod:
          $ref: '#/components/schemas/MethodInfo'
        RemoveMethod:
          $ref: '#/components/schemas/MethodInfo'
        RaiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        IsMulticast:
          type: boolean
          readOnly: true
        EventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    Module:
      type: object
      properties:
        Assembly:
          $ref: '#/components/schemas/Assembly'
        FullyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
        ModuleVersionId:
          type: string
          format: uuid
          readOnly: true
        ScopeName:
          type:
          - string
          - 'null'
          readOnly: true
        ModuleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    Exception:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    MethodInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        ReturnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        ReturnType:
          $ref: '#/components/schemas/Type'
        ReturnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    RevenueException:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
