openapi: 3.2.0
info:
  title: X-Author Field Mark API
  version: v1
  description: This class contains API endpoints for field's marking-related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: FieldMark
  description: This class contains API endpoints for field's marking-related operations.
paths:
  /api/xauthor/v1/fields/mark-content:
    post:
      tags:
      - FieldMark
      summary: Mark as field
      description: Creates a new field record. The specific content is highlighted and marked as a field. The required parameters are passed in the request body.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkFieldRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkFieldRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkFieldRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkFieldRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/fields/mark-content/2:
    post:
      tags:
      - FieldMark
      summary: Mark as field
      description: Creates a new field record. The specific content is highlighted and marked as a field. The required parameters are passed in the request body.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkFieldV2Request'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkFieldV2Request'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkFieldV2Request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkFieldV2Request'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkedFieldV2Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkedFieldV2Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Core.Model.MarkedFieldV2Response'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Model.Model.Fields.FieldValidationDetail:
      type: object
      properties:
        contentControlId:
          type: integer
          format: int64
          deprecated: true
        fieldMetadataId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        fieldDisplayName:
          type:
          - string
          - 'null'
        currentText:
          type:
          - string
          - 'null'
        previousText:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
        pickListValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isValid:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.FieldMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        baseValueLocalized:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isReadonly:
          type:
          - boolean
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        sourceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldSourceMetadata'
        isMarkedForDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.DocumentMetadata:
      type: object
      properties:
        schemaVersion:
          type:
          - string
          - 'null'
        mergeEngine:
          type:
          - string
          - 'null'
        mergeVersion:
          type:
          - string
          - 'null'
        templateType:
          $ref: '#/components/schemas/Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum'
        templateVersion:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        templateVersionId:
          type:
          - string
          - 'null'
        businessObject:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        parentObjectId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        documentMetadataId:
          type:
          - string
          - 'null'
        documentVersion:
          type:
          - string
          - 'null'
        hasSmartItem:
          type: boolean
        locale:
          type:
          - string
          - 'null'
        numberPrecision:
          type: integer
          format: int32
        currencyPrecision:
          type: integer
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldSourceMetadata:
      type: object
      properties:
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldAPIName:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldObjectInstanceId:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.MarkedContent:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        properties:
          type:
          - string
          - 'null'
        fieldCCIds:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        clauseLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseLocaleInfo'
        clauseContentType:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Field:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        parentType:
          type:
          - string
          - 'null'
        pickList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
        length:
          type:
          - integer
          - 'null'
          format: int32
        localName:
          type:
          - string
          - 'null'
        mergeFieldName:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        tag:
          type:
          - string
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        readOnly:
          type:
          - boolean
          - 'null'
        isRichtextField:
          type:
          - boolean
          - 'null'
        relationshipMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RelationshipMetadata'
        referenceTo:
          type:
          - string
          - 'null'
        referenceObject:
          type:
          - string
          - 'null'
        isDBReferenceField:
          type: boolean
        referenceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        picklistName:
          type:
          - string
          - 'null'
        defaultValue: {}
        dependentPicklistName:
          type:
          - string
          - 'null'
        dependentPicklist:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DependentPicklistItem'
        isSortable:
          type:
          - boolean
          - 'null'
        isNameField:
          type:
          - boolean
          - 'null'
        isFilterable:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.MarkFieldValidationRequest:
      type: object
      properties:
        validateField:
          type: boolean
        selectedText:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        currencyPrecision:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.PickListItem:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RelationshipMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        referenceType:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        targetObjectName:
          type:
          - string
          - 'null'
        targetFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.MarkFieldRequest:
      type: object
      properties:
        opcXml:
          type:
          - string
          - 'null'
        objectType:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        field:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        isXauthorContract:
          type: boolean
        ideEntityId:
          type:
          - string
          - 'null'
        ideJobId:
          type:
          - string
          - 'null'
        normalizedValue:
          type:
          - string
          - 'null'
        extractedValue:
          type:
          - string
          - 'null'
        fieldValidationInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkFieldValidationRequest'
        isPickListValuePopulated:
          type: boolean
        picklistValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DependentPicklistItem:
      type: object
      properties:
        controllingPicklistValue:
          type:
          - string
          - 'null'
        picklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
      additionalProperties: false
    Conga.XAuthor.Core.Model.MarkFieldV2Request:
      type: object
      properties:
        markedText:
          type:
          - string
          - 'null'
        documentMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.DocumentMetadata'
        fieldMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ClauseLocaleInfo:
      type: object
      properties:
        clauseCurrencyPrecision:
          type:
          - string
          - 'null'
        localizationEnabled:
          type: boolean
        localeInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
      additionalProperties: false
    Conga.XAuthor.Core.Model.MarkedFieldV2Response:
      type: object
      properties:
        fieldValidationDetail:
          $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Fields.FieldValidationDetail'
        fieldMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
