openapi: 3.2.0
info:
  title: Administration Type Ahead API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Typeahead
paths:
  /{objectname}/type-ahead:
    get:
      tags:
      - Typeahead
      summary: Retrieve type-ahead results
      description: Retrieves the type-ahead results.
      parameters:
      - name: objectname
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: query
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
            text/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
      operationId: getByObjectnameTypeAhead
      x-operation-id-source: derived
components:
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
