openapi: 3.2.0
info:
  title: X-Author Query API
  version: v1
  description: This class contains APIs for querying objects
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Query
  description: This class contains APIs for querying objects
paths:
  /api/xauthor/v1/query/{objectName}:
    post:
      tags:
      - Query
      summary: Retrieve dynamic lookup data
      description: This API query retrieves dynamic lookup data containing dynamic fields and dynamic entities. Provide the objectName in the parameters.
      parameters:
      - name: objectName
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: body param to specify fields, entity, search value, search name and condition
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.QueryRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.QueryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.QueryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.QueryRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
            text/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: {}
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.QueryRequest:
      type: object
      properties:
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        fields:
          type:
          - string
          - 'null'
        entity:
          type:
          - string
          - 'null'
        condition:
          type:
          - string
          - 'null'
        searchFieldName:
          type:
          - string
          - 'null'
        searchVal:
          type:
          - string
          - 'null'
        orderBy:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
