openapi: 3.2.0
info:
  title: Ingress Status API
  version: 1.0.0
  description: Get merge process status
servers:
- url: https://rls.congacloud.com/api/ingress
security:
- JWT: []
tags:
- name: Status
  description: Get merge process status
paths:
  /v1/Status/{id}:
    get:
      tags:
      - Status
      summary: Get merge process status
      description: Gets the status of all completed and ongoing merge steps. For more information, see [Conga Composer API Use Cases](https://documentation.conga.com/composer/latest/conga-composer-api-use-cases-203496246.html).
      operationId: Status_Get
      parameters:
      - name: id
        in: path
        required: true
        description: Correlation ID
        schema:
          type: string
        x-position: 1
      - name: showDetails
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeStatusResponse'
        '204':
          description: No Content
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal Server Error
      security:
      - JWT: []
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        extensions:
          type: object
          additionalProperties: {}
    StatusJsonResponse:
      type: object
      description: 'Status Json : A model to hold information pertaining to Statuses'
      additionalProperties: false
      properties:
        id:
          type: string
          description: Id
        correlationId:
          type: string
          description: Correlation id
        transactionId:
          type: string
          description: Transaction id
          format: guid
        operation:
          type: string
          description: Operation
        message:
          type: string
          description: Message
        errors:
          type: array
          description: List of errors details
          items:
            $ref: '#/components/schemas/ErrorDetailResponse'
        statusCode:
          type: integer
          description: Status Code
          format: int32
        detail:
          type: string
          description: Detail
        eventDate:
          type: string
          description: Event Date
          format: date-time
    MergeStatusResponse:
      type: object
      description: MergeStatusResponse
      additionalProperties: false
      properties:
        correlationId:
          type: string
          description: Correlation Id
        message:
          type: string
          description: Message
        messageId:
          type: string
          description: MessageId
        lastUpdateTimeStamp:
          type: integer
          description: LastUpdateTimeStamp
          format: int64
        expirationTime:
          type: integer
          description: ExpirationTime
          format: int64
        createdDate:
          type: string
          description: Created Date
          format: date-time
        detail:
          type:
          - array
          - 'null'
          description: Detail
          items:
            $ref: '#/components/schemas/StatusJsonResponse'
        errors:
          type: array
          description: List of errors details
          items:
            $ref: '#/components/schemas/ErrorDetailResponse'
        eventDate:
          type: string
          description: EventDate UTC date time
          format: date-time
        expirationTimeDateTime:
          type: string
          description: ExpirationTime UTC date time
          format: date-time
    ErrorDetailResponse:
      type: object
      additionalProperties: false
      properties:
        category:
          type: string
          description: ErrorCategory
        message:
          type: string
          description: Message
        code:
          type: string
          description: Code
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
