openapi: 3.2.0
info:
  title: Administration Attribute Groups API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attribute Groups
paths:
  /attribute-groups:
    delete:
      tags:
      - Attribute Groups
      summary: Delete attribute groups
      description: Deletes one or more attribute groups based on the input provided in the request body. Upon deletion of an attribute group, the API deletes the records of association between attribute group with attributes and product.
      requestBody:
        description: The list of attribute groups to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Groups
      summary: Retrieve attribute groups
      description: Retrieves the collection of attribute groups.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Groups
      summary: Update attribute groups
      description: 'Updates one or more attribute groups based on the details provided in the request body.



        When executed, the API returns the ID and the structure of the updated attribute group.'
      requestBody:
        description: The list of attribute groups with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: AttributeGroupName
              AttributeMatrix: null
              Description: Attribute Group description
              ThreeColumnAttributeDisplay: false
              TwoColumnAttributeDisplay: false
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Attribute Groups
      summary: Create attribute groups
      description: 'Creates mone or more attribute groups based on the details provided in the request body.



        When executed, the API returns the ID and the structure of the newly created attribute group.'
      requestBody:
        description: The list of attribute groups to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeGroup'
      responses:
        '200':
          description: OK
  /attribute-groups/{Id}:
    delete:
      tags:
      - Attribute Groups
      summary: Delete an attribute group
      description: Deletes a single attribute group record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute group to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Groups
      summary: Retrieve an attribute group
      description: Retrieves a single attribute group record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute group
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Attribute Groups
      summary: Update an attribute group
      description: Updates a single attribute group record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute group to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the attribute group
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AttributeGroupName
              AttributeMatrix: null
              Description: Attribute Group description
              ThreeColumnAttributeDisplay: false
              TwoColumnAttributeDisplay: false
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    AttributeGroup:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AttributeMatrix:
          $ref: '#/components/schemas/LookupObject'
        Description:
          type:
          - string
          - 'null'
        ThreeColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        TwoColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
      additionalProperties: {}
      example:
        Name: AttributeGroupName
        AttributeMatrix: null
        Description: Attribute Group description
        ThreeColumnAttributeDisplay: false
        TwoColumnAttributeDisplay: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
