openapi: 3.2.0
info:
  title: X-Author Clause Content API
  version: v1
  description: This class contains API endpoints for clause's content.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: ClauseContent
  description: This class contains API endpoints for clause's content.
paths:
  /api/xauthor/v1/clause-content/mark:
    post:
      tags:
      - ClauseContent
      summary: Mark plain text as a clause
      description: Use this API to mark plain text as a clause. When you post to this endpoint, it applies the clause's clause boundary and smartness properties to the text.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clause-content/markup-metadata:
    post:
      tags:
      - ClauseContent
      summary: Get the markup clause details for both template and agreement in encoded format
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkClauseContentRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clause-content/{clauseId}:
    post:
      tags:
      - ClauseContent
      summary: Get clause content for document insertion
      parameters:
      - name: clauseId
        in: path
        description: Clause ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Clause ID
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request of type {ClauseContentRequest}
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseContentRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MarkedContent'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.ClauseContentRequest:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        xAuthorContract:
          type: boolean
        localizationEnabled:
          type: boolean
        agreementId:
          type:
          - string
          - 'null'
        isNonVersionClause:
          type: boolean
        configReferenceId:
          type:
          - string
          - 'null'
        clauseInsertAction:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.ClauseInsertAction'
        configName:
          type:
          - string
          - 'null'
        isSmartClause:
          type: boolean
        useClauseFormatting:
          type: boolean
        alternateClauseReferenceId:
          type:
          - string
          - 'null'
        activeVersionId:
          type:
          - string
          - 'null'
        clauseFormat:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.DocumentExtension'
        clauseBehavior:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseBehaviorEnum'
        clauseRichText:
          type:
          - string
          - 'null'
        retainFieldProperties:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.DocumentExtension:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Apttus.XAuthor.Core.Model.MarkClauseContentRequest:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        action:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        subCategory:
          type:
          - string
          - 'null'
        exception:
          type:
          - string
          - 'null'
        riskRating:
          type:
          - string
          - 'null'
        materiallySignificant:
          type: boolean
        content:
          type:
          - string
          - 'null'
        contentText:
          type:
          - string
          - 'null'
        xAuthorContract:
          type: boolean
        localizationEnabled:
          type: boolean
        nonVersionClauseId:
          type:
          - string
          - 'null'
        ideEntityId:
          type:
          - string
          - 'null'
        clauseReferenceId:
          type:
          - string
          - 'null'
        clauseRichText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.ClauseBehaviorEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.ClauseLocaleInfo:
      type: object
      properties:
        clauseCurrencyPrecision:
          type:
          - string
          - 'null'
        localizationEnabled:
          type: boolean
        localeInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.ClauseInsertAction:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.MarkedContent:
      type: object
      properties:
        content:
          type:
          - string
          - 'null'
        properties:
          type:
          - string
          - 'null'
        fieldCCIds:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        clauseLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseLocaleInfo'
        clauseContentType:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
