openapi: 3.2.0
info:
  title: User Management Timezone and Locale API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Timezone and Locale
paths:
  /api/user-management/v1/decimal-symbols:
    get:
      tags:
      - Timezone and Locale
      summary: Get all decimal symbols from locales
      description: Retrieves all decimal symbols from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecimalSymbolsAPIResponse'
              example:
                Success: true
                Data:
                  DecimalSymbolsList:
                  - DisplayValue: .
                    Value: .
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/digitgrouping-symbols:
    get:
      tags:
      - Timezone and Locale
      summary: Get all digit grouping symbols from locales
      description: Retrieves all digit grouping symbols from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitGroupingSymbolAPIResponse'
              example:
                Success: true
                Data:
                  DigitGroupingSymbols:
                  - DisplayValue: ','
                    Value: ','
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/digitgroups:
    get:
      tags:
      - Timezone and Locale
      summary: Get all digit groups from locales
      description: Retrieves all digit groups from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitGroupAPIResponse'
              example:
                Success: true
                Data:
                  DigitGroupList:
                  - DisplayValue: 123,456,789.00
                    Value: 123,456,789.00
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/locales:
    get:
      tags:
      - Timezone and Locale
      summary: Get all locales
      description: Retrieves all locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Name: es-ES
                  DisplayName: Spanish (Spain)
                - Name: de-DE
                  DisplayName: German (Germany)
                - Name: fr-FR
                  DisplayName: French (France)
                StatusCode: OK
  /api/user-management/v1/longdate-formats:
    get:
      tags:
      - Timezone and Locale
      summary: Get all long date formats from locales
      description: Retrieves all long date formats from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LongDateFormatAPIResponse'
              example:
                Success: true
                Data:
                  LongDateFormatList:
                  - DisplayValue: dddd, MMMM dd, yyyy
                    Value: dddd, MMMM dd, yyyy
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/negativenumber-formats:
    get:
      tags:
      - Timezone and Locale
      summary: Get all negative number formats from locales
      description: Retrieves all negative number formats from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegativeNumberFormatAPIResponse'
              example:
                Success: true
                Data:
                  NegativeNumberFormatList:
                  - DisplayValue: -n
                    Value: -n
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/shortdate-formats:
    get:
      tags:
      - Timezone and Locale
      summary: Get all short date formats from locales
      description: Retrieves all short date formats from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortDateFormatAPIResponse'
              example:
                Success: true
                Data:
                  ShortDateFormatList:
                  - DisplayValue: dd/MM/yyyy
                    Value: dd/MM/yyyy
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/time-formats:
    get:
      tags:
      - Timezone and Locale
      summary: Get all time formats from locales
      description: Retrieves all time formats from locales.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeFormatAPIResponse'
              example:
                Success: true
                Data:
                  TimeFormatList:
                  - DisplayValue: h:mm tt
                    Value: h:mm tt
                StatusCode: OK
        '404':
          description: Not Found
  /api/user-management/v1/timezones:
    get:
      tags:
      - Timezone and Locale
      summary: Get all time zones
      description: Retrieves all time zones.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimezoneResponseListAPIResponse'
              example:
                Success: true
                Data:
                - TimezoneName: (GMT-11:00) UTC-11 (Pacific/Midway)
                  TimezoneId: Pacific/Midway
                - TimezoneName: (GMT-11:00) UTC-11 (Pacific/Niue)
                  TimezoneId: Pacific/Niue
                - TimezoneName: (GMT-11:00) UTC-11 (Pacific/Pago_Pago)
                  TimezoneId: Pacific/Pago_Pago
                - TimezoneName: (GMT-10:00) Hawaiian Standard Time (Pacific/Rarotonga)
                  TimezoneId: Pacific/Rarotonga
                - TimezoneName: (GMT-10:00) Aleutian Standard Time (America/Adak)
                  TimezoneId: America/Adak
                StatusCode: OK
components:
  schemas:
    NegativeNumberFormat:
      type: object
      properties:
        NegativeNumberFormatList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    TimezoneResponse:
      type: object
      properties:
        TimezoneName:
          type:
          - string
          - 'null'
          description: Name of the Timezone
        TimezoneId:
          type:
          - string
          - 'null'
          description: Id of the Timezone
      additionalProperties: false
    DigitGroupingSymbolAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/DigitGroupingSymbol'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    TimeFormatAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/TimeFormat'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    LocaleFieldValue:
      type: object
      properties:
        DisplayValue:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
      additionalProperties: false
    LongDateFormatAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/LongDateFormat'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    DigitGroupAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/DigitGroup'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    LocaleResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    DigitGroupingSymbol:
      type: object
      properties:
        DigitGroupingSymbols:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    DecimalSymbolsAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/DecimalSymbols'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    DecimalSymbols:
      type: object
      properties:
        DecimalSymbolsList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    TimezoneResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TimezoneResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ShortDateFormatAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/ShortDateFormat'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    LongDateFormat:
      type: object
      properties:
        LongDateFormatList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    DigitGroup:
      type: object
      properties:
        DigitGroupList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    ShortDateFormat:
      type: object
      properties:
        ShortDateFormatList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    LocaleResponse:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the Locale
        DisplayName:
          type:
          - string
          - 'null'
          description: DisplayName of the Locale
      additionalProperties: false
    TimeFormat:
      type: object
      properties:
        TimeFormatList:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LocaleFieldValue'
      additionalProperties: false
    NegativeNumberFormatAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/NegativeNumberFormat'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
