openapi: 3.2.0
info:
  title: Rebate Administration Incentive Conditions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/rebates-admin/v1
security:
- Bearer: []
tags:
- name: Incentive Conditions
paths:
  /rebates/{ParentId}/conditions:
    delete:
      tags:
      - Incentive Conditions
      summary: Delete incentive conditions
      description: Deletes one or more incentive conditions from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Conditions
      summary: Retrieve incentive conditions
      description: Retrieves a collection of incentive conditions.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Conditions
      summary: Update incentive conditions
      description: Updates one or more incentive conditions in the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Incentive Conditions
      summary: Create incentive conditions
      description: Adds one or more incentive conditions to the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      requestBody:
        description: The list of incentive conditions to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveCondition'
      responses:
        '200':
          description: OK
  /rebates/{ParentId}/conditions/{Id}:
    delete:
      tags:
      - Incentive Conditions
      summary: Delete a incentive condition
      description: Deletes a single incentive condition.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive condition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Conditions
      summary: Retrieve a incentive condition
      description: Retrieves a single incentive condition.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive condition
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Conditions
      summary: Update a incentive condition
      description: Updates a single incentive condition.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent rebate
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the incentive condition
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the incentive condition
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    IncentiveCondition:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ConditionSequence:
          type:
          - integer
          - 'null'
          format: int32
        Incentive:
          $ref: '#/components/schemas/LookupObject'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ConditionCriteria:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
