openapi: 3.2.0
info:
  title: Conga Sign Signature Image API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: SignatureImage
paths:
  /v1/cs-packages/{packageId}/roles/{roleId}/signatureImage:
    get:
      tags:
      - SignatureImage
      summary: Retrieve signature image for a package role
      description: Retrieves the signature image for a specific role within a package.
      operationId: SignatureImage_GetSignatureImage
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package identifier
        schema:
          type: string
        x-position: 1
      - name: roleId
        in: path
        required: true
        description: The unique role identifier within the package
        schema:
          type: string
        x-position: 2
      - name: transparent
        in: query
        description: Indicates whether the returned signature image should have a transparent background.
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: type
        in: query
        description: Specifies the type of signature image to retrieve (for example, "signature").
        schema:
          type: string
          default: signature
        x-position: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: byte
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
