openapi: 3.2.0
info:
  title: Cart - V1 Price Waterfall API
  version: v1
  description: PriceWaterfall controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: PriceWaterfall
  description: PriceWaterfall controller
paths:
  /api/cart/v1/carts/{cartId}/items/{lineitemId}/waterfallchart:
    get:
      tags:
      - PriceWaterfall
      summary: Get price waterfall detail
      description: Retrieves the price waterfall detail based on the given cart's line item ID.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: lineitemId
        in: path
        description: The line item ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/items/{lineitemId}/waterfallchart/{chartId}:
    get:
      tags:
      - PriceWaterfall
      summary: Get price waterfall detail by chart ID
      description: Retrieves the price waterfall detail based on the given cart's line item ID and chart ID.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: lineitemId
        in: path
        description: The line item identifier
        required: true
        schema:
          type: string
      - name: chartId
        in: path
        description: The chart identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/summarygroups/{summarygroupId}/waterfallchart:
    get:
      tags:
      - PriceWaterfall
      summary: Get summary group associated price waterfall detail
      description: Retrieves the summary group of price waterfall chart details based on the given cart's ID and summary group ID.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: summarygroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/summarygroups/{summarygroupId}/waterfallchart/{chartId}:
    get:
      tags:
      - PriceWaterfall
      summary: Get summary group associated price waterfall detail by chart ID
      description: Retrieves the summary group of price waterfall chart details based on the given cart's ID, summary group ID and waterfall chart ID.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: summarygroupId
        in: path
        description: The Summary Group ID
        required: true
        schema:
          type: string
      - name: chartId
        in: path
        description: Waterfall Chart ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/waterfallchart:
    get:
      tags:
      - PriceWaterfall
      summary: Get batch price waterfall details for all line Items
      description: Retrieves the price waterfall detail based on the all line item.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: chartIds
        in: query
        description: Specify the chart ids to be returned in the response
        schema:
          type: array
          items:
            type: string
      - name: primaryLineNumbers
        in: query
        description: Specify the primary line numbers to be returned in the response.
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: pageNumber
        in: query
        description: Enter the page number of the line. For example, if there are 500 lines in the cart and page size is 25, then a page number can vary from 1 to 20.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Enter the number of objects to be retrieved.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
