openapi: 3.2.0
info:
  title: Administration Waterfall Ruleset API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: WaterfallRuleset
paths:
  /waterfall-rule-sets:
    delete:
      tags:
      - WaterfallRuleset
      summary: Delete waterfall rulesets
      description: Deletes multiple waterfall rulesets.
      requestBody:
        description: The list of waterfall rulesets to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
      responses:
        '200':
          description: OK
    get:
      tags:
      - WaterfallRuleset
      summary: Retrieve waterfall rulesets
      description: Retrieves the collection of waterfall rulesets.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - WaterfallRuleset
      summary: Update waterfall rulesets
      description: Updates multiple waterfall rulesets.
      requestBody:
        description: The list of waterfall rulesets with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Sequence: 1
              IsActive: true
              PriceList:
                Id: PL-Id
                Name: PL-Name
              ProductGroup:
                Id: PG-Id
                Name: PG-Name
              Category: All
              ChargeType: Standard Price
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - WaterfallRuleset
      summary: Create waterfall rulesets
      description: Creates multiple waterfall rulesets.
      requestBody:
        description: The list of waterfall ruleset to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallRuleset'
      responses:
        '200':
          description: OK
  /waterfall-rule-sets/{Id}:
    delete:
      tags:
      - WaterfallRuleset
      summary: Delete a waterfall ruleset
      description: Deletes a single waterfall ruleset by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the waterfall ruleset to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - WaterfallRuleset
      summary: Retrieve a waterfall ruleset
      description: Retrieves a single waterfall ruleset by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the waterfall ruleset
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WaterfallRuleset'
            application/json:
              schema:
                $ref: '#/components/schemas/WaterfallRuleset'
            text/json:
              schema:
                $ref: '#/components/schemas/WaterfallRuleset'
        '204':
          description: No Content
    patch:
      tags:
      - WaterfallRuleset
      summary: Update a waterfall ruleset
      description: Updates a single waterfall ruleset.
      parameters:
      - name: Id
        in: path
        description: The identifier of the waterfall ruleset to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the waterfall rulesets
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Sequence: 1
              IsActive: true
              PriceList:
                Id: PL-Id
                Name: PL-Name
              ProductGroup:
                Id: PG-Id
                Name: PG-Name
              Category: All
              ChargeType: Standard Price
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    WaterfallRuleset:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ApplicationMethod:
          type:
          - string
          - 'null'
        Category:
          type:
          - string
          - 'null'
        ChargeType:
          type:
          - string
          - 'null'
        Criteria:
          type:
          - string
          - 'null'
        EnableCurrency:
          type:
          - boolean
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EnableDateRange:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        IsActive:
          type:
          - boolean
          - 'null'
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        ProductCategory:
          type:
          - string
          - 'null'
        ProductFamily:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        StopProcessingMoreRules:
          type:
          - boolean
          - 'null'
        UseType:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Sequence: 1
        IsActive: true
        PriceList:
          Id: PL-Id
          Name: PL-Name
        ProductGroup:
          Id: PG-Id
          Name: PG-Name
        Category: All
        ChargeType: Standard Price
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
