openapi: 3.2.0
info:
  title: Approvals Search Filters API
  description: '

    The Approvals API is used to submit, preview, and retrieve approval processes.

    '
  version: v1
servers:
- url: https://rls.congacloud.com/api/approvals
security: []
tags:
- name: SearchFilters
paths:
  /v1/search-filters:
    get:
      tags:
      - SearchFilters
      summary: Get all search filters
      description: Retrieves all search filters matched by name using a search string.
      operationId: SearchFilters_GetAll
      parameters:
      - name: filter
        in: query
        description: 'The filter string (example: IsActive = ''true'')'
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: page
        in: query
        description: 'The page number (default: 1)'
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 2
      - name: limit
        in: query
        description: The maximum number of items to be returned
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      responses:
        '200':
          description: Search filters with search string in their name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchFilterApprovals'
      security:
      - oauth2: []
      - Bearer: []
    post:
      tags:
      - SearchFilters
      summary: Create or update a search filter
      description: Updates a search filter by a given ID. If no ID is passed, creates a new search filter.
      operationId: SearchFilters_Save
      requestBody:
        x-name: requestPayload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchFilterPayloadDTO'
        required: true
        x-position: 1
      responses:
        '200':
          description: Search filter definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilterPayloadDTO'
      security:
      - oauth2: []
      - Bearer: []
  /v1/search-filters/validate:
    get:
      tags:
      - SearchFilters
      summary: Validate a search filter name
      description: Checks whether a search filter name has already been used. Takes the filter name and business object types as inputs, and returns a Boolean (true if the name already exists and is not available).
      operationId: SearchFilters_Validate
      parameters:
      - name: name
        in: query
        required: true
        description: The name of the search filter to be validated
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: businessObjectType
        in: query
        required: true
        description: The business object type
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      responses:
        '200':
          description: True if the named filter does not exist and is available
          content:
            application/json:
              schema:
                type: boolean
      security:
      - oauth2: []
      - Bearer: []
  /v1/search-filters/{id}:
    delete:
      tags:
      - SearchFilters
      summary: Delete a search filter by ID
      description: Deletes a search filter identified by its ID string.
      operationId: SearchFilters_DeleteById
      parameters:
      - name: id
        in: path
        required: true
        description: The search filter's ID
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Boolean. True on successful deletion.
          content:
            application/json:
              schema:
                type: boolean
      security:
      - oauth2: []
      - Bearer: []
    get:
      tags:
      - SearchFilters
      summary: Get a search filter by ID
      description: Gets a search filter by its ID.
      operationId: SearchFilters_GetById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Search filter Definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilterPayloadDTO'
      security:
      - oauth2: []
      - Bearer: []
  /v1/search-filters/{id}/activate:
    post:
      tags:
      - SearchFilters
      summary: Activate a search filter
      description: Activates a search filter identified by its ID string.
      operationId: SearchFilters_Activate
      parameters:
      - name: id
        in: path
        required: true
        description: The search filter ID to be activated
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: The activated search filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilterPayloadDTO'
      security:
      - oauth2: []
      - Bearer: []
  /v1/search-filters/{id}/deactivate:
    post:
      tags:
      - SearchFilters
      summary: Deactivate a search filter
      description: Deactivates a search filter identified by its ID string.
      operationId: SearchFilters_Deactivate
      parameters:
      - name: id
        in: path
        required: true
        description: The search filter ID to be deactivated
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Search filter definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilterPayloadDTO'
      security:
      - oauth2: []
      - Bearer: []
components:
  schemas:
    SearchFilterApprovals:
      allOf:
      - $ref: '#/components/schemas/BaseObject'
      - type: object
        additionalProperties: {}
        required:
        - Active
        - BusinessObjectType
        - BusinessObjectName
        - Criteria
        - CriteriaFieldNames
        - Sequence
        - FilterType
        properties:
          Active:
            type: boolean
          BusinessObjectType:
            type: string
            minLength: 1
          BusinessObjectName:
            type: string
            minLength: 1
          Criteria:
            type: string
            minLength: 1
          CriteriaFieldNames:
            type: string
            minLength: 1
          Description:
            type:
            - string
            - 'null'
          Sequence:
            type: number
            format: decimal
          FilterType:
            type: string
            minLength: 1
    SearchFilterPayloadDTO:
      allOf:
      - $ref: '#/components/schemas/SearchFilterApprovals'
      - type: object
        additionalProperties: {}
        properties:
          BusinessObjectLabel:
            type:
            - string
            - 'null'
    LookupObject:
      type: object
      additionalProperties: false
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
    BaseObject:
      type: object
      additionalProperties: {}
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          oneOf:
          - $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        CustomProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'Use a JWT Bearer token. (Example: Bearer eyJhbGciO...)'
      name: Authorization
      in: header
    oauth2:
      type: oauth2
      description: Login with a Salesforce or SalesforceSandbox account
      flows:
        authorizationCode:
          authorizationUrl: https://login-rls.congacloud.com/api/v1/auth//connect/authorize
          tokenUrl: https://login-rls.congacloud.com/api/v1/auth//connect/token
          scopes:
            openid: openid
            profile: profile
            offline_access: offline_access
            Auth.Api.Platform: Auth.Api.Platform
