openapi: 3.2.0
info:
  title: X-Author Fields API
  version: v1
  description: This class contains API endpoints for the document field's related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Fields
  description: This class contains API endpoints for the document field's related operations.
paths:
  /api/xauthor/v1/fields/data/fetch:
    post:
      tags:
      - Fields
      summary: Get Locale Based Formatted Field Values
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Document fields
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentObjectRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentObjectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentObjectRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentObjectRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/fields/data/retrieve:
    post:
      tags:
      - Fields
      summary: Get field data
      description: Retrieves all the field-related information based on field parameters that are passed in the request body.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldDataResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldDataResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldDataResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/fields/references/metadata:
    post:
      tags:
      - Fields
      summary: Retrieves the reference to field name.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The list reference to
        content:
          application/json-patch+json:
            schema:
              type:
              - array
              - 'null'
              items:
                type: string
              description: The list reference to
          application/json:
            schema:
              type:
              - array
              - 'null'
              items:
                type: string
              description: The list reference to
          text/json:
            schema:
              type:
              - array
              - 'null'
              items:
                type: string
              description: The list reference to
          application/*+json:
            schema:
              type:
              - array
              - 'null'
              items:
                type: string
              description: The list reference to
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
            text/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/fields/validate:
    post:
      tags:
      - Fields
      summary: Get fields data validation.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing information required to validate fields in document
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldValidationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldValidationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldValidationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldValidationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/fields/validate/v2:
    post:
      tags:
      - Fields
      summary: Get fields data validation for V2 metadata
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Field validation v2 request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.FieldValidationV2Request'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.FieldValidationV2Request'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.FieldValidationV2Request'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.FieldValidationV2Request'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.DocumentFields:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        metadataId:
          type:
          - string
          - 'null'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        referenceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FieldReferenceInfo'
        recordId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Response.FieldValidationResponse:
      type: object
      properties:
        fieldValidationDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Fields.FieldValidationDetail'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Fields.FieldValidationContext:
      type: object
      properties:
        currentText:
          type:
          - string
          - 'null'
        fieldMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
        fieldCurrencyCodeValues:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
      additionalProperties: false
    Conga.XAuthor.Model.Model.Fields.FieldValidationDetail:
      type: object
      properties:
        contentControlId:
          type: integer
          format: int64
          deprecated: true
        fieldMetadataId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        fieldDisplayName:
          type:
          - string
          - 'null'
        currentText:
          type:
          - string
          - 'null'
        previousText:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
        pickListValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isValid:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.FieldReferenceInfo:
      type: object
      properties:
        objectName:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
        referenceFieldAPIName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        baseValueLocalized:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isReadonly:
          type:
          - boolean
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        sourceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldSourceMetadata'
        isMarkedForDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.DocumentMetadata:
      type: object
      properties:
        schemaVersion:
          type:
          - string
          - 'null'
        mergeEngine:
          type:
          - string
          - 'null'
        mergeVersion:
          type:
          - string
          - 'null'
        templateType:
          $ref: '#/components/schemas/Conga.XAuthor.Gdocs.Domain.Metadata.V2.Enum.TemplateTypeEnum'
        templateVersion:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        templateVersionId:
          type:
          - string
          - 'null'
        businessObject:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        parentObjectId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        documentMetadataId:
          type:
          - string
          - 'null'
        documentVersion:
          type:
          - string
          - 'null'
        hasSmartItem:
          type: boolean
        locale:
          type:
          - string
          - 'null'
        numberPrecision:
          type: integer
          format: int32
        currencyPrecision:
          type: integer
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.DocumentObjectRequest:
      type: object
      properties:
        documentLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        documentObjects:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentObject'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.FieldValidationRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Request.FieldValidationV2Request:
      type: object
      properties:
        documentMetadata:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.DocumentMetadata'
        fieldValidationContexts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Fields.FieldValidationContext'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldSourceMetadata:
      type: object
      properties:
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldAPIName:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldObjectInstanceId:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Field:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        parentType:
          type:
          - string
          - 'null'
        pickList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
        length:
          type:
          - integer
          - 'null'
          format: int32
        localName:
          type:
          - string
          - 'null'
        mergeFieldName:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        tag:
          type:
          - string
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        readOnly:
          type:
          - boolean
          - 'null'
        isRichtextField:
          type:
          - boolean
          - 'null'
        relationshipMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RelationshipMetadata'
        referenceTo:
          type:
          - string
          - 'null'
        referenceObject:
          type:
          - string
          - 'null'
        isDBReferenceField:
          type: boolean
        referenceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        picklistName:
          type:
          - string
          - 'null'
        defaultValue: {}
        dependentPicklistName:
          type:
          - string
          - 'null'
        dependentPicklist:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DependentPicklistItem'
        isSortable:
          type:
          - boolean
          - 'null'
        isNameField:
          type:
          - boolean
          - 'null'
        isFilterable:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.FieldDataRequest:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        recId:
          type:
          - string
          - 'null'
        referenceObjectName:
          type:
          - string
          - 'null'
        objectSource:
          type:
          - string
          - 'null'
        objectTypeRelatedField:
          type:
          - string
          - 'null'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        isDBReferenceField:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.FieldRequest:
      type: object
      properties:
        fieldDataRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldDataRequest'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.PickListItem:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.DocumentObject:
      type: object
      properties:
        objectName:
          type:
          - string
          - 'null'
        objectIds:
          type:
          - array
          - 'null'
          items:
            type: string
        documentFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.DocumentFields'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RelationshipMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        referenceType:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        targetObjectName:
          type:
          - string
          - 'null'
        targetFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        clmValue:
          type:
          - string
          - 'null'
        clmValueLocalized:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        fieldDataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        currencySymbol:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.FieldDataResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        recId:
          type:
          - string
          - 'null'
        referenceObjectName:
          type:
          - string
          - 'null'
        objectSource:
          type:
          - string
          - 'null'
        objectTypeRelatedField:
          type:
          - string
          - 'null'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        isDBReferenceField:
          type: boolean
        value:
          type:
          - string
          - 'null'
        formatedValue:
          type:
          - string
          - 'null'
        field:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DependentPicklistItem:
      type: object
      properties:
        controllingPicklistValue:
          type:
          - string
          - 'null'
        picklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
