openapi: 3.2.0
info:
  title: Administration Tax Codes API
  version: 1.0.0
  description: TaxCodes Controller
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Tax Codes
  description: TaxCodes Controller
paths:
  /tax-codes:
    delete:
      tags:
      - Tax Codes
      summary: Delete tax codes
      description: 'Deletes one or more tax codes. It can delete a maximum of 100 tax codes.



        When executed, this API returns one or more records with the delete status of each associated record ID.'
      requestBody:
        description: The list of tax codes to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Tax Codes
      summary: Retrieve tax codes
      description: 'Retrieves all tax codes. Use query parameters to further narrow the results.


        When executed, this API returns all tax codes.'
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Tax Codes
      summary: Update tax codes
      description: 'Update specific fields on one or more tax codes. It can update any fields except tax code ID.



        When executed, this API returns the updated tax code or tax codes.'
      requestBody:
        description: The list of tax codes with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Tax Codes
      summary: Create tax codes
      description: 'Creates one or more tax codes.



        When executed, this API returns a unique tax code ID (string) that CPQ automatically generates.'
      requestBody:
        description: The list of tax codes to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TaxCode'
      responses:
        '200':
          description: OK
  /tax-codes/{Id}:
    delete:
      tags:
      - Tax Codes
      summary: Delete a tax code
      description: Deletes a tax code based on the ID provided.
      parameters:
      - name: Id
        in: path
        description: The identifier of the tax code to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Tax Codes
      summary: Retrieve a tax code
      description: Retrieves details of a tax code associated with the provided tax code ID.
      parameters:
      - name: Id
        in: path
        description: The identifier of the tax code
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TaxCode'
            application/json:
              schema:
                $ref: '#/components/schemas/TaxCode'
            text/json:
              schema:
                $ref: '#/components/schemas/TaxCode'
        '204':
          description: No Content
    patch:
      tags:
      - Tax Codes
      summary: Update a tax code
      description: Updates a tax code based on the details provided in the request body.
      parameters:
      - name: Id
        in: path
        description: The identifier of the tax code to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the tax code
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    TaxCode:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
