openapi: 3.2.0
info:
  title: Cart - V1 Collaboration Request API
  version: v1
  description: The Collaboration Request Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: CollaborationRequest
  description: The Collaboration Request Controller
paths:
  /api/cart/v1/carts/collaboration-request:
    get:
      tags:
      - CollaborationRequest
      summary: Get collaboration request details.
      parameters:
      - name: filter
        in: query
        description: The filter.
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort.
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: The page.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The limit.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/collaboration-request/{id}:
    delete:
      tags:
      - CollaborationRequest
      summary: Cancel/Delete collaboration request.
      parameters:
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    get:
      tags:
      - CollaborationRequest
      summary: Get collaboration request by ID.
      parameters:
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '500':
          description: Internal Server Error
    patch:
      tags:
      - CollaborationRequest
      summary: Update collaboration request.
      parameters:
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: string
      requestBody:
        description: The collaboration request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/collaboration-request:
    post:
      tags:
      - CollaborationRequest
      summary: Add collaboration request.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      requestBody:
        description: The collaboration request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.CollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              LineNumbers:
              - 1
              - 2
              - 3
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.CollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              LineNumbers:
              - 1
              - 2
              - 3
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.CollaborationRequest'
            example:
              BillingPreference:
                Id: string
                Name: string
              BillToAccount:
                Id: string
                Name: string
              LineNumbers:
              - 1
              - 2
              - 3
              CollaborationType: Peer-To-Peer
              CompletionDueDate: '2024-01-10T00:00:00'
              ConfigurationEffectiveDate: '2024-01-01T00:00:00'
              Description: Description
              IsParentCartVisible: true
              LegalEntity:
                Id: string
                Name: string
              Location:
                Id: string
                Name: string
              PaymentTerm:
                Id: string
                Name: string
              PricingDate: '2024-01-01T00:00:00'
              PrimaryContact:
                Id: string
                Name: string
              Priority: P1
              ShipToAccount:
                Id: string
                Name: string
              SingleTransactionAdjustment: true
              SoldToAccount:
                Id: string
                Name: string
              Specifications: Specifications
              StartDate: '2024-01-01T00:00:00'
              Type: string
              RecordOwner:
                Id: owner-id
                Name: owner-name
                OwnerType: User
              CreatedDate: '0001-01-01T00:00:00'
              ModifiedDate: '0001-01-01T00:00:00'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/collaboration-request/{id}/merge:
    post:
      tags:
      - CollaborationRequest
      summary: Merge collaboration request.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/collaboration-request/{id}/submit-for-merge:
    post:
      tags:
      - CollaborationRequest
      summary: Submit for merge collaboration request.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Cart.Manager.Model.CollaborationRequest:
      type: object
      properties:
        billingPreference:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        billToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        lineNumbers:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        collaborationType:
          type:
          - string
          - 'null'
        completionDueDate:
          type:
          - string
          - 'null'
          format: date-time
        configurationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
        isParentCartVisible:
          type:
          - boolean
          - 'null'
        legalEntity:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        location:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        primaryContact:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        priority:
          type:
          - string
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        singleTransactionAdjustment:
          type:
          - boolean
          - 'null'
        soldToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        specifications:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        recordOwner:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.OwnerField'
        priceList:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Platform.Common.Models.OwnerField:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        ownerType:
          $ref: '#/components/schemas/Conga.Platform.Models.Enums.OwnerType'
      additionalProperties: false
    Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest:
      type: object
      properties:
        billingPreference:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        billToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        collaborationType:
          type:
          - string
          - 'null'
        completionDueDate:
          type:
          - string
          - 'null'
          format: date-time
        configurationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
        isParentCartVisible:
          type:
          - boolean
          - 'null'
        legalEntity:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        location:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        primaryContact:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        priority:
          type:
          - string
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        singleTransactionAdjustment:
          type:
          - boolean
          - 'null'
        soldToAccount:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        specifications:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        recordOwner:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.OwnerField'
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Conga.Platform.Models.Enums.OwnerType:
      enum:
      - 0
      - 1
      type: integer
      format: int32
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
