{
  "openapi": "3.0.1",
  "info": {
    "title": "ExternalEndpointConfiguration",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/external-endpoint-config/v1/credentials": {
      "post": {
        "tags": [
          "External Endpoint Auth Credentials"
        ],
        "summary": "Create authentication configuration",
        "description": "Stores authentication credentials (OAuth2, Basic Auth, etc.) required to connect securely to an external platform such as Salesforce. Once created, these credentials can be referenced by endpoint configurations to authenticate requests.",
        "requestBody": {
          "description": "Auth configuration details for the external endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      },
      "put": {
        "tags": [
          "External Endpoint Auth Credentials"
        ],
        "summary": "Update authentication configuration",
        "description": "Updates stored authentication details, such as client secrets or passwords, for a specified external platform, such as Salesforce.",
        "requestBody": {
          "description": "The updated authentication configuration details for the external endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalServiceAuthConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/external-endpoint-config/v1/credentials/{name}": {
      "delete": {
        "tags": [
          "External Endpoint Auth Credentials"
        ],
        "summary": "Delete authentication configuration",
        "description": "Removes the stored authentication details for the specified configuration, preventing future connections to the external service endpoint.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The unique name of the external endpoint configuration to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      },
      "get": {
        "tags": [
          "External Endpoint Auth Credentials"
        ],
        "summary": "Retrieve authentication configuration",
        "description": "Returns the stored authentication details of a specific configuration used for securely connecting to an external service endpoint.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The unique name of the external endpoint configuration.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/external-endpoint-config/v1/endpoints": {
      "get": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Retrieve all endpoint configurations",
        "description": "Retrieves all stored authentication configurations used to connect to external service endpoints.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationInfoListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Create endpoint configuration",
        "description": "Creates a new external endpoint configuration by defining its URL, HTTP method, headers, parameters, request/response metadata, and linked authentication.",
        "requestBody": {
          "description": "The external endpoint configuration request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalEndpointConfigurationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalEndpointConfigurationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalEndpointConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/external-endpoint-config/v1/endpoints/validate": {
      "post": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Validate external endpoint schema",
        "description": "Validates the request and response metadata of an external endpoint against the expected JSON schema to ensure correct structure before execution.",
        "requestBody": {
          "description": "The external endpoint metadata request to validate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpEndpointMetadataRequest"
              },
              "example": {
                "RequestBody": {
                  "Name": "Record1",
                  "Id": 123,
                  "Account": {
                    "Name": "Conga"
                  }
                },
                "ResponseBody": {
                  "Success": true,
                  "Data": {
                    "Id": "f5e5857a-d27a-42b6-8291-874b158e5f87"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/HttpEndpointMetadataRequest"
              },
              "example": {
                "RequestBody": {
                  "Name": "Record1",
                  "Id": 123,
                  "Account": {
                    "Name": "Conga"
                  }
                },
                "ResponseBody": {
                  "Success": true,
                  "Data": {
                    "Id": "f5e5857a-d27a-42b6-8291-874b158e5f87"
                  }
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/HttpEndpointMetadataRequest"
              },
              "example": {
                "RequestBody": {
                  "Name": "Record1",
                  "Id": 123,
                  "Account": {
                    "Name": "Conga"
                  }
                },
                "ResponseBody": {
                  "Success": true,
                  "Data": {
                    "Id": "f5e5857a-d27a-42b6-8291-874b158e5f87"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/external-endpoint-config/v1/endpoints/{id}": {
      "delete": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Delete endpoint configuration",
        "description": "Deletes the specified external endpoint configuration and its stored authentication details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the external endpoint configuration to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      },
      "get": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Retrieve endpoint configuration",
        "description": "Fetches the stored authentication details and configuration of an external service endpoint using its unique identifier, including URL, method, headers, and linked authentication.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the external endpoint configuration.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalEndpointConfigurationAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      },
      "put": {
        "tags": [
          "External Endpoint Configuration"
        ],
        "summary": "Update endpoint configuration",
        "description": "Updates the settings of a configured endpoint, such as changing the Salesforce API version, modifying the HTTP method, or adjusting headers and parameters.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the external endpoint configuration to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated configuration details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalEndpointConfigurationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalEndpointConfigurationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExternalEndpointConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthType": {
        "enum": [
          "OAuth2_Client_Credentials",
          "OAuth2_Password",
          "BasicAuth"
        ],
        "type": "string"
      },
      "BasicAuthSecrets": {
        "type": "object",
        "properties": {
          "UserName": {
            "type": "string",
            "nullable": true
          },
          "Password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BooleanAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "boolean"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateExternalEndpointConfigurationRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "EndpointAuthConfigName": {
            "type": "string",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "nullable": true
          },
          "Method": {
            "$ref": "#/components/schemas/HttpVerb"
          },
          "RequestHeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "QueryParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "RouteParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "RequestBodyMetadata": {
            "$ref": "#/components/schemas/JsonSchemaNode"
          },
          "ResponseBodyMetadata": {
            "$ref": "#/components/schemas/JsonSchemaNode"
          }
        },
        "additionalProperties": false
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExternalEndpointConfiguration": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "EndpointAuthConfigName": {
            "type": "string",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "nullable": true
          },
          "Method": {
            "$ref": "#/components/schemas/HttpVerb"
          },
          "RequestHeaders": {
            "type": "string",
            "nullable": true
          },
          "QueryParameters": {
            "type": "string",
            "nullable": true
          },
          "RouteParameters": {
            "type": "string",
            "nullable": true
          },
          "RequestBodyMetadata": {
            "type": "string",
            "nullable": true
          },
          "ResponseBodyMetadata": {
            "type": "string",
            "nullable": true
          },
          "IsCollectionOutput": {
            "type": "boolean"
          },
          "OutputDataType": {
            "$ref": "#/components/schemas/JsonDataType"
          }
        },
        "additionalProperties": {}
      },
      "ExternalEndpointConfigurationAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ExternalEndpointConfiguration"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExternalEndpointConfigurationInfo": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "EndpointAuthConfigName": {
            "type": "string",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "nullable": true
          },
          "Method": {
            "$ref": "#/components/schemas/HttpVerb"
          },
          "IsCollectionOutput": {
            "type": "boolean"
          },
          "OutputDataType": {
            "$ref": "#/components/schemas/JsonDataType"
          }
        },
        "additionalProperties": false
      },
      "ExternalEndpointConfigurationInfoListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExternalEndpointConfigurationInfo"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExternalServiceAuthConfig": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "AuthType": {
            "$ref": "#/components/schemas/AuthType"
          },
          "OAuthClientSecrets": {
            "$ref": "#/components/schemas/OAuthClientSecrets"
          },
          "OAuthPasswordSecrets": {
            "$ref": "#/components/schemas/OAuthPasswordSecrets"
          },
          "BasicAuthSecrets": {
            "$ref": "#/components/schemas/BasicAuthSecrets"
          }
        },
        "additionalProperties": false
      },
      "HttpEndpointMetadataRequest": {
        "type": "object",
        "properties": {
          "RequestBody": {
            "nullable": true
          },
          "ResponseBody": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HttpStatusCode": {
        "enum": [
          "Continue",
          "SwitchingProtocols",
          "Processing",
          "EarlyHints",
          "OK",
          "Created",
          "Accepted",
          "NonAuthoritativeInformation",
          "NoContent",
          "ResetContent",
          "PartialContent",
          "MultiStatus",
          "AlreadyReported",
          "IMUsed",
          "MultipleChoices",
          "MovedPermanently",
          "Found",
          "SeeOther",
          "NotModified",
          "UseProxy",
          "Unused",
          "TemporaryRedirect",
          "PermanentRedirect",
          "BadRequest",
          "Unauthorized",
          "PaymentRequired",
          "Forbidden",
          "NotFound",
          "MethodNotAllowed",
          "NotAcceptable",
          "ProxyAuthenticationRequired",
          "RequestTimeout",
          "Conflict",
          "Gone",
          "LengthRequired",
          "PreconditionFailed",
          "RequestEntityTooLarge",
          "RequestUriTooLong",
          "UnsupportedMediaType",
          "RequestedRangeNotSatisfiable",
          "ExpectationFailed",
          "MisdirectedRequest",
          "UnprocessableEntity",
          "Locked",
          "FailedDependency",
          "UpgradeRequired",
          "PreconditionRequired",
          "TooManyRequests",
          "RequestHeaderFieldsTooLarge",
          "UnavailableForLegalReasons",
          "InternalServerError",
          "NotImplemented",
          "BadGateway",
          "ServiceUnavailable",
          "GatewayTimeout",
          "HttpVersionNotSupported",
          "VariantAlsoNegotiates",
          "InsufficientStorage",
          "LoopDetected",
          "NotExtended",
          "NetworkAuthenticationRequired"
        ],
        "type": "string"
      },
      "HttpVerb": {
        "enum": [
          "Get",
          "Put",
          "Post",
          "Patch",
          "Delete"
        ],
        "type": "string"
      },
      "JsonDataType": {
        "enum": [
          "String",
          "Identifier",
          "Boolean",
          "Int",
          "Double",
          "Decimal",
          "DateTime",
          "Object",
          "Array"
        ],
        "type": "string"
      },
      "JsonSchemaNode": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Type": {
            "$ref": "#/components/schemas/JsonDataType"
          },
          "Properties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonSchemaNode"
            },
            "nullable": true
          },
          "Items": {
            "$ref": "#/components/schemas/JsonSchemaNode"
          },
          "Example": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OAuthClientSecrets": {
        "type": "object",
        "properties": {
          "AuthURL": {
            "type": "string",
            "nullable": true
          },
          "ClientId": {
            "type": "string",
            "nullable": true
          },
          "ClientSecret": {
            "type": "string",
            "nullable": true
          },
          "Scope": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OAuthPasswordSecrets": {
        "type": "object",
        "properties": {
          "AuthURL": {
            "type": "string",
            "nullable": true
          },
          "ClientId": {
            "type": "string",
            "nullable": true
          },
          "ClientSecret": {
            "type": "string",
            "nullable": true
          },
          "Scope": {
            "type": "string",
            "nullable": true
          },
          "UserName": {
            "type": "string",
            "nullable": true
          },
          "Password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Parameter": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string",
            "nullable": true
          },
          "ParameterDataType": {
            "$ref": "#/components/schemas/ParameterDataType"
          },
          "Value": {
            "nullable": true
          },
          "IsRequired": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ParameterDataType": {
        "enum": [
          "String",
          "Identifier",
          "Boolean",
          "Int",
          "Double",
          "Decimal",
          "DateTime"
        ],
        "type": "string"
      },
      "StringAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "string",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateExternalEndpointConfigurationRequest": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "EndpointAuthConfigName": {
            "type": "string",
            "nullable": true
          },
          "URL": {
            "type": "string",
            "nullable": true
          },
          "Method": {
            "$ref": "#/components/schemas/HttpVerb"
          },
          "RequestHeaders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "QueryParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "RouteParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parameter"
            },
            "nullable": true
          },
          "RequestBodyMetadata": {
            "$ref": "#/components/schemas/JsonSchemaNode"
          },
          "ResponseBodyMetadata": {
            "$ref": "#/components/schemas/JsonSchemaNode"
          },
          "Id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "External Endpoint Auth Credentials"
    },
    {
      "name": "External Endpoint Configuration"
    }
  ]
}
