{
  "openapi": "3.0.0",
  "info": {
    "title": "Ingress",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/ingress"
    }
  ],
  "paths": {
    "/v1/Configuration/environment-info": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Retrieves environment and region details from configuration.",
        "operationId": "Configuration_GetEnvironmentAndRegionInfo",
        "responses": {
          "200": {
            "description": "Environment info as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvironmentInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/CustomBranding": {
      "get": {
        "tags": [
          "CustomBranding"
        ],
        "summary": "Get all uploaded customBrandings",
        "operationId": "CustomBranding_GetAllCustomBrandings",
        "parameters": [
          {
            "name": "customName",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK with a list of logos, 400 Bad Request if the input is invalid, or 500 for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomBrandingListResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "CustomBranding"
        ],
        "summary": "Uploads a logo file with a custom name.",
        "operationId": "CustomBranding_UploadCustomBranding",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  },
                  "CustomName": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 Created if successful, 400 Bad Request if validation fails, 500 if an internal error occurs."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/CustomBranding/{id}": {
      "delete": {
        "tags": [
          "CustomBranding"
        ],
        "operationId": "CustomBranding_DeleteCustomBranding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "CustomBranding"
        ],
        "summary": "Get logo file details by ID",
        "operationId": "CustomBranding_GetCustomBrandingById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK if successful, 404 Not Found if not found, or 500 for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerResponseOfCustomBrandingEntity"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "CustomBranding"
        ],
        "summary": "Updates a logo's image and/or custom name by ID.",
        "operationId": "CustomBranding_UpdateCustomBranding",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the  to update.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Logo": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  },
                  "CustomName": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK if successful, 400 BadRequest for invalid input, 404 NotFound if logo doesn't exist, or 500 InternalServerError."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/CustomBranding/{id}/download": {
      "get": {
        "tags": [
          "CustomBranding"
        ],
        "operationId": "CustomBranding_DownloadLogoFileById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Draft": {
      "post": {
        "tags": [
          "Draft"
        ],
        "summary": "Saves a solution draft before it proceeds to the Deploy tab.",
        "operationId": "Draft_CreateDraft",
        "requestBody": {
          "x-name": "draft",
          "description": "The draft solution data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DraftSolutionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "201 Created with the draft GUID if successful, or appropriate error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Draft/{id}": {
      "get": {
        "tags": [
          "Draft"
        ],
        "summary": "Retrieves a draft solution by its ID.",
        "operationId": "Draft_GetDraftById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the draft to retrieve.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK if successful, 404 Not Found if not found, or 500 for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftIdResponseOfComposerSolution"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Email/Delivery/Sign/{correlationId}": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Generate sign package url",
        "operationId": "Email_CreateSignPackage",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "signProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Email/Merge": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Merge an email template with SF info or JSON payload from original merge request",
        "operationId": "Email_MergeEmailTemplate",
        "parameters": [
          {
            "name": "correlationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Email/Mock/Delivery/Sign/{correlationId}": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "MOCK: Generate sign package url",
        "operationId": "Email_MockCreateSignPackage",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "signProvider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Email/Mock/Send": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "MOCK: Send an email with attachments (returns JSON string)",
        "operationId": "Email_MockSendEmail",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Attachments": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "EmailTo.Id": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTo.Address": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTo.DisplayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailAdditionalTo": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailCC": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailBcc": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailSubject": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTextBody": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailHTMLBody": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Email/Send": {
      "post": {
        "tags": [
          "Email"
        ],
        "summary": "Send an email with attachments using providers such as SES, Salesforce (SF), or SendGrid",
        "operationId": "Email_SendEmail",
        "parameters": [
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "Attachments": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "EmailTo.Id": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTo.Address": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTo.DisplayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailAdditionalTo": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailCC": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailBcc": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "EmailSubject": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailTextBody": {
                    "type": "string",
                    "nullable": true
                  },
                  "EmailHTMLBody": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/FeatureFlags/{featureFlagName}": {
      "get": {
        "tags": [
          "PlatformComposerFeatureFlag"
        ],
        "summary": "Evaluate PlatformComposer feature flag for the given Salesforce Org Id",
        "operationId": "PlatformComposerFeatureFlag_Get",
        "parameters": [
          {
            "name": "featureFlagName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Json/dataschemaprocess": {
      "post": {
        "tags": [
          "Json"
        ],
        "summary": "Get data Schema JSON",
        "operationId": "Json_DataSchemaProcess",
        "requestBody": {
          "x-name": "jsonData",
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Json/datatranslateprocess": {
      "post": {
        "tags": [
          "Json"
        ],
        "operationId": "Json_DataTranslateProcess",
        "parameters": [
          {
            "name": "jsonData",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge": {
      "post": {
        "tags": [
          "Merge"
        ],
        "summary": "Initiate the merge workflow",
        "description": "Translates the users' merge request inputs into data sets and initiate the merge. For more information, see [Conga Composer API Use Cases.](https://documentation.conga.com/composer/latest/conga-composer-api-use-cases-203496246.html)",
        "operationId": "Merge_Post",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposerMergeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerMergeResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge/Preview/{correlationId}": {
      "get": {
        "tags": [
          "Merge"
        ],
        "summary": "Returns the url list of merged and preview documents for a given correlationId.",
        "operationId": "Merge_GetPreviewFiles",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "description": "The Composer correlation ID (e.g., abc123_DatasetJson)",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Documents found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MergedPreviewDocument"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge/Upload": {
      "post": {
        "tags": [
          "Merge"
        ],
        "summary": "Initiate the merge workflow after uploading JSON data",
        "description": "Allows the user to upload a json file and initiate the merge request",
        "operationId": "Merge_Upload",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "LocalTemplates": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "JsonData": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  },
                  "RequestBody": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerMergeResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge/{correlationId}/Accept": {
      "get": {
        "tags": [
          "Merge"
        ],
        "summary": "Accept merge",
        "description": "Once using the DS7Preview flag set to 1, and a user has placed a potential merge job in the preview state, this endpoint, alongside the corresponding correlation ID, can be used to accept said merge while it's in the preview state and proceed with the post merge acitons.",
        "operationId": "Merge_AcceptPreview",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeInfo"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge/{correlationId}/Reject": {
      "get": {
        "tags": [
          "Merge"
        ],
        "summary": "Reject merge",
        "description": "Once using the DS7Preview flag set to 1, and a user has placed a potential merge job in the preview state, this endpoint, alongside the corresponding correlation ID, can be used to reject said merge while it's in the preview state and not proceed with any post merge actions.",
        "operationId": "Merge_RejectPreview",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeInfo"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Merge/{id}": {
      "get": {
        "tags": [
          "Merge"
        ],
        "summary": "Get merge info",
        "description": "Gets the merge info.",
        "operationId": "Merge_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Correlation ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeInfo"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Migration/RunSolutionStatusFix": {
      "post": {
        "tags": [
          "Migration"
        ],
        "summary": "Runs the ComposerSolution status migration job.\nFinalized records using status \"Draft\" will be updated to \"Complete\".",
        "operationId": "Migration_RunMigration",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerResponse"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Parameter": {
      "get": {
        "tags": [
          "ComposerParameter"
        ],
        "summary": "Retrieves all parameters with optional pagination and search filter.",
        "operationId": "ComposerParameter_GetAllParameters",
        "parameters": [
          {
            "name": "searchName",
            "in": "query",
            "description": "Optional search term for  Name or ParameterName.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional page size for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK with a list of parameters, 400 Bad Request if the input is invalid, or 500 for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposerParameterListResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Parameter/{id}": {
      "get": {
        "tags": [
          "ComposerParameter"
        ],
        "operationId": "ComposerParameter_GetParameterById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Preview": {
      "post": {
        "tags": [
          "Preview"
        ],
        "summary": "Merges the provided dataModel with the template to generate a preview.",
        "operationId": "Preview_MergeTemplate",
        "requestBody": {
          "x-name": "request",
          "description": "The dataModel and template to merge.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewMergeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the merged HTML document.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/Mock/relatedContacts/{recordId}": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "MOCK: Fetch related contacts for a given Salesforce record",
        "operationId": "Salesforce_MockGetRelatedContacts",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/attachments/{objectId}": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "Retrieves recent attachments and files for a Salesforce record(objectId).",
        "operationId": "Salesforce_GetRecentSalesforceAttachments",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceAttachmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/objectType/{recordId}": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "Get Salesforce Object Name and Object Type by Record ID",
        "operationId": "Salesforce_GetObjectType",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceObjectResult"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/relatedContacts/{recordId}": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "Fetch related contacts for a given Salesforce record.",
        "operationId": "Salesforce_GetRelatedContacts",
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            },
            "x-position": 4
          },
          {
            "name": "nameFilter",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceRelatedContactsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/search": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "Search Salesforce Leads, Contacts and Users",
        "operationId": "Salesforce_SalesforceContactsLeadsUsers",
        "parameters": [
          {
            "name": "searchQuery",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "isSandbox",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Salesforce/templates": {
      "get": {
        "tags": [
          "Salesforce"
        ],
        "summary": "Fetch all managed package Salesforce templates (CET + CGT) for the current customer's org.",
        "operationId": "Salesforce_SalesforceTemplates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number, default 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 1
          },
          {
            "name": "batchSize",
            "in": "query",
            "description": "Batch size, default 50",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "x-position": 2
          },
          {
            "name": "isSandbox",
            "in": "query",
            "description": "If true, use sandbox connection",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          },
          {
            "name": "templateType",
            "in": "query",
            "description": "Allowed values: CET, CGT, BOTH.\n            Case-insensitive. If null or empty, returns all templates.\n            ",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesforceTemplateQueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Solution": {
      "post": {
        "tags": [
          "Solution"
        ],
        "summary": "Creates a new solution.",
        "operationId": "Solution_CreateSolution",
        "requestBody": {
          "x-name": "payload",
          "description": "The solution creation payload containing the data for the new solution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionPayloadCreateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "201 Created if successful, 400 Bad Request if there was an issue with the creation, or 500 for internal server errors."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Solution"
        ],
        "summary": "Retrieves all solutions with optional pagination and search filter.",
        "operationId": "Solution_GetAllSolutions",
        "parameters": [
          {
            "name": "searchName",
            "in": "query",
            "description": "Optional search term for solution name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional page number for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional page size for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK with a list of solutions, 400 Bad Request if the input is invalid, or 500 for internal server errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolutionListResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Solution/languages": {
      "get": {
        "tags": [
          "Solution"
        ],
        "summary": "Get coding languages for the solution's deploy step",
        "operationId": "Solution_GetLanguages",
        "responses": {
          "200": {
            "description": "200 for successfull"
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Solution/salesforce_contacts": {
      "get": {
        "tags": [
          "Solution"
        ],
        "summary": "Search Saleforce contacts with the given search term.",
        "operationId": "Solution_SalesforceContacts",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "200 for successfull"
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Solution/snippet": {
      "post": {
        "tags": [
          "Solution"
        ],
        "summary": "Retrieves the code snippet for a specific language and solution.",
        "operationId": "Solution_GetSnippet",
        "requestBody": {
          "x-name": "payload",
          "description": "The payload of the snippet model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnippetModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "200 OK with the code snippet if successful,\n400 if language is invalid or input params are missing or incorrect,\n404 Not Found if the solution doesn't exist,\nor 500 Internal Server Error for unexpected errors."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Solution/{id}": {
      "delete": {
        "tags": [
          "Solution"
        ],
        "summary": "Deletes a solution by its ID.",
        "operationId": "Solution_DeleteSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the solution to delete.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "204 No Content if successful, 404 Not Found if not found, or 500 for internal server errors."
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Solution"
        ],
        "summary": "Retrieves a single solution by its ID.",
        "operationId": "Solution_GetSolutionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the solution to retrieve.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK if successful, 404 Not Found if not found, or 500 for internal server errors."
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Solution"
        ],
        "summary": "Partially updates an existing solution by its ID (PATCH).",
        "operationId": "Solution_PatchSolution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the solution to patch.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "description": "The payload containing the fields to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolutionPayloadPatchRequest"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "200 OK if successful, or 404 Not Found if the solution does not exist."
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/Status/{id}": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Get merge process status",
        "description": "Gets the status of all completed and ongoing merge steps. For more information, see [Conga Composer API Use Cases](https://documentation.conga.com/composer/latest/conga-composer-api-use-cases-203496246.html).",
        "operationId": "Status_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Correlation ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "showDetails",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergeStatusResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/convert": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Convert documents' format",
        "description": "Converts one or more passed documents from one format to another.\nThe generated documents can be delivered to one or more destinations.\n            \nEXAMPLE I: Convert a batch of Word documents to PDF.\n            \n    Request:\n            \n    POST /documents/convert\n    {\n        \"documents\": [\n            {\n                \"id\": \"420326c7-aaa4-4598-a072-48e8cbbe442d\"\n            },\n            {\n                \"id\": \"b04393b5-16c2-4364-9ea3-a3d3c38453e1\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }",
        "operationId": "Documents_Convert",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Convert request",
            "schema": {
              "$ref": "#/components/schemas/ConvertRequest"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/generate": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Generate a document from merge templates and data sources",
        "description": "Generates a document by merging one or more templates with data collected from multiple sources.\n            \nEXAMPLE I: Merging a single XAuthor template with data fetched from Conga Platform and generating a PDF document as output.\n            \n    Request:\n            \n    POST /documents/generate\n    {\n        \"data\": [\n            {\n                \"entityId\": \"3ff0e051-d655-451d-abb5-a71b202cb935\",\n                \"entityName\": \"Agreement\"\n            }\n        ],\n        \"templates\": [\n            {\n                \"id\": \"79d97cc6-933b-4f2f-95b6-a64d3349f3ac\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1, // 0 -> DOCX     1 -> PDF\n            \"fileName\": \"OutputDocument\"\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }\n            \nEXAMPLE II: Merging a single XAuthor template with inline data passed in the request and generating a PDF.\n            \n    Request:\n            \n    POST /documents/generate\n    {\n        \"data\": [\n            {\n                \"entityId\": \"ffe71825-6212-4438-866e-b0a7785d9e0d\",\n                \"entityName\": \"ProductConfiguration\",\n                \"Data\": \"[{\\\"ObjectName\\\":\\\"ProductConfiguration\\\",\\\"Result\\\":[{\\\"Id\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\",\\\"Name\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\"}]},{\\\"ObjectName\\\":\\\"LineItem\\\",\\\"Result\\\":[{\\\"Id\\\":\\\"553dc3ad-4a9a-4eb2-960e-7bb2b19e0727\\\",\\\"Name\\\":\\\"Conga Water Bottle\\\",\\\"Description\\\":\\\"Stay hydrated on the ice-cold tears of your competition.\\\",\\\"Quantity\\\":1,\\\"Product\\\":{\\\"Id\\\":\\\"9b319b18-1916-4858-b4e8-4ee2b55f83e5\\\",\\\"Name\\\":\\\"Conga Water Bottle\\\",\\\"Description\\\":null},\\\"Configuration\\\":{\\\"Id\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\",\\\"Name\\\":\\\"481450d8-9e7c-4dd7-898f-ae8cb1691b94\\\"}}]}]\"\n            }\n        ],\n        \"templates\": [\n            {\n                \"id\": \"950039fe-3ca3-49be-ba89-6d8999083a28\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1,\n            \"fileName\": \"OutputDocument\"\n        }\n    }",
        "operationId": "Documents_Generate",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Merge request",
            "schema": {
              "$ref": "#/components/schemas/MergeRequest"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/join": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Join documents from multiple sources",
        "description": "Joins documents fetched from multiple sources into a single document.\nThe joined document can be delivered to one or more destinations.\n            \nEXAMPLE I: Fetching Word documents from the Conga Platform and generating a combined PDF.\n            \n    Request:\n            \n    POST /documents/join\n    {\n        \"documents\": [\n            {\n                \"id\": \"420326c7-aaa4-4598-a072-48e8cbbe442d\"\n            },\n            {\n                \"id\": \"b04393b5-16c2-4364-9ea3-a3d3c38453e1\"\n            }\n        ],\n        \"outputConfig\": {\n            \"outputFormat\": 1,\n            \"fileName\": \"JoinedDocument\"\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }",
        "operationId": "Documents_Join",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Join request",
            "schema": {
              "$ref": "#/components/schemas/JoinRequest"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/process": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "Documents_Process",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProcessRequest"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/protect": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Change document protection",
        "description": "Applies protection to, or removes it from, one or more documents fetched from one or more sources.\nGenerated documents can be delivered to one or more destinations.\n            \nEXAMPLE I: Apply an edit restriction to Word documents stored on the Conga Revenue Lifecycle Platform.\n            \n    Request:\n            \n    POST /documents/protect\n    {\n        \"documents\": [\n            {\n                \"id\": \"420326c7-aaa4-4598-a072-48e8cbbe442d\"\n            },\n            {\n                \"id\": \"b04393b5-16c2-4364-9ea3-a3d3c38453e1\"\n            }\n        ],\n        \"wordProtectionConfig\": {\n            \"RestrictionType\": 3, // NoProtection -> -1 | AllowOnlyRevisions -> 0 | AllowOnlyComments -> 1 | AllowOnlyFormFields -> 2\n            \"restrictionPassword\": \"Your password goes here\"\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }",
        "operationId": "Documents_Protect",
        "parameters": [
          {
            "name": "request",
            "in": "query",
            "description": "Protect request",
            "schema": {
              "$ref": "#/components/schemas/ProtectRequest"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/{documentId}/convert": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Convert a document's format",
        "description": "Converts the passed document from one format to another.\t\nThe generated document can be delivered to one or more destinations.\n            \nEXAMPLE I: Convert the passed document to PDF format.\n            \n    Request:\n            \n    POST /documents/420326c7-aaa4-4598-a072-48e8cbbe442d/convert\n    {\n        \"outputConfig\": {\n            \"outputFormat\": 1\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }",
        "operationId": "Documents_Convert2",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "request",
            "in": "query",
            "description": "Document convert request",
            "schema": {
              "$ref": "#/components/schemas/DocumentConvertRequest"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/{documentId}/process": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "Documents_Process2",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "request",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DocumentProcessRequest"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/documents/{documentId}/protect": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Change document protection",
        "description": "Applies or removes protection from the passed document.\nThe generated document can be delivered to one or more destinations.\n            \nEXAMPLE I: Apply edit restrictions to a Word document in the Conga Revenue Lifecycle Platform.\n            \n    Request:\n            \n    POST /documents/420326c7-aaa4-4598-a072-48e8cbbe442d/protect\n    {\n        \"wordProtectionConfig\": {\n            \"RestrictionType\": 3,\n            \"restrictionPassword\": \"Your password goes here\"\n        }\n    }\n            \n    Response:\n    {\n        \"job\": {\n            \"status\": 0,\n            \"errorReason\": null,\n            \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n            \"createdDate\": \"2023-07-15T12:41:27.1363101Z\",\n        },\n        \"success\": true,\n        \"statusCode\": 202,\n        \"message\": \"Successfully queued the request\"\n    }",
        "operationId": "Documents_Protect2",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "request",
            "in": "query",
            "description": "Document protect request",
            "schema": {
              "$ref": "#/components/schemas/DocumentProtectRequest"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job request ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "The passed request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "401": {
            "description": "The token is missing or the user lacks permission to perform the action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocGenWorkflowAsyncResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get job information",
        "description": "Returns information for a given job.\n            \nEXAMPLE I: Getting the response information of a completed job.\n            \n    Request:\n            \n    GET /jobs/64d30d4a-5c89-4d9f-a5c8-b8453af5c280\n            \n    Response:\n            \n    {\n        \"id\": \"64d30d4a-5c89-4d9f-a5c8-b8453af5c280\",\n        \"status\": 3,\n        \"result\": {\n            \"Documents\": [\n                \"id\": \"5042d67f-21e6-4691-8f79-02446d3cd11c\",\n                \"name\": \"oupput-filename.pdf\",\n                \"entityId\": \"3ff0e051-d655-451d-abb5-a71b202cb935\",\n                \"entityName\": \"Agreement\",\n                \"parentDocumentId\": \"bfc3a050-895e-4d0e-a1a1-777d094082fa\",\n                \"fileType\": \"application/pdf\",\n                \"fileSize\": 181239,\n                \"extension\": \".pdf\",\n                \"createdDate\": \"2023-07-15T12:42:18.147\",\n                \"modifiedDate\": \"2023-07-15T12:42:18.147\"\n            ]\n        }\n    }",
        "operationId": "Jobs_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the job information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v2/orchestrate/merge": {
      "get": {
        "tags": [
          "Orchestrate"
        ],
        "operationId": "Orchestrate_MergeGET",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrchestrateApiResponse"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Orchestrate"
        ],
        "operationId": "Orchestrate_MergePOST",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrchestrateApiResponse"
                }
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Activity": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "attachOperation": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "followUpDate": {
            "type": "string",
            "format": "date-time"
          },
          "saveText": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          }
        }
      },
      "Adaptation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pdfCommands": {
            "type": "boolean"
          },
          "convertToPDF": {
            "type": "boolean"
          }
        }
      },
      "AttachmentInfo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "attachmentId": {
            "type": "string",
            "nullable": true
          },
          "attachmentType": {
            "type": "string",
            "nullable": true
          },
          "templateType": {
            "type": "string",
            "nullable": true
          },
          "additionalProperties": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {}
          }
        }
      },
      "AttachmentQuery": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ObjectQuery"
          },
          {
            "type": "object",
            "additionalProperties": false
          }
        ]
      },
      "AttachmentSet": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "setId": {
            "type": "string",
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AttachmentInfo"
            }
          }
        }
      },
      "AttachmentSource": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "attachments": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/AttachmentSpec"
            }
          },
          "query": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/AttachmentQuery"
              }
            ]
          },
          "sourceType": {
            "type": "string",
            "nullable": true
          },
          "sourceName": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/BaseSourceConfig"
              }
            ]
          },
          "cache": {
            "type": "boolean"
          },
          "useCache": {
            "type": "boolean"
          }
        }
      },
      "AttachmentSpec": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseAttachmentSpec"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "string",
                "nullable": true
              },
              "url": {
                "type": "string",
                "nullable": true
              },
              "attachmentType": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "BaseAttachmentSpec": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "specId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BaseDataSpec": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "specId": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          }
        }
      },
      "BaseDocGenRequest": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false
      },
      "BaseDocGenResponse": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "actionName": {
            "type": "string",
            "nullable": true
          },
          "isError": {
            "type": "boolean"
          },
          "success": {
            "type": "boolean",
            "deprecated": true
          },
          "statusCode": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BaseDocGenWorkflowRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseDocGenRequest"
          },
          {
            "type": "object",
            "x-abstract": true,
            "additionalProperties": false,
            "properties": {
              "documentDestinations": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/DocumentDestination"
                }
              },
              "sourceType": {
                "type": "string",
                "nullable": true
              },
              "sourceName": {
                "type": "string",
                "nullable": true
              },
              "source": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BaseSourceConfig"
                  }
                ]
              },
              "sourceConfigs": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/BaseSourceConfig"
                }
              },
              "saveDocumentOptions": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/SaveDocumentsParameters"
                  }
                ]
              },
              "workflowRequester": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WorkflowRequesterInfo"
                  }
                ]
              },
              "additionalProperties": {
                "type": "object",
                "nullable": true,
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "BaseDocumentSpec": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "specId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BaseEntity": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "BaseHeaderFooterOptions": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "style": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/HeaderFooterStyle"
              }
            ]
          },
          "wrapInContentControl": {
            "type": "boolean"
          }
        }
      },
      "BaseObject": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LookupObject"
              }
            ]
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedBy": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LookupObject"
              }
            ]
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "eTag": {
            "type": "string",
            "nullable": true
          },
          "customProperties": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {}
          }
        }
      },
      "BaseSourceConfig": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BaseTemplateSpec": {
        "type": "object",
        "x-abstract": true,
        "additionalProperties": false,
        "properties": {
          "specId": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Behavior": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "parameterName": {
            "type": "string"
          }
        }
      },
      "CommonDataType": {
[...]
