openapi: 3.2.0
info:
  title: Contracts Activity History API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: ActivityHistory
paths:
  /api/clm/v1/contracts/{contractId}/activityhistory/query:
    post:
      tags:
      - ActivityHistory
      summary: Get activity history records
      description: Fetches activity history records.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to get the activity history records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns activity history records that match the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Provided query is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
components:
  schemas:
    StringObjectDictionaryQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - string
          - 'null'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Error Class
    CustomQuery:
      type: object
      properties:
        Limit:
          type:
          - integer
          - 'null'
          description: Number of the records to be fetched
          format: int32
        Skip:
          type:
          - integer
          - 'null'
          description: Number of the records to be skipped
          format: int32
        SortInfo:
          $ref: '#/components/schemas/SortInfo'
        CriteriaExpression:
          type:
          - string
          - 'null'
          description: Criteria Expression to filter the records
        Distinct:
          type: boolean
          description: Whether to fetch only distinct records
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of fields to be fetched
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Group Field name if the result to be grouped
        IncludeTotalCount:
          type: boolean
          description: Whether to include total count in the query response. Defaults to true.
      additionalProperties: false
      description: Custom Query
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    StringObjectDictionaryQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/StringObjectDictionaryQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    SortInfo:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Field name on which records will be sorted
        Direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
      description: Sorting Information for Fields
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
