openapi: 3.2.0
info:
  title: Schema Manager Picklist Definition API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Picklist Definition
paths:
  /api/schema/v1/objects/{objectName}/picklists:
    post:
      tags:
      - Picklist Definition
      summary: Create a new picklist
      description: Validates and creates a new picklist metadata for the given object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object in which the picklist is to be created.
        required: true
        schema:
          type: string
      requestBody:
        description: 'Input for creating a picklist metadata. <p><b>Note</b>: Each <b>picklist entry</b> must have an unique (incremental) sequence number.</p>'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: TypePickList
                  AllowNonConfiguredPicklistEntries: false
                  PicklistEntries:
                  - Value: Advertisement
                    DisplayText: Advertisement
                    Sequence: 0
                    IsDeprecated: false
                  - Value: Competitor
                    DisplayText: Competitor
                    Sequence: 1
                    IsDeprecated: true
                  IsDeprecated: false
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/picklists/rename:
    patch:
      tags:
      - Picklist Definition
      summary: Rename a picklist
      description: Validates and renames the picklist for the given object and picklist and returns 'OK' when the request is executed.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the picklist.
        required: true
        schema:
          type: string
      requestBody:
        description: 'Input for renaming the picklist. <p><b>Note</b>: The new name must be unique, only inlcude alphanumeric characters and underscores, and cannot exceed 50 characters.</p>'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicklistRenameRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PicklistRenameRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PicklistRenameRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/picklists/{picklistName}:
    put:
      tags:
      - Picklist Definition
      summary: Update a picklist
      description: Validates and updates the picklist for the given object and picklist and returns 'OK' when the request is executed.
      parameters:
      - name: objectName
        in: path
        description: Name of the object in which the picklist is to be updated
        required: true
        schema:
          type: string
      - name: picklistName
        in: path
        description: Name of the picklist to be updated
        required: true
        schema:
          type: string
      requestBody:
        description: Metadata update details for the picklist mentioned in the picklist name parameter.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PicklistMetadataUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: TypePickList
                  AllowNonConfiguredPicklistEntries: false
                  PicklistEntries:
                  - Value: Analyst
                    DisplayText: Analyst
                    Sequence: 0
                    IsDeprecated: false
                  - Value: Competitor
                    DisplayText: Competitor
                    Sequence: 1
                    IsDeprecated: false
                  IsDeprecated: false
                StatusCode: Created
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/picklists/{picklistName}/picklist-entries:
    post:
      tags:
      - Picklist Definition
      summary: Create a new picklist entry
      description: Validates and creates a picklist entry for the given picklist and object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the picklist
        required: true
        schema:
          type: string
      - name: picklistName
        in: path
        description: Name of the picklist in which the entry data is to inserted
        required: true
        schema:
          type: string
      requestBody:
        description: Picklist entry data for the picklist mentioned in the picklist name parameter.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicklistEntryCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PicklistEntryCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PicklistEntryCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistEntryAPIResponse'
              example:
                Success: true
                Data:
                  Value: Advertisement
                  DisplayText: AdvertisementDisplayText
                  Sequence: 0
                  IsDeprecated: false
                StatusCode: Created
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/picklists/{picklistName}/picklist-entries/bulk:
    post:
      tags:
      - Picklist Definition
      summary: Create picklist entries by value
      description: Validates and updates the picklist value details for the given picklist and object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the picklist
        required: true
        schema:
          type: string
      - name: picklistName
        in: path
        description: Name of the picklist containing the picklist value
        required: true
        schema:
          type: string
      requestBody:
        description: Picklist Value details to be create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryCreateRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryCreateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryCreateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistEntryListAPIResponse'
              example:
                Success: true
                Data:
                  Value: Advertisement
                  DisplayText: AdvertisementDisplayText
                  Sequence: 0
                  IsDeprecated: false
                StatusCode: Created
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
      - Picklist Definition
      summary: Update picklist entries by value
      description: Validates and updates the picklist value details for the given picklist and object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the picklist
        required: true
        schema:
          type: string
      - name: picklistName
        in: path
        description: Name of the picklist containing the picklist value
        required: true
        schema:
          type: string
      requestBody:
        description: Picklist value details to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryBulkUpdateRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryBulkUpdateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PicklistEntryBulkUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistEntryListAPIResponse'
              example:
                Success: true
                Data:
                  Value: Advertisement
                  DisplayText: AdvertisementDisplayText
                  Sequence: 0
                  IsDeprecated: true
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/picklists/{picklistName}/picklist-entries/{picklistEntryValue}:
    put:
      tags:
      - Picklist Definition
      summary: Update a picklist entry by value
      description: Validates and updates the picklist value details for the given picklist and object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the picklist
        required: true
        schema:
          type: string
      - name: picklistName
        in: path
        description: Name of the picklist containing the picklist value
        required: true
        schema:
          type: string
      - name: picklistEntryValue
        in: path
        description: Name of the picklist value whose data to be updated
        required: true
        schema:
          type: string
      requestBody:
        description: Picklist Value details to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PicklistEntryUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PicklistEntryUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PicklistEntryUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PicklistEntryAPIResponse'
              example:
                Success: true
                Data:
                  Value: Advertisement
                  DisplayText: AdvertisementDisplayText
                  Sequence: 0
                  IsDeprecated: true
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    PicklistEntryBulkUpdateRequest:
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value of the picklist entry
        DisplayText:
          type:
          - string
          - 'null'
          description: Display text of the picklist entry
        Sequence:
          type: integer
          description: Sequence of the picklist entry
          format: int32
        IsDeprecated:
          type: boolean
          description: Indicates if the picklist entry is deprecated.
      additionalProperties: false
    PicklistMetadataAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/PicklistMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type: boolean
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    PicklistRenameRequest:
      type: object
      properties:
        OldPicklistName:
          type:
          - string
          - 'null'
          description: Old name of the picklist.
        NewPicklistName:
          type:
          - string
          - 'null'
          description: New name of the picklist.
      additionalProperties: false
      description: Represents a request to rename a picklist.
    PicklistMetadataCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the picklist
        AllowNonConfiguredPicklistEntries:
          type: boolean
          description: Indicates whether values other than those defined in the picklist are allowed.
        PicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntryCreateRequest'
          description: Colletion of the picklist entries
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
    PicklistEntryUpdateRequest:
      type: object
      properties:
        DisplayText:
          type:
          - string
          - 'null'
          description: Display text of the picklist entry
        Sequence:
          type: integer
          description: Sequence of the picklist entry
          format: int32
        IsDeprecated:
          type: boolean
          description: Indicates if the picklist entry is deprecated.
      additionalProperties: false
    PicklistEntryListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntry'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    PicklistEntryCreateRequest:
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value of the picklist entry
        DisplayText:
          type:
          - string
          - 'null'
          description: Display text of the picklist entry
        Sequence:
          type: integer
          description: Sequence of the picklist entry
          format: int32
      additionalProperties: false
    PicklistMetadataUpdateRequest:
      type: object
      properties:
        IsDeprecated:
          type: boolean
          description: Indicates if the picklist is deprecated.
        AllowNonConfiguredPicklistEntries:
          type: boolean
          description: Indicates whether values other than those defined in the picklist are allowed.
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    PicklistEntryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/PicklistEntry'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    PicklistMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        AllowNonConfiguredPicklistEntries:
          type: boolean
        PicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntry'
        IsDeprecated:
          type: boolean
      additionalProperties: false
    PicklistEntry:
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
        DisplayText:
          type:
          - string
          - 'null'
        Sequence:
          type: integer
          format: int32
        IsDeprecated:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
