openapi: 3.2.0
info:
  title: X-Author Agreement Review API
  version: v1
  description: This class contains APIs for Agreement Review Controller.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementReview
  description: This class contains APIs for Agreement Review Controller.
paths:
  /api/xauthor/v1/contracts/{contractId}/reviews:
    get:
      tags:
      - AgreementReview
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentReviewInfo'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentReviewInfo'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentReviewInfo'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.DocumentReviewInfo:
      type: object
      properties:
        documentVersionId:
          type:
          - string
          - 'null'
        templateName:
          type:
          - string
          - 'null'
        documentName:
          type:
          - string
          - 'null'
        reviewId:
          type:
          - string
          - 'null'
        reviewStatus:
          type:
          - string
          - 'null'
        reviewType:
          type:
          - string
          - 'null'
        initialDocumentId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
