openapi: 3.2.0
info:
  title: Cart - V1 Cart Analyzers API
  version: v1
  description: Config Debug Rule Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Cart Analyzers
  description: Config Debug Rule Controller
paths:
  /api/cart/v1/carts/{cartId}/applicable-attribute-rules:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applicable product attribute rules.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The lineitem identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: 'The filter. Pass data in filer in key value pair EX : filter[name]= PAR1'
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /api/cart/v1/carts/{cartId}/applicable-field-expression:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applicable field expression asynchronous.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The line item identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: The filter.
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /api/cart/v1/carts/{cartId}/applicable-rules:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applicable rules.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The lineitem identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: The filter.
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /api/cart/v1/carts/{cartId}/applied-attribute-rules:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applied product attribute rules asynchronous.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The line item identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: 'The filter. Pass data in filer in key value pair EX : filter[name]= PAR1'
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /api/cart/v1/carts/{cartId}/applied-field-expression:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applied field expression asynchronous.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The line item identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: The filter.
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /api/cart/v1/carts/{cartId}/applied-rules:
    get:
      tags:
      - Cart Analyzers
      summary: Gets the applicable product attribute rules.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier.
        required: true
        schema:
          type: string
      - name: lineItemId
        in: query
        description: The lineitem identifier.
        schema:
          type: string
      - name: primaryLineNumber
        in: query
        description: The primary line number.
        schema:
          type: integer
          format: int32
      - name: filter
        in: query
        description: The filter.
        style: deepObject
        schema:
          type: object
          additionalProperties:
            type: string
      - name: pageNumber
        in: query
        description: The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Size of the page.
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
