openapi: 3.2.0
info:
  title: X-Author Admin Settings API
  version: v1
  description: This class contains API endpoints for admin setting
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AdminSettings
  description: This class contains API endpoints for admin setting
paths:
  /api/xauthor/v1/admin-settings:
    get:
      tags:
      - AdminSettings
      summary: Get administrator settings
      description: Retrieves all application-related information, like the user profile and org details.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AdminSettings'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/admin-settings/google-service-config:
    get:
      tags:
      - AdminSettings
      summary: Get Google account configuration
      description: Retrieves Google Drive service account and folder configuration information.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Enum.XAAddInLoadType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Apttus.XAuthor.Common.Enum.IdeAPI:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AdminSettings:
      type: object
      properties:
        isTemplateVersioningEnabled:
          type: boolean
        documentVersioningNamingConvention:
          type:
          - string
          - 'null'
        isDocumentVersioningEnabled:
          type: boolean
        isAgreementLocksVersioningEnabled:
          type: boolean
        isVisualForcePageNameFieldAvailable:
          type: boolean
        autoEnablePrivateIndicator:
          type: boolean
        allowPrivateSelectionOverride:
          type: boolean
        isPrivateFieldAvailableInMergeEvent:
          type: boolean
        isV4FunctionalityEnabled:
          type: boolean
        isCloneTemplateFromFieldEnabled:
          type: boolean
        isImportOfflineEnabled:
          type: boolean
        isMergefields2FieldAvailable:
          type: boolean
        autoEnableReconciliation:
          type: boolean
        allowReconcileSelectionOverride:
          type: boolean
        isPublishAuthorEventsEnabled:
          type: boolean
        isReferenceIdEnabledInTemplates:
          type: boolean
        autoEnablePDFForFinalDocs:
          type: boolean
        allowPDFSelectionOverride:
          type: boolean
        autoInsertHeaderFooterData:
          type: boolean
        isDynamicSectionEnabled:
          type: boolean
        isChatterEnabled:
          type: boolean
        isVersionControlEnabled:
          type: boolean
        isMyChatterDisabled:
          type: boolean
        isSessionTokenStorageEnabled:
          type: boolean
        isTermExceptionEnabled:
          type: boolean
        isNameSortEnabled:
          type: boolean
        isClauseApprovalsEnabled:
          type: boolean
        agreementNumberFieldForImportedDocs:
          type:
          - string
          - 'null'
        footerDatetimeFormatForImportedDocs:
          type:
          - string
          - 'null'
        translationAppId:
          type:
          - string
          - 'null'
        documentFurtiveCode:
          type:
          - string
          - 'null'
        aptS_Password:
          type:
          - string
          - 'null'
        termExceptionFieldInTemplate:
          type:
          - string
          - 'null'
        defaultDocumentTags:
          type:
          - string
          - 'null'
        termExceptionRelationFieldInTemplate:
          type:
          - string
          - 'null'
        isAgreementVersionAwareFieldAvailable:
          type: boolean
        isSFRFunctionalityEnabled:
          type: boolean
        isExpressDocumentGenerationEnabled:
          type: boolean
        isCheckInTagsEnabled:
          type: boolean
        organizationMultiCurrency:
          type: boolean
        documentGenerationFileNameFormat:
          type:
          - string
          - 'null'
        isDocumentSecurityEnabled:
          type: boolean
        kiraConfiguration:
          type:
          - string
          - 'null'
        isCollaborationReviewEnabled:
          type: boolean
        autoEnableCheckout:
          type: boolean
        mergeServiceURL:
          type:
          - string
          - 'null'
        emailTemplateFilters:
          type:
          - string
          - 'null'
        defaultEmailTemplateForCollaborationReview:
          type:
          - string
          - 'null'
        overridePlaybookFilters:
          type:
          - string
          - 'null'
        isIDEEnabled:
          type: boolean
        agreementClauseVersioningEnable:
          type: boolean
        unlockSmartElements:
          type: boolean
        userCustomPermission:
          type:
          - object
          - 'null'
          additionalProperties:
            type: object
            additionalProperties:
              type: boolean
        customPermission:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CustomPermission'
        restrictCheckinDocuments:
          type:
          - string
          - 'null'
        enableFile:
          type: boolean
        parallelReview:
          type: boolean
        showSendForReviewAndCheckInButton:
          type: boolean
        apttusLocaleEnabled:
          type: boolean
        packageVersion:
          type:
          - string
          - 'null'
        shouldRestrictClauseEntries:
          type: boolean
        isClauseBehaviorEnabled:
          type: boolean
        autoEnableAsynchronousCheckin:
          type:
          - boolean
          - 'null'
        asynchronousCheckinRecipient:
          type:
          - string
          - 'null'
        isAdminSettingForCustomPermissionsExists:
          type: boolean
        adminCustomPermissions:
          type:
          - string
          - 'null'
        adminAdvancedSearchFilters:
          type:
          - string
          - 'null'
        settingForNamingConventionExists:
          type: boolean
        enablePDFSecurity:
          type: boolean
        orgType:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.OrgType'
        xaAddInLoadType:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.XAAddInLoadType'
        xaAddInLoadPath:
          type:
          - string
          - 'null'
        isAlternateClauseFeatureEnabled:
          type: boolean
        isClauseRichtextRequiredInReconcilation:
          type: boolean
        hideContentControlBorder:
          type: boolean
        isIDENormalizeValueConfigured:
          type: boolean
        isIDEExactTextConfigured:
          type: boolean
        allowRegenerate:
          type: boolean
        ideAPI:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.IdeAPI'
        cciTenantName:
          type:
          - string
          - 'null'
        cciapiEndpoint:
          type:
          - string
          - 'null'
        cciapiKey:
          type:
          - string
          - 'null'
        allowHighlightFields:
          type: boolean
        pdfSetting:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.PDFSettings'
        isPlatformReviewEnabled:
          type: boolean
        isGdocsSupportAvailable:
          type: boolean
        isGdriveDefaultFlagEnabled:
          type: boolean
        isAIEnabled:
          type: boolean
        isConvertToTemplateEnabled:
          type: boolean
        retainFieldPropertyInReadonlyClause:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.OrgType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.CustomPermission:
      type: object
      properties:
        showContractsMenu:
          type: boolean
        showTemplatesMenu:
          type: boolean
        allowUnlockReadonlyClause:
          type: boolean
        allowCheckinAsFinal:
          type: boolean
        allowCheckinWithoutRedlines:
          type: boolean
        allowCheckinWithRedlines:
          type: boolean
        allowUnprotectDocument:
          type: boolean
        hideCheckoutMenu:
          type: boolean
        disableAutoCheckout:
          type: boolean
        disableImportOffline:
          type: boolean
        disableCreateOffline:
          type: boolean
        displayCheckinCreatePdfA:
          type: boolean
        displayCheckInRetainDocumentName:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Model.PDFSettings:
      type: object
      properties:
        allowPrinting:
          type: boolean
        allowCopying:
          type: boolean
        allowCommenting:
          type: boolean
        allowFormFilling:
          type: boolean
        allowAssembling:
          type: boolean
        allowChangingContent:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
