openapi: 3.2.0
info:
  title: Cart - V1 Lock API
  version: v1
  description: LockController
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Lock
  description: LockController
paths:
  /api/cart/v1/carts/{cartId}/lock:
    post:
      tags:
      - Lock
      summary: lock API used to acquire lock/request for edit access.
      parameters:
      - name: cartId
        in: path
        description: cart Id
        required: true
        schema:
          type: string
      - name: queue
        in: query
        description: Flag to decide acquire/request for edit access.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/unlock:
    delete:
      tags:
      - Lock
      summary: This API is use to unlock/release the lock on cart
      parameters:
      - name: cartId
        in: path
        description: cart Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
