{
  "openapi": "3.0.4",
  "info": {
    "title": "Review",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/review/v1/google/authorize": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get an auth token for Google service account flow",
        "description": "Receives encrypted JSON for the Google service account, decrypts it, generates an access token, and returns the token.",
        "requestBody": {
          "description": "Encrypted service account JSON.",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/office365/active-directory-users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Gets existing users from search text",
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Search string for looking up matching user profiles.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ADReviewUsers"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ADReviewUsers"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ADReviewUsers"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/office365/sites/{siteName}/validate": {
      "get": {
        "tags": [
          "ReviewSites"
        ],
        "summary": "Validate Sharepoint site",
        "description": "Checks if the custom-created Sharepoint site is valid.",
        "parameters": [
          {
            "name": "siteName",
            "in": "path",
            "description": "Site Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ValidateReviewSitesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{objecttype}/{objectid}/reviews": {
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "Get reviews",
        "description": "This API retrieves reviews based on a Review's parent object ID.",
        "parameters": [
          {
            "name": "objecttype",
            "in": "path",
            "description": "Type of parent object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectid",
            "in": "path",
            "description": "ID of parent object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/authorize": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get user profile authorization",
        "description": "Gets a review service auth URL or auth token based on your administrator settings.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Resource identifier of required resource available through optional query parameters.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AuthorizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/delegated/token": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Get an auth token for delegated flow",
        "description": "Gets an auth token based on your administrator settings, review type, and auth code.\nThis endpoint is only for delegated flow.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Auth Code received after login as first step of delegated flow.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/reviewers/query": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Search users",
        "description": "Retreives user details matching your search string. You must pass a search string in the searchText parameter.",
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Search string for looking up matching user profiles.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profiles matching the requested search text.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewUser"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewUser"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Users matching the description not found.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/start": {
      "post": {
        "tags": [
          "Review"
        ],
        "summary": "Send a document for review",
        "description": "Sends a document for review to your selected approvers.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Send for review request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.StartReview.StartReviewRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.StartReview.StartReviewRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.StartReview.StartReviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.StartReviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.StartReviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.StartReviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/{reviewid}": {
      "delete": {
        "tags": [
          "Review"
        ],
        "summary": "Cancel a review process",
        "description": "Cancels a review process you started. You must identify the review with the reviewID parameter and you can invoke an existing email template using emailTemplateId.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The ID of the review process",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailTemplateId",
            "in": "query",
            "description": "Unique ID designating an email template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Review"
        ],
        "summary": "Get review details",
        "description": "This API retrieves the review ID, which includes associated review status information and properties.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The ID of the review you are querying.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/{reviewid}/end": {
      "post": {
        "tags": [
          "Review"
        ],
        "summary": "End my review",
        "description": "Ends a review process you started. You must pass the reviewId of the process you will end. Passing EmailTemplateId enables you to designate an existing email template to send ending a review. The `file` parameter (required for Normal-type review flows) names the file to process for review.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The ID of a review process",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailTemplateId",
            "in": "query",
            "description": "Unique ID designating an email template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disableEmailDelivery",
            "in": "query",
            "description": "Disable email delivery after ending the review",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Document file name.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/{reviewid}/reviewers": {
      "get": {
        "tags": [
          "Reviewer"
        ],
        "summary": "Get reviewers",
        "description": "This API retrieves the status details of all the reviewers and assocated details corresponding to a review request.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The unique identifier of a review process",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewerStatusResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewerStatusResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.ReviewerStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Reviewer"
        ],
        "summary": "Add reviewers",
        "description": "Adds reviewers to a review process that has already started. You must identify the review and pass an addreviewerrequest parameter. The API returns a list of reviewer IDs.",
        "parameters": [
          {
            "name": "reviewid",
            "in": "path",
            "description": "The unique identifier of a review",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Add Reviewer Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.AddReviewers.AddReviewersRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.AddReviewers.AddReviewersRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Review.Service.API.RequestResponseContracts.AddReviewers.AddReviewersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/{reviewid}/reviewers/{reviewerid}": {
      "delete": {
        "tags": [
          "Reviewer"
        ],
        "summary": "Cancel a reviewer",
        "description": "Cancels the review process for an individual reviewer and revokes their permission to review the document. You must pass the IDs of the review and the reviewer and you can designate an email template for the message sent after you cancel the review.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The unique identifier of a review",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewerid",
            "in": "path",
            "description": "The unique identifier of a reviewer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailTemplateId",
            "in": "query",
            "description": "Unique ID designating an email template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/review/v1/{reviewtype}/{reviewid}/reviewers/{reviewerid}/end": {
      "post": {
        "tags": [
          "Reviewer"
        ],
        "summary": "End a reviewer's review",
        "description": "This API ends the review process for an individual user and revokes permission to review a document. You must pass the reviewID and reviewerID parameters to identify the review and the reviewer. You can designate an email template for the message sent after you revoke review permission.",
        "parameters": [
          {
            "name": "reviewtype",
            "in": "path",
            "description": "Supported review types are Office365 and Normal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewid",
            "in": "path",
            "description": "The unique identifier of a review",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewerid",
            "in": "path",
            "description": "The unique identifier of a reviewer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailTemplateId",
            "in": "query",
            "description": "EmailTemplateId allows you to designate an existing email template to send after you cancel a review.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalToken",
            "in": "header",
            "description": "Token required to communicate with external review provider like Office365. (It's not required for Normal flow)",
            "required": true,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Conga.Review.Service.API.RequestResponseContracts.AddReviewers.AddReviewersRequest": {
        "type": "object",
        "properties": {
          "Reviewers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.Reviewer"
            },
            "description": "The list of reviewers to add to the review.",
            "nullable": true
          },
          "EmailTemplateId": {
            "type": "string",
            "description": "The ID of the email template to use when notifying reviewers.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "This class represents a Request for adding reviewers to a review."
      },
      "Conga.Review.Service.API.RequestResponseContracts.StartReview.StartReviewRequest": {
        "type": "object",
        "properties": {
          "Reviewers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.Reviewer"
            },
            "description": "Reviewers to send document for review",
            "nullable": true
          },
          "DocumentDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.DocumentDetail"
            },
            "description": "List of documents with details to be reviewed",
            "nullable": true
          },
          "ReviewNotification": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.ReviewNotification"
          },
          "ReviewObject": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.ReviewObject"
          },
          "ReviewTypeBehavior": {
            "type": "string",
            "description": "Review type. Dictates the document sharing and access previlages of the reviewers.\nValues: Internal, External, WebOnly, WebOnlyExternal\nDefault: WebOnlyExternal",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Start review request containing information required to start review"
      },
      "Conga.Review.Service.Application.Commands.StartReview.AdditionalSettings": {
        "type": "object",
        "properties": {
          "ProtectionLevel": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Enum.ProtectionLevel"
          },
          "Password": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Commands.StartReview.DocumentDetail": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Password": {
            "type": "string",
            "nullable": true
          },
          "AdditionalSettings": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.AdditionalSettings"
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Commands.StartReview.ReviewNotification": {
        "type": "object",
        "properties": {
          "Subject": {
            "type": "string",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          },
          "SupportingDocumentIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Cc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.Reviewer"
            },
            "nullable": true
          },
          "Bcc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Commands.StartReview.Reviewer"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Commands.StartReview.ReviewObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Commands.StartReview.Reviewer": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "MemberId": {
            "type": "string",
            "nullable": true
          },
          "RecipientType": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Enum.RecipientTypeEnum"
          },
          "RecipientId": {
            "type": "string",
            "nullable": true
          },
          "ReviewerType": {
            "$ref": "#/components/schemas/Conga.Review.Service.Domain.Models.Enum.ReviewerTypeEnum"
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Enum.ProtectionLevel": {
        "enum": [
          "AllowOnlyRevisions",
          "AllowOnlyComments",
          "AllowOnlyFormFields",
          "ReadOnly",
          "NoProtection"
        ],
        "type": "string"
      },
      "Conga.Review.Service.Application.Enum.RecipientTypeEnum": {
        "enum": [
          "Email",
          "User",
          "Contact"
        ],
        "type": "string"
      },
      "Conga.Review.Service.Application.Models.ADReviewUsers": {
        "type": "object",
        "properties": {
          "DirectoryUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.Recipient"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.AccessTokenResponse": {
        "type": "object",
        "properties": {
          "AuthToken": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.AuthorizationResponse": {
        "type": "object",
        "properties": {
          "IsDelegated": {
            "type": "boolean"
          },
          "AuthUrl": {
            "type": "string",
            "nullable": true
          },
          "Token": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.AccessTokenResponse"
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.FailedReview": {
        "type": "object",
        "properties": {
          "ReviewId": {
            "type": "string",
            "nullable": true
          },
          "DocumentId": {
            "type": "string",
            "nullable": true
          },
          "ErrorMessage": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.LookUp": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.Recipient": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "Role": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.ReviewStatusResponse": {
        "type": "object",
        "properties": {
          "ReviewId": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "ReviewStatus": {
            "type": "string",
            "nullable": true
          },
          "ReviewType": {
            "type": "string",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CreatedDate": {
            "type": "string",
            "nullable": true
          },
          "CompletedBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CompletedDate": {
            "type": "string",
            "nullable": true
          },
          "CancelledBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CancelDate": {
            "type": "string",
            "nullable": true
          },
          "ObjectId": {
            "type": "string",
            "nullable": true
          },
          "ObjectType": {
            "type": "string",
            "nullable": true
          },
          "InitialDocumentId": {
            "type": "string",
            "nullable": true
          },
          "FinalDocumentId": {
            "type": "string",
            "nullable": true
          },
          "SharedDocumentId": {
            "type": "string",
            "nullable": true
          },
          "SharedURL": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.ReviewUser": {
        "type": "object",
        "properties": {
          "Users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.Recipient"
            },
            "nullable": true
          },
          "Contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.Recipient"
            },
            "nullable": true
          },
          "DirectoryUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.Recipient"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.ReviewerStatusResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ReviewerName": {
            "type": "string",
            "nullable": true
          },
          "Email": {
            "type": "string",
            "nullable": true
          },
          "RecipientId": {
            "type": "string",
            "nullable": true
          },
          "RecipientType": {
            "type": "string",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "nullable": true
          },
          "ReviewId": {
            "type": "string",
            "nullable": true
          },
          "SharedURL": {
            "type": "string",
            "nullable": true
          },
          "Comment": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CreatedDate": {
            "type": "string",
            "nullable": true
          },
          "CompletedBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CompletedDate": {
            "type": "string",
            "nullable": true
          },
          "CancelledBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "CancelDate": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.LookUp"
          },
          "ModifiedDate": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.StartReviewResponse": {
        "type": "object",
        "properties": {
          "SuccessfulReviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.SuccessfulReview"
            },
            "nullable": true
          },
          "FailedReviews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Review.Service.Application.Models.FailedReview"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.SuccessfulReview": {
        "type": "object",
        "properties": {
          "ReviewId": {
            "type": "string",
            "nullable": true
          },
          "DocumentId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Application.Models.ValidateReviewSitesResponse": {
        "type": "object",
        "properties": {
          "SiteId": {
            "type": "string",
            "nullable": true
          },
          "IsSiteValid": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Conga.Review.Service.Domain.Models.Enum.ReviewerTypeEnum": {
        "enum": [
          "External",
          "Internal"
        ],
        "type": "string"
      },
      "Microsoft.AspNetCore.Mvc.ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Conga Review Authorization APIs"
    },
    {
      "name": "Review",
      "description": "Conga Review APIs"
    },
    {
      "name": "ReviewSites",
      "description": "Review Site APIs"
    },
    {
      "name": "Reviewer",
      "description": "Conga Reviewer APIs"
    },
    {
      "name": "User",
      "description": "User Search APIs"
    }
  ]
}
