openapi: 3.2.0
info:
  title: Cart - V1 Summary Groups API
  version: v1
  description: The Summary Groups Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: SummaryGroups
  description: The Summary Groups Controller
paths:
  /api/cart/v1/carts/{cartId}/summarygroups:
    get:
      tags:
      - SummaryGroups
      summary: Get summary groups
      description: Retrieves the summary groups for the given cart id.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '500':
          description: Internal Server Error
    post:
      tags:
      - SummaryGroups
      summary: Add summary group records to the cart
      description: Adds summary groups for the given cart ID to reconfigure existing cart use cases.
      parameters:
      - name: cartId
        in: path
        description: A unique cart identifier
        required: true
        schema:
          type: string
      requestBody:
        description: A list of summary groups
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    put:
      tags:
      - SummaryGroups
      summary: Update summary groups by cart
      description: Updates summary groups for the given cart ID, based on user adjustments.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      requestBody:
        description: A list of summary groups
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.SummaryGroup'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/summarygroups/adhoc:
    put:
      tags:
      - SummaryGroups
      summary: Update ad hoc summary groups with user changes
      description: Updates ad hoc summary groups for the given cart id.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Ad hoc group model - Line Item field name
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AdhocGroupModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AdhocGroupModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.AdhocGroupModel'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Proposal:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.SummaryGroup:
      type: object
      properties:
        adHocGroupDescription:
          type:
          - string
          - 'null'
        adjustedPrice:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        allowableAction:
          type:
          - string
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowRemoval:
          type:
          - boolean
          - 'null'
        baseExtendedCost:
          type:
          - number
          - 'null'
          format: double
        baseExtendedPrice:
          type:
          - number
          - 'null'
          format: double
        classificationId:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        deltaPrice:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        extendedCost:
          type:
          - number
          - 'null'
          format: double
        extendedListPrice:
          type:
          - number
          - 'null'
          format: double
        extendedPrice:
          type:
          - number
          - 'null'
          format: double
        extendedRollupPrice:
          type:
          - number
          - 'null'
          format: double
        frequency:
          type:
          - string
          - 'null'
        groupAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        hasIncentives:
          type:
          - boolean
          - 'null'
        incentiveCode:
          type:
          - string
          - 'null'
        isPrimaryLine:
          type:
          - boolean
          - 'null'
        itemSequence:
          type: integer
          format: int32
        lineNumber:
          type: integer
          format: int32
        lineType:
          type:
          - string
          - 'null'
        netAdjustmentPercent:
          type:
          - number
          - 'null'
          format: double
        netPrice:
          type:
          - number
          - 'null'
          format: double
        optionCost:
          type:
          - number
          - 'null'
          format: double
        optionPrice:
          type:
          - number
          - 'null'
          format: double
        priceAdjustment:
          type:
          - number
          - 'null'
          format: double
        priceAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        priceAdjustmentType:
          type:
          - string
          - 'null'
        rulesetName:
          type:
          - string
          - 'null'
        groupType:
          type:
          - string
          - 'null'
        parentConfiguration:
          type:
          - string
          - 'null'
        configuration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductConfiguration'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Cart.Manager.Model.AdhocGroupModel:
      type: object
      properties:
        fieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductConfiguration:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ancestor:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        approvalPreviewStatus:
          type:
          - string
          - 'null'
        approvalStatus:
          type:
          - string
          - 'null'
        billingPreference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        billToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        businessObjectType:
          type:
          - string
          - 'null'
        businessObjectId:
          type:
          - string
          - 'null'
        businessObjectProfile:
          type:
          - string
          - 'null'
        businessObjectRefId:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        contractNumbers:
          type:
          - string
          - 'null'
        couponCodes:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        shipToAccount:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        effectivePriceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        expectedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        expectedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        finalizedDate:
          type:
          - string
          - 'null'
          format: date-time
        pricingDate:
          type:
          - string
          - 'null'
          format: date-time
        location:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        activationDate:
          type:
          - string
          - 'null'
          format: date-time
        order:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        owner:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        status:
          type:
          - string
          - 'null'
        proposal:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Proposal'
        parentProposal:
          type:
          - string
          - 'null'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        orderId:
          type:
          - string
          - 'null'
        numberOfItems:
          type: integer
          format: int32
        summaryGroupType:
          type:
          - string
          - 'null'
        useType:
          type:
          - string
          - 'null'
        baseRelationCount:
          type:
          - integer
          - 'null'
          format: int32
        costRollupInfo:
          type:
          - string
          - 'null'
        currentUser:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        intent:
          type:
          - string
          - 'null'
        isPricePending:
          type: boolean
        isTaskPending:
          type: boolean
        isTransient:
          type: boolean
        isValidationPending:
          type: boolean
        lineItemsAwaitingPrice:
          type:
          - string
          - 'null'
        legalEntity:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        parentConfiguration:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        primordial:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        purchaseId:
          type:
          - string
          - 'null'
        renewalAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        renewalAdjustmentType:
          type:
          - string
          - 'null'
        splitCriteriaKey:
          type:
          - string
          - 'null'
        taskCompletedDate:
          type:
          - string
          - 'null'
          format: date-time
        versionNumber:
          type: integer
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
