openapi: 3.2.0
info:
  title: Administration Attribute Matrices API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attribute Matrices
paths:
  /attribute-matrices:
    delete:
      tags:
      - Attribute Matrices
      summary: Delete attribute matrices
      description: Deletes one or more attribute matrices based on the list of attribute matrix IDs provided in the request body.
      requestBody:
        description: The list of attribute matrices to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Matrices
      summary: Retrieve attribute matrices
      description: 'Retrieves all attribute matrices existing in the system. If a product ID or an attribute ID is specified, the API retrieves attribute matrices associated with them.



        The API returns the list of attribute matrices.'
      parameters:
      - name: filter
        in: query
        description: The array of filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sorting parameter
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The array of included relationships
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Matrices
      summary: Update attribute matrices
      description: 'Updates one or more attribute matrices based on the details provided in the request body.



        When executed, the API returns the ID and the structure of the updated attribute matrices.'
      requestBody:
        description: The list of attribute matrices to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: AttributeMatrixName
              IsActive: true
              ApplicationType: Default
              Description: Attribute Matrix description
              AccountScope:
              - All
              AccountScopeOper: in
              EffectiveDate: '2019-10-10'
              ExpirationDate: '2030-10-10'
              ProductFamilyScope:
              - All
              ProductFamilyScopeOper: in
              ProductGroupScope:
              - All
              ProductGroupScopeOper: in
              ProductScope:
              - All
              ProductScopeOper: in
              TreatNullAsWildcard: false
              Attributes:
              - Name: AttributeName
                Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
    post:
      tags:
      - Attribute Matrices
      summary: Create attribute matrices
      description: 'Creates one or more attribute matrices based on the details provided in the request body. The attribute matrix can be created for product scope, and it can be active or deactivated upon creation.



        The API returns the structure of newly created attribute matrices.'
      requestBody:
        description: The list of attribute matrices to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeMatrix'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeMatrix'
  /attribute-matrices/{Id}:
    delete:
      tags:
      - Attribute Matrices
      summary: Delete an attribute matrix
      description: Deletes a single attribute matrix by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute matrix to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Matrices
      summary: Retrieve an attribute matrix
      description: Retrieves a single attribute matrix record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute matrix
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: The array of included relationships
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
            text/json:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Matrices
      summary: Update an attribute matrix
      description: Updates a single attribute matrix by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute matrix to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the attribute matrix
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AttributeMatrixName
              IsActive: true
              ApplicationType: Default
              Description: Attribute Matrix description
              AccountScope:
              - All
              AccountScopeOper: in
              EffectiveDate: '2019-10-10'
              ExpirationDate: '2030-10-10'
              ProductFamilyScope:
              - All
              ProductFamilyScopeOper: in
              ProductGroupScope:
              - All
              ProductGroupScopeOper: in
              ProductScope:
              - All
              ProductScopeOper: in
              TreatNullAsWildcard: false
              Attributes:
              - Name: AttributeName
                Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
            text/json:
              schema:
                $ref: '#/components/schemas/AttributeMatrix'
components:
  schemas:
    AttributeMatrixAttributes:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttributeMatrix:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AccountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountScopeOper:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        ApplicationType:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        ProductFamilyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamilyScopeOper:
          type:
          - string
          - 'null'
        ProductGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductGroupScopeOper:
          type:
          - string
          - 'null'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductScopeOper:
          type:
          - string
          - 'null'
        TreatNullAsWildcard:
          type:
          - boolean
          - 'null'
        Attributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttributeMatrixAttributes'
      additionalProperties: {}
      example:
        Name: AttributeMatrixName
        IsActive: true
        ApplicationType: Default
        Description: Attribute Matrix description
        AccountScope:
        - All
        AccountScopeOper: in
        EffectiveDate: '2019-10-10'
        ExpirationDate: '2030-10-10'
        ProductFamilyScope:
        - All
        ProductFamilyScopeOper: in
        ProductGroupScope:
        - All
        ProductGroupScopeOper: in
        ProductScope:
        - All
        ProductScopeOper: in
        TreatNullAsWildcard: false
        Attributes:
        - Name: AttributeName
          Sequence: 1
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
