openapi: 3.2.0
info:
  title: Administration Product Information API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Product Information
paths:
  /products/{ParentId}/information:
    delete:
      tags:
      - Product Information
      summary: Delete product information
      description: Deletes one or more product information document under a product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Information
      summary: Retrieve a product information document
      description: Retrieves product information document with their details. Use query parameters to further narrow down the retrieved results.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Information
      summary: Update product information documents
      description: Updates specific fields on one or more product information documents under a given product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Product Information
      summary: Create product information document
      description: Creates one or more product information for a specific product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product information documents to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductInformation'
      responses:
        '200':
          description: OK
  /products/{ParentId}/information/{Id}:
    delete:
      tags:
      - Product Information
      summary: Delete a product information document
      description: Deletes a single product information document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product information document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Information
      summary: Retrieve a single product information document
      description: Retrieves a single product information document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product information document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Information
      summary: Update a product information document
      description: Updates a single product information document based on the identifier and parent product.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent product
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the product information document
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the product information document
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ProductInformation:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ContentUrl:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        EmbeddedCode:
          type:
          - string
          - 'null'
        Document:
          type:
          - string
          - 'null'
        InformationType:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Type:
          type:
          - string
          - 'null'
        ExternalFacing:
          type: boolean
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
