openapi: 3.2.0
info:
  title: X-Author Clause Metadata API
  version: v1
  description: This class contains API endpoints for template clause metadata
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: ClauseMetadata
  description: This class contains API endpoints for template clause metadata
paths:
  /api/xauthor/v1/clauses/mark/metadata/{contractId}:
    get:
      tags:
      - ClauseMetadata
      summary: Get mark clause metadata
      parameters:
      - name: contractId
        in: path
        description: The contract's Id
        required: true
        allowEmptyValue: true
        schema:
          type:
          - string
          - 'null'
          description: The contract's Id
          default: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/metadata:
    get:
      tags:
      - ClauseMetadata
      summary: Get a template clause's metadata
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseFilterMetadata'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.AgreementClauseFilterMetadata:
      type: object
      properties:
        agreementTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TemplateAgreementType'
        locales:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ApttusLocale'
        languages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Language'
        categories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCategory'
        clauseTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseTypes'
        exceptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Exception'
        riskRating:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RiskRating'
        termExceptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TermException'
        action:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Action'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DateFormat:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.TemplateAgreementType:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ApttusLocale:
      type: object
      properties:
        localeId:
          type:
          - string
          - 'null'
        localeName:
          type:
          - string
          - 'null'
        localeCode:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        numberPrecision:
          type: integer
          format: int32
        currencyPrecision:
          type: integer
          format: int32
        dateFormats:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DateFormat'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.TermException:
      type: object
      properties:
        index:
          type: integer
          format: int32
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        agreementTypes:
          type:
          - string
          - 'null'
        approvalRequired:
          type: boolean
        description:
          type:
          - string
          - 'null'
        exception:
          type:
          - string
          - 'null'
        exceptionType:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Exception:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Language:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RiskRating:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.TemplateCategory:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        subCategories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.SubCategory'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ClauseFilterMetadata:
      type: object
      properties:
        agreementTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TemplateAgreementType'
        locales:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ApttusLocale'
        languages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Language'
        categories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.TemplateCategory'
        clauseTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseTypes'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.SubCategory:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ClauseTypes:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Action:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
