openapi: 3.2.0
info:
  title: X-Author Agreement Metadata API
  version: v1
  description: This class contains APIs for agreement metadata.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementMetadata
  description: This class contains APIs for agreement metadata.
paths:
  /api/xauthor/v1/contracts/{contractId}/metadata:
    get:
      tags:
      - AgreementMetadata
      summary: Get fields
      parameters:
      - name: contractId
        in: path
        description: The contract's identifier
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The contract's identifier
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldGroup'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldGroup'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.FieldGroup'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.Field:
      type: object
      properties:
        label:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        parentType:
          type:
          - string
          - 'null'
        pickList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
        length:
          type:
          - integer
          - 'null'
          format: int32
        localName:
          type:
          - string
          - 'null'
        mergeFieldName:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        tag:
          type:
          - string
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        readOnly:
          type:
          - boolean
          - 'null'
        isRichtextField:
          type:
          - boolean
          - 'null'
        relationshipMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RelationshipMetadata'
        referenceTo:
          type:
          - string
          - 'null'
        referenceObject:
          type:
          - string
          - 'null'
        isDBReferenceField:
          type: boolean
        referenceFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        localizationEnabled:
          type: boolean
        fieldLocalInfo:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.LocaleInfo'
        picklistName:
          type:
          - string
          - 'null'
        defaultValue: {}
        dependentPicklistName:
          type:
          - string
          - 'null'
        dependentPicklist:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DependentPicklistItem'
        isSortable:
          type:
          - boolean
          - 'null'
        isNameField:
          type:
          - boolean
          - 'null'
        isFilterable:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.LocaleInfo:
      type: object
      properties:
        lcidString:
          type:
          - string
          - 'null'
        languageCode:
          type:
          - string
          - 'null'
        languageName:
          type:
          - string
          - 'null'
        localeFilePath:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        useSymbolForFormatting:
          type:
          - string
          - 'null'
        defaultLocale:
          type:
          - string
          - 'null'
        defaultDateFormat:
          type:
          - string
          - 'null'
        defaultPrecision:
          type:
          - integer
          - 'null'
          format: int32
        defaultUseSymbolForFormatting:
          type:
          - string
          - 'null'
        currencyIsoCode:
          type:
          - string
          - 'null'
        currencySymbol:
          type:
          - string
          - 'null'
        currencyPrecision:
          type: integer
          format: int32
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DependentPicklistItem:
      type: object
      properties:
        controllingPicklistValue:
          type:
          - string
          - 'null'
        picklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.PickListItem'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.PickListItem:
      type: object
      properties:
        active:
          type: boolean
        defaultValue:
          type: boolean
        label:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RelationshipMetadata:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        referenceType:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        targetObjectName:
          type:
          - string
          - 'null'
        targetFieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.FieldGroup:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        dynamicCrmApiName:
          type:
          - string
          - 'null'
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Field'
        relationships:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RelationshipMetadata'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
