openapi: 3.2.0
info:
  title: X-Author Clause API
  version: v1
  description: This class contains API endpoints for clauses.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Clause
  description: This class contains API endpoints for clauses.
paths:
  /api/xauthor/v1/clauses/alternate:
    post:
      tags:
      - Clause
      summary: Get alternate clauses
      description: Gets alternate clauses for use in contract negotiations.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Alternate clause request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AlternateClauseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/alternates/check:
    post:
      tags:
      - Clause
      summary: Validate alternate clauses
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: List of alternate clause requestes with clause referenceid and clause config referenceid
        content:
          application/json-patch+json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel'
              description: List of alternate clause requestes with clause referenceid and clause config referenceid
          application/json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel'
              description: List of alternate clause requestes with clause referenceid and clause config referenceid
          text/json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel'
              description: List of alternate clause requestes with clause referenceid and clause config referenceid
          application/*+json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.CheckForAlternatesModel'
              description: List of alternate clause requestes with clause referenceid and clause config referenceid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/bundles/{name}:
    get:
      tags:
      - Clause
      summary: Get a clause bundle
      parameters:
      - name: name
        in: path
        description: Name of the bundle
        required: true
        allowEmptyValue: true
        schema:
          type:
          - string
          - 'null'
          description: Name of the bundle
          default: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseBundleResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/clauses/configurations/{clauseConfigId}:
    get:
      tags:
      - Clause
      summary: List alternate clauses and sub-clauses
      parameters:
      - name: clauseConfigId
        in: path
        description: ''
        required: true
        allowEmptyValue: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ClauseConfigurationDetail'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.AlternateClauseResponse:
      type: object
      properties:
        standard:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Clause'
        alternates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ClauseBaseModel'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Clause:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        subCategory:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        guidance:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        configReferenceId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        keywords:
          type:
          - string
          - 'null'
        activeVersion:
          type:
          - string
          - 'null'
        activeVersionId:
          type:
          - string
          - 'null'
        sequence:
          type: integer
          format: int32
        isApprovalRequired:
          type: boolean
          readOnly: true
        approvalId:
          type:
          - string
          - 'null'
        clauseType:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          type:
          - string
          - 'null'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        recordType:
          type:
          - array
          - 'null'
          items:
            type: string
          deprecated: true
        contractType:
          type:
          - array
          - 'null'
          items:
            type: string
          readOnly: true
        clauseFormat:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseFormat'
        clauseBehavior:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseBehaviorEnum'
        clauseConfigurations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ClauseConfiguration'
        businessObject:
          type:
          - string
          - 'null'
        agreementType:
          type:
          - string
          - 'null'
        lockStatus:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LockStatusModel'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.ClauseBaseModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        subCategory:
          type:
          - string
          - 'null'
        locale:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        guidance:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        configReferenceId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        keywords:
          type:
          - string
          - 'null'
        activeVersion:
          type:
          - string
          - 'null'
        activeVersionId:
          type:
          - string
          - 'null'
        sequence:
          type: integer
          format: int32
        isApprovalRequired:
          type: boolean
          readOnly: true
        approvalId:
          type:
          - string
          - 'null'
        clauseType:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          type:
          - string
          - 'null'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        recordType:
          type:
          - array
          - 'null'
          items:
            type: string
          deprecated: true
        contractType:
          type:
          - array
          - 'null'
          items:
            type: string
          readOnly: true
        clauseFormat:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseFormat'
        clauseBehavior:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.ClauseBehaviorEnum'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ClauseConfigurationDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        subClauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Clause'
        alternateClauses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Clause'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.AlternateClauseCheckResponse:
      type: object
      properties:
        clauseReferenceId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
        isAlternateClauseExists:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Enum.ClauseBehaviorEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.AlternateClauseRequest:
      type: object
      properties:
        clauseReferenceId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        documentVersionId:
          type:
          - string
          - 'null'
        isApprovalCheckRequired:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Model.ClauseConfiguration:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Model.CheckForAlternatesModel:
      type: object
      properties:
        clauseReferenceId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.LockStatusModel:
      type: object
      properties:
        checkoutDate:
          type:
          - string
          - 'null'
        checkoutBy:
          type:
          - string
          - 'null'
        parentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ClauseBundleResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.ClauseFormat:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
