openapi: 3.2.0
info:
  title: Catalog Price Lists API
  version: 1.0.0
  description: Catalog APIs for Pricelists
servers:
- url: https://rls.congacloud.com/api/catalog/v1
security:
- Bearer: []
tags:
- name: PriceLists
  description: Catalog APIs for Pricelists
paths:
  /price-lists/active:
    get:
      tags:
      - PriceLists
      summary: Retrieve a price list
      parameters:
      - name: priceListId
        in: header
        description: A unique identifier for a price list.
        schema:
          type: string
      - name: accountId
        in: header
        description: A unique identifier for an account.
        schema:
          type: string
      - name: storeFrontId
        in: header
        description: A unique identifier for a storefront.
        schema:
          type: string
      - name: configName
        in: query
        description: Config Name that stores the active pricelist response field list. <strong>For example:</strong> ActivePriceListFields_Default.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PriceList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.Revenue.Catalog.API.Models.CatalogError'
components:
  schemas:
    Conga.Revenue.Entities.Platform.PriceList:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        account:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isActive:
          type:
          - boolean
          - 'null'
        type:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Catalog.API.Models.CatalogError:
      type: object
      properties:
        code:
          type: integer
          description: Error code
          format: int32
        message:
          type:
          - string
          - 'null'
          description: Error Message
        timestamp:
          type: string
          description: Time when the error occurred
          format: date-time
        additionalDetails:
          description: Additional details about the error
      additionalProperties: false
      description: Error object returned by the Catalog APIs
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
