openapi: 3.2.0
info:
  title: Conga Sign Authentication Tokens API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AuthenticationTokens
paths:
  /v1/cs-authenticationTokens/sender:
    post:
      tags:
      - AuthenticationTokens
      summary: Create a sender authentication token
      description: 'Creates a token that can be used to obtain a valid session for the owner of an existing package, so they can edit

        the package using the Designer view, and then distribute it for signing. The destination must be a valid

        destination for a sender and is restricted to a particular package. It is single-use and expires after

        30 minutes (this is configurable). This token allows you to log in using a Get to the

        ?senderDesignerToken=VALUE or ?senderTransactionEditToken=VALUE'
      operationId: AuthenticationTokens_CreateSenderAuthToken
      requestBody:
        x-name: senderAuthenticationTokenRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SenderAuthenticationToken'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderAuthenticationToken'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-authenticationTokens/signer/multiUse:
    post:
      tags:
      - AuthenticationTokens
      summary: Create a multi-use signer authentication token
      description: 'Creates a token that can be used to obtain a valid session for a particular signer of an existing package,

        so they can sign the package. This single-use token is restricted to a single package and expires after 30 minutes

        (this is configurable); however, it can be used multiple times. This token allows you to log in using a Get to the

        %2Fauth?senderAuthenticationToken=VALUE%26target=http://environment/destination.

        The destination must be a valid destination for a signer.'
      operationId: AuthenticationTokens_CreateMultiUseSignerAuthToken
      requestBody:
        x-name: signerAuthenticationTokenRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignerAuthenticationToken'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignerAuthenticationToken'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-authenticationTokens/signer/singleUse:
    post:
      tags:
      - AuthenticationTokens
      summary: Create a new single use signer authentication token
      description: 'Creates a token that can be used to obtain a valid session for a particular signer of an existing package

        so they can sign the package. This single-use token is restricted to a single package and expires after 30 minutes

        (this is configurable). This token allows you to log in through a Get to the

        %2Fauth?senderAuthenticationToken=VALUE%26target=http://environment/destination.

        The destination must be a valid destination for a signer.'
      operationId: AuthenticationTokens_CreateSingleUseSignerAuthToken
      requestBody:
        x-name: signerAuthenticationTokenRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignerAuthenticationToken'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignerAuthenticationToken'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: The specified resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-authenticationTokens/user:
    post:
      tags:
      - AuthenticationTokens
      summary: 'CONGA-ONLY

        Creates a User access token that is used to access package details for a signer of an existing package. This single-use token is restricted to a single package and expires after 30 minutes.'
      operationId: AuthenticationTokens_GetUserAuthToken
      requestBody:
        x-name: userAuthenticationTokenRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthenticationToken'
        required: true
        x-position: 1
      responses:
        '200':
          description: SessionContext
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthenticationToken'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    SenderAuthenticationToken:
      type: object
      description: Object to manage sender auth token
      additionalProperties: false
      properties:
        packageId:
          type: string
          description: Package id
        value:
          type: string
          description: Auth token value
    UserAuthenticationToken:
      type: object
      description: Object to manage a user authentication token
      additionalProperties: false
      properties:
        email:
          type: string
          description: Email
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    SignerAuthenticationToken:
      type: object
      description: Object to manage a signer authentication token
      additionalProperties: false
      properties:
        packageId:
          type: string
          description: Package id
        signerId:
          type: string
          description: Signer id
        sessionFields:
          type: object
          description: Session fields
          additionalProperties:
            type: string
        value:
          type: string
          description: The authentication token
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
