openapi: 3.2.0
info:
  title: Conga Sign Account Roles API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountRoles
paths:
  /v1/cs-account/roles:
    post:
      tags:
      - AccountRoles
      summary: Create a new account role
      description: Adds an account role to an account. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_CreateAccountRole
      requestBody:
        x-name: accountRoleWithoutId
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRoleWithoutId'
        required: true
        x-position: 1
      responses:
        '204':
          description: No Content
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountRoles
      summary: Retrieve account role information
      description: Retrieves account role information, such as name and permissions, for the current system account. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_ListRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfAccountRole'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/roles/{accountRoleId}:
    delete:
      tags:
      - AccountRoles
      summary: Delete an account role
      description: Deletes an account role using the specified ID. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions contact your Conga Sign sales representative.
      operationId: AccountRoles_DeleteAccountRole
      parameters:
      - name: accountRoleId
        in: path
        required: true
        description: The unique role id.
        schema:
          type: string
        x-position: 1
      responses:
        '204':
          description: No Content
        '304':
          description: Not Modified Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountRoles
      summary: Retrieve an account role
      description: Retrieves an account role using the specified ID. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_GetAccountRole
      parameters:
      - name: accountRoleId
        in: path
        required: true
        description: The unique role id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRole'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - AccountRoles
      summary: Update an account role
      description: Updates an account role, for example, to change permission settings or a role name. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_UpdateAccountRole
      parameters:
      - name: accountRoleId
        in: path
        required: true
        description: The unique role id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: accountRoleWithoutId
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRoleWithoutId'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountRole'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/roles/{accountRoleId}/users:
    get:
      tags:
      - AccountRoles
      summary: Retrieve user IDs assigned to a role
      description: Retrieves the list of user IDs assigned to a given role. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions contact your Conga Sign sales representative.
      operationId: AccountRoles_GetAccountUsers
      parameters:
      - name: accountRoleId
        in: path
        required: true
        description: The unique role id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-account/senders/{senderId}/roles:
    post:
      tags:
      - AccountRoles
      summary: Create a new account role
      description: Adds an account role to an account. Using this call requires roles and permissions to be enabled on your account.  To enable Roles and Permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_AssignAccountRoleToUser
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: userAccountRole
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAccountRole'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountRole'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountRoles
      summary: Get the user's account roles
      description: Retrieves the account roles assigned to the specified user. If the subaccount feature is enabled, the API retrieves all specified or user-assigned subaccount roles if accountId is provided. Using this call requires roles and permissions to be enabled on your account.  To enable roles and permissions, contact your Conga Sign sales representative.
      operationId: AccountRoles_GetUserAccountRoles
      parameters:
      - name: senderId
        in: path
        required: true
        description: The unique sender id.
        schema:
          type: string
        x-position: 1
      - name: accountId
        in: query
        description: This parameter is used when the subaccount feature is enabled to get specified subaccount roles. If it is undefined, all user-assigned subaccount roles receive responses.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccountRole'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: Access Denied Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    AccountRoleWithoutId:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
          description: Name
          minLength: 1
        enabled:
          type: boolean
          description: Enabled
        description:
          type: string
          description: Descriptions
        permissions:
          type: array
          description: '[Permissions]'
          items:
            type: string
    AccountRole:
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
          description: Automatically generated guid
          minLength: 1
        name:
          type: string
          description: Name
        enabled:
          type: boolean
          description: Enabled
        description:
          type: string
          description: Descriptions
        permissions:
          type: array
          description: '[Permissions]'
          items:
            type: string
        inherited:
          type: boolean
          description: True when the role was created in a parent sub-account.
        predefined:
          type: boolean
          description: True when the role is defined by OneSpan and uneditable. False when the role is managed by your account and editable (Role Management permission required for editing a role).
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    ResultOfAccountRole:
      type: object
      description: Object used to manage OneSpan list types
      additionalProperties: false
      properties:
        count:
          type: integer
          description: Count
          format: int32
        results:
          type: array
          description: Results
          items:
            $ref: '#/components/schemas/AccountRole'
    UserAccountRole:
      type: object
      description: Object to manage user account roles
      additionalProperties: false
      required:
      - accountId
      - accountRoles
      properties:
        userId:
          type: string
          description: The unique user id.
        accountId:
          type: string
          description: The user's unique account id.
          minLength: 1
        accountRoles:
          type: array
          description: The user's account roles.
          items:
            $ref: '#/components/schemas/AccountRole'
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
