openapi: 3.2.0
info:
  title: Incentive Administration Incentive Programs API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/incentive-admin/v1
security:
- Bearer: []
tags:
- name: Incentive Programs
paths:
  /incentive-programs:
    delete:
      tags:
      - Incentive Programs
      summary: Delete Incentive Programs
      description: Deletes multiple Incentive programs
      requestBody:
        description: The list of Incentive programs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Programs
      summary: Retrieve Incentive Programs
      description: Retrieves the collection of incentive programs.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated multiple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: Optional filter expression
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Programs
      summary: Update Incentive Programs
      description: Updates multiple Incentive programs
      requestBody:
        description: The list of Incentive programs with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Incentive Programs
      summary: Create Incentive Programs
      description: Creates multiple Incentive programs
      requestBody:
        description: The list of Incentive programs to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
      responses:
        '200':
          description: OK
  /incentive-programs/{Id}:
    delete:
      tags:
      - Incentive Programs
      summary: Delete an Incentive Program
      description: Deletes a single Incentive program by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Incentive program to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Incentive Programs
      summary: Retrieve an Incentive Program
      description: Retrieves a single incentive program by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Incentive program
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
            text/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
        '204':
          description: No Content
    patch:
      tags:
      - Incentive Programs
      summary: Update an Incentive Program
      description: Updates a single Incentive program
      parameters:
      - name: Id
        in: path
        description: The identifier of the Incentive program to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the Incentive program
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    IncentiveProgram:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        ApplicationMethod:
          type:
          - string
          - 'null'
        ProgramType:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
