openapi: 3.2.0
info:
  title: X-Author Agreement Document Checkin API
  version: v1
  description: This class contains APIs related to agreement document checkins
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementDocumentCheckin
  description: This class contains APIs related to agreement document checkins
paths:
  /api/xauthor/v1/contracts/{contractId}/documents/check-in:
    post:
      tags:
      - AgreementDocumentCheckin
      summary: Check in a document specific to an agreement
      parameters:
      - name: contractId
        in: path
        description: Agreement Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Agreement Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Check-in request parameters
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.ContentControlInfo:
      type: object
      properties:
        allowEditing:
          type: boolean
        controlId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.ClauseApprovalSubmitRequest:
      type: object
      properties:
        approvalId:
          type:
          - string
          - 'null'
        isAdhoc:
          type: boolean
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptMarkDeletionICTC:
      type: object
      properties:
        aptMarkDeletionICTCDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptMarkDeletionICTCDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CheckInRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        pdfContent:
          type:
          - string
          - 'null'
        saveOption:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.VersionTypeEnum'
        protection:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
        isPrompt:
          type: boolean
        markAsPrivate:
          type: boolean
        includeWaterMark:
          type: boolean
        removeWaterMark:
          type: boolean
        createPdfAttachment:
          type: boolean
        pdfCompliance:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.PDFCompliance'
        atleastOneClauseChangedOrDeleted:
          type: boolean
        suggestedFileName:
          type:
          - string
          - 'null'
        submitForApproval:
          type: boolean
        reconcileFields:
          type: boolean
        reconcileClauses:
          type: boolean
        reconcileClauseApprovals:
          type: boolean
        reconcileTables:
          type: boolean
        aptTempICTCMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptTempICTCMetadata'
        aptMarkDeletionICTC:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptMarkDeletionICTC'
        aptPromoteClauseICTC:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTC'
        aptDeletedCCs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptDeletedCC'
        documentSecurity:
          type:
          - string
          - 'null'
        deleteClauseVersionListXML:
          type: boolean
        parallelReview:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ParallelReview'
        clausesInsertedAsText:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        agreementId:
          type:
          - string
          - 'null'
        asyncCheckIn:
          type: boolean
        documentTags:
          type:
          - array
          - 'null'
          items:
            type: string
        clauseApprovals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        clausesDeleted:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        isPartialReconciliationEnabled:
          type: boolean
        isReconcileFieldsOrClauseOrTable:
          type: boolean
        corelationId:
          type:
          - string
          - 'null'
        ideCompleted:
          type: boolean
        ideJobId:
          type:
          - string
          - 'null'
        hideContentControlBorder:
          type: boolean
        clauseActionLevelApprovals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ClauseApprovalSubmitRequest'
        aptDocumentProperties:
          type:
          - string
          - 'null'
        isAnalyzeComplete:
          type: boolean
        contentVersionId:
          type:
          - string
          - 'null'
        recordType:
          type:
          - string
          - 'null'
        isO365ReviewedDocument:
          type: boolean
        documentID:
          type:
          - string
          - 'null'
        ignoreReconcile:
          type:
          - array
          - 'null'
          items:
            type: string
        gDocURL:
          type:
          - string
          - 'null'
        fieldReconciliationData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.SameTagFieldInfo'
        contractSummary:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Reviewer:
      type: object
      properties:
        contentControlsInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ContentControlInfo'
        reviewerEmail:
          type:
          - string
          - 'null'
        reviewerId:
          type:
          - string
          - 'null'
        reviewerName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        promoteClause:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AgreementClause:
      type: object
      properties:
        action:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        category:
          type:
          - string
          - 'null'
        subcategory:
          type:
          - string
          - 'null'
        clause:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        prevText:
          type:
          - string
          - 'null'
        diffText2:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        exception:
          type:
          - string
          - 'null'
        riskRating:
          type:
          - string
          - 'null'
        isMateriallySignificant:
          type: boolean
        status:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        termExceptionComments:
          type:
          - string
          - 'null'
        template:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        isModified:
          type: boolean
        auditDesc:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        userId:
          type:
          - string
          - 'null'
        agreementId:
          type:
          - string
          - 'null'
        materiallySignificant:
          type: boolean
        attachmentId:
          type:
          - string
          - 'null'
        clauseVersionId:
          type:
          - string
          - 'null'
        documentVersionId:
          type:
          - string
          - 'null'
        primordialVersionID:
          type:
          - string
          - 'null'
        primordialVersionName:
          type:
          - string
          - 'null'
        previousVersionID:
          type:
          - string
          - 'null'
        previousVersionName:
          type:
          - string
          - 'null'
        alternateClauseId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
        richText:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        ideEntityId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTC:
      type: object
      properties:
        aptPromoteClauseICTCDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ProtectionType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - -1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.SameTagFieldInfo:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        textToUpdate:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptTempICTCMetadataDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        itemXmlNodeValue:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ParallelReview:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        versionAware:
          type: boolean
        templateType:
          type:
          - string
          - 'null'
        latestVersion:
          type:
          - string
          - 'null'
        emailSubject:
          type:
          - string
          - 'null'
        emailBody:
          type:
          - string
          - 'null'
        isDocumentUnderReview:
          type: boolean
        reviewers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Reviewer'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.PDFCompliance:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AptMarkDeletionICTCDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        markDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Enum.VersionTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      type: integer
      format: int32
    Apttus.XAuthor.Common.DTO.Contracts.DocumentCheckInResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
        attachmentId:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
        metadataV2FileId:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptDeletedCC:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        encodedMetadata:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptTempICTCMetadata:
      type: object
      properties:
        aptTempICTCMetadataDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptTempICTCMetadataDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
