openapi: 3.2.0
info:
  title: Schema Manager Complex Field Definition API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Complex Field Definition
paths:
  /api/schema/v1/objects/{objectName}/complex-field/{complexFieldMetadataName}:
    post:
      tags:
      - Complex Field Definition
      summary: Create a new complex field
      description: Validates and creates a complex field for the given complex field metadata.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the complex field metadata
        required: true
        schema:
          type: string
      - name: complexFieldMetadataName
        in: path
        description: Name of the complex field metadata into which the complex field is to be entered.
        required: true
        schema:
          type: string
      requestBody:
        description: Complex field details to be created in the given complex field metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMetadataAPIResponse'
              example:
                Success: true
                Data:
                  FieldName: ComplexField
                  DisplayName: ComplexField01
                  Description: null
                  DataType: Complex
                  DefaultValue: null
                  IsProtected: false
                  IsIndexField: false
                  IsSortable: false
                  IsRequired: false
                  IsUnique: false
                  IsDeprecated: false
                  IsCalculated: false
                  IsInternalField: false
                  IsAliasField: false
                  Length: null
                  LookupObjectName: null
                  LookupFilterCriteria: null
                  DependentPicklistMetadataName: null
                  PicklistName: null
                  ComplexMetadataName: ComplexFieldMetadata
                  AutoNumberInitialSeed: 0
                  AutoNumberPrefix: null
                  Precision: 0
                  Scale: 0
                  Expression: null
                  ExpressionDependency: null
                  AliasExpressionDependency: null
                  IsPreComputed: null
                  ReferenceObject: null
                  TargetObject: null
                  TargetField: null
                  RollupFunction: null
                  RollupFilterCriteria: null
                  AliasFieldDefinition: null
                  AliasFieldMetadataName: null
                  IsRichTextField: false
                  IsPropertyLookup: false
                  IdentifierType: null
                StatusCode: OK
        '400':
          description: Object name cannot be empty.
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
      - Complex Field Definition
      summary: Update an object's complex field definition
      description: Validates and updates the complex field definition for the given complex field metadata and object.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the complex field definition
        required: true
        schema:
          type: string
      - name: complexFieldMetadataName
        in: path
        description: Name of the complex field metadata in which the complex field definition is to be validated and updated.
        required: true
        schema:
          type: string
      requestBody:
        description: Complex field definition update details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMetadataAPIResponse'
              example:
                Success: true
                Data:
                  FieldName: ComplexField
                  DisplayName: ComplexField01
                  Description: null
                  DataType: Complex
                  DefaultValue: null
                  IsProtected: false
                  IsIndexField: false
                  IsSortable: false
                  IsRequired: false
                  IsUnique: false
                  IsDeprecated: false
                  IsCalculated: false
                  IsInternalField: false
                  IsAliasField: false
                  Length: null
                  LookupObjectName: null
                  LookupFilterCriteria: null
                  DependentPicklistMetadataName: null
                  PicklistName: null
                  ComplexMetadataName: ComplexFieldMetadata
                  AutoNumberInitialSeed: 0
                  AutoNumberPrefix: null
                  Precision: 0
                  Scale: 0
                  Expression: null
                  ExpressionDependency: null
                  AliasExpressionDependency: null
                  IsPreComputed: null
                  ReferenceObject: null
                  TargetObject: null
                  TargetField: null
                  RollupFunction: null
                  RollupFilterCriteria: null
                  AliasFieldDefinition: null
                  AliasFieldMetadataName: null
                  IsRichTextField: false
                  IsPropertyLookup: false
                  IdentifierType: null
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/complex-fields:
    post:
      tags:
      - Complex Field Definition
      summary: Create new complex field metadata
      description: Validates and creates metadata for complex fields.
      parameters:
      - name: objectName
        in: path
        description: Name of the object for which complex fields are to be created
        required: true
        schema:
          type: string
      requestBody:
        description: Complex field metadata details to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplexFieldMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: DocumentVersionObject
                  Fields:
                  - FieldName: ObjectId
                    DisplayName: ObjectId
                    Description: null
                    DataType: Lookup
                    DefaultValue: null
                    IsProtected: true
                    IsIndexField: false
                    IsSortable: false
                    IsRequired: false
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: 2000
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                StatusCode: Created
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/complex-fields/{complexFieldMetadataName}:
    post:
      tags:
      - Complex Field Definition
      summary: Create complex fields
      description: Validates and creates multiple complex fields for the given complex field metadata.
      parameters:
      - name: objectName
        in: path
        description: Name of the object containing the complex field metadata
        required: true
        schema:
          type: string
      - name: complexFieldMetadataName
        in: path
        description: Name of the complex field metadata into which the complex fields are to be entered.
        required: true
        schema:
          type: string
      requestBody:
        description: Complex fields details to be created in the given complex field metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMetadataListAPIResponse'
              example:
                Success: true
                Data:
                  FieldName: ComplexField
                  DisplayName: ComplexField01
                  Description: null
                  DataType: Complex
                  DefaultValue: null
                  IsProtected: false
                  IsIndexField: false
                  IsSortable: false
                  IsRequired: false
                  IsUnique: false
                  IsDeprecated: false
                  IsCalculated: false
                  IsInternalField: false
                  IsAliasField: false
                  Length: null
                  LookupObjectName: null
                  LookupFilterCriteria: null
                  DependentPicklistMetadataName: null
                  PicklistName: null
                  ComplexMetadataName: ComplexFieldMetadata
                  AutoNumberInitialSeed: 0
                  AutoNumberPrefix: null
                  Precision: 0
                  Scale: 0
                  Expression: null
                  ExpressionDependency: null
                  AliasExpressionDependency: null
                  IsPreComputed: null
                  ReferenceObject: null
                  TargetObject: null
                  TargetField: null
                  RollupFunction: null
                  RollupFilterCriteria: null
                  AliasFieldDefinition: null
                  AliasFieldMetadataName: null
                  IsRichTextField: false
                  IsPropertyLookup: false
                  IdentifierType: null
                StatusCode: OK
        '400':
          description: Object name cannot be empty.
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    FieldMetadataAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/FieldMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ComplexFieldMetadataEntryCreateModel:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Name of the complex field
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the complex field
        Description:
          type:
          - string
          - 'null'
          description: Description of the complex field
        DataType:
          $ref: '#/components/schemas/DataType'
        IsIndexField:
          type: boolean
          description: Indicates if the complex field is indexed.
        Precision:
          type: integer
          description: Precision of the complex field when the data type is Currency, Decimal, or Double.
          format: int32
        Scale:
          type: integer
          description: Scale of the complex field when the data type is Currency, Decimal, or Double.
          format: int32
        Length:
          type:
          - integer
          - 'null'
          description: Length of the complex field when the data type is String or LongString.
          format: int32
      additionalProperties: false
    ComplexFieldMetadataEntryUpdateModel:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Name of the complex field
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the complex field
        Description:
          type:
          - string
          - 'null'
          description: Description of the complex field
        IsIndexField:
          type: boolean
          description: Indicates if the complex field is indexed.
        Length:
          type:
          - integer
          - 'null'
          description: Length of the complex field when the data type is String or LongString.
          format: int32
      additionalProperties: false
    ComplexFieldMetadataEntryFieldsCreateRequest:
      type: object
      properties:
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateModel'
          description: Collection of the Complex Fields
      additionalProperties: false
    FieldMetadata:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DataType:
          $ref: '#/components/schemas/DataType'
        DefaultValue:
          type:
          - string
          - 'null'
        IsProtected:
          type: boolean
        IsIndexField:
          type: boolean
        IsSortable:
          type: boolean
        IsRequired:
          type: boolean
        IsUnique:
          type: boolean
        IsDeprecated:
          type: boolean
        IsCalculated:
          type: boolean
        IsInternalField:
          type: boolean
        IsAliasField:
          type: boolean
        ReadAccess:
          type:
          - boolean
          - 'null'
        WriteAccess:
          type:
          - boolean
          - 'null'
        Length:
          type:
          - integer
          - 'null'
          format: int32
        LookupObjectName:
          type:
          - string
          - 'null'
        LookupFilterCriteria:
          type:
          - string
          - 'null'
        DependentPicklistMetadataName:
          type:
          - string
          - 'null'
        PicklistName:
          type:
          - string
          - 'null'
        ComplexMetadataName:
          type:
          - string
          - 'null'
        AutoNumberInitialSeed:
          type: integer
          format: int32
        AutoNumberPrefix:
          type:
          - string
          - 'null'
        Precision:
          type: integer
          format: int32
        Scale:
          type: integer
          format: int32
        Expression:
          type:
          - string
          - 'null'
        ExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        AliasExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        IsPreComputed:
          type:
          - boolean
          - 'null'
        ReferenceObject:
          type:
          - string
          - 'null'
        TargetObject:
          type:
          - string
          - 'null'
        TargetField:
          type:
          - string
          - 'null'
        RollupFunction:
          type:
          - string
          - 'null'
        RollupFilterCriteria:
          type:
          - string
          - 'null'
        AliasFieldDefinition:
          type:
          - string
          - 'null'
        AliasFieldMetadataName:
          type:
          - string
          - 'null'
        IsRichTextField:
          type: boolean
        IsPropertyLookup:
          type:
          - boolean
          - 'null'
        IdentifierType:
          $ref: '#/components/schemas/IdentifierType'
      additionalProperties: false
    DataType:
      enum:
      - String
      - Int
      - Double
      - Currency
      - Boolean
      - DateTime
      - AutoNumber
      - Lookup
      - Picklist
      - MultiPicklist
      - Identifier
      - LongString
      - Complex
      - ComplexArray
      - Reference
      - Rollup
      - Decimal
      - Image
      - Alias
      - Date
      - Owner
      type: string
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
    IdentifierType:
      enum:
      - UUIDv4
      - UID18
      type: string
    FieldMetadataListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ComplexFieldMetadataCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the complex field metadata
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateModel'
          description: Collection of complex fields
      additionalProperties: false
    ComplexFieldMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ComplexFieldMetadataEntryCreateRequest:
      type: object
      properties:
        Field:
          $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateModel'
      additionalProperties: false
    ComplexFieldMetadataAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/ComplexFieldMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ComplexFieldMetadataEntryUpdateRequest:
      type: object
      properties:
        Field:
          $ref: '#/components/schemas/ComplexFieldMetadataEntryUpdateModel'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
