openapi: 3.2.0
info:
  title: X-Author Agreement API
  version: v1
  description: This class contains API endpoints for Agreements
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Agreement
  description: This class contains API endpoints for Agreements
paths:
  /api/xauthor/v1/contracts:
    post:
      tags:
      - Agreement
      summary: Create an agreement
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The basic agreement object information
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/advance-query:
    post:
      tags:
      - Agreement
      summary: Filter agreements with advanced search criteria
      description: 'Gets one or more agreements based on the advanced search filters provided in the request body.

        Supports complex filter expressions, field selection, sorting, pagination via offset and limit.'
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The advanced search request containing filter expressions, field selectors, sort options, offset, and limit
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AdvancedSearchRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/query:
    post:
      tags:
      - Agreement
      summary: Get agreements
      description: Gets one or more agreements based on the parameters provided in the request body.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request query body value
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/query/me:
    post:
      tags:
      - Agreement
      summary: Get agreements owned by current logged in user
      description: Gets one or more agreements based on the parameters provided in the request body.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request query body value having filter criteria, page size and offset
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/recently-viewed:
    post:
      tags:
      - Agreement
      summary: List recently viewed agreements
      description: Gets one or more recently viewed agreements.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request query body value
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.RequestQueryParam'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}:
    get:
      tags:
      - Agreement
      summary: Get agreement details by contract
      parameters:
      - name: contractId
        in: path
        description: The contract identifier
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The contract identifier
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Agreement'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/record-type:
    get:
      tags:
      - Agreement
      summary: Get agreement record type
      parameters:
      - name: contractId
        in: path
        description: The contract identifier
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The contract identifier
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RecordType'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RecordType'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RecordType'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Enum.Operator:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.RequestQueryParam:
      type: object
      properties:
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        key:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.SearchKey'
        searchVal:
          type:
          - string
          - 'null'
        documentFormat:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.DocumentFormat'
        isOwnedByMe:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.LogicalOperator:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.RecordType:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.Orderby:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        sortOrder:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.SortOrder'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.DocumentFormat:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Common.Enum.SortOrder:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.AdvancedSearchRequest:
      type: object
      properties:
        filters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.Filter'
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        orderBy:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.Orderby'
        groupBy:
          type:
          - array
          - 'null'
          items:
            type: string
        documentFormat:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.DocumentFormat'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Agreement:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        number:
          type:
          - string
          - 'null'
        accountName:
          type:
          - string
          - 'null'
        owner:
          type:
          - string
          - 'null'
        statusCategory:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
        recordType:
          type:
          - string
          - 'null'
        modifiedOn:
          type:
          - string
          - 'null'
        modifiedById:
          type:
          - string
          - 'null'
        modifiedByName:
          type:
          - string
          - 'null'
        contactId:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
        statusKey:
          type:
          - string
          - 'null'
        versionAware:
          type:
          - string
          - 'null'
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
        source:
          type:
          - string
          - 'null'
        legalEntity:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.SearchKey:
      enum:
      - 0
      - 1
      - 3
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.Filter:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        value: {}
        operator:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.Operator'
        connectNextFilterBy:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.LogicalOperator'
        conditionalExpression:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
