openapi: 3.2.0
info:
  title: Billing Management Initiate Billing API
  version: 1.0.0
  description: Controller to handle Billing Schedule related operations
servers:
- url: https://rls.congacloud.com/api/billing/v1
security:
- Bearer: []
tags:
- name: Initiate Billing
  description: Controller to handle Billing Schedule related operations
paths:
  /schedules/adjustments/apply-adjustment:
    post:
      tags:
      - Initiate Billing
      summary: Apply adjustments to the billing schedule
      description: Applies adjustment to billing schedule.
      requestBody:
        description: Billing Schedule Record Id with Adjustment Details
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BillingScheduleAdjustmentRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BillingScheduleAdjustmentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BillingScheduleAdjustmentRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleAdjustmentResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/adjustments/update-approval-stage:
    put:
      tags:
      - Initiate Billing
      summary: Update the approval stage of a billing schedule detail
      description: The API updates the approval stage of billing schedule detail when provided with BillingScheduleDetailId and approval stage.
      requestBody:
        description: BillingScheduleDetailId and the new approval stage
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdjustmentBSDRequest'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdjustmentBSDRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdjustmentBSDRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/amend:
    post:
      tags:
      - Initiate Billing
      summary: Amend Schedules
      description: Amend billing for one-time and recurring products. It creates/updates billing records when you pass orderLineItemIds and ReadyForBillingDate as parameters.
      requestBody:
        description: Amend Billing request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/delete-adjustments:
    delete:
      tags:
      - Initiate Billing
      summary: Delete adjustment billing schedule details
      description: The API deletes Adjustment billing schedule details based on the provided BillingScheduleDetailIds.
      requestBody:
        description: List of Billing Schedule Detail IDs to be deleted.
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdjustmentBSDResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/evergreen/renew:
    post:
      tags:
      - Initiate Billing
      summary: Evergreen Renew
      description: Renew Evergreen Billing Header by passing Billing Header ID.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenewEvergreenBillingRequests'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenewEvergreenBillingRequests'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenewEvergreenBillingRequests'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/evergreen/{scheduleId}/renew:
    post:
      tags:
      - Initiate Billing
      summary: Evergreen Renew
      description: Renew Evergreen Billing Header by passing Billing Header Id
      parameters:
      - name: scheduleId
        in: path
        description: Schedule Id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RenewEvergreenBillingResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/initiate:
    post:
      tags:
      - Initiate Billing
      summary: Create billing records based on Order Line Item (OLI) status
      description: "Initiates billing for different types of products based on the status of the Order Line Items (OLIs). \nThe API processes multiple OLIs with different statuses (New, Amend, Renew, Terminate, etc.) and groups them \naccordingly. It then triggers the appropriate billing actions for each group based on the status of each OLI.\nThe grouping and billing actions are automatically handled based on the status, making it easier for the user to \ninitiate billing for various types of changes in the order.\n  * **New Products:** Billing will be initiated as a new sale.\n  * **Amendments:** Billing will be triggered based on the amended order line item details.\n  * **Renewals:** Billing will be initiated for recurring products based on renewal details.\n  * **Terminations:** Billing will be handled based on the termination of the product.\n  * **Swap Products:** Billing will be initiated based on the swapped product details."
      parameters:
      - name: isAsync
        in: query
        description: Flag to indicate if the operation should be asynchronous
        schema:
          type: boolean
      requestBody:
        description: Initiate Billing request, including multiple OLIs with varying statuses
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
  /schedules/new:
    post:
      tags:
      - Initiate Billing
      summary: Create billing schedules for new sale order line items.
      description: "Creates billing schedule records for the specified order line items using the provided `ReadyForBillingDate`.\nThe type and number of billing records created depends on each order line item's price type and billing frequency:\n            \n  * **One-Time Products** – If both the price type and billing frequency are set to One-Time, a single billing schedule record is created.\n  * **Recurring Products** – If the price type is Recurring and the billing frequency is Monthly, Quarterly, or Yearly, a cascade of billing schedule records is created based on the selling term.\n            \n**Processing behavior:**\n  * Duplicate order line item IDs in the request are automatically de-duplicated.\n  * If any order line item IDs are not found, those entries are returned with an error in the response while valid ones are still processed.\n  * Order line items that already have an existing billing header are excluded from processing.\n            \nIf the request contains a mix of valid and invalid inputs, valid ones are processed and invalid ones are returned with error details (HTTP 207)."
      requestBody:
        description: The billing request containing a list of `OrderLineItemIds` and a `ReadyForBillingDate` to initiate new sale billing.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
      responses:
        '201':
          description: All billing schedules were created successfully.
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Partial success – some order line items were processed, others failed validation.
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Invalid request – request is null, order line item IDs are missing, or `ReadyForBillingDate` is not provided.
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '500':
          description: An unexpected server error occurred during processing.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/renew:
    post:
      tags:
      - Initiate Billing
      summary: Renew Schedules
      description: The API will Renew Schedules for a Given Order Line item IDs.
      requestBody:
        description: Order Line Item Ids
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/swap:
    post:
      tags:
      - Initiate Billing
      summary: Swap Schedules
      description: The API will swap sold and earlier billed product when you pass OrderLineItemIds and ReadyForBillingDate as parameters.
      requestBody:
        description: Swap Billing request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BillingRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/terminate:
    post:
      tags:
      - Initiate Billing
      summary: Terminate Schedules
      description: The API will Terminate Schedules for a Given Order Line item IDs.
      requestBody:
        description: Order Line Item Ids
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/json:
            schema:
              type: array
              items:
                type: string
          application/*+json:
            schema:
              type: array
              items:
                type: string
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '207':
          description: Multi-Status
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        '500':
          description: Internal Server Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorApiResponse'
  /schedules/{billingHeaderId}:
    get:
      tags:
      - Initiate Billing
      summary: Get Billing Schedules by billing header id
      description: Fetches the billing header, billing schedule records, and billing schedule details when you pass the billing header ID as a parameter.
      parameters:
      - name: billingHeaderId
        in: path
        description: billing header id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BillingScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiError'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiError'
  /schedules/{orderId}/initiate:
    post:
      tags:
      - Initiate Billing
      summary: Initiate billing for all order line items under a given order.
      description: "Retrieves all order line items associated with the specified order ID and initiates billing for each one\nusing the provided `ReadyForBillingDate`. The billing records created depend on the price type and\nbilling frequency of each order line item:\n            \n  * **One-Time Products** – If both the price type and billing frequency are set to One-Time, a single billing schedule record is created.\n  * **Recurring Products** – If the price type is Recurring and the billing frequency is Monthly, Quarterly, or Yearly, a cascade of billing schedule records is created based on the selling term.\n            \nIf the number of order line items exceeds the configured threshold, the operation automatically switches to asynchronous processing regardless of the `isAsync` flag.\n            \nUpon completion, the `ReadyForBillingDate` on the order is updated based on the overall success or failure of the billing initiation."
      parameters:
      - name: orderId
        in: path
        description: The unique identifier of the order whose line items should be billed.
        required: true
        schema:
          type: string
      - name: isAsync
        in: query
        description: "When `true`, billing is processed asynchronously and a `JobId` is returned in the response.\n             May be overridden to `true` automatically if the order line item count exceeds the configured threshold."
        schema:
          type: boolean
      requestBody:
        description: The request body containing the `ReadyForBillingDate` to use for billing initiation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadyForBillingRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ReadyForBillingRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ReadyForBillingRequest'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderScheduleResponse'
components:
  schemas:
    ApiError:
      type: object
      properties:
        Source:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Detail: {}
        Help:
          type:
          - string
          - 'null'
      additionalProperties: false
    ReadyForBillingRequest:
      type: object
      properties:
        ReadyForBillingDate:
          type: string
          description: Indicate the date when an activated order or order line items are ready to initiate or amend billing.
          format: date-time
      additionalProperties: false
      description: Represents a request to initiate billing for an activated order or order line items.
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    BillingScheduleRecordDto:
      type: object
      properties:
        BillingScheduleRecord:
          $ref: '#/components/schemas/BillingScheduleRecord'
        BillingScheduleDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingScheduleDetails'
          description: Associated Billing Schedule Details
      additionalProperties: false
    BillingScheduleAdjustmentRequest:
      type: object
      properties:
        BillingScheduleRecordId:
          type:
          - string
          - 'null'
          description: Billing schedule record Id
        AdjustmentDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AdjustmentDetails'
          description: Associated adjustment details
      additionalProperties: false
    BillingHeader:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Contracted:
          type: boolean
        Status:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        CurrentOrderLineItem:
          $ref: '#/components/schemas/LookupObject'
        CurrentOrderNumber:
          $ref: '#/components/schemas/LookupObject'
        ParentOrderLineItem:
          $ref: '#/components/schemas/LookupObject'
        ProductName:
          type:
          - string
          - 'null'
        PriceType:
          type:
          - string
          - 'null'
        PricingSource:
          type:
          - string
          - 'null'
        BillTo:
          $ref: '#/components/schemas/LookupObject'
        BillingStartDate:
          type: string
          format: date-time
        BillingEndDate:
          type: string
          format: date-time
        BillingFrequency:
          type:
          - string
          - 'null'
        SellingFrequency:
          type:
          - string
          - 'null'
        BillingRule:
          type:
          - string
          - 'null'
        BillingPreference:
          $ref: '#/components/schemas/LookupObject'
        Quantity:
          type: number
          format: double
        SellingTerm:
          type: number
          format: double
        Currency:
          type:
          - string
          - 'null'
        NetUnitPrice:
          $ref: '#/components/schemas/CurrencyField'
        BillableAmountfromtheCurrentOrderLine:
          $ref: '#/components/schemas/CurrencyField'
        PendingInvoiceAmount:
          $ref: '#/components/schemas/CurrencyField'
        ProrationComputationMethod:
          type:
          - string
          - 'null'
        TotalAdjustedAmount:
          $ref: '#/components/schemas/CurrencyField'
        Product:
          $ref: '#/components/schemas/LookupObject'
        AssetLineItem:
          $ref: '#/components/schemas/LookupObject'
        TotalInvoicedAmount:
          $ref: '#/components/schemas/CurrencyField'
        OriginalStartDate:
          type: string
          format: date-time
        TotalBillIncludingAdjustments:
          $ref: '#/components/schemas/CurrencyField'
        TCV:
          $ref: '#/components/schemas/CurrencyField'
        CustomPlan:
          $ref: '#/components/schemas/LookupObject'
        BHNumber:
          type:
          - string
          - 'null'
        BillToLocation:
          $ref: '#/components/schemas/LookupObject'
        ShipTo:
          $ref: '#/components/schemas/LookupObject'
        ShipToLocation:
          $ref: '#/components/schemas/LookupObject'
        SoldTo:
          $ref: '#/components/schemas/LookupObject'
        TCVUsage:
          $ref: '#/components/schemas/CurrencyField'
      additionalProperties: {}
    BillingScheduleDetails:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        BillingScheduleRecord:
          $ref: '#/components/schemas/LookupObject'
        RecordType:
          type:
          - string
          - 'null'
        PeriodStartDate:
          type: string
          format: date-time
        PeriodEndDate:
          type: string
          format: date-time
        Category:
          type:
          - string
          - 'null'
        ActualFeeAmount:
          $ref: '#/components/schemas/CurrencyField'
        Description:
          type:
          - string
          - 'null'
        ApprovalStage:
          type:
          - string
          - 'null'
        DerivedInvoiceStatus:
          type:
          - string
          - 'null'
        PlanLineItem:
          $ref: '#/components/schemas/LookupObject'
        MilestoneExpectedDate:
          type:
          - string
          - 'null'
          format: date-time
        Percent:
          type: number
          format: double
        MilestoneCompletionDate:
          type:
          - string
          - 'null'
          format: date-time
        MilestoneCompletedBy:
          $ref: '#/components/schemas/LookupObject'
        MilestoneStatus:
          type:
          - string
          - 'null'
        BSDNumber:
          type:
          - string
          - 'null'
      additionalProperties: {}
    BillingScheduleAdjustmentResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
        BillingScheduleRecordId:
          type:
          - string
          - 'null'
          description: Billing schedule record Id
        BillingScheduleDetailIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Billing schedule detail Ids
      additionalProperties: false
    OrderScheduleResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
        OrderId:
          type:
          - string
          - 'null'
          description: Order Id mentioned to initiate billing
        JobId:
          type:
          - string
          - 'null'
          description: Job Id associated with the order schedule
      additionalProperties: false
      description: Represents the response for an order schedule request.
    BillingRequest:
      type: object
      properties:
        OrderLineItemIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of Activated OrderLineItemIds to Initiate/Amend Billing
        ReadyForBillingDate:
          type: string
          description: Indicate the Date when an Activated OrderLineItem(s) is ready to Initiate/Amend Billing
          format: date-time
      additionalProperties: false
    BillingScheduleRecord:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        BillingHeader:
          $ref: '#/components/schemas/LookupObject'
        PeriodStartDate:
          type: string
          format: date-time
        PeriodEndDate:
          type: string
          format: date-time
        Currency:
          type:
          - string
          - 'null'
        ActualFeeAmount:
          $ref: '#/components/schemas/CurrencyField'
        InvoiceStatus:
          type:
          - string
          - 'null'
        PaymentTerm:
          $ref: '#/components/schemas/LookupObject'
        ReadyForInvoiceDate:
          type: string
          format: date-time
        BillingDayOfMonth:
          type: integer
          format: int32
        BSRNumber:
          type:
          - string
          - 'null'
        TotalUsageQuantity:
          type: number
          format: double
      additionalProperties: {}
    AdjustmentBSDResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
        BillingScheduleDetailId:
          type:
          - string
          - 'null'
          description: Billing Schedule Detail Id
      additionalProperties: false
    ErrorApiResponse:
      type: object
      properties:
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiError'
      additionalProperties: false
    AdjustmentDetails:
      type: object
      properties:
        Description:
          type:
          - string
          - 'null'
          description: Billing schedule record Id
        ActualFeeAmount:
          type: number
          description: Adjusted actual fee amount
          format: double
      additionalProperties: false
    AdjustmentBSDRequest:
      type: object
      properties:
        BillingScheduleDetailId:
          type:
          - string
          - 'null'
          description: Billing Schedule Detail Id
        ApprovalStage:
          type:
          - string
          - 'null'
          description: Indicates the approval stage for the record.
      additionalProperties: false
    ScheduleResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
        OrderLineItemId:
          type:
          - string
          - 'null'
          description: OrderLineItem Id mentioned to initiate billing
        BillingHeaderId:
          type:
          - string
          - 'null'
          description: Billing Header Id generated/Updated on Order Line Item Activation
        JobId:
          type:
          - string
          - 'null'
          description: Job Id generated for asynchronous Order Line Item billing request
      additionalProperties: false
      description: Represents the response for a schedule request.
    BillingScheduleResponse:
      type: object
      properties:
        BillingHeader:
          $ref: '#/components/schemas/BillingHeader'
        BillingScheduleRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingScheduleRecordDto'
          description: Associated Billing Schedule Records
      additionalProperties: false
    RenewEvergreenBillingRequests:
      type: object
      properties:
        BillingHeaderId:
          type:
          - string
          - 'null'
          description: The Id of billing header record to renew.
      additionalProperties: false
    RenewEvergreenBillingResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
        ErrorMessage:
          type:
          - string
          - 'null'
        BillingHeaderId:
          type:
          - string
          - 'null'
          description: The Id of billing header record to renew.
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
