openapi: 3.2.0
info:
  title: Administration Lookup Field Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Lookup Field Settings
paths:
  /lookupfield-settings:
    delete:
      tags:
      - Lookup Field Settings
      summary: Delete lookup field settings
      description: Deletes multiple lookup field settings.
      requestBody:
        description: The list of lookup field settings to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Lookup Field Settings
      summary: Retrieve lookup field settings
      description: Retrieves the collection of lookup field settings.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Lookup Field Settings
      summary: Update lookup field settings
      description: Updates multiple lookup field settings.
      requestBody:
        description: The list of lookup field settings with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: FieldName
              ObjectName: LineItem
              LookupFieldName: Category
              DisplayFields: Display Fields
              FilterCriteria: Criteria
              LookupRecordLimit: 20
              EnableQuickView: false
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Lookup Field Settings
      summary: Create lookup field settings
      description: Creates multiple lookup field settings.
      requestBody:
        description: The list of lookup field settings to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LookupFieldSetting'
      responses:
        '200':
          description: OK
  /lookupfield-settings/{Id}:
    delete:
      tags:
      - Lookup Field Settings
      summary: Delete a lookup field setting
      description: Deletes a single lookup field setting by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the lookup field setting to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Lookup Field Settings
      summary: Retrieve a lookup field setting
      description: Retrieves a single lookup field setting by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the lookup field setting
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LookupFieldSetting'
            application/json:
              schema:
                $ref: '#/components/schemas/LookupFieldSetting'
            text/json:
              schema:
                $ref: '#/components/schemas/LookupFieldSetting'
        '204':
          description: No Content
    patch:
      tags:
      - Lookup Field Settings
      summary: Update a lookup field setting
      description: Updates a single lookup field setting.
      parameters:
      - name: Id
        in: path
        description: The identifier of the lookup field setting to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the lookup field setting
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: FieldName
              ObjectName: LineItem
              LookupFieldName: Category
              DisplayFields: Display Fields
              FilterCriteria: Criteria
              LookupRecordLimit: 20
              EnableQuickView: false
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupFieldSetting:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ObjectName:
          type:
          - string
          - 'null'
        LookupFieldName:
          type:
          - string
          - 'null'
        DisplayFields:
          type:
          - string
          - 'null'
        FilterCriteria:
          type:
          - string
          - 'null'
        LookupRecordLimit:
          type:
          - integer
          - 'null'
          format: int32
        EnableQuickView:
          type:
          - boolean
          - 'null'
        SortFieldName:
          type:
          - string
          - 'null'
        SortDirection:
          type:
          - string
          - 'null'
        SourceObject:
          type:
          - string
          - 'null'
        SourceField:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: FieldName
        ObjectName: LineItem
        LookupFieldName: Category
        DisplayFields: Display Fields
        FilterCriteria: Criteria
        LookupRecordLimit: 20
        EnableQuickView: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
