openapi: 3.2.0
info:
  title: X-Author Agreement Clause API
  version: v1
  description: This class holds APIs related to agreement clauses
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementClause
  description: This class holds APIs related to agreement clauses
paths:
  /api/xauthor/v1/contracts/{contractId}/clauses/final:
    post:
      tags:
      - AgreementClause
      summary: Create agreement clauses as final
      description: Creates one or more records of agreement clauses as final based on the agreementId provided in the parameters.
      parameters:
      - name: contractId
        in: path
        description: ''
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/clauses/original:
    post:
      tags:
      - AgreementClause
      summary: Create agreement clauses
      description: Creates one or more records of agreement clauses based on the agreementId provided in the parameters.
      parameters:
      - name: contractId
        in: path
        description: ''
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ''
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/{documentId}/clauses/final:
    post:
      tags:
      - AgreementClause
      summary: Finalize a document's clause entries
      parameters:
      - name: contractId
        in: path
        description: contract's Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: contract's Id
      - name: documentId
        in: path
        description: Document id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Document id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/{documentVersionId}/clauses/revertible:
    get:
      tags:
      - AgreementClause
      summary: Retrieves the list of agreement clause entries which are revertible.
      description: Returns all agreement clauses that have latest action as modified and are revertible.
      parameters:
      - name: contractId
        in: path
        description: The unique identifier of the contract or agreement.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the contract or agreement.
      - name: documentVersionId
        in: path
        description: The unique identifier of the document version.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the document version.
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.ModifiedAgreementClauseResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.ModifiedAgreementClauseResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.ModifiedAgreementClauseResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/{documentVersionId}/files/{fileId}/clauses/original:
    post:
      tags:
      - AgreementClause
      summary: Create agreement clauses
      description: Creates one or more records of agreement clauses based on the agreementId provided in the parameters.
      parameters:
      - name: contractId
        in: path
        description: Id of the contract or agreement
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of the contract or agreement
      - name: documentVersionId
        in: path
        description: Id of a particular version of the Document to process
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of a particular version of the Document to process
      - name: fileId
        in: path
        description: Id of the file attached to the particular version.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of the file attached to the particular version.
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/{documentVersionId}/metadata/{metadataFileId}/clauses/original:
    post:
      tags:
      - AgreementClause
      summary: Create original entries for the agreement clauses
      parameters:
      - name: contractId
        in: path
        description: Id of the contract
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of the contract
      - name: documentVersionId
        in: path
        description: Id of the document version id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of the document version id
      - name: metadataFileId
        in: path
        description: Id of the metadata file
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Id of the metadata file
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request that contains a list of clause entry requests
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.ModifiedAgreementClauseResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        agreementId:
          type:
          - string
          - 'null'
        documentVersionId:
          type:
          - string
          - 'null'
        action:
          type:
          - string
          - 'null'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        templateId:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        clauseFormat:
          type:
          - string
          - 'null'
        clauseBehavior:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Request.ClauseEntryRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        plainText:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        subCategory:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        exception:
          type:
          - string
          - 'null'
        materiallySignificant:
          type: boolean
        riskRating:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        clauseId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Request.AgreementClauseEntryRequest:
      type: object
      properties:
        clauseEntryRequest:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Request.ClauseEntryRequest'
        documentVersionId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
