openapi: 3.2.0
info:
  title: Catalog Locations API
  version: 1.0.0
  description: Catalog APIs for Locations
servers:
- url: https://rls.congacloud.com/api/catalog/v1
security:
- Bearer: []
tags:
- name: Locations
  description: Catalog APIs for Locations
paths:
  /locations:
    get:
      tags:
      - Locations
      summary: Get account locations
      parameters:
      - name: priceListId
        in: header
        description: A unique identifier of the price list.
        schema:
          type: string
      - name: cartId
        in: header
        description: The unique identifier for a cart.
        schema:
          type: string
      - name: page
        in: query
        description: Enter the search result page number to view the result from.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Contains the number of records to display on each page. By default, the API displays 50 records per page. A maximum of 500 records can be displayed on each page.
        schema:
          type: integer
          format: int32
          default: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AccountLocation'
components:
  schemas:
    Conga.Revenue.Entities.Platform.AccountLocation:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        account:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        billingPreference:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        creditMemoEmailTemplate:
          type:
          - string
          - 'null'
        defaultCreditMemoTemplate:
          type:
          - string
          - 'null'
        defaultInvoiceStatementTemplate:
          type:
          - string
          - 'null'
        defaultInvoiceTemplate:
          type:
          - string
          - 'null'
        invoiceEmailTemplate:
          type:
          - string
          - 'null'
        invoiceSeparately:
          type:
          - boolean
          - 'null'
        isDefault:
          type:
          - boolean
          - 'null'
        location:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        paymentTerm:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        taxExempt:
          type:
          - boolean
          - 'null'
        taxExemptStatus:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
