openapi: 3.2.0
info:
  title: Administration Deal Guidance Rules API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Deal Guidance Rules
paths:
  /deal-guidance-rules:
    delete:
      tags:
      - Deal Guidance Rules
      summary: Delete deal guidance rules
      description: Deletes one or more deal guidance rules based on the Ids provided in the request body.
      requestBody:
        description: The list of deal guidance rules to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Rules
      summary: Retrieve deal guidance rules
      description: Retrieves the list of rules for a deal.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Guidance Rules
      summary: Update deal guidance rules
      description: Updates one or more deal guidance rules based on the details provided in the request body.
      requestBody:
        description: The list of deal guidance rules with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: DealGuidanceRuleName
              AccountScope:
              - All
              IsActive: false
              BusinessObject: BusinessObj
              Criteria: null
              CriteriaFieldNames: null
              CurrencyScope:
              - USD
              CustomMeasureBandDirection: null
              CustomMeasureSource: null
              Description: DealGuidanceRule description
              DimensionSet:
                Id: DimensionSetId
                Name: DimensionSetName
              GuidanceType: GuidanceType
              InitialRows: null
              MatchRule: Match All
              Measure: Unit Price
              ProductFamily: null
              ProductGroupScope:
              - All
              Product: null
              ProductScope:
              - All
              Sequence: 1
              ServiceLocationScope:
              - All
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Deal Guidance Rules
      summary: Create deal guidance rules
      description: Creates one or more deal guidance rules based on details provided in the request body.
      requestBody:
        description: The list of deal guidance rules to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRule'
      responses:
        '200':
          description: OK
  /deal-guidance-rules/{Id}:
    delete:
      tags:
      - Deal Guidance Rules
      summary: Delete a deal guidance rule
      description: Deletes a single deal guidance rule record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the deal guidance rule to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Rules
      summary: Retrieve a deal guidance rule
      description: Retrieves a single deal guidance rule record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the deal guidance rule
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Deal Guidance Rules
      summary: Update a deal guidance rule
      description: Updates a single deal guidance rule record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the deal guidance rule to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the deal guidance rule
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: DealGuidanceRuleName
              AccountScope:
              - All
              IsActive: false
              BusinessObject: BusinessObj
              Criteria: null
              CriteriaFieldNames: null
              CurrencyScope:
              - USD
              CustomMeasureBandDirection: null
              CustomMeasureSource: null
              Description: DealGuidanceRule description
              DimensionSet:
                Id: DimensionSetId
                Name: DimensionSetName
              GuidanceType: GuidanceType
              InitialRows: null
              MatchRule: Match All
              Measure: Unit Price
              ProductFamily: null
              ProductGroupScope:
              - All
              Product: null
              ProductScope:
              - All
              Sequence: 1
              ServiceLocationScope:
              - All
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    DealGuidanceRule:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AccountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        BusinessObject:
          type:
          - string
          - 'null'
        Criteria:
          type:
          - string
          - 'null'
        CriteriaFieldNames:
          type:
          - string
          - 'null'
        CurrencyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        CustomMeasureBandDirection:
          type:
          - string
          - 'null'
        CustomMeasureSource:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DimensionSet:
          $ref: '#/components/schemas/LookupObject'
        GuidanceType:
          type:
          - string
          - 'null'
        InitialRows:
          type:
          - number
          - 'null'
          format: double
        IsActive:
          type:
          - boolean
          - 'null'
        MatchRule:
          type:
          - string
          - 'null'
        Measure:
          type:
          - string
          - 'null'
        ProductFamily:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        Sequence:
          type:
          - number
          - 'null'
          format: double
        ServiceLocationScope:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: {}
      example:
        Name: DealGuidanceRuleName
        AccountScope:
        - All
        IsActive: false
        BusinessObject: BusinessObj
        Criteria: null
        CriteriaFieldNames: null
        CurrencyScope:
        - USD
        CustomMeasureBandDirection: null
        CustomMeasureSource: null
        Description: DealGuidanceRule description
        DimensionSet:
          Id: DimensionSetId
          Name: DimensionSetName
        GuidanceType: GuidanceType
        InitialRows: null
        MatchRule: Match All
        Measure: Unit Price
        ProductFamily: null
        ProductGroupScope:
        - All
        Product: null
        ProductScope:
        - All
        Sequence: 1
        ServiceLocationScope:
        - All
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
