openapi: 3.2.0
info:
  title: X-Author Package Migration API
  version: v1
  description: This class contains API endpoints for package migration.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: PackageMigration
  description: This class contains API endpoints for package migration.
paths:
  /api/xauthor/v1/template-migration/export:
    post:
      tags:
      - PackageMigration
      summary: Export package
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Package migration request containing package details with related migration configuration
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/template-migration/import:
    post:
      tags:
      - PackageMigration
      summary: Import package
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Package migration request containing package details with related migration configuration
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.OkResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Microsoft.AspNetCore.Mvc.OkResult:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    Conga.XAuthor.Common.Model.MigrationManager.PackageMigrationRequest:
      type: object
      properties:
        packageId:
          type:
          - string
          - 'null'
        migrationConfigurationId:
          type:
          - string
          - 'null'
        packageDetailsId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
