openapi: 3.2.0
info:
  title: X-Author AI Redline API
  version: v1
  description: This class contains API endpoints for documents AI operation
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AIRedline
  description: This class contains API endpoints for documents AI operation
paths:
  /api/xauthor/v1/contracts/{contractId}/AI/redline/check-in:
    post:
      tags:
      - AIRedline
      summary: This method is to process the check-in or publish of the document based on the…
      parameters:
      - name: contractId
        in: path
        description: Agreement Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Agreement Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The info related to publish option , attachment id and the clause changes details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: postApiXauthorV1ContractsByContractIdAIRedlineCheckIn
      x-operation-id-source: derived
  /api/xauthor/v1/contracts/{contractId}/AI/redline/preview:
    post:
      tags:
      - AIRedline
      summary: This method to generate a preview of the updated contentbased on the AI…
      parameters:
      - name: contractId
        in: path
        description: Agreement Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Agreement Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The info related to publish option , attachment id and the clause changes details
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      operationId: postApiXauthorV1ContractsByContractIdAIRedlinePreview
      x-operation-id-source: derived
  /api/xauthor/v1/contracts/{contractId}/AI/redline/risks:
    post:
      tags:
      - AIRedline
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      summary: Create api xauthor contracts by contract id ai redline risks
      x-summary-source: derived
      operationId: postApiXauthorV1ContractsByContractIdAIRedlineRisks
      x-operation-id-source: derived
  /api/xauthor/v1/contracts/{contractId}/AI/redline/risks/{attachmentId}:
    get:
      tags:
      - AIRedline
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: attachmentId
        in: path
        required: true
        schema:
          type:
          - string
          - 'null'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      summary: Get api xauthor contracts by contract id ai redline risks by attachment id
      x-summary-source: derived
      operationId: getApiXauthorV1ContractsByContractIdAIRedlineRisksByAttachmentId
      x-operation-id-source: derived
components:
  schemas:
    Conga.XAuthor.Common.Model.AIRiskRedlineIdentificationRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.ClauseChangesDetails:
      type: object
      properties:
        clauseDocumentId:
          type: integer
          format: int32
        clauseChanges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.TextReplacement'
      additionalProperties: false
    Conga.XAuthor.Common.Model.TextReplacement:
      type: object
      properties:
        searchText:
          type:
          - string
          - 'null'
        replaceText:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.DocumentExtension:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.AI.AIRedlineCheckinRequest:
      type: object
      properties:
        attachmentId:
          type:
          - string
          - 'null'
        publishOptions:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.PublishOptions'
        clauseChangesDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.ClauseChangesDetails'
        documentFormat:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.DocumentExtension'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.PublishOptions:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
