openapi: 3.2.0
info:
  title: Administration Constraint Rule Actions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Constraint Rule Actions
paths:
  /constraint-rule-actions/{id}/field-expressions:
    get:
      tags:
      - Constraint Rule Actions
      summary: Retrieve lookup records for FieldExpression
      description: Retrieves the lookup records for a specific FieldExpression based on the identifier.
      parameters:
      - name: id
        in: path
        description: The ID of the FieldExpression
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
  /constraint-rule-actions/{parentId}/constraint-rule-action-expressions:
    delete:
      tags:
      - Constraint Rule Actions
      summary: Delete ConstraintRuleActionExpressions
      description: Delete ConstraintRuleActionExpressions
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - Constraint Rule Actions
      summary: Retrieve ConstraintRuleActionExpression
      description: 'Retrieves all ConstraintRuleActionExpressions in a ConstraintRuleAction, with their details. Use query parameters to further narrow the results.



        When executed, this API returns all ConstraintRuleActionExpressions in a ConstraintRuleAction.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated multiple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Actions
      summary: Update ConstraintRuleActionExpressions
      description: 'Updates specific fields on one or more ConstraintRuleActionExpressions. It can update any field except the ConstraintRuleActionExpressions ID.



        When executed, this API returns the updated ConstraintRuleActionExpressions or items.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Constraint Rule Actions
      summary: Create ConstraintRuleActionExpressions
      description: 'creates one or more ConstraintRuleActionExpressions in a specific ConstraintRuleAction. It can create a maximum of 1000 ConstraintRuleActionExpressions. It can create multiple ConstraintRuleActionExpressions for the same FieldExpression or multiple FieldExpressions. To create multiple ConstraintRuleActionExpressions, pass one array for each ConstraintRuleActionExpressions record in the API request.


        When executed, this API returns a unique ConstraintRuleActionExpressions ID (string) that CPQ automatically generates.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
      responses:
        '201':
          description: Created
  /constraint-rule-actions/{parentId}/constraint-rule-action-expressions/{id}:
    delete:
      tags:
      - Constraint Rule Actions
      summary: Delete a ConstraintRuleActionExpressions
      description: 'Deletes a specified ConstraintRuleActionExpressions in a ConstraintRuleAction.



        When executed, this API returns the delete status of associated record ID.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - Constraint Rule Actions
      summary: Retrieve a ConstraintRuleActionExpressions
      description: 'Retrieves a ConstraintRuleActionExpressions in a ConstraintRuleAction, with their details. Use query parameters to further narrow the results.



        When executed, this API returns a ConstraintRuleActionExpressions in a ConstraintRuleAction.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Actions
      summary: Update a ConstraintRuleActionExpressions
      description: 'Updates specific fields on specified ConstraintRuleActionExpressions. It can update any field except the ConstraintRuleActionExpressions ID.



        When executed, this API returns the updated ConstraintRuleActionExpressions.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions
        required: true
        schema:
          type: string
      requestBody:
        description: The updated ConstraintRuleActionExpressions
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
        '204':
          description: No Content
  /constraint-rules/{ParentId}/actions:
    delete:
      tags:
      - Constraint Rule Actions
      summary: Delete constraint rule actions
      description: Deletes multiple constraint rule actions.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of constraint rule actions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rule Actions
      summary: Get constraint rule actions
      description: 'Retrieves all constraint rule actions in a constraint rule, with their details. Use query parameters to narrow the results further.



        When executed, this API returns all constraint rule actions in a constraint rule.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Sort condition
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Actions
      summary: Update constraint rule actions
      description: Updates specific fields on one or more constraint rule actions. It can update any field except the constraint rule action ID, and returns the updated constraint rule action or actions.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of records to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: ConstraintRuleActionName
              ActionCriteria: null
              ActionDisposition: Warning
              ActionIntent: Prompt
              ActionType: Exclusion
              IsAutoExclude: false
              IncludeMatchRule: null
              IncludeMaxProducts: null
              IncludeMinProducts: null
              MatchInAsset: true
              MatchInCartOptions: false
              MatchInOptions: false
              MatchInPrimaryLines: true
              Message: null
              ProductFamily: null
              ProductGroup: null
              Product:
                Id: ProductId
                Name: ProductName
              ProductScope: Product
              IsRepeatInclusion: false
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Constraint Rule Actions
      summary: Create constraint rule actions
      description: 'Creates one or more constraint rule actions in a specific constraint rule. It can create a maximum of 100 constraint rule actions.



        When executed, this API returns a unique constraint rule action ID (string) that CPQ generates automatically.'
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      requestBody:
        description: List of constraint rule actions to add
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleAction'
      responses:
        '200':
          description: OK
  /constraint-rules/{ParentId}/actions/{Id}:
    delete:
      tags:
      - Constraint Rule Actions
      summary: Delete a constraint rule action
      description: Deletes a single constraint rule action in a constraint rule.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule action to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Constraint Rule Actions
      summary: Get a constraint rule action
      description: Retrieves a single constraint rule action in a constraint rule, with its details.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule action to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Constraint Rule Actions
      summary: Update a constraint rule action
      description: Updates a single constraint rule action in a constraint rule.
      parameters:
      - name: ParentId
        in: path
        description: Identifier of the parent constraint rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: Identifier of the constraint rule action to update
        required: true
        schema:
          type: string
      requestBody:
        description: Updated state of the constraint rule action
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ConstraintRuleActionName
              ActionCriteria: null
              ActionDisposition: Warning
              ActionIntent: Prompt
              ActionType: Exclusion
              IsAutoExclude: false
              IncludeMatchRule: null
              IncludeMaxProducts: null
              IncludeMinProducts: null
              MatchInAsset: true
              MatchInCartOptions: false
              MatchInOptions: false
              MatchInPrimaryLines: true
              Message: null
              ProductFamily: null
              ProductGroup: null
              Product:
                Id: ProductId
                Name: ProductName
              ProductScope: Product
              IsRepeatInclusion: false
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ConstraintRuleActionExpression:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ConstraintRuleAction:
          $ref: '#/components/schemas/LookupObject'
        FieldExpression:
          $ref: '#/components/schemas/LookupObject'
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
    ConstraintRuleAction:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ActionCriteria:
          type:
          - string
          - 'null'
        ActionDisposition:
          type:
          - string
          - 'null'
        ActionIntent:
          type:
          - string
          - 'null'
        ActionType:
          type:
          - string
          - 'null'
        IsAutoExclude:
          type:
          - boolean
          - 'null'
        ConstraintRule:
          $ref: '#/components/schemas/LookupObject'
        IncludeMatchRule:
          type:
          - string
          - 'null'
        IncludeMaxProducts:
          type:
          - number
          - 'null'
          format: double
        IncludeMinProducts:
          type:
          - number
          - 'null'
          format: double
        MatchInAsset:
          type:
          - boolean
          - 'null'
        MatchInCartOptions:
          type:
          - boolean
          - 'null'
        MatchInOptions:
          type:
          - boolean
          - 'null'
        MatchInPrimaryLines:
          type:
          - boolean
          - 'null'
        Message:
          type:
          - string
          - 'null'
        ProductFamily:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductScope:
          type:
          - string
          - 'null'
        IsRepeatInclusion:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
      example:
        Name: ConstraintRuleActionName
        ActionCriteria: null
        ActionDisposition: Warning
        ActionIntent: Prompt
        ActionType: Exclusion
        IsAutoExclude: false
        IncludeMatchRule: null
        IncludeMaxProducts: null
        IncludeMinProducts: null
        MatchInAsset: true
        MatchInCartOptions: false
        MatchInOptions: false
        MatchInPrimaryLines: true
        Message: null
        ProductFamily: null
        ProductGroup: null
        Product:
          Id: ProductId
          Name: ProductName
        ProductScope: Product
        IsRepeatInclusion: false
        Sequence: 1
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
