openapi: 3.2.0
info:
  title: Cart - V1 Ad Hoc Groups API
  version: v1
  description: The AdHoc Groups Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: AdHocGroups
  description: The AdHoc Groups Controller
paths:
  /api/cart/v1/carts/{cartId}/adhoc-groups:
    delete:
      tags:
      - AdHocGroups
      summary: Delete multiple AdHoc Groups.
      description: 'Deletes a list of AdHoc Groups from the specified cart.

        Returns the result of the delete operation.'
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The list of AdHoc Groups to delete.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
      responses:
        '200':
          description: OK
    get:
      tags:
      - AdHocGroups
      summary: Get all AdHoc Groups.
      description: Returns list of AdHoc Groups for the specified cart.
      parameters:
      - name: filter
        in: query
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        schema:
          type: string
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - AdHocGroups
      summary: Update multiple AdHoc Groups.
      description: 'Updates a collection of AdHoc Groups with new data.

        Returns the updated groups or validation errors.'
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The list of AdHoc Groups with updated data.
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
      responses:
        '200':
          description: OK
    post:
      tags:
      - AdHocGroups
      summary: Create multiple AdHoc Groups.
      description: 'Creates a list of AdHoc Groups for the specified cart.

        Validates for duplicate names and sequences within the cart.

        Returns the created groups or validation errors.'
      parameters:
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The list of AdHoc Groups to create.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup'
            example:
            - Name: test1
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
            - Name: test2
              ChargeType: LicenseFee
              Category:
                Id: cat-002
                Name: Consulting
              Description: This is another example AdHoc group for demonstration.
              Frequency: Quarterly
              GroupType: Standard
              Sequence: 2
      responses:
        '200':
          description: OK
  /api/cart/v1/carts/{cartId}/adhoc-groups/{adhocGroupId}:
    delete:
      tags:
      - AdHocGroups
      summary: Delete a single AdHoc Group by its Id.
      description: 'Deletes the specified AdHoc Group from the cart.

        Returns the result of the delete operation.'
      parameters:
      - name: adhocGroupId
        in: path
        description: The unique Id of the AdHoc Group to delete.
        required: true
        schema:
          type: string
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - AdHocGroups
      summary: Get an AdHoc Group by its Id.
      description: 'Retrieves a single AdHoc Group by its unique Id.

        Returns 404 if the group does not exist.'
      parameters:
      - name: adhocGroupId
        in: path
        description: The unique Id of the AdHoc Group.
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include.
        schema:
          type: array
          items:
            type: string
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - AdHocGroups
      summary: Update a single AdHoc Group by its Id.
      description: 'Updates the specified AdHoc Group with new data.

        Returns the updated group or validation errors.'
      parameters:
      - name: adhocGroupId
        in: path
        description: The unique Id of the AdHoc Group to update.
        required: true
        schema:
          type: string
      - name: cartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data for the AdHoc Group.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AdHoc
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AdHoc
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AdHoc
              ChargeType: StandardPrice
              Category:
                Id: cat-001
                Name: Professional Services
              Description: This is an example AdHoc group for demonstration.
              Frequency: Monthly
              GroupType: Custom
              Sequence: 1
      responses:
        '200':
          description: OK
components:
  schemas:
    Conga.Platform.Common.Models.LookupObject:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.Platform.AdHocGroup:
      type: object
      properties:
        chargeType:
          type:
          - string
          - 'null'
        category:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        configuration:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        description:
          type:
          - string
          - 'null'
        frequency:
          type:
          - string
          - 'null'
        groupType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        createdBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        createdDate:
          type: string
          format: date-time
        modifiedBy:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.LookupObject'
        modifiedDate:
          type: string
          format: date-time
        externalId:
          type:
          - string
          - 'null'
        eTag:
          type:
          - string
          - 'null'
        customProperties:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
