openapi: 3.2.0
info:
  title: Conga Sign Account Attachments Whitelist API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountAttachmentsWhitelist
paths:
  /v1/cs-account/admin/accountSettings/attachmentsWhitelist:
    delete:
      tags:
      - AccountAttachmentsWhitelist
      summary: Deletes and resets attachments whitelist.
      description: "Deletes attachments whitelist that you may have configured. \nYour attachments whitelist will be returned to their default values.\n\nAfter deletion, the system will revert to OneSpan's default allowed file types."
      operationId: AccountAttachmentsWhitelist_DeleteAccountAttachmentsWhitelist
      responses:
        '200':
          description: OK - Whitelist reset to defaults
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWT: []
    get:
      tags:
      - AccountAttachmentsWhitelist
      summary: Retrieves your current attachments whitelist.
      description: "Retrieves your attachments whitelist. The whitelist defines which file types are allowed \nas attachments in signing ceremonies.\n\nReturns a list of allowed file extensions (e.g., \"PDF\", \"TXT\", \"JPG\", \"DOC\")."
      operationId: AccountAttachmentsWhitelist_GetAccountAttachmentsWhitelist
      responses:
        '200':
          description: OK - Returns list of allowed file extensions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWT: []
    put:
      tags:
      - AccountAttachmentsWhitelist
      summary: Updates your attachments whitelist.
      description: 'Updates your attachments whitelist. This defines which file types are allowed as attachments.


        Provide a list of file extensions (e.g., ["PDF", "TXT", "JPG", "DOC", "DOCX"]).


        Note: This endpoint uses PUT (full replacement), not PATCH (partial update).

        All file types must be specified; any types not included will be removed from the whitelist.'
      operationId: AccountAttachmentsWhitelist_UpdateAccountAttachmentsWhitelist
      requestBody:
        x-name: attachmentsWhitelist
        description: List of allowed file extension strings
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-position: 1
      responses:
        '200':
          description: OK - Whitelist updated successfully
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWT: []
components:
  schemas:
    Error:
      type: object
      additionalProperties: false
      properties:
        message:
          type:
          - string
          - 'null'
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
