openapi: 3.2.0
info:
  title: Contracts Contract Related List API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Contract Related List
paths:
  /api/clm/v1/contracts/{contractId}/{objectName}:
    delete:
      tags:
      - Contract Related List
      summary: Delete an object's records
      description: Deletes one or more records for a named object.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract record
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      requestBody:
        description: List of IDs of the {objectName} to be deleted
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractRelatedListDeleteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResultStatusDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  4ae151a8-ba84-4e60-888e-86326c02d0db: Success
                  af72e569-9e65-4f97-a7c9-26466c02be51: Fail
                Warnings: null
                Errors: null
    post:
      tags:
      - Contract Related List
      summary: Create records
      description: Creates one or more records for the named object.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      requestBody:
        description: List of fields and values to be inserted
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
              IsRequired: false
            - Id: 7b3f1a92-dc45-4e8a-b12c-9a6e5d3f8c01
              IsRequired: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Contract-Demo
                  Account:
                    Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                    Name: Conga
                  RecordType: MSA
                  ContractCategory: Sales
                  TotalContractValue: 2000
                  ContractStartDate: '2023-01-01T00:00:00'
                  ContractEndDate: '2023-12-31T00:00:00'
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                  Status: Activated
                  StatusCategory: In Effect
                  Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:42.4921401Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:42.4921402Z'
                  ContractNumber: '42'
                  Currency: USD
                Warnings: null
                Errors: null
    put:
      tags:
      - Contract Related List
      summary: Update multiple object records
      description: Updates one or more records for a named object. Each record in the request body must include an 'Id' field.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      requestBody:
        description: List of records to update, each containing an 'Id' field and fields to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
              IsRequired: false
            - Id: 7b3f1a92-dc45-4e8a-b12c-9a6e5d3f8c01
              IsRequired: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Contract-Demo
                  Account:
                    Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                    Name: Conga
                  RecordType: MSA
                  ContractCategory: Sales
                  TotalContractValue: 2000
                  ContractStartDate: '2023-01-01T00:00:00'
                  ContractEndDate: '2023-12-31T00:00:00'
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                  Status: Activated
                  StatusCategory: In Effect
                  Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:42.4985247Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:42.4985249Z'
                  ContractNumber: '42'
                  Currency: USD
                Warnings: null
                Errors: null
  /api/clm/v1/contracts/{contractId}/{objectName}/query:
    post:
      tags:
      - Contract Related List
      summary: Filter an object's records
      description: Retrieves all records for a named object and sorts the results per the query parameters.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract record
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to filter and sort the list of records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
  /api/clm/v1/contracts/{contractId}/{objectName}/{objectId}:
    delete:
      tags:
      - Contract Related List
      summary: Delete an object's details
      description: Deletes the details for a named object (by objectName and objectId).
      parameters:
      - name: contractId
        in: path
        description: ID of a contract record
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: ID of the {objectName} record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
              example:
                Success: true
                Data: true
                Warnings: null
                Errors: null
    get:
      tags:
      - Contract Related List
      summary: Get an object's details
      description: Retrieves details for a named object (by objectName and objectId).
      parameters:
      - name: contractId
        in: path
        description: ID of a contract record
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: ID of the {objectName} record
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  Id: ed141691-e98c-471e-b2e7-90781d8f0459
                  Name: Test Obligation 1
                  ObligationType: Operational
                  Priority: High
                  Description: Test data
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                Warnings: null
                Errors: null
    put:
      tags:
      - Contract Related List
      summary: Update an object's details
      description: Updates the details for a named object (by objectName and objectId), if such an object exists.
      parameters:
      - name: contractId
        in: path
        description: ID of a contract
        required: true
        schema:
          type: string
      - name: objectName
        in: path
        description: API name of the related object
        required: true
        schema:
          type: string
      - name: objectId
        in: path
        description: ID of the {objectName} record
        required: true
        schema:
          type: string
      requestBody:
        description: List of fields and values to be updated
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Reviewer
              Description: Team is responsible to review the associated contract
              Action:
              - SendForReview
              IsActive: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
              example:
                Success: true
                Data:
                  Id: a32b6ee6-02a7-4e1a-bdf6-286d741b6a6b
                  Name: Test Obligation 1
                  ObligationType: Operational
                  Priority: High
                  Description: Test data
                  RecordOwner:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: Bumble Bee
                    OwnerType: User
                Warnings: null
                Errors: null
components:
  schemas:
    StringObjectDictionaryQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringObjectDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type: boolean
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    StringObjectDictionaryListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    CustomQuery:
      type: object
      properties:
        Limit:
          type:
          - integer
          - 'null'
          description: Number of the records to be fetched
          format: int32
        Skip:
          type:
          - integer
          - 'null'
          description: Number of the records to be skipped
          format: int32
        SortInfo:
          $ref: '#/components/schemas/SortInfo'
        CriteriaExpression:
          type:
          - string
          - 'null'
          description: Criteria Expression to filter the records
        Distinct:
          type: boolean
          description: Whether to fetch only distinct records
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of fields to be fetched
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Group Field name if the result to be grouped
        IncludeTotalCount:
          type: boolean
          description: Whether to include total count in the query response. Defaults to true.
      additionalProperties: false
      description: Custom Query
    StringResultStatusDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    StringObjectDictionaryQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/StringObjectDictionaryQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    ContractRelatedListDeleteRequest:
      type: object
      properties:
        DeleteAll:
          type: boolean
          description: Flag to determine if all records under the provided Contract Id to be deleted
        ObjectIds:
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of ObjectIds to be deleted
      additionalProperties: false
      description: ''
    SortInfo:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Field name on which records will be sorted
        Direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
      description: Sorting Information for Fields
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
