openapi: 3.2.0
info:
  title: User Management Organization API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Organization
paths:
  /api/user-management/v1/organization/currency:
    get:
      tags:
      - Organization
      summary: Get the currency type
      description: Returns the organization's currency.
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/user-management/v1/organization/info:
    get:
      tags:
      - Organization
      summary: Get an organization's information
      description: Returns an organization's sitewide information, like number, date, and currency formats.
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    patch:
      tags:
      - Organization
      summary: Update organizational information
      description: Updates an organization's sitewide information, like number, date, and currency formats.
      requestBody:
        description: "Organization's information to be updated.\n            **Note**: To see a list of supported numbers, dates, and currency formats, use the Timezone and Locale APIs and the Currency Format APIs."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/user-management/v1/organization/locale:
    get:
      tags:
      - Organization
      summary: Get the locale
      description: Returns the organization's locale.
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/user-management/v1/organization/timezone:
    get:
      tags:
      - Organization
      summary: Get the time zone
      description: Returns the organization's time zone.
      responses:
        '200':
          description: Success
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    OrganizationUpdateRequest:
      type: object
      properties:
        Currency:
          type:
          - string
          - 'null'
          description: The organization's currency
        PositiveCurrencyFormat:
          type:
          - string
          - 'null'
          description: Positive Currency Format of the Organization
        NegativeCurrencyFormat:
          type:
          - string
          - 'null'
          description: Negative Currency Format of the Organization
        TimezoneId:
          type:
          - string
          - 'null'
          description: The organization's time zone ID
        LocaleName:
          type:
          - string
          - 'null'
          description: The organization's locale name
        LocaleDecimalSymbol:
          type:
          - string
          - 'null'
          description: The organization's decimal symbol
        LocaleDigitGroup:
          type:
          - string
          - 'null'
          description: The organization's digit group
        LocaleDigitGroupingSymbol:
          type:
          - string
          - 'null'
          description: The organization's digit grouping symbol
        LocaleNegativeNumberFormat:
          type:
          - string
          - 'null'
          description: The organization's negative number format
        LocaleLongDateFormat:
          type:
          - string
          - 'null'
          description: The organization's long date format
        LocaleShortDateFormat:
          type:
          - string
          - 'null'
          description: The organization's short date format
        LocaleTimeFormat:
          type:
          - string
          - 'null'
          description: The organization's time format
        PhoneNumber:
          type:
          - string
          - 'null'
          description: The organization's phone number
        Address:
          type:
          - string
          - 'null'
          description: The organization's address
        IsActive:
          type:
          - boolean
          - 'null'
          description: Indicates whether the organization is active or not
        AutoProvisionUserEnabled:
          type:
          - boolean
          - 'null'
          description: Allows user to auto provision to Conga Platform
        OrganizationDisplayName:
          type:
          - string
          - 'null'
          description: The organization's display name
        GuestUserEnabled:
          type:
          - boolean
          - 'null'
          description: Enable/Disable guest user feature
        InstanceUrl:
          type:
          - string
          - 'null'
          description: The organization's instance url
        DisableNewUserEmailNotification:
          type:
          - boolean
          - 'null'
          description: Enable or disable new user email notification
        ExternalSystemIntegrationId:
          type:
          - string
          - 'null'
          description: ID of the External System Integration
        ExternalSystemIntegrationUserId:
          type:
          - string
          - 'null'
          description: User ID of the External System Integration
        IsNextGenUiEnabled:
          type:
          - boolean
          - 'null'
          description: IsNextGenUiEnabled allow administrators to enable or disable the Greenfield flag in the organization.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
