openapi: 3.2.0
info:
  title: Administration Waterfall Charts API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Waterfall Charts
paths:
  /waterfalls/{ParentId}/charts:
    delete:
      tags:
      - Waterfall Charts
      summary: Delete waterfall charts
      description: 'Deletes one or more waterfall charts.



        When executed, this API returns one or more records with the delete status of each associated record ID.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Waterfall Charts
      summary: Retrieve waterfall charts
      description: Retrieves all waterfall charts in a waterfall with it's details. Use query parameters to further narrow down the retrieved results.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Waterfall Charts
      summary: Update waterfall charts
      description: Updates specific fields on one or more waterfall charts. It can update any fields except waterfall ID.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the WaterfallChart
              Sequence: 1
              Description: Description
              IsActive: true
              Waterfall:
                Id: WaterFall-Id
                Name: WaterFall-Name
              PricePoints:
              - Sequence: 1
                Name: PricePointName
                IsModifiable: true
                IsNetPrice: true
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Waterfall Charts
      summary: Create waterfall charts
      description: Creates one or more waterfall charts for a specific waterfall.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      requestBody:
        description: The list of waterfall charts to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WaterfallChart'
      responses:
        '200':
          description: OK
  /waterfalls/{ParentId}/charts/{Id}:
    delete:
      tags:
      - Waterfall Charts
      summary: Delete a waterfall chart
      description: Deletes a single waterfall chart document based on the identifier and parent waterfall.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall chart
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Waterfall Charts
      summary: Retrieve a waterfall chart
      description: Retrieves a single waterfall chart document based on the identifier and parent waterfall.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall chart
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Waterfall Charts
      summary: Update a waterfall chart
      description: Updates a single waterfall chart document based on the identifier and parent waterfall.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent waterfall
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the waterfall chart
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the waterfall chart
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the WaterfallChart
              Sequence: 1
              Description: Description
              IsActive: true
              Waterfall:
                Id: WaterFall-Id
                Name: WaterFall-Name
              PricePoints:
              - Sequence: 1
                Name: PricePointName
                IsModifiable: true
                IsNetPrice: true
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    WaterfallChart:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Criteria:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        PricePoints:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PricePointRestriction'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        Waterfall:
          $ref: '#/components/schemas/LookupObject'
        WaterfallLineItemFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WaterfallLineItemField'
      additionalProperties: {}
      example:
        Name: Name of the WaterfallChart
        Sequence: 1
        Description: Description
        IsActive: true
        Waterfall:
          Id: WaterFall-Id
          Name: WaterFall-Name
        PricePoints:
        - Sequence: 1
          Name: PricePointName
          IsModifiable: true
          IsNetPrice: true
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    WaterfallLineItemField:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
        IsEditable:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    PricePointRestriction:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        IsModifiable:
          type:
          - boolean
          - 'null'
        IsNetPrice:
          type:
          - boolean
          - 'null'
        IsRebate:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
