openapi: 3.2.0
info:
  title: X-Author Document Protection API
  version: v1
  description: This class contains API endpoints for Document protection.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DocumentProtection
  description: This class contains API endpoints for Document protection.
paths:
  /api/xauthor/v1/documents/protect:
    post:
      tags:
      - DocumentProtection
      summary: Add document protection
      description: The protect an agreement document feature lets you to protect the agreement document without entering the password. This way, you can prevent sharing of passwords and unauthorized access to the document. This API enables protection of the document based on the parameters passed in the request body. Fields passed in the request body include Agreement Name, and Protection Level.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request which contains document content
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/unprotect:
    post:
      tags:
      - DocumentProtection
      summary: Remove document protection
      description: The unprotect an agreement document feature lets you to unprotect an agreement document without entering the password. This way, you can prevent sharing of passwords and unauthorized access to the document. This API disables protection of the document and applies full access to it based on the parameters passed in the request body. Fields passed in the request body include Agreement Name, and Protection Level.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request which contains document content
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectUnProtectRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{currentprotection}/protections:
    get:
      tags:
      - DocumentProtection
      summary: Get the protection type of document.
      parameters:
      - name: currentprotection
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/documents/{saveoption}/protection:
    get:
      tags:
      - DocumentProtection
      summary: Get the protection level of document.
      parameters:
      - name: saveoption
        in: path
        description: Type of the version as save option
        required: true
        schema:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.VersionTypeEnum'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Enum.VersionTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.ProtectUnProtectRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ProtectionType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - -1
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
