openapi: 3.2.0
info:
  title: X-Author Rule Execution API
  version: v1
  description: 'Provides API endpoints for executing individual playbook rules against contract documents

    and retrieving clause-level and document-level rule execution results.'
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: RuleExecution
  description: 'Provides API endpoints for executing individual playbook rules against contract documents

    and retrieving clause-level and document-level rule execution results.'
paths:
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/rules/clause-rule/{executionId}/results:
    get:
      tags:
      - RuleExecution
      summary: Retrieves the clause rule execution result for a specific execution.
      parameters:
      - name: executionId
        in: path
        description: The unique identifier of the rule execution.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the rule execution.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: playbookId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/rules/document-rule/{executionId}/results:
    get:
      tags:
      - RuleExecution
      summary: Retrieves the document rule execution result for a specific execution.
      parameters:
      - name: executionId
        in: path
        description: The unique identifier of the rule execution.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the rule execution.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: playbookId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/rules/{ruleId}/content/run:
    post:
      tags:
      - RuleExecution
      summary: Executes a rule against a contract document using the document content.
      parameters:
      - name: playbookId
        in: path
        description: The unique identifier of the playbook.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the playbook.
      - name: ruleId
        in: path
        description: The unique identifier of the rule to execute.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the rule to execute.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request containing the document content and file name.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleOnContentRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleOnContentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleOnContentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleOnContentRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/rules/{ruleId}/run:
    post:
      tags:
      - RuleExecution
      summary: Executes a rule against a contract document using pre-extracted rule text.
      parameters:
      - name: playbookId
        in: path
        description: The unique identifier of the playbook.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the playbook.
      - name: ruleId
        in: path
        description: The unique identifier of the rule to execute.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the rule to execute.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request containing the extraction document ID and rule text.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        aiSuggestion:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartFieldRecommendation:
      type: object
      properties:
        fieldId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
        extractedValue:
          type:
          - string
          - 'null'
        recommendedValue:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartField:
      type: object
      properties:
        fieldId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        fieldValue:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        clauseId:
          type:
          - string
          - 'null'
        clauseReferenceId:
          type:
          - string
          - 'null'
        aiSuggestion:
          type:
          - string
          - 'null'
        semanticMatch:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        textualMatch:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        riskAlignment:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        favorableCriteria:
          type:
          - string
          - 'null'
        unfavorableCriteria:
          type:
          - string
          - 'null'
        reviewStatus:
          type:
          - string
          - 'null'
        isNotFoundInDocument:
          type: boolean
        contentControlId:
          type: integer
          format: int64
        isMarkedAsRule:
          type: boolean
        smartFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartFieldRecommendation'
        suggestionFound:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleRequest:
      type: object
      properties:
        executionDocumentId:
          type:
          - string
          - 'null'
        parentExecutionId:
          type:
          - string
          - 'null'
        ruleText:
          type:
          - string
          - 'null'
        smartFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartField'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails:
      type: object
      properties:
        executionId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        executionDocumentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        score:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ExecuteRuleOnContentRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        parentExecutionId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
