openapi: 3.2.0
info:
  title: Conga Sign Customer Onboarded API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: CustomerOnboarded
paths:
  /v1/customer/onboarded:
    get:
      tags:
      - CustomerOnboarded
      summary: Get Customer Onboarded
      operationId: CustomerOnboarded_Get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerOnboardedResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
      security:
      - JWT: []
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    CustomerOnboardedResponse:
      type: object
      additionalProperties: false
      properties:
        onboarded:
          type: boolean
          description: Onboarded
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
