openapi: 3.2.0
info:
  title: X-Author Google Config API
  version: v1
  description: This class contains API endpoints for google configurations such as google drive enabled and service configuration info
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: GoogleConfig
  description: This class contains API endpoints for google configurations such as google drive enabled and service configuration info
paths:
  /api/xauthor/v1/google-config:
    get:
      tags:
      - GoogleConfig
      summary: Gets the information of google drive support and service account configurations in clm
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Config.GoogleDriveConfig'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Config.GoogleDriveConfig'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Config.GoogleDriveConfig'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.Config.GoogleDriveConfig:
      type: object
      properties:
        isGoogleDocsEnabled:
          type: boolean
        isGoogleDocsServiceConfigured:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
