openapi: 3.2.0
info:
  title: Administration Proposal Locations API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Proposal Locations
paths:
  /quotes/{ParentId}/locations:
    delete:
      tags:
      - Proposal Locations
      summary: Delete proposal locations
      description: Deletes one or more proposal locations from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Proposal Locations
      summary: Retrieve proposal locations
      description: Retrieves a collection of proposal locations based on the parent proposal.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Proposal Locations
      summary: Update proposal locations
      description: Updates one or more proposal locations in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the ProposalLocation
              Location:
                Id: Location-Id
                Name: Location-Name
              Proposal:
                Id: Proposal-Id
                Name: Proposal-Name
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Proposal Locations
      summary: Create proposal locations
      description: Creates one or more proposal locations to the collection. The parent proposal is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      requestBody:
        description: The list of proposal locations to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProposalLocation'
      responses:
        '200':
          description: OK
  /quotes/{ParentId}/locations/{Id}:
    delete:
      tags:
      - Proposal Locations
      summary: Delete a proposal location
      description: Deletes a single proposal location document based on the identifier and parent proposal.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the proposal location
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Proposal Locations
      summary: Retrieve a proposal location
      description: Retrieves a single proposal location document based on the identifier and parent proposal.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the proposal location
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Proposal Locations
      summary: Update a proposal location
      description: Updates a single proposal location document based on the identifier and parent proposal.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent proposal
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the proposal location
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the proposal location
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the ProposalLocation
              Location:
                Id: Location-Id
                Name: Location-Name
              Proposal:
                Id: Proposal-Id
                Name: Proposal-Name
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    ProposalLocation:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Proposal:
          $ref: '#/components/schemas/LookupObject'
        Location:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      example:
        Name: Name of the ProposalLocation
        Location:
          Id: Location-Id
          Name: Location-Name
        Proposal:
          Id: Proposal-Id
          Name: Proposal-Name
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
