openapi: 3.2.0
info:
  title: X-Author Agreement Document API
  version: v1
  description: This class contains APIs related to agreement documents.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: AgreementDocument
  description: This class contains APIs related to agreement documents.
paths:
  /api/xauthor/v1/contracts/{contractId}/documents/compareandmerge:
    post:
      tags:
      - AgreementDocument
      summary: Compare and merge documents
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Document merge request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMerge'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMerge'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMerge'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentMerge'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/regenerate:
    post:
      tags:
      - AgreementDocument
      summary: Regenerate an agreement document with the selected template
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Regenerate Agreement Request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RegenerateAgreementRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RegenerateAgreementRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RegenerateAgreementRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.RegenerateAgreementRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/versions:
    post:
      tags:
      - AgreementDocument
      summary: Get agreement document versions
      description: Gets all the document versions associated with a specific agreement based on the agreement ID provided in the parameters.
      parameters:
      - name: contractId
        in: path
        description: contract's Id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: contract's Id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request query body value
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentVersionRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentVersionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentVersionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentVersionRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Document'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Document'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Document'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/documents/{documentId}/tags:
    get:
      tags:
      - AgreementDocument
      summary: Get agreement tags
      parameters:
      - name: contractId
        in: path
        description: Contract ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Contract ID
      - name: documentId
        in: path
        description: Document Attachment ID
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Document Attachment ID
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementTags'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementTags'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementTags'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Core.Model.CheckInResponse:
      type: object
      properties:
        attachmentId:
          type:
          - string
          - 'null'
        version:
          type:
          - string
          - 'null'
        isStatus:
          type: boolean
        isRefreshedClauses:
          type: boolean
        listMessage:
          type:
          - array
          - 'null'
          items:
            type: string
        templateId:
          type:
          - string
          - 'null'
        templateVersionId:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        metadataV2FileId:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.RegenerateAgreementRequest:
      type: object
      properties:
        templateId:
          type:
          - string
          - 'null'
        sObjectId:
          type:
          - string
          - 'null'
        regenerateOption:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        objectVersionId:
          type:
          - string
          - 'null'
        protectionLevel:
          type:
          - string
          - 'null'
        agreementId:
          type:
          - string
          - 'null'
        documentFormat:
          type:
          - string
          - 'null'
        versionDetailId:
          type:
          - string
          - 'null'
        comment:
          type:
          - string
          - 'null'
        docFormat:
          type:
          - string
          - 'null'
        isDraft:
          type: boolean
        sourceDocumentId:
          type:
          - string
          - 'null'
        acceptRedlines:
          type: boolean
        documentContent:
          type:
          - string
          - 'null'
          format: byte
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        promoteClause:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Enum.VersionTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.ContentControlInfo:
      type: object
      properties:
        allowEditing:
          type: boolean
        controlId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.DocumentExtension:
      enum:
      - 0
      - 1
      - 2
      - 3
      type: integer
      format: int32
    Apttus.XAuthor.Common.Model.ClauseApprovalSubmitRequest:
      type: object
      properties:
        approvalId:
          type:
          - string
          - 'null'
        isAdhoc:
          type: boolean
        comment:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.MergeAttachmentInfo:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTC:
      type: object
      properties:
        aptPromoteClauseICTCDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DocumentVersionRequest:
      type: object
      properties:
        size:
          type: integer
          format: int32
        offset:
          type: integer
          format: int32
        agreementId:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        documentGuid:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        versionId:
          type:
          - string
          - 'null'
        documentName:
          type:
          - string
          - 'null'
        checkintype:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckinType'
        documentSecurity:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CheckInRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        pdfContent:
          type:
          - string
          - 'null'
        saveOption:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.VersionTypeEnum'
        protection:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ProtectionType'
        isPrompt:
          type: boolean
        markAsPrivate:
          type: boolean
        includeWaterMark:
          type: boolean
        removeWaterMark:
          type: boolean
        createPdfAttachment:
          type: boolean
        pdfCompliance:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.PDFCompliance'
        atleastOneClauseChangedOrDeleted:
          type: boolean
        suggestedFileName:
          type:
          - string
          - 'null'
        submitForApproval:
          type: boolean
        reconcileFields:
          type: boolean
        reconcileClauses:
          type: boolean
        reconcileClauseApprovals:
          type: boolean
        reconcileTables:
          type: boolean
        aptTempICTCMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptTempICTCMetadata'
        aptMarkDeletionICTC:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptMarkDeletionICTC'
        aptPromoteClauseICTC:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTC'
        aptDeletedCCs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptDeletedCC'
        documentSecurity:
          type:
          - string
          - 'null'
        deleteClauseVersionListXML:
          type: boolean
        parallelReview:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ParallelReview'
        clausesInsertedAsText:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        agreementId:
          type:
          - string
          - 'null'
        asyncCheckIn:
          type: boolean
        documentTags:
          type:
          - array
          - 'null'
          items:
            type: string
        clauseApprovals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        clausesDeleted:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AgreementClause'
        isPartialReconciliationEnabled:
          type: boolean
        isReconcileFieldsOrClauseOrTable:
          type: boolean
        corelationId:
          type:
          - string
          - 'null'
        ideCompleted:
          type: boolean
        ideJobId:
          type:
          - string
          - 'null'
        hideContentControlBorder:
          type: boolean
        clauseActionLevelApprovals:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.ClauseApprovalSubmitRequest'
        aptDocumentProperties:
          type:
          - string
          - 'null'
        isAnalyzeComplete:
          type: boolean
        contentVersionId:
          type:
          - string
          - 'null'
        recordType:
          type:
          - string
          - 'null'
        isO365ReviewedDocument:
          type: boolean
        documentID:
          type:
          - string
          - 'null'
        ignoreReconcile:
          type:
          - array
          - 'null'
          items:
            type: string
        gDocURL:
          type:
          - string
          - 'null'
        fieldReconciliationData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.SameTagFieldInfo'
        contractSummary:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Reviewer:
      type: object
      properties:
        contentControlsInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.ContentControlInfo'
        reviewerEmail:
          type:
          - string
          - 'null'
        reviewerId:
          type:
          - string
          - 'null'
        reviewerName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptMarkDeletionICTCDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        markDeletion:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.SameTagFieldInfo:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        textToUpdate:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ParallelReview:
      type: object
      properties:
        agreementId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        versionAware:
          type: boolean
        templateType:
          type:
          - string
          - 'null'
        latestVersion:
          type:
          - string
          - 'null'
        emailSubject:
          type:
          - string
          - 'null'
        emailBody:
          type:
          - string
          - 'null'
        isDocumentUnderReview:
          type: boolean
        reviewers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.Reviewer'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.DocumentMerge:
      type: object
      properties:
        compareModeEnum:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Enum.CompareModeEnum'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.MergeAttachmentInfo'
        objectType:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        documentMergeName:
          type:
          - string
          - 'null'
        checkInRequest:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.CheckInRequest'
        currentDocumentForCompare:
          type: boolean
        documentVersion:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Enum.CompareModeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AptTempICTCMetadata:
      type: object
      properties:
        aptTempICTCMetadataDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptTempICTCMetadataDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AgreementTags:
      type: object
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptMarkDeletionICTC:
      type: object
      properties:
        aptMarkDeletionICTCDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptMarkDeletionICTCDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Enum.PDFCompliance:
      enum:
      - 0
      - 1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AgreementClause:
      type: object
      properties:
        action:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        category:
          type:
          - string
          - 'null'
        subcategory:
          type:
          - string
          - 'null'
        clause:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        prevText:
          type:
          - string
          - 'null'
        diffText2:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        exception:
          type:
          - string
          - 'null'
        riskRating:
          type:
          - string
          - 'null'
        isMateriallySignificant:
          type: boolean
        status:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
        templateReferenceId:
          type:
          - string
          - 'null'
        termExceptionComments:
          type:
          - string
          - 'null'
        template:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
        isModified:
          type: boolean
        auditDesc:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        userId:
          type:
          - string
          - 'null'
        agreementId:
          type:
          - string
          - 'null'
        materiallySignificant:
          type: boolean
        attachmentId:
          type:
          - string
          - 'null'
        clauseVersionId:
          type:
          - string
          - 'null'
        documentVersionId:
          type:
          - string
          - 'null'
        primordialVersionID:
          type:
          - string
          - 'null'
        primordialVersionName:
          type:
          - string
          - 'null'
        previousVersionID:
          type:
          - string
          - 'null'
        previousVersionName:
          type:
          - string
          - 'null'
        alternateClauseId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
        richText:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        ideEntityId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.ProtectionType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - -1
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AptTempICTCMetadataDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        itemXmlNodeValue:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.Document:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        contentType:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
        owner:
          type:
          - string
          - 'null'
        parentId:
          type:
          - string
          - 'null'
        lastModifiedBy:
          type:
          - string
          - 'null'
        lastModified:
          type:
          - string
          - 'null'
        createdByDate:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        documentVersionId:
          type:
          - string
          - 'null'
        contentBytes:
          type:
          - string
          - 'null'
          format: byte
        version:
          type:
          - string
          - 'null'
        size:
          type:
          - string
          - 'null'
        contextObjectId:
          type:
          - string
          - 'null'
        fileExtension:
          type:
          - string
          - 'null'
        fileType:
          type:
          - string
          - 'null'
        fileSize:
          type: integer
          format: int64
        clauseFormat:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.DocumentExtension'
        htmlContent:
          type:
          - string
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        clauseConfigName:
          type:
          - string
          - 'null'
        configReferenceId:
          type:
          - string
          - 'null'
        isMasterClause:
          type: boolean
        gDocUrl:
          type:
          - string
          - 'null'
        action:
          type:
          - string
          - 'null'
        documentInfo:
          type:
          - string
          - 'null'
        metadataFileId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.CheckinType:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.AptDeletedCC:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        encodedMetadata:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
