openapi: 3.2.0
info:
  title: Cart - V1 Bundle Line Item Structure API
  version: v1
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: BundleLineItemStructure
paths:
  /api/cart/v1/carts/{cartId}/bundle/{lineNumber}/details:
    get:
      tags:
      - BundleLineItemStructure
      summary: Get bundle details
      description: Retrieves the bundle details for a given cart ID and line number. It includes option groups, child option groups, options, and any sub-bundles.
      parameters:
      - name: cartId
        in: path
        description: The cart identifier
        required: true
        schema:
          type: string
      - name: lineNumber
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
