openapi: 3.2.0
info:
  title: Administration Attribute Constraint Rules API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attribute Constraint Rules
paths:
  /attribute-constraint-rules:
    delete:
      tags:
      - Attribute Constraint Rules
      summary: Delete AttributeConstraintRules
      description: Deletes one or more AttributeConstraintRules based on the list of AttributeConstraintRule Ids provided in the request body.
      requestBody:
        description: The list of Attribute Constraint Rules to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Constraint Rules
      summary: Retrieve AttributeConstraintRules
      description: 'Retrieves all Attribute Constraint Rules existing in the system.



        The API returns the list of Attribute Constraint Rules.'
      parameters:
      - name: filter
        in: query
        description: The array of filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sorting parameter
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The array of included relationships
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Constraint Rules
      summary: Update AttributeConstraintRules
      description: 'Updates one or more Attribute Constraint Rules based on the details provided in the request body.



        When executed, the API returns the ID and the structure of the updated Attribute Constraint Rules.'
      requestBody:
        description: The list of Attribute Constraint Rules to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
    post:
      tags:
      - Attribute Constraint Rules
      summary: Create AttributeConstraintRules
      description: 'Creates one or more Attribute Constraint Rules based on the details provided in the request body.



        The API returns the structure of newly created Attribute Constraint Rules.'
      requestBody:
        description: The list of Attribute Constraint Rules to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AttributeConstraintRule'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributeConstraintRule'
  /attribute-constraint-rules/{Id}:
    delete:
      tags:
      - Attribute Constraint Rules
      summary: Delete an AttributeConstraintRule.
      description: Deletes a single AttributeConstraintRule by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the AttributeConstraintRule to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attribute Constraint Rules
      summary: Retrieve an AttributeConstraintRule
      description: Retrieves a single AttributeConstraintRule record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the AttributeConstraintRule
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: The array of included relationships
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
            text/json:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
        '204':
          description: No Content
    patch:
      tags:
      - Attribute Constraint Rules
      summary: Update an AttributeConstraintRule
      description: Updates a single AttributeConstraintRule by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the AttributeConstraintRule to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the AttributeConstraintRule
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
            text/json:
              schema:
                $ref: '#/components/schemas/AttributeConstraintRule'
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    AttributeConstraintRule:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        RuleType:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        MessageType:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        StartDate:
          type:
          - string
          - 'null'
          format: date-time
        EndDate:
          type:
          - string
          - 'null'
          format: date-time
        AttributeGroup:
          $ref: '#/components/schemas/LookupObject'
        OptionGroup:
          $ref: '#/components/schemas/LookupObject'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
