openapi: 3.2.0
info:
  title: Cart - V1 Adjustments API
  version: v1
  description: Adjustments controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: Adjustments
  description: Adjustments controller
paths:
  /api/cart/v1/carts/{cartId}/adjustments:
    delete:
      tags:
      - Adjustments
      summary: Delete cart adjustments
      description: 'Deletes one or more adjustments in a cart based on the cart ID in the

        endpoint request and the cart ID and adjustment IDs provided in the parameters.'
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The ID(s) of adjustment
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
          text/json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
          application/*+json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    get:
      tags:
      - Adjustments
      summary: Get cart adjustments
      description: Retrieves the adjustments for the cart (by cart ID).
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filter
        schema:
          type: array
          items:
            type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page size
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '422':
          description: Unprocessable Content
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    patch:
      tags:
      - Adjustments
      summary: Update adjustments by cart
      description: Updates one or more adjustment records for the given cartId.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The adjustment line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
              Id: 1a99d836-641b-42db-ac78-c30f7737ef8a
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Id: 56689db9-11d8-4788-92e6-837cefce3815
              Name: Waterfall Manual Adj1
            - LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              UnitAdjustment: 500
              Id: ced7eab6-fc69-4031-a372-861c74b4a9d7
              Name: AdjustmentOverride
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
              Id: 1a99d836-641b-42db-ac78-c30f7737ef8a
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Id: 56689db9-11d8-4788-92e6-837cefce3815
              Name: Waterfall Manual Adj1
            - LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              UnitAdjustment: 500
              Id: ced7eab6-fc69-4031-a372-861c74b4a9d7
              Name: AdjustmentOverride
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
              Id: 1a99d836-641b-42db-ac78-c30f7737ef8a
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Id: 56689db9-11d8-4788-92e6-837cefce3815
              Name: Waterfall Manual Adj1
            - LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              UnitAdjustment: 500
              Id: ced7eab6-fc69-4031-a372-861c74b4a9d7
              Name: AdjustmentOverride
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    post:
      tags:
      - Adjustments
      summary: Create adjustments
      description: Creates one or more adjustments.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      requestBody:
        description: The adjustment line items
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: '% Discount'
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
            - AdjustmentType: Markup Amount
              AdjustmentAmount: 100
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Name: Waterfall Manual Adj1
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: '% Discount'
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
            - AdjustmentType: Markup Amount
              AdjustmentAmount: 100
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Name: Waterfall Manual Adj1
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
            example:
            - AdjustmentType: '% Discount'
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
            - AdjustmentType: Discount Amount
              AdjustmentAmount: 15
              AdjustmentAppliesTo: Starting Price
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 1
              LineType: Manual
              Type: Default
            - AdjustmentType: Markup Amount
              AdjustmentAmount: 100
              AdjustmentAppliesTo: Previous
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              LineNumber: 0
              PricePoint: Net Price
              Name: Waterfall Manual Adj1
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/adjustments/{adjustmentId}:
    delete:
      tags:
      - Adjustments
      summary: Delete an adjustment by identifier
      description: Deletes the adjustment record.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: adjustmentId
        in: path
        description: The ID of adjustment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    get:
      tags:
      - Adjustments
      summary: Get cart adjustment details
      description: Retrieves details of a cart's adjustments by adjustment ID.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: adjustmentId
        in: path
        description: The adjustment identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Adjustments
      summary: Update adjustments by identifier
      description: Update the adjustment fields for the cart and adjustment IDs given in the parameters.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: adjustmentId
        in: path
        description: The ID of adjustment
        required: true
        schema:
          type: string
      requestBody:
        description: The adjustment line item
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
  /api/cart/v1/carts/{cartId}/items/{lineItemId}/adjustments:
    delete:
      tags:
      - Adjustments
      summary: Delete adjustments for a line item
      description: Deletes adjustments for a specific line item.
      parameters:
      - name: cartId
        in: path
        description: The cart's unique identifier
        required: true
        schema:
          type: string
      - name: lineItemId
        in: path
        description: lineItemId
        required: true
        schema:
          type: string
      requestBody:
        description: An adjustment's unique identifier
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
          text/json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
          application/*+json:
            schema:
              type: array
              items:
                type: string
            example:
            - adjustment-1
            - adjustment-2
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Conga.Revenue.Entities.PriceMatrixEntry:
      type: object
      properties:
        sequence:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmountSourceId:
          type:
          - string
          - 'null'
        condition:
          type:
          - string
          - 'null'
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        matrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceMatrix'
        matrixId:
          type:
          - string
          - 'null'
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        flatPrice:
          type:
          - number
          - 'null'
          format: double
        isIncluded:
          type: boolean
        tierEndValue:
          type:
          - number
          - 'null'
          format: double
        tierStartValue:
          type:
          - number
          - 'null'
          format: double
        usageRate:
          type:
          - number
          - 'null'
          format: double
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        adjustmentSource:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        FeatureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        ProductOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        ProductAttributeGroupMemberIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        RootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        OptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Incentive:
      type: object
      properties:
        accountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        accountScopeOper:
          type:
          - string
          - 'null'
        accountTypeScope:
          type:
          - array
          - 'null'
          items:
            type: string
        accountTypeScopeOper:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        amendmentEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        ancestorId:
          type:
          - string
          - 'null'
        applicationMethod:
          type:
          - string
          - 'null'
        autoApply:
          type: boolean
        benefitUom:
          type:
          - string
          - 'null'
        cascadeBenefitsForBundles:
          type:
          - boolean
          - 'null'
        combineWithOtherIncentives:
          type: boolean
        contextType:
          type:
          - string
          - 'null'
        countryScope:
          type:
          - array
          - 'null'
          items:
            type: string
        countryScopeOper:
          type:
          - string
          - 'null'
        cycleEndDate:
          type:
          - string
          - 'null'
          format: date-time
        cycleStartDate:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
        downgrade:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableBenefitEffectivityDates:
          type: boolean
        excludeChildrenWithActivePrograms:
          type: boolean
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        incentiveCode:
          type:
          - string
          - 'null'
        incentiveGroupId:
          type:
          - string
          - 'null'
        incentiveNumber:
          type:
          - string
          - 'null'
        incentiveNumberAuto:
          type:
          - string
          - 'null'
        incentiveNumberText:
          type:
          - string
          - 'null'
        incentiveProgramId:
          type:
          - string
          - 'null'
        includeOrdersForAccountHierarchy:
          type: boolean
        isBundle:
          type: boolean
        loyaltyId:
          type:
          - string
          - 'null'
        maxPoints:
          type:
          - number
          - 'null'
          format: double
        originalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        pointAccrualLevel:
          type:
          - string
          - 'null'
        priceListScope:
          type:
          - array
          - 'null'
          items:
            type: string
        priceListScopeOper:
          type:
          - string
          - 'null'
        productFamilyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamilyScopeOper:
          type:
          - string
          - 'null'
        productGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        productGroupScopeOper:
          type:
          - string
          - 'null'
        productScope:
          type:
          - array
          - 'null'
          items:
            type: string
        productScopeOper:
          type:
          - string
          - 'null'
        recurrenceFrequency:
          type:
          - string
          - 'null'
        regionScope:
          type:
          - array
          - 'null'
          items:
            type: string
        regionScopeOper:
          type:
          - string
          - 'null'
        renewalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        searchField:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        enableCurrency:
          type: boolean
        currency:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        stopProcessingMoreIncentives:
          type: boolean
        subUseType:
          type:
          - string
          - 'null'
        upgrade:
          type:
          - string
          - 'null'
        useType:
          type:
          - string
          - 'null'
        versionNumber:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        exclusionCriteria:
          type:
          - string
          - 'null'
        adhocGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        incentiveConditionExpression:
          type:
          - string
          - 'null'
        RelatedIncentives:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedIncentive'
        IncentiveLimits:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.IncentiveLimit'
        IncentiveCoupons:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.IncentiveCoupon'
        IncentiveRules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.IncentiveRule'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.IncentiveCoupon:
      type: object
      properties:
        isActive:
          type: boolean
        priceDimensionId:
          type:
          - string
          - 'null'
        assignedToID:
          type:
          - string
          - 'null'
        couponCode:
          type:
          - string
          - 'null'
        couponLimit:
          type:
          - integer
          - 'null'
          format: int32
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        incentiveId:
          type:
          - string
          - 'null'
        numOfTimesUsed:
          type:
          - integer
          - 'null'
          format: int32
        status:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AdjustmentLineItem:
      type: object
      properties:
        adjustmentType:
          type:
          - string
          - 'null'
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentAppliesTo:
          type:
          - string
          - 'null'
        lineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        lineNumber:
          type: integer
          format: int32
        lineType:
          type:
          - string
          - 'null'
        adjustmentUom:
          type:
          - string
          - 'null'
        perUnitValue:
          type:
          - number
          - 'null'
          format: double
        grossValue:
          type:
          - number
          - 'null'
          format: double
        adjustmentName:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        overwrittenPerUnitValue:
          type:
          - number
          - 'null'
          format: double
        overwrittenGrossValue:
          type:
          - number
          - 'null'
          format: double
        isOverrideByUnitAdjustment:
          type:
          - boolean
          - 'null'
        isOverrideByAdjustment:
          type:
          - boolean
          - 'null'
        pricePoint:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        unitAdjustment:
          type:
          - number
          - 'null'
          format: double
        incentiveAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        autoApply:
          type:
          - boolean
          - 'null'
        incentiveName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        incentive:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        incentiveRuleEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.IncentiveRuleEntry'
        incentiveCode:
          type:
          - string
          - 'null'
        couponCode:
          type:
          - string
          - 'null'
        benefitQuantity:
          type:
          - number
          - 'null'
          format: double
        bucket:
          type:
          - string
          - 'null'
        priceRuleEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRuleEntry'
        priceRule:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRule'
        priceRuleSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRuleset'
        priceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceMatrix'
        priceMatrixEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceMatrixEntry'
        waterfallRuleEntry:
          $ref: '#/components/schemas/Conga.Revenue.Entities.WaterfallRuleEntry'
        waterfallRule:
          $ref: '#/components/schemas/Conga.Revenue.Entities.WaterfallRule'
        waterfallRuleset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.WaterfallRuleset'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.PriceRuleEntry:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        adjustmentAmountSourceId:
          type:
          - string
          - 'null'
        adjustmentUom:
          type:
          - string
          - 'null'
        adjustmentReason:
          type:
          - string
          - 'null'
        adjustmentValueSource:
          type:
          - string
          - 'null'
        adjustmentValueType:
          type:
          - string
          - 'null'
        bandSize:
          type:
          - number
          - 'null'
          format: double
        chargeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        condition:
          type:
          - string
          - 'null'
        dimension1ListValue:
          type:
          - string
          - 'null'
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2ListValue:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3ListValue:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4ListValue:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5ListValue:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6ListValue:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        startFactor:
          type:
          - number
          - 'null'
          format: double
        endFactor:
          type:
          - number
          - 'null'
          format: double
        inclusionMethod:
          type:
          - string
          - 'null'
        loyaltyLevel:
          type:
          - string
          - 'null'
        matchInAsset:
          type: boolean
        maxProducts:
          type: integer
          format: int32
        maxQuantity:
          type: integer
          format: int32
        minProducts:
          type: integer
          format: int32
        minQuantity:
          type: integer
          format: int32
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        matchProductGroupId:
          type:
          - string
          - 'null'
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        products:
          type:
          - string
          - 'null'
        productsOper:
          type:
          - string
          - 'null'
        quantity:
          type:
          - number
          - 'null'
          format: double
        rule:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRule'
        ruleId:
          type:
          - string
          - 'null'
        ruleset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRuleset'
        sequence:
          type:
          - number
          - 'null'
          format: double
        productCategory:
          type:
          - string
          - 'null'
        productFamilies:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamily:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        productGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        term:
          type:
          - number
          - 'null'
          format: double
        termPeriodStart:
          type:
          - string
          - 'null'
        uniqueSequenceKey:
          type:
          - string
          - 'null'
        adjustmentSource:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.RelatedIncentive:
      type: object
      properties:
        fromIncentiveId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
        toIncentiveId:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        RelatedPriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.WaterfallRuleset:
      type: object
      properties:
        applicationMethod:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        criteria:
          type:
          - string
          - 'null'
        enableCurrency:
          type: boolean
        currency:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableDateRange:
          type: boolean
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isActive:
          type: boolean
        priceListId:
          type:
          - string
          - 'null'
        productCategory:
          type:
          - string
          - 'null'
        produtFamily:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        stopProcessingMoreRules:
          type: boolean
        useType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ComponentProductName:
          type:
          - string
          - 'null'
        ComponentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        defaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type:
          - boolean
          - 'null'
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type:
          - boolean
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        modifiableType:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.WaterfallRule:
      type: object
      properties:
        adjustmentAppliesTo:
          type:
          - string
          - 'null'
        adjustmentChargeType:
          type:
          - string
          - 'null'
        allowableAction:
          type:
          - string
          - 'null'
        allowRemovalOfAdjustment:
          type: boolean
        chargeTypeCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        chargeTypeCriteriaOper:
          type:
          - string
          - 'null'
        countryCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        countryCriteriaOper:
          type:
          - string
          - 'null'
        criteria:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        dimension1Id:
          type:
          - string
          - 'null'
        dimension1ValueType:
          type:
          - string
          - 'null'
        dimension2Id:
          type:
          - string
          - 'null'
        dimension2ValueType:
          type:
          - string
          - 'null'
        dimension3Id:
          type:
          - string
          - 'null'
        dimension3ValueType:
          type:
          - string
          - 'null'
        dimension4Id:
          type:
          - string
          - 'null'
        dimension4ValueType:
          type:
          - string
          - 'null'
        dimension5Id:
          type:
          - string
          - 'null'
        dimension5ValueType:
          type:
          - string
          - 'null'
        dimension6Id:
          type:
          - string
          - 'null'
        dimension6ValueType:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isActive:
          type: boolean
        priceListCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        priceListCriteriaOper:
          type:
          - string
          - 'null'
        pricePoints:
          type:
          - array
          - 'null'
          items:
            type: string
        productCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productCriteriaOper:
          type:
          - string
          - 'null'
        productFamilyCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamilyCriteriaOper:
          type:
          - array
          - 'null'
          items:
            type: string
        productGroupCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productGroupCriteriaOper:
          type:
          - string
          - 'null'
        regionCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        regionCriteriaOper:
          type:
          - string
          - 'null'
        ruleSubType:
          type:
          - string
          - 'null'
        ruleType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        stopProcessing:
          type: boolean
        waterfallRuleset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.WaterfallRuleset'
        waterfallRulesetId:
          type:
          - string
          - 'null'
          readOnly: true
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        isRequired:
          type:
          - boolean
          - 'null'
        lookupObjectName:
          type:
          - string
          - 'null'
        pickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        type:
          type:
          - string
          - 'null'
        helpText:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceRule:
      type: object
      properties:
        active:
          type: boolean
        adjustmentAppliesTo:
          type:
          - string
          - 'null'
        adjustmentChargeType:
          type:
          - string
          - 'null'
        allowableAction:
          type:
          - string
          - 'null'
        allowRemovalOfAdjustment:
          type: boolean
        beneficiary:
          type:
          - string
          - 'null'
        beneficiaryType:
          type:
          - string
          - 'null'
        benefitType:
          type:
          - string
          - 'null'
        bucket:
          type:
          - string
          - 'null'
        chargeTypeCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        chargeTypeCriteriaOper:
          type:
          - string
          - 'null'
        countryCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        countryCriteriaOper:
          type:
          - string
          - 'null'
        criteria:
          type:
          - string
          - 'null'
        customPricePointSource:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        dimension1Id:
          type:
          - string
          - 'null'
        dimension1ValueType:
          type:
          - string
          - 'null'
        dimension2Id:
          type:
          - string
          - 'null'
        dimension2ValueType:
          type:
          - string
          - 'null'
        dimension3Id:
          type:
          - string
          - 'null'
        dimension3ValueType:
          type:
          - string
          - 'null'
        dimension4Id:
          type:
          - string
          - 'null'
        dimension4ValueType:
          type:
          - string
          - 'null'
        dimension5Id:
          type:
          - string
          - 'null'
        dimension5ValueType:
          type:
          - string
          - 'null'
        dimension6Id:
          type:
          - string
          - 'null'
        dimension6ValueType:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        forEveryXCriteriaDimensionId:
          type:
          - string
          - 'null'
        forEveryXCriteriaDimensionType:
          type:
          - string
          - 'null'
        forEveryXCriteriaDimensionValue:
          type:
          - number
          - 'null'
          format: double
        futureBenefitValidityOffset:
          type:
          - number
          - 'null'
          format: double
        futureBenefitValidityType:
          type:
          - string
          - 'null'
        metricValueSource:
          type:
          - string
          - 'null'
        milestoneCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        milestoneCriteriaOper:
          type:
          - string
          - 'null'
        milestoneStatusCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        milestoneStatusCriteriaOper:
          type:
          - string
          - 'null'
        priceListCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        priceListCriteriaOper:
          type:
          - string
          - 'null'
        pricePoints:
          type:
          - array
          - 'null'
          items:
            type: string
        productCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productCriteriaOper:
          type:
          - string
          - 'null'
        ruleset:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceRuleset'
        priceRulesetId:
          type:
          - string
          - 'null'
        productFamilyCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamilyCriteriaOper:
          type:
          - array
          - 'null'
          items:
            type: string
        productGroupCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        productGroupCriteriaOper:
          type:
          - string
          - 'null'
        regionCriteria:
          type:
          - array
          - 'null'
          items:
            type: string
        regionCriteriaOper:
          type:
          - string
          - 'null'
        ruleSubType:
          type:
          - string
          - 'null'
        ruleType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        stopProcessing:
          type: boolean
        tierMetricRollupDuration:
          type:
          - string
          - 'null'
        tierMetricType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        autoCascadeQuantity:
          type:
          - boolean
          - 'null'
        autoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        autoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoUpdateQuantity:
          type:
          - boolean
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        contractItemNumber:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        contractPrice:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        defaultPriceDatasource:
          type:
          - string
          - 'null'
        defaultPriceFrom:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        defaultQuantityDatasource:
          type:
          - string
          - 'null'
        defaultQuantityFrom:
          type:
          - string
          - 'null'
        defaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        disableAssetIntegration:
          type:
          - boolean
          - 'null'
        disableCostModel:
          type:
          - boolean
          - 'null'
        disableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableAutoRampCreation:
          type:
          - boolean
          - 'null'
        enableCommitment:
          type:
          - boolean
          - 'null'
        enableRampCreation:
          type:
          - boolean
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        frequency:
          type:
          - string
          - 'null'
        hasCriteria:
          type:
          - boolean
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        isProductActive:
          type:
          - boolean
          - 'null'
        isTaxable:
          type:
          - boolean
          - 'null'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        isQuantityReadOnly:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productDescription:
          type:
          - string
          - 'null'
        productFamily:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
          - boolean
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedAdjustmentAmountSourceId:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPercent:
          type:
          - number
          - 'null'
          format: double
        relatedPercentAppliesTo:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        sellingUomId:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        RelatedPriceListItemsTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedPriceListItem'
        relatedItemId:
          type:
          - string
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        taxCodeId:
          type:
          - string
          - 'null'
        taxInclusive:
          type:
          - boolean
          - 'null'
        type:
          type:
          - string
          - 'null'
        relatedAdjustmentSource:
          type:
          - string
          - 'null'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Feature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.IncentiveLimit:
      type: object
      properties:
        benefitId:
          type:
          - string
          - 'null'
        incentiveId:
          type:
          - string
          - 'null'
        limitAppliesTo:
          type:
          - string
          - 'null'
        limitAppliesToValueSource:
          type:
          - string
          - 'null'
        limitMetric:
          type:
          - string
          - 'null'
        limitValue:
          type:
          - number
          - 'null'
          format: double
        limitValueSource:
          type:
          - string
          - 'null'
        recurrenceFrequency:
          type:
          - string
          - 'null'
        recurrenceType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.WaterfallRuleEntry:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmountSourceId:
          type:
          - string
          - 'null'
        adjustmentReason:
          type:
          - string
          - 'null'
        adjustmentType:
          type:
          - string
          - 'null'
        adjustmentUom:
          type:
          - string
          - 'null'
        adjustmentValueSource:
          type:
          - string
          - 'null'
        adjustmentValueType:
          type:
          - string
          - 'null'
        bandSize:
          type:
          - number
          - 'null'
          format: double
        chargeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        condition:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        dimension1ListValue:
          type:
          - string
          - 'null'
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2ListValue:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3ListValue:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4ListValue:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5ListValue:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6ListValue:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        endFactor:
          type:
          - number
          - 'null'
          format: double
        matchInAsset:
          type: boolean
        matchProductGroupId:
          type:
          - string
          - 'null'
        maxProducts:
          type:
          - number
          - 'null'
          format: double
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minProducts:
          type:
          - number
          - 'null'
          format: double
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        productCategory:
          type:
          - string
          - 'null'
        productFamilies:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamily:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        productGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        products:
          type:
          - array
          - 'null'
          items:
            type: string
        productsOper:
          type:
          - string
          - 'null'
        quantity:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - number
          - 'null'
          format: double
        startFactor:
          type:
          - number
          - 'null'
          format: double
        term:
          type:
          - number
          - 'null'
          format: double
        termPeriodStart:
          type:
          - string
          - 'null'
        uniqueSequenceKey:
          type:
          - string
          - 'null'
        waterfallRule:
          $ref: '#/components/schemas/Conga.Revenue.Entities.WaterfallRule'
        waterfallRuleId:
          type:
          - string
          - 'null'
        adjustmentSource:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceRuleset:
      type: object
      properties:
        active:
          type: boolean
        sequence:
          type:
          - number
          - 'null'
          format: double
        startPricePointId:
          type:
          - string
          - 'null'
        stopProcessingMoreRules:
          type: boolean
        type:
          type:
          - string
          - 'null'
        parentPricePipelineId:
          type:
          - string
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        pricePointId:
          type:
          - string
          - 'null'
        productCategory:
          type:
          - string
          - 'null'
        produtFamily:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        criteria:
          type:
          - string
          - 'null'
        useType:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        adjustmentAppliesTo:
          type:
          - string
          - 'null'
        enableDateRange:
          type: boolean
        endPricePointId:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        applicationMethod:
          type:
          - string
          - 'null'
        enableCurrency:
          type: boolean
        currency:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        exclusionCriteria:
          type:
          - string
          - 'null'
        expandByDefault:
          type: boolean
        hasCriteria:
          type: boolean
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeGroup:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        ProductTranslation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupTranslation'
        attributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.IncentiveRuleEntry:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentAmountSourceId:
          type:
          - string
          - 'null'
        adjustmentReason:
          type:
          - string
          - 'null'
        adjustmentType:
          type:
          - string
          - 'null'
        adjustmentUom:
          type:
          - string
          - 'null'
        adjustmentValueSource:
          type:
          - string
          - 'null'
        adjustmentValueType:
          type:
          - string
          - 'null'
        chargeTypes:
          type:
          - array
          - 'null'
          items:
            type: string
        condition:
          type:
          - string
          - 'null'
        dimension1ListValue:
          type:
          - string
          - 'null'
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2ListValue:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3ListValue:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4ListValue:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5ListValue:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6ListValue:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        inclusionMethod:
          type:
          - string
          - 'null'
        loyaltyLevel:
          type:
          - string
          - 'null'
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        priceOverride:
          $ref: '#/components/schemas/Conga.Platform.Common.Models.CurrencyField'
        incentiveRuleId:
          type:
          - string
          - 'null'
        productCategory:
          type:
          - string
          - 'null'
        productFamilies:
          type:
          - array
          - 'null'
          items:
            type: string
        productFamily:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        productGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        products:
          type:
          - array
          - 'null'
          items:
            type: string
        productsOper:
          type:
          - string
          - 'null'
        quantity:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - number
          - 'null'
          format: double
        tierMetricTypeEntry:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        adjustmentSource:
          type:
          - string
          - 'null'
        adhocGroups:
          type:
          - array
          - 'null'
          items:
            type: string
        incentiveRule:
          $ref: '#/components/schemas/Conga.Revenue.Entities.IncentiveRule'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
[...]
