openapi: 3.2.0
info:
  title: Conga Rebates API
  version: '1.0'
  description: 'Operations tagged Rebates across 2 of this provider''s published API definitions: conga-cart-v1.json, conga-rebate-administration.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com
- url: https://rls.congacloud.com/api/rebates-admin/v1
security:
- Bearer: []
tags:
- name: Rebates
  description: Controller for handling rebate-related actions in the cart API.
paths:
  /api/cart/v1/carts/{cartId}/rebate-estimates:
    post:
      tags:
      - Rebates
      summary: Perform the estimated rebate details for a cart.
      parameters:
      - name: cartId
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    servers:
    - url: https://rls.congacloud.com
  /rebates:
    delete:
      tags:
      - Rebates
      summary: Delete rebates
      description: Deletes multiple rebates.
      requestBody:
        description: The list of rebates to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Rebates
      summary: Retrieve rebates
      description: Retrieves the collection of rebates.
      parameters:
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Rebates
      summary: Update rebates
      description: Updates multiple rebates.
      requestBody:
        description: The list of rebates with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Rebates
      summary: Create rebates
      description: Creates multiple rebates.
      requestBody:
        description: The list of rebates to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Incentive'
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/rebates-admin/v1
  /rebates/{Id}:
    delete:
      tags:
      - Rebates
      summary: Delete a rebate
      description: Deletes a single rebate by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Rebates
      summary: Retrieve a rebate
      description: Retrieves a single rebate by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Incentive'
            application/json:
              schema:
                $ref: '#/components/schemas/Incentive'
            text/json:
              schema:
                $ref: '#/components/schemas/Incentive'
        '204':
          description: No Content
    patch:
      tags:
      - Rebates
      summary: Update a rebate
      description: Updates a single rebate.
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the rebate
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/rebates-admin/v1
  /rebates/{Id}/clone:
    post:
      tags:
      - Rebates
      summary: Clone rebate
      description: Clones rebate.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Rebate to clone
        required: true
        schema:
          type: string
      - name: isAsync
        in: query
        description: If set to `true` [is asynchronous]
        schema:
          type: boolean
      requestBody:
        description: Override fields with field name and value
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
        '202':
          description: Accepted
        '404':
          description: Not Found
    servers:
    - url: https://rls.congacloud.com/api/rebates-admin/v1
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Incentive:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AccountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountScopeOper:
          type:
          - string
          - 'null'
        AccountTypeScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountTypeScopeOper:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        AmendmentEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        Ancestor:
          $ref: '#/components/schemas/LookupObject'
        ApplicationMethod:
          type:
          - string
          - 'null'
        AutoApply:
          type:
          - boolean
          - 'null'
        BenefitUom:
          type:
          - string
          - 'null'
        CascadeBenefitsForBundles:
          type:
          - boolean
          - 'null'
        CombineWithOtherIncentives:
          type:
          - boolean
          - 'null'
        ContextType:
          type:
          - string
          - 'null'
        CountryScope:
          type:
          - array
          - 'null'
          items:
            type: string
        CountryScopeOper:
          type:
          - string
          - 'null'
        CycleEndDate:
          type:
          - string
          - 'null'
          format: date-time
        CycleStartDate:
          type:
          - string
          - 'null'
          format: date-time
        Description:
          type:
          - string
          - 'null'
        Downgrade:
          type:
          - string
          - 'null'
        EffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        EnableBenefitEffectivityDates:
          type:
          - boolean
          - 'null'
        ExcludeChildrenWithActivePrograms:
          type:
          - boolean
          - 'null'
        ExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        IncentiveCode:
          type:
          - string
          - 'null'
        IncentiveGroup:
          $ref: '#/components/schemas/LookupObject'
        IncentiveProgram:
          $ref: '#/components/schemas/LookupObject'
        IncentiveNumber:
          type:
          - string
          - 'null'
        IncentiveNumberAuto:
          type:
          - string
          - 'null'
        IncentiveNumberText:
          type:
          - string
          - 'null'
        IncludeOrdersForAccountHierarchy:
          type:
          - boolean
          - 'null'
        IsBundle:
          type:
          - boolean
          - 'null'
        Loyalty:
          $ref: '#/components/schemas/LookupObject'
        MaxPoints:
          type:
          - number
          - 'null'
          format: double
        OriginalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        PointAccrualLevel:
          type:
          - string
          - 'null'
        PriceListScope:
          type:
          - array
          - 'null'
          items:
            type: string
        PriceListScopeOper:
          type:
          - string
          - 'null'
        ProductFamilyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamilyScopeOper:
          type:
          - string
          - 'null'
        ProductGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductGroupScopeOper:
          type:
          - string
          - 'null'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductScopeOper:
          type:
          - string
          - 'null'
        RecurrenceFrequency:
          type:
          - string
          - 'null'
        RegionScope:
          type:
          - array
          - 'null'
          items:
            type: string
        RegionScopeOper:
          type:
          - string
          - 'null'
        RenewalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        SearchField:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        EnableCurrency:
          type:
          - boolean
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Status:
          type:
          - string
          - 'null'
        StopProcessingMoreIncentives:
          type:
          - boolean
          - 'null'
        SubUseType:
          type:
          - string
          - 'null'
        Upgrade:
          type:
          - string
          - 'null'
        UseType:
          type:
          - string
          - 'null'
        VersionNumber:
          type:
          - number
          - 'null'
          format: double
        Criteria:
          type:
          - string
          - 'null'
        ExclusionCriteria:
          type:
          - string
          - 'null'
        AdhocGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        IncentiveConditionExpression:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- conga-cart-v1.json
- conga-rebate-administration.json
