openapi: 3.2.0
info:
  title: Administration Deal Guidance Rule Entries API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Deal Guidance Rule Entries
paths:
  /deal-guidance-rules/{ParentId}/entries:
    delete:
      tags:
      - Deal Guidance Rule Entries
      summary: Delete deal guidance rule entries
      description: Delete one or more rule entries for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of deal guidance rule entries to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Rule Entries
      summary: Retrieve deal guidance rule entries
      description: Retrieves the list of rules entries for deal guidance rules.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Guidance Rule Entries
      summary: Update deal guidance rule entries
      description: Update one or more rule entries for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: DealGuidanceRuleEntryName
              Band1Value: value1
              Band2Value: value2
              Band3Value: value3
              Band4Value: value4
              Band5Value: value5
              Band6Value: value6
              Dimension1Value: Dimension1Value
              Dimension2Value: Dimension2Value
              Dimension3Value: Dimension3Value
              Dimension4Value: Dimension4Value
              Dimension5Value: Dimension5Value
              Dimension6Value: Dimension6Value
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Deal Guidance Rule Entries
      summary: Create deal guidance rule entries
      description: Creates one or more rule entries for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of deal guidance rule entries to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealGuidanceRuleEntry'
      responses:
        '200':
          description: OK
  /deal-guidance-rules/{ParentId}/entries/{Id}:
    delete:
      tags:
      - Deal Guidance Rule Entries
      summary: Delete a deal guidance rule entry
      description: Delete a single rule entry for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the deal guidance rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Guidance Rule Entries
      summary: Retrieve a deal guidance rule entry
      description: Retrieves a single rule entry for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the deal guidance rule entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Guidance Rule Entries
      summary: Update a deal guidance rule entry
      description: Updates a single rule entry for a deal guidance rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent deal guidance rule
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the deal guidance rule entry
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the deal guidance rule entry
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: DealGuidanceRuleEntryName
              Band1Value: value1
              Band2Value: value2
              Band3Value: value3
              Band4Value: value4
              Band5Value: value5
              Band6Value: value6
              Dimension1Value: Dimension1Value
              Dimension2Value: Dimension2Value
              Dimension3Value: Dimension3Value
              Dimension4Value: Dimension4Value
              Dimension5Value: Dimension5Value
              Dimension6Value: Dimension6Value
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    DealGuidanceRuleEntry:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Band1Value:
          type:
          - string
          - 'null'
        Band2Value:
          type:
          - string
          - 'null'
        Band3Value:
          type:
          - string
          - 'null'
        Band4Value:
          type:
          - string
          - 'null'
        Band5Value:
          type:
          - string
          - 'null'
        Band6Value:
          type:
          - string
          - 'null'
        Dimension1Value:
          type:
          - string
          - 'null'
        Dimension2Value:
          type:
          - string
          - 'null'
        Dimension3Value:
          type:
          - string
          - 'null'
        Dimension4Value:
          type:
          - string
          - 'null'
        Dimension5Value:
          type:
          - string
          - 'null'
        Dimension6Value:
          type:
          - string
          - 'null'
        GuidanceRule:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
      example:
        Name: DealGuidanceRuleEntryName
        Band1Value: value1
        Band2Value: value2
        Band3Value: value3
        Band4Value: value4
        Band5Value: value5
        Band6Value: value6
        Dimension1Value: Dimension1Value
        Dimension2Value: Dimension2Value
        Dimension3Value: Dimension3Value
        Dimension4Value: Dimension4Value
        Dimension5Value: Dimension5Value
        Dimension6Value: Dimension6Value
        Sequence: 1
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
