{
  "openapi": "3.0.1",
  "info": {
    "title": "Administration",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/revenue-admin/v1"
    }
  ],
  "paths": {
    "/accounts/active": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve active account",
        "description": "Retrieves active account pricelist",
        "operationId": "Accounts",
        "parameters": [
          {
            "name": "accountId",
            "in": "header",
            "description": "Account id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeFrontId",
            "in": "header",
            "description": "StoreFront id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              }
            }
          }
        }
      }
    },
    "/attribute-constraint-rules": {
      "delete": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Delete AttributeConstraintRules",
        "description": "Deletes one or more AttributeConstraintRules based on the list of AttributeConstraintRule Ids provided in the request body.",
        "requestBody": {
          "description": "The list of Attribute Constraint Rules to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Retrieve AttributeConstraintRules",
        "description": "Retrieves all Attribute Constraint Rules existing in the system.\r\n\r\n\nThe API returns the list of Attribute Constraint Rules.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The array of filter conditions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of included relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Update AttributeConstraintRules",
        "description": "Updates one or more Attribute Constraint Rules based on the details provided in the request body.\r\n\r\n\nWhen executed, the API returns the ID and the structure of the updated Attribute Constraint Rules.",
        "requestBody": {
          "description": "The list of Attribute Constraint Rules to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Create AttributeConstraintRules",
        "description": "Creates one or more Attribute Constraint Rules based on the details provided in the request body.\r\n\r\n\nThe API returns the structure of newly created Attribute Constraint Rules.",
        "requestBody": {
          "description": "The list of Attribute Constraint Rules to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeConstraintRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attribute-constraint-rules/{Id}": {
      "delete": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Delete an AttributeConstraintRule.",
        "description": "Deletes a single AttributeConstraintRule by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the AttributeConstraintRule to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Retrieve an AttributeConstraintRule",
        "description": "Retrieves a single AttributeConstraintRule record.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the AttributeConstraintRule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of included relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Constraint Rules"
        ],
        "summary": "Update an AttributeConstraintRule",
        "description": "Updates a single AttributeConstraintRule by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the AttributeConstraintRule to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the AttributeConstraintRule",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeConstraintRule"
                }
              }
            }
          }
        }
      }
    },
    "/attribute-constraint-rules/{ParentId}/entries": {
      "delete": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Delete AttributeConstraintRuleEntries",
        "description": "Deletes multiple AttributeConstraintRuleEntries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of AttributeConstraintRuleEntries to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Retrieve AttributeConstraintRuleEntries",
        "description": "Retrieves the list of AttributeConstraintRuleEntries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter array",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of includes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Update AttributeConstraintRuleEntries",
        "description": "Updates multiple AttributeConstraintRuleEntries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of untyped AttributeConstraintRuleEntries to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Create AttributeConstraintRuleEntries",
        "description": "Creates multiple AttributeConstraintRuleEntries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of AttributeConstraintRuleEntries to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeConstraintRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-constraint-rules/{ParentId}/entries/export": {
      "get": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Get the list of AttributeConstraintRuleEntries as a CSV file.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-constraint-rules/{ParentId}/entries/import": {
      "post": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Create AttributeConstraintRuleEntries using a CSV file.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "CSV file constaining the list of AttributeConstraintRuleEntries to create",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-constraint-rules/{ParentId}/entries/{id}": {
      "delete": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Delete an AttributeConstraintRuleEntry",
        "description": "Deletes an AttributeConstraintRuleEntry.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the AttributeConstraintRuleEntry to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Retrieve an AttributeConstraintRuleEntry",
        "description": "Retrieves a single AttributeConstraintRuleEntry by ID.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the AttributeConstraintRuleEntry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Constraint Rule Entries"
        ],
        "summary": "Update an AttributeConstraintRuleEntry",
        "description": "Updates an existing AttributeConstraintRuleEntry.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the AttributeConstraintRuleEntry to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated AttributeConstraintRuleEntry",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-groups": {
      "delete": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Delete attribute groups",
        "description": "Deletes one or more attribute groups based on the input provided in the request body. Upon deletion of an attribute group, the API deletes the records of association between attribute group with attributes and product.",
        "requestBody": {
          "description": "The list of attribute groups to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Retrieve attribute groups",
        "description": "Retrieves the collection of attribute groups.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Update attribute groups",
        "description": "Updates one or more attribute groups based on the details provided in the request body.\r\n\r\n\nWhen executed, the API returns the ID and the structure of the updated attribute group.",
        "requestBody": {
          "description": "The list of attribute groups with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "AttributeGroupName",
                  "AttributeMatrix": null,
                  "Description": "Attribute Group description",
                  "ThreeColumnAttributeDisplay": false,
                  "TwoColumnAttributeDisplay": false,
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Create attribute groups",
        "description": "Creates mone or more attribute groups based on the details provided in the request body.\r\n\r\n\nWhen executed, the API returns the ID and the structure of the newly created attribute group.",
        "requestBody": {
          "description": "The list of attribute groups to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroup"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-groups/{Id}": {
      "delete": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Delete an attribute group",
        "description": "Deletes a single attribute group record.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Retrieve an attribute group",
        "description": "Retrieves a single attribute group record.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Groups"
        ],
        "summary": "Update an attribute group",
        "description": "Updates a single attribute group record.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the attribute group",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AttributeGroupName",
                "AttributeMatrix": null,
                "Description": "Attribute Group description",
                "ThreeColumnAttributeDisplay": false,
                "TwoColumnAttributeDisplay": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-groups/{ParentId}/attributes": {
      "delete": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Delete attribute group members",
        "description": "Deletes one or more attribute group members from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of attribute group members to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Retrieve attribute group members",
        "description": "Retrieves a collection of attribute group members based on the parent attribute group.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Update attribute group members",
        "description": "Updates one or more attribute group members in the collection. Parent reassignment is not allowed.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "AttributeGroupMemberName",
                  "CascadeSharedAttributeStatus": [
                    "All"
                  ],
                  "CascadeSharedAttributeUpdates": "Yes",
                  "DisplayType": null,
                  "IsHidden": false,
                  "IsPrimary": false,
                  "IsReadOnly": false,
                  "Sequence": 1,
                  "Attribute": {
                    "Id": "AttributeId",
                    "Name": "AttributeName"
                  },
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Create attribute group members",
        "description": "Creates one or more attribute group members to the collection. The parent attribute group is automatically filled.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of attribute group members to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeGroupMember"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-groups/{ParentId}/attributes/{Id}": {
      "delete": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Delete an attribute group member",
        "description": "Deletes a single attribute group member of an attribute group record.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group member",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Retrieve attribute group member",
        "description": "Retrieves a single attribute group member of an attribute group record.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group member",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Group Members"
        ],
        "summary": "Update an attribute group member",
        "description": "Updates a single attribute group member of an attribute group record.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent attribute group",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute group member",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the attribute group member",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AttributeGroupMemberName",
                "CascadeSharedAttributeStatus": [
                  "All"
                ],
                "CascadeSharedAttributeUpdates": "Yes",
                "DisplayType": null,
                "IsHidden": false,
                "IsPrimary": false,
                "IsReadOnly": false,
                "Sequence": 1,
                "Attribute": {
                  "Id": "AttributeId",
                  "Name": "AttributeName"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-matrices": {
      "delete": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Delete attribute matrices",
        "description": "Deletes one or more attribute matrices based on the list of attribute matrix IDs provided in the request body.",
        "requestBody": {
          "description": "The list of attribute matrices to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Retrieve attribute matrices",
        "description": "Retrieves all attribute matrices existing in the system. If a product ID or an attribute ID is specified, the API retrieves attribute matrices associated with them.\r\n\r\n\nThe API returns the list of attribute matrices.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The array of filter conditions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of included relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Update attribute matrices",
        "description": "Updates one or more attribute matrices based on the details provided in the request body.\r\n\r\n\nWhen executed, the API returns the ID and the structure of the updated attribute matrices.",
        "requestBody": {
          "description": "The list of attribute matrices to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "AttributeMatrixName",
                  "IsActive": true,
                  "ApplicationType": "Default",
                  "Description": "Attribute Matrix description",
                  "AccountScope": [
                    "All"
                  ],
                  "AccountScopeOper": "in",
                  "EffectiveDate": "2019-10-10",
                  "ExpirationDate": "2030-10-10",
                  "ProductFamilyScope": [
                    "All"
                  ],
                  "ProductFamilyScopeOper": "in",
                  "ProductGroupScope": [
                    "All"
                  ],
                  "ProductGroupScopeOper": "in",
                  "ProductScope": [
                    "All"
                  ],
                  "ProductScopeOper": "in",
                  "TreatNullAsWildcard": false,
                  "Attributes": [
                    {
                      "Name": "AttributeName",
                      "Sequence": 1
                    }
                  ],
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Create attribute matrices",
        "description": "Creates one or more attribute matrices based on the details provided in the request body. The attribute matrix can be created for product scope, and it can be active or deactivated upon creation.\r\n\r\n\nThe API returns the structure of newly created attribute matrices.",
        "requestBody": {
          "description": "The list of attribute matrices to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeMatrix"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attribute-matrices/{Id}": {
      "delete": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Delete an attribute matrix",
        "description": "Deletes a single attribute matrix by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute matrix to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Retrieve an attribute matrix",
        "description": "Retrieves a single attribute matrix record.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute matrix",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of included relationships",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Matrices"
        ],
        "summary": "Update an attribute matrix",
        "description": "Updates a single attribute matrix by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the attribute matrix to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the attribute matrix",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AttributeMatrixName",
                "IsActive": true,
                "ApplicationType": "Default",
                "Description": "Attribute Matrix description",
                "AccountScope": [
                  "All"
                ],
                "AccountScopeOper": "in",
                "EffectiveDate": "2019-10-10",
                "ExpirationDate": "2030-10-10",
                "ProductFamilyScope": [
                  "All"
                ],
                "ProductFamilyScopeOper": "in",
                "ProductGroupScope": [
                  "All"
                ],
                "ProductGroupScopeOper": "in",
                "ProductScope": [
                  "All"
                ],
                "ProductScopeOper": "in",
                "TreatNullAsWildcard": false,
                "Attributes": [
                  {
                    "Name": "AttributeName",
                    "Sequence": 1
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributeMatrix"
                }
              }
            }
          }
        }
      }
    },
    "/attribute-matrices/{ParentId}/entries": {
      "delete": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Delete attribute matrix entries",
        "description": "Deletes multiple attribute matrix entries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of attribute matrix entries to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Retrieve attribute matrix entries",
        "description": "Retrieves the list of attribute matrix entries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter array",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort string",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of entries to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The array of includes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Update attribute matrix entries",
        "description": "Updates multiple attribute matrix entries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of untyped attribute matrix entries to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "AttributeMatrixEntryName",
                  "Attributes": [
                    {
                      "Name": "AttributeName",
                      "Value": "Value",
                      "Sequence": 1
                    }
                  ],
                  "Sequence": 1,
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Create attribute matrix entries",
        "description": "Creates multiple attribute matrix entries.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of attribute matrix entries to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AttributeMatrixEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-matrices/{ParentId}/entries/export": {
      "get": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Get the list of AttributeMatrixEntries as a CSV file.",
        "description": "Exports attribute matrix entries to a CSV file. Retrieves all entries for the specified parent attribute matrix and generates a CSV file with attribute names as headers and corresponding values in rows. If no entries exist, the CSV file will contain only the header row with attribute names from the parent matrix definition. The exported file is named \"AVMEntries-{ParentId}.csv\".",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-matrices/{ParentId}/entries/import": {
      "post": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Create AttributeMatrixEntries using a CSV file.",
        "description": "This API imports attribute matrix entries from a CSV file. The CSV file should have attribute names as column headers in the first row, followed by rows containing the corresponding attribute values. Each data row creates a new AttributeMatrixEntry with an auto-generated GUID, a name in the format \"AVMEntry-{GUID}\", and attributes mapped from the CSV columns. Empty values are treated as null. The file must have a .csv extension.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "CSV file constaining the list of AttributeMatrixEntries to create",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-matrices/{ParentId}/entries/{id}": {
      "delete": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Delete an attribute matrix entry",
        "description": "Deletes an attribute matrix entry.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attribute matrix entry to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Retrieve an attribute matrix entry",
        "description": "Retrieves a single attribute matrix entry by ID.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attribute matrix entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Attribute Matrix Entries"
        ],
        "summary": "Update an attribute matrix entry",
        "description": "Updates an existing attribute matrix entry.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The parent identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attribute matrix entry to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated attribute matrix entry",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AttributeMatrixEntryName",
                "Attributes": [
                  {
                    "Name": "AttributeName",
                    "Value": "Value",
                    "Sequence": 1
                  }
                ],
                "Sequence": 1
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-rules": {
      "delete": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Delete product attribute rules",
        "description": "Deletes one or more attribute rules based on the input in request body.",
        "requestBody": {
          "description": "The list of Product Attribute Rules to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Retrieve product attribute rules",
        "description": "Retrieves all attributes rules in the system.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "An array of filter conditions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort condition",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An array of entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Update product attribute rules",
        "description": "Updates one or more attribute rules the attribute rule conditions based on the details.",
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "Name of the record",
                  "Description": "Description",
                  "AccountScope": [
                    "Account1"
                  ],
                  "AccountScopeOper": "The account scope operator",
                  "ConditionCriteria": "The rule criteria specification",
                  "ConditionCriteriaExpression": "The rule criteria expression",
                  "IsActive": true,
                  "ProductFamilyScope": [
                    "ProductFamily-1"
                  ],
                  "ProductFamilyScopeOper": "The product family scope operator",
                  "ProductGroupScope": [
                    "ProductGroup-1"
                  ],
                  "ProductGroupScopeOper": "The product group scope operator",
                  "ProductScope": [
                    "Product-1"
                  ],
                  "ProductScopeOper": "The product scope operator",
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Create product attribute rules",
        "description": "Creates one or more attribute rules along with attribute rule condition for each attribute rule, based on the details provided in the request body.\r\n\r\n\nEach attribute rule can have only one attribute rule condition. The attribute rule condition can be defined using product scope or condition criteria.\nWhen executed, the API returns the structure of the attribute rule.",
        "requestBody": {
          "description": "The list of Product Attribute Rules to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-rules/{Id}": {
      "delete": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Delete a product attribute rule",
        "description": "Deletes a single product attribute rule.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Retrieve a product attribute rule",
        "description": "Retrieves a single product attribute rule based on the identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "To include child records",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Product Attribute Rules"
        ],
        "summary": "Update a product attribute rule",
        "description": "Updates a single product attribute rule based on the identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the Product Attribute Rule",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "Name of the record",
                "Description": "Description",
                "AccountScope": [
                  "Account1"
                ],
                "AccountScopeOper": "The account scope operator",
                "ConditionCriteria": "The rule criteria specification",
                "ConditionCriteriaExpression": "The rule criteria expression",
                "IsActive": true,
                "ProductFamilyScope": [
                  "ProductFamily-1"
                ],
                "ProductFamilyScopeOper": "The product family scope operator",
                "ProductGroupScope": [
                  "ProductGroup-1"
                ],
                "ProductGroupScopeOper": "The product group scope operator",
                "ProductScope": [
                  "Product-1"
                ],
                "ProductScopeOper": "The product scope operator"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-rules/{ParentId}/actions": {
      "delete": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Delete product attribute rule actions",
        "description": "Deletes one or more attribute rule actions.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of Product Attribute Rule Actions to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Retrieve product attribute rule actions",
        "description": "Retrieves the attribute rule actions.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An array of filter conditions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort condition",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An array of entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Update product attribute rule actions",
        "description": "Updates one or more attribute rule actions for a given attribute rule ID.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "Name of the record",
                  "AccountScope": [
                    "Account1"
                  ],
                  "AccountScopeOper": "The account scope operator",
                  "Action": "Allow",
                  "ActionCriteria": "The action criteria",
                  "ActionCriteriaExpression": "The action criteria expression",
                  "TargetField": "Target Field",
                  "Message": "The action message",
                  "ProductFamilyScope": [
                    "ProductFamily-1"
                  ],
                  "ProductFamilyScopeOper": "The product family scope operator",
                  "ProductGroupScope": [
                    "ProductGroup-1"
                  ],
                  "ProductGroupScopeOper": "The product group scope operator",
                  "ProductScope": [
                    "Product-1"
                  ],
                  "ProductScopeOper": "The product scope operator",
                  "ValueExpression": "The value expression for the action",
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Create product attribute rule actions",
        "description": "Creates one or more attribute rule actions for a given attribute rule ID.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of Product Attribute Rule Actions to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductAttributeRuleAction"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/attribute-rules/{ParentId}/actions/{id}": {
      "delete": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Delete a product attribute rule action",
        "description": "Deletes a single product attribute rule action for a specific Product Attribute Rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule Action to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Retrieve a product attribute rule action",
        "description": "Retrieves a single product attribute rule action for a specific product attribute rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule Action to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Product Attribute Rule Actions"
        ],
        "summary": "Update a product attribute rule action",
        "description": "Updates a single product attribute rule action based on the identifier for a specific Product Attribute Rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent Product Attribute Rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the Product Attribute Rule Action to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the Product Attribute Rule Action",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "Name of the record",
                "AccountScope": [
                  "Account1"
                ],
                "AccountScopeOper": "The account scope operator",
                "Action": "Allow",
                "ActionCriteria": "The action criteria",
                "ActionCriteriaExpression": "The action criteria expression",
                "TargetField": "Target Field",
                "Message": "The action message",
                "ProductFamilyScope": [
                  "ProductFamily-1"
                ],
                "ProductFamilyScopeOper": "The product family scope operator",
                "ProductGroupScope": [
                  "ProductGroup-1"
                ],
                "ProductGroupScopeOper": "The product group scope operator",
                "ProductScope": [
                  "Product-1"
                ],
                "ProductScopeOper": "The product scope operator",
                "ValueExpression": "The value expression for the action"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
