openapi: 3.2.0
info:
  title: Conga Categories API
  version: 1.0.0
  description: 'Operations tagged Categories across 2 of this provider''s published API definitions: conga-administration.json, conga-catalog.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
- url: https://rls.congacloud.com/api/catalog/v1
security:
- Bearer: []
tags:
- name: Categories
paths:
  /categories:
    delete:
      tags:
      - Categories
      summary: Delete categories
      description: 'Deletes one or more categories based on the list of category IDs provided in the request body.



        The API deletes category records and records of association of category with products and price lists.'
      requestBody:
        description: The list of categories to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Categories
      summary: Retrieve categories
      description: Retrieves a list of all categories that exist in the system. The "filter" parameter only supports category name and category id for this API.
      parameters:
      - name: filter
        in: query
        description: The optional array of filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The optional array of related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Categories
      summary: Update categories
      description: Updates one or more categories based on the details provided in the request body.
      requestBody:
        description: The list of categories to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: CategoryName
              DefaultSearchCategory: true
              Description: Category description
              ExpandedByDefault: false
              GuidePage: Guide_Pagetest
              HideAllSearchFilters: false
              ImageURL: https://test.jpeg
              IncludeInTotalsView: false
              IsHidden: false
              IsLeaf: false
              IsPicklist: false
              Label: Label
              LargeImageURL: https://test.jpeg
              LongDescription: Description
              SearchFilterFields:
              - Family
              Ancestor: null
              AncestorPath: null
              Hierarchy: null
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Categories
      summary: Create categories
      description: 'Creates one or more category based on the input provided in the request body.



        The API returns structure of each category created, with details provided in the request body.'
      requestBody:
        description: "Provide the details of the following fields to create categories:\n     <ul><li>Category Name</li><li>Description</li><li>Default Search Category</li><li>Expanded By Default</li><li>Include In Totals View</li><li>Hide All Search Filters</li><li>Long Description</li><li>Image</li><li>Search Filter Fields</li><li>Parent Category ID</li></ul>\n  If the parent category has products associate with it, the API throws an error."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Category'
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{Id}:
    delete:
      tags:
      - Categories
      summary: Delete a category
      description: Deletes a single category based on the category ID provided in the parameter. The API deletes the specific category record and records of association of the specific category with its products.
      parameters:
      - name: Id
        in: path
        description: The ID of the category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Categories
      summary: Retrieve a category
      description: Retrieves a single category record.
      parameters:
      - name: Id
        in: path
        description: The ID of the category
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: The optional array of related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Category'
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
            text/json:
              schema:
                $ref: '#/components/schemas/Category'
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RevenueException'
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
            text/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
    patch:
      tags:
      - Categories
      summary: Update a category
      description: Updatess a single category record.
      parameters:
      - name: Id
        in: path
        description: The ID of the category
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the category
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: CategoryName
              DefaultSearchCategory: true
              Description: Category description
              ExpandedByDefault: false
              GuidePage: Guide_Pagetest
              HideAllSearchFilters: false
              ImageURL: https://test.jpeg
              IncludeInTotalsView: false
              IsHidden: false
              IsLeaf: false
              IsPicklist: false
              Label: Label
              LargeImageURL: https://test.jpeg
              LongDescription: Description
              SearchFilterFields:
              - Family
              Ancestor: null
              AncestorPath: null
              Hierarchy: null
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{categoryId}/price-lists:
    get:
      tags:
      - Categories
      summary: Get price lists
      description: 'Gets price list records for a given category. Your request can set

        the number of records returned per page and the total number of pages.'
      parameters:
      - name: categoryId
        in: path
        description: ''
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: ''
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{category}/bulk:
    post:
      tags:
      - Categories
      summary: Add multiple existing categories under another category
      description: Add multiple existing categories under given category id.
      parameters:
      - name: category
        in: path
        description: Destination Category Id
        required: true
        schema:
          type: string
      requestBody:
        description: 'SourceCategories : Existing category ids which should be added under destination category'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAddExistingCategoryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BulkAddExistingCategoryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkAddExistingCategoryRequest'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{id}/add:
    post:
      tags:
      - Categories
      summary: Add an existing category along with child categories and product associations under given destination category id.
      description: Add an existing category along with child categories and product associations under given destination category id.
      parameters:
      - name: id
        in: path
        description: Destination Category Id
        required: true
        schema:
          type: string
      requestBody:
        description: 'SourceCategory : Existing category id which should be added under destination Category'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddExistingCategoryRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/AddExistingCategoryRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AddExistingCategoryRequest'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      deprecated: true
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{id}/products:
    get:
      tags:
      - Categories
      summary: Retrieve a product category
      description: Retrieves a single product category.
      parameters:
      - name: id
        in: path
        description: The ID of the category
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{parentId}/product-categories:
    delete:
      tags:
      - Categories
      summary: Delete product categories
      description: Deletes one or more product categories from a specified product based on the parameters and request body.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Categories
      summary: Retrieve product categories
      description: Retrieves the product category records for a category.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: The filter
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: The included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Categories
      summary: Update product categories
      description: Updates multiple product categories.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Default: true
              DefaultQuantity: 1
              MaxQuantity: 100
              MinQuantity: 1
              Modifiable: true
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Categories
      summary: Create product categories
      description: Creates multiple product categories.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      requestBody:
        description: The list of product categories to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductCategory'
      responses:
        '201':
          description: Created
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{parentId}/product-categories/{id}:
    delete:
      tags:
      - Categories
      summary: Delete a product category
      description: Deletes a product category by ID.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Categories
      summary: Retrieve a product category
      description: Retrieves a product category by ID.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to fetch
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Categories
      summary: Update a product category
      description: Updates a product category.
      parameters:
      - name: parentId
        in: path
        description: The parent ID
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the product category to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated fields of the product category
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              Product:
                Id: Product-Id
                Name: Product-Name
              Default: true
              DefaultQuantity: 1
              MaxQuantity: 100
              MinQuantity: 1
              Modifiable: true
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/revenue-admin/v1
  /categories/{categoryId}:
    get:
      tags:
      - Categories
      summary: Get category details
      description: 'Retrieves the details of a category and its child categories by category ID and price list ID. The API returns such category details as category name, description, and hierarchy ID. The API also returns details of a sub-category''s parent and child categories.

        <p> When you pass a category ID, the API retrieves all products associated with it in the price list. When you pass <i>All</i> as the category ID, the API retrieves all products across all categories for the price list.</p>'
      parameters:
      - name: pricelistid
        in: header
        description: The price list ID that is used to filter the records associated with it.
        schema:
          type: string
      - name: categoryId
        in: path
        description: The category ID to retrieve the records associated with it.
        required: true
        schema:
          type: string
      - name: cartId
        in: header
        description: Pass a cart id to filter the data relative to a specific cart
        schema:
          type: string
          default: ''
      - name: depth
        in: query
        description: Enter the depth of the category hierarchy. The API retrieves the details of all sub-categories until that level.
        schema:
          type: string
      - name: configName
        in: query
        description: Config Name that stores the Category search response field list
        schema:
          type: string
          default: ResponseFieldList_Default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
  /categories/{categoryId}/products:
    get:
      tags:
      - Categories
      summary: Retrieve all products in a category
      description: 'Retrieves all active products associated with the provided category ID and price list ID. This can be the ID of the leaf category, sub-category, or root category.

        <p>For a leaf category, the API returns all products associated with it. If the ID of the root or sub-category (not a leaf category ID) is provided, the API returns all the products associated with all child categories. By default, the API returns the following fields with results sorted alphabetically by Product Name.</p><ul><li>Product Name</li><li>Product Code</li><li>Product Description</li><li>Product Family</li><li>List Price</li><li>Charge Type</li><li>The image associated with the product.</li></ul>'
      parameters:
      - name: pricelistid
        in: header
        description: Enter the ID of the price list associated with the products to narrow down the search.
        schema:
          type: string
      - name: categoryId
        in: path
        description: Enter the category ID, typically the classification hierarchy ID.
        required: true
        schema:
          type: string
      - name: storeFrontId
        in: header
        description: ''
        schema:
          type: string
      - name: filter
        in: query
        description: Add conditional filters in standard URI format to narrow down the search result.
        schema:
          type: array
          items:
            type: string
      - name: query
        in: query
        description: Enter the name of the product to narrow down the search result. The API can only match a maximum of 20 characters. If the input string is longer than 20 characters, the API retrieves products where the product name matches the first 20 characters of the search string.
        schema:
          type: string
      - name: includes
        in: query
        description: Add the list of related objects that are associated with the product to include them in the search result.
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Enter the fields and sort order for the result. Add multiple fields to sort the result further. By default, sort order is ascending based on relevance.
        schema:
          type: string
      - name: page
        in: query
        description: Enter the page number of the search result from where to view the result.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Enter the number of records to display on each page. By default, the API displays 50 records on each page. A maximum of 500 records are displayed on each page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: cartId
        in: header
        description: Enter the cart Id
        schema:
          type: string
          default: ''
      - name: productSortEmptyFirst
        in: query
        description: Flag to place products with null values in the sorting field at first or last in the list.
        schema:
          type: boolean
          default: false
      - name: disableCurrencyConversion
        in: query
        description: Flag to enable/disable the currency conversion of price list items
        schema:
          type: boolean
          default: false
      - name: configName
        in: query
        description: Product search response field list
        schema:
          type: string
          default: ResponseFieldList_Default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
  /categories/{categoryId}/services:
    post:
      tags:
      - Categories
      summary: Retrieve all service products in a category
      description: 'Retrieves all active service products associated with the provided category ID and price list ID. This can be the ID of the leaf category, sub-category, or root category.

        <p>For a leaf category, the API returns all service products associated with it. If the ID of the root or sub-category (not a leaf category ID) is provided, the API returns all the products associated with all child categories. By default, the API returns the following fields with results sorted alphabetically by Product Name.</p><ul><li>Product Name</li><li>Product Code</li><li>Product Description</li><li>Product Family</li><li>List Price</li><li>Charge Type</li><li>The image associated with the product.</li></ul>'
      parameters:
      - name: pricelistid
        in: header
        description: Enter the ID of the price list associated with the products to narrow down the search.
        schema:
          type: string
      - name: categoryId
        in: path
        description: Enter the category ID, typically the classification hierarchy ID.
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Add conditional filters in standard URI format to narrow down the search result.
        schema:
          type: array
          items:
            type: string
      - name: query
        in: query
        description: Enter the name of the product to narrow down the search result. The API can only match a maximum of 20 characters. If the input string is longer than 20 characters, the API retrieves products where the product name matches the first 20 characters of the search string.
        schema:
          type: string
      - name: includes
        in: query
        description: Add the list of related objects that are associated with the product to include them in the search result.
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Enter the fields and sort order for the result. Add multiple fields to sort the result further. By default, sort order is ascending based on relevance.
        schema:
          type: string
      - name: page
        in: query
        description: Enter the page number of the search result from where to view the result.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Enter the number of records to display on each page. By default, the API displays 50 records on each page. A maximum of 500 records are displayed on each page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: cartId
        in: header
        description: Enter the cart Id
        schema:
          type: string
          default: ''
      - name: productSortEmptyFirst
        in: query
        description: Flag to place products with null values in the sorting field at first or last in the list.
        schema:
          type: boolean
          default: false
      - name: disableCurrencyConversion
        in: query
        description: Flag to enable/disable the currency conversion of price list items
        schema:
          type: boolean
          default: false
      - name: configName
        in: query
        description: Product search response field list
        schema:
          type: string
          default: ResponseFieldList_Default
      requestBody:
        description: Input needed to list the service products.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Catalog.Manager.Models.SearchServiceProductsInput'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Catalog.Manager.Models.SearchServiceProductsInput'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Catalog.Manager.Models.SearchServiceProductsInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Catalog.Manager.Models.SearchServiceProductsInput'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
    servers:
    - url: https://rls.congacloud.com/api/catalog/v1
components:
  schemas:
    RuntimeTypeHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/FieldAttributes'
        FieldType:
          $ref: '#/components/schemas/Type'
        IsInitOnly:
          type: boolean
          readOnly: true
        IsLiteral:
          type: boolean
          readOnly: true
        IsNotSerialized:
          type: boolean
          readOnly: true
          deprecated: true
        IsPinvokeImpl:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        FieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    CustomAttributeTypedArgument:
      type: object
      properties:
        ArgumentType:
          $ref: '#/components/schemas/Type'
        Value: {}
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    Assembly:
      type: object
      properties:
        DefinedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        ExportedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        CodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        EntryPoint:
          $ref: '#/components/schemas/MethodInfo'
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        ImageRuntimeVersion:
          type:
          - string
          - 'null'
          readOnly: true
        IsDynamic:
          type: boolean
          readOnly: true
        Location:
          type:
          - string
          - 'null'
          readOnly: true
        ReflectionOnly:
          type: boolean
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        IsFullyTrusted:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        EscapedCodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        ManifestModule:
          $ref: '#/components/schemas/Module'
        Modules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        GlobalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        HostContext:
          type: integer
          format: int64
          readOnly: true
        SecurityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    BulkAddExistingCategoryRequest:
      type: object
      properties:
        SourceCategories:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    IntPtr:
      type: object
      additionalProperties: false
    PropertyInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        PropertyType:
          $ref: '#/components/schemas/Type'
        Attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        CanRead:
          type: boolean
          readOnly: true
        CanWrite:
          type: boolean
          readOnly: true
        GetMethod:
          $ref: '#/components/schemas/MethodInfo'
        SetMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        MemberInfo:
          $ref: '#/components/schemas/MemberInfo'
        TypedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        MemberName:
          type:
          - string
          - 'null'
          readOnly: true
        IsField:
          type: boolean
          readOnly: true
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    TypeInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
        GenericTypeParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        DeclaredConstructors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        DeclaredEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        DeclaredFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        DeclaredMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        DeclaredMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        DeclaredNestedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        DeclaredProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        ImplementedInterfaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        Member:
          $ref: '#/components/schemas/MemberInfo'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        ParameterType:
          $ref: '#/components/schemas/Type'
        Position:
          type: integer
          format: int32
          readOnly: true
        IsIn:
          type: boolean
          readOnly: true
        IsLcid:
          type: boolean
          readOnly: true
        IsOptional:
          type: boolean
          readOnly: true
        IsOut:
          type: boolean
          readOnly: true
        IsRetval:
          type: boolean
          readOnly: true
        DefaultValue:
          readOnly: true
        RawDefaultValue:
          readOnly: true
        HasDefaultValue:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ProductCategory:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        Category:
          $ref: '#/components/schemas/LookupObject'
        Default:
          type:
          - boolean
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        Modifiable:
          type:
          - boolean
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        Product:
          Id: Product-Id
          Name: Product-Name
        Default: true
        DefaultQuantity: 1
        MaxQuantity: 100
        MinQuantity: 1
        Modifiable: true
        Sequence: 1
    StructLayoutAttribute:
      type: object
      properties:
        TypeId:
          readOnly: true
        Value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    AddExistingCategoryRequest:
      type: object
      properties:
        SourceCategory:
          type:
          - string
          - 'null'
      additionalProperties: false
    ModuleHandle:
      type: object
      properties:
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    Category:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        DefaultSearchCategory:
          type:
          - boolean
          - 'null'
        Description:
          type:
          - string
          - 'null'
        ExpandedByDefault:
          type:
          - boolean
          - 'null'
        GuidePage:
          type:
          - string
          - 'null'
        HideAllSearchFilters:
          type:
          - boolean
          - 'null'
        ImageURL:
          type:
          - string
          - 'null'
        IncludeInTotalsView:
          type:
          - boolean
          - 'null'
        IsHidden:
          type:
          - boolean
          - 'null'
        IsLeaf:
          type:
          - boolean
          - 'null'
        IsPicklist:
          type:
          - boolean
          - 'null'
        Label:
          type:
          - string
          - 'null'
        LargeImageURL:
          type:
          - string
          - 'null'
        LongDescription:
          type:
          - string
          - 'null'
        SearchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        Ancestor:
          $ref: '#/components/schemas/LookupObject'
        AncestorPath:
          type:
          - string
          - 'null'
        Hierarchy:
          $ref: '#/components/schemas/LookupObject'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: CategoryName
        DefaultSearchCategory: true
        Description: Category description
        ExpandedByDefault: false
        GuidePage: Guide_Pagetest
        HideAllSearchFilters: false
        ImageURL: https://test.jpeg
        IncludeInTotalsView: false
        IsHidden: false
        IsLeaf: false
        IsPicklist: false
        Label: Label
        LargeImageURL: https://test.jpeg
        LongDescription: Description
        SearchFilterFields:
        - Family
        Ancestor: null
        AncestorPath: null
        Hierarchy: null
        Sequence: 1
    CustomAttributeData:
      type: object
      properties:
        AttributeType:
          $ref: '#/components/schemas/Type'
        Constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        ConstructorArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        NamedArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    Type:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    RuntimeMethodHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    ConstructorInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/EventAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        AddMethod:
          $ref: '#/components/schemas/MethodInfo'
        RemoveMethod:
          $ref: '#/components/schemas/MethodInfo'
        RaiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        IsMulticast:
          type: boolean
          readOnly: true
        EventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    Module:
      type: object
      properties:
        Assembly:
          $ref: '#/components/schemas/Assembly'
        FullyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
        ModuleVersionId:
          type: string
          format: uuid
          readOnly: true
        ScopeName:
          type:
          - string
          - 'null'
          readOnly: true
        ModuleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    Exception:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        ReturnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        ReturnType:
          $ref: '#/components/schemas/Type'
        ReturnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    RevenueException:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        featureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        productOptionComponents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        parentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        productAttributeGroupMember:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        rootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        optionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        productGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        componentProductName:
          type:
          - string
          - 'null'
        componentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        parentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        productOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        defaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type:
          - boolean
          - 'null'
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type:
          - boolean
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        modifiableType:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        defaultValue:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        isRequired:
          type:
          - boolean
          - 'null'
        lookupObjectName:
          type:
          - string
          - 'null'
        pickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        type:
          type:
          - string
          - 'null'
        helpText:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        createdBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type:
          - string
          - 'null'
        modifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        currency:
          type:
          - string
          - 'null'
        digest:
          type:
          - string
          - 'null'
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        autoCascadeQuantity:
          type:
          - boolean
          - 'null'
        autoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        autoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoUpdateQuantity:
          type:
          - boolean
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        contractItemNumber:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        contractPrice:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        defaultPriceDatasource:
          type:
          - string
          - 'null'
        defaultPriceFrom:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        defaultQuantityDatasource:
          type:
          - string
          - 'null'
        defaultQuantityFrom:
          type:
          - string
          - 'null'
        defaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        disableAssetIntegration:
          type:
          - boolean
          - 'null'
        disableCostModel:
          type:
          - boolean
          - 'null'
        disableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableAutoRampCreation:
          type:
          - boolean
          - 'null'
        enableCommitment:
          type:
          - boolean
          - 'null'
        enableRampCreation:
          type:
          - boolean
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        frequency:
          type:
          - string
          - 'null'
        hasCriteria:
          type:
          - boolean
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        isProductActive:
          type:
          - boolean
          - 'null'
        isTaxable:
          type:
          - boolean
          - 'null'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        isQuantityReadOnly:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productDescription:
          type:
          - string
          - 'null'
        productFamily:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
[...]
