openapi: 3.2.0
info:
  title: Conga Sign Account Designer Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountDesignerSettings
paths:
  /v1/cs-account/admin/accountSettings/designerSettings:
    delete:
      tags:
      - AccountDesignerSettings
      summary: Deletes any Designer settings that you may have configured. Your Designer settings will be returned to their default values.
      description: Deletes customized Designer settings
      operationId: AccountDesignerSettings_DeleteAccountDesignerSettings
      responses:
        '204':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountDesignerSettings
      summary: Retrieves your current Designer settings. Retrieved values include any customizations you may have made, as well as any current default values.
      description: Retrieves your current Designer settings
      operationId: AccountDesignerSettings_GetAccountDesignerSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDesignerSettings'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    patch:
      tags:
      - AccountDesignerSettings
      summary: Updates your account Designer settings. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes.
      description: Updates your Designer settings
      operationId: AccountDesignerSettings_UpdateAccountDesignerSettings
      requestBody:
        x-name: accountDesignerSettings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDesignerSettings'
        required: true
        x-position: 1
      responses:
        '204':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    AccountDesignerSettings:
      type: object
      description: This class contains properties for the Account Designer Settings
      additionalProperties: false
      properties:
        send:
          type:
          - boolean
          - 'null'
          description: Defines whether the "Send" button is visible in transaction designer.
        done:
          type:
          - boolean
          - 'null'
          description: Specifies whether the "Done" button is visible in template designer.
        settings:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can update the template/transaction settings from the Designer.
        documentVisibility:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can configure the visibility of documents.
        addDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can add documents from the Designer.
        editDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can edit documents from the Designer.
        deleteDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can delete documents from the Designer.
        addSigner:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can add recipients from the Designer.
        editRecipient:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can edit recipients from the Designer.
        rolePickerSender:
          type:
          - boolean
          - 'null'
          description: Defines whether the template/transaction owner is displayed within the recipients list in the Designer.
        saveLayout:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can save layouts.
        applyLayout:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can apply layouts to documents.
        showSharedLayouts:
          type:
          - boolean
          - 'null'
          description: Defines whether shared layouts will be displayed by default when applying a layout.
        defaultSignatureType:
          type: string
          description: Defines the default signature type that will be used when a signature is added to the document.
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
