openapi: 3.2.0
info:
  title: X-Author Fields Validate API
  version: v1
  description: This class contains API endpoints for document field validation operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: FieldsValidate
  description: This class contains API endpoints for document field validation operations.
paths:
  /api/xauthor/v1/objects/{objectName}/{objectId}/fields/{fieldAPI}/validate:
    post:
      tags:
      - FieldsValidate
      summary: Validates the fields in a document for a given object and field API name.
      parameters:
      - name: objectName
        in: path
        description: Name of the object to validate fields for.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Name of the object to validate fields for.
      - name: objectId
        in: path
        description: ID of the object to validate fields for.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: ID of the object to validate fields for.
      - name: fieldAPI
        in: path
        description: API name of the field to validate.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: API name of the field to validate.
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing information required to validate fields in the document.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldsValidationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldsValidationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldsValidationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldsValidationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Model.Model.Response.FieldValidationResponse:
      type: object
      properties:
        fieldValidationDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Fields.FieldValidationDetail'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.FieldsValidationRequest:
      type: object
      properties:
        currentValue:
          type:
          - string
          - 'null'
        datatype:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        lookupDetails:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.LookupDetails'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.LookupDetails:
      type: object
      properties:
        referenceObjectName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Fields.FieldValidationDetail:
      type: object
      properties:
        contentControlId:
          type: integer
          format: int64
          deprecated: true
        fieldMetadataId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        fieldDisplayName:
          type:
          - string
          - 'null'
        currentText:
          type:
          - string
          - 'null'
        previousText:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
        pickListValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isValid:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
