{
  "openapi": "3.0.0",
  "info": {
    "title": "Approvals",
    "description": "\nThe Approvals API is used to submit, preview, and retrieve approval processes.\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/approvals"
    }
  ],
  "paths": {
    "/v1/activities/{objectType}/{objectId}": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get approval activities for a context object",
        "description": "Gets all approval activities for a context object.",
        "operationId": "Activities_GetActivities",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "description": "The context object type",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "description": "The context object ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "isExternalId",
            "in": "query",
            "description": "True if object ID is an external ID",
            "schema": {
              "type": "boolean"
            },
            "x-position": 3
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order for list of comments by date. Supported orders are ASC or DESC. Default is DESC",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 6
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "A list of comments for the context object, including date and commenter information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprovalComments"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/adhoc-process": {
      "post": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Define an ad hoc process",
        "description": "Posts ad hoc process definition and returns the defined process information.",
        "operationId": "AdhocProcess_Save",
        "requestBody": {
          "x-name": "request",
          "description": "AdhocProcessDefnPayloadDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/adhoc-process/submit": {
      "post": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Submit adhoc approval",
        "description": "Submits adhoc approval for the given object ID and type.",
        "operationId": "AdhocProcess_Submit",
        "requestBody": {
          "x-name": "submitPayload",
          "description": "The objectId, objectType, comments, and attachment IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhocSubmitApprovalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the RuntimeApprovalsResponse payload, containing all request and approval information for the submitted object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/adhoc-process/{objectType}/{objectId}": {
      "delete": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Delete the adhoc Approvals",
        "description": "Delete the adhoc Approvals.",
        "operationId": "AdhocProcess_DeleteAdhocProcessDefinition",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Boolean (`true` if deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Get an ad hoc process",
        "description": "Gets the ad hoc process associated with a given context object type and identifier after it has been saved but before it has been submitted.",
        "operationId": "AdhocProcess_GetAdhocProcessDefinition",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "description": "The context object type",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "description": "The unique context object identifier",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Ad hoc process definition. AdhocProcessDefnPayloadDTO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/adhoc-process/{objectType}/{objectId}/post-submit": {
      "get": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Get a submitted ad hoc process",
        "description": "Gets an ad hoc process definition after it has been submitted.",
        "operationId": "AdhocProcess_PostSubmit",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "description": "The context object type",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "description": "The unique context object identifier",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "AdhocProcessDefnPayloadDTO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/adhoc-process/{objectType}/{objectId}/resubmit": {
      "post": {
        "tags": [
          "AdhocProcess"
        ],
        "summary": "Resubmit an ad hoc process",
        "description": "Submits all data from an ad hoc process that has already been submitted.",
        "operationId": "AdhocProcess_ReSubmitApproval",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "description": "The context object type",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "description": "The unique context object identifier",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "inputPayload",
          "description": "AdhocProcessDefnPayloadDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "AdhocProcessDefnPayloadDTO",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdhocProcessDefnPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/async-operation-status/{correlationId}": {
      "get": {
        "tags": [
          "AsyncOperationStatus"
        ],
        "summary": "Get Async Operation Status by correlation id",
        "description": "Gets Async Operation Status by correlation id.",
        "operationId": "AsyncOperationStatus_GetByCorrelationId",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "description": "The correlation ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "An Async Operation for the correlation id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatusAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-admin": {
      "delete": {
        "tags": [
          "BackupAdmin"
        ],
        "summary": "Delete the backup administrator",
        "description": "Delete the backup admin user.",
        "operationId": "BackupAdmin_DeleteBackupAdminUser",
        "responses": {
          "200": {
            "description": "Boolean (`true` if deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "BackupAdmin"
        ],
        "summary": "Get the backup administrator",
        "description": "Retrieves details on the currently logged-in user's backup administrator.",
        "operationId": "BackupAdmin_GetBackupAdminUser",
        "responses": {
          "200": {
            "description": "Backup admin's user info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminUserResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "BackupAdmin"
        ],
        "summary": "Save the backup administrator",
        "description": "Create or update the backup admin user.",
        "operationId": "BackupAdmin_UpsertBackupAdminUser",
        "requestBody": {
          "x-name": "backupAdminUser",
          "description": "The BackupAdminUser",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupAdminUser"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "The backup admin user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupAdminUser"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-delegates": {
      "post": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Create or update backup or delegate approvers",
        "description": "Writes (posts) a new backup or delegate approver or updates the information for an existing backup or delegate approver.",
        "operationId": "BackupDelegates_SaveBackupDelegates",
        "requestBody": {
          "x-name": "backupDelegatePayload",
          "description": "The backup/delegate payload. This contains settings for backup or delegate approvers,\n            such as UserInfo, EffectiveDate, ExpirationDate, backupApproverId, currentUserId, transferInflight, and IsDelegate = true if assigning a delegate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupDelegateDTO"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Backup or delegate approver information (BackupDelegateDTO).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDelegateDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "List backup and delegate approvers",
        "description": "Returns a list of backup and delegate approvers.",
        "operationId": "BackupDelegates_Search",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackupDelegateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-delegates/stats": {
      "get": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Count backup and delegate approvers",
        "description": "Returns a count of backup and delegate approvers.",
        "operationId": "BackupDelegates_GetActiveInactiveCount",
        "responses": {
          "200": {
            "description": "A count of backup or delegate approvers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDelegateApproverCountPayloadDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-delegates/{id}": {
      "delete": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Delete a backup or delegate approver",
        "description": "Delete a backup or delegate approver by ID.",
        "operationId": "BackupDelegates_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The backup or delegate's ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Boolean (`true` if deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Get a backup or delegate approver",
        "description": "Returns a backup or delegate approver by ID.",
        "operationId": "BackupDelegates_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDelegateDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-delegates/{id}/activate": {
      "post": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Activate a backup or delegate",
        "description": "Activates a backup or delegate by record ID.",
        "operationId": "BackupDelegates_Activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The backup or delegate's ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "continueOnValidate",
            "in": "query",
            "description": "If true, backup or delegate approver will still be activated even if EffectiveDate is in the future",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "bool",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDelegateDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/backup-delegates/{id}/deactivate": {
      "post": {
        "tags": [
          "BackupDelegates"
        ],
        "summary": "Deactivate a backup or delegate",
        "description": "Deactivates a backup or delegate by record ID.",
        "operationId": "BackupDelegates_DeActivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The backup or delegate's ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "bool",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupDelegateDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List business object types",
        "description": "Returns a list of available business object types, such as opportunity,\nagreement, proposal, product configuration, line item, agreement\nclause, and agreement line item.",
        "operationId": "BusinessObjects_GetBusinessObjects",
        "responses": {
          "200": {
            "description": "A list of available business object types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessObjects"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/assignee-picklists": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List all business objects' assignee type values",
        "description": "Lists valid assignee type values for all business objects.\nUsed in the Related User assignee type for a process step as the assignee ID.",
        "operationId": "BusinessObjects_GetAssigneePicklists",
        "responses": {
          "200": {
            "description": "The list of fields for a business object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeTypePicklistItemResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/assignee-picklists": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List a business object's assignee type values",
        "description": "Lists valid assignee type picklist values for a business object.\nUsed in the the Related User assignee type for a process step as the assignee ID.",
        "operationId": "BusinessObjects_GetAssigneePicklistsByBusinessObject",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The list of fields for a business object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeTypePicklistItemResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/category/{emailTemplateCategory}/email-templates": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List email templates for business object and category",
        "description": "Retrieves email templates for a specific business object and email category. Use to find templates for a named object type within a particular category.",
        "operationId": "BusinessObjects_GetEmailTemplatesByBusinessObjectAndEmailTemplateCategory",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "emailTemplateCategory",
            "in": "path",
            "required": true,
            "description": "The email category",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "List of email templates for business object and category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/child-types": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "Get a business object's child types",
        "description": "Returns a list of available child object types for the named business object.",
        "operationId": "BusinessObjects_GetChildObjectTypes",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A list of child object types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/custom-user-fields": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List a business object's custom user fields",
        "description": "Used in the Custom User assignee type for a process step.",
        "operationId": "BusinessObjects_GetCustomUserAssigneeFields",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A list of a business object's custom user fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomUserAssigneeFieldsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/custom-user-fields/{id}/validate": {
      "post": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "Validate a custom assignee",
        "description": "Validates a custom assignee payload for a business object.",
        "operationId": "BusinessObjects_ValidateCustomUserAssigneePayload",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The business object ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          },
          {
            "name": "assigneeType",
            "in": "query",
            "description": "Assignee type for custom assignee, \"Custom User\" by default",
            "schema": {
              "type": "string",
              "default": "Custom User",
              "nullable": true
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "customAssigneePayload",
          "description": "The custom assignee payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomAssigneePayload"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "Validate custom user fields for a business object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateCustomUserAssigneeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/email-templates": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List email templates for a specific business object type",
        "description": "Retrieves email templates for a specific business object. Use to find notification templates available for the named object type.",
        "operationId": "BusinessObjects_GetEmailTemplatesForBusinessObject",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "List of email templates for a specific business object type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/fields": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List a business object's fields",
        "description": "For a given business object, returns field information.",
        "operationId": "BusinessObjects_GetFieldsForBusinessObject",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The list of fields for a business object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FieldMetadataDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/processes": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List a business object's processes",
        "description": "Lists a business object's approval processes.\nIf active = true, this returns only active approval processes.\nIf active = false, this returns only inactive approval processes.\nIf active is unset (null), returns all approval processes.",
        "operationId": "BusinessObjects_GetProcessesForBusinessObject",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "active",
            "in": "query",
            "description": "Retrieve active processes",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 4
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 5
          },
          {
            "name": "sort_by_field",
            "in": "query",
            "description": "The field to sort by",
            "schema": {
              "type": "string",
              "default": "ModifiedDate"
            },
            "x-position": 6
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The direction to sort based on the field",
            "schema": {
              "default": "DESC",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all processes for a given business object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/reorder-processes": {
      "post": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "Reorder an approval process list",
        "description": "The order of the processes in the payload determines the new sequence after reorder.",
        "operationId": "BusinessObjects_ReorderProcess",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "processList",
          "description": "Each processList parameter contains `Id`, `Name`, `Active`, `IsAdHoc`,\n            `ObjectName`, `ObjectType`, `ProcessDesc`, `ProcessName`, `ProcessType`, `Sequence`.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "A list of the reordered approval processes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetOfApprovalProcess"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/rules": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "Get a business object's rules",
        "description": "Returns all business object rules that apply to a named business object.",
        "operationId": "BusinessObjects_GetAllRulesForBusinessObject",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 4
          },
          {
            "name": "sort_by_field",
            "in": "query",
            "description": "The field to sort by",
            "schema": {
              "type": "string",
              "default": "ModifiedDate"
            },
            "x-position": 5
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The direction to sort based on the field",
            "schema": {
              "default": "DESC",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 6
          },
          {
            "name": "active",
            "in": "query",
            "description": "Retrieve active processes",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "All rules for a business object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprovalRule"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/business-objects/{name}/rules/stats": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "Count all of a business object's rules",
        "description": "For a named business object, returns a count (dictionary object) of its active and inactive keys.",
        "operationId": "BusinessObjects_GetActiveInactiveCount",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary object with active and inactive keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/category/{emailTemplateCategory}/email-templates": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List email templates filtered by category",
        "description": "Retrieves email templates for a specific category. Use to find templates within a particular email category used in approval processes.",
        "operationId": "BusinessObjects_GetEmailTemplatesByEmailTemplateCategory",
        "parameters": [
          {
            "name": "emailTemplateCategory",
            "in": "path",
            "required": true,
            "description": "The email category",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "List of email templates filtered by category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/email-templates": {
      "get": {
        "tags": [
          "BusinessObjects"
        ],
        "summary": "List all available email templates",
        "description": "Retrieves all available email templates. Use to browse templates for approval notifications and correspondence. Results can be filtered by template name.",
        "operationId": "BusinessObjects_GetEmailTemplates",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "List of all available email templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Search approval processes",
        "description": "Searches approval processes by business object name and optional criteria, returning results up to the stated or default limit.",
        "operationId": "Process_GetAll",
        "parameters": [
          {
            "name": "businessObjectName",
            "in": "query",
            "required": true,
            "description": "The business object name",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter string (example: IsActive = 'true')",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number (default: 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 4
          },
          {
            "name": "sort_by_field",
            "in": "query",
            "description": "The field to sort by",
            "schema": {
              "type": "string",
              "default": "ModifiedDate"
            },
            "x-position": 5
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "The direction to sort based on the field",
            "schema": {
              "default": "DESC",
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ]
            },
            "x-position": 6
          },
          {
            "name": "active",
            "in": "query",
            "description": "Retrieve active processes",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all processes for a search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalsAPIResponseOfListOfApprovalProcessInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Create an approval process",
        "description": "Creates an approval process.",
        "operationId": "Process_Save",
        "requestBody": {
          "x-name": "approvalProcess",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalProcessLiteDTO"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "ApprovalProcess",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process-steps": {
      "post": {
        "tags": [
          "ProcessSteps"
        ],
        "summary": "Create an approval process step",
        "description": "Creates an approval process step based on several required parameters.",
        "operationId": "ProcessSteps_CreateApprovalProcessStep",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessStepRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Approval process step definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessStepDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "ProcessSteps"
        ],
        "summary": "Update an approval process step",
        "description": "Updates an approval process step, using several required parameters.",
        "operationId": "ProcessSteps_UpdateApprovalProcessStep",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessStepRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "An approval process definition including the updated step",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process-steps/validate": {
      "get": {
        "tags": [
          "ProcessSteps"
        ],
        "summary": "Check for a step",
        "description": "Checks for a step by name to validate its uniqueness for the current approval process.",
        "operationId": "ProcessSteps_ValidateExistingStepName",
        "parameters": [
          {
            "name": "approvalProcessId",
            "in": "query",
            "required": true,
            "description": "The process id to be validated.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "stepName",
            "in": "query",
            "required": true,
            "description": "The step name to be validated.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns `true` if the named step does not exist in the approval process and is available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process-steps/{id}": {
      "get": {
        "tags": [
          "ProcessSteps"
        ],
        "summary": "Get an approval process step",
        "description": "Gets an approval process step by process step ID.",
        "operationId": "ProcessSteps_GetApprovalProcessStep",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The requested approval process step",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessStepDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/reorder-processes": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Reorder a list of approval processes",
        "description": "The order of the processes provided in the payload will determine the new sequence after reorder.",
        "operationId": "Process_ReorderProcess",
        "requestBody": {
          "x-name": "processList",
          "description": "A list of the processes to be re-ordered",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "A list of the reordered approval processes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetOfApprovalProcess"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/stats": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Count active and inactive processes",
        "description": "Counts a business object's active and inactive processes.",
        "operationId": "Process_GetActiveInactiveCount",
        "parameters": [
          {
            "name": "businessObjectName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary object with `active` and `inActive` as keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/validate": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Check for a process",
        "description": "Checks for a process by name.",
        "operationId": "Process_Validate",
        "parameters": [
          {
            "name": "approvalProcessName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "businessObjectType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Returns `true` if the named process does not exist and the process name is available.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}": {
      "delete": {
        "tags": [
          "Process"
        ],
        "summary": "Delete an approval process",
        "description": "Deletes an approval process by its ID.",
        "operationId": "Process_DeleteById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Boolean (true if deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Get an approval process",
        "description": "Returns an approval process object by its ID.",
        "operationId": "Process_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The globally unique approval process platform ID.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an approval process object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Process"
        ],
        "summary": "Update an approval process",
        "description": "Updates an approval process by its ID.",
        "operationId": "Process_UpdateById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The approval process request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalProcessLiteDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "An approval process definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessLiteDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/activate": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Activate an approval process",
        "description": "Activates an approval process by its ID.",
        "operationId": "Process_Activate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "An approval process definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/clone": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Clone an approval process",
        "description": "Clones an approval process by its ID.",
        "operationId": "Process_Clone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "An approval process definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/deactivate": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Deactivate an approval process",
        "description": "Deactivates an approval process by its ID.",
        "operationId": "Process_Deactivate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "An approval process definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/process-steps": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Get approval process steps",
        "description": "Retrieves the steps for an approval process.",
        "operationId": "Process_GetApprovalProcessSteps",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A list of approval process steps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessStepDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/process-steps/{processStepId}": {
      "delete": {
        "tags": [
          "Process"
        ],
        "summary": "Delete an approval process step",
        "description": "Deletes an approval process step by its ID.",
        "operationId": "Process_DeleteProcessStepById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "processStepId",
            "in": "path",
            "required": true,
            "description": "The approval process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "An entire approval process and steps, without the deleted step",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Process"
        ],
        "summary": "Update an approval process step by ID",
        "description": "Updates an approval process step by ID, using several required parameters.",
        "operationId": "Process_UpdateProcessStepById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "processStepId",
            "in": "path",
            "required": true,
            "description": "The process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "The approval process step request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessStepRequest"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "An approval process definition including the updated step",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/process-steps/{processStepId}/activate": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Activate an approval process step",
        "description": "Activates an approval process step, by process and step IDs.",
        "operationId": "Process_ActivateStepById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "processStepId",
            "in": "path",
            "required": true,
            "description": "The approval process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "An approval process definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/process-steps/{processStepId}/deactivate": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Deactivate a process step",
        "description": "Deactivates a process step by approval process ID.",
        "operationId": "Process_DeactivateStepById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "processStepId",
            "in": "path",
            "required": true,
            "description": "The approval process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "An approval process definition, listing active steps without the deactivated step.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalProcessResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/process-steps/{processStepId}/step-dependencies": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "List all step dependencies",
        "description": "Retrieves the names of all steps that the given step is dependent on.",
        "operationId": "Process_GetDependentSteps",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "processStepId",
            "in": "path",
            "required": true,
            "description": "The approval process step ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all step names that the given step depends on",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/step-groups/{stepGroupId}/reorder": {
      "post": {
        "tags": [
          "Process"
        ],
        "summary": "Reorder approval process steps",
        "description": "Reorders the steps in an approval process.",
        "operationId": "Process_ReorderSteps",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "stepGroupId",
            "in": "path",
            "required": true,
            "description": "The process step group ID",
            "schema": {
              "type": "string"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "processStepGroup",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessStepGroupDTO"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "200": {
            "description": "Updated group information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessStepGroupDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/process/{id}/unreferenced-steps": {
      "get": {
        "tags": [
          "Process"
        ],
        "summary": "Get this step's dependencies",
        "description": "Retrieves dependencies, by step name, that are available to the current step.",
        "operationId": "Process_GetUnreferencedStepsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval process ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "currentStepId",
            "in": "query",
            "description": "The globally unique identfier for the current step.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "A list of possible stepNames that this step could depend on.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/attachments": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Get the approval request attachments",
        "description": "Gets attachments by request IDs.",
        "operationId": "Requests_GetAttachmentsByRequestIds",
        "requestBody": {
          "x-name": "requestIds",
          "description": "Array of requestId",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns request's Attachment activity with Document meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDocumentResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/bulk-approve": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Approve requests",
        "description": "Approves the given requests and offers the next available approvers, continuing those approval\nprocesses; otherwise, it checks for process completion.",
        "operationId": "Requests_ApproveMultiple",
        "requestBody": {
          "x-name": "request",
          "description": "The request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApproveRejectPayloadDTO"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Boolean: Returns `true` if all are approved; `false` if any fails.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/bulk-reassign": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Reassign requests",
        "description": "Reassigns multiple listed requests.",
        "operationId": "Requests_ReassignMultiple",
        "requestBody": {
          "x-name": "request",
          "description": "List of requests to be reassigned, including the request ID, the new assignee's ID and type, and comments.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ReassignMultipleRequest"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "A list of responses for each request. If reassigned, returns true and any error messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReassignMultipleResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/bulk-reject": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Reject approval requests",
        "description": "Rejects multiple requests.",
        "operationId": "Requests_RejectMultiple",
        "requestBody": {
          "x-name": "request",
          "description": "List of request IDs to be rejected, and any comments",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApproveRejectPayloadDTO"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Boolean: returns true if all are rejected; false if any rejection fails.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/bulk/{actionType}": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Bulk business object operations",
        "description": "Perform the named action types on business objects in bulk operation.",
        "operationId": "Requests_BulkProcessMultipleContextObjects",
        "parameters": [
          {
            "name": "actionType",
            "in": "path",
            "required": true,
            "description": "ActionType",
            "schema": {
              "$ref": "#/components/schemas/ActionType"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestContextObjects",
          "description": "ContextObjectRequestDTO",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContextObjectRequestDTO"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContextObjectResponseDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/check-required": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Check for objects requiring approval",
        "description": "Lists business objects and child objects requiring approval.",
        "operationId": "Requests_CheckRequired",
        "requestBody": {
          "x-name": "approvalRequiredCheckInfo",
          "description": "ApprovalRequiredCheckInfo",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalRequiredCheckInfo"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "ID type and approval status for each business object (businessObjectId) and its child objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequiredCheckInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/check-required-async": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Check for objects requiring approval asynchronously",
        "description": "Lists business objects and child objects requiring approval.",
        "operationId": "Requests_CheckRequired2",
        "requestBody": {
          "x-name": "approvalRequiredCheckInfo",
          "description": "ApprovalRequiredCheckInfo",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalRequiredCheckInfo"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "ID type and approval status for each business object (businessObjectId) and its child objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitBulkAsyncHttpResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/comments": {
      "put": {
        "tags": [
          "Requests"
        ],
        "summary": "Add comment to approval request",
        "description": "Adds comments to approval request",
        "operationId": "Requests_AddComments",
        "requestBody": {
          "x-name": "requestPayload",
          "description": "Payload encapsulates the request IDs , comments and attachments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentsRequestPayload"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Boolean. True if successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/process-escalation-reminders": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Process escalation reminder jobs",
        "description": "Finds and triggers all reminders and escalations (e.g., sends reminder email, etc.) that are due.",
        "operationId": "Requests_ProcessReminders",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/rfi": {
      "put": {
        "tags": [
          "Requests"
        ],
        "summary": "Reqeust an information about approval request",
        "description": "Reqeust an information about approval request",
        "operationId": "Requests_AddRFI",
        "requestBody": {
          "x-name": "requestPayload",
          "description": "Payload encapsulates the request IDs , attachments and Request for Information recipient.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RFIRequestPayload"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Boolean. True if successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/submit": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Submit for approval",
        "description": "Submits an object for approval by checking if any approval process meets the criteria for the given object ID and type.",
        "operationId": "Requests_Submit",
        "requestBody": {
          "x-name": "submitPayload",
          "description": "The objectId, objectType, comments, and attachment IDs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitApprovalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the RuntimeApprovalsResponse payload, containing all request and approval information for the submitted object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeApprovalsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/submit-async": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Submit an approval asynchronously",
        "description": "Submit objects for approval asynchronously, checking if any approval process meets the\ncriteria for the given context object ID and type. This asynchronous process allows you\nto submit many objects for approval.",
        "operationId": "Requests_Submit2",
        "requestBody": {
          "x-name": "submitAsyncHttpRequest",
          "description": "Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitBulkAsyncHttpRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "A correlation ID and a list of transactions performed, with object information and a success status for each item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitBulkAsyncHttpResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/{correlationId}/status": {
      "get": {
        "tags": [
          "Requests"
        ],
        "summary": "Get an approval request status",
        "description": "Gets an approval request status by correlation ID.",
        "operationId": "Requests_RequestStatus",
        "parameters": [
          {
            "name": "correlationId",
            "in": "path",
            "required": true,
            "description": "The correlation ID of the submitted request",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction information for the correlation ID, including operation status and any messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncOperationStatusAPIResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/{id}/adhoc-approver": {
      "put": {
        "tags": [
          "Requests"
        ],
        "summary": "Add an ad hoc approver",
        "description": "Adds a new approver to the running approval cycle in the position given in the reference step.",
        "operationId": "Requests_AddAdhocApproverToRuleBasedApprovalRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval request ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "description": "AddAdHocApproverPayloadDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAdHocApproverPayloadDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "The approval requests generated after adding an ad hoc approver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeApprovalsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Requests"
        ],
        "summary": "Delete an ad hoc approver",
        "description": "Deletes an ad hoc approver from a rule-based approval.",
        "operationId": "Requests_DeleteAdhocApproverFromRuleBasedApprovals",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval request ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "The approval requests remaining after deleting an ad hoc approver",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeApprovalsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/{id}/approve": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Approve a request",
        "description": "Approves the given request and offers the next available approvers, continuing the approval process;\notherwise, checks for process completion.",
        "operationId": "Requests_Approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The approval request ID",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "request",
          "description": "Contains approval request comments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRequestDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Boolean: `true` on approval or process completion; `false` on failures, for example approving\n            without appropriate permission.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/requests/{id}/escalate": {
      "post": {
        "tags": [
          "Requests"
        ],
        "summary": "Escalate an approval request",
        "description": "Raises an approval request to level set in escalationTold, configured by the user with the original step or rule.",
        "operationId": "Requests_Escalate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
[...]
