openapi: 3.2.0
info:
  title: Administration Related Price List Items API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Related Price List Items
paths:
  /price-list-items/{ParentId}/related-price-list-items:
    delete:
      tags:
      - Related Price List Items
      summary: Delete related price list items
      description: Deletes one or more related price list items from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Related Price List Items
      summary: Retrive related price list items
      description: Retrieves a collection of related price list items based on the parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Related Price List Items
      summary: Update related price list items
      description: Updates one or more related price list items in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              RelatedPLI:
                Id: RelatedPriceListItem-Id
                Name: RelatedPriceListItem-Name
              RelationType: Related Price
              RelatedAdjustmentAmount: 10
              RelatedAdjustmentType: Percentage
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Related Price List Items
      summary: Create related price list items
      description: Creates one or more related price list items to the collection. The parent price list item is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of related price list items to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RelatedPriceListItem'
      responses:
        '200':
          description: OK
  /price-list-items/{ParentId}/related-price-list-items/{Id}:
    delete:
      tags:
      - Related Price List Items
      summary: Delete a related price list item
      description: Deletes a single related price list item document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related price list item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Related Price List Items
      summary: Retrieve a related price list item
      description: Retrieves a single related price list item document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related price list item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Related Price List Items
      summary: Update a related price list item
      description: Update a single related price list item document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the related price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the related price list item
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              RelatedPLI:
                Id: RelatedPriceListItem-Id
                Name: RelatedPriceListItem-Name
              RelationType: Related Price
              RelatedAdjustmentAmount: 10
              RelatedAdjustmentType: Percentage
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    RelatedPriceListItem:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        PriceListItem:
          $ref: '#/components/schemas/LookupObject'
        RelatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        RelatedAdjustmentType:
          type:
          - string
          - 'null'
        RelatedChargeType:
          type:
          - string
          - 'null'
        RelatedCustomGroup:
          type:
          - string
          - 'null'
        RelatedCustomField:
          type:
          - string
          - 'null'
        RelatedPriceListItem:
          $ref: '#/components/schemas/LookupObject'
        RelatedProductFamily:
          type:
          - string
          - 'null'
        RelatedProductGroup:
          $ref: '#/components/schemas/LookupObject'
        RelatedProduct:
          $ref: '#/components/schemas/LookupObject'
        RelationType:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        RelatedPLI:
          Id: RelatedPriceListItem-Id
          Name: RelatedPriceListItem-Name
        RelationType: Related Price
        RelatedAdjustmentAmount: 10
        RelatedAdjustmentType: Percentage
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
