openapi: 3.2.0
info:
  title: X-Author Playbook Execution API
  version: v1
  description: 'Provides API endpoints for executing playbooks against contract documents

    and retrieving playbook execution results including clause and document rule outcomes.'
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: PlaybookExecution
  description: 'Provides API endpoints for executing playbooks against contract documents

    and retrieving playbook execution results including clause and document rule outcomes.'
paths:
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/execute:
    post:
      tags:
      - PlaybookExecution
      summary: Executes the specified playbook with the provided input document and returns the execution details.
      parameters:
      - name: playbookId
        in: path
        description: The unique identifier of the playbook to execute. Cannot be null or empty.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the playbook to execute. Cannot be null or empty.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: "An object containing the document content and file name to be used as input for the playbook execution.\n            Cannot be null."
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutePlaybookRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutePlaybookRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutePlaybookRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutePlaybookRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/contracts/{contractId}/playbooks/{playbookId}/executions/{executionId}/results:
    post:
      tags:
      - PlaybookExecution
      summary: Retrieves the playbook execution results including clause rule and document rule outcomes.
      parameters:
      - name: executionId
        in: path
        description: The unique identifier of the playbook execution.
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The unique identifier of the playbook execution.
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: playbookId
        in: path
        required: true
        schema:
          type: string
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request containing the document content and protection settings.
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookResultRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookResultRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookResultRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookResultRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookExecutionResults'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookExecutionResults'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.PlaybookExecutionResults'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Enum.XAAddInLoadType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        aiSuggestion:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ExecutePlaybookRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        fileName:
          type:
          - string
          - 'null'
        ruleIds:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartFieldRecommendation:
      type: object
      properties:
        fieldId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        dataType:
          type:
          - string
          - 'null'
        extractedValue:
          type:
          - string
          - 'null'
        recommendedValue:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        clauseId:
          type:
          - string
          - 'null'
        clauseReferenceId:
          type:
          - string
          - 'null'
        aiSuggestion:
          type:
          - string
          - 'null'
        semanticMatch:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        textualMatch:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        riskAlignment:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity'
        favorableCriteria:
          type:
          - string
          - 'null'
        unfavorableCriteria:
          type:
          - string
          - 'null'
        reviewStatus:
          type:
          - string
          - 'null'
        isNotFoundInDocument:
          type: boolean
        contentControlId:
          type: integer
          format: int64
        isMarkedAsRule:
          type: boolean
        smartFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseSmartFieldRecommendation'
        suggestionFound:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.PlaybookResultRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        docProtectionMode:
          type:
          - string
          - 'null'
        xaAddInLoadType:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.XAAddInLoadType'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ExecutionDetails:
      type: object
      properties:
        executionId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        executionDocumentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.PlaybookExecutionResults:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        shouldOpenNewInstance:
          type: boolean
        clauseRuleResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleResult'
        documentRuleResults:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.Redline.DocumentRuleResult'
      additionalProperties: false
    Conga.XAuthor.Common.Model.AI.Redline.ClauseRuleSimilarity:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        score:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
