openapi: 3.2.0
info:
  title: Conga Sign Account Feature Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountFeatureSettings
paths:
  /v1/cs-account/admin/accountSettings/featureSettings:
    delete:
      tags:
      - AccountFeatureSettings
      summary: Deletes and resets any customized Backoffice Feature settings.
      description: 'Deletes any Backoffice Feature settings that you may have changed. Your

        Backoffice Feature settings will be returned to their default values.'
      operationId: AccountFeatureSettings_DeleteAccountFeatureSettings
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountFeatureSettings
      summary: Retrieves a list of all your current Backoffice Feature settings.
      description: Retrieves your Backoffice Feature settings. These settings are used to enable or disable features in the Backoffice.
      operationId: AccountFeatureSettings_GetAccountFeatureSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFeatureSettings'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    patch:
      tags:
      - AccountFeatureSettings
      summary: 'Updates your Backoffice Feature settings with any or all changes. This

        call can be used to implement either some of the settings that you wish

        to change, or to implement all of your changes.'
      description: Update your Backoffice Feature settings with your new settings.
      operationId: AccountFeatureSettings_PatchAccountFeatureSettings
      requestBody:
        x-name: accountFeatureSettings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFeatureSettings'
        required: true
        x-position: 1
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    AccountFeatureSettings:
      type: object
      description: Account Feature Settings
      additionalProperties: false
      properties:
        allowCheckboxConsentApproval:
          type:
          - boolean
          - 'null'
          description: Allow Checkbox Consent Approval
        allowInPersonForAccountSenders:
          type:
          - boolean
          - 'null'
          description: Allow In Person For Account Senders
        allowSignersDownloadEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Allow Signers Download Evidence Summary
        attachments:
          type:
          - boolean
          - 'null'
          description: Attachments
        complianceVault:
          type:
          - boolean
          - 'null'
          description: Compliance Vault
        conditionalFields:
          type:
          - boolean
          - 'null'
          description: Conditional Fields
        customFields:
          type:
          - boolean
          - 'null'
          description: Custom Fields
        delegation:
          type:
          - boolean
          - 'null'
          description: Delegation
        deliverDocumentsByEmail:
          type:
          - boolean
          - 'null'
          description: Deliver Documents By Email
        disableFooter:
          type:
          - boolean
          - 'null'
          description: Disable Footer
        disableInPersonActivationEmail:
          type:
          - boolean
          - 'null'
          description: Disable In Person Activation Email
        documentVisibility:
          type:
          - boolean
          - 'null'
          description: Document Visibility
        emailDocumentsAndEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Email Documents And Evidence Summary
        enableRecipientHistory:
          type:
          - boolean
          - 'null'
          description: Enable Recipient History
        enforceAuth:
          type:
          - boolean
          - 'null'
          description: Enforce Auth
        evidenceSummary:
          type:
          - boolean
          - 'null'
          description: Evidence Summary
        flattenSignerDocuments:
          type:
          - boolean
          - 'null'
          description: Flatten Signer Documents
        forceLogin:
          type:
          - boolean
          - 'null'
          description: Force Login
        forceTransactionOwnerLogin:
          type:
          - boolean
          - 'null'
          description: Force Transaction Owner Login
        groups:
          type:
          - boolean
          - 'null'
          description: Groups
        imprintFields:
          type:
          - boolean
          - 'null'
          description: Imprint Fields
        inAppReports:
          type:
          - boolean
          - 'null'
          description: In App Reports
        maskResponse:
          type:
          - boolean
          - 'null'
          description: Mask Response
        mobileCapture:
          type:
          - boolean
          - 'null'
          description: Mobile Capture
        optionalSignature:
          type:
          - boolean
          - 'null'
          description: Optional Signature
        overrideRecipientsPreferredLanguage:
          type:
          - boolean
          - 'null'
          description: Override Recipients Preferred Language
        passwordManagement:
          type:
          - boolean
          - 'null'
          description: Password Management
        preventConsentRemoval:
          type:
          - boolean
          - 'null'
          description: Prevent Consent Removal
        qnaAuth:
          type:
          - boolean
          - 'null'
          description: Qna Auth
        sendToMobile:
          type:
          - boolean
          - 'null'
          description: Send To Mobile
        uploadSignatureImage:
          type:
          - boolean
          - 'null'
          description: Upload Signature Image
        limitSupportedLanguages:
          type:
          - boolean
          - 'null'
          description: Limit Supported Languages
        documentWidget:
          type:
          - boolean
          - 'null'
          description: Document Widget
        chooseSignature:
          type:
          - boolean
          - 'null'
          description: Choose Signature
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
