openapi: 3.2.0
info:
  title: X-Author Feature Settings API
  version: v1
  description: Controller to fetch the feature settings
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: FeatureSettings
  description: Controller to fetch the feature settings
paths:
  /api/xauthor/v1/feature-settings:
    get:
      tags:
      - FeatureSettings
      summary: Get external connection status
      description: Returns the status of the isExternalDataConnectionEnabled Boolean, indicating the status of the external data connection.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.XAuthorFeatureSettings'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.XAuthorFeatureSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.XAuthorFeatureSettings'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/feature-settings/ai:
    get:
      tags:
      - FeatureSettings
      summary: Get AI feature settings
      description: Retrieves AI feature setting details, specifically whether the Copilot, Clause Semantic, and Redline AI feature bits are enabled.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIFeatureSettings'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIFeatureSettings'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.AI.AIFeatureSettings'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/feature-settings/all:
    get:
      tags:
      - FeatureSettings
      summary: Get all feature settings
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureSetting'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureSetting'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureSetting'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.AI.AIFeatureSettings:
      type: object
      properties:
        isCopilotEnabled:
          type: boolean
        isClauseSemanticEnabled:
          type: boolean
        isRedlineAIEnabled:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo:
      type: object
      properties:
        value:
          type: boolean
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.FeatureSetting:
      type: object
      properties:
        contractFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.ContractFeatureSetting'
        templateFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.TemplateFeatureSetting'
        orgLevelFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.OrgLevelFeatureSetting'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.ContractFeatureSetting:
      type: object
      properties:
        aiContractFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.AIContractFeatureSettings'
        xAuthorContractFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.XAuthorContractFeatureSettings'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.OrgLevelFeatureSetting:
      type: object
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.XAuthorTemplateFeatureSetting:
      type: object
      additionalProperties: false
    Conga.XAuthor.Common.Model.XAuthorFeatureSettings:
      type: object
      properties:
        isExternalDataConnectionEnabled:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.TemplateFeatureSetting:
      type: object
      properties:
        aiFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.AITemplateFeatureSetting'
        xAuthorFeatureSettings:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.XAuthorTemplateFeatureSetting'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.AIContractFeatureSettings:
      type: object
      properties:
        isCopilotEnabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
        isClauseSemanticEnabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
        isRedlineAIEnabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
        isRedlineAIV2Enabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.AITemplateFeatureSetting:
      type: object
      properties:
        isAITemplateBuilderEnabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
      additionalProperties: false
    Conga.XAuthor.Common.Model.FeatureSetting.XAuthorContractFeatureSettings:
      type: object
      properties:
        isExternalDataConnectionEnabled:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.FeatureSetting.FeatureInfo'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
