openapi: 3.2.0
info:
  title: X-Author Field Data API
  version: v1
  description: This class contains API endpoints for field's marking-related operations.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: FieldData
  description: This class contains API endpoints for field's marking-related operations.
paths:
  /api/xauthor/v1/metadata/1/fields/retrieve-data:
    post:
      tags:
      - FieldData
      summary: Get Locale Based Formatted Field Values
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Document metadata
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.DataRetrievalRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.DataRetrievalRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.DataRetrievalRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.DataRetrievalRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Common.Model.Field.FieldMetadata:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        metadata:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.LocaleFormattedFieldResponse:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        clmValue:
          type:
          - string
          - 'null'
        clmValueLocalized:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        fieldDataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        currencySymbol:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.Field.DocumentProperty:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        isLocalizationEnabled:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.Field.DataRetrievalRequest:
      type: object
      properties:
        documentProperty:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.DocumentProperty'
        fieldMetadataList:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.Field.FieldMetadata'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
