openapi: 3.2.0
info:
  title: Conga Sign Virtual Room API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: VirtualRoom
paths:
  /v1/cs-packages/{packageId}/virtual-room/config:
    get:
      tags:
      - VirtualRoom
      summary: Retrieve a virtual room configuration
      description: 'Virtual rooms give you the ability to support your business using remote and online tools.

        Virtual rooms allow you to help your signers complete their transactions with the same level of support that

        they would get from a face to face interaction. This call allows you to retreive the configurations of a

        virtual room that has been created for a specific transaction.'
      operationId: VirtualRoom_GetVirtualRoomConfig
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRoom'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - VirtualRoom
      summary: Update a virtual room configuration
      description: Update the configuration of virtual room for specific package.
      operationId: VirtualRoom_PutVirtualRoomConfig
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: virtualRoom
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualRoom'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualRoom'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-packages/{packageId}/virtual-room/config/masked-fields:
    get:
      tags:
      - VirtualRoom
      summary: List masked fields
      description: "In a virtual-room transaction, returns a list of field ID's that are masked. These fields cannot\nbe seen by other signers in the Virtual Room transaction.\n            \nReturns a list of fields in following format: {documentId}-{approvalId}-{fieldId}."
      operationId: VirtualRoom_GetVirtualRoomMaskedFields
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    post:
      tags:
      - VirtualRoom
      summary: Define fields to be masked
      description: "In a Virtual Room transaction, returns a list of field id's that are masked. This means that these fields cannot\nbe seen by other signers in the Virtual Room transaction.\n            \nReturns a list of fields in following format: {documentId}-{approvalId}-{fieldId}."
      operationId: VirtualRoom_PostVirtualRoomMaskedFields
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: maskFields
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-packages/{packageId}/virtual-room/config/masked-fields/{maskedFieldId}:
    delete:
      tags:
      - VirtualRoom
      summary: Delete a masked field
      description: In a Virtual Room transaction, deletes a specified field from a list of other masked fields.
      operationId: VirtualRoom_DeleteVirtualRoomMaskedFieldsById
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      - name: maskedFieldId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - VirtualRoom
      summary: Add a masked field
      description: Adds a field to a list of masked fields in a Virtual Room transaction.
      operationId: VirtualRoom_PutVirtualRoomMaskedFieldsById
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      - name: maskedFieldId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-virtual-room-video/{packageId}/download-recording/{recordingUid}:
    get:
      tags:
      - VirtualRoom
      summary: Fetch a video file
      description: Fetches a video file by recording ID.
      operationId: VirtualRoom_GetVirtualRoomRecordingById
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      - name: recordingUid
        in: path
        required: true
        description: "UID of a recording returned by /virtual-room-video/{packageId}/recordings\n            \n             Example : bf5e90a8-d284-4a82-9792-42b940019821"
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
  /v1/cs-virtual-room-video/{packageId}/recordings:
    get:
      tags:
      - VirtualRoom
      summary: List available virtual room recordings
      description: Retrieves a list of available virtual room session recordings for a given package.
      operationId: VirtualRoom_GetVirtualRoomRecording
      parameters:
      - name: packageId
        in: path
        required: true
        description: The unique package Id.
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Recording:
      type: object
      description: Recording information.
      additionalProperties: false
      properties:
        uid:
          type: string
          description: Unique Recording ID.
        fileName:
          type: string
          description: Recording file name.
        creationDate:
          type: integer
          description: Recording creation date.
          format: int32
        fileSize:
          type: string
          description: Recording file size.
        fileFormat:
          type: string
          description: Recording file format (i.e. mp4).
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    VirtualRoom:
      type: object
      description: Package Virtual Room information.
      additionalProperties: false
      properties:
        video:
          type: boolean
          description: Check for Video option.
        videoRecording:
          type: boolean
          description: Check for Video Recording option.
        startDatetime:
          type: string
          description: Virtual Room start date and time.
          format: date-time
        hostUid:
          type: string
          description: Unique Virtual Room Host ID.
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
