{
  "openapi": "3.0.4",
  "info": {
    "title": "Cart - V1",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/cart/v1/business-objects/{businessObjectId}/carts/activate": {
      "post": {
        "tags": [
          "BusinessObject"
        ],
        "summary": "Launches the cart for a given business object ID and business object type.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "The business object identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specify the business object type like Proposal/Collaboration Request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FlowName",
            "in": "header",
            "description": "Header param FlowName",
            "schema": {
              "type": "string",
              "default": "system"
            }
          }
        ],
        "requestBody": {
          "description": "The product configuration to be overridden",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/business-objects/{businessObjectId}/carts/active": {
      "get": {
        "tags": [
          "BusinessObject"
        ],
        "summary": "Returns the readonly cart for the given business object ID and business object type.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "The business object identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specify the business object type like Proposal/Collaboration Request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/business-objects/{businessObjectId}/carts/reactivate": {
      "post": {
        "tags": [
          "BusinessObject"
        ],
        "summary": "Reactivates the cart syncing the fields from quote to cart.",
        "description": "Syncs fields from quote to cart and re-evaluates config rule, pricing and formula for lineitems.\nSupported OOTB fields to sync data from quote to cart are: Account, BillingPreferenc, BillToAccount, ShipToAccount, ExpectedStartDate, ExpectedEndDate, Location, Owner and PurchaseId\nOnly OOTB field - PurchaseId, is supported to sync the data from quote to cart and then to line items.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "The business object identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specify the business object type like Proposal.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/business-objects/{businessObjectId}/reactivate": {
      "post": {
        "tags": [
          "BusinessObject"
        ],
        "summary": "Please use the endpoint `POST /api/cart/v1/business-objects/{businessObjectId}/carts/reactivate` instead. This is deprecated.",
        "description": "Syncs fields from quote to cart and re-evaluates config rule, pricing and formula for lineitems.\nNote: No OOTB field is getting updated as of now.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "The business object identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Specify the business object type like Proposal/Collaboration Request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": true
      }
    },
    "/api/cart/v1/carts": {
      "delete": {
        "tags": [
          "Carts"
        ],
        "summary": "Delete carts",
        "description": "Deletes multiple carts from a submitted list.",
        "requestBody": {
          "description": "The list of carts to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get all carts",
        "description": "Retrieves the collection of all the carts.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Carts"
        ],
        "summary": "Update carts",
        "description": "Updates multiple carts from a list.",
        "requestBody": {
          "description": "The list of carts with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Create carts",
        "description": "Creates multiple carts from a list.",
        "requestBody": {
          "description": "The list of carts to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.ProductConfiguration"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/v1/carts/active": {
      "get": {
        "tags": [
          "CartActions"
        ],
        "summary": "Get the latest active cart",
        "description": "Gets the latest active cart, filtering carts with New and Saved status by default.\nPass the quote ID in the parameters. If the cart for the provided quote does not exist, this API creates a new cart. For an existing cart, the saved cart ID is returned.\nFor a newly created cart, the cart status is \"New\" and a new cart ID is generated.\nThe following fields are passed from the quote header to the newly created cart: Account, Price List, Status, Business Object, Business Object Type, Cart Effective Date, Expected Start Date, Expected End Date, Location, Quote/Proposal, Pricing Date, Payment Term, and Cart Name.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Add optional conditional filters in standard URI format to narrow the search result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/collaboration-request": {
      "get": {
        "tags": [
          "CollaborationRequest"
        ],
        "summary": "Get collaboration request details.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The filter.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sort.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/collaboration-request/{id}": {
      "delete": {
        "tags": [
          "CollaborationRequest"
        ],
        "summary": "Cancel/Delete collaboration request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "CollaborationRequest"
        ],
        "summary": "Get collaboration request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "CollaborationRequest"
        ],
        "summary": "Update collaboration request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The collaboration request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest"
              },
              "example": {
                "BillingPreference": {
                  "Id": "string",
                  "Name": "string"
                },
                "BillToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "CollaborationType": "Peer-To-Peer",
                "CompletionDueDate": "2024-01-10T00:00:00",
                "ConfigurationEffectiveDate": "2024-01-01T00:00:00",
                "Description": "Description",
                "IsParentCartVisible": true,
                "LegalEntity": {
                  "Id": "string",
                  "Name": "string"
                },
                "Location": {
                  "Id": "string",
                  "Name": "string"
                },
                "PaymentTerm": {
                  "Id": "string",
                  "Name": "string"
                },
                "PricingDate": "2024-01-01T00:00:00",
                "PrimaryContact": {
                  "Id": "string",
                  "Name": "string"
                },
                "Priority": "P1",
                "ShipToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "SingleTransactionAdjustment": true,
                "SoldToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "Specifications": "Specifications",
                "StartDate": "2024-01-01T00:00:00",
                "Type": "string",
                "RecordOwner": {
                  "Id": "owner-id",
                  "Name": "owner-name",
                  "OwnerType": "User"
                },
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedDate": "0001-01-01T00:00:00"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest"
              },
              "example": {
                "BillingPreference": {
                  "Id": "string",
                  "Name": "string"
                },
                "BillToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "CollaborationType": "Peer-To-Peer",
                "CompletionDueDate": "2024-01-10T00:00:00",
                "ConfigurationEffectiveDate": "2024-01-01T00:00:00",
                "Description": "Description",
                "IsParentCartVisible": true,
                "LegalEntity": {
                  "Id": "string",
                  "Name": "string"
                },
                "Location": {
                  "Id": "string",
                  "Name": "string"
                },
                "PaymentTerm": {
                  "Id": "string",
                  "Name": "string"
                },
                "PricingDate": "2024-01-01T00:00:00",
                "PrimaryContact": {
                  "Id": "string",
                  "Name": "string"
                },
                "Priority": "P1",
                "ShipToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "SingleTransactionAdjustment": true,
                "SoldToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "Specifications": "Specifications",
                "StartDate": "2024-01-01T00:00:00",
                "Type": "string",
                "RecordOwner": {
                  "Id": "owner-id",
                  "Name": "owner-name",
                  "OwnerType": "User"
                },
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedDate": "0001-01-01T00:00:00"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Cart.Manager.Model.UpdateCollaborationRequest"
              },
              "example": {
                "BillingPreference": {
                  "Id": "string",
                  "Name": "string"
                },
                "BillToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "CollaborationType": "Peer-To-Peer",
                "CompletionDueDate": "2024-01-10T00:00:00",
                "ConfigurationEffectiveDate": "2024-01-01T00:00:00",
                "Description": "Description",
                "IsParentCartVisible": true,
                "LegalEntity": {
                  "Id": "string",
                  "Name": "string"
                },
                "Location": {
                  "Id": "string",
                  "Name": "string"
                },
                "PaymentTerm": {
                  "Id": "string",
                  "Name": "string"
                },
                "PricingDate": "2024-01-01T00:00:00",
                "PrimaryContact": {
                  "Id": "string",
                  "Name": "string"
                },
                "Priority": "P1",
                "ShipToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "SingleTransactionAdjustment": true,
                "SoldToAccount": {
                  "Id": "string",
                  "Name": "string"
                },
                "Specifications": "Specifications",
                "StartDate": "2024-01-01T00:00:00",
                "Type": "string",
                "RecordOwner": {
                  "Id": "owner-id",
                  "Name": "owner-name",
                  "OwnerType": "User"
                },
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedDate": "0001-01-01T00:00:00"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/{Id}": {
      "delete": {
        "tags": [
          "Carts"
        ],
        "summary": "Delete a cart",
        "description": "Deletes a single cart by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the cart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get a cart",
        "description": "Retrieves a single cart by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the cart",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Carts"
        ],
        "summary": "Update a cart",
        "description": "Updates a single cart by ID.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the cart to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the cart",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/abandon": {
      "post": {
        "tags": [
          "CartActions"
        ],
        "summary": "Abandon a cart",
        "description": "Validates and abandons a cart.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The unique identifier of the cart",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/activate": {
      "post": {
        "tags": [
          "CartActions"
        ],
        "summary": "Activate a cart",
        "description": "Activates a cart associated with the cart ID provided in the parameters.\nOnly a cart with a New and Saved status can be activated. Carts in such other statuses as Finalized, Superseded, Suspended, Abandoned, or Deleted cannot be activated.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FlowName",
            "in": "header",
            "description": "Header param FlowName",
            "schema": {
              "type": "string",
              "default": "system"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/adhoc-groups": {
      "delete": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Delete multiple AdHoc Groups.",
        "description": "Deletes a list of AdHoc Groups from the specified cart.\nReturns the result of the delete operation.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of AdHoc Groups to delete.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Get all AdHoc Groups.",
        "description": "Returns list of AdHoc Groups for the specified cart.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Update multiple AdHoc Groups.",
        "description": "Updates a collection of AdHoc Groups with new data.\nReturns the updated groups or validation errors.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of AdHoc Groups with updated data.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Create multiple AdHoc Groups.",
        "description": "Creates a list of AdHoc Groups for the specified cart.\nValidates for duplicate names and sequences within the cart.\nReturns the created groups or validation errors.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of AdHoc Groups to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.AdHocGroup"
                }
              },
              "example": [
                {
                  "Name": "test1",
                  "ChargeType": "StandardPrice",
                  "Category": {
                    "Id": "cat-001",
                    "Name": "Professional Services"
                  },
                  "Description": "This is an example AdHoc group for demonstration.",
                  "Frequency": "Monthly",
                  "GroupType": "Custom",
                  "Sequence": 1
                },
                {
                  "Name": "test2",
                  "ChargeType": "LicenseFee",
                  "Category": {
                    "Id": "cat-002",
                    "Name": "Consulting"
                  },
                  "Description": "This is another example AdHoc group for demonstration.",
                  "Frequency": "Quarterly",
                  "GroupType": "Standard",
                  "Sequence": 2
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/adhoc-groups/{adhocGroupId}": {
      "delete": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Delete a single AdHoc Group by its Id.",
        "description": "Deletes the specified AdHoc Group from the cart.\nReturns the result of the delete operation.",
        "parameters": [
          {
            "name": "adhocGroupId",
            "in": "path",
            "description": "The unique Id of the AdHoc Group to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Get an AdHoc Group by its Id.",
        "description": "Retrieves a single AdHoc Group by its unique Id.\nReturns 404 if the group does not exist.",
        "parameters": [
          {
            "name": "adhocGroupId",
            "in": "path",
            "description": "The unique Id of the AdHoc Group.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "AdHocGroups"
        ],
        "summary": "Update a single AdHoc Group by its Id.",
        "description": "Updates the specified AdHoc Group with new data.\nReturns the updated group or validation errors.",
        "parameters": [
          {
            "name": "adhocGroupId",
            "in": "path",
            "description": "The unique Id of the AdHoc Group to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data for the AdHoc Group.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AdHoc",
                "ChargeType": "StandardPrice",
                "Category": {
                  "Id": "cat-001",
                  "Name": "Professional Services"
                },
                "Description": "This is an example AdHoc group for demonstration.",
                "Frequency": "Monthly",
                "GroupType": "Custom",
                "Sequence": 1
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AdHoc",
                "ChargeType": "StandardPrice",
                "Category": {
                  "Id": "cat-001",
                  "Name": "Professional Services"
                },
                "Description": "This is an example AdHoc group for demonstration.",
                "Frequency": "Monthly",
                "GroupType": "Custom",
                "Sequence": 1
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "AdHoc",
                "ChargeType": "StandardPrice",
                "Category": {
                  "Id": "cat-001",
                  "Name": "Professional Services"
                },
                "Description": "This is an example AdHoc group for demonstration.",
                "Frequency": "Monthly",
                "GroupType": "Custom",
                "Sequence": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/adjustments": {
      "delete": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Delete cart adjustments",
        "description": "Deletes one or more adjustments in a cart based on the cart ID in the\nendpoint request and the cart ID and adjustment IDs provided in the parameters.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The ID(s) of adjustment",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "adjustment-1",
                "adjustment-2"
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "adjustment-1",
                "adjustment-2"
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "example": [
                "adjustment-1",
                "adjustment-2"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Get cart adjustments",
        "description": "Retrieves the adjustments for the cart (by cart ID).",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Update adjustments by cart",
        "description": "Updates one or more adjustment records for the given cartId.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The adjustment line items",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default",
                  "Id": "1a99d836-641b-42db-ac78-c30f7737ef8a"
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Id": "56689db9-11d8-4788-92e6-837cefce3815",
                  "Name": "Waterfall Manual Adj1"
                },
                {
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "UnitAdjustment": 500,
                  "Id": "ced7eab6-fc69-4031-a372-861c74b4a9d7",
                  "Name": "AdjustmentOverride"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default",
                  "Id": "1a99d836-641b-42db-ac78-c30f7737ef8a"
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Id": "56689db9-11d8-4788-92e6-837cefce3815",
                  "Name": "Waterfall Manual Adj1"
                },
                {
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "UnitAdjustment": 500,
                  "Id": "ced7eab6-fc69-4031-a372-861c74b4a9d7",
                  "Name": "AdjustmentOverride"
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default",
                  "Id": "1a99d836-641b-42db-ac78-c30f7737ef8a"
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Id": "56689db9-11d8-4788-92e6-837cefce3815",
                  "Name": "Waterfall Manual Adj1"
                },
                {
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "UnitAdjustment": 500,
                  "Id": "ced7eab6-fc69-4031-a372-861c74b4a9d7",
                  "Name": "AdjustmentOverride"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Create adjustments",
        "description": "Creates one or more adjustments.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The adjustment line items",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "% Discount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default"
                },
                {
                  "AdjustmentType": "Markup Amount",
                  "AdjustmentAmount": 100,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Name": "Waterfall Manual Adj1"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "% Discount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default"
                },
                {
                  "AdjustmentType": "Markup Amount",
                  "AdjustmentAmount": 100,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Name": "Waterfall Manual Adj1"
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
                }
              },
              "example": [
                {
                  "AdjustmentType": "% Discount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1
                },
                {
                  "AdjustmentType": "Discount Amount",
                  "AdjustmentAmount": 15,
                  "AdjustmentAppliesTo": "Starting Price",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 1,
                  "LineType": "Manual",
                  "Type": "Default"
                },
                {
                  "AdjustmentType": "Markup Amount",
                  "AdjustmentAmount": 100,
                  "AdjustmentAppliesTo": "Previous",
                  "LineItem": {
                    "Id": "9f8edd3f-0696-411d-b532-dc560f1e1ebd"
                  },
                  "LineNumber": 0,
                  "PricePoint": "Net Price",
                  "Name": "Waterfall Manual Adj1"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/adjustments/{adjustmentId}": {
      "delete": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Delete an adjustment by identifier",
        "description": "Deletes the adjustment record.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adjustmentId",
            "in": "path",
            "description": "The ID of adjustment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Get cart adjustment details",
        "description": "Retrieves details of a cart's adjustments by adjustment ID.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adjustmentId",
            "in": "path",
            "description": "The adjustment identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Adjustments"
        ],
        "summary": "Update adjustments by identifier",
        "description": "Update the adjustment fields for the cart and adjustment IDs given in the parameters.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "adjustmentId",
            "in": "path",
            "description": "The ID of adjustment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The adjustment line item",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Entities.AdjustmentLineItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applicable-attribute-rules": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applicable product attribute rules.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The lineitem identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter. Pass data in filer in key value pair EX : filter[name]= PAR1",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applicable-field-expression": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applicable field expression asynchronous.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The line item identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applicable-rules": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applicable rules.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The lineitem identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applied-attribute-rules": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applied product attribute rules asynchronous.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The line item identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter. Pass data in filer in key value pair EX : filter[name]= PAR1",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applied-field-expression": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applied field expression asynchronous.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The line item identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applied-rule-actions": {
      "get": {
        "tags": [
          "CartActions"
        ],
        "summary": "Get the applied rule actions",
        "description": "Retrieves the applied rule action for a given cart ID and primary line number.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primarylineNumber",
            "in": "query",
            "description": "Primary Line number of the product",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Enter the page number of the line.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Enter the number of objects to be retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/applied-rules": {
      "get": {
        "tags": [
          "Cart Analyzers"
        ],
        "summary": "Gets the applicable product attribute rules.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineItemId",
            "in": "query",
            "description": "The lineitem identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primaryLineNumber",
            "in": "query",
            "description": "The primary line number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The filter.",
            "style": "deepObject",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Size of the page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/bundle/{lineNumber}/details": {
      "get": {
        "tags": [
          "BundleLineItemStructure"
        ],
        "summary": "Get bundle details",
        "description": "Retrieves the bundle details for a given cart ID and line number. It includes option groups, child option groups, options, and any sub-bundles.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lineNumber",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/cart/v1/carts/{cartId}/clone": {
      "post": {
        "tags": [
          "CartActions"
        ],
        "summary": "Clone a cart",
        "description": "Clones a cart according to the primary lines no. given by the user or else clones the cart creating an exact copy of the entire cart with all its contents. The cloned cart is created in the new status. The cartID parameter is required. Set the price query parameter to true to price the cart.\nClones a cart creating an exact copy of the entire cart with all its contents. The cloned cart is created in the new status. The cartID parameter is required. Set the price query parameter to true to price the cart.\nFor Price true clones a cart according to the line no. given by the user but if nothing is given then clones the whole cart creating an exact copy of the entire cart with all its contents.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "A price query parameter that controls how pricing is handled during the clone operation. If the price parameter is not provided or set to the default value `false`, the API performs a clone without running pricing logic. This behavior is supported only for carts with `cart usetype ` set to `shadow`, which are temporary, non-persistent carts used internally by the Digital Commerce. If set to `true`, the API clones the cart with pricing enabled. This is the preferred option for regular (non-shadow) carts. The pricing logic runs during cloning, and the cloned cart is saved and processed normally. At present, the price: `false` option is limited to shadow cart scenarios only.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "isChildObjectToClone",
            "in": "query",
            "description": "The is child object to clone",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "The includes",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "cloneLineItems",
            "in": "query",
            "description": "Flag to clone line items",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "retainApproval",
            "in": "query",
[...]
