openapi: 3.2.0
info:
  title: Conga Sign Account Settings API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: AccountSettings
paths:
  /v1/cs-account/admin/accountSettings:
    delete:
      tags:
      - AccountSettings
      summary: Deletes and resets any customized Backoffice Account settings.
      description: 'Deletes any Backoffice Account settings that you may have changed. Your Backoffice Account settings

        will be returned to their default values.'
      operationId: AccountSettings_DeleteAccountSettings
      responses:
        '200':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - AccountSettings
      summary: Retrieves a list of all your current Backoffice Account settings.
      description: 'Retrieves your Backoffice Account settings. This includes feature settings, package settings,

        designer settings, email reminder settings, and signing UI options.'
      operationId: AccountSettings_GetAccountSettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfiguration'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    patch:
      tags:
      - AccountSettings
      summary: Updates your Backoffice Account settings with any or all changes. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes.
      description: 'Update your Backoffice Account settings with your new settings. You can update one or more setting groups

        (feature settings, package settings, designer settings, etc.) in a single request.'
      operationId: AccountSettings_UpdateAccountSettings
      requestBody:
        x-name: accountConfiguration
        description: The account configuration settings to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfiguration'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    NotaryHostThankYouOptions:
      type: object
      description: List of available Notary Host Thank You options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: "Check for Recipient name option.\n            "
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        notaryTag:
          type: boolean
          description: Check for Notary Tag option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
        downloadButton:
          type: boolean
          description: Check for Download Button option.
        reviewDocumentsButton:
          type: boolean
          description: Check for Review Documents Button option.
        continue:
          type: boolean
          description: Check for Continue option.
    AccountPackageSettings:
      type: object
      description: This class contains properties for the Account Package Settings
      additionalProperties: false
      properties:
        ada:
          type:
          - boolean
          - 'null'
          description: Determines if ADA (Americans with Disabilities Act) settings are enabled.
        declineButton:
          type:
          - boolean
          - 'null'
          description: Specifies whether the decline button is visible to users.
        defaultTimeBasedExpiry:
          type:
          - boolean
          - 'null'
          description: Indicates if the default expiration is based on time.
        disableDeclineOther:
          type:
          - boolean
          - 'null'
          description: Determines if other decline options are disabled.
        disableDownloadForUncompletedPackage:
          type:
          - boolean
          - 'null'
          description: Specifies if downloading is disabled for packages that are not completed.
        disableFirstInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Indicates if the first in-person affidavit requirement is disabled.
        disableInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Specifies whether in-person affidavit requirements are disabled.
        disableOptOutButton:
          type:
          - boolean
          - 'null'
          description: Indicates if the opt-out button is disabled.
        disableSecondInPersonAffidavit:
          type:
          - boolean
          - 'null'
          description: Indicates if the second in-person affidavit requirement is disabled.
        enforceCaptureSignature:
          type:
          - boolean
          - 'null'
          description: Determines if capturing signatures is enforced.
        extractAcroFields:
          type:
          - boolean
          - 'null'
          description: Specifies if Acrobat form fields should be extracted.
        extractTextTags:
          type:
          - boolean
          - 'null'
          description: Indicates if text tags should be extracted.
        fontSize:
          type:
          - integer
          - 'null'
          description: 'Specify the font size used for signatures. (Value range: 7-14)'
          format: int32
        geolocation:
          type:
          - boolean
          - 'null'
          description: Indicates if geolocation is enabled.
        globalActionsConfirm:
          type:
          - boolean
          - 'null'
          description: Specifies if global actions require confirmation.
        globalActionsDownload:
          type:
          - boolean
          - 'null'
          description: Determines if global download actions are allowed.
        globalActionsHideEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Indicates if the evidence summary should be hidden in global actions.
        globalActionsSaveAsLayout:
          type:
          - boolean
          - 'null'
          description: Specifies if saving as layout is enabled for global actions.
        handDrawnSignatureStyle:
          type:
          - string
          - 'null'
          description: Specifies the hand-drawn signature style.
        hideCaptureText:
          type:
          - boolean
          - 'null'
          description: Determines if the capture text option is hidden.
        hideLanguageDropdown:
          type:
          - boolean
          - 'null'
          description: Indicates if the language dropdown should be hidden.
        hidePackageOwnerInPerson:
          type:
          - boolean
          - 'null'
          description: Specifies if the package owner's in-person view is hidden.
        hideWatermark:
          type:
          - boolean
          - 'null'
          description: Determines if watermarks are hidden.
        inPerson:
          type:
          - boolean
          - 'null'
          description: Indicates if in-person signing is enabled.
        leftMenuExpand:
          type:
          - boolean
          - 'null'
          description: Specifies if the left menu should be expanded by default.
        maxAttachmentFiles:
          type:
          - integer
          - 'null'
          description: Specify the maximum number of attachment files allowed. (Value 1-999)
          format: int32
          maximum: 999
          minimum: 1
        navigator:
          type:
          - boolean
          - 'null'
          description: Indicates if the navigator is enabled.
        optionalNavigation:
          type:
          - boolean
          - 'null'
          description: Determines if optional navigation is enabled.
        progressBar:
          type:
          - boolean
          - 'null'
          description: Indicates if the progress bar is displayed.
        showNseHelp:
          type:
          - boolean
          - 'null'
          description: Indicates if NSE (New Signer Experience) help is shown.
        showNseLogoInIframe:
          type:
          - boolean
          - 'null'
          description: Specifies if the NSE logo is shown in iframes.
        showNseOverview:
          type:
          - boolean
          - 'null'
          description: Determines if the NSE overview is displayed.
        textAlignment:
          type:
          - string
          - 'null'
          description: Text alignment can be (left, right, center)
        timestampOnSignature:
          type:
          - boolean
          - 'null'
          description: Indicates if the timestamp should be included on the signature.
        title:
          type:
          - boolean
          - 'null'
          description: Indicates if the title is displayed.
        typedSignatureStyle:
          type:
          - string
          - 'null'
          description: Specifies the typed signature style.
    AccountEmailReminderSettings:
      type: object
      description: 'This class contains properties for Account Email Reminder Settings.

        Controls the frequency and timing of automated email reminders sent to signers.'
      additionalProperties: false
      properties:
        startInDaysDelay:
          type:
          - integer
          - 'null'
          description: 'Number of days to wait before sending the first reminder email after the package is sent.

            This delay gives signers time to complete the transaction before reminders begin.'
          format: int32
        intervalInDays:
          type:
          - integer
          - 'null'
          description: 'Number of days between subsequent reminder emails.

            This interval determines how frequently reminders are sent after the first reminder.'
          format: int32
        repetitionsCount:
          type:
          - integer
          - 'null'
          description: 'Maximum number of reminder emails to send.

            After this number of reminders is reached, no further reminder emails will be sent.'
          format: int32
    AccountDesignerSettings:
      type: object
      description: This class contains properties for the Account Designer Settings
      additionalProperties: false
      properties:
        send:
          type:
          - boolean
          - 'null'
          description: Defines whether the "Send" button is visible in transaction designer.
        done:
          type:
          - boolean
          - 'null'
          description: Specifies whether the "Done" button is visible in template designer.
        settings:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can update the template/transaction settings from the Designer.
        documentVisibility:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can configure the visibility of documents.
        addDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can add documents from the Designer.
        editDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can edit documents from the Designer.
        deleteDocument:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can delete documents from the Designer.
        addSigner:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can add recipients from the Designer.
        editRecipient:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can edit recipients from the Designer.
        rolePickerSender:
          type:
          - boolean
          - 'null'
          description: Defines whether the template/transaction owner is displayed within the recipients list in the Designer.
        saveLayout:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can save layouts.
        applyLayout:
          type:
          - boolean
          - 'null'
          description: Defines whether senders can apply layouts to documents.
        showSharedLayouts:
          type:
          - boolean
          - 'null'
          description: Defines whether shared layouts will be displayed by default when applying a layout.
        defaultSignatureType:
          type: string
          description: Defines the default signature type that will be used when a signature is added to the document.
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    InpersonHostThankYouOptions:
      type: object
      description: List of available In-Person Host Thank You options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: Check for Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
        downloadButton:
          type: boolean
          description: Check for Download Button option.
        reviewDocumentsButton:
          type: boolean
          description: Check for Review Documents Button option.
        continue:
          type: boolean
          description: Check for Continue option.
    OverviewOptions:
      type: object
      description: List of available Overview options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
        uploadSection:
          type: boolean
          description: Check for Upload Section option.
    AccountConfiguration:
      type: object
      description: "This class contains properties for the Account Configuration settings.\nRepresents the account settings structure for OneSpan Sign API.\n\nIMPORTANT: OneSpan API Behavior:\n- GET /api/account/admin/accountSettings returns ONLY:\n  * accountFeatureSettings\n  * accountPackageSettings\n\n- PATCH /api/account/admin/accountSettings accepts ALL settings:\n  * featureSettings\n  * packageSettings\n  * designerSettings (applied but not returned in GET)\n  * emailReminderSettings (applied but not returned in GET)\n  * signingUiOptions (applied but not returned in GET)\n\nTo retrieve other settings, use dedicated endpoints:\n- GET /api/account/admin/accountSettings/designerSettings\n- GET /api/account/admin/accountSettings/emailReminderSettings\n- GET /api/account/admin/signingUiOptions"
      additionalProperties: false
      properties:
        featureSettings:
          description: 'Account Feature Settings - Controls feature availability and behavior for the account.

            PATCH: Use property name "featureSettings"

            GET: Returned as "accountFeatureSettings"'
          oneOf:
          - $ref: '#/components/schemas/AccountFeatureSettings'
        packageSettings:
          description: 'Account Package Settings - Controls package-level configurations and defaults.

            PATCH: Use property name "packageSettings"

            GET: Returned as "accountPackageSettings"'
          oneOf:
          - $ref: '#/components/schemas/AccountPackageSettings'
        designerSettings:
          description: 'Account Designer Settings - Controls designer interface options and capabilities.

            PATCH: Accepts property name "designerSettings" (changes will be applied)

            GET: NOT returned by parent endpoint (use dedicated endpoint to retrieve)'
          oneOf:
          - $ref: '#/components/schemas/AccountDesignerSettings'
        emailReminderSettings:
          description: 'Account Email Reminder Settings - Controls email reminder configurations and schedules.

            PATCH: Accepts property name "emailReminderSettings" (changes will be applied)

            GET: NOT returned by parent endpoint (use dedicated endpoint to retrieve)'
          oneOf:
          - $ref: '#/components/schemas/AccountEmailReminderSettings'
        signingUiOptions:
          description: 'Signing UI Options - Controls signing ceremony interface options and customizations.

            PATCH: Accepts property name "signingUiOptions" (changes will be applied)

            GET: NOT returned by parent endpoint (use dedicated endpoint to retrieve)'
          oneOf:
          - $ref: '#/components/schemas/SigningUiOptions'
        accountFeatureSettings:
          description: 'Account Feature Settings (GET response format with "account" prefix).

            Maps to FeatureSettings property.

            This property is only used for GET response deserialization.'
          oneOf:
          - $ref: '#/components/schemas/AccountFeatureSettings'
        accountPackageSettings:
          description: 'Account Package Settings (GET response format with "account" prefix).

            Maps to PackageSettings property.

            This property is only used for GET response deserialization.'
          oneOf:
          - $ref: '#/components/schemas/AccountPackageSettings'
    AccountFeatureSettings:
      type: object
      description: Account Feature Settings
      additionalProperties: false
      properties:
        allowCheckboxConsentApproval:
          type:
          - boolean
          - 'null'
          description: Allow Checkbox Consent Approval
        allowInPersonForAccountSenders:
          type:
          - boolean
          - 'null'
          description: Allow In Person For Account Senders
        allowSignersDownloadEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Allow Signers Download Evidence Summary
        attachments:
          type:
          - boolean
          - 'null'
          description: Attachments
        complianceVault:
          type:
          - boolean
          - 'null'
          description: Compliance Vault
        conditionalFields:
          type:
          - boolean
          - 'null'
          description: Conditional Fields
        customFields:
          type:
          - boolean
          - 'null'
          description: Custom Fields
        delegation:
          type:
          - boolean
          - 'null'
          description: Delegation
        deliverDocumentsByEmail:
          type:
          - boolean
          - 'null'
          description: Deliver Documents By Email
        disableFooter:
          type:
          - boolean
          - 'null'
          description: Disable Footer
        disableInPersonActivationEmail:
          type:
          - boolean
          - 'null'
          description: Disable In Person Activation Email
        documentVisibility:
          type:
          - boolean
          - 'null'
          description: Document Visibility
        emailDocumentsAndEvidenceSummary:
          type:
          - boolean
          - 'null'
          description: Email Documents And Evidence Summary
        enableRecipientHistory:
          type:
          - boolean
          - 'null'
          description: Enable Recipient History
        enforceAuth:
          type:
          - boolean
          - 'null'
          description: Enforce Auth
        evidenceSummary:
          type:
          - boolean
          - 'null'
          description: Evidence Summary
        flattenSignerDocuments:
          type:
          - boolean
          - 'null'
          description: Flatten Signer Documents
        forceLogin:
          type:
          - boolean
          - 'null'
          description: Force Login
        forceTransactionOwnerLogin:
          type:
          - boolean
          - 'null'
          description: Force Transaction Owner Login
        groups:
          type:
          - boolean
          - 'null'
          description: Groups
        imprintFields:
          type:
          - boolean
          - 'null'
          description: Imprint Fields
        inAppReports:
          type:
          - boolean
          - 'null'
          description: In App Reports
        maskResponse:
          type:
          - boolean
          - 'null'
          description: Mask Response
        mobileCapture:
          type:
          - boolean
          - 'null'
          description: Mobile Capture
        optionalSignature:
          type:
          - boolean
          - 'null'
          description: Optional Signature
        overrideRecipientsPreferredLanguage:
          type:
          - boolean
          - 'null'
          description: Override Recipients Preferred Language
        passwordManagement:
          type:
          - boolean
          - 'null'
          description: Password Management
        preventConsentRemoval:
          type:
          - boolean
          - 'null'
          description: Prevent Consent Removal
        qnaAuth:
          type:
          - boolean
          - 'null'
          description: Qna Auth
        sendToMobile:
          type:
          - boolean
          - 'null'
          description: Send To Mobile
        uploadSignatureImage:
          type:
          - boolean
          - 'null'
          description: Upload Signature Image
        limitSupportedLanguages:
          type:
          - boolean
          - 'null'
          description: Limit Supported Languages
        documentWidget:
          type:
          - boolean
          - 'null'
          description: Document Widget
        chooseSignature:
          type:
          - boolean
          - 'null'
          description: Choose Signature
    InpersonWelcomeOptions:
      type: object
      description: List of available In-Person Welcome options available for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for a Body option.
        recipientName:
          type: boolean
          description: Check for a Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientActionRequired:
          type: boolean
          description: Check for Recipient Action Requried option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
    NotaryWelcomeOptions:
      type: object
      description: List of Notary Welcome Options available for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        recipientName:
          type: boolean
          description: Check for Recipient Name option.
        recipientEmail:
          type: boolean
          description: Check for Recipient Email option.
        recipientActionRequired:
          type: boolean
          description: Check for Recipient Action Required option.
        notaryTag:
          type: boolean
          description: Check for Notary Tag option.
        recipientRole:
          type: boolean
          description: Check for Recipient Role option.
        recipientStatus:
          type: boolean
          description: Check for Recipient Status option.
    SigningUiOptions:
      type: object
      description: Signing interface options for involved signing parties.
      additionalProperties: false
      properties:
        completeSummaryOptions:
          description: List of available Complete Summary options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/CompleteSummaryOptions'
        inpersonWelcomeOptions:
          description: List of available In-person Welcome options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/InpersonWelcomeOptions'
        inpersonHostThankYouOptions:
          description: List of available In-person Host Thank You options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/InpersonHostThankYouOptions'
        notaryWelcomeOptions:
          description: List of available Notary Welcome options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/NotaryWelcomeOptions'
        notaryHostThankYouOptions:
          description: List of available Notary Host Thank you options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/NotaryHostThankYouOptions'
        overviewOptions:
          description: List of available Overview options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/OverviewOptions'
        vrOverviewOptions:
          description: List of available Virtual Room Overview options for signing interface.
          oneOf:
          - $ref: '#/components/schemas/VirtualRoomOverviewOptions'
    VirtualRoomOverviewOptions:
      type: object
      description: List of available Virtual Room Overview options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        body:
          type: boolean
          description: Check for Body option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
    CompleteSummaryOptions:
      type: object
      description: List of available Complete Summary options for a given interface.
      additionalProperties: false
      properties:
        title:
          type: boolean
          description: Check for Title option.
        message:
          type: boolean
          description: Check for Message option.
        download:
          type: boolean
          description: Check for Download option.
        review:
          type: boolean
          description: Check for Review option.
        continue:
          type: boolean
          description: Check for Continue option.
        documentSection:
          type: boolean
          description: Check for Document Section option.
        uploadSection:
          type: boolean
          description: Check for Upload Section option.
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
