openapi: 3.2.0
info:
  title: X-Author Reconciliation API
  version: v1
  description: This class contains API endpoints related to document reconciliation
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Reconciliation
  description: This class contains API endpoints related to document reconciliation
paths:
  /api/xauthor/v1/reconcile/preview-data:
    post:
      tags:
      - Reconciliation
      summary: Process document to prepare data for reconciliation preview
      description: This includes field validation, field reconciliation and clause reconciliation. Short ciruiting execution if validation have some invalid field
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: Request containing document and other informations required to prepare reconcile data for preview
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.PreviewReconciliationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.PreviewReconciliationRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.PreviewReconciliationRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.XAuthor.Core.Model.PreviewReconciliationRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.ReconciliationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.ReconciliationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.ReconciliationResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/reconcile/preview-data/sametagfields:
    post:
      tags:
      - Reconciliation
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagFieldModel'
          application/json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagFieldModel'
          text/json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagFieldModel'
          application/*+json:
            schema:
              type:
              - array
              - 'null'
              items:
                $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagFieldModel'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Conga.XAuthor.Model.FieldReconcileModel'
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Conga.XAuthor.Model.FieldReconcileModel'
            text/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Conga.XAuthor.Model.FieldReconcileModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Conga.XAuthor.Model.Model.Response.FieldValidationResponse:
      type: object
      properties:
        fieldValidationDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Fields.FieldValidationDetail'
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        promoteClause:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Model.Model.Fields.FieldValidationDetail:
      type: object
      properties:
        contentControlId:
          type: integer
          format: int64
          deprecated: true
        fieldMetadataId:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        fieldDisplayName:
          type:
          - string
          - 'null'
        currentText:
          type:
          - string
          - 'null'
        previousText:
          type:
          - string
          - 'null'
        validationMessage:
          type:
          - string
          - 'null'
        pickListValues:
          type:
          - array
          - 'null'
          items:
            type: string
        isValid:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldMetadata:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        baseValueLocalized:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        isSmart:
          type: boolean
        isReadonly:
          type:
          - boolean
          - 'null'
        isUpdateable:
          type:
          - boolean
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        sourceInfo:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldSourceMetadata'
        isMarkedForDeletion:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.DeletedCCReconciliationDetail:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        markDeletion:
          type: boolean
      additionalProperties: false
    Apttus.XAuthor.Core.Model.AptPromoteClauseICTC:
      type: object
      properties:
        aptPromoteClauseICTCDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTCDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagValueModel:
      type: object
      properties:
        fieldMetadataId:
          type:
          - string
          - 'null'
        renderAs:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum'
        modifiedValue:
          type:
          - string
          - 'null'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
        defaultLocale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.FieldSourceMetadata:
      type: object
      properties:
        fieldType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum'
        dataType:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum'
        fieldAPIName:
          type:
          - string
          - 'null'
        fieldLocalName:
          type:
          - string
          - 'null'
        objectName:
          type:
          - string
          - 'null'
        fieldObjectInstanceId:
          type:
          - string
          - 'null'
        referenceFieldPath:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.DeletedCCReconciliationData:
      type: object
      properties:
        deletedCCReconciliationDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.DeletedCCReconciliationDetail'
        docProtectionMode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Core.Model.PreviewReconciliationRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        promoteClauseMetadata:
          $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.AptPromoteClauseICTC'
        locale:
          $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.Locale'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldSourceTypeEnum:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    Conga.XAuthor.Common.Model.PreviewReconcile.FieldReconciliationData:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        sourceObjectPath:
          type:
          - string
          - 'null'
        sourceObjectId:
          type:
          - string
          - 'null'
        previousValue:
          type:
          - string
          - 'null'
        currentValue:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        isModified:
          type: boolean
        sameTagFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.PreviewReconciliationBase'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.MetadataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.Enum.FieldRenderAsEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Model.FieldReconcileModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        fieldAPIName:
          type:
          - string
          - 'null'
        currentValue:
          type:
          - string
          - 'null'
        sameTagFieldCurrentValue:
          type:
          - string
          - 'null'
        previousValue:
          type:
          - string
          - 'null'
        diffText:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        sameTagFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Model.FieldReconcileModel'
        hasTrackChanges:
          type: boolean
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.ReconciliationResponse:
      type: object
      properties:
        clauseReconciliationData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.ClauseReconciliationData'
        deletedCCReconciliationData:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.DeletedCCReconciliationData'
        fieldReconciliationData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.FieldReconciliationData'
        fieldValidationResponse:
          $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Response.FieldValidationResponse'
      additionalProperties: false
    Conga.XAuthor.Metadata.V2.Enum.FieldDataTypeEnum:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      type: integer
      format: int32
    Conga.XAuthor.Metadata.V2.Locale:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        numberPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrecision:
          type:
          - integer
          - 'null'
          format: int32
        currencyPrefixType:
          type:
          - string
          - 'null'
        dateFormat:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.DocClauseMetadata:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        clauseMarkup:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        sfSource:
          type:
          - string
          - 'null'
        tag:
          type:
          - string
          - 'null'
        sfid:
          type:
          - string
          - 'null'
        baseValue:
          type:
          - string
          - 'null'
        dirty:
          type:
          - string
          - 'null'
        markClauseReplacedPreviousWordOpenXML:
          type:
          - string
          - 'null'
        canBeDeleted:
          type:
          - string
          - 'null'
        smart:
          type:
          - string
          - 'null'
        action:
          type:
          - string
          - 'null'
        markedForDeletion:
          type: boolean
        ideEntityId:
          type:
          - string
          - 'null'
        readonly:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagFieldModel:
      type: object
      properties:
        sameTagFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.XAuthor.Metadata.V2.FieldMetadata'
        sameTagValue:
          $ref: '#/components/schemas/Conga.XAuthor.Model.Model.Contract.ReconciliationSameTagValueModel'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.ClauseReconciliationData:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        currentText:
          type:
          - string
          - 'null'
        originalText:
          type:
          - string
          - 'null'
        formattedDiffText:
          type:
          - string
          - 'null'
        isModified:
          type: boolean
        clauseReferenceId:
          type:
          - string
          - 'null'
        clauseConfigReferenceId:
          type:
          - string
          - 'null'
        inlinePictureCount:
          type: integer
          format: int32
        isStrikeThrough:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Conga.XAuthor.Common.Model.PreviewReconcile.DocClauseMetadata'
      additionalProperties: false
    Conga.XAuthor.Common.Model.PreviewReconcile.PreviewReconciliationBase:
      type: object
      properties:
        contentControlId:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        sourceObjectPath:
          type:
          - string
          - 'null'
        sourceObjectId:
          type:
          - string
          - 'null'
        previousValue:
          type:
          - string
          - 'null'
        currentValue:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        isModified:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
