openapi: 3.2.0
info:
  title: Conversion Management Frequency Conversion Admin API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Frequency Conversion Admin
paths:
  /api/conversion-management/v1/frequency-conversion-rates:
    get:
      tags:
      - Frequency Conversion Admin
      summary: Get all frequency conversion rates
      description: Returns all frequency conversion rates that meet the criteria.
      parameters:
      - name: criteria
        in: query
        description: 'Search criteria for the frequency conversion rates. **For example**: FromFrequency = ''Daily''. <p>**Note**: The criteria field (in this case, FromFrequency) should be indexed.</p>'
        style: form
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Field name for sorting. **For example**: ModifiedDate. <p>**Note**: The sort field (in this case, ModifiedDate) should be indexed or sortable.</p>'
        style: form
        schema:
          type: string
      - name: sortDirection
        in: query
        description: 'Sort direction (Ascending or Descending) of the data. For example: ASC or DESC. <p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>'
        style: form
        schema:
          type: string
      - name: pageSize
        in: query
        description: The number of records to display on each page.
        style: form
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: The page number of the result set to view.
        style: form
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrequencyConversionRateListAPIResponse'
              example:
                Success: true
                RecordCount: 2
                Data:
                - FromFrequency: Weekly
                  ToFrequency: Daily
                  Product: null
                  ProductFamily: null
                  ConversionRate: 7
                  Id: null
                  Name: null
                  CreatedBy: null
                  CreatedDate: '0001-01-01T00:00:00'
                  ModifiedBy: null
                  ModifiedDate: '0001-01-01T00:00:00'
                  ExternalId: null
                  ETag: null
                - FromFrequency: Daily
                  ToFrequency: Hourly
                  Product: null
                  ProductFamily: null
                  ConversionRate: 24
                  Id: null
                  Name: null
                  CreatedBy: null
                  CreatedDate: '0001-01-01T00:00:00'
                  ModifiedBy: null
                  ModifiedDate: '0001-01-01T00:00:00'
                  ExternalId: null
                  ETag: null
                StatusCode: OK
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
    post:
      tags:
      - Frequency Conversion Admin
      summary: Add a new frequency conversion rate
      description: Creates a new frequency conversion rate.
      requestBody:
        description: Frequency conversion rate information
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrequencyConversionRate'
          text/json:
            schema:
              $ref: '#/components/schemas/FrequencyConversionRate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FrequencyConversionRate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrequencyConversionRateAPIResponse'
              example:
                Success: true
                Data:
                  FromFrequency: Weekly
                  ToFrequency: Daily
                  Product: null
                  ProductFamily: null
                  ConversionRate: 7
                  Id: null
                  Name: null
                  CreatedBy: null
                  CreatedDate: '0001-01-01T00:00:00'
                  ModifiedBy: null
                  ModifiedDate: '0001-01-01T00:00:00'
                  ExternalId: null
                  ETag: null
                StatusCode: OK
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
  /api/conversion-management/v1/frequency-conversion-rates/bulk:
    post:
      tags:
      - Frequency Conversion Admin
      summary: Add multiple Frequency conversion rates
      description: Creates multiple frequency conversion rates.
      requestBody:
        description: Frequency conversion rates information list
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FrequencyConversionRate'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FrequencyConversionRate'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FrequencyConversionRate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrequencyConversionRateListAPIResponse'
              example:
                Success: true
                Data:
                  FromFrequency: Weekly
                  ToFrequency: Daily
                  Product: null
                  ProductFamily: null
                  ConversionRate: 7
                  Id: null
                  Name: null
                  CreatedBy: null
                  CreatedDate: '0001-01-01T00:00:00'
                  ModifiedBy: null
                  ModifiedDate: '0001-01-01T00:00:00'
                  ExternalId: null
                  ETag: null
                StatusCode: OK
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
    put:
      tags:
      - Frequency Conversion Admin
      summary: Update multiple frequency conversion rates
      description: Updates multiple frequency conversion rates and returns the request status.
      requestBody:
        description: Frequency conversion rates information list
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryListAPIResponse'
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
  /api/conversion-management/v1/frequency-conversion-rates/{id}:
    delete:
      tags:
      - Frequency Conversion Admin
      summary: Delete frequency conversion rate by ID
      description: Deletes frequency conversion rate.
      parameters:
      - name: id
        in: path
        description: Frequency conversion rate ID
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
    get:
      tags:
      - Frequency Conversion Admin
      summary: Retrieve a frequency conversion rate by ID
      description: Retrieves a frequency conversion rate for the given frequency conversion rate ID.
      parameters:
      - name: id
        in: path
        description: Frequency conversion rate ID
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrequencyConversionRateAPIResponse'
              example:
                Success: true
                Data:
                  FromFrequency: Weekly
                  ToFrequency: Daily
                  Product: null
                  ProductFamily: null
                  ConversionRate: 7
                  Id: null
                  Name: null
                  CreatedBy: null
                  CreatedDate: '0001-01-01T00:00:00'
                  ModifiedBy: null
                  ModifiedDate: '0001-01-01T00:00:00'
                  ExternalId: null
                  ETag: null
                StatusCode: OK
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
    put:
      tags:
      - Frequency Conversion Admin
      summary: Update a frequency conversion rate
      description: Updates a frequency conversion rate for the given frequency conversion rate ID.
      parameters:
      - name: id
        in: path
        description: Frequency conversion rate ID
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: Frequency conversion rate information
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryAPIResponse'
        '400':
          description: Found unknown field(s)
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: false
                Errors:
                - Message: Internal server error occurred. Please contact admin.
                StatusCode: OK
components:
  schemas:
    FrequencyConversionRate:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: A global unique identifier. **For example :** 1111ee11-1e11-11e11f11-1f1111c11e11
        Name:
          type:
          - string
          - 'null'
          description: Name
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          description: Created date
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          description: Modified date
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
          description: External ID
        ETag:
          type:
          - string
          - 'null'
          description: Etag
        FromFrequency:
          type:
          - string
          - 'null'
          description: Source Frequency. **For example:** Hourly, Daily, etc.
        ToFrequency:
          type:
          - string
          - 'null'
          description: Target Frequency. **For example:** Hourly, Daily, etc.
        Product:
          $ref: '#/components/schemas/LookupObject'
        ProductFamily:
          type:
          - string
          - 'null'
          description: Product Family
        ConversionRate:
          type: number
          description: Conversion rate
          format: double
      additionalProperties: {}
      description: Frequency conversion rate schema
    StringObjectDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    StringObjectDictionaryListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type: boolean
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: User Id.
        Name:
          type:
          - string
          - 'null'
          description: User Name.
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    FrequencyConversionRateListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FrequencyConversionRate'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    FrequencyConversionRateAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/FrequencyConversionRate'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
