openapi: 3.2.0
info:
  title: X-Author Configuration Management API
  version: v1
  description: This class contains APIs related to configuration management
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: ConfigurationManagement
  description: This class contains APIs related to configuration management
paths:
  /api/xauthor/v1/config-management/crm-connection:
    put:
      tags:
      - ConfigurationManagement
      summary: Toggle connect to CRM flag
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: boolean value indicating turn on/off the configuration
        content:
          application/json-patch+json:
            schema:
              type: boolean
              description: boolean value indicating turn on/off the configuration
          application/json:
            schema:
              type: boolean
              description: boolean value indicating turn on/off the configuration
          text/json:
            schema:
              type: boolean
              description: boolean value indicating turn on/off the configuration
          application/*+json:
            schema:
              type: boolean
              description: boolean value indicating turn on/off the configuration
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
