openapi: 3.2.0
info:
  title: Contracts Contract Cycle Time API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Contract Cycle Time
paths:
  /api/clm/v1/cycletimes:
    post:
      tags:
      - Contract Cycle Time
      summary: Create a cycle-time group record
      description: Creates a record in a cycle-time group object.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleTimeGroupRequest'
            example:
              Name: Status Category 1
              CycleTimeField: null
              Description: Description
              FieldLabel: StatusCategory
              FromValue: Request
              ToValue: In Effect
              IsActive: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeGroupResponseAPIResponse'
              example:
                Success: true
                Data:
                  Id: 8856eb78-c555-4fb5-8488-f81a142aedcf
                  Name: Status Category 21.Mar.2023.1
                  CycleTimeField: f08364b4-dcdd-410a-9719-6cd38022a325
                  Description: Description 21.Mar.2023.1
                  FieldLabel: StatusCategory
                  FromValue: Request
                  ToValue: In Effect
                  IsActive: true
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/cycletimes/contractfields:
    get:
      tags:
      - Contract Cycle Time
      summary: List all of a contract's or contract object's fields
      description: Fetches a contract or contract object using metadata that can be used in a cycle-time group record.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListAPIResponse'
              example:
                Success: true
                Data:
                - Id
                - Name
                - CreatedBy
                - CreatedDate
                - ModifiedBy
                - ModifiedDate
                - ExternalId
                - Account
                - RecordType
                - ActivatedBy
                - ActivatedDate
                - ContractCategory
                - ContractNumber
                - AmendmentEffectiveDate
                - AutoRenewConsent
                - AutoRenewTermMonths
                - AutoRenewalTerms
                - AutoRenewal
                - ContractDurationDays
                - ContractEndDate
                - ContractNumber
                - ContractStartDate
                - ContractedDays
                - Description
                - InitiationType
                - InternalRenewalNotificationDays
                - InternalRenewalStartDate
                - ParentContract
                - Perpetual
                - PrimaryContact
                - Opportunity
                - RemainingContractedDays
                - RenewalNoticeDate
                - RenewalNoticeDays
                - RetentionDate
                - RetentionPolicyId
                - Source
                - SpecialTerms
                - StatusCategory
                - Status
                - SubmitRequestMode
                - TermMonths
                - TerminationComments
                - TerminationDate
                - TerminationNoticeDays
                - TerminationNoticeIssueDate
                - TotalContractValue
                - ExecutedDate
                - RecordOwner
                - Currency
                - AutoExpire
                - TestCustomFieldOne_c
                - CustRTF9_c
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/cycletimes/dashboard:
    get:
      tags:
      - Contract Cycle Time
      summary: Get cycle-time group data
      description: Gets cycle-time group data for the predefined out-of-the-box status category and status for the past 12 months.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeDashboardResponseListAPIResponse'
              example:
                Success: true
                Data:
                - Stage: 'From: Request TO: In Authoring'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: Request TO: In Signatures'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: Request TO: In Effect'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: In Authoring TO: In Signatures'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: In Authoring TO: In Effect'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: In Signatures TO: In Effect'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: Ready for Signatures TO: Activated'
                  RecordType: MSA
                  AverageDuration: null
                - Stage: 'From: Ready for Signatures TO: Fully Singed'
                  RecordType: MSA
                  AverageDuration: null
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/cycletimes/{cycleTimeGroupId}:
    delete:
      tags:
      - Contract Cycle Time
      summary: Delete a cycle-time group record
      description: Deletes a record from a cycle-time group object.
      parameters:
      - name: cycleTimeGroupId
        in: path
        description: ID of a cycle-time group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanAPIResponse'
              example:
                Success: true
                Data: true
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    get:
      tags:
      - Contract Cycle Time
      summary: Get a cycle-time group record by ID
      description: Gets a record from a cycle-time group object by its ID.
      parameters:
      - name: cycleTimeGroupId
        in: path
        description: ID of a cycle-time group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeGroupAPIResponse'
              example:
                Success: true
                Data:
                  CycleTimeField: b5933581-9d0e-457d-90a1-91dadc3285d5
                  Description: null
                  FieldLabel: StatusCategory
                  FromValue: Request
                  ToValue: In Effect
                  IsActive: false
                  Id: a1c40970-aa17-4218-ab3a-21598044d957
                  Name: Status Category 1
                  CreatedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  CreatedDate: '2026-08-14T00:01:41.8607006Z'
                  ModifiedBy:
                    Id: d717a075-9cbf-480c-b230-837e0e6dee75
                    Name: user
                  ModifiedDate: '2026-08-14T00:01:41.8607672Z'
                  ExternalId: null
                  ETag: null
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    put:
      tags:
      - Contract Cycle Time
      summary: Update a cycle-time group record
      description: Updates a record in a cycle-time group object.
      parameters:
      - name: cycleTimeGroupId
        in: path
        description: ''
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleTimeGroupRequest'
            example:
              Name: Status Category 1
              CycleTimeField: null
              Description: Description
              FieldLabel: StatusCategory
              FromValue: Request
              ToValue: In Effect
              IsActive: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CycleTimeGroupResponseAPIResponse'
              example:
                Success: true
                Data:
                  Id: 8856eb78-c555-4fb5-8488-f81a142aedcf
                  Name: Status Category 21.Mar.2023.1
                  CycleTimeField: f08364b4-dcdd-410a-9719-6cd38022a325
                  Description: Description 21.Mar.2023.1
                  FieldLabel: StatusCategory
                  FromValue: Request
                  ToValue: In Effect
                  IsActive: true
                Warnings: null
                Errors: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
components:
  schemas:
    CycleTimeGroupAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/CycleTimeGroup'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    StringListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    BooleanAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type: boolean
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - string
          - 'null'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Error Class
    CycleTimeGroupResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/CycleTimeGroupResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    CycleTimeGroup:
      required:
      - CycleTimeField
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        CycleTimeField:
          minLength: 1
          type: string
          description: The field associated with the cycle time data.
        Description:
          type:
          - string
          - 'null'
          description: The group description.
        FieldLabel:
          type:
          - string
          - 'null'
          description: The associated field label.
        FromValue:
          type:
          - string
          - 'null'
          description: The field value which marks the beginning of the group.
        ToValue:
          type:
          - string
          - 'null'
          description: The field value which marks the end of the group.
        IsActive:
          type: boolean
          description: Indicates whether the group is active for cycle time data capture.
      additionalProperties: {}
      description: Holds the groups monitored for cycle time data capture.
    CycleTimeGroupRequest:
      required:
      - FieldLabel
      - FromValue
      - Name
      - ToValue
      type: object
      properties:
        Name:
          minLength: 1
          type: string
          description: CycleTimeGroup name.
        CycleTimeField:
          type:
          - string
          - 'null'
          description: The field associated with the cycle time data.
        Description:
          type:
          - string
          - 'null'
          description: The group description.
        FieldLabel:
          minLength: 1
          type: string
          description: The associated field label.
        FromValue:
          minLength: 1
          type: string
          description: The field value which marks the beginning of the group.
        ToValue:
          minLength: 1
          type: string
          description: The field value which marks the end of the group.
        IsActive:
          type: boolean
          description: Indicates whether the group is active for cycle time data capture.
      additionalProperties: false
      description: Holds the groups monitored for cycle time data capture.
    CycleTimeDashboardResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CycleTimeDashboardResponse'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    CycleTimeGroupResponse:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: CycleTimeGroup ID.
        Name:
          type:
          - string
          - 'null'
          description: CycleTimeGroup name.
        CycleTimeField:
          type:
          - string
          - 'null'
          description: The field associated with the cycle time data.
        Description:
          type:
          - string
          - 'null'
          description: The group description.
        FieldLabel:
          type:
          - string
          - 'null'
          description: The associated field label.
        FromValue:
          type:
          - string
          - 'null'
          description: The field value which marks the beginning of the group.
        ToValue:
          type:
          - string
          - 'null'
          description: The field value which marks the end of the group.
        IsActive:
          type: boolean
          description: Indicates whether the group is active for cycle time data capture.
      additionalProperties: false
      description: CycleTimeGroup response model.
    CycleTimeDashboardResponse:
      type: object
      properties:
        Stage:
          type:
          - string
          - 'null'
          description: Configured From and to values
        RecordType:
          type:
          - string
          - 'null'
          description: Record Type
        AverageDuration:
          type:
          - number
          - 'null'
          description: Average duration for the group
          format: double
      additionalProperties: false
      description: Cycle Time response for dashboard
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
