openapi: 3.2.0
info:
  title: Conga Sign Idv Workflow API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: IdvWorkflow
paths:
  /v1/cs-accountconfig/idvWorkflowConfigs:
    post:
      tags:
      - IdvWorkflow
      summary: Create an IDV authentication workflow configuration
      description: 'Creates a workflow configuration for IDV authentication. The following types of workflow configurations can

        be created: DV and DVF. The IDV workflow configuration is the secure agreement automation workflow that

        integrates with Conga Sign. This must be set in the back office.'
      operationId: IdvWorkflow_CreateIdvWorkflowConfigs
      requestBody:
        x-name: idvWorkflowConfigurations
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IdvWorkflowConfiguration'
        required: true
        x-position: 1
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    delete:
      tags:
      - IdvWorkflow
      summary: Delete  IDV workflow configuration
      description: 'Deletes the IDV workflow configuration. The IDV workflow configuration is the secure agreement

        automation workflow that integrates with Conga Sign. This must be set in the back office.'
      operationId: IdvWorkflow_DeleteIdvWorkflowConfigs
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - IdvWorkflow
      summary: Retrieve the IDV authentication workflow
      description: 'Retrieves the IDV workflow configurations as JSON. The IDV workflow configuration is the secure agreement

        automation workflow that integrates with Conga Sign. This must be set in the back office.'
      operationId: IdvWorkflow_GetIdvWorkflowConfigs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdvWorkflowConfiguration'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    put:
      tags:
      - IdvWorkflow
      summary: Update IDV workflow configuration
      description: 'Updates the IDV workflow configuration. The IDV workflow configuration is the secure agreement

        automation workflow that integrates with Conga Sign. This must be set in the back office.'
      operationId: IdvWorkflow_UpdateIdvWorkflowConfigs
      requestBody:
        x-name: idvWorkflowConfigurations
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IdvWorkflowConfiguration'
        required: true
        x-position: 1
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    IdvWorkflowConfiguration:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          description: The unique Id of the Id verification workflow configuration.
        type:
          type: string
          description: The Id verification workflow type.
        tenant:
          type: string
          description: The customer alias.
        desc:
          type: string
          description: Id verification workflow description.
        skipWhenAccessingSignedDocuments:
          type: boolean
          description: To skip the identity verification workflow for accessing signed documents.
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
