openapi: 3.2.0
info:
  title: Administration Deal Color Bands API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Deal Color Bands
paths:
  /deal-guidance-color-bands:
    delete:
      tags:
      - Deal Color Bands
      summary: Delete deal color bands
      description: Deletes one or more color bands based on the details provided in the request body.
      requestBody:
        description: The list of Deal Color Bands to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Color Bands
      summary: Retrieve deal color bands
      description: Retrieves  a list of color bands by deal guidance rule. Use query parameters to further narrow the results.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Color Bands
      summary: Update deal color bands
      description: Updates specific fields on one or more color bands based on the details provided in the request body. It can update any field except the color band ID.
      requestBody:
        description: The list of Deal Color Bands with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name
              ColorCode: ColorCode
              DealColor: Green
              DealShape: Circle
              Description: DealColorBand description
              PercentileFrom: '5'
              PercentileTo: '10'
              RangeName: RangeName
              Sequence: 1
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Deal Color Bands
      summary: Create deal color bands
      description: 'Creates one or more color bands and assigns shapes and colors to them. You can use color bands to differentiate deals and define margins intelligently.



        Defining a color band is an initial, one-time action for an administrator setting up Deal Maximizer on the Conga Platform. Sales representatives will see appropriate bands before line items in the cart based on the defined rules.

        Though you can associate a shape to multiple colors. this not ideal, as it reduces distinctiveness between deals.

        You can create a maximum of 6 deal bands.'
      requestBody:
        description: The list of Deal Color Bands to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DealColorBand'
      responses:
        '200':
          description: OK
  /deal-guidance-color-bands/{Id}:
    delete:
      tags:
      - Deal Color Bands
      summary: Delete a deal color band
      description: Deletes a color band record based on the color band ID passed in the path parameter.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Color Band to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Deal Color Bands
      summary: Retrieve a deal color band
      description: Retrieves a single color band record based on the color band ID passed in the path parameter.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Color Band
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Deal Color Bands
      summary: Update a deal color band
      description: Updates specific fields on a single color band based on the color band ID passed in the path parameter.
      parameters:
      - name: Id
        in: path
        description: The identifier of the Deal Color Band to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the Deal Color Band
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name
              ColorCode: ColorCode
              DealColor: Green
              DealShape: Circle
              Description: DealColorBand description
              PercentileFrom: '5'
              PercentileTo: '10'
              RangeName: RangeName
              Sequence: 1
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    DealColorBand:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ColorCode:
          type:
          - string
          - 'null'
        DealColor:
          type:
          - string
          - 'null'
        DealShape:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        PercentileFrom:
          type:
          - string
          - 'null'
        PercentileTo:
          type:
          - string
          - 'null'
        RangeName:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: {}
      example:
        Name: Name
        ColorCode: ColorCode
        DealColor: Green
        DealShape: Circle
        Description: DealColorBand description
        PercentileFrom: '5'
        PercentileTo: '10'
        RangeName: RangeName
        Sequence: 1
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
