openapi: 3.2.0
info:
  title: Schema Manager Object Definition API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Object Definition
paths:
  /api/schema/v1/objects:
    get:
      tags:
      - Object Definition
      summary: List all object names
      description: Fetches and lists all metadata and returns `OK` when the request is executed.
      parameters:
      - name: sortField
        in: query
        description: Field name for sorting
        schema:
          type: string
      - name: sortDirection
        in: query
        description: Sort direction (ascending or descending) of the data in sortField.
        schema:
          $ref: '#/components/schemas/SortDirection'
      - name: pageSize
        in: query
        description: The number of records to display on each page
        schema:
          type: integer
          format: int32
      - name: pageNumber
        in: query
        description: The page number of the result set to view
        schema:
          type: integer
          format: int32
      - name: startsWithFilter
        in: query
        description: Filter to fetch only names starting with this string.
        schema:
          type: string
      - name: objectType
        in: query
        description: Filter to fetch objects based on their object type.
        schema:
          $ref: '#/components/schemas/ObjectTypeFilter'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectInfoListAPIResponse'
              example:
                Success: true
                Data:
                - Name: Currency
                  DisplayName: Currency
                  Description: Currency
                  Category: Platform
                  IsProtected: true
                  IsDeprecated: false
                  ObjectType: Default
                - Name: Role
                  DisplayName: Role
                  Description: Role
                  Category: Platform
                  IsProtected: true
                  IsDeprecated: false
                  ObjectType: Default
                - Name: ObjectPermission
                  DisplayName: ObjectPermission
                  Description: ObjectPermission
                  Category: Platform
                  IsProtected: true
                  IsDeprecated: false
                  ObjectType: Default
                - Name: Agreement_UserShare_p
                  DisplayName: Agreement_UserShare_p
                  Description: Agreement_UserShare_p
                  Category: Platform
                  IsProtected: true
                  IsDeprecated: false
                  ObjectType: Default
                StatusCode: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
    post:
      tags:
      - Object Definition
      summary: Define a new object schema
      description: Validates and creates an object schema definition.
      requestBody:
        description: Request to create object schema definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: Account
                  DisplayName: Account
                  Description: Account
                  IsProtected: true
                  IsDeprecated: false
                  IsShared: true
                  IsDataCacheEnabled: true
                  IsTrackingEnabled: true
                  IsAllowOwnerScope: false
                  Category: Common
                  ObjectType: Default
                  IsRecycleBinEnabled: false
                  FieldMetadata:
                  - FieldName: Name
                    DisplayName: Name
                    Description: null
                    DataType: String
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: false
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  - FieldName: Id
                    DisplayName: Id
                    Description: null
                    DataType: Identifier
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: true
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  InternalRuntimeAliasFields: []
                  InternalPrecomputedAliasFields: []
                  PicklistMetadata: []
                  DependentPicklistMetadata: []
                  ComplexFieldMetadata: []
                  AliasFieldMetadata: []
                  IndexMetadata: []
                  TtlFieldMetadata: null
                  CreatedBy:
                    Id: c3213a44-7ad0-4361-8b6d-bce0f1cee228
                    Name: System Admin
                  CreatedDate: '2026-08-14T00:04:01.194+00:00'
                  ModifiedBy:
                    Id: f1c6dc48-76fb-4bcd-94bb-2444ce659760
                    Name: System Admin
                  ModifiedDate: '2026-08-14T00:04:01.194+00:00'
                  Attributes:
                    PublishDataChangeEvents: true
                    TrackAuditHistory: true
                    IsInternalObject: false
                StatusCode: OK
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/customschema/import:
    post:
      tags:
      - Object Definition
      summary: Import custom schema
      description: "Imports schema for custom fields and custom objects. \n            <ul><li><b>For standard object</b>: Creates missing custom fields from the corresponding JSON file (part of the ZIP file).</li><li><b>For custom object</b>: If a custom object is not available, it is created with all the fields; otherwise, it creates missing custom fields from the corresponding JSON file (part of the ZIP file).</li></ul>"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringStringDictionaryAPIResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{lookupObjectName}/lookup-criteria/validate:
    post:
      tags:
      - Object Definition
      summary: Validate lookup criteria
      description: Validates the provided lookup criteria against the schema of the specified lookup object.
      parameters:
      - name: lookupObjectName
        in: path
        description: The name of the object for which the lookup criteria should be validated. Must be a valid, existing object.
        required: true
        schema:
          type: string
      requestBody:
        description: The criteria string to validate. Must be non-empty and use supported syntax for field references and operators.
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/*+json:
            schema:
              type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringStringDictionaryAPIResponse'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}:
    get:
      tags:
      - Object Definition
      summary: Get a translated schema definition
      description: Validates and fetches a given object's schema definition.
      parameters:
      - name: objectName
        in: path
        description: Name of the object
        required: true
        schema:
          type: string
      - name: locale
        in: query
        description: Optional parameter, name of the organization supported locale
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: Account
                  DisplayName: Account
                  Description: Account
                  IsProtected: true
                  IsDeprecated: false
                  IsShared: true
                  IsDataCacheEnabled: true
                  IsTrackingEnabled: true
                  IsAllowOwnerScope: false
                  Category: Common
                  ObjectType: Default
                  IsRecycleBinEnabled: false
                  FieldMetadata:
                  - FieldName: Name
                    DisplayName: Name
                    Description: null
                    DataType: String
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: false
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  - FieldName: Id
                    DisplayName: Id
                    Description: null
                    DataType: Identifier
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: true
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  InternalRuntimeAliasFields: []
                  InternalPrecomputedAliasFields: []
                  PicklistMetadata: []
                  DependentPicklistMetadata: []
                  ComplexFieldMetadata: []
                  AliasFieldMetadata: []
                  IndexMetadata: []
                  TtlFieldMetadata: null
                  CreatedBy:
                    Id: 6739a9f3-fa32-4ee7-bff0-7e92c9dd5ab6
                    Name: System Admin
                  CreatedDate: '2026-08-14T00:04:01.226+00:00'
                  ModifiedBy:
                    Id: f1e469f2-92e5-4d30-95a6-343ca36d9045
                    Name: System Admin
                  ModifiedDate: '2026-08-14T00:04:01.226+00:00'
                  Attributes:
                    PublishDataChangeEvents: true
                    TrackAuditHistory: true
                    IsInternalObject: false
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
    put:
      tags:
      - Object Definition
      summary: Update a schema definition
      description: Validates and updates an object's schema definition.
      parameters:
      - name: objectName
        in: path
        description: Name of the object
        required: true
        schema:
          type: string
      requestBody:
        description: Details to be updated in the object's schema definition.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjectMetadataUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectMetadataAPIResponse'
              example:
                Success: true
                Data:
                  Name: Account
                  DisplayName: Account
                  Description: Account
                  IsProtected: true
                  IsDeprecated: false
                  IsShared: true
                  IsDataCacheEnabled: true
                  IsTrackingEnabled: true
                  IsAllowOwnerScope: false
                  Category: Common
                  ObjectType: Default
                  IsRecycleBinEnabled: false
                  FieldMetadata:
                  - FieldName: Name
                    DisplayName: Name
                    Description: null
                    DataType: String
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: false
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  - FieldName: Id
                    DisplayName: Id
                    Description: null
                    DataType: Identifier
                    DefaultValue: null
                    IsProtected: false
                    IsIndexField: true
                    IsSortable: false
                    IsRequired: true
                    IsUnique: false
                    IsDeprecated: false
                    IsCalculated: false
                    IsInternalField: false
                    IsAliasField: false
                    Length: null
                    LookupObjectName: null
                    LookupFilterCriteria: null
                    DependentPicklistMetadataName: null
                    PicklistName: null
                    ComplexMetadataName: null
                    AutoNumberInitialSeed: 0
                    AutoNumberPrefix: null
                    Precision: 0
                    Scale: 0
                    Expression: null
                    ExpressionDependency: null
                    AliasExpressionDependency: null
                    IsPreComputed: null
                    ReferenceObject: null
                    TargetObject: null
                    TargetField: null
                    RollupFunction: null
                    RollupFilterCriteria: null
                    AliasFieldDefinition: null
                    AliasFieldMetadataName: null
                    IsRichTextField: false
                    IsPropertyLookup: false
                    IdentifierType: null
                  InternalRuntimeAliasFields: []
                  InternalPrecomputedAliasFields: []
                  PicklistMetadata: []
                  DependentPicklistMetadata: []
                  ComplexFieldMetadata: []
                  AliasFieldMetadata: []
                  IndexMetadata: []
                  TtlFieldMetadata: null
                  CreatedBy:
                    Id: 693f0e39-fdc6-42a4-8828-f83ca2554551
                    Name: System Admin
                  CreatedDate: '2026-08-14T00:04:01.223+00:00'
                  ModifiedBy:
                    Id: 06fb2a39-a847-472a-96ea-c739800573b9
                    Name: System Admin
                  ModifiedDate: '2026-08-14T00:04:01.223+00:00'
                  Attributes:
                    PublishDataChangeEvents: true
                    TrackAuditHistory: true
                    IsInternalObject: false
                StatusCode: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/deprecate:
    patch:
      tags:
      - Object Definition
      summary: Deprecate an object
      description: Deprecates the object in the metadata, accepting the object name as input and setting it to be deprecated.
      parameters:
      - name: objectName
        in: path
        description: Name of the object
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /api/schema/v1/objects/{objectName}/shared/{isShared}:
    put:
      tags:
      - Object Definition
      summary: Set an object's shared status
      description: Sets the IsShared field for the given object to indicate whether the object is shareable.
      parameters:
      - name: objectName
        in: path
        description: Name of the object
        required: true
        schema:
          type: string
      - name: isShared
        in: path
        description: Boolean (True or False)
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
components:
  schemas:
    Attributes:
      type: object
      properties:
        PublishDataChangeEvents:
          type: boolean
        TrackAuditHistory:
          type: boolean
        IsInternalObject:
          type: boolean
      additionalProperties: false
    ControllingDependentPicklistEntryCreateRequest:
      type: object
      properties:
        ControllingPicklistEntry:
          type:
          - string
          - 'null'
          description: Controlling picklist entry of the picklist
        DependentPicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntryCreateRequest'
          description: Collection of the dependent picklist values
      additionalProperties: false
      description: Controlling dependent picklist entry
    AttributesCreateRequest:
      type: object
      properties:
        PublishDataChangeEvents:
          type: boolean
        TrackAuditHistory:
          type: boolean
      additionalProperties: false
    DataType:
      enum:
      - String
      - Int
      - Double
      - Currency
      - Boolean
      - DateTime
      - AutoNumber
      - Lookup
      - Picklist
      - MultiPicklist
      - Identifier
      - LongString
      - Complex
      - ComplexArray
      - Reference
      - Rollup
      - Decimal
      - Image
      - Alias
      - Date
      - Owner
      type: string
    IdentifierType:
      enum:
      - UUIDv4
      - UID18
      type: string
    ObjectInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Category:
          type:
          - string
          - 'null'
        IsProtected:
          type: boolean
        IsDeprecated:
          type: boolean
        ObjectType:
          $ref: '#/components/schemas/ObjectType'
      additionalProperties: false
    FieldMetadataCreateRequest:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Name of the field. You can enter up to 58 characters.
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the field
        Description:
          type:
          - string
          - 'null'
          description: Description of the field
        DataType:
          $ref: '#/components/schemas/DataType'
        DefaultValue:
          type:
          - string
          - 'null'
          description: Default value of the field
        IsRequired:
          type: boolean
          description: Indicates if the field is required.
        IsSortable:
          type: boolean
          description: Indicates if the field is sortable.
        IsUnique:
          type: boolean
          description: Indicates if the field is unique.
        IsIndexField:
          type: boolean
          description: Indicates if the field is indexed.
        LookupObjectName:
          type:
          - string
          - 'null'
          description: Lookup object name of the field
        LookupFilterCriteria:
          type:
          - string
          - 'null'
          description: Lookup filter criteria for UI
        PicklistName:
          type:
          - string
          - 'null'
          description: Picklist name of the field
        DependentPicklistMetadataName:
          type:
          - string
          - 'null'
          description: Dependent picklist metadata name of the field
        ComplexMetadataName:
          type:
          - string
          - 'null'
          description: Complex metadata name of the field
        AutoNumberInitialSeed:
          type: integer
          description: AutoNumber initial seed value of the field
          format: int32
        AutoNumberPrefix:
          type:
          - string
          - 'null'
          description: AutoNumber initial seed prefix of the field
        Precision:
          type: integer
          description: Precision of the field when the data type is Currency, Decimal, or Double.
          format: int32
        Scale:
          type: integer
          description: Scale of the field when the data type is Currency, Decimal, or Double.
          format: int32
        IsCalculated:
          type: boolean
          description: Indicates if the field is calculated.
        Expression:
          type:
          - string
          - 'null'
          description: Describes the expression of the formula field
        IsPreComputed:
          type:
          - boolean
          - 'null'
          description: Indicates if Formula expression is pre-computed or not
        Length:
          type:
          - integer
          - 'null'
          description: Length of the field when the data type is String or LongString.
          format: int32
        ReferenceObject:
          type:
          - string
          - 'null'
          description: Reference object of the field
        TargetObject:
          type:
          - string
          - 'null'
          description: Target object of the field
        TargetField:
          type:
          - string
          - 'null'
          description: Target field of the field
        RollupFunction:
          type:
          - string
          - 'null'
          description: Rollup function of the field
        RollupFilterCriteria:
          type:
          - string
          - 'null'
          description: Rollup filter criteria of the field
        IsRichTextField:
          type: boolean
          description: Indicates if the field is RichText.
        IdentifierType:
          $ref: '#/components/schemas/IdentifierType'
        AliasFieldDefinition:
          type:
          - string
          - 'null'
          description: Definition of the alias field
      additionalProperties: false
    PicklistMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        AllowNonConfiguredPicklistEntries:
          type: boolean
        PicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntry'
        IsDeprecated:
          type: boolean
      additionalProperties: false
    AliasFieldMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        AliasFieldDefinitionDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AliasFieldDefinitionDetail'
      additionalProperties: false
    PicklistMetadataCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the picklist
        AllowNonConfiguredPicklistEntries:
          type: boolean
          description: Indicates whether values other than those defined in the picklist are allowed.
        PicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntryCreateRequest'
          description: Colletion of the picklist entries
      additionalProperties: false
    StringStringDictionaryAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    ComplexFieldMetadataCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the complex field metadata
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComplexFieldMetadataEntryCreateModel'
          description: Collection of complex fields
      additionalProperties: false
    ComplexFieldMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
      additionalProperties: false
    ObjectTypeFilter:
      enum:
      - Default
      - Property
      - All
      type: string
    DependentPicklistMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        DependentFieldName:
          type:
          - string
          - 'null'
        ControllingFieldName:
          type:
          - string
          - 'null'
        ControllingAndDependentPicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ControllingAndDependentPicklistEntry'
        IsDeprecated:
          type: boolean
      additionalProperties: false
    ObjectMetadataCreateRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the object to be created. You can enter up to 52 characters.
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the object
        Description:
          type:
          - string
          - 'null'
          description: Description of the object
        IsDataCacheEnabled:
          type: boolean
          description: Indicates if data cache is enabled for this object.
        IsAllowOwnerScope:
          type: boolean
          description: Indicates if allow Owner Scope
        Category:
          type:
          - string
          - 'null'
          description: Category of the object
        ComplexFieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComplexFieldMetadataCreateRequest'
          description: Collection of the complex field
        FieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadataCreateRequest'
          description: Collection of the field
        PicklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistMetadataCreateRequest'
          description: Collection of the picklist
        DependentPicklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DependentPicklistMetadataRequest'
          description: Collection of the dependent picklist
        Attributes:
          $ref: '#/components/schemas/AttributesCreateRequest'
      additionalProperties: false
      description: Object's metadata create request
    ComplexFieldMetadataEntryCreateModel:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Name of the complex field
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the complex field
        Description:
          type:
          - string
          - 'null'
          description: Description of the complex field
        DataType:
          $ref: '#/components/schemas/DataType'
        IsIndexField:
          type: boolean
          description: Indicates if the complex field is indexed.
        Precision:
          type: integer
          description: Precision of the complex field when the data type is Currency, Decimal, or Double.
          format: int32
        Scale:
          type: integer
          description: Scale of the complex field when the data type is Currency, Decimal, or Double.
          format: int32
        Length:
          type:
          - integer
          - 'null'
          description: Length of the complex field when the data type is String or LongString.
          format: int32
      additionalProperties: false
    IndexMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        IndexMetadataDetail:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IndexMetadataDetail'
      additionalProperties: false
    TtlFieldMetadata:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        RetentionPeriodInDaysServiceQuotaKey:
          type:
          - string
          - 'null'
          description: Gets or sets the service quota key that specifies the retention period, in days, for data storage.
      additionalProperties: false
      description: TTL (Time To Live) field metadata class that defines the properties related to the TTL field used for data expiration in the data store.
    PicklistEntryCreateRequest:
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value of the picklist entry
        DisplayText:
          type:
          - string
          - 'null'
          description: Display text of the picklist entry
        Sequence:
          type: integer
          description: Sequence of the picklist entry
          format: int32
      additionalProperties: false
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    ObjectMetadataUpdateRequest:
      type: object
      properties:
        DisplayName:
          type:
          - string
          - 'null'
          description: DisplayName of the Object
        Description:
          type:
          - string
          - 'null'
          description: Description of the Object
        IsDataCacheEnabled:
          type: boolean
          description: Indicates if DataCache is enabled for this object
        IsTrackingEnabled:
          type: boolean
          description: Indicates if the Object is TrackingEnabled
        IsAllowOwnerScope:
          type: boolean
          description: Indicates if allow Owner Scope
        IsRecycleBinEnabled:
          type: boolean
          description: Enable Recycle Bin for the object
        Category:
          type:
          - string
          - 'null'
          description: Category of the Object
      additionalProperties: false
    ObjectType:
      enum:
      - Default
      - Property
      type: string
    ControllingAndDependentPicklistEntry:
      type: object
      properties:
        ControllingPicklistEntry:
          type:
          - string
          - 'null'
        DependentPicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistEntry'
      additionalProperties: false
    ObjectMetadata:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the object to be created
        DisplayName:
          type:
          - string
          - 'null'
          description: Display name of the object
        Description:
          type:
          - string
          - 'null'
          description: Description of the object
        IsProtected:
          type: boolean
        IsDeprecated:
          type: boolean
        IsShared:
          type: boolean
        IsDataCacheEnabled:
          type: boolean
          description: Indicates if data cache is enabled for this object.
        IsTrackingEnabled:
          type: boolean
        IsAllowOwnerScope:
          type: boolean
          description: RecordOwner feature
        Category:
          type:
          - string
          - 'null'
          description: Category of the object
        ObjectType:
          $ref: '#/components/schemas/ObjectType'
        IsRecycleBinEnabled:
          type: boolean
          description: Indicates if Recycle Bin is enabled for this object.
        FieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
          description: Collection of the field
        InternalRuntimeAliasFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
        InternalPrecomputedAliasFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldMetadata'
        PicklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PicklistMetadata'
          description: Collection of the picklist
        DependentPicklistMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DependentPicklistMetadata'
          description: Collection of the dependent picklist
        ComplexFieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ComplexFieldMetadata'
          description: Collection of the complex field
        AliasFieldMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AliasFieldMetadata'
        IndexMetadata:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IndexMetadata'
        TtlFieldMetadata:
          $ref: '#/components/schemas/TtlFieldMetadata'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        Attributes:
          $ref: '#/components/schemas/Attributes'
      additionalProperties: false
      description: Object's metadata
    FieldMetadata:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DataType:
          $ref: '#/components/schemas/DataType'
        DefaultValue:
          type:
          - string
          - 'null'
        IsProtected:
          type: boolean
        IsIndexField:
          type: boolean
        IsSortable:
          type: boolean
        IsRequired:
          type: boolean
        IsUnique:
          type: boolean
        IsDeprecated:
          type: boolean
        IsCalculated:
          type: boolean
        IsInternalField:
          type: boolean
        IsAliasField:
          type: boolean
        ReadAccess:
          type:
          - boolean
          - 'null'
        WriteAccess:
          type:
          - boolean
          - 'null'
        Length:
          type:
          - integer
          - 'null'
          format: int32
        LookupObjectName:
          type:
          - string
          - 'null'
        LookupFilterCriteria:
          type:
          - string
          - 'null'
        DependentPicklistMetadataName:
          type:
          - string
          - 'null'
        PicklistName:
          type:
          - string
          - 'null'
        ComplexMetadataName:
          type:
          - string
          - 'null'
        AutoNumberInitialSeed:
          type: integer
          format: int32
        AutoNumberPrefix:
          type:
          - string
          - 'null'
        Precision:
          type: integer
          format: int32
        Scale:
          type: integer
          format: int32
        Expression:
          type:
          - string
          - 'null'
        ExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        AliasExpressionDependency:
          type:
          - array
          - 'null'
          items:
            type: string
        IsPreComputed:
          type:
          - boolean
          - 'null'
        ReferenceObject:
          type:
          - string
          - 'null'
        TargetObject:
          type:
          - string
          - 'null'
        TargetField:
          type:
          - string
          - 'null'
        RollupFunction:
          type:
          - string
          - 'null'
        RollupFilterCriteria:
          type:
          - string
          - 'null'
        AliasFieldDefinition:
          type:
          - string
          - 'null'
        AliasFieldMetadataName:
          type:
          - string
          - 'null'
        IsRichTextField:
          type: boolean
        IsPropertyLookup:
          type:
          - boolean
          - 'null'
        IdentifierType:
          $ref: '#/components/schemas/IdentifierType'
      additionalProperties: false
    AliasFieldDefinitionDetail:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
        ObjectName:
          type:
          - string
          - 'null'
        Sequence:
          type: integer
          format: int32
      additionalProperties: false
    IndexMetadataDetail:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
      additionalProperties: false
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ObjectMetadataAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/ObjectMetadata'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    PicklistEntry:
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
        DisplayText:
          type:
          - string
          - 'null'
        Sequence:
          type: integer
          format: int32
        IsDeprecated:
          type: boolean
      additionalProperties: false
    ObjectInfoListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ObjectInfo'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    DependentPicklistMetadataRequest:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          description: Name of the dependent picklist
        DependentFieldName:
          type:
          - string
          - 'null'
          description: Dependent field name of the picklist
        ControllingFieldName:
          type:
          - string
          - 'null'
          description: Controlling field name of the picklist
        ControllingAndDependentPicklistEntries:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ControllingDependentPicklistEntryCreateRequest'
          description: Collection of the controlling and dependent picklist
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
