openapi: 3.2.0
info:
  title: Conga Callback API
  version: '1.0'
  description: 'Operations tagged Callback across 2 of this provider''s published API definitions: conga-conga-sign.json, conga-extensibility.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com/api/sign
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
tags:
- name: Callback
paths:
  /v1/cs-callback:
    post:
      tags:
      - Callback
      summary: Creates a new callback.
      description: 'Callback event notifications allow you to be automatically notified of events pertaining to a package.

        Upon a specific event, the system will automatically call a specified URL.'
      operationId: Callback_AddCallback
      requestBody:
        x-name: callback
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callback'
        required: true
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfCallback'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Callback
      summary: Retrieves a list of all callbacks.
      description: 'Callback event notifications allow you to be automatically notified of events pertaining to a package.

        Upon a specific event, the system will automatically call a specified URL.'
      operationId: Callback_GetCallback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callback'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /v1/cs-callback/connectors/{origin}:
    post:
      tags:
      - Callback
      summary: Creates a new callback for a specified connector.
      description: 'Creates a new callback for a specified connector, such as a SalesforceOauth2 connector, or a Microsoft CRM connector.

        <br>Accepted values for Origin:

        <br> dynamics

        <br> sharepoint

        <br> dynamics2011

        <br> dynamics2013

        <br> dynamics2015

        <br> sharepoint2010

        <br> sharepoint2013

        <br> salesforceOauth2

        <br> Note that, when using the origin "salesforceOauth2", the key field of the Callback object has a specific format.

        <br> The base64 encoded string for the following JSON structure is expected in the key field.

        <br> {

        <br>  &nbsp;&nbsp;host: [salesforce oauth host],

        <br>  &nbsp;&nbsp;client_id: [salesforce connected app client id]

        <br>  &nbsp;&nbsp;refresh_token: [salesforce connected app refresh token],

        <br> }

        <br> This is an example of a valid JSON structure for the key field:

        <br> {

        <br> &nbsp;&nbsp;host: [salesforce oauth host],

        <br> &nbsp;&nbsp;client_id: [salesforce connected app client id]

        <br> &nbsp;&nbsp;refresh_token: [salesforce connected app refresh token],

        <br> }

        <br> The base64 encoded string for the JSON example above would be (disregarding linebreaks):

        <br> [base64 encoded string for the JSON structure above]'
      operationId: Callback_AddConnectorCallback
      parameters:
      - name: origin
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: callback
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Callback'
        required: true
        x-position: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultOfCallback'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    get:
      tags:
      - Callback
      summary: Retrieves a list of callbacks for a specified connector.
      description: 'Retrieves a list of callbacks for a specified connector, such as a SalesforceOauth2 connector, or a Microsoft CRM connector.

        <br>Accepted values for Origin:

        <br> dynamics

        <br> sharepoint

        <br> dynamics2011

        <br> dynamics2013

        <br> dynamics2015

        <br> sharepoint2010

        <br> sharepoint2013

        <br> salesforceOauth2

        <br> Note that, when using the origin "salesforceOauth2", the key field of the Callback object has a specific format.

        <br> The base64 encoded string for the following JSON structure is expected in the key field.

        <br> {

        <br>  &nbsp;&nbsp;host: [salesforce oauth host],

        <br>  &nbsp;&nbsp;client_id: [salesforce connected app client id]

        <br>  &nbsp;&nbsp;refresh_token: [salesforce connected app refresh token],

        <br> }

        <br> This is an example of a valid JSON structure for the key field:

        <br> {

        <br> &nbsp;&nbsp;host: [salesforce oauth host],

        <br> &nbsp;&nbsp;client_id: [salesforce connected app client id]

        <br> &nbsp;&nbsp;refresh_token: [salesforce connected app refresh token],

        <br> }

        <br> The base64 encoded string for the JSON example above would be (disregarding linebreaks):

        <br> [base64 encoded string for the JSON structure above]'
      operationId: Callback_GetConnectorCallback
      parameters:
      - name: origin
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Callback'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '401':
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error2'
      security:
      - JWT: []
    servers:
    - url: https://rls.congacloud.com/api/sign
  /api/extensibility/v1/callbacks:
    get:
      tags:
      - Callback
      summary: Get all callback contracts
      description: Retrieves all callback contract and project mapping information for each callback contract.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackContractResponseListAPIResponse'
              example:
                Success: true
                Data:
                - CallbackName: Conga.Revenue.Common.Callback.IPricingBasePriceCallback
                  CallbackShortName: null
                  CallbackDescription: Pricing BasePrice Callback
                  CallbackDisplayName: Pricing BasePrice Callback
                  CallbackCategoryName: Revenue
                  CustomCodeMapping:
                    ProjectName: null
                    ClassName: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    put:
      tags:
      - Callback
      summary: Update callback contract mapping
      description: Updates the callback contract mapping with custom code project and class.
      requestBody:
        description: List of callback custom code mapping information
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CallbackCustomCodeMappingInfo'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CallbackCustomCodeMappingInfo'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CallbackCustomCodeMappingInfo'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackCustomCodeMappingInfoListAPIResponse'
              example:
                Success: true
                Data:
                - ModuleName: Revenue
                  ContractName: Conga.Revenue.Common.Callback.IPricingBasePriceCallback
                  ProjectName: PricingBasePriceCallbackProject
                  ClassName: TestClass
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/extensibility/v1/callbacks/modules:
    get:
      tags:
      - Callback
      summary: Get all modules
      description: Retrieves a list of registered callback modules.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringListAPIResponse'
              example:
                Success: true
                Data:
                - Module 1
                - Module 2
                - Module 3
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/extensibility/v1/callbacks/modules/{moduleName}:
    get:
      tags:
      - Callback
      summary: Get all callback contracts by module name
      description: Retrieves callback contract details and project mapping information for each callback contract by module name.
      parameters:
      - name: moduleName
        in: path
        description: Module name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackContractResponseListAPIResponse'
              example:
                Success: true
                Data:
                - CallbackName: CallbackName
                  CallbackShortName: CallbackShortName
                  CallbackDescription: CallbackDescription
                  CallbackDisplayName: CallbackDisplayName
                  CallbackCategoryName: CallbackCategoryName
                  CustomCodeMapping:
                    ProjectName: ProjectName
                    ClassName: ClassName
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/extensibility/v1/callbacks/settings:
    get:
      tags:
      - Callback
      summary: Get callback custom code setting configuration
      description: Fetches callback custom code setting configuration details.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackCustomCodeSettingsResponseAPIResponse'
              example:
                Success: true
                Data:
                  ExecutionAbortTimeout: 1000
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    put:
      tags:
      - Callback
      summary: Upsert callback custom code setting configuration
      description: If a callback custom code setting is already configured, it is updated; otherwise, a new one is created.
      requestBody:
        description: CallbackCustomCodeSetting configuration data to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackCustomCodeSettingsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CallbackCustomCodeSettingsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CallbackCustomCodeSettingsRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BooleanNullableAPIResponse'
              example:
                Success: true
                Data: true
                StatusCode: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorResponseExampleAPIResponse'
              example:
                Success: false
                Data: null
                Errors:
                - Message: Bad Request Error Message
                StatusCode: BadRequest
                NextCursor: null
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
  /api/extensibility/v1/callbacks/{name}:
    get:
      tags:
      - Callback
      summary: Get callback contract details
      description: Retrieves callback contract details and mapping information based on the module and callback contract names.
      parameters:
      - name: moduleName
        in: query
        description: Module name
        schema:
          type: string
      - name: name
        in: path
        description: Contract name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackContractResponseAPIResponse'
              example:
                Success: true
                Data:
                  ModuleName: test_Modulename
                  ContractName: Test_ContractName
                  ProjectName: customCode_Test
                  ClassName: CustomCodeHelpers.CallbackCustomeCode
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringAPIResponse'
              example:
                Success: true
                Data: newsampleApi deleted successfully.
                StatusCode: OK
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
    servers:
    - url: https://rls.congacloud.com
    - url: https://preview-rls09.congacloud.com
components:
  schemas:
    Error2:
      type: object
      description: Object representing an error condition
      additionalProperties: false
      properties:
        code:
          type:
          - integer
          - 'null'
          description: The error code
          format: int32
        entity:
          description: The Microsoft Dynamics entity
          oneOf:
          - $ref: '#/components/schemas/Entity'
        message:
          type: string
          description: The error message
        messageKey:
          type: string
          description: The error message key
        name:
          type: string
          description: The error name
        technical:
          type: string
          description: Technical information about the error
    CustomParameter:
      type: object
      description: 'Represents a custom parameter for OAuth token requests.

        Used to send additional parameters to the OAuth authorization server.'
      additionalProperties: false
      properties:
        key:
          type: string
          description: The parameter key/name (e.g., "user-id", "tenant-id")
        value:
          type: string
          description: The parameter value
    Callback:
      type: object
      description: Represents the callback url used for event handling
      additionalProperties: false
      properties:
        events:
          type: array
          description: List of events
          items:
            $ref: '#/components/schemas/CallbackEvent'
        key:
          type: string
          description: Unique callback key
        url:
          type: string
          description: The url to be called when an event occurs
        authType:
          type: string
          description: The Auth type required for event
        oauthSetting:
          description: The OAuth setting for event registration
          oneOf:
          - $ref: '#/components/schemas/OAuthSettings'
        customHeaders:
          type: array
          description: 'Custom headers to be included in callback requests.

            Allows adding custom HTTP headers to callback webhook calls.'
          items:
            $ref: '#/components/schemas/CustomHeader'
    OAuthSettings:
      type: object
      description: Represents the OAuth settings for callback authentication
      additionalProperties: false
      properties:
        clientId:
          type: string
          description: Client Id of the OAuth application
        clientSecret:
          type: string
          description: Client secret of the OAuth application
        authorizationServerUrl:
          type: string
          description: Authorization Server URL for OAuth token endpoint
        scope:
          type: string
          description: OAuth scope (space-separated list of scopes)
        grantType:
          type: string
          description: OAuth grant type (CLIENT_CREDENTIALS, PASSWORD, etc.)
        ignoreSsl:
          type: boolean
          description: Enable to ignore SSL certificate validation
        username:
          type: string
          description: Username (required for PASSWORD grant type)
        password:
          type: string
          description: Password (required for PASSWORD grant type)
        authMechanism:
          type: string
          description: 'Authentication mechanism for sending client credentials.

            Specifies how the OAuth client credentials are sent to the authorization server.

            Common values: "HEADER", "BODY", "BASIC_AUTH"'
        customParameters:
          type: array
          description: 'Custom parameters to be sent with the OAuth token request.

            Allows adding additional parameters beyond standard OAuth parameters.

            Example: user-id, tenant-id, custom claims, etc.'
          items:
            $ref: '#/components/schemas/CustomParameter'
    CallbackEvent:
      type: string
      description: ''
      x-enumNames:
      - PACKAGE_CREATE
      - PACKAGE_ACTIVATE
      - PACKAGE_DEACTIVATE
      - PACKAGE_READY_FOR_COMPLETE
      - PACKAGE_COMPLETE
      - PACKAGE_TRASH
      - PACKAGE_RESTORE
      - PACKAGE_DELETE
      - PACKAGE_DECLINE
      - PACKAGE_EXPIRE
      - PACKAGE_OPT_OUT
      - DOCUMENT_SIGNED
      - ROLE_REASSIGN
      - SIGNER_COMPLETE
      - EMAIL_BOUNCE
      - KBA_FAILURE
      - PACKAGE_ARCHIVE
      - PACKAGE_ATTACHMENT
      - SIGNER_LOCKED
      - TEMPLATE_CREATE
      - RECORDINGS_READY
      - NOTARY_COMMISSION_CREATED
      - DOCUMENT_VIEWED
      - COBROWSE_REQUEST
      - COMPOSITION_FAILED
      - EDEPOSIT_SUCCESS
      - EDEPOSIT_ATTEMPT_FAILURE
      - EDEPOSIT_FAILURE
      - PACKAGE_SMS_NOTIFICATIONS_LIMIT_REACHED
      - RECIPIENT_OPT_OUT_SMS
      enum:
      - PACKAGE_CREATE
      - PACKAGE_ACTIVATE
      - PACKAGE_DEACTIVATE
      - PACKAGE_READY_FOR_COMPLETE
      - PACKAGE_COMPLETE
      - PACKAGE_TRASH
      - PACKAGE_RESTORE
      - PACKAGE_DELETE
      - PACKAGE_DECLINE
      - PACKAGE_EXPIRE
      - PACKAGE_OPT_OUT
      - DOCUMENT_SIGNED
      - ROLE_REASSIGN
      - SIGNER_COMPLETE
      - EMAIL_BOUNCE
      - KBA_FAILURE
      - PACKAGE_ARCHIVE
      - PACKAGE_ATTACHMENT
      - SIGNER_LOCKED
      - TEMPLATE_CREATE
      - RECORDINGS_READY
      - NOTARY_COMMISSION_CREATED
      - DOCUMENT_VIEWED
      - COBROWSE_REQUEST
      - COMPOSITION_FAILED
      - EDEPOSIT_SUCCESS
      - EDEPOSIT_ATTEMPT_FAILURE
      - EDEPOSIT_FAILURE
      - PACKAGE_SMS_NOTIFICATIONS_LIMIT_REACHED
      - RECIPIENT_OPT_OUT_SMS
    Entity:
      type: object
      description: Object used to manage entities from Microsoft Dynamics
      additionalProperties: false
      properties:
        data:
          type: object
          description: Custom data for the entity
          additionalProperties: {}
        id:
          type: string
          description: Unique id of the entity
        name:
          type: string
          description: Name of the entity
    ResultOfCallback:
      type: object
      description: Object used to manage OneSpan list types
      additionalProperties: false
      properties:
        count:
          type: integer
          description: Count
          format: int32
        results:
          type: array
          description: Results
          items:
            $ref: '#/components/schemas/Callback'
    CustomHeader:
      type: object
      description: 'Represents a custom HTTP header for callback requests.

        Used to add additional headers to webhook callback calls.'
      additionalProperties: false
      properties:
        key:
          type: string
          description: The header key/name (e.g., "X-Custom-Header")
        value:
          type: string
          description: The header value
    BadRequestErrorResponseExample:
      type: object
      additionalProperties: false
    BooleanNullableAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - boolean
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CallbackContractResponse:
      type: object
      properties:
        CallbackName:
          type:
          - string
          - 'null'
          description: Fully qualified contract name
        CallbackShortName:
          type:
          - string
          - 'null'
          description: Fully qualified contract name
        CallbackDescription:
          type:
          - string
          - 'null'
          description: Description
        CallbackDisplayName:
          type:
          - string
          - 'null'
          description: Display Name
        CallbackCategoryName:
          type:
          - string
          - 'null'
          description: Category Name
        CustomCodeMapping:
          $ref: '#/components/schemas/CustomCodeMapping'
      additionalProperties: false
      description: Response of object for All contracts
    CallbackContractResponseListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CallbackContractResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
    CustomCodeMapping:
      type: object
      properties:
        ProjectName:
          type:
          - string
          - 'null'
          description: Name of the Project
        ClassName:
          type:
          - string
          - 'null'
          description: Class Name
      additionalProperties: false
      description: Project Mapping information for a contract.
    CallbackCustomCodeSettingsResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/CallbackCustomCodeSettingsResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CallbackCustomCodeMappingInfo:
      type: object
      properties:
        ModuleName:
          type:
          - string
          - 'null'
        ContractName:
          type:
          - string
          - 'null'
        ProjectName:
          type:
          - string
          - 'null'
        ClassName:
          type:
          - string
          - 'null'
      additionalProperties: false
    CallbackCustomCodeMappingInfoListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CallbackCustomCodeMappingInfo'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CallbackCustomCodeSettingsResponse:
      type: object
      properties:
        ExecutionAbortTimeout:
          type: integer
          format: int32
      additionalProperties: false
    ErrorDetail:
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringListAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: string
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CallbackContractResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/CallbackContractResponse'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    BadRequestErrorResponseExampleAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          $ref: '#/components/schemas/BadRequestErrorResponseExample'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    StringAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - string
          - 'null'
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
        Profile:
          type:
          - string
          - 'null'
        TotalTime:
          type: number
          format: float
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    CallbackCustomCodeSettingsRequest:
      type: object
      properties:
        ExecutionAbortTimeout:
          type: integer
          description: Time interval, in milliseconds, to abort the custom code's execution
          format: int32
      additionalProperties: false
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- conga-conga-sign.json
- conga-extensibility.json
