openapi: 3.2.0
info:
  title: Contracts Contract Obligations Fulfillment API
  version: v1
servers:
- url: https://rls.congacloud.com
- url: https://preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Contract Obligations Fulfillment
paths:
  /api/clm/v1/contracts/obligations/fulfillments/query:
    post:
      tags:
      - Contract Obligations Fulfillment
      summary: Get all active obligation fulfillments for the Manage Fulfillment listing
      description: "Fetches all active obligation fulfillment records excluding Canceled and Superseded status records at database level.\n\nFor Recurring Obligations (Monthly, Quarterly, Custom):\n- Excludes terminal statuses: FulfilledOnTime, FulfilledLate, Waived\n- If there are overdue pending fulfillments (DueDate Less Than Today with PendingFulfillment or PendingReview status):\n  Shows all overdue pending fulfillments PLUS the next upcoming fulfillment (earliest future DueDate)\n- If all pending fulfillments are future (DueDate Greater Than Or Equal Today):\n  Shows only the next upcoming (earliest) pending fulfillment\n- Prevents showing all future fulfillments - only the immediate next one\n\nResults are sorted by due date and include contract and obligation details for each fulfillment."
      requestBody:
        description: Query parameters for filtering, sorting, and pagination
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns the list of active obligation fulfillments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManageFulfillmentResponseQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Id: a1234567-1234-1234-1234-123456789012
                    Name: Submit Quarterly Report
                    FulfillmentNumber: FOB-001
                    ObligationName: null
                    ObligationNumber: OBL-001
                    Frequency: Quarterly
                    AgreementObligation: null
                    Agreement: null
                    ContractName: null
                    ObligationType: Reporting
                    Status: PendingFulfillment
                    Assignee:
                      Id: d1234567-1234-1234-1234-123456789012
                      Name: John Smith
                    Reviewer:
                      Id: e1234567-1234-1234-1234-123456789012
                      Name: Jane Doe
                    DueDate: '2024-03-31T00:00:00'
                    FulfillmentDate: null
                    Priority: High
                    ReviewerContact:
                      Id: f1234567-1234-1234-1234-123456789012
                      Name: Alice Johnson
                    AssigneeContact:
                      Id: a1234567-1234-1234-1234-123456789013
                      Name: Bob Williams
                    AssigneeSupplierContact:
                      Id: a1234567-1234-1234-1234-123456789016
                      Name: Supplier Contact
                    ReviewerUserGroup:
                      Id: b1234567-1234-1234-1234-123456789014
                      Name: Legal Review Group
                    AssigneeUserGroup:
                      Id: c1234567-1234-1234-1234-123456789015
                      Name: Compliance Team
                    AssigneeType: User
                    ReviewerType: User
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/obligations/{obligationId}/activityhistory/query:
    post:
      tags:
      - Contract Obligations Fulfillment
      summary: Get activity history for all fulfillments of a contract obligation
      description: 'Fetches the combined activity history across all fulfillments of a specific obligation.

        Each row includes FulfillmentName, FulfillmentNumber, Comments, Date, User, Action, Status, and AttachmentCount.'
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: ID of the obligation
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to filter, sort, and paginate history records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns activity history records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Provided query is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/obligations/{obligationId}/fulfillments/query:
    post:
      tags:
      - Contract Obligations Fulfillment
      summary: Get all fulfillments for a contract obligation
      description: Fetches fulfillment records for a specific obligation in a contract.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: ID of the obligation
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to filter, sort, and paginate fulfillment records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns fulfillment records that match the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Provided query is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/obligations/{obligationId}/fulfillments/{fulfillmentId}:
    get:
      tags:
      - Contract Obligations Fulfillment
      summary: Get a contract obligation fulfillment by ID
      description: Fetches a contract obligation fulfillment by its ID.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: ID of the obligation
        required: true
        schema:
          type: string
      - name: fulfillmentId
        in: path
        description: ID of the fulfillment
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the contract obligation details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractObligationFulfillmentResponseAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: Contract obligation not found.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
    put:
      tags:
      - Contract Obligations Fulfillment
      summary: Update a contract obligation fulfillment
      description: Modifies an existing contract obligation fulfillment by updating the provided field values.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract. Example, 3448ad3c-f401-4979-8043-0ba063eb587a
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: ID of the obligation. Example, 10afec25-416b-4441-97b2-3f5f1d86c688
        required: true
        schema:
          type: string
      - name: fulfillmentId
        in: path
        description: ID of the fulfillment. Example, be118710-7983-4153-8bc4-2042a0600a7a
        required: true
        schema:
          type: string
      requestBody:
        description: Fulfillment Details
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              DueDate: '2026-08-14T00:01:42.4000358Z'
              Assignee:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              Reviewer:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeSupplierContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Supplier Contact
              ReviewerContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Engineering Team
              ReviewerUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Review Team
              AssigneeType: User
              ReviewerType: User
              applyToUpcomingAssignee: false
              applyToUpcomingReviewer: false
          text/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              DueDate: '2026-08-14T00:01:42.4000358Z'
              Assignee:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              Reviewer:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeSupplierContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Supplier Contact
              ReviewerContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Engineering Team
              ReviewerUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Review Team
              AssigneeType: User
              ReviewerType: User
              applyToUpcomingAssignee: false
              applyToUpcomingReviewer: false
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
            example:
              DueDate: '2026-08-14T00:01:42.4000358Z'
              Assignee:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              Reviewer:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeSupplierContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Supplier Contact
              ReviewerContact:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Conga
              AssigneeUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Engineering Team
              ReviewerUserGroup:
                Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                Name: Review Team
              AssigneeType: User
              ReviewerType: User
              applyToUpcomingAssignee: false
              applyToUpcomingReviewer: false
      responses:
        '200':
          description: Updates the contract obligation fulfillment details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractObligationFulfillmentAPIResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '404':
          description: Contract obligation fulfillment not found.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/obligations/{obligationId}/fulfillments/{fulfillmentId}/history/query:
    post:
      tags:
      - Contract Obligations Fulfillment
      summary: Get fulfillment history
      description: Fetches fulfillment history for a contract obligation.
      parameters:
      - name: contractId
        in: path
        description: Contract Id
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: Obligation Id
        required: true
        schema:
          type: string
      - name: fulfillmentId
        in: path
        description: ID of a ObligationFulfillment
        required: true
        schema:
          type: string
      requestBody:
        description: Query parameters to get the fulfillment history records
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/CustomQuery'
            example:
              Distinct: false
              Fields: null
              GroupBy: null
              IncludeTotalCount: true
              SortInfo:
                FieldName: ContractType
                Direction: Ascending
              CriteriaExpression: null
              Limit: 10
              Skip: 0
      responses:
        '200':
          description: Returns fulfillment history records that match the query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse'
              example:
                Success: true
                Data:
                  RecordCount: 1
                  Data:
                  - Name: Contract-Demo
                    Account:
                      Id: 0474fc7a-5914-4059-a412-e88afb581b7a
                      Name: Conga
                    RecordType: MSA
                    ContractCategory: Sales
                    TotalContractValue: 2000
                    ContractStartDate: '2023-01-01T00:00:00'
                    ContractEndDate: '2023-12-31T00:00:00'
                    RecordOwner:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: Bumble Bee
                      OwnerType: User
                    Status: Request
                    StatusCategory: Request
                    Id: 0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1
                    CreatedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    CreatedDate: '2023-01-16T11:59:24'
                    ModifiedBy:
                      Id: d717a075-9cbf-480c-b230-837e0e6dee75
                      Name: user
                    ModifiedDate: '2023-01-16T11:59:24'
                    ExternalId: null
                    ActivatedBy: null
                    ActivatedDate: null
                    ContractNumber: '42'
                    AmendmentEffectiveDate: null
                    AutoRenewConsent: null
                    AutoRenewTermMonths: null
                    AutoRenewalTerms: null
                    AutoRenewal: null
                    ContractNumberAuto: 42
                    Description: null
                    Currency: USD
                  NextCursor: null
                  StatusCode: OK
                Warnings: null
                Errors: null
        '400':
          description: Provided query is invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
  /api/clm/v1/contracts/{contractId}/obligations/{obligationId}/fulfillments/{fulfillmentId}/{fulfillmentAction}:
    post:
      tags:
      - Contract Obligations Fulfillment
      summary: Perform an action on a contract obligation fulfillment
      description: Executes the specified action on a contract obligation fulfillment.
      parameters:
      - name: contractId
        in: path
        description: ID of the contract
        required: true
        schema:
          type: string
      - name: obligationId
        in: path
        description: ID of the obligation
        required: true
        schema:
          type: string
      - name: fulfillmentId
        in: path
        description: ID of the fulfillment
        required: true
        schema:
          type: string
      - name: fulfillmentAction
        in: path
        description: Action to perform on the fulfillment
        required: true
        schema:
          $ref: '#/components/schemas/FulfillmentAction'
      requestBody:
        description: Optional date when the fulfillment was completed
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fulfilledOn:
                  type: string
                  format: date-time
                comments:
                  type: string
                documents:
                  type: array
                  items:
                    type: string
                    format: binary
                documentAttributes:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties: {}
            example:
              FulfilledOn: '2026-08-14T00:01:42.422302Z'
              Comments: Obligation fulfilled with supporting documentation attached
              Documents: null
              DocumentAttributes:
                Document1.pdf:
                  DocumentType: Other
                  Action: Upload Document
            encoding:
              fulfilledOn:
                style: form
              comments:
                style: form
              documents:
                style: form
              documentAttributes:
                style: form
      responses:
        '200':
          description: Action executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractObligationFulfillmentResponseAPIResponse'
        '400':
          description: Invalid action or fulfillment state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Error Message
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIResponseError'
              example:
                Success: false
                Data: null
                Warnings: null
                Errors:
                - Id: null
                  Message: Internal server error occurred. Please contact admin.
components:
  schemas:
    ContractObligationFulfillment:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        FulfillmentNumber:
          type:
          - string
          - 'null'
          description: Fulfillment Number
        AgreementObligation:
          type:
          - string
          - 'null'
          description: Reference to Agreement Obligation table
        FulfillmentNumberAuto:
          type:
          - string
          - 'null'
          description: Auto-generated fulfillment number (raw sequence from DB)
        DueDate:
          type:
          - string
          - 'null'
          description: 'Due Date

            Serialized Format: yyyy-MM-dd (e.g., "2027-03-01")

            The DateTime value is converted to a date-only string without time component.

            Accepts both yyyy-MM-dd format and ISO-8601 datetime on deserialization.'
          format: date-time
        FulfillmentDate:
          type:
          - string
          - 'null'
          description: FulfillmentDate
          format: date-time
        Status:
          type:
          - string
          - 'null'
          description: Fulfillment Status
        Assignee:
          $ref: '#/components/schemas/LookupObject'
        Reviewer:
          $ref: '#/components/schemas/LookupObject'
        AssigneeContact:
          $ref: '#/components/schemas/LookupObject'
        AssigneeSupplierContact:
          $ref: '#/components/schemas/LookupObject'
        ReviewerContact:
          $ref: '#/components/schemas/LookupObject'
        AssigneeType:
          type:
          - string
          - 'null'
          description: Assignee Type
        ReviewerType:
          type:
          - string
          - 'null'
          description: Reviewer Type
        AssigneeUserGroup:
          $ref: '#/components/schemas/LookupObject'
        ReviewerUserGroup:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      description: Model for Agreement Obligation Fulfillment
    ManageFulfillmentResponseQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ManageFulfillmentResponseQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    FulfillmentAction:
      enum:
      - Submit
      - Accept
      - Reject
      - RequestInformation
      - Waive
      type: string
      description: Defines possible actions that can be performed on a contract obligation fulfillment
    ContractObligation:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Obligation:
          type:
          - string
          - 'null'
          description: Lookup to Obligation
        Agreement:
          type:
          - string
          - 'null'
          description: Lookup to Agreement
        AgreementClause:
          type:
          - string
          - 'null'
          description: Lookup to Agreement Clause
        ObligationType:
          type:
          - string
          - 'null'
          description: Lookup to Obligation Type
        Assignee:
          $ref: '#/components/schemas/LookupObject'
        Reviewer:
          $ref: '#/components/schemas/LookupObject'
        AssigneeContact:
          $ref: '#/components/schemas/LookupObject'
        AssigneeSupplierContact:
          $ref: '#/components/schemas/LookupObject'
        ReviewerContact:
          $ref: '#/components/schemas/LookupObject'
        DueDate:
          type:
          - string
          - 'null'
          description: Contract Obligation Due Date
          format: date-time
        Status:
          type:
          - string
          - 'null'
          description: Contract Obligation status (Active, Pending, Completed)
        PrintOnContract:
          type: boolean
          description: Contract Obligation Print On Contract
        Comments:
          type:
          - string
          - 'null'
          description: Contract Obligation Comments
        IsActive:
          type: boolean
          description: ContractObligation is Active
        Frequency:
          type:
          - string
          - 'null'
          description: Contract Obligation Frequency
        AccountableParty:
          type:
          - string
          - 'null'
          description: Accountable Party Internal or External
        Description:
          type:
          - string
          - 'null'
          description: Description
        Priority:
          type:
          - string
          - 'null'
          description: Priority
        AssigneeType:
          type:
          - string
          - 'null'
          description: Assignee Type
        ReviewerType:
          type:
          - string
          - 'null'
          description: Reviewer Type
        AssigneeUserGroup:
          $ref: '#/components/schemas/LookupObject'
        ReviewerUserGroup:
          $ref: '#/components/schemas/LookupObject'
        ObligationNumber:
          type:
          - string
          - 'null'
          description: Obligation Number
      additionalProperties: {}
      description: Model for Contract Obligation
    ContractObligationFulfillmentAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ContractObligationFulfillment'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    StringObjectDictionaryQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            type: object
            additionalProperties: {}
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    APIResponseError:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          type:
          - string
          - 'null'
          description: Generic data to return
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Error Class
    ManageFulfillmentResponse:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        FulfillmentNumber:
          type:
          - string
          - 'null'
          description: 'FulfillmentNumber - Fulfillment Number from AgreementObligationFulfillment

            Hyperlink to Obligation Fulfillment Details page'
        ObligationName:
          type:
          - string
          - 'null'
          description: ObligationName - The name of the associated obligation from AgreementObligation schema
        ObligationNumber:
          type:
          - string
          - 'null'
          description: ObligationNumber - Obligation Number from AgreementObligation schema
        Frequency:
          type:
          - string
          - 'null'
          description: Frequency - Obligation recurrence frequency from AgreementObligation schema
        AgreementObligation:
          type:
          - string
          - 'null'
          description: AgreementObligation - AGREEMENT_OBLIGATION ID to link back to the obligation details page
        Agreement:
          type:
          - string
          - 'null'
          description: Agreement
        ContractName:
          type:
          - string
          - 'null'
          description: Contract Name
        ObligationType:
          type:
          - string
          - 'null'
          description: ObligationType - Type of obligation from AgreementObligation schema
        Status:
          type:
          - string
          - 'null'
          description: Status - Fulfillment Status from AgreementObligationFulfillment schema
        Assignee:
          $ref: '#/components/schemas/LookupObject'
        Reviewer:
          $ref: '#/components/schemas/LookupObject'
        DueDate:
          type:
          - string
          - 'null'
          description: DueDate - Due date when the obligation has to be fulfilled from AgreementObligationFulfillment schema
          format: date-time
        FulfillmentDate:
          type:
          - string
          - 'null'
          description: FulfillmentDate - Actual date when the obligation was fulfilled from AgreementObligationFulfillment schema
          format: date-time
        Priority:
          type:
          - string
          - 'null'
          description: Priority - Priority level from AgreementObligation schema
        ReviewerContact:
          $ref: '#/components/schemas/LookupObject'
        AssigneeContact:
          $ref: '#/components/schemas/LookupObject'
        AssigneeSupplierContact:
          $ref: '#/components/schemas/LookupObject'
        ReviewerUserGroup:
          $ref: '#/components/schemas/LookupObject'
        AssigneeUserGroup:
          $ref: '#/components/schemas/LookupObject'
        AssigneeType:
          type:
          - string
          - 'null'
          description: Assignee Type - User , UserGroup
        ReviewerType:
          type:
          - string
          - 'null'
          description: Reviewer Type - User , UserGroup
      additionalProperties: false
      description: 'Model for Manage Fulfillment Listing Response

        BaseObject maps to: AgreementObligationFulfillment (primary object)

        Additional fields mapped from: AgreementObligation (fetched via AGREEMENT_OBLIGATION ID)'
    SortDirection:
      enum:
      - Ascending
      - Descending
      type: string
    ErrorDetail:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: Error ID
        Message:
          type:
          - string
          - 'null'
          description: Error message
      additionalProperties: false
      description: Error detail class
    WarningDetail:
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Warning code
        Message:
          type:
          - string
          - 'null'
          description: Warning message
      additionalProperties: false
      description: Warning detail class for non-blocking issues
    SortInfo:
      type: object
      properties:
        FieldName:
          type:
          - string
          - 'null'
          description: Field name on which records will be sorted
        Direction:
          $ref: '#/components/schemas/SortDirection'
      additionalProperties: false
      description: Sorting Information for Fields
    ManageFulfillmentResponseQueryResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ManageFulfillmentResponse'
        HasMoreRecords:
          type:
          - boolean
          - 'null'
        NextCursor:
          type:
          - string
          - 'null'
      additionalProperties: false
    ContractObligationFulfillmentResponse:
      type: object
      properties:
        ContractObligation:
          $ref: '#/components/schemas/ContractObligation'
        ContractObligationFulfillment:
          $ref: '#/components/schemas/ContractObligationFulfillment'
        Documents:
          $ref: '#/components/schemas/DocumentSearchResponse'
      additionalProperties: false
      description: Model for Contract Obligation Fulfillment Response
    CustomQuery:
      type: object
      properties:
        Limit:
          type:
          - integer
          - 'null'
          description: Number of the records to be fetched
          format: int32
        Skip:
          type:
          - integer
          - 'null'
          description: Number of the records to be skipped
          format: int32
        SortInfo:
          $ref: '#/components/schemas/SortInfo'
        CriteriaExpression:
          type:
          - string
          - 'null'
          description: Criteria Expression to filter the records
        Distinct:
          type: boolean
          description: Whether to fetch only distinct records
        Fields:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The list of fields to be fetched
        GroupBy:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Group Field name if the result to be grouped
        IncludeTotalCount:
          type: boolean
          description: Whether to include total count in the query response. Defaults to true.
      additionalProperties: false
      description: Custom Query
    ContractObligationFulfillmentResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/ContractObligationFulfillmentResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    DocumentSearchResponse:
      type: object
      properties:
        StatusCode:
          $ref: '#/components/schemas/HttpStatusCode'
        Data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentMetadata'
        RecordCount:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DocumentMetadata:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Extension:
          type:
          - string
          - 'null'
        Tags:
          type:
          - string
          - 'null'
        ObjectType:
          type:
          - string
          - 'null'
        ObjectId:
          type:
          - string
          - 'null'
        DocumentId:
          type:
          - string
          - 'null'
        DocumentVersion:
          type: integer
          format: int32
        IsDeleted:
          type: boolean
        CheckoutBy:
          type:
          - string
          - 'null'
        CheckoutDate:
          type: string
          format: date-time
        FileSize:
          type: integer
          format: int64
        FileType:
          type:
          - string
          - 'null'
        IsLatest:
          type: boolean
        IsSearchable:
          type:
          - boolean
          - 'null'
      additionalProperties: {}
    StringObjectDictionaryQueryResponseAPIResponse:
      type: object
      properties:
        Success:
          type: boolean
          description: The state of the API response
        Data:
          $ref: '#/components/schemas/StringObjectDictionaryQueryResponse'
        Warnings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WarningDetail'
          description: Warning detail list for non-blocking issues
        Errors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Error detail list in case of failure
      additionalProperties: false
      description: API Response Class
    HttpStatusCode:
      enum:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - MovedPermanently
      - Found
      - SeeOther
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
