openapi: 3.2.0
info:
  title: Administration Attributes API
  version: 1.0.0
  description: Controller for managing attributes.
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Attributes
  description: Controller for managing attributes.
paths:
  /attributes:
    delete:
      tags:
      - Attributes
      summary: Delete attributes
      description: "Deletes one or more attributes based on the attribute IDs provided in the request body. \n\n\nThis API returns one or more records with each record ID's delete status."
      requestBody:
        description: The list of attributes to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attributes
      summary: Retrieve attributes
      description: Retrieves the collection of attributes.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Attributes
      summary: Update attributes
      description: Updates one or more attribute records.
      requestBody:
        description: The list of attributes with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: AttributeName
              Type: String
              DefaultValue: Teststring
              Description: Attribute description
              PickListValue: null
              LookupObjectName: null
              DisplayName: Testing
              IsRequired: false
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Attributes
      summary: Create attributes
      description: Creates attributes based on the details provided in the request.
      requestBody:
        description: The list of attributes to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Attribute'
      responses:
        '200':
          description: OK
  /attributes/{Id}:
    delete:
      tags:
      - Attributes
      summary: Delete an attribute
      description: "Deletes an attribute based on the attribute ID provided in the parameters. \n\n\nThis API returns record ID's delete status."
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Attributes
      summary: Retrieve an attribute
      description: Retrieves a single attribute record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
    patch:
      tags:
      - Attributes
      summary: Update an attribute
      description: Updates a single attribute record.
      parameters:
      - name: Id
        in: path
        description: The identifier of the attribute to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the attribute
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: AttributeName
              Type: String
              DefaultValue: Teststring
              Description: Attribute description
              PickListValue: null
              LookupObjectName: null
              DisplayName: Testing
              IsRequired: false
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    Attribute:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Type:
          type:
          - string
          - 'null'
        DefaultValue:
          type:
          - string
          - 'null'
        PickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PickListValueItem'
        LookupObjectName:
          type:
          - string
          - 'null'
        DisplayName:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsRequired:
          type:
          - boolean
          - 'null'
        HelpText:
          type:
          - string
          - 'null'
        Precision:
          type:
          - integer
          - 'null'
          format: int32
        Scale:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
      example:
        Name: AttributeName
        Type: String
        DefaultValue: Teststring
        Description: Attribute description
        PickListValue: null
        LookupObjectName: null
        DisplayName: Testing
        IsRequired: false
    PickListValueItem:
      type: object
      properties:
        Key:
          type:
          - string
          - 'null'
        Value:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
