openapi: 3.2.0
info:
  title: Administration Price Escalator API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: PriceEscalator
paths:
  /price-list-items/{ParentId}/price-escalators:
    delete:
      tags:
      - PriceEscalator
      summary: Delete price escalators
      description: Deletes one or more price escalators from the collection.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
      responses:
        '200':
          description: OK
    get:
      tags:
      - PriceEscalator
      summary: Retrieve price escalators
      description: Retrieves a collection of price escalators based on the parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - PriceEscalator
      summary: Update price escalators
      description: Updates one or more price escalators in the collection. Parent reassignment is not allowed.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: PriceEscalatorName
              AdjustmentAmount: 10
              AdjustmentAppliesTo: Base Price
              AdjustmentSource: First Ramp
              AdjustmentType: Percentage
              PeriodNumber: 10
              PriceListItem:
                Id: PriceListItem-Id
                Name: PriceListItemName
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - PriceEscalator
      summary: Create price escalators
      description: Adds one or more price escalators to the collection. The parent price list item is automatically filled.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      requestBody:
        description: The list of price escalators to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceEscalator'
      responses:
        '200':
          description: OK
  /price-list-items/{ParentId}/price-escalators/{Id}:
    delete:
      tags:
      - PriceEscalator
      summary: Delete a price escalator
      description: Deletes a single price escalator document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price escalator
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - PriceEscalator
      summary: Retrieve a price escalator
      description: Retrieves a single price escalator document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price escalator
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - PriceEscalator
      summary: Update a price escalator
      description: Updates a single price escalator document based on the identifier and parent price list item.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price list item
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price escalator
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the price escalator
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: PriceEscalatorName
              AdjustmentAmount: 10
              AdjustmentAppliesTo: Base Price
              AdjustmentSource: First Ramp
              AdjustmentType: Percentage
              PeriodNumber: 10
              PriceListItem:
                Id: PriceListItem-Id
                Name: PriceListItemName
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    PriceEscalator:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentAppliesTo:
          type:
          - string
          - 'null'
        AdjustmentSource:
          type:
          - string
          - 'null'
        AdjustmentType:
          type:
          - string
          - 'null'
        PeriodNumber:
          type:
          - number
          - 'null'
          format: double
        PriceListItem:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      example:
        Name: PriceEscalatorName
        AdjustmentAmount: 10
        AdjustmentAppliesTo: Base Price
        AdjustmentSource: First Ramp
        AdjustmentType: Percentage
        PeriodNumber: 10
        PriceListItem:
          Id: PriceListItem-Id
          Name: PriceListItemName
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
