openapi: 3.2.0
info:
  title: Rebate Administration Rebate Programs API
  version: 1.0.0
  description: '⚠️ Deprecated: Rebate Program APIs have been deprecated from the Rebates-Admin Service.


    Please find these APIs under Incentive Programs here → /api/incentive-admin/swagger/index.html'
servers:
- url: https://rls.congacloud.com/api/rebates-admin/v1
security:
- Bearer: []
tags:
- name: Rebate Programs
  description: '⚠️ Deprecated: Rebate Program APIs have been deprecated from the Rebates-Admin Service.


    Please find these APIs under Incentive Programs here → /api/incentive-admin/swagger/index.html'
paths:
  /programs:
    delete:
      tags:
      - Rebate Programs
      summary: Delete Rebate Programs
      description: Deletes multiple rebate programs
      requestBody:
        description: The list of rebate programs to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: deletePrograms
      x-operation-id-source: derived
    get:
      tags:
      - Rebate Programs
      summary: Retrieve Rebate Programs
      description: Retrieves the collection of rebate programs.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated multiple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: Optional filter expression
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      deprecated: true
      operationId: getPrograms
      x-operation-id-source: derived
    patch:
      tags:
      - Rebate Programs
      summary: Update Rebate Programs
      description: Updates multiple rebate programs
      requestBody:
        description: The list of rebate programs with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: patchPrograms
      x-operation-id-source: derived
    post:
      tags:
      - Rebate Programs
      summary: Create Rebate Programs
      description: Creates multiple rebate programs
      requestBody:
        description: The list of rebate programs to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncentiveProgram'
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: postPrograms
      x-operation-id-source: derived
  /programs/{Id}:
    delete:
      tags:
      - Rebate Programs
      summary: Delete a Rebate Program
      description: Deletes a single rebate program by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate program to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: deleteProgramsById
      x-operation-id-source: derived
    get:
      tags:
      - Rebate Programs
      summary: Retrieve a Rebate Program
      description: Retrieves a single rebate program by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate program
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
            text/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgram'
        '204':
          description: No Content
      deprecated: true
      operationId: getProgramsById
      x-operation-id-source: derived
    patch:
      tags:
      - Rebate Programs
      summary: Update a Rebate Program
      description: Updates a single rebate program
      parameters:
      - name: Id
        in: path
        description: The identifier of the rebate program to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the rebate program
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
      deprecated: true
      operationId: patchProgramsById
      x-operation-id-source: derived
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    IncentiveProgram:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        ApplicationMethod:
          type:
          - string
          - 'null'
        ProgramType:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
