{
  "openapi": "3.0.1",
  "info": {
    "title": "Rebate Administration",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/rebates-admin/v1"
    }
  ],
  "paths": {
    "/programs": {
      "delete": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Delete Rebate Programs",
        "description": "Deletes multiple rebate programs",
        "requestBody": {
          "description": "The list of rebate programs to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Retrieve Rebate Programs",
        "description": "Retrieves the collection of rebate programs.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Optional filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      },
      "patch": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Update Rebate Programs",
        "description": "Updates multiple rebate programs",
        "requestBody": {
          "description": "The list of rebate programs with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Create Rebate Programs",
        "description": "Creates multiple rebate programs",
        "requestBody": {
          "description": "The list of rebate programs to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/programs/{Id}": {
      "delete": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Delete a Rebate Program",
        "description": "Deletes a single rebate program by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate program to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Retrieve a Rebate Program",
        "description": "Retrieves a single rebate program by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate program",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      },
      "patch": {
        "tags": [
          "Rebate Programs"
        ],
        "summary": "Update a Rebate Program",
        "description": "Updates a single rebate program",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate program to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the rebate program",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/rebate-rules/{ParentId}/entries": {
      "delete": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Delete rebate rule entries",
        "description": "Deletes one or more rebate rule entries from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Retrieve rebate rule entries",
        "description": "Retrieves a collection of rebate rule entries based on the parent rebate rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Update rebate rule entries",
        "description": "Updates one or more rebate rule entries in the collection. Parent reassignment is not allowed.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Create rebate rule entries",
        "description": "Adds one or more rebate rule entries to the collection. The parent rebate rule is automatically filled.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of rebate rule entries to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebate-rules/{ParentId}/entries/{Id}": {
      "delete": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Delete a rebate rule entry",
        "description": "Deletes a single rebate rule entry document based on the identifier and parent rebate rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Retrieve a rebate rule entry",
        "description": "Retrieves a single rebate rule entry document based on the identifier and parent rebate rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebate Rule Entries"
        ],
        "summary": "Update a rebate rule entry",
        "description": "Updates a single rebate rule entry document based on the identifier and parent rebate rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the rebate rule entry",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates": {
      "delete": {
        "tags": [
          "Rebates"
        ],
        "summary": "Delete rebates",
        "description": "Deletes multiple rebates.",
        "requestBody": {
          "description": "The list of rebates to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebates"
        ],
        "summary": "Retrieve rebates",
        "description": "Retrieves the collection of rebates.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebates"
        ],
        "summary": "Update rebates",
        "description": "Updates multiple rebates.",
        "requestBody": {
          "description": "The list of rebates with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Rebates"
        ],
        "summary": "Create rebates",
        "description": "Creates multiple rebates.",
        "requestBody": {
          "description": "The list of rebates to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates/{Id}": {
      "delete": {
        "tags": [
          "Rebates"
        ],
        "summary": "Delete a rebate",
        "description": "Deletes a single rebate by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebates"
        ],
        "summary": "Retrieve a rebate",
        "description": "Retrieves a single rebate by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebates"
        ],
        "summary": "Update a rebate",
        "description": "Updates a single rebate.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the rebate",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates/{Id}/clone": {
      "post": {
        "tags": [
          "Rebates"
        ],
        "summary": "Clone rebate",
        "description": "Clones rebate.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Rebate to clone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isAsync",
            "in": "query",
            "description": "If set to `true` [is asynchronous]",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Override fields with field name and value",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/rebates/{ParentId}/conditions": {
      "delete": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Delete incentive conditions",
        "description": "Deletes one or more incentive conditions from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Retrieve incentive conditions",
        "description": "Retrieves a collection of incentive conditions.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Update incentive conditions",
        "description": "Updates one or more incentive conditions in the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Create incentive conditions",
        "description": "Adds one or more incentive conditions to the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of incentive conditions to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveCondition"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates/{ParentId}/conditions/{Id}": {
      "delete": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Delete a incentive condition",
        "description": "Deletes a single incentive condition.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive condition",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Retrieve a incentive condition",
        "description": "Retrieves a single incentive condition.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive condition",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Incentive Conditions"
        ],
        "summary": "Update a incentive condition",
        "description": "Updates a single incentive condition.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive condition",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the incentive condition",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates/{ParentId}/rules": {
      "delete": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Delete rebate rules",
        "description": "Deletes one or more rebate rules from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Retrieve rebate rules",
        "description": "Retrieves a collection of rebate rules based on the parent rebate.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Update rebate rules",
        "description": "Updates one or more rebate rules in the collection. Parent reassignment is not allowed.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Create rebate rules",
        "description": "Adds one or more rebate rules to the collection. The parent rebate is automatically filled.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of rebate rules to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/rebates/{ParentId}/rules/{Id}": {
      "delete": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Delete a rebate rule",
        "description": "Deletes a single rebate rule document based on the identifier and parent rebate.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Retrieve a rebate rule",
        "description": "Retrieves a single rebate rule document based on the identifier and parent rebate.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Rebate Rules"
        ],
        "summary": "Update a rebate rule",
        "description": "Updates a single rebate rule document based on the identifier and parent rebate.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent rebate",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the rebate rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the rebate rule",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    },
    "schemas": {
      "CurrencyField": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number",
            "format": "double"
          },
          "DisplayValue": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CurrencySymbol": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Incentive": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AccountScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccountScopeOper": {
            "type": "string",
            "nullable": true
          },
          "AccountTypeScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccountTypeScopeOper": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "AmendmentEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Ancestor": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ApplicationMethod": {
            "type": "string",
            "nullable": true
          },
          "AutoApply": {
            "type": "boolean",
            "nullable": true
          },
          "BenefitUom": {
            "type": "string",
            "nullable": true
          },
          "CascadeBenefitsForBundles": {
            "type": "boolean",
            "nullable": true
          },
          "CombineWithOtherIncentives": {
            "type": "boolean",
            "nullable": true
          },
          "ContextType": {
            "type": "string",
            "nullable": true
          },
          "CountryScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CountryScopeOper": {
            "type": "string",
            "nullable": true
          },
          "CycleEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "CycleStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Downgrade": {
            "type": "string",
            "nullable": true
          },
          "EffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EnableBenefitEffectivityDates": {
            "type": "boolean",
            "nullable": true
          },
          "ExcludeChildrenWithActivePrograms": {
            "type": "boolean",
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "IncentiveCode": {
            "type": "string",
            "nullable": true
          },
          "IncentiveGroup": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "IncentiveProgram": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "IncentiveNumber": {
            "type": "string",
            "nullable": true
          },
          "IncentiveNumberAuto": {
            "type": "string",
            "nullable": true
          },
          "IncentiveNumberText": {
            "type": "string",
            "nullable": true
          },
          "IncludeOrdersForAccountHierarchy": {
            "type": "boolean",
            "nullable": true
          },
          "IsBundle": {
            "type": "boolean",
            "nullable": true
          },
          "Loyalty": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "MaxPoints": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OriginalEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PointAccrualLevel": {
            "type": "string",
            "nullable": true
          },
          "PriceListScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "PriceListScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilyScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamilyScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductGroupScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductScopeOper": {
            "type": "string",
            "nullable": true
          },
          "RecurrenceFrequency": {
            "type": "string",
            "nullable": true
          },
          "RegionScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RegionScopeOper": {
            "type": "string",
            "nullable": true
          },
          "RenewalEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SearchField": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "EnableCurrency": {
            "type": "boolean",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "nullable": true
          },
          "StopProcessingMoreIncentives": {
            "type": "boolean",
            "nullable": true
          },
          "SubUseType": {
            "type": "string",
            "nullable": true
          },
          "Upgrade": {
            "type": "string",
            "nullable": true
          },
          "UseType": {
            "type": "string",
            "nullable": true
          },
          "VersionNumber": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "ExclusionCriteria": {
            "type": "string",
            "nullable": true
          },
          "AdhocGroupScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "IncentiveConditionExpression": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "IncentiveCondition": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "ConditionSequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Incentive": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProductScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ConditionCriteria": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "IncentiveProgram": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "ApplicationMethod": {
            "type": "string",
            "nullable": true
          },
          "ProgramType": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "IncentiveRule": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentChargeType": {
            "type": "string",
            "nullable": true
          },
          "BenefitType": {
            "type": "string",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Dimension1": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension1ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension2": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension2ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension3": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension3ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension4": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension4ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension5": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension5ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension6": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension6ValueType": {
            "type": "string",
            "nullable": true
          },
          "EffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ForEveryXCriteriaDimension": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ForEveryXCriteriaDimensionType": {
            "type": "string",
            "nullable": true
          },
          "ForEveryXCriteriaDimensionValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FutureBenefitValidityOffset": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FutureBenefitValidityType": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "MetricValueSourceAggregator": {
            "type": "string",
            "nullable": true
          },
          "ProductCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilyCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamilyCriteriaOper": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "RegionCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RegionCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "RateType": {
            "type": "string",
            "nullable": true
          },
          "RateTableTierType": {
            "type": "string",
            "nullable": true
          },
          "TierMetricType": {
            "type": "string",
            "nullable": true
          },
          "TierMetricRollupDuration": {
            "type": "string",
            "nullable": true
          },
          "MetricValueSource": {
            "type": "string",
            "nullable": true
          },
          "Incentive": {
            "$ref": "#/components/schemas/LookupObject"
          }
        },
        "additionalProperties": {}
      },
      "IncentiveRuleEntry": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AdjustmentAmountSource": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "AdjustmentReason": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentUom": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentValueSource": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentValueType": {
            "type": "string",
            "nullable": true
          },
          "ChargeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Condition": {
            "type": "string",
            "nullable": true
          },
          "Dimension1ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension1Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension2ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension2Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension3ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension3Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension4ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension4Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension5ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension5Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension6ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension6Value": {
            "type": "string",
            "nullable": true
          },
          "InclusionMethod": {
            "type": "string",
            "nullable": true
          },
          "LoyaltyLevel": {
            "type": "string",
            "nullable": true
          },
          "PeriodEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PeriodStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PriceOverride": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "IncentiveRule": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProductCategory": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamily": {
            "type": "string",
            "nullable": true
          },
          "ProductGroup": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProductGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductsOper": {
            "type": "string",
            "nullable": true
          },
          "Quantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Sequence": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TierMetricTypeEntry": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentSource": {
            "type": "string",
            "nullable": true
          },
          "AdhocGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Incentive Conditions"
    },
    {
      "name": "Rebate Programs",
      "description": "<p>\r\n  <H3>\r\n    <strong>⚠️ Deprecated:</strong> Rebate Program APIs have been deprecated from the Rebates-Admin Service.</H3>\r\n</p>\r\n<p>\r\n  <H3>Please find these APIs under Incentive Programs here → <a href=\"/api/incentive-admin/swagger/index.html\">/api/incentive-admin/swagger/index.html</a></H3>\r\n</p>"
    },
    {
      "name": "Rebate Rule Entries"
    },
    {
      "name": "Rebate Rules"
    },
    {
      "name": "Rebates"
    }
  ]
}
