openapi: 3.2.0
info:
  title: Administration Product Attribute Rule Actions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Product Attribute Rule Actions
paths:
  /attribute-rules/{ParentId}/actions:
    delete:
      tags:
      - Product Attribute Rule Actions
      summary: Delete product attribute rule actions
      description: Deletes one or more attribute rule actions.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of Product Attribute Rule Actions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Attribute Rule Actions
      summary: Retrieve product attribute rule actions
      description: Retrieves the attribute rule actions.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An array of filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: The sort condition
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An array of entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Attribute Rule Actions
      summary: Update product attribute rule actions
      description: Updates one or more attribute rule actions for a given attribute rule ID.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the record
              AccountScope:
              - Account1
              AccountScopeOper: The account scope operator
              Action: Allow
              ActionCriteria: The action criteria
              ActionCriteriaExpression: The action criteria expression
              TargetField: Target Field
              Message: The action message
              ProductFamilyScope:
              - ProductFamily-1
              ProductFamilyScopeOper: The product family scope operator
              ProductGroupScope:
              - ProductGroup-1
              ProductGroupScopeOper: The product group scope operator
              ProductScope:
              - Product-1
              ProductScopeOper: The product scope operator
              ValueExpression: The value expression for the action
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Product Attribute Rule Actions
      summary: Create product attribute rule actions
      description: Creates one or more attribute rule actions for a given attribute rule ID.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      requestBody:
        description: The list of Product Attribute Rule Actions to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductAttributeRuleAction'
      responses:
        '200':
          description: OK
  /attribute-rules/{ParentId}/actions/{id}:
    delete:
      tags:
      - Product Attribute Rule Actions
      summary: Delete a product attribute rule action
      description: Deletes a single product attribute rule action for a specific Product Attribute Rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the Product Attribute Rule Action to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Product Attribute Rule Actions
      summary: Retrieve a product attribute rule action
      description: Retrieves a single product attribute rule action for a specific product attribute rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the Product Attribute Rule Action to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Product Attribute Rule Actions
      summary: Update a product attribute rule action
      description: Updates a single product attribute rule action based on the identifier for a specific Product Attribute Rule.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent Product Attribute Rule
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The identifier of the Product Attribute Rule Action to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the Product Attribute Rule Action
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the record
              AccountScope:
              - Account1
              AccountScopeOper: The account scope operator
              Action: Allow
              ActionCriteria: The action criteria
              ActionCriteriaExpression: The action criteria expression
              TargetField: Target Field
              Message: The action message
              ProductFamilyScope:
              - ProductFamily-1
              ProductFamilyScopeOper: The product family scope operator
              ProductGroupScope:
              - ProductGroup-1
              ProductGroupScopeOper: The product group scope operator
              ProductScope:
              - Product-1
              ProductScopeOper: The product scope operator
              ValueExpression: The value expression for the action
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProductAttributeRuleAction:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AccountScope:
          type:
          - array
          - 'null'
          items:
            type: string
        AccountScopeOper:
          type:
          - string
          - 'null'
        Action:
          type:
          - string
          - 'null'
        ActionCriteria:
          type:
          - string
          - 'null'
        ActionCriteriaExpression:
          type:
          - string
          - 'null'
        Field:
          $ref: '#/components/schemas/LookupObject'
        TargetField:
          type:
          - string
          - 'null'
        Message:
          type:
          - string
          - 'null'
        ProductAttributeRule:
          $ref: '#/components/schemas/LookupObject'
        ProductFamilyScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductFamilyScopeOper:
          type:
          - string
          - 'null'
        ProductGroupScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductGroupScopeOper:
          type:
          - string
          - 'null'
        ProductScope:
          type:
          - array
          - 'null'
          items:
            type: string
        ProductScopeOper:
          type:
          - string
          - 'null'
        ValueExpression:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: Name of the record
        AccountScope:
        - Account1
        AccountScopeOper: The account scope operator
        Action: Allow
        ActionCriteria: The action criteria
        ActionCriteriaExpression: The action criteria expression
        TargetField: Target Field
        Message: The action message
        ProductFamilyScope:
        - ProductFamily-1
        ProductFamilyScopeOper: The product family scope operator
        ProductGroupScope:
        - ProductGroup-1
        ProductGroupScopeOper: The product group scope operator
        ProductScope:
        - Product-1
        ProductScopeOper: The product scope operator
        ValueExpression: The value expression for the action
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
