openapi: 3.2.0
info:
  title: Conga Sign Comprehensive Health Check API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: ComprehensiveHealthCheck
paths:
  /v1/comprehensive:
    get:
      tags:
      - ComprehensiveHealthCheck
      summary: Checks for comprehensive health
      operationId: ComprehensiveHealthCheck_CheckComprehensiveHealth
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckSummary'
        '503':
          description: ''
      security:
      - JWT: []
components:
  schemas:
    BaseResponse:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        statusCode:
          $ref: '#/components/schemas/HttpStatusCode'
    ComponentHealthCheckSummary:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        error:
          type:
          - string
          - 'null'
        duration:
          type: number
          format: double
    HttpStatusCode:
      type: integer
      description: ''
      x-enumNames:
      - Continue
      - SwitchingProtocols
      - Processing
      - EarlyHints
      - OK
      - Created
      - Accepted
      - NonAuthoritativeInformation
      - NoContent
      - ResetContent
      - PartialContent
      - MultiStatus
      - AlreadyReported
      - IMUsed
      - MultipleChoices
      - Ambiguous
      - MovedPermanently
      - Moved
      - Found
      - Redirect
      - SeeOther
      - RedirectMethod
      - NotModified
      - UseProxy
      - Unused
      - TemporaryRedirect
      - RedirectKeepVerb
      - PermanentRedirect
      - BadRequest
      - Unauthorized
      - PaymentRequired
      - Forbidden
      - NotFound
      - MethodNotAllowed
      - NotAcceptable
      - ProxyAuthenticationRequired
      - RequestTimeout
      - Conflict
      - Gone
      - LengthRequired
      - PreconditionFailed
      - RequestEntityTooLarge
      - RequestUriTooLong
      - UnsupportedMediaType
      - RequestedRangeNotSatisfiable
      - ExpectationFailed
      - MisdirectedRequest
      - UnprocessableEntity
      - UnprocessableContent
      - Locked
      - FailedDependency
      - UpgradeRequired
      - PreconditionRequired
      - TooManyRequests
      - RequestHeaderFieldsTooLarge
      - UnavailableForLegalReasons
      - InternalServerError
      - NotImplemented
      - BadGateway
      - ServiceUnavailable
      - GatewayTimeout
      - HttpVersionNotSupported
      - VariantAlsoNegotiates
      - InsufficientStorage
      - LoopDetected
      - NotExtended
      - NetworkAuthenticationRequired
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 208
      - 226
      - 300
      - 300
      - 301
      - 301
      - 302
      - 302
      - 303
      - 303
      - 304
      - 305
      - 306
      - 307
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 421
      - 422
      - 422
      - 423
      - 424
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 510
      - 511
    HealthCheckSummary:
      allOf:
      - $ref: '#/components/schemas/BaseResponse'
      - type: object
        additionalProperties: false
        properties:
          status:
            type:
            - string
            - 'null'
          serviceVersion:
            type:
            - string
            - 'null'
          componentHealthSummary:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ComponentHealthCheckSummary'
          duration:
            type: number
            format: double
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
