openapi: 3.2.0
info:
  title: Conga Sign Customer Registration API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/sign
security:
- JWT: []
tags:
- name: Customer Registration
paths:
  /v1/registercustomer:
    delete:
      tags:
      - Customer Registration
      summary: CONGA-ONLY Delete OneSpanCallback Customer Registration
      operationId: CustomerRegistration_Delete
      responses:
        '204':
          description: ''
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
      security:
      - JWT: []
    get:
      tags:
      - Customer Registration
      summary: CONGA-ONLY Get OneSpanCallback Customer Information
      operationId: CustomerRegistration_Get
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRegistrationResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
      security:
      - JWT: []
    post:
      tags:
      - Customer Registration
      summary: CONGA-ONLY Register OneSpanCallback Customer Information
      operationId: CustomerRegistration_Post
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegistrationRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRegistrationResponse'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
      security:
      - JWT: []
components:
  schemas:
    CustomerRegistrationResponse:
      type: object
      additionalProperties: false
      properties:
        clientId:
          type: string
          description: Client Id
        clientSecret:
          type: string
          description: Client Secret
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    CustomerRegistrationRequest:
      type: object
      additionalProperties: false
      properties:
        clientId:
          type: string
          description: Client Id
        clientSecret:
          type: string
          description: Client Secret
  securitySchemes:
    JWT:
      type: apiKey
      description: Provide oauth authentication
      name: Authorization
      in: header
