openapi: 3.2.0
info:
  title: Administration Field Expressions API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Field Expressions
paths:
  /field-expressions:
    delete:
      tags:
      - Field Expressions
      summary: Delete field expressions
      description: Deletes multiple field expressions.
      requestBody:
        description: The list of field expressions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Field Expressions
      summary: Retrieve field expressions
      description: Retrieves the collection of field expressions.
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Field Expressions
      summary: Update field expressions
      description: Updates multiple field expressions.
      requestBody:
        description: The list of field expressions with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: FieldExpressionName
              IsActive: true
              ConditionExpression: null
              ConditionScope: null
              EvaluationContext: Evaluation Context
              ExpressionType: Expression Type
              Expression: Expression
              GroupByField: null
              IsModifiable: false
              Operation: null
              ParentField: null
              ProductGroup: null
              Product: null
              SourceObject: Source Object
              UpdateField: Update Field
              UpdateObject: Update Object
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Field Expressions
      summary: Create field expressions
      description: Creates multiple field expressions.
      requestBody:
        description: The list of field expressions to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldExpression'
      responses:
        '200':
          description: OK
  /field-expressions/{Id}:
    delete:
      tags:
      - Field Expressions
      summary: Delete a field expression
      description: Deletes a single field expression by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the field expression to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Field Expressions
      summary: Retrieve a field expression
      description: Retrieves a single field expression by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the field expression
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FieldExpression'
            application/json:
              schema:
                $ref: '#/components/schemas/FieldExpression'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldExpression'
    patch:
      tags:
      - Field Expressions
      summary: Update a field expression
      description: Updates a single field expression.
      parameters:
      - name: Id
        in: path
        description: The identifier of the field expression to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the field expression
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: FieldExpressionName
              IsActive: true
              ConditionExpression: null
              ConditionScope: null
              EvaluationContext: Evaluation Context
              ExpressionType: Expression Type
              Expression: Expression
              GroupByField: null
              IsModifiable: false
              Operation: null
              ParentField: null
              ProductGroup: null
              Product: null
              SourceObject: Source Object
              UpdateField: Update Field
              UpdateObject: Update Object
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
  /field-expressions/{id}/constraint-rule-actions:
    get:
      tags:
      - Field Expressions
      summary: Retrieve lookup records for ConstraintRuleAction
      description: Retrieves the lookup records for a specific ConstraintRuleAction based on the identifier.
      parameters:
      - name: id
        in: path
        description: The ID of the ConstraintRuleAction
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          description: OK
  /field-expressions/{parentId}/constraint-rule-action-expressions:
    delete:
      tags:
      - Field Expressions
      summary: Delete ConstraintRuleActionExpressions
      description: Delete ConstraintRuleActionExpressions
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - Field Expressions
      summary: Retrieve ConstraintRuleActionExpression
      description: 'Retrieves all ConstraintRuleActionExpressions in a ConstraintRuleAction, with their details. Use query parameters to further narrow the results.



        When executed, this API returns all ConstraintRuleActionExpressions in a ConstraintRuleAction.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated multiple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Field Expressions
      summary: Update ConstraintRuleActionExpressions
      description: 'Updates specific fields on one or more ConstraintRuleActionExpressions. It can update any field except the ConstraintRuleActionExpressions ID.



        When executed, this API returns the updated ConstraintRuleActionExpressions or items.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to update
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Field Expressions
      summary: Create ConstraintRuleActionExpressions
      description: 'creates one or more ConstraintRuleActionExpressions in a specific ConstraintRuleAction. It can create a maximum of 1000 ConstraintRuleActionExpressions. It can create multiple ConstraintRuleActionExpressions for the same FieldExpression or multiple FieldExpressions. To create multiple ConstraintRuleActionExpressions, pass one array for each ConstraintRuleActionExpressions record in the API request.


        When executed, this API returns a unique ConstraintRuleActionExpressions ID (string) that CPQ automatically generates.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      requestBody:
        description: The list of ConstraintRuleActionExpressions to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ConstraintRuleActionExpression'
      responses:
        '201':
          description: Created
  /field-expressions/{parentId}/constraint-rule-action-expressions/{id}:
    delete:
      tags:
      - Field Expressions
      summary: Delete a ConstraintRuleActionExpressions
      description: 'Deletes a specified ConstraintRuleActionExpressions in a ConstraintRuleAction.



        When executed, this API returns the delete status of associated record ID.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    get:
      tags:
      - Field Expressions
      summary: Retrieve a ConstraintRuleActionExpressions
      description: 'Retrieves a ConstraintRuleActionExpressions in a ConstraintRuleAction, with their details. Use query parameters to further narrow the results.



        When executed, this API returns a ConstraintRuleActionExpressions in a ConstraintRuleAction.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Field Expressions
      summary: Update a ConstraintRuleActionExpressions
      description: 'Updates specific fields on specified ConstraintRuleActionExpressions. It can update any field except the ConstraintRuleActionExpressions ID.



        When executed, this API returns the updated ConstraintRuleActionExpressions.'
      parameters:
      - name: parentId
        in: path
        description: The ID of the parent entity
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The ID of the ConstraintRuleActionExpressions
        required: true
        schema:
          type: string
      requestBody:
        description: The updated ConstraintRuleActionExpressions
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
        '204':
          description: No Content
components:
  schemas:
    ConstraintRuleActionExpression:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ConstraintRuleAction:
          $ref: '#/components/schemas/LookupObject'
        FieldExpression:
          $ref: '#/components/schemas/LookupObject'
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    FieldExpression:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        ConditionScope:
          type:
          - string
          - 'null'
        ConditionExpression:
          type:
          - string
          - 'null'
        EvaluationContext:
          type:
          - string
          - 'null'
        ExpressionType:
          type:
          - string
          - 'null'
        Expression:
          type:
          - string
          - 'null'
        GroupByField:
          type:
          - string
          - 'null'
        IsModifiable:
          type:
          - boolean
          - 'null'
        Operation:
          type:
          - string
          - 'null'
        ParentField:
          type:
          - string
          - 'null'
        ProductGroup:
          $ref: '#/components/schemas/LookupObject'
        Product:
          $ref: '#/components/schemas/LookupObject'
        SourceObject:
          type:
          - string
          - 'null'
        UpdateField:
          type:
          - string
          - 'null'
        UpdateObject:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: FieldExpressionName
        IsActive: true
        ConditionExpression: null
        ConditionScope: null
        EvaluationContext: Evaluation Context
        ExpressionType: Expression Type
        Expression: Expression
        GroupByField: null
        IsModifiable: false
        Operation: null
        ParentField: null
        ProductGroup: null
        Product: null
        SourceObject: Source Object
        UpdateField: Update Field
        UpdateObject: Update Object
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
