openapi: 3.2.0
info:
  title: X-Author Intelligent Import Risk API
  version: v1
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: IntelligentImportRisk
paths:
  /api/xauthor/v1/intelligent-imports/risks/insight/delete:
    post:
      tags:
      - IntelligentImportRisk
      summary: Delete Risk Insights
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightDeleteRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightDeleteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightDeleteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightDeleteRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/intelligent-imports/risks/insights:
    patch:
      tags:
      - IntelligentImportRisk
      summary: Update Risk Insights Score
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightUpdateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightUpdateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightUpdateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightUpdateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
    post:
      tags:
      - IntelligentImportRisk
      summary: Add Risk Insights Score
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightAddRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightAddRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightAddRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightAddRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/intelligent-imports/risks/insights/query:
    post:
      tags:
      - IntelligentImportRisk
      summary: Get Risk Insights Data
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/intelligent-imports/risks/scales:
    get:
      tags:
      - IntelligentImportRisk
      summary: Get Risk Scale Data
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskScaleResponse'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskScaleResponse'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskScaleResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest:
      type: object
      properties:
        objectId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        recordType:
          type:
          - string
          - 'null'
        documentTitle:
          type:
          - string
          - 'null'
        documentFormat:
          type:
          - string
          - 'null'
        ideJobId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskInsightResponse:
      type: object
      properties:
        isOrgRegistered:
          type: boolean
        riskInsight:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsight'
        recordType:
          type:
          - string
          - 'null'
        contentVersionId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        contractSummary:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskInsightDeleteRequest:
      type: object
      properties:
        riskInsightRequest:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
        deleteRecordId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskCriteria:
      type: object
      properties:
        criteriaDescription:
          type:
          - string
          - 'null'
        criteriaValue:
          type:
          - string
          - 'null'
        criteriaLabel:
          type:
          - string
          - 'null'
        result:
          type: boolean
        field:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        fieldId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.DTO.IDD.Insight:
      type: object
      properties:
        recordId:
          type:
          - string
          - 'null'
        agreementId:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        insightRating:
          type: integer
          format: int32
        insightRatingLevel:
          type:
          - string
          - 'null'
        insightRatingIcon:
          type:
          - string
          - 'null'
        guidance:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        recommendation:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        result:
          type: boolean
        manual:
          type:
          - boolean
          - 'null'
        provisions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.IDD.Provision'
        criteriaPlan:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.IDD.CriteriaPlan'
      additionalProperties: false
    Apttus.XAuthor.Common.DTO.IDD.Provision:
      type: object
      properties:
        fieldNumber:
          type:
          - string
          - 'null'
        fieldName:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        recordId:
          type:
          - string
          - 'null'
        clauseId:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskInsight:
      type: object
      properties:
        recordId:
          type:
          - string
          - 'null'
        provisionId:
          type:
          - string
          - 'null'
        clauseId:
          type:
          - string
          - 'null'
        provisionDisplayName:
          type:
          - string
          - 'null'
        provisionType:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        riskRating:
          type: integer
          format: int32
        riskIconUrl:
          type:
          - string
          - 'null'
        ratingLevel:
          type:
          - string
          - 'null'
        riskCriterias:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskCriteria'
        riskGuidance:
          type:
          - string
          - 'null'
        riskComments:
          type:
          - string
          - 'null'
        riskRecommendation:
          type:
          - string
          - 'null'
        result:
          type: boolean
        manual:
          type: boolean
        summary:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.DTO.IDD.CriteriaPlan:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        fieldType:
          type:
          - string
          - 'null'
        fieldId:
          type:
          - string
          - 'null'
        fieldLabel:
          type:
          - string
          - 'null'
        operator:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        nlResolution:
          type:
          - string
          - 'null'
        templateDataMap: {}
        desc:
          type:
          - string
          - 'null'
        result:
          type: boolean
        display:
          type:
          - string
          - 'null'
        resolvedDesc:
          type:
          - string
          - 'null'
        conditionDesc:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskInsightAddRequest:
      type: object
      properties:
        riskInsightRequest:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.IDD.RiskInsightRequest'
        insight:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.DTO.IDD.Insight'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskScaleResponse:
      type: object
      properties:
        riskRating:
          type: integer
          format: int32
        iconUrl:
          type:
          - string
          - 'null'
        level:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.IDD.RiskInsightUpdateRequest:
      type: object
      properties:
        objectId:
          type:
          - string
          - 'null'
        recordId:
          type:
          - string
          - 'null'
        recordType:
          type:
          - string
          - 'null'
        riskScore:
          type: integer
          format: int32
        riskLevel:
          type:
          - string
          - 'null'
        riskIconUrl:
          type:
          - string
          - 'null'
        contentVersionId:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
