openapi: 3.2.0
info:
  title: Administration Option Group Members API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Option Group Members
paths:
  /option-groups/{ParentId}/products:
    delete:
      tags:
      - Option Group Members
      summary: Delete option group members
      description: Deletes one or more Products from an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Option Group Members
      summary: Retrieve option group members
      description: Retrieves one or more products for an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Optional filter conditions
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort expression
        schema:
          type: string
      - name: page
        in: query
        description: The page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records to retrieve per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Option Group Members
      summary: Update option group members
      description: Updates one or more options associated with an option group. This API adds or removes options or updates option details in an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: OptionGroupMemberName
              Product:
                Id: ProductId
                Name: ProductName
              Default: false
              DefaultQuantity: 1
              MaxQuantity: 10
              MinQuantity: 1
              Modifiable: false
              Sequence: 1
              AllowCloning: false
              AutoUpdateQuantity: false
              ConfigType: Configtype
              DefaultQuantityExpression: null
              InclusionCriteria: null
              MaxQuantityExpression: null
              MinQuantityExpression: null
              RelationshipType: Option
              IsRequired: false
              UniqueKey: null
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Option Group Members
      summary: Create option group members
      description: Creates one or more products to an option group by creating option group members.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      requestBody:
        description: The list of option group members to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/OptionGroupMember'
      responses:
        '200':
          description: OK
  /option-groups/{ParentId}/products/{Id}:
    delete:
      tags:
      - Option Group Members
      summary: Delete an option group member
      description: Deletes a single product for an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the option group member
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Option Group Members
      summary: Retrieve an option group member
      description: Retrieves a single product for an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the option group member
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Option Group Members
      summary: Update an option group member
      description: Updates a single product for an option group.
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent option group
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the option group member
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the option group member
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: OptionGroupMemberName
              Product:
                Id: ProductId
                Name: ProductName
              Default: false
              DefaultQuantity: 1
              MaxQuantity: 10
              MinQuantity: 1
              Modifiable: false
              Sequence: 1
              AllowCloning: false
              AutoUpdateQuantity: false
              ConfigType: Configtype
              DefaultQuantityExpression: null
              InclusionCriteria: null
              MaxQuantityExpression: null
              MinQuantityExpression: null
              RelationshipType: Option
              IsRequired: false
              UniqueKey: null
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    OptionGroupMember:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        Product:
          $ref: '#/components/schemas/LookupObject'
        OptionGroup:
          $ref: '#/components/schemas/LookupObject'
        AllowCloning:
          type:
          - boolean
          - 'null'
        AutoUpdateQuantity:
          type:
          - boolean
          - 'null'
        ConfigType:
          type:
          - string
          - 'null'
        Default:
          type:
          - boolean
          - 'null'
        DefaultQuantity:
          type:
          - number
          - 'null'
          format: double
        DefaultQuantityExpression:
          type:
          - string
          - 'null'
        InclusionCriteria:
          type:
          - string
          - 'null'
        IsRequired:
          type:
          - boolean
          - 'null'
        MaxQuantity:
          type:
          - number
          - 'null'
          format: double
        MaxQuantityExpression:
          type:
          - string
          - 'null'
        MinQuantity:
          type:
          - number
          - 'null'
          format: double
        MinQuantityExpression:
          type:
          - string
          - 'null'
        Modifiable:
          type:
          - boolean
          - 'null'
        RelationshipType:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        UniqueKey:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: OptionGroupMemberName
        Product:
          Id: ProductId
          Name: ProductName
        Default: false
        DefaultQuantity: 1
        MaxQuantity: 10
        MinQuantity: 1
        Modifiable: false
        Sequence: 1
        AllowCloning: false
        AutoUpdateQuantity: false
        ConfigType: Configtype
        DefaultQuantityExpression: null
        InclusionCriteria: null
        MaxQuantityExpression: null
        MinQuantityExpression: null
        RelationshipType: Option
        IsRequired: false
        UniqueKey: null
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
