openapi: 3.2.0
info:
  title: X-Author Document Sync API
  version: v1
  description: This class contains API endpoints for Document Transfer Metadata Sync.
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: DocumentSync
  description: This class contains API endpoints for Document Transfer Metadata Sync.
paths:
  /api/xauthor/v1/document-sync:
    post:
      tags:
      - DocumentSync
      summary: Sync the document.
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentSyncRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentSyncRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentSyncRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Core.Model.DocumentSyncRequest'
      responses:
        '200':
          description: Success
  /api/xauthor/v1/document-sync/update-document-properties:
    post:
      tags:
      - DocumentSync
      summary: Update the document Properties
      parameters:
      - name: xaAddinLoadType
        in: query
        description: ''
        schema:
          $ref: '#/components/schemas/Apttus.XAuthor.Common.Enum.XAAddInLoadType'
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        description: The request
        content:
          application/json-patch+json:
            schema:
              type:
              - string
              - 'null'
              description: The request
              format: byte
          application/json:
            schema:
              type:
              - string
              - 'null'
              description: The request
              format: byte
          text/json:
            schema:
              type:
              - string
              - 'null'
              description: The request
              format: byte
          application/*+json:
            schema:
              type:
              - string
              - 'null'
              description: The request
              format: byte
      responses:
        '200':
          description: Success
  /api/xauthor/v1/document-sync/{externalId}/attachment-id:
    get:
      tags:
      - DocumentSync
      summary: Gets the attachment id by external id
      parameters:
      - name: externalId
        in: path
        description: The external id
        required: true
        schema:
          type:
          - string
          - 'null'
          description: The external id
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
components:
  schemas:
    Apttus.XAuthor.Common.Enum.XAAddInLoadType:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      type: integer
      format: int32
    Apttus.XAuthor.Core.Model.DocumentSyncRequest:
      type: object
      properties:
        documentContent:
          type:
          - string
          - 'null'
        objectId:
          type:
          - string
          - 'null'
        objectVersionId:
          type:
          - string
          - 'null'
        objectType:
          type:
          - string
          - 'null'
        documentId:
          type:
          - string
          - 'null'
        attachmentId:
          type:
          - string
          - 'null'
        templateId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
