openapi: 3.2.0
info:
  title: Conga Quote API
  version: '1.0'
  description: 'Operations tagged Quote across 2 of this provider''s published API definitions: conga-cart-v1.json, conga-quote.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://rls.congacloud.com
- url: https://rls.congacloud.com/api/quote/v1
security:
- Bearer: []
tags:
- name: Quote
  description: The quote controller
paths:
  /api/cart/v1/quotes/{quoteId}/carts/activate:
    post:
      tags:
      - Quote
      summary: Launch a cart
      description: Launches the cart for a given quote.
      parameters:
      - name: quoteId
        in: path
        description: A unique identifier for a quote
        required: true
        schema:
          type: string
      - name: FlowName
        in: header
        description: Header param FlowName
        schema:
          type: string
          default: system
      requestBody:
        description: The product configuration to be overridden
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride'
          text/json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride'
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com
  /api/cart/v1/quotes/{quoteId}/carts/active:
    get:
      tags:
      - Quote
      summary: Gets the active cart
      parameters:
      - name: quoteId
        in: path
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com
  /quotes:
    delete:
      tags:
      - Quote
      summary: Delete quotes
      description: Deletes one or more quote records.
      requestBody:
        description: The list of quotes to delete.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Quote
      summary: Retrieve quotes
      description: Retrieves list of quotes.
      parameters:
      - name: filter
        in: query
        description: Optional. The filter criteria.
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional. The sort criteria.
        schema:
          type: string
      - name: page
        in: query
        description: Optional. The page number.
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Optional. The maximum number of records per page.
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional. The included related resources.
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Quote
      summary: Update quotes
      description: Updates one or more quotes.
      requestBody:
        description: The list of quotes with updated data.
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: ProposalName
              IsActive: true
              Account:
                Id: AccountId
                Name: AccountName
              ApprovalStage: Approval Stage
              AutoActivateOrder: false
              Currency: USD
              Description: Description
              Location:
                Id: LocationId
                Name: LocationName
              PriceList:
                Id: PriceListId
                Name: PriceListName
              PrimaryContact:
                Id: ContactId
                Name: ContactName
              ExpectedStartDate: '2019-10-10'
              ExpectedEndDate: '2030-10-10'
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Quote
      summary: Create quotes
      description: Creates one or more quotes with details provided in the request body. The API returns the IDs of the newly created quotes and their structure.
      requestBody:
        description: The list of quotes to create.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Proposal'
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/upsert-quote:
    post:
      tags:
      - Quote
      summary: Upsert a quote
      description: Upserts an existing quote.
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: QuoteName
              IsActive: true
              Account:
                Id: AccountId
                Name: AccountName
              ApprovalStage: Approval Stage
              AutoActivateOrder: false
              Currency: USD
              Description: Description
              Location:
                Id: LocationId
                Name: LocationName
              PriceList:
                Id: PriceListId
                Name: PriceListName
              PrimaryContact:
                Id: ContactId
                Name: ContactName
              ExpectedStartDate: '2019-10-10'
              ExpectedEndDate: '2030-10-10'
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/{ExternalId}/clone-quote:
    post:
      tags:
      - Quote
      summary: Clone external quote
      description: Clones a quote based on the external quote ID.
      parameters:
      - name: ExternalId
        in: path
        description: An external quote's ID
        required: true
        schema:
          type: string
      - name: cloneLineItems
        in: query
        description: ''
        schema:
          type: boolean
          default: true
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: QuoteName
              IsActive: true
              Account:
                Id: AccountId
                Name: AccountName
              ApprovalStage: Approval Stage
              AutoActivateOrder: false
              Currency: USD
              Description: Description
              Location:
                Id: LocationId
                Name: LocationName
              PriceList:
                Id: PriceListId
                Name: PriceListName
              PrimaryContact:
                Id: ContactId
                Name: ContactName
              ExpectedStartDate: '2019-10-10'
              ExpectedEndDate: '2030-10-10'
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/{Id}:
    delete:
      tags:
      - Quote
      summary: Delete a quote
      description: Deletes the quote where the quote ID matches the ID provided in the parameter.
      parameters:
      - name: Id
        in: path
        description: The ID of the quote to delete.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Quote
      summary: Retrieve a quote
      description: 'Retrieves the details of a quote based on the quote ID provided in the parameters.

        <param>The API returns the details of quote object</param>'
      parameters:
      - name: Id
        in: path
        description: The ID of the quote.
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional. The included related resources.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Quote
      summary: Update a quote
      description: Updates the quote with details provided in the request parameter. The API returns the ID of the updated quote and its structure.
      parameters:
      - name: Id
        in: path
        description: The ID of the quote to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data for the quote.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: ProposalName
              IsActive: true
              Account:
                Id: AccountId
                Name: AccountName
              ApprovalStage: Approval Stage
              AutoActivateOrder: false
              Currency: USD
              Description: Description
              Location:
                Id: LocationId
                Name: LocationName
              PriceList:
                Id: PriceListId
                Name: PriceListName
              PrimaryContact:
                Id: ContactId
                Name: ContactName
              ExpectedStartDate: '2019-10-10'
              ExpectedEndDate: '2030-10-10'
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/{Id}/accept:
    post:
      tags:
      - Quote
      summary: Accept a quote and create an order
      description: "Accepts a specified quote in any approval stage other than Accepted. \nCreates an order and order line items based on the quote’s header and line item details. \nCreates an order in draft stage with a Pending pricing status. The order inherits the following header fields, among others:\n<ul><li>Account</li><li>Sold To</li><li>Bill To</li><li>Primary Contact</li></ul><p>The order line items inherit the following fields, among others:</p><ul><li>Configuration Type</li><li>Charge Type</li><li>Price Type</li><li>Adjustments</li></ul>"
      parameters:
      - name: Id
        in: path
        description: An internal quote's unique identifier
        required: true
        schema:
          type: string
      - name: IsAsync
        in: query
        description: ''
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/{Id}/agreement:
    post:
      tags:
      - Quote
      summary: Create agreement from a quote
      description: Create an agreement from a quote, where the quote ID matches the ID provided in the parameter.
      parameters:
      - name: Id
        in: path
        description: The ID of the quote.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteToAgreementDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/QuoteToAgreementDTO'
          application/*+json:
            schema:
              $ref: '#/components/schemas/QuoteToAgreementDTO'
      responses:
        '201':
          description: Created
        '202':
          description: Accepted
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
  /quotes/{Id}/clone:
    post:
      tags:
      - Quote
      summary: Clone quote
      description: Clones a quote based on the internal quote ID.
      parameters:
      - name: Id
        in: path
        description: An internal Quote's unique identifierID
        required: true
        schema:
          type: string
      - name: cloneLineItems
        in: query
        description: ''
        schema:
          type: boolean
          default: true
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: QuoteName
              IsActive: true
              Account:
                Id: AccountId
                Name: AccountName
              ApprovalStage: Approval Stage
              AutoActivateOrder: false
              Currency: USD
              Description: Description
              Location:
                Id: LocationId
                Name: LocationName
              PriceList:
                Id: PriceListId
                Name: PriceListName
              PrimaryContact:
                Id: ContactId
                Name: ContactName
              ExpectedStartDate: '2019-10-10'
              ExpectedEndDate: '2030-10-10'
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueException'
    servers:
    - url: https://rls.congacloud.com/api/quote/v1
components:
  schemas:
    Conga.Revenue.Cart.Manager.Model.ProductConfigurationOverride:
      type: object
      properties:
        contractNumbers:
          type:
          - string
          - 'null'
        skipDealGuidance:
          type:
          - boolean
          - 'null'
        skipApprovalCheck:
          type:
          - boolean
          - 'null'
        skipPricingForConfigPending:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    RuntimeTypeHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    FieldInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/FieldAttributes'
        FieldType:
          $ref: '#/components/schemas/Type'
        IsInitOnly:
          type: boolean
          readOnly: true
        IsLiteral:
          type: boolean
          readOnly: true
        IsNotSerialized:
          type: boolean
          readOnly: true
          deprecated: true
        IsPinvokeImpl:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        FieldHandle:
          $ref: '#/components/schemas/RuntimeFieldHandle'
      additionalProperties: false
    SecurityRuleSet:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    CustomAttributeTypedArgument:
      type: object
      properties:
        ArgumentType:
          $ref: '#/components/schemas/Type'
        Value: {}
      additionalProperties: false
    ParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 4
      - 8
      - 16
      - 4096
      - 8192
      - 16384
      - 32768
      - 61440
      type: integer
      format: int32
    FieldAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 4096
      - 8192
      - 32768
      - 38144
      type: integer
      format: int32
    MemberTypes:
      enum:
      - 1
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 191
      type: integer
      format: int32
    Assembly:
      type: object
      properties:
        DefinedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        ExportedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        CodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        EntryPoint:
          $ref: '#/components/schemas/MethodInfo'
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        ImageRuntimeVersion:
          type:
          - string
          - 'null'
          readOnly: true
        IsDynamic:
          type: boolean
          readOnly: true
        Location:
          type:
          - string
          - 'null'
          readOnly: true
        ReflectionOnly:
          type: boolean
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        IsFullyTrusted:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        EscapedCodeBase:
          type:
          - string
          - 'null'
          readOnly: true
          deprecated: true
        ManifestModule:
          $ref: '#/components/schemas/Module'
        Modules:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Module'
          readOnly: true
        GlobalAssemblyCache:
          type: boolean
          readOnly: true
          deprecated: true
        HostContext:
          type: integer
          format: int64
          readOnly: true
        SecurityRuleSet:
          $ref: '#/components/schemas/SecurityRuleSet'
      additionalProperties: false
    MethodBase:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
      additionalProperties: false
    IntPtr:
      type: object
      additionalProperties: false
    PropertyInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        PropertyType:
          $ref: '#/components/schemas/Type'
        Attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        CanRead:
          type: boolean
          readOnly: true
        CanWrite:
          type: boolean
          readOnly: true
        GetMethod:
          $ref: '#/components/schemas/MethodInfo'
        SetMethod:
          $ref: '#/components/schemas/MethodInfo'
      additionalProperties: false
    CustomAttributeNamedArgument:
      type: object
      properties:
        MemberInfo:
          $ref: '#/components/schemas/MemberInfo'
        TypedValue:
          $ref: '#/components/schemas/CustomAttributeTypedArgument'
        MemberName:
          type:
          - string
          - 'null'
          readOnly: true
        IsField:
          type: boolean
          readOnly: true
      additionalProperties: false
    MemberInfo:
      type: object
      properties:
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    Proposal:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        ABOType:
          type:
          - string
          - 'null'
        Account:
          $ref: '#/components/schemas/LookupObject'
        Amount:
          $ref: '#/components/schemas/CurrencyField'
        ApprovalStage:
          type:
          - string
          - 'null'
        AutoActivateOrder:
          type:
          - boolean
          - 'null'
        AutoCreateBill:
          type:
          - boolean
          - 'null'
        AutoCreateRevenue:
          type:
          - boolean
          - 'null'
        BillingPreference:
          $ref: '#/components/schemas/LookupObject'
        BillToAccount:
          $ref: '#/components/schemas/LookupObject'
        ConfigurationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        ConfigurationFinalizedDate:
          type:
          - string
          - 'null'
          format: date-time
        ConfigurationSyncDate:
          type:
          - string
          - 'null'
          format: date-time
        Currency:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        DisableCartVersioning:
          type:
          - boolean
          - 'null'
        DiscountPercent:
          type:
          - string
          - 'null'
        ExpectedEndDate:
          type:
          - string
          - 'null'
          format: date-time
        ExpectedStartDate:
          type:
          - string
          - 'null'
          format: date-time
        GrandTotal:
          $ref: '#/components/schemas/CurrencyField'
        Intent:
          type:
          - string
          - 'null'
        InternalDeadline:
          type:
          - string
          - 'null'
        IsAutoAccepted:
          type:
          - boolean
          - 'null'
        IsPrimary:
          type:
          - boolean
          - 'null'
        IsSystemGenerated:
          type:
          - boolean
          - 'null'
        IsTaskPending:
          type:
          - boolean
          - 'null'
        LegalEntity:
          $ref: '#/components/schemas/LookupObject'
        Location:
          $ref: '#/components/schemas/LookupObject'
        NetAmount:
          $ref: '#/components/schemas/CurrencyField'
        Opportunity:
          $ref: '#/components/schemas/LookupObject'
        ParentProposal:
          $ref: '#/components/schemas/LookupObject'
        PartnerAccount:
          $ref: '#/components/schemas/LookupObject'
        ProposalPaymentTerm:
          type:
          - string
          - 'null'
        PaymentTerm:
          $ref: '#/components/schemas/LookupObject'
        PODate:
          type:
          - string
          - 'null'
          format: date-time
        PONumber:
          type:
          - string
          - 'null'
        PresentedDate:
          type:
          - string
          - 'null'
          format: date-time
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        PricingDate:
          type:
          - string
          - 'null'
          format: date-time
        PrimaryContact:
          $ref: '#/components/schemas/LookupObject'
        ProposalApprovalDate:
          type:
          - string
          - 'null'
          format: date-time
        ProposalCategory:
          type:
          - string
          - 'null'
        ProposalExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        ProposalName:
          type:
          - string
          - 'null'
        PurchaseId:
          type:
          - string
          - 'null'
        QTCProfile:
          type:
          - string
          - 'null'
        ReadyForActivationDate:
          type:
          - string
          - 'null'
          format: date-time
        ReadyForBillingDate:
          type:
          - string
          - 'null'
          format: date-time
        ReadyForFulfillmentDate:
          type:
          - string
          - 'null'
          format: date-time
        ReadyForRevRecDate:
          type:
          - string
          - 'null'
          format: date-time
        ReadyToGenerate:
          type:
          - boolean
          - 'null'
        ReadyToPresent:
          type:
          - boolean
          - 'null'
        RelatedProposal:
          $ref: '#/components/schemas/LookupObject'
        RFPIntakeDate:
          type:
          - string
          - 'null'
          format: date-time
        RFPResponseDueDate:
          type:
          - string
          - 'null'
          format: date-time
        RFPStage:
          type:
          - string
          - 'null'
        RFPValue:
          $ref: '#/components/schemas/CurrencyField'
        RiskFactors:
          type:
          - array
          - 'null'
          items:
            type: string
        SalesTaxAmount:
          $ref: '#/components/schemas/CurrencyField'
        SalesTaxPercent:
          type:
          - string
          - 'null'
        ShippingHandling:
          $ref: '#/components/schemas/CurrencyField'
        ShipToAccount:
          $ref: '#/components/schemas/LookupObject'
        SingleTransactionAdjustment:
          type:
          - boolean
          - 'null'
        SourceChannel:
          type:
          - string
          - 'null'
        SpecialTerms:
          type:
          - string
          - 'null'
        StrategicImportance:
          type:
          - string
          - 'null'
        SyncAssetChangesToQuote:
          type:
          - boolean
          - 'null'
        UseType:
          type:
          - string
          - 'null'
        ValidUntilDate:
          type:
          - string
          - 'null'
          format: date-time
        Owner:
          $ref: '#/components/schemas/LookupObject'
        ProposalNumber:
          type:
          - string
          - 'null'
        Requestor:
          $ref: '#/components/schemas/LookupObject'
      additionalProperties: {}
      example:
        Name: ProposalName
        IsActive: true
        Account:
          Id: AccountId
          Name: AccountName
        ApprovalStage: Approval Stage
        AutoActivateOrder: false
        Currency: USD
        Description: Description
        Location:
          Id: LocationId
          Name: LocationName
        PriceList:
          Id: PriceListId
          Name: PriceListName
        PrimaryContact:
          Id: ContactId
          Name: ContactName
        ExpectedStartDate: '2019-10-10'
        ExpectedEndDate: '2030-10-10'
    TypeInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
        GenericTypeParameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        DeclaredConstructors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConstructorInfo'
          readOnly: true
        DeclaredEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EventInfo'
          readOnly: true
        DeclaredFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/FieldInfo'
          readOnly: true
        DeclaredMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemberInfo'
          readOnly: true
        DeclaredMethods:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MethodInfo'
          readOnly: true
        DeclaredNestedTypes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TypeInfo'
          readOnly: true
        DeclaredProperties:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PropertyInfo'
          readOnly: true
        ImplementedInterfaces:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
      additionalProperties: false
    ParameterInfo:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/ParameterAttributes'
        Member:
          $ref: '#/components/schemas/MemberInfo'
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        ParameterType:
          $ref: '#/components/schemas/Type'
        Position:
          type: integer
          format: int32
          readOnly: true
        IsIn:
          type: boolean
          readOnly: true
        IsLcid:
          type: boolean
          readOnly: true
        IsOptional:
          type: boolean
          readOnly: true
        IsOut:
          type: boolean
          readOnly: true
        IsRetval:
          type: boolean
          readOnly: true
        DefaultValue:
          readOnly: true
        RawDefaultValue:
          readOnly: true
        HasDefaultValue:
          type: boolean
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    StructLayoutAttribute:
      type: object
      properties:
        TypeId:
          readOnly: true
        Value:
          $ref: '#/components/schemas/LayoutKind'
      additionalProperties: false
    ModuleHandle:
      type: object
      properties:
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    LayoutKind:
      enum:
      - 0
      - 2
      - 3
      type: integer
      format: int32
    ICustomAttributeProvider:
      type: object
      additionalProperties: false
    PropertyAttributes:
      enum:
      - 0
      - 512
      - 1024
      - 4096
      - 8192
      - 16384
      - 32768
      - 62464
      type: integer
      format: int32
    GenericParameterAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 28
      type: integer
      format: int32
    CustomAttributeData:
      type: object
      properties:
        AttributeType:
          $ref: '#/components/schemas/Type'
        Constructor:
          $ref: '#/components/schemas/ConstructorInfo'
        ConstructorArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeTypedArgument'
          readOnly: true
        NamedArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeNamedArgument'
          readOnly: true
      additionalProperties: false
    QuoteToAgreementDTO:
      type: object
      properties:
        OverrideValues:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    Type:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        IsInterface:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Namespace:
          type:
          - string
          - 'null'
          readOnly: true
        AssemblyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        FullName:
          type:
          - string
          - 'null'
          readOnly: true
        Assembly:
          $ref: '#/components/schemas/Assembly'
        Module:
          $ref: '#/components/schemas/Module'
        IsNested:
          type: boolean
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        DeclaringMethod:
          $ref: '#/components/schemas/MethodBase'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        UnderlyingSystemType:
          $ref: '#/components/schemas/Type'
        IsTypeDefinition:
          type: boolean
          readOnly: true
        IsArray:
          type: boolean
          readOnly: true
        IsByRef:
          type: boolean
          readOnly: true
        IsPointer:
          type: boolean
          readOnly: true
        IsConstructedGenericType:
          type: boolean
          readOnly: true
        IsGenericParameter:
          type: boolean
          readOnly: true
        IsGenericTypeParameter:
          type: boolean
          readOnly: true
        IsGenericMethodParameter:
          type: boolean
          readOnly: true
        IsGenericType:
          type: boolean
          readOnly: true
        IsGenericTypeDefinition:
          type: boolean
          readOnly: true
        IsSZArray:
          type: boolean
          readOnly: true
        IsVariableBoundArray:
          type: boolean
          readOnly: true
        IsByRefLike:
          type: boolean
          readOnly: true
        IsFunctionPointer:
          type: boolean
          readOnly: true
        IsUnmanagedFunctionPointer:
          type: boolean
          readOnly: true
        HasElementType:
          type: boolean
          readOnly: true
        GenericTypeArguments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Type'
          readOnly: true
        GenericParameterPosition:
          type: integer
          format: int32
          readOnly: true
        GenericParameterAttributes:
          $ref: '#/components/schemas/GenericParameterAttributes'
        Attributes:
          $ref: '#/components/schemas/TypeAttributes'
        IsAbstract:
          type: boolean
          readOnly: true
        IsImport:
          type: boolean
          readOnly: true
        IsSealed:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsClass:
          type: boolean
          readOnly: true
        IsNestedAssembly:
          type: boolean
          readOnly: true
        IsNestedFamANDAssem:
          type: boolean
          readOnly: true
        IsNestedFamily:
          type: boolean
          readOnly: true
        IsNestedFamORAssem:
          type: boolean
          readOnly: true
        IsNestedPrivate:
          type: boolean
          readOnly: true
        IsNestedPublic:
          type: boolean
          readOnly: true
        IsNotPublic:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsAutoLayout:
          type: boolean
          readOnly: true
        IsExplicitLayout:
          type: boolean
          readOnly: true
        IsLayoutSequential:
          type: boolean
          readOnly: true
        IsAnsiClass:
          type: boolean
          readOnly: true
        IsAutoClass:
          type: boolean
          readOnly: true
        IsUnicodeClass:
          type: boolean
          readOnly: true
        IsCOMObject:
          type: boolean
          readOnly: true
        IsContextful:
          type: boolean
          readOnly: true
        IsEnum:
          type: boolean
          readOnly: true
        IsMarshalByRef:
          type: boolean
          readOnly: true
        IsPrimitive:
          type: boolean
          readOnly: true
        IsValueType:
          type: boolean
          readOnly: true
        IsSignatureType:
          type: boolean
          readOnly: true
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        StructLayoutAttribute:
          $ref: '#/components/schemas/StructLayoutAttribute'
        TypeInitializer:
          $ref: '#/components/schemas/ConstructorInfo'
        TypeHandle:
          $ref: '#/components/schemas/RuntimeTypeHandle'
        GUID:
          type: string
          format: uuid
          readOnly: true
        BaseType:
          $ref: '#/components/schemas/Type'
        IsSerializable:
          type: boolean
          readOnly: true
          deprecated: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        IsVisible:
          type: boolean
          readOnly: true
      additionalProperties: false
    TypeAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 24
      - 32
      - 128
      - 256
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 65536
      - 131072
      - 196608
      - 262144
      - 264192
      - 1048576
      - 12582912
      type: integer
      format: int32
    RuntimeMethodHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    ConstructorInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
      additionalProperties: false
    MethodImplAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 4096
      - 65535
      type: integer
      format: int32
    MethodAttributes:
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 53248
      type: integer
      format: int32
    EventInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        Attributes:
          $ref: '#/components/schemas/EventAttributes'
        IsSpecialName:
          type: boolean
          readOnly: true
        AddMethod:
          $ref: '#/components/schemas/MethodInfo'
        RemoveMethod:
          $ref: '#/components/schemas/MethodInfo'
        RaiseMethod:
          $ref: '#/components/schemas/MethodInfo'
        IsMulticast:
          type: boolean
          readOnly: true
        EventHandlerType:
          $ref: '#/components/schemas/Type'
      additionalProperties: false
    Module:
      type: object
      properties:
        Assembly:
          $ref: '#/components/schemas/Assembly'
        FullyQualifiedName:
          type:
          - string
          - 'null'
          readOnly: true
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        MDStreamVersion:
          type: integer
          format: int32
          readOnly: true
        ModuleVersionId:
          type: string
          format: uuid
          readOnly: true
        ScopeName:
          type:
          - string
          - 'null'
          readOnly: true
        ModuleHandle:
          $ref: '#/components/schemas/ModuleHandle'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    CallingConventions:
      enum:
      - 1
      - 2
      - 3
      - 32
      - 64
      type: integer
      format: int32
    Exception:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    EventAttributes:
      enum:
      - 0
      - 512
      - 1024
      type: integer
      format: int32
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MethodInfo:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
          readOnly: true
        DeclaringType:
          $ref: '#/components/schemas/Type'
        ReflectedType:
          $ref: '#/components/schemas/Type'
        Module:
          $ref: '#/components/schemas/Module'
        CustomAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomAttributeData'
          readOnly: true
        IsCollectible:
          type: boolean
          readOnly: true
        MetadataToken:
          type: integer
          format: int32
          readOnly: true
        Attributes:
          $ref: '#/components/schemas/MethodAttributes'
        MethodImplementationFlags:
          $ref: '#/components/schemas/MethodImplAttributes'
        CallingConvention:
          $ref: '#/components/schemas/CallingConventions'
        IsAbstract:
          type: boolean
          readOnly: true
        IsConstructor:
          type: boolean
          readOnly: true
        IsFinal:
          type: boolean
          readOnly: true
        IsHideBySig:
          type: boolean
          readOnly: true
        IsSpecialName:
          type: boolean
          readOnly: true
        IsStatic:
          type: boolean
          readOnly: true
        IsVirtual:
          type: boolean
          readOnly: true
        IsAssembly:
          type: boolean
          readOnly: true
        IsFamily:
          type: boolean
          readOnly: true
        IsFamilyAndAssembly:
          type: boolean
          readOnly: true
        IsFamilyOrAssembly:
          type: boolean
          readOnly: true
        IsPrivate:
          type: boolean
          readOnly: true
        IsPublic:
          type: boolean
          readOnly: true
        IsConstructedGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethod:
          type: boolean
          readOnly: true
        IsGenericMethodDefinition:
          type: boolean
          readOnly: true
        ContainsGenericParameters:
          type: boolean
          readOnly: true
        MethodHandle:
          $ref: '#/components/schemas/RuntimeMethodHandle'
        IsSecurityCritical:
          type: boolean
          readOnly: true
        IsSecuritySafeCritical:
          type: boolean
          readOnly: true
        IsSecurityTransparent:
          type: boolean
          readOnly: true
        MemberType:
          $ref: '#/components/schemas/MemberTypes'
        ReturnParameter:
          $ref: '#/components/schemas/ParameterInfo'
        ReturnType:
          $ref: '#/components/schemas/Type'
        ReturnTypeCustomAttributes:
          $ref: '#/components/schemas/ICustomAttributeProvider'
      additionalProperties: false
    RuntimeFieldHandle:
      type: object
      properties:
        Value:
          $ref: '#/components/schemas/IntPtr'
      additionalProperties: false
    RevenueException:
      type: object
      properties:
        TargetSite:
          $ref: '#/components/schemas/MethodBase'
        Message:
          type:
          - string
          - 'null'
          readOnly: true
        Data:
          type:
          - object
          - 'null'
          additionalProperties: {}
          readOnly: true
        InnerException:
          $ref: '#/components/schemas/Exception'
        HelpLink:
          type:
          - string
          - 'null'
        Source:
          type:
          - string
          - 'null'
        HResult:
          type: integer
          format: int32
        StackTrace:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
x-refined-from:
- conga-cart-v1.json
- conga-quote.json
