openapi: 3.2.0
info:
  title: Cart - V1 Usage Tiers API
  version: v1
  description: Usage Tiers Controller
servers:
- url: https://rls.congacloud.com
security:
- Bearer: []
tags:
- name: UsageTiers
  description: Usage Tiers Controller
paths:
  /api/cart/v1/carts/{cartId}/items/{itemId}/usage-tiers:
    delete:
      tags:
      - UsageTiers
      summary: Delete usage price tiers
      description: Deletes the usage price tiers for the given cartId and lineItemId.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique identifier of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: A list of usage price tier IDs or external IDs
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteUsagePriceTierModel'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteUsagePriceTierModel'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Cart.Manager.Model.DeleteUsagePriceTierModel'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    get:
      tags:
      - UsageTiers
      summary: Get usage price tiers by line item
      description: Retrieves the usage price tiers for the given cartId and lineItemId.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique identifier of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    post:
      tags:
      - UsageTiers
      summary: Create usage price tiers for a line item
      description: Adds usage price tiers for the cartId and lineItemId given in the parameters.
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique identifier of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: A list of usage price tiers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
    put:
      tags:
      - UsageTiers
      summary: Update usage price tiers for a line item
      description: 'Updates the usage price tiers for a given cartId and lineItemId.

        <b>Note:</b> The object must have an ID to update the usage price tier.'
      parameters:
      - name: cartId
        in: path
        description: A unique identifier of the cart
        required: true
        schema:
          type: string
      - name: itemId
        in: path
        description: A unique identifier of the line item
        required: true
        schema:
          type: string
      requestBody:
        description: A list of usage price tiers
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-1
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-2
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-1
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-2
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Conga.Revenue.Entities.UsagePriceTier'
            example:
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-1
            - FlatPrice: 350
              IsCommitted: false
              IsIncluded: true
              LineItem:
                Id: 9f8edd3f-0696-411d-b532-dc560f1e1ebd
              Sequence: 1
              TierStartValue: 101
              TierEndValue: 200
              Id: usage-2
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
components:
  schemas:
    Conga.Revenue.Entities.PriceList:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        basedOnAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        basedOnAdjustmentType:
          type:
          - string
          - 'null'
        basedOnPriceList:
          type:
          - string
          - 'null'
        basedOnPriceListId:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        costModel:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        disableCurrencyAdjustment:
          type: boolean
        isActive:
          type: boolean
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        includedFeatures:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        FeatureSet:
          $ref: '#/components/schemas/Conga.Revenue.Entities.FeatureSet'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionGroup:
      type: object
      properties:
        contentType:
          type:
          - string
          - 'null'
        detailPage:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        level:
          type:
          - integer
          - 'null'
          format: int32
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiableType:
          type:
          - string
          - 'null'
        optionGroupId:
          type:
          - string
          - 'null'
        parentOptionGroupId:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        rootOptionGroupId:
          type:
          - string
          - 'null'
        rootSequence:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        ProductOptions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionComponent'
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        ProductAttributeGroupMemberIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroupMember'
        RootOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        OptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.OptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductFeatureValue:
      type: object
      properties:
        featureId:
          type:
          - string
          - 'null'
        isIncluded:
          type: boolean
        productId:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Feature:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Feature'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Platform.PickListValueItem:
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    Conga.Revenue.Entities.RelatedPriceListItem:
      type: object
      properties:
        priceListItemId:
          type:
          - string
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedChargeType:
          type:
          - string
          - 'null'
        relatedCustomGroup:
          type:
          - string
          - 'null'
        relatedCustomField:
          type:
          - string
          - 'null'
        RelatedPriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPriceListItemId:
          type:
          - string
          - 'null'
        relatedProductId:
          type:
          - string
          - 'null'
        relatedProductFamily:
          type:
          - string
          - 'null'
        relatedProductGroupId:
          type:
          - string
          - 'null'
        relationType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroupMember:
      type: object
      properties:
        productId:
          type:
          - string
          - 'null'
        productGroupId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        Product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupMember:
      type: object
      properties:
        attribute:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Attribute'
        attributeGroupId:
          type:
          - string
          - 'null'
        attributeId:
          type:
          - string
          - 'null'
        cascadeSharedAttributeStatus:
          type:
          - array
          - 'null'
          items:
            type: string
        cascadeSharedAttributeUpdates:
          type:
          - string
          - 'null'
        displayType:
          type:
          - string
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        isReadOnly:
          type:
          - boolean
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductOptionComponent:
      type: object
      properties:
        allowCloning:
          type: boolean
        autoUpdateQuantity:
          type: boolean
        componentProductId:
          type:
          - string
          - 'null'
        configType:
          type:
          - string
          - 'null'
        defaultQuantityExpression:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        inclusionCriteria:
          type:
          - string
          - 'null'
        isDefault:
          type: boolean
        isModifiable:
          type: boolean
        isRequired:
          type: boolean
        maxQuantityExpression:
          type:
          - string
          - 'null'
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantityExpression:
          type:
          - string
          - 'null'
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        parentProductId:
          type:
          - string
          - 'null'
        productOptionGroupId:
          type:
          - string
          - 'null'
        relationshipType:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ComponentProductName:
          type:
          - string
          - 'null'
        ComponentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ParentProduct:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        ProductOptionGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.OptionGroup:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        defaultSearchOptionGroup:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type:
          - boolean
          - 'null'
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type:
          - boolean
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type:
          - boolean
          - 'null'
        isHidden:
          type:
          - boolean
          - 'null'
        isLeaf:
          type:
          - boolean
          - 'null'
        isModifiable:
          type:
          - boolean
          - 'null'
        isPicklist:
          type:
          - boolean
          - 'null'
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        maxOptions:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        maxTotalQuantityExpression:
          type:
          - string
          - 'null'
        minOptions:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantity:
          type:
          - number
          - 'null'
          format: double
        minTotalQuantityExpression:
          type:
          - string
          - 'null'
        modifiableType:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        type:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.FeatureSet:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Attribute:
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayName:
          type:
          - string
          - 'null'
        isRequired:
          type:
          - boolean
          - 'null'
        lookupObjectName:
          type:
          - string
          - 'null'
        pickListValue:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem'
        type:
          type:
          - string
          - 'null'
        helpText:
          type:
          - string
          - 'null'
        precision:
          type:
          - integer
          - 'null'
          format: int32
        scale:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Cart.Manager.Model.DeleteUsagePriceTierModel:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
    Conga.Revenue.Entities.PriceListItem:
      type: object
      properties:
        allocateGroupAdjustment:
          type:
          - boolean
          - 'null'
        allowManualAdjustment:
          type:
          - boolean
          - 'null'
        allowPriceRampOverlap:
          type:
          - boolean
          - 'null'
        allowProration:
          type:
          - boolean
          - 'null'
        autoCascadeQuantity:
          type:
          - boolean
          - 'null'
        autoCascadeSellingTerm:
          type:
          - boolean
          - 'null'
        autoRenew:
          type:
          - boolean
          - 'null'
        autoRenewalTerm:
          type:
          - number
          - 'null'
          format: double
        autoRenewalType:
          type:
          - string
          - 'null'
        autoUpdateQuantity:
          type:
          - boolean
          - 'null'
        billingFrequency:
          type:
          - string
          - 'null'
        billingRule:
          type:
          - string
          - 'null'
        chargeType:
          type:
          - string
          - 'null'
        contractItemNumber:
          type:
          - string
          - 'null'
        contractNumber:
          type:
          - string
          - 'null'
        contractPrice:
          type:
          - number
          - 'null'
          format: double
        cost:
          type:
          - number
          - 'null'
          format: double
        criteria:
          type:
          - string
          - 'null'
        defaultPriceDatasource:
          type:
          - string
          - 'null'
        defaultPriceFrom:
          type:
          - string
          - 'null'
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        defaultQuantityDatasource:
          type:
          - string
          - 'null'
        defaultQuantityFrom:
          type:
          - string
          - 'null'
        defaultSellingTerm:
          type:
          - number
          - 'null'
          format: double
        description:
          type:
          - string
          - 'null'
        disableAssetIntegration:
          type:
          - boolean
          - 'null'
        disableCostModel:
          type:
          - boolean
          - 'null'
        disableSyncWithOpportunity:
          type:
          - boolean
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        enableAutoRampCreation:
          type:
          - boolean
          - 'null'
        enableCommitment:
          type:
          - boolean
          - 'null'
        enableRampCreation:
          type:
          - boolean
          - 'null'
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        frequency:
          type:
          - string
          - 'null'
        hasCriteria:
          type:
          - boolean
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        isProductActive:
          type:
          - boolean
          - 'null'
        isTaxable:
          type:
          - boolean
          - 'null'
        isTaxInclusive:
          type:
          - boolean
          - 'null'
        isQuantityReadOnly:
          type:
          - boolean
          - 'null'
        isSellingTermReadOnly:
          type:
          - boolean
          - 'null'
        isUsageTierModifiable:
          type:
          - boolean
          - 'null'
        listPrice:
          type:
          - number
          - 'null'
          format: double
        maxPrice:
          type:
          - number
          - 'null'
          format: double
        maxUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        minMaxPriceAppliesTo:
          type:
          - string
          - 'null'
        minPrice:
          type:
          - number
          - 'null'
          format: double
        minUsageQuantity:
          type:
          - number
          - 'null'
          format: double
        priceIncludedInBundle:
          type:
          - boolean
          - 'null'
        priceListId:
          type:
          - string
          - 'null'
        priceMethod:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        priceUom:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productDescription:
          type:
          - string
          - 'null'
        productFamily:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        productName:
          type:
          - string
          - 'null'
        rollupPriceToBundle:
          type:
          - boolean
          - 'null'
        relatedAdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        relatedAdjustmentAppliesTo:
          type:
          - string
          - 'null'
        relatedAdjustmentType:
          type:
          - string
          - 'null'
        relatedAdjustmentAmountSourceId:
          type:
          - string
          - 'null'
        relatedItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        relatedPercent:
          type:
          - number
          - 'null'
          format: double
        relatedPercentAppliesTo:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        sellingUomId:
          type:
          - string
          - 'null'
        subType:
          type:
          - string
          - 'null'
        RelatedPriceListItemsTo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.RelatedPriceListItem'
        relatedItemId:
          type:
          - string
          - 'null'
        taxable:
          type:
          - boolean
          - 'null'
        taxCodeId:
          type:
          - string
          - 'null'
        taxInclusive:
          type:
          - boolean
          - 'null'
        type:
          type:
          - string
          - 'null'
        relatedAdjustmentSource:
          type:
          - string
          - 'null'
        product:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        priceList:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceList'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Feature:
      type: object
      properties:
        featureSetId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.BaseEntity:
      type: object
      properties:
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeGroup:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        ProductTranslation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupTranslation'
        attributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.UsagePriceTier:
      type: object
      properties:
        adjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        adjustmentType:
          type:
          - string
          - 'null'
        commitmentQuantity:
          type:
          - number
          - 'null'
          format: double
        dimension1Value:
          type:
          - string
          - 'null'
        dimension2Value:
          type:
          - string
          - 'null'
        dimension3Value:
          type:
          - string
          - 'null'
        dimension4Value:
          type:
          - string
          - 'null'
        dimension5Value:
          type:
          - string
          - 'null'
        dimension6Value:
          type:
          - string
          - 'null'
        periodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        flatPrice:
          type:
          - number
          - 'null'
          format: double
        isCommitted:
          type: boolean
        isIncluded:
          type: boolean
        lineItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        priceAdjustment:
          type:
          - number
          - 'null'
          format: double
        priceMatrix:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceMatrix'
        priceOverride:
          type:
          - number
          - 'null'
          format: double
        sequence:
          type:
          - number
          - 'null'
          format: double
        periodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        tierStartValue:
          type:
          - number
          - 'null'
          format: double
        tierEndValue:
          type:
          - number
          - 'null'
          format: double
        usageRate:
          type:
          - number
          - 'null'
          format: double
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductTranslation:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        family:
          type:
          - string
          - 'null'
        language:
          type:
          - string
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        translationName:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroup:
      type: object
      properties:
        attributeMatrixId:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        threeColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        twoColumnAttributeDisplay:
          type:
          - boolean
          - 'null'
        attributeGroupMembers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.AttributeGroupMember'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Category:
      type: object
      properties:
        ancestorId:
          type:
          - string
          - 'null'
        ancestorPath:
          type:
          - string
          - 'null'
        hierarchyId:
          type:
          - string
          - 'null'
        defaultSearchCategory:
          type: boolean
        description:
          type:
          - string
          - 'null'
        expandedByDefault:
          type: boolean
        guidePage:
          type:
          - string
          - 'null'
        hideAllSearchFilters:
          type: boolean
        imageURL:
          type:
          - string
          - 'null'
        includeInTotalsView:
          type: boolean
        isHidden:
          type: boolean
        isLeaf:
          type:
          - boolean
          - 'null'
        isPicklist:
          type: boolean
        label:
          type:
          - string
          - 'null'
        largeImageURL:
          type:
          - string
          - 'null'
        longDescription:
          type:
          - string
          - 'null'
        searchFilterFields:
          type:
          - array
          - 'null'
          items:
            type: string
        type:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductCategory:
      type: object
      properties:
        categoryId:
          type:
          - string
          - 'null'
        default:
          type: boolean
        defaultQuantity:
          type:
          - number
          - 'null'
          format: double
        modifiable:
          type: boolean
        maxQuantity:
          type:
          - number
          - 'null'
          format: double
        minQuantity:
          type:
          - number
          - 'null'
          format: double
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        Category:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Category'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeGroupMember:
      type: object
      properties:
        attributeGroupId:
          type:
          - string
          - 'null'
        fieldUpdateCriteriaIds:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - integer
          - 'null'
          format: int32
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        ProductIdReference:
          $ref: '#/components/schemas/Conga.Revenue.Entities.Product'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductGroup:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        groupType:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.ProductAttributeMatrixView:
      type: object
      properties:
        active:
          type: boolean
        attributeValueMatrixId:
          type:
          - string
          - 'null'
        columns:
          type:
          - string
          - 'null'
        hash:
          type:
          - string
          - 'null'
        keys:
          type:
          - string
          - 'null'
        productAttributeScope:
          type:
          - string
          - 'null'
        productId:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.AttributeGroupTranslation:
      type: object
      properties:
        language:
          type:
          - string
          - 'null'
        attributeGroupTranslationName:
          type:
          - string
          - 'null'
        productAttributeGroupId:
          type:
          - string
          - 'null'
        ProductAttributeGroup:
          $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.PriceMatrix:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        dimensionId1:
          type:
          - string
          - 'null'
        dimensionId2:
          type:
          - string
          - 'null'
        dimensionId3:
          type:
          - string
          - 'null'
        dimensionId4:
          type:
          - string
          - 'null'
        dimensionId5:
          type:
          - string
          - 'null'
        dimensionId6:
          type:
          - string
          - 'null'
        dimension1ValueType:
          type:
          - string
          - 'null'
        dimension2ValueType:
          type:
          - string
          - 'null'
        dimension3ValueType:
          type:
          - string
          - 'null'
        dimension4ValueType:
          type:
          - string
          - 'null'
        dimension5ValueType:
          type:
          - string
          - 'null'
        dimension6ValueType:
          type:
          - string
          - 'null'
        enableDateRange:
          type: boolean
        enableUsageIndexing:
          type: boolean
        initialRows:
          type:
          - number
          - 'null'
          format: double
        matrixType:
          type:
          - string
          - 'null'
        priceListItemId:
          type:
          - string
          - 'null'
        sequence:
          type:
          - number
          - 'null'
          format: double
        stopProcessing:
          type: boolean
        PriceListItem:
          $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Conga.Revenue.Entities.Product:
      type: object
      properties:
        configurationType:
          type:
          - string
          - 'null'
        customizable:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        displayUrl:
          type:
          - string
          - 'null'
        effectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        excludeFromSitemap:
          type: boolean
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        family:
          type:
          - string
          - 'null'
        hasAttributes:
          type: boolean
        hasDefaults:
          type: boolean
        hasOptions:
          type: boolean
        hasSearchAttributes:
          type: boolean
        imageURL:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isCustomizable:
          type: boolean
        isTabViewEnabled:
          type: boolean
        disableExpandInCart:
          type:
          - boolean
          - 'null'
        allowVisualization:
          type:
          - boolean
          - 'null'
        productCode:
          type:
          - string
          - 'null'
        productType:
          type:
          - string
          - 'null'
        quantityUnitOfMeasure:
          type:
          - string
          - 'null'
        renewalLeadTime:
          type:
          - number
          - 'null'
          format: double
        stockKeepingUnit:
          type:
          - string
          - 'null'
        uom:
          type:
          - string
          - 'null'
        version:
          type:
          - number
          - 'null'
          format: double
        layout:
          type:
          - string
          - 'null'
        Categories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductCategory'
        prices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.PriceListItem'
        productAttributeGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup'
        productOptionGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        translations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductTranslation'
        triggeringPrimaryLineNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        productAttributeMatrixViews:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductAttributeMatrixView'
        productFeatureValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductFeatureValue'
        productFeatures:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductFeature'
        productGroups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductGroupMember'
        productOptionGroupsForBundle:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Conga.Revenue.Entities.ProductOptionGroup'
        ruleActionId:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        CreatedDate:
          type:
          - string
          - 'null'
          format: date-time
        Id:
          type:
          - string
          - 'null'
        ModifiedBy:
          $ref: '#/components/schemas/Conga.Revenue.Entities.BaseEntity'
        ModifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        name:
          type:
          - string
          - 'null'
        Currency:
          type:
          - string
          - 'null'
        Digest:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
