openapi: 3.2.0
info:
  title: Administration Price Matrix Entries API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Price Matrix Entries
paths:
  /matrices/{ParentId}/matrix-entries:
    delete:
      tags:
      - Price Matrix Entries
      summary: Delete price matrix entries
      description: 'Deletes one or more price matrix entries. It can delete a maximum of 100 price matrix entries.



        When executed, this API returns one or more records with the delete status of each associated record ID.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Price Matrix Entries
      summary: Retrieve price matrix entries
      description: 'Retrieves all price matrix entries for a specific price matrix. Use query parameters to further narrow the results.



        When executed, this API returns all price matrix entries for a specific price matrix.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: An optional array of filters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: An optional sort criteria
        schema:
          type: string
      - name: page
        in: query
        description: The page number for pagination
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The maximum number of records per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: An optional array of included fields
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Price Matrix Entries
      summary: Update price matrix entries
      description: 'Updates specific fields on one or more price matrix entries. It can update any fields except price matrix entry ID.



        When executed successfully, this API returns the updated price matrix entry or price matrix entries.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      requestBody:
        description: The list of records to be updated
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: PriceMatrixName
              IsActive: true
              PriceMatrix:
                Id: PriceMatrix-Id
                Name: PriceMatrix-Name
              Dimension1Value: Dimension-1 Value
              IsIncluded: true
              Sequence: 1
              Currency: USD
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Price Matrix Entries
      summary: Create price matrix entries
      description: 'Creates one or more price matrix entries. It can create a maximum of 1000 price matrix entries.



        When executed, this API returns a unique price matrix entry ID (string) that CPQ automatically generates.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      requestBody:
        description: The list of price matrix entries to add to the collection
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PriceMatrixEntry'
      responses:
        '200':
          description: OK
  /matrices/{ParentId}/matrix-entries/{Id}:
    delete:
      tags:
      - Price Matrix Entries
      summary: Delete a price matrix entry
      description: 'Deletes a specified price matrix entry.



        When executed, this API returns the delete status for specified record ID.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price matrix entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Price Matrix Entries
      summary: Retrieve a price matrix entry
      description: 'Retrieves a price matrix entry for a specified price matrix entry for a specific price matrix. Use query parameters to further narrow the results.


        When executed, this API returns a price matrix entry for specified Id for a specific price matrix.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price matrix entry
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Price Matrix Entries
      summary: Update a price matrix entry
      description: 'Updates specific fields on specified price matrix entry. It can update any fields except price matrix entry ID.



        When executed successfully, this API returns the updated price matrix entry.'
      parameters:
      - name: ParentId
        in: path
        description: The identifier of the parent price matrix
        required: true
        schema:
          type: string
      - name: Id
        in: path
        description: The identifier of the price matrix entry
        required: true
        schema:
          type: string
      requestBody:
        description: The updated state of the price matrix entry
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: PriceMatrixName
              IsActive: true
              PriceMatrix:
                Id: PriceMatrix-Id
                Name: PriceMatrix-Name
              Dimension1Value: Dimension-1 Value
              IsIncluded: true
              Sequence: 1
              Currency: USD
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    CurrencyField:
      type: object
      properties:
        Value:
          type: number
          format: double
        DisplayValue:
          type: number
          format: double
          readOnly: true
        CurrencyCode:
          type:
          - string
          - 'null'
          readOnly: true
        CurrencySymbol:
          type:
          - string
          - 'null'
          readOnly: true
      additionalProperties: false
    PriceMatrixEntry:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        AdjustmentAmount:
          type:
          - number
          - 'null'
          format: double
        AdjustmentAmountSource:
          $ref: '#/components/schemas/LookupObject'
        AdjustmentType:
          type:
          - string
          - 'null'
        BandSize:
          type:
          - number
          - 'null'
          format: double
        Condition:
          type:
          - string
          - 'null'
        Dimension1Value:
          type:
          - string
          - 'null'
        Dimension2Value:
          type:
          - string
          - 'null'
        Dimension3Value:
          type:
          - string
          - 'null'
        Dimension4Value:
          type:
          - string
          - 'null'
        Dimension5Value:
          type:
          - string
          - 'null'
        Dimension6Value:
          type:
          - string
          - 'null'
        EndFactor:
          type:
          - number
          - 'null'
          format: double
        EntryKey:
          type:
          - string
          - 'null'
        FlatPrice:
          $ref: '#/components/schemas/CurrencyField'
        IsIncluded:
          type:
          - boolean
          - 'null'
        PeriodEndDate:
          type:
          - string
          - 'null'
          format: date-time
        PeriodStartDate:
          type:
          - string
          - 'null'
          format: date-time
        PriceMatrix:
          $ref: '#/components/schemas/LookupObject'
        PriceOverride:
          $ref: '#/components/schemas/CurrencyField'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        StartFactor:
          type:
          - number
          - 'null'
          format: double
        TierEndValue:
          type:
          - number
          - 'null'
          format: double
        TierStartValue:
          type:
          - number
          - 'null'
          format: double
        UniqueSequenceKey:
          type:
          - string
          - 'null'
        UsageRate:
          $ref: '#/components/schemas/CurrencyField'
        Currency:
          type:
          - string
          - 'null'
        AdjustmentSource:
          type:
          - string
          - 'null'
      additionalProperties: {}
      example:
        Name: PriceMatrixName
        IsActive: true
        PriceMatrix:
          Id: PriceMatrix-Id
          Name: PriceMatrix-Name
        Dimension1Value: Dimension-1 Value
        IsIncluded: true
        Sequence: 1
        Currency: USD
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
