openapi: 3.2.0
info:
  title: Administration Visibility Rules API
  version: 1.0.0
servers:
- url: https://rls.congacloud.com/api/revenue-admin/v1
security:
- Bearer: []
tags:
- name: Visibility Rules
paths:
  /visibility-rule:
    delete:
      tags:
      - Visibility Rules
      summary: Delete visibility rules
      description: Deletes one or more visibility rules.
      requestBody:
        description: The list of visibility rules to delete
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
            example:
            - Id: Id of the record to delete
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
      responses:
        '200':
          description: OK
    get:
      tags:
      - Visibility Rules
      summary: Retrieve visibility rules
      description: 'Retrieves the list of all visibility rules in system. Use record name to narrow down the search. The API returns the following fields:

        <ul><li>Name</li><li>IsActive</li><li>Business Object</li><li>Description</li></ul>'
      parameters:
      - name: filter
        in: query
        description: Optional filter parameters
        schema:
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Optional sort parameter
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          format: int32
          default: 50
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      - name: field
        in: query
        description: Pass Comma separated mulitple fields
        schema:
          type: array
          items:
            type: string
      - name: filterExpression
        in: query
        description: ''
        schema:
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Visibility Rules
      summary: Update visibility rules
      description: Updates one or more visibility rules, which control which products are displayed in the catalog. Visibility rules are updated based on the requested details.
      requestBody:
        description: The list of visibility rules with updated data
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
            example:
            - Name: Name of the VisibilityRule
              BusinessObject: Attribute
              Description: Description
              InclusionCriteria: Criteria in string
              PriceList:
                Id: PL-Id
                Name: PL-Name
              IsActive: true
              Sequence: 1
              Users:
              - user1
              - user2
              Id: Id of the record
          text/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
          application/*+json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: {}
      responses:
        '200':
          description: OK
    post:
      tags:
      - Visibility Rules
      summary: Create visibility rules
      description: Creates one or more visibility rules, based on details in the request body, to control which products are displayed in the catalog.
      requestBody:
        description: The list of visibility rules to create
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/VisibilityRule'
      responses:
        '200':
          description: OK
  /visibility-rule/{Id}:
    delete:
      tags:
      - Visibility Rules
      summary: Delete a visibility rule
      description: Deletes a single visibility rule by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the visibility rule to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
    get:
      tags:
      - Visibility Rules
      summary: Retrieve a visibility rule
      description: Retrieves a single visibility rule by its identifier.
      parameters:
      - name: Id
        in: path
        description: The identifier of the visibility rule
        required: true
        schema:
          type: string
      - name: includes
        in: query
        description: Optional related entities to include
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
    patch:
      tags:
      - Visibility Rules
      summary: Update a visibility rule
      description: Updates a single visibility rule.
      parameters:
      - name: Id
        in: path
        description: The identifier of the visibility rule to update
        required: true
        schema:
          type: string
      requestBody:
        description: The updated data of the visibility rule
        content:
          application/json:
            schema:
              type: object
              additionalProperties: {}
            example:
              Name: Name of the VisibilityRule
              BusinessObject: Attribute
              Description: Description
              InclusionCriteria: Criteria in string
              PriceList:
                Id: PL-Id
                Name: PL-Name
              IsActive: true
              Sequence: 1
              Users:
              - user1
              - user2
          text/json:
            schema:
              type: object
              additionalProperties: {}
          application/*+json:
            schema:
              type: object
              additionalProperties: {}
      responses:
        '200':
          description: OK
components:
  schemas:
    VisibilityRule:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        CreatedBy:
          $ref: '#/components/schemas/LookupObject'
        CreatedDate:
          type: string
          format: date-time
        ModifiedBy:
          $ref: '#/components/schemas/LookupObject'
        ModifiedDate:
          type: string
          format: date-time
        ExternalId:
          type:
          - string
          - 'null'
        ETag:
          type:
          - string
          - 'null'
        BusinessObject:
          type:
          - string
          - 'null'
        Sequence:
          type:
          - number
          - 'null'
          format: double
        Description:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        Criteria:
          type:
          - string
          - 'null'
        PriceList:
          $ref: '#/components/schemas/LookupObject'
        InclusionCriteria:
          type:
          - string
          - 'null'
        Users:
          type:
          - array
          - 'null'
          items:
            type: string
        Roles:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: {}
      example:
        Name: Name of the VisibilityRule
        BusinessObject: Attribute
        Description: Description
        InclusionCriteria: Criteria in string
        PriceList:
          Id: PL-Id
          Name: PL-Name
        IsActive: true
        Sequence: 1
        Users:
        - user1
        - user2
    LookupObject:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Please insert JWT with Bearer into field
      name: Authorization
      in: header
