{
  "openapi": "3.0.1",
  "info": {
    "title": "Extensibility",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    },
    {
      "url": "https://preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/extensibility/v1/callbacks": {
      "get": {
        "tags": [
          "Callback"
        ],
        "summary": "Get all callback contracts",
        "description": "Retrieves all callback contract and project mapping information for each callback contract.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackContractResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "CallbackName": "Conga.Revenue.Common.Callback.IPricingBasePriceCallback",
                      "CallbackShortName": null,
                      "CallbackDescription": "Pricing BasePrice Callback",
                      "CallbackDisplayName": "Pricing BasePrice Callback",
                      "CallbackCategoryName": "Revenue",
                      "CustomCodeMapping": {
                        "ProjectName": null,
                        "ClassName": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Callback"
        ],
        "summary": "Update callback contract mapping",
        "description": "Updates the callback contract mapping with custom code project and class.",
        "requestBody": {
          "description": "List of callback custom code mapping information",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CallbackCustomCodeMappingInfo"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CallbackCustomCodeMappingInfo"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CallbackCustomCodeMappingInfo"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackCustomCodeMappingInfoListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "ModuleName": "Revenue",
                      "ContractName": "Conga.Revenue.Common.Callback.IPricingBasePriceCallback",
                      "ProjectName": "PricingBasePriceCallbackProject",
                      "ClassName": "TestClass"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/callbacks/modules": {
      "get": {
        "tags": [
          "Callback"
        ],
        "summary": "Get all modules",
        "description": "Retrieves a list of registered callback modules.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "Module 1",
                    "Module 2",
                    "Module 3"
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/callbacks/modules/{moduleName}": {
      "get": {
        "tags": [
          "Callback"
        ],
        "summary": "Get all callback contracts by module name",
        "description": "Retrieves callback contract details and project mapping information for each callback contract by module name.",
        "parameters": [
          {
            "name": "moduleName",
            "in": "path",
            "description": "Module name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackContractResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "CallbackName": "CallbackName",
                      "CallbackShortName": "CallbackShortName",
                      "CallbackDescription": "CallbackDescription",
                      "CallbackDisplayName": "CallbackDisplayName",
                      "CallbackCategoryName": "CallbackCategoryName",
                      "CustomCodeMapping": {
                        "ProjectName": "ProjectName",
                        "ClassName": "ClassName"
                      }
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/callbacks/settings": {
      "get": {
        "tags": [
          "Callback"
        ],
        "summary": "Get callback custom code setting configuration",
        "description": "Fetches callback custom code setting configuration details.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackCustomCodeSettingsResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ExecutionAbortTimeout": 1000
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Callback"
        ],
        "summary": "Upsert callback custom code setting configuration",
        "description": "If a callback custom code setting is already configured, it is updated; otherwise, a new one is created.",
        "requestBody": {
          "description": "CallbackCustomCodeSetting configuration data to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallbackCustomCodeSettingsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CallbackCustomCodeSettingsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CallbackCustomCodeSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/callbacks/{name}": {
      "get": {
        "tags": [
          "Callback"
        ],
        "summary": "Get callback contract details",
        "description": "Retrieves callback contract details and mapping information based on the module and callback contract names.",
        "parameters": [
          {
            "name": "moduleName",
            "in": "query",
            "description": "Module name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Contract name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackContractResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ModuleName": "test_Modulename",
                    "ContractName": "Test_ContractName",
                    "ProjectName": "customCode_Test",
                    "ClassName": "CustomCodeHelpers.CallbackCustomeCode"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Get all custom codes",
        "description": "Retrieves all available custom codes and their associated information.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource": {
      "get": {
        "tags": [
          "API Resource"
        ],
        "summary": "Get all API resources",
        "description": "Retrieves a list of all API resources.",
        "parameters": [
          {
            "name": "startsWithFilter",
            "in": "query",
            "description": "A filter value to return values starting with this string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "sampleApiResource",
                      "CreatedBy": null,
                      "CreatedOn": "0001-01-01T00:00:00",
                      "ModifiedOn": "0001-01-01T00:00:00"
                    },
                    {
                      "Name": "newApiResource",
                      "CreatedBy": null,
                      "CreatedOn": "0001-01-01T00:00:00",
                      "ModifiedOn": "0001-01-01T00:00:00"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "API Resource"
        ],
        "summary": "Create a new API resource",
        "description": "Creates a new API resource.",
        "requestBody": {
          "description": "New API resource request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "sampleApiResource",
                    "CreatedBy": null,
                    "CreatedOn": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/cancellation/settings": {
      "get": {
        "tags": [
          "API Resource"
        ],
        "summary": "Get CustomAPI cancellation token setting configuration",
        "description": "Fetches CustomAPI cancellation token setting configuration details.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackCustomCodeSettingsResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ExecutionAbortTimeout": 1000
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "API Resource"
        ],
        "summary": "Upsert CustomAPI cancellation token setting configuration",
        "description": "If a cancellation token setting is already configured, it is updated; otherwise, a new one is created.",
        "requestBody": {
          "description": "CustomCodeGuardrail configuration data to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/resolve": {
      "post": {
        "tags": [
          "API Resource"
        ],
        "summary": "Resolve a URI",
        "description": "Resolves the API resource's URI entry information.",
        "requestBody": {
          "description": "API resource URI information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceUriResolutionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceUriResolutionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceUriResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResourceResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ResourceName": "sampleapiresource",
                    "HttpVerb": "Get",
                    "RouteEntries": [
                      {
                        "Id": null,
                        "HttpVerb": null,
                        "Route": "/{empId}/id",
                        "CustomCodeName": "SampleApi",
                        "FullyQualifiedClassName": "SampleApi.EmployeeController",
                        "MethodName": "GetEmployeeById",
                        "ResourceName": null,
                        "MethodParameterBindings": [
                          {
                            "SourceType": "empId",
                            "SourceName": "UriPath"
                          }
                        ],
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00"
                      },
                      {
                        "Id": null,
                        "HttpVerb": null,
                        "Route": "/{empName}/name",
                        "CustomCodeName": "SampleApi",
                        "FullyQualifiedClassName": "SampleApi.EmployeeController",
                        "MethodName": "GetEmployeeByName",
                        "ResourceName": null,
                        "MethodParameterBindings": [
                          {
                            "SourceType": "empName",
                            "SourceName": "UriPath"
                          }
                        ],
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00"
                      }
                    ],
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/{name}": {
      "delete": {
        "tags": [
          "API Resource"
        ],
        "summary": "Delete an API resource",
        "description": "Validates and removes the API resource information based on the API resource name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "API Resource"
        ],
        "summary": "Get API resource information by resource name",
        "description": "Retrieves the API resource information for the given API resource name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResourceByNameResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "sampleApiResource",
                    "CreatedBy": null,
                    "CreatedOn": "0001-01-01T00:00:00",
                    "ModifiedOn": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/{name}/clone": {
      "post": {
        "tags": [
          "API Resource"
        ],
        "summary": "Clone an API resource",
        "description": "Clones an existing (source) API resource and its associated URI entry information to a new API resource.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Source API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Destination API resource information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiResourceCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "sampleApiResource",
                    "CreatedBy": null,
                    "CreatedOn": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/{name}/uri-entries": {
      "get": {
        "tags": [
          "API Resource"
        ],
        "summary": "Get URIs by name or verb",
        "description": "Retrieves URI entries by name or HTTP verb.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "httpVerb",
            "in": "query",
            "description": "HTTP verb of a resource",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ResourceName": "sampleapiresource",
                    "HttpVerb": "Get",
                    "RouteEntries": [
                      {
                        "Id": null,
                        "HttpVerb": null,
                        "Route": "/{empId}/id",
                        "CustomCodeName": "SampleApi",
                        "FullyQualifiedClassName": "SampleApi.EmployeeController",
                        "MethodName": "GetEmployeeById",
                        "ResourceName": null,
                        "MethodParameterBindings": [
                          {
                            "SourceType": "empId",
                            "SourceName": "UriPath"
                          }
                        ],
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00"
                      },
                      {
                        "Id": null,
                        "HttpVerb": null,
                        "Route": "/{empName}/name",
                        "CustomCodeName": "SampleApi",
                        "FullyQualifiedClassName": "SampleApi.EmployeeController",
                        "MethodName": "GetEmployeeByName",
                        "ResourceName": null,
                        "MethodParameterBindings": [
                          {
                            "SourceType": "empName",
                            "SourceName": "UriPath"
                          }
                        ],
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00"
                      }
                    ],
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "API Resource"
        ],
        "summary": "Create an API resource URI",
        "description": "Inserts a new API resource URI entry and returns new resource URI entry information.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "API resource information to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResourceUriEntriesCreateResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ResourceName": "sampleApiResource",
                    "HttpVerb": "Get",
                    "Route": "/{myCode}/code",
                    "CustomCodeName": "sampleCustomCode",
                    "FullyQualifiedClassName": "sampleApi.TestClass",
                    "MethodName": "GetCode",
                    "MethodParameterBindings": [
                      {
                        "SourceType": "code",
                        "SourceName": "UriPath"
                      }
                    ],
                    "CreatedBy": null,
                    "CreatedOn": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/api-resource/{name}/uri-entries/{id}": {
      "delete": {
        "tags": [
          "API Resource"
        ],
        "summary": "Delete a URI",
        "description": "Removes a URI entry based on the API resource name and URI entry ID.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "URI entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApiResourceResponseExample"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "API Resource"
        ],
        "summary": "Update URI entry information",
        "description": "Updates a URI entry and returns updated URI entry information.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "API resource name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "URI entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "API resource route information to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceUriEntriesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResourceUriEntriesCreateResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ResourceName": "sampleApiResource",
                    "HttpVerb": "Get",
                    "Route": "/{myCode}/code",
                    "CustomCodeName": "sampleCustomCode",
                    "FullyQualifiedClassName": "sampleApi.TestClass",
                    "MethodName": "GetCode",
                    "MethodParameterBindings": [
                      {
                        "SourceType": "code",
                        "SourceName": "UriPath"
                      }
                    ],
                    "CreatedBy": null,
                    "CreatedOn": "0001-01-01T00:00:00"
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/execute": {
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Execute the custom code",
        "description": "Executes the custom code.",
        "requestBody": {
          "description": "Custom code runtime request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CSharpProjectRuntimeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CSharpProjectRuntimeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CSharpProjectRuntimeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/migration/export/{Type}": {
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Export the Projects or Resources based on the specified Type",
        "description": "Exports the Projects or Resources based on the given Type parameter.",
        "parameters": [
          {
            "name": "Type",
            "in": "path",
            "description": "Type of export, either \"Projects\" or \"Resources\"",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Types"
            }
          }
        ],
        "requestBody": {
          "description": "Request containing export details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/migration/import/{Type}": {
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Import the Projects or Resources based on the specified Type",
        "description": "Imports the Projects or Resources based on the given Type parameter.",
        "parameters": [
          {
            "name": "Type",
            "in": "path",
            "description": "Type of import, either \"Projects\" or \"Resources\"",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Types"
            }
          }
        ],
        "requestBody": {
          "description": "Request containing import details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationExportImportRequestModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-apis": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Get all trusted API configurations",
        "description": "Retrieves a list of trusted API configurations.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndPointInformationResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Endpoint_name",
                      "Endpoint": "Endpoint_URL",
                      "AllowedHttpVerbs": [
                        "Get",
                        "Post"
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Add a trusted API configuration",
        "description": "Adds a trusted API configuration and returns the status of the request.",
        "requestBody": {
          "description": "Trusted API configuration data to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-apis/allowed-http-verbs": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Retrieve all allowed HTTP verbs",
        "description": "Fetches all allowed HTTP verbs.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "GET",
                    "POST",
                    "PUT",
                    "DELETE"
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-apis/uri": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Retrieve a trusted API configuration by URI",
        "description": "Fetches trusted API configuration details based on the URI of the trusted API configuration.",
        "parameters": [
          {
            "name": "uri",
            "in": "query",
            "description": "URI of the trusted API configuration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndPointInformationResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Endpoint_name",
                    "Endpoint": "Endpoint_URL",
                    "AllowedHttpVerbs": [
                      "Get",
                      "Post"
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-apis/{name}": {
      "delete": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Delete a trusted API configuration",
        "description": "Deletes a trusted API configuration and returns the status of the request.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted API configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Retrieve a trusted API configuration by name",
        "description": "Fetches trusted API configuration details based on the name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted API configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndPointInformationResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Endpoint_name",
                    "Endpoint": "Endpoint_URL",
                    "AllowedHttpVerbs": [
                      "Get",
                      "Post"
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Update a trusted API configuration",
        "description": "Updates a trusted API configuration and returns the status of the request.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted API configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Trusted API configuration data to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedAPIsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-objects": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "List all trusted object configurations",
        "description": "Returns a list of trusted out-of-the-box (OOTB) object configurations.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AllObjectsInformationResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "ObjectName": "Name_Of_Object",
                      "DisplayName": "Display_Name_Of_Object",
                      "AllowedOperationNames": null,
                      "AllowedOperations": [
                        {
                          "Name": "Operation_Name"
                        }
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Add a trusted object configuration",
        "description": "Adds a trusted out-of-the-box (OOTB) object configuration.",
        "requestBody": {
          "description": "Trusted OOTB object configuration data to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "TrustedObjects": [
                        {
                          "ObjectName": "Name_Of_Object",
                          "AllowedOperationNames": null,
                          "AllowedOperations": [
                            {
                              "Name": "Operation_Name"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-objects/allowed-operations": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "List allowed operations",
        "description": "Returns a list of allowed operations.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "Create",
                    "Update",
                    "Read",
                    "Delete"
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/trusted-objects/{name}": {
      "delete": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Delete a trusted object configuration",
        "description": "Removes an existing trusted out-of-the-box (OOTB) object configuration.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted object configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "TrustedObjects": [
                        {
                          "ObjectName": "Name_Of_Object",
                          "AllowedOperationNames": null,
                          "AllowedOperations": [
                            {
                              "Name": "Operation_Name"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Get a trusted object configuration by name",
        "description": "Returns the details of an existing trusted out-of-the-box (OOTB) object configuration.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted object configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInformationResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "Name_Of_Object",
                    "AllowedOperationNames": null,
                    "AllowedOperations": [
                      {
                        "Name": "Operation_Name"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Update a trusted object configuration",
        "description": "Updates an existing trusted out-of-the-box (OOTB) object configuration.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Trusted object configuration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Trusted OOTB object configuration data to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeTrustedObjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomCodeTrustedObjectResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "TrustedObjects": [
                        {
                          "ObjectName": "Name_Of_Object",
                          "AllowedOperationNames": null,
                          "AllowedOperations": [
                            {
                              "Name": "Operation_Name"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/{name}": {
      "delete": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Delete a custom code by name",
        "description": "This endpoint validates and deletes the project Informations based on the name and returns OK response with string result otherwise returns exceptions.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Project Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "688fb287-78c8-48a4-a5f2-e30aab871f2c deleted successfully."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Retrieve custom code by project name",
        "description": "Retrieves custom code for the given project name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/{name}/debuglog": {
      "post": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Enable debug log",
        "description": "Sets the EnableDebugLog flag for custom code for the given project name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enable",
            "in": "query",
            "description": "Status of the EnableDebugLog flag",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/customcode/{projectName}/download": {
      "get": {
        "tags": [
          "Custom Code"
        ],
        "summary": "Download the project",
        "description": "Downloads the custom code project with the given project name (in ZIP format).",
        "parameters": [
          {
            "name": "projectName",
            "in": "path",
            "description": "Project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/servicehooks/datachangerules": {
      "get": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Retrieve all data change rules",
        "description": "Returns data change rules that meet the parameter conditions.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the rule <p>**For Example**: `Name='SampleRule'`.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction of the result set <p>(ASC or DESC)</p>",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Insert a new data change rule",
        "description": "Validates and inserts the data change rule and returns the rule information.",
        "requestBody": {
          "description": "Data change rule details to be added",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/servicehooks/datachangerules/cancellation/settings": {
      "get": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Get ServiceHooks cancellation token setting configuration",
        "description": "Fetches ServiceHooks cancellation token setting configuration details.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackCustomCodeSettingsResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ExecutionAbortTimeout": 1000
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Upsert ServiceHooks cancellation token setting configuration",
        "description": "If a cancellation token setting is already configured, it is updated; otherwise, a new one is created.",
        "requestBody": {
          "description": "CustomCodeGuardrail configuration data to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomCodeSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/servicehooks/datachangerules/supported-event-types": {
      "get": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Retrieve all supported event types in service hook rules",
        "description": "Fetches all supported event types.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "GET",
                    "POST",
                    "PUT",
                    "DELETE"
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "newsampleApi deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/servicehooks/datachangerules/{name}": {
      "delete": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Delete a data change rule",
        "description": "Validates and removes the given data change rule.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Data change rule name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "Name_Of_Service_Hook",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Retrieve a data change rule by name",
        "description": "Retrieves the data change rule details for the given name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Data change rule name to get the rule details",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Conga Hooks"
        ],
        "summary": "Update a data change rule",
        "description": "Validates and updates the data change rule and returns the updated rule information.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Data change rule name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Data change rule details to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceHooksDataChangeRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestErrorResponseExampleAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Errors": [
                    {
                      "Message": "Bad Request Error Message"
                    }
                  ],
                  "StatusCode": "BadRequest",
                  "NextCursor": null
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/extensibility/v1/servicehooks/rules": {
      "get": {
        "tags": [
          "Conga Hooks Rules"
        ],
        "summary": "Retrieve all service hooks rules",
        "description": "Returns service hooks rules that meet the parameter conditions.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the rule <p>**For Example**: `Name='SampleRule'`.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
[...]
