openapi: 3.2.0
info:
  title: X-Author Token API
  version: v1
servers:
- url: https://xauthor-prod-rls10.congacloud.com
- url: https://xauthor-preview-rls09.congacloud.com
security:
- bearerAuth: []
tags:
- name: Token
paths:
  /api/xauthor/v1/google-token:
    get:
      tags:
      - Token
      summary: Fetches the google authentication token for communicating with google APIs
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/sites/{siteName}/validate:
    get:
      tags:
      - Token
      summary: Validate Sharepoint site
      description: Checks if the custom-created Sharepoint site is valid.
      parameters:
      - name: siteName
        in: path
        description: Site Name
        required: true
        schema:
          type:
          - string
          - 'null'
          description: Site Name
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
  /api/xauthor/v1/token:
    post:
      tags:
      - Token
      summary: Get auth token
      parameters:
      - name: OrgType
        in: header
        required: true
        schema:
          type: string
          default: RLP
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthTokenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthTokenRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthTokenRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthTokenRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthToken'
            application/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthToken'
            text/json:
              schema:
                $ref: '#/components/schemas/Apttus.XAuthor.Common.Model.AuthToken'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
components:
  schemas:
    Apttus.XAuthor.Common.Model.AuthTokenRequest:
      type: object
      properties:
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        scope:
          type:
          - string
          - 'null'
        redirectURI:
          type:
          - string
          - 'null'
        loginUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
    Apttus.XAuthor.Common.Model.AuthToken:
      type: object
      properties:
        access_Token:
          type:
          - string
          - 'null'
        id_Token:
          type:
          - string
          - 'null'
        refresh_Token:
          type:
          - string
          - 'null'
        signature:
          type:
          - string
          - 'null'
        instance_Url:
          type:
          - string
          - 'null'
        scope:
          type:
          - string
          - 'null'
        token_Type:
          type:
          - string
          - 'null'
        issued_At:
          type:
          - string
          - 'null'
        id:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
