{
  "openapi": "3.0.1",
  "info": {
    "title": "Audit",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/audit/v1/field-history-tracking-config": {
      "get": {
        "tags": [
          "Field History Tracking Config"
        ],
        "summary": "Get Field History Tracking Configuration",
        "description": "Retrieves all objects and their associated fields that are currently configured for field history tracking. Use this API to view which objects and fields have change tracking enabled.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "ObjectName": "Agreement",
                      "FieldsEnabled": [
                        "Name",
                        "Account",
                        "RecordType",
                        "AgreementCategory",
                        "AgreementNumber"
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/audit/v1/objects/{objectName}/field-history-tracking-config": {
      "delete": {
        "tags": [
          "Field History Tracking Config"
        ],
        "summary": "Remove Object from Field History Tracking",
        "description": "Removes the specified object and all its associated fields from the field history tracking configuration. After removal, changes to these fields will no longer be tracked.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Object name to be removed from the configuration.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "ObjectName": "Agreement",
                      "FieldsEnabled": [
                        "Name",
                        "Account",
                        "RecordType",
                        "AgreementCategory",
                        "AgreementNumber"
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Field History Tracking Config"
        ],
        "summary": "Add Fields to Field History Tracking",
        "description": "Adds one or more fields to the specified object’s field history tracking configuration. This enables tracking changes to the added fields over time for auditing and reporting purposes.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Object name to which the fields belong to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A list of fields to be added to the object's field history tracking configuration.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldHistoryTrackingConfigModelListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "ObjectName": "Agreement",
                      "FieldsEnabled": [
                        "Name",
                        "Account",
                        "RecordType",
                        "AgreementCategory",
                        "AgreementNumber"
                      ]
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/audit/v1/objects/{objectName}/records/{recordId}/field-history-tracking": {
      "post": {
        "tags": [
          "Field History Tracking"
        ],
        "summary": "Get audit history for a record",
        "description": "Retrieves the audit history for a specific record. It returns a list of all changes made to the specified fields of the record.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Object name from which the field history needs to be fetched. It can only contain underscores and alphanumeric characters. **For example**: PaymentTool, PaymentToolHistory.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recordId",
            "in": "path",
            "description": "A globally unique identifier (GUID) of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date for the history. Only changes made on or after this date will be retrieved. **For example**: 2019-09-01",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for the history. Only changes made on or before this date will be retrieved. **For example**: 2019-09-01 <p>**Note**:End Date should be greater than Start Date.</p>",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "modifiedByName",
            "in": "query",
            "description": "The name of the user who updated the record. **For example**: admin.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiedById",
            "in": "query",
            "description": "The ID of the user who updated the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) for the data.<p>**Note**: The default sort order is **Descending** if the sort field parameter is not specified.</p>",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "requestBody": {
          "description": "Comma-separated list of fields present in the object that are configured for audit history. **For example**: Name, IsActive.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditHistoryResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/audit/v1/translations/locales/{locale}/modules/{module}/keys/{key}/audit-history": {
      "get": {
        "tags": [
          "Translation Audit History Tracking"
        ],
        "summary": "Retrieves the translation audit history for a specific locale, module, and key.",
        "description": "Fetches the audit history of translations based on the provided locale, module, key, and translation type. This allows users to track changes made to translations over time for auditing purposes.",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "The locale identifier for which to retrieve the translation audit history (e.g., \"en-US\").",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "module",
            "in": "path",
            "description": "The name of the translation module associated with the translation key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "The specific translation key whose audit history is being requested.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The translation type to filter the audit history by. This parameter is required and determines the category of translation (e.g., UI, Email, etc.).",
            "schema": {
              "$ref": "#/components/schemas/TranslationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationHistoryResponseListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuditHistoryResponse": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "nullable": true
          },
          "RecordId": {
            "type": "string",
            "nullable": true
          },
          "FieldTrackingHistory": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldTrackingHistory"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuditHistoryResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/AuditHistoryResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldHistoryTrackingConfigModel": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "nullable": true
          },
          "FieldsEnabled": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldHistoryTrackingConfigModelListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldHistoryTrackingConfigModel"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldTrackingHistory": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          },
          "OldValue": {
            "nullable": true
          },
          "NewValue": {
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "HttpStatusCode": {
        "enum": [
          "Continue",
          "SwitchingProtocols",
          "Processing",
          "EarlyHints",
          "OK",
          "Created",
          "Accepted",
          "NonAuthoritativeInformation",
          "NoContent",
          "ResetContent",
          "PartialContent",
          "MultiStatus",
          "AlreadyReported",
          "IMUsed",
          "MultipleChoices",
          "MovedPermanently",
          "Found",
          "SeeOther",
          "NotModified",
          "UseProxy",
          "Unused",
          "TemporaryRedirect",
          "PermanentRedirect",
          "BadRequest",
          "Unauthorized",
          "PaymentRequired",
          "Forbidden",
          "NotFound",
          "MethodNotAllowed",
          "NotAcceptable",
          "ProxyAuthenticationRequired",
          "RequestTimeout",
          "Conflict",
          "Gone",
          "LengthRequired",
          "PreconditionFailed",
          "RequestEntityTooLarge",
          "RequestUriTooLong",
          "UnsupportedMediaType",
          "RequestedRangeNotSatisfiable",
          "ExpectationFailed",
          "MisdirectedRequest",
          "UnprocessableEntity",
          "Locked",
          "FailedDependency",
          "UpgradeRequired",
          "PreconditionRequired",
          "TooManyRequests",
          "RequestHeaderFieldsTooLarge",
          "UnavailableForLegalReasons",
          "InternalServerError",
          "NotImplemented",
          "BadGateway",
          "ServiceUnavailable",
          "GatewayTimeout",
          "HttpVersionNotSupported",
          "VariantAlsoNegotiates",
          "InsufficientStorage",
          "LoopDetected",
          "NotExtended",
          "NetworkAuthenticationRequired"
        ],
        "type": "string"
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SortDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "StringAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "string",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TranslationHistoryResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "EventType": {
            "type": "string",
            "nullable": true
          },
          "TranslationType": {
            "type": "string",
            "nullable": true
          },
          "Module": {
            "type": "string",
            "nullable": true
          },
          "Locale": {
            "type": "string",
            "nullable": true
          },
          "Key": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "TimeStamp": {
            "type": "string",
            "nullable": true
          },
          "OldValue": {
            "type": "string",
            "nullable": true
          },
          "NewValue": {
            "type": "string",
            "nullable": true
          },
          "ActionType": {
            "type": "string",
            "nullable": true
          },
          "AutoTranslatedFromLocale": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TranslationHistoryResponseListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranslationHistoryResponse"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TranslationType": {
        "enum": [
          "String",
          "Schema"
        ],
        "type": "string"
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Field History Tracking"
    },
    {
      "name": "Field History Tracking Config"
    },
    {
      "name": "Translation Audit History Tracking"
    }
  ]
}
