{
  "openapi": "3.0.1",
  "info": {
    "title": "Email",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/email/v1/email-profiles": {
      "post": {
        "tags": [
          "Email Profile"
        ],
        "summary": "Create a new email profile",
        "description": "Validates and creates a new email profile.",
        "requestBody": {
          "description": "The details of the email profile to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailProfileAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "EmailAddress": "test@conga.com",
                    "Name": "Default ProfileName",
                    "DisplayName": "Default Profile",
                    "Id": "7550b532-cdc0-416d-8ba6-5f6ffd311a8d",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-profiles/{name}": {
      "delete": {
        "tags": [
          "Email Profile"
        ],
        "summary": "Delete the email profile",
        "description": "Removes the email profile based on the email profile name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The unique name of the email profile to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "EmailTemplate 887f6f7f-239b-4afd-ac6e-81877466b441 is deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Email Profile"
        ],
        "summary": "Get an email profile by name",
        "description": "Validates and retrieves the email profile based on the email profile name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The unique name of the email profile to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailProfileAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "EmailAddress": "test@conga.com",
                    "Name": "Default ProfileName",
                    "DisplayName": "Default Profile",
                    "Id": "bf5c1cad-6004-4272-b359-d93bfb72952f",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Email Profile"
        ],
        "summary": "Update an email profile",
        "description": "Validates and updates the email profile based on the email profile Name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "The unique name of the email profile to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated details of the email profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailProfile"
              },
              "example": {
                "EmailAddress": "test@conga.com",
                "Name": "Default ProfileName",
                "DisplayName": "Default Profile",
                "Id": null,
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-template-categories": {
      "get": {
        "tags": [
          "Email Template Category"
        ],
        "summary": "Get the list of email template categories",
        "description": "Returns the list of email template categories.",
        "parameters": [
          {
            "name": "parentId",
            "in": "query",
            "description": "Email template category ID of the parent category",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting",
            "schema": {
              "type": "string",
              "default": "CategoryType"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of email template categories in each page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of page for which email template categories to be featched",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction of the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateCategoryResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Email Template Category"
        ],
        "summary": "Create an email template category",
        "description": "Validates and creates an email template category.",
        "requestBody": {
          "description": "Email template category to be created  <br /><ul><li><b>Id</b> (<i>string, optional</i>): Email template category ID. Guid Id.</li><li><b>Name</b> (<i>string, <b> *required</b></i>): The name of the email template category. It can include letters, numbers, special characters, and underscores. For example: Marketing_Emails.</li><li><b>ParentId</b> (<i>string, optional</i>): Parent category ID. Guid Id.</li><li><b>Description</b> (<i>string, optional</i>): Description of the category.</li><li><b>CategoryType</b> (<i>string,<b> *required</b></i>): Indicates the type of category. For email templates, this should be set to 'EmailTemplate'.</li><li><b>OwnerId</b> (<i>string, optional</i>): Owner identifier. Guid Id.</li><li><b>AccessType</b> (<i>string, <b> *required</b></i>): Specifies the access type for the email template category. Allowed values are: Private, Public.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "128f4fa0-b926-4d67-be14-ba9c8e3f9287",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "128f4fa0-b926-4d67-be14-ba9c8e3f9287",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "128f4fa0-b926-4d67-be14-ba9c8e3f9287",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateCategoryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ParentId": "78edfcbf-b89c-4dc7-baa4-a6d10b74eafa",
                    "Description": "My Email Template Category",
                    "CategoryType": null,
                    "OwnerId": null,
                    "AccessType": null,
                    "Id": "ad6c76d0-f670-439b-a98b-2b816878ba4f",
                    "Name": "MyEmailTemplateCategory",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-template-categories/{id}": {
      "delete": {
        "tags": [
          "Email Template Category"
        ],
        "summary": "Delete the email template category",
        "description": "Removes the email template category based on the email template category ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Email template category ID to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "EmailTemplate 99d606d8-14c2-47d6-8a15-c596f40e1eb8 is deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Email Template Category"
        ],
        "summary": "Get an email template category by ID",
        "description": "Validates and retrieves the email template category based on the email template category ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Email template category ID to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateCategoryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ParentId": "f9273a58-81f3-4f2f-93b2-cf7e798176c3",
                    "Description": "My Email Template Category",
                    "CategoryType": null,
                    "OwnerId": null,
                    "AccessType": null,
                    "Id": "353131c0-e913-46aa-a9a6-925520ce6ab7",
                    "Name": "MyEmailTemplateCategory",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Email Template Category"
        ],
        "summary": "Update an email template category",
        "description": "Validates and updates the email template category based on the email template category ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Email template category ID to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Email template category information to be updated:<br /><ul><li><b>Id</b> (string, optional): Email template category ID. Guid Id.</li><li><b>Name</b> (string, <b> *required</b>): The name of the email template category. It can include letters, numbers, special characters, and underscores. For example: Marketing_Email.s</li><li><b>ParentId</b> (string, optional): Parent category ID. Guid Id.</li><li><b>Description</b> (string, optional): Description of the category.</li><li><b>CategoryType</b> (string, <b> *required</b>): Indicates the type of category. For email templates, this should be set to 'EmailTemplate'.</li><li><b>OwnerId</b> (string, optional): Owner identifier. Guid Id.</li><li><b>AccessType</b> (string, <b> *required</b>): Specifies the access type for the email template category. Allowed values are: Private, Public.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "7e18c37e-9732-4533-8009-5ca0e412e091",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "7e18c37e-9732-4533-8009-5ca0e412e091",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateCategory"
              },
              "example": {
                "ParentId": null,
                "Description": "Private email template",
                "CategoryType": "EmailTemplate",
                "OwnerId": null,
                "AccessType": "private",
                "Id": "7e18c37e-9732-4533-8009-5ca0e412e091",
                "Name": "Some Category",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates": {
      "get": {
        "tags": [
          "Email Template"
        ],
        "summary": "Get the list of email templates based on filter and sort criteria",
        "description": "Returns a list of email templates filtered by access type or category, with support for sorting and pagination.",
        "parameters": [
          {
            "name": "searchBy",
            "in": "query",
            "description": "Search by AccessType or CategoryId",
            "schema": {
              "$ref": "#/components/schemas/EmailTemplateSearchType"
            }
          },
          {
            "name": "searchValue",
            "in": "query",
            "description": "Search value",
            "schema": {
              "type": "string",
              "default": "private"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Name of the field to be sorted.",
            "schema": {
              "type": "string",
              "default": "EmailTemplateCategory.Name"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of email templates in each page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of page for which email templates to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction of the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Email Template"
        ],
        "summary": "Create an email template",
        "description": "Creates an email template based on the information passed in the request body.",
        "requestBody": {
          "description": "The email field information for creating the email template<br /><ul><li><b>Id</b> (<i>string, optional</i>): Email template ID. Guid Id.</li><li><b>Name</b> (<i>string,<b>* required</b></i>): Name of the email template.</li><li><b>IsActive</b> (<i>boolean, optional</i>): Indicates if the template is active.</li><li><b>IsDeleted</b> (<i>boolean, optional</i>): Indicates if the template is deleted.</li><li><b>ObjectName</b> (<i>string, optional</i>): DataBase object name.</li><li><b>TemplateType</b> (<i>string, <b> *required</b></i>): Type of the email template.</li><li><b>Body</b> (<i>string, <b> *required</b></i>): Main body of the email template.</li><li><b>HtmlValue</b> (<i>string, optional</i>): HTML value of the template.</li><li><b>Subject</b> (<i>string, <b> *required</b></i>): Subject line of the email template.</li><li><b>OwnerId</b> (<i>string, optional</i>): Owner identifier. Guid Id.</li><li><b>EmailTemplateCategory</b> (<i>LookupObject, <b> *required</b></i>): Email Template category information.</li><li><b>AccessType</b> (<i>string, <b> *required</b></i>): Access type (Private, Public).</li><li><b>Description</b> (<i>string, optional</i>): Description of the template.</li><li><b>CustomCodeUrl</b> (<i>string, optional</i>): Custom code URL.</li><li><b>Tags</b> (<i>array of string, optional</i>): List of tags.</li><li><b>DefaultForProducts</b> (<i>array of string, optional</i>): Default products.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "65080654-272d-48c4-856f-2a88ac4352ef",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "65080654-272d-48c4-856f-2a88ac4352ef",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "65080654-272d-48c4-856f-2a88ac4352ef",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "IsActive": true,
                    "IsDeleted": false,
                    "ObjectName": "SampleObjectName",
                    "TemplateType": "html",
                    "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                    "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                    "Subject": "Greetings, {{TestObjectName1.Name}}! - Updated",
                    "OwnerId": null,
                    "EmailTemplateCategory": null,
                    "AccessType": null,
                    "Description": null,
                    "CustomCodeUrl": null,
                    "Tags": [
                      "Default",
                      "Test"
                    ],
                    "DefaultForProducts": [
                      "esign",
                      "review"
                    ],
                    "DependentMergeFields": null,
                    "AttachmentFileNames": null,
                    "Id": "e925ba24-39a2-41e7-a51f-7bd1ad5e62b3",
                    "Name": "SampleTemplate",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/render": {
      "post": {
        "tags": [
          "Email Template"
        ],
        "summary": "Render an unsaved email template",
        "description": "Fetches the email template information based on the template render request. This API allows you to see a preview of an unsaved email template.",
        "requestBody": {
          "description": "The email template render request:<br /><ul><li><b>EmailTemplateId</b> (<i>string, optional</i>): The ID of the email template. Guid Id.</li><li><b>RecipientType</b> (<i>string, optional</i>): Type of recipient.</li><li><b>RecipientId</b> (<i>string, optional</i>): ID of the recipient. Guid Id.</li><li><b>ObjectName</b> (<i>string, optional</i>):DataBase object name.</li><li><b>RecordId</b> (<i>string, optional</i>): ID of the record. Guid Id.</li><li><b>TemplateData</b> (<i>object, optional</i>): Key-value pairs for template data.<br />Format: { <i>key</i>: <i>value</i>, ... }</li><li><b>RecordDetails</b> (<i>object, optional</i>): Key-value pairs for record details.<br />Format: { <i>key</i>: <i>value</i>, ... }</li><li><b>Subject</b> (<i>string, optional</i>): Email subject line.</li><li><b>HtmlBody</b> (<i>string, optional</i>): HTML content of the email.</li><li><b>PlainTextBody</b> (<i>string, optional</i>): Plain text content of the email.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplatePreviewRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplatePreviewRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplatePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateRenderResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Id": "bdd276f2-3cc4-408d-9395-f1ed3ea7ea48",
                    "Name": "SampleTemplate",
                    "Subject": "Test Subject",
                    "HtmlBody": "Hi, Check out this email!",
                    "PlainTextBody": "Hi Test User, Regards Someone",
                    "TemplateAttachments": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/search": {
      "get": {
        "tags": [
          "Email Template"
        ],
        "summary": "Get the list of email templates based on search criteria",
        "description": "Returns a list of email templates that match the specified search criteria, with support for sorting and pagination.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "<b>\r\n  <i>Required</i>\r\n</b> Search criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Name of the field to be sorted.",
            "schema": {
              "type": "string",
              "default": "EmailTemplateCategory.Name"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of email templates in each page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of page for which email templates to be fetched.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction of the data",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/{id}": {
      "delete": {
        "tags": [
          "Email Template"
        ],
        "summary": "Delete an email template",
        "description": "Removes the email template based on the email template ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "EmailTemplate 673acf95-1a83-46f1-86aa-d07e46f9b0d4 is deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Email Template"
        ],
        "summary": "Get an email template by ID",
        "description": "Retrieves the email template based on the email template ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "IsActive": true,
                    "IsDeleted": false,
                    "ObjectName": "SampleObjectName",
                    "TemplateType": "html",
                    "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                    "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                    "Subject": "Greetings, {{TestObjectName1.Name}}! - Updated",
                    "OwnerId": null,
                    "EmailTemplateCategory": null,
                    "AccessType": null,
                    "Description": null,
                    "CustomCodeUrl": null,
                    "Tags": null,
                    "DefaultForProducts": null,
                    "DependentMergeFields": null,
                    "AttachmentFileNames": null,
                    "Id": "61b714cf-c3e4-42a0-b06b-0e6b95b3c5c2",
                    "Name": "SampleTemplate",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Email Template"
        ],
        "summary": "Create a template attachment for a given template ID",
        "description": "Creates a template attachment for the given template ID based on the email attachment information passed in the request body.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Provide the following details to create an attachment for a given email template ID:\r\n<ul><li><b>Name</b> (string,<b> *required</b>): The name of the file. This field is required, and if it contains a null value in the request, the API returns an error.</li><li><b>MimeType</b> (string,<b> *required</b>): A string sent along with a file indicating the type of the file (describing the content format, for example, a sound file might be labeled audio/ogg, or an image file image/png). This field is required, and if it contains an invalid or null value in the request, the API returns an error. For more information on supported media types, click <a href=\"https://documentation.conga.com/congaplatform/latest/supported-mime-types-and-file-extensions-for-email-apis-213452400.html\">here</a>.</li><li><b>File [Obsolete]</b> (string,<b> *required</b>): It is recommended to use 'FileContent' for all the attachments (especially large files). FileData is a Base64 encoded string of your file. Out of FileData and FileContent, either of the fields is required, and if it contains an invalid or null value in the request, the API returns an error.</li><li><b>FileContent</b> (byte[],<b> *required</b>): Byte array collection of your file. Out of FileContent and FileData, either of the fields is required, and if it contains an invalid or null value in the request, the API returns an error.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAttachment"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAttachment"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailAttachment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFileResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Email Template"
        ],
        "summary": "Update an email template",
        "description": "Updates the email template based on the email template ID and updated email template information.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Email template information to be updated:<br /><ul><li><b>Name</b> (<i>string, <b> *required</b></i>): The name of the email template. This is a descriptive label used to identify the template.</li><li><b>TemplateType</b> (<i>string,<b> *required</b></i>): Specifies the type of the email template, such as html etc.</li><li><b>Body</b> (<i>string, <b> *required</b></i>): The main body of the email template, which will be sent to recipients.</li><li><b>Subject</b> (<i>string, <b> *required</b></i>): The subject line of the email template.</li><li><b>Id</b> (<i>string, optional</i>): Email template ID. Guid Id.</li><li><b>IsActive</b> (<i>boolean, optional</i>): Indicates if the template is active.</li><li><b>IsDeleted</b> (<i>boolean, optional</i>): Indicates if the template is deleted.</li><li><b>ObjectName</b> (<i>string, optional</i>): DataBase object name.</li><li><b>HtmlValue</b> (<i>string, optional</i>): HTML value of the template.</li><li><b>OwnerId</b> (<i>string, optional</i>): Owner identifier.Guid Id.</li><li><b>EmailTemplateCategory</b> (<i>LookupObject, optional</i>): Category information.</li><li><b>AccessType</b> (<i>string, optional</i>): Access type (Private, Public).</li><li><b>Description</b> (<i>string, optional</i>): Description of the template.</li><li><b>CustomCodeUrl</b> (<i>string, optional</i>): Custom code URL.</li><li><b>Tags</b> (<i>array of string, optional</i>): List of tags.</li><li><b>DefaultForProducts</b> (<i>array of string, optional</i>): Default products.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "89ab2a17-09a4-4147-8863-bbce3258961e",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "89ab2a17-09a4-4147-8863-bbce3258961e",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplate"
              },
              "example": {
                "IsActive": true,
                "IsDeleted": false,
                "ObjectName": "SampleObjectName",
                "TemplateType": "html",
                "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                "Subject": "Greetings, {{TestObjectName1.Name}}!",
                "OwnerId": null,
                "EmailTemplateCategory": null,
                "AccessType": null,
                "Description": null,
                "CustomCodeUrl": null,
                "Tags": [
                  "Default",
                  "Test"
                ],
                "DefaultForProducts": [
                  "esign",
                  "review"
                ],
                "DependentMergeFields": null,
                "AttachmentFileNames": null,
                "Id": "89ab2a17-09a4-4147-8863-bbce3258961e",
                "Name": "SampleTemplate",
                "CreatedBy": null,
                "CreatedDate": "0001-01-01T00:00:00",
                "ModifiedBy": null,
                "ModifiedDate": "0001-01-01T00:00:00",
                "ExternalId": null,
                "ETag": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/{id}/clone": {
      "post": {
        "tags": [
          "Email Template"
        ],
        "summary": "Clone the email template",
        "description": "Clones the email template based on the email template ID, with a new email template ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "IsActive": true,
                    "IsDeleted": false,
                    "ObjectName": "SampleObjectName",
                    "TemplateType": "html",
                    "Body": "Dear {{TestObjectName1.Name}} ,\r\n some content Regards UnitTest.",
                    "HtmlValue": "<h1>Hello {{TestObjectName1.Name}} ,</h1><p> some content Regards UnitTest.</p>",
                    "Subject": "Greetings, {{TestObjectName1.Name}}! - Updated",
                    "OwnerId": null,
                    "EmailTemplateCategory": null,
                    "AccessType": null,
                    "Description": null,
                    "CustomCodeUrl": null,
                    "Tags": null,
                    "DefaultForProducts": null,
                    "DependentMergeFields": null,
                    "AttachmentFileNames": null,
                    "Id": "504d1b23-bd06-4d6f-984a-507b5b7ad761",
                    "Name": "SampleTemplate",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/{id}/delete": {
      "delete": {
        "tags": [
          "Email Template"
        ],
        "summary": "Delete all template attachments for a given template id at once",
        "description": "Removes all template attachments for the given email template ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponseListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/{id}/render": {
      "post": {
        "tags": [
          "Email Template"
        ],
        "summary": "Render an email template",
        "description": "Fetches the email template information based on the email template ID and template render request.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The email template render request:\r\n           <br /><ul><li><b>EmailTemplateId</b> (<i>string, optional</i>): The ID of the email template. Guid Id.</li><li><b>RecipientType</b> (<i>string, optional</i>): Type of recipient.</li><li><b>RecipientId</b> (<i>string, optional</i>): ID of the recipient. Guid Id.</li><li><b>ObjectName</b> (<i>string, optional</i>): DataBase object name.</li><li><b>RecordId</b> (<i>string, optional</i>): ID of the record. Guid Id.</li><li><b>TemplateData</b> (<i>object, optional</i>): Key-value pairs for template data.<br />Format: { <i>key</i>: <i>value</i>, ... }</li><li><b>RecordDetails</b> (<i>object, optional</i>): Key-value pairs for record details.<br />Format: { <i>key</i>: <i>value</i>, ... }</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateRenderRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateRenderRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailTemplateRenderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplateRenderResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Id": "31cbc1b1-f9e7-49cc-9ea1-d3501df23a3d",
                    "Name": "SampleTemplate",
                    "Subject": "Test Subject",
                    "HtmlBody": "Hi, Check out this email!",
                    "PlainTextBody": "Hi Test User, Regards Someone",
                    "TemplateAttachments": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/email-templates/{id}/{fileName}/delete": {
      "delete": {
        "tags": [
          "Email Template"
        ],
        "summary": "Delete a template attachment for a given template ID",
        "description": "Removes the template attachment for the given email template ID based on the file name.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the email template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "The name of the file",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteFileResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/emails": {
      "post": {
        "tags": [
          "Email Sender"
        ],
        "summary": "Send an email",
        "description": "Validates and sends an email based on the information provided in the request body and returns a status code in response.",
        "requestBody": {
          "description": "Email request information.\r\n            <ul><li><b>From</b> (EmailAddress,<b> *required</b>): Sender email address object.</li><li><b>FromEmailOption</b> (string, optional): Option (LoggedInUser, OrgWideEmail, or Emailprofile) for sender email.</li><li><b>To</b> (array of EmailAddress,<b> *required</b>): List of recipient email addresses.</li><li><b>Subject</b> (string,<b> *required</b>): Subject of the email.</li><li><b>PlainTextBody</b> (string,<b> *required</b>): Plain text body of the email.</li><li><b>HtmlBody</b> (string, optional): HTML body of the email.</li><li><b>Cc</b> (array of EmailAddress, optional): CC recipients.</li><li><b>Bcc</b> (array of EmailAddress, optional): BCC recipients.</li><li><b>ReplyTo</b> (array of EmailAddress, optional): Reply-to addresses.</li><li><b>Attachments</b> (array, optional): List of attachments. For more information, refer to the Email Attachment details below.</li><li><b>Priority</b> (MailPriority, optional): Email priority. Allowed values: Low, Normal, High.</li><li><b>Headers</b> (object, optional): Custom email headers.</li><li><b>ShouldProcessInbound</b> (boolean, optional): Indicates if inbound processing should occur.</li><li><b>EmailProfileName</b> (string, optional): The name of the email profile to use for sending the email when <b>FromEmailOption</b> is set to <b>Emailprofile</b>.</li></ul>\r\n            Provide the following details for an email attachment:\r\n            <ul><li><b>Name</b>: The name of the file. This field is required, and if it contains null value in the request, the API returns an error.</li><li><b>MimeType</b>: MimeType: A string sent along with a file indicating the type of the file (describing the content format, for example, a sound file might be labeled audio/ogg , or an image file image/png). This field is required, and if it contains an invalid or null value in the request, the API returns an error. For more information on supported media type, click [here](https://documentation.conga.com/en/advantage-platform-administration/current/conga-advantage-platform-api-reference/supported-mime-types-and-file-extensions-for-email-apis).</li><li><b>FileContent</b>: Byte array collection of your file. This field is required, and if it contains an invalid or null value in the request, the API returns an error.</li></ul>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              },
              "example": {
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "To": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Subject": "Test Subject email from Conga - Local Env",
                "PlainTextBody": "This is PlainTextBody from Conga - Local Env",
                "HtmlBody": "<p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>",
                "Cc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Bcc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "ReplyTo": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Attachments": [
                  {
                    "Name": "SampleFile.txt",
                    "MimeType": "application/octet-stream",
                    "FileData": "VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=",
                    "FileContent": null,
                    "File": null
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "OutboundTraceId": null,
                "EmailProfileName": null,
                "TrackingOptions": {
                  "ShouldTrackDeliveryStatus": false,
                  "ClientEventName": null
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              },
              "example": {
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "To": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Subject": "Test Subject email from Conga - Local Env",
                "PlainTextBody": "This is PlainTextBody from Conga - Local Env",
                "HtmlBody": "<p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>",
                "Cc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Bcc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "ReplyTo": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Attachments": [
                  {
                    "Name": "SampleFile.txt",
                    "MimeType": "application/octet-stream",
                    "FileData": "VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=",
                    "FileContent": null,
                    "File": null
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "OutboundTraceId": null,
                "EmailProfileName": null,
                "TrackingOptions": {
                  "ShouldTrackDeliveryStatus": false,
                  "ClientEventName": null
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              },
              "example": {
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "To": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Subject": "Test Subject email from Conga - Local Env",
                "PlainTextBody": "This is PlainTextBody from Conga - Local Env",
                "HtmlBody": "<p>This is HtmlBody <br/>from <br/> <b>Conga</b> - Local Env</p>",
                "Cc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Bcc": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "ReplyTo": [
                  {
                    "Address": "test@conga.com",
                    "DisplayName": "Test User"
                  }
                ],
                "Attachments": [
                  {
                    "Name": "SampleFile.txt",
                    "MimeType": "application/octet-stream",
                    "FileData": "VGhpcyBpcyBteSBzYW1wbGUgYXR0YWNoZWQgZmlsZS4gZnJvbSBjb25nYS4=",
                    "FileContent": null,
                    "File": null
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "OutboundTraceId": null,
                "EmailProfileName": null,
                "TrackingOptions": {
                  "ShouldTrackDeliveryStatus": false,
                  "ClientEventName": null
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Success": true,
                    "EmailStatusCode": "Ok",
                    "Message": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "'From' email address domain is invalid."
                    }
                  ],
                  "StatusCode": "BadRequest"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/v1/emails/bulk": {
      "post": {
        "tags": [
          "Email Sender"
        ],
        "summary": "Send bulk/mass email",
        "description": "Validates and sends bulk emails based on the information provided in the request body and returns a status code in response.",
        "requestBody": {
          "description": "Email Message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailMessage"
              },
              "example": {
                "EmailTemplateId": "1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a",
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "EmailRequestWrappers": [
                  {
                    "EmailTemplateParameters": {
                      "EmailTemplateId": null,
                      "RecipientType": "User",
                      "RecipientId": "0dcefe40-5256-4459-90b0-6eb3d777bed6",
                      "ObjectName": "TestObjectName",
                      "RecordId": "85f79954-89b9-4d1f-a3c5-559bf9b89cae",
                      "TemplateData": {
                        "DynamicName": "TestUserName",
                        "DynamicLastName": "TestUserLastName"
                      },
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test TO User"
                        }
                      ],
                      "Cc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test CC User"
                        }
                      ],
                      "Bcc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test Bcc User"
                        }
                      ],
                      "ReplyTo": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test ReplyTo User"
                        }
                      ]
                    }
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "Attachments": null,
                "EmailProfileName": null
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailMessage"
              },
              "example": {
                "EmailTemplateId": "1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a",
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "EmailRequestWrappers": [
                  {
                    "EmailTemplateParameters": {
                      "EmailTemplateId": null,
                      "RecipientType": "User",
                      "RecipientId": "0dcefe40-5256-4459-90b0-6eb3d777bed6",
                      "ObjectName": "TestObjectName",
                      "RecordId": "85f79954-89b9-4d1f-a3c5-559bf9b89cae",
                      "TemplateData": {
                        "DynamicName": "TestUserName",
                        "DynamicLastName": "TestUserLastName"
                      },
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test TO User"
                        }
                      ],
                      "Cc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test CC User"
                        }
                      ],
                      "Bcc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test Bcc User"
                        }
                      ],
                      "ReplyTo": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test ReplyTo User"
                        }
                      ]
                    }
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "Attachments": null,
                "EmailProfileName": null
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailMessage"
              },
              "example": {
                "EmailTemplateId": "1f0808fd-0115-4fa9-9d0b-d60ceaadfb7a",
                "From": {
                  "Address": "test@conga.com",
                  "DisplayName": "Test User"
                },
                "FromEmailOption": "OrgWideEmail",
                "EmailRequestWrappers": [
                  {
                    "EmailTemplateParameters": {
                      "EmailTemplateId": null,
                      "RecipientType": "User",
                      "RecipientId": "0dcefe40-5256-4459-90b0-6eb3d777bed6",
                      "ObjectName": "TestObjectName",
                      "RecordId": "85f79954-89b9-4d1f-a3c5-559bf9b89cae",
                      "TemplateData": {
                        "DynamicName": "TestUserName",
                        "DynamicLastName": "TestUserLastName"
                      },
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test TO User"
                        }
                      ],
                      "Cc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test CC User"
                        }
                      ],
                      "Bcc": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test Bcc User"
                        }
                      ],
                      "ReplyTo": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test ReplyTo User"
                        }
                      ]
                    }
                  }
                ],
                "Priority": "Normal",
                "Headers": {
                  "X-SES-CONFIGURATION-SET": "test-config-set"
                },
                "ShouldProcessInbound": false,
                "Attachments": null,
                "EmailProfileName": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/email/v1/emails/domain/verify": {
      "get": {
        "tags": [
          "Email Sender"
        ],
        "summary": "Verify an email domain",
        "description": "Checks whether the given domain/subdomain is registered and can be used for sending emails.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain: The domain to be verified.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subDomain",
            "in": "query",
            "description": "SubDomain(optional): The subdomain to be verified.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "Verified",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "'From' email address domain is invalid."
                    }
                  ],
                  "StatusCode": "BadRequest"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/v1/emails/jobs/{jobId}": {
      "get": {
        "tags": [
          "Email Delivery Status"
        ],
        "summary": "Get delivery status of an email by JobId",
        "description": "Fetches delivery status based on JobId.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "JobId: Unique id used to track email.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailJobStatusResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "JobId": "job2",
                    "State": "Completed",
                    "Recipient": "c@conga.com",
                    "EmailStatusDetails": {
                      "Status": "Delivered",
                      "Events": [
                        {
                          "Event": "Delivered",
                          "Reason": null,
                          "Timestamp": "2026-07-27T11:12:10.8140534Z"
                        }
                      ]
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "Verified",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/v1/emails/status/batch": {
      "post": {
        "tags": [
          "Email Delivery Status"
        ],
        "summary": "Email Status by EmailSendId and Recipients",
        "description": "Fetches delivery status based on EmailSendId and Recipients.",
        "requestBody": {
          "description": "Request object containing EmailSendId and Recipients.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDeliveryStatusBatchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDeliveryStatusBatchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmailDeliveryStatusBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailStatusBatchResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "EmailSendId": "guid1",
                    "Jobs": [
                      {
                        "Recipient": "a@conga.com",
                        "JobId": "job1",
                        "State": "InProgress",
                        "EmailStatusDetails": null
                      },
                      {
                        "Recipient": "c@conga.com",
                        "JobId": "job2",
                        "State": "Completed",
                        "EmailStatusDetails": {
                          "Status": "Delivered",
                          "Events": [
                            {
                              "Event": "Delivered",
                              "Reason": null,
                              "Timestamp": "2026-07-27T11:12:10.8047143Z"
                            }
                          ]
                        }
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "Verified",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/api/email/v2/emails/bulk": {
      "post": {
        "tags": [
          "Email Sender"
        ],
        "summary": "Send bulk/mass email using the v2 contract.",
        "requestBody": {
          "description": "Bulk email request information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailV2Request"
              },
              "example": {
                "EmailRequests": [
                  {
                    "ClientReferenceId": "client-1",
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test User"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": true,
                      "ClientEventName": "bulk-email-event-1"
                    }
                  },
                  {
                    "ClientReferenceId": null,
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test2@conga.com",
                          "DisplayName": "Test User 2"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": false,
                      "ClientEventName": "bulk-email-event-2"
                    }
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailV2Request"
              },
              "example": {
                "EmailRequests": [
                  {
                    "ClientReferenceId": "client-1",
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test User"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": true,
                      "ClientEventName": "bulk-email-event-1"
                    }
                  },
                  {
                    "ClientReferenceId": null,
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test2@conga.com",
                          "DisplayName": "Test User 2"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": false,
                      "ClientEventName": "bulk-email-event-2"
                    }
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailV2Request"
              },
              "example": {
                "EmailRequests": [
                  {
                    "ClientReferenceId": "client-1",
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test@conga.com",
                          "DisplayName": "Test User"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": true,
                      "ClientEventName": "bulk-email-event-1"
                    }
                  },
                  {
                    "ClientReferenceId": null,
                    "FromEmailOption": "LoggedInUser",
                    "EmailTemplateParameters": {
                      "EmailTemplateId": "sample-template-id",
                      "RecipientType": null,
                      "RecipientId": null,
                      "ObjectName": null,
                      "RecordId": null,
                      "TemplateData": null,
                      "RecordDetails": null
                    },
                    "EmailParameters": {
                      "To": [
                        {
                          "Address": "test2@conga.com",
                          "DisplayName": "Test User 2"
                        }
                      ],
                      "Cc": [],
                      "Bcc": [],
                      "ReplyTo": []
                    },
                    "Priority": "Normal",
                    "Headers": {
                      "X-SES-CONFIGURATION-SET": "test-config-set"
                    },
                    "ShouldProcessInbound": false,
                    "Attachments": null,
                    "EmailProfileName": null,
                    "TrackingOptions": {
                      "ShouldTrackDeliveryStatus": false,
                      "ClientEventName": "bulk-email-event-2"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEmailV2ResponseAPIResponse"
[...]
