{
  "openapi": "3.0.1",
  "info": {
    "title": "Incentive Administration",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/incentive-admin/v1"
    }
  ],
  "paths": {
    "/business-objects/{businessObjectId}/price-program-associations": {
      "delete": {
        "tags": [
          "Price Program Associations"
        ],
        "summary": "Disassociate a businessObject from price programs based on the given businessObjectId and priceProgramIds.",
        "description": "Deletes IncentiveAssociation based on businessObjectId and priceProgramIds.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "BusinessObject Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceProgramIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PriceProgramIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PriceProgramIdsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/business-objects/{businessObjectId}/price-programs": {
      "get": {
        "tags": [
          "Price Program Associations"
        ],
        "summary": "List price program details which are associated with the given businessObjectId",
        "description": "List Price Program details.",
        "parameters": [
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "BusinessObject Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Filter Expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/incentive-programs": {
      "delete": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Delete Incentive Programs",
        "description": "Deletes multiple Incentive programs",
        "requestBody": {
          "description": "The list of Incentive programs to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Retrieve Incentive Programs",
        "description": "Retrieves the collection of incentive programs.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Optional filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Update Incentive Programs",
        "description": "Updates multiple Incentive programs",
        "requestBody": {
          "description": "The list of Incentive programs with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Create Incentive Programs",
        "description": "Creates multiple Incentive programs",
        "requestBody": {
          "description": "The list of Incentive programs to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/incentive-programs/{Id}": {
      "delete": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Delete an Incentive Program",
        "description": "Deletes a single Incentive program by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Incentive program to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Retrieve an Incentive Program",
        "description": "Retrieves a single incentive program by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Incentive program",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentiveProgram"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Incentive Programs"
        ],
        "summary": "Update an Incentive Program",
        "description": "Updates a single Incentive program",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the Incentive program to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the Incentive program",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-program-associations": {
      "post": {
        "tags": [
          "Price Program Associations"
        ],
        "summary": "Associate price program to businessObjects",
        "description": "Creates multiple associations.",
        "requestBody": {
          "description": "The list of price program associations",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveAssociation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveAssociation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveAssociation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-program-rules/{ParentId}/entries": {
      "delete": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Delete incentive rule entries",
        "description": "Deletes one or more incentive rule entries from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Retrieve incentive rule entries",
        "description": "Retrieves a collection of incentive rule entries based on the parent incentive rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Update incentive rule entries",
        "description": "Updates one or more incentive rule entries in the collection. Parent reassignment is not allowed.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "PriceProgramRuleEntryName",
                  "AdjustmentAmount": 50,
                  "AdjustmentAmountSource": null,
                  "AdjustmentReason": null,
                  "AdjustmentType": "% Discount",
                  "AdjustmentUom": null,
                  "AdjustmentValueSource": null,
                  "AdjustmentValueType": "Constant",
                  "ChargeTypes": null,
                  "Condition": null,
                  "Dimension1ListValue": null,
                  "Dimension1Value": null,
                  "Dimension2ListValue": null,
                  "Dimension2Value": null,
                  "Dimension3ListValue": null,
                  "Dimension3Value": null,
                  "Dimension4ListValue": null,
                  "Dimension4Value": null,
                  "Dimension5ListValue": null,
                  "Dimension5Value": null,
                  "Dimension6ListValue": null,
                  "Dimension6Value": null,
                  "InclusionMethod": null,
                  "LoyaltyLevel": null,
                  "PeriodEndDate": null,
                  "PeriodStartDate": null,
                  "PriceOverride": null,
                  "ProductCategory": null,
                  "ProductFamilies": null,
                  "ProductFamily": "Software",
                  "ProductGroup": null,
                  "ProductGroups": null,
                  "Products": null,
                  "ProductsOper": null,
                  "Quantity": null,
                  "Currency": "USD",
                  "TierMetricTypeEntry": "USD",
                  "Sequence": 1,
                  "AdjustmentSource": null,
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Create incentive rule entries",
        "description": "Adds one or more incentive rule entries to the collection. The parent incentive rule is automatically filled.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of incentive rule entries to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRuleEntry"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-program-rules/{ParentId}/entries/{Id}": {
      "delete": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Delete an incentive rule entry",
        "description": "Deletes a single incentive rule entry document based on the identifier and parent incentive rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Retrieve an incentive rule entry",
        "description": "Retrieves a single incentive rule entry document based on the identifier and parent incentive rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Program Rule Entries"
        ],
        "summary": "Update an incentive rule entry",
        "description": "Updates a single incentive rule entry document based on the identifier and parent incentive rule.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the incentive rule entry",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "PriceProgramRuleEntryName",
                "AdjustmentAmount": 50,
                "AdjustmentAmountSource": null,
                "AdjustmentReason": null,
                "AdjustmentType": "% Discount",
                "AdjustmentUom": null,
                "AdjustmentValueSource": null,
                "AdjustmentValueType": "Constant",
                "ChargeTypes": null,
                "Condition": null,
                "Dimension1ListValue": null,
                "Dimension1Value": null,
                "Dimension2ListValue": null,
                "Dimension2Value": null,
                "Dimension3ListValue": null,
                "Dimension3Value": null,
                "Dimension4ListValue": null,
                "Dimension4Value": null,
                "Dimension5ListValue": null,
                "Dimension5Value": null,
                "Dimension6ListValue": null,
                "Dimension6Value": null,
                "InclusionMethod": null,
                "LoyaltyLevel": null,
                "PeriodEndDate": null,
                "PeriodStartDate": null,
                "PriceOverride": null,
                "ProductCategory": null,
                "ProductFamilies": null,
                "ProductFamily": "Software",
                "ProductGroup": null,
                "ProductGroups": null,
                "Products": null,
                "ProductsOper": null,
                "Quantity": null,
                "Currency": "USD",
                "TierMetricTypeEntry": "USD",
                "Sequence": 1,
                "AdjustmentSource": null
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs": {
      "delete": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Delete incentives",
        "description": "Deletes multiple incentives.",
        "requestBody": {
          "description": "The list of incentives to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Retrieve incentives",
        "description": "Retrieves the collection of incentives.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Update incentives",
        "description": "Updates multiple incentives.",
        "requestBody": {
          "description": "The list of incentives with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "PriceProgramName",
                  "AccountScope": [
                    "All"
                  ],
                  "AccountScopeOper": "in",
                  "AccountTypeScope": [
                    "All"
                  ],
                  "AccountTypeScopeOper": "in",
                  "IsActive": true,
                  "AmendmentEffectiveDate": null,
                  "Ancestor": null,
                  "ApplicationMethod": "Buy X Get X",
                  "AutoApply": true,
                  "BenefitUom": null,
                  "CombineWithOtherIncentives": false,
                  "ContextType": "Line Item",
                  "CountryScope": [
                    "All"
                  ],
                  "CountryScopeOper": "in",
                  "CycleEndDate": null,
                  "CycleStartDate": null,
                  "Description": "Price program description",
                  "Downgrade": null,
                  "EffectiveDate": "2022-10-10",
                  "EnableBenefitEffectivityDates": false,
                  "ExcludeChildrenWithActivePrograms": false,
                  "ExpirationDate": "2023-10-10",
                  "IncentiveCode": null,
                  "IncentiveGroup": null,
                  "IncentiveNumber": null,
                  "IncentiveNumberAuto": null,
                  "IncentiveNumberText": null,
                  "IncludeOrdersForAccountHierarchy": false,
                  "IsBundle": false,
                  "Loyalty": null,
                  "MaxPoints": null,
                  "OriginalEffectiveDate": null,
                  "PointAccrualLevel": null,
                  "PriceListScope": [
                    "All"
                  ],
                  "PriceListScopeOper": "in",
                  "ProductFamilyScope": [
                    "All"
                  ],
                  "ProductFamilyScopeOper": "in",
                  "ProductGroupScope": [
                    "All"
                  ],
                  "ProductGroupScopeOper": "in",
                  "ProductScope": [
                    "All"
                  ],
                  "ProductScopeOper": "in",
                  "RecurrenceFrequency": null,
                  "RegionScope": [
                    "All"
                  ],
                  "RegionScopeOper": "in",
                  "RenewalEffectiveDate": null,
                  "SearchField": null,
                  "Sequence": 1,
                  "Status": "New",
                  "StopProcessingMoreIncentives": false,
                  "SubUseType": "Point Accrual",
                  "Upgrade": null,
                  "UseType": "Price Program",
                  "VersionNumber": null,
                  "Criteria": null,
                  "ExclusionCriteria": null,
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Create incentives",
        "description": "Creates multiple incentives.",
        "requestBody": {
          "description": "The list of incentives to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs/{Id}": {
      "delete": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Delete an incentive",
        "description": "Deletes a single incentive by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Retrieve an incentive",
        "description": "Retrieves a single incentive by its identifier.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Incentive"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Programs"
        ],
        "summary": "Update an incentive",
        "description": "Updates a single incentive.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data of the incentive",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "PriceProgramName",
                "AccountScope": [
                  "All"
                ],
                "AccountScopeOper": "in",
                "AccountTypeScope": [
                  "All"
                ],
                "AccountTypeScopeOper": "in",
                "IsActive": true,
                "AmendmentEffectiveDate": null,
                "Ancestor": null,
                "ApplicationMethod": "Buy X Get X",
                "AutoApply": true,
                "BenefitUom": null,
                "CombineWithOtherIncentives": false,
                "ContextType": "Line Item",
                "CountryScope": [
                  "All"
                ],
                "CountryScopeOper": "in",
                "CycleEndDate": null,
                "CycleStartDate": null,
                "Description": "Price program description",
                "Downgrade": null,
                "EffectiveDate": "2022-10-10",
                "EnableBenefitEffectivityDates": false,
                "ExcludeChildrenWithActivePrograms": false,
                "ExpirationDate": "2023-10-10",
                "IncentiveCode": null,
                "IncentiveGroup": null,
                "IncentiveNumber": null,
                "IncentiveNumberAuto": null,
                "IncentiveNumberText": null,
                "IncludeOrdersForAccountHierarchy": false,
                "IsBundle": false,
                "Loyalty": null,
                "MaxPoints": null,
                "OriginalEffectiveDate": null,
                "PointAccrualLevel": null,
                "PriceListScope": [
                  "All"
                ],
                "PriceListScopeOper": "in",
                "ProductFamilyScope": [
                  "All"
                ],
                "ProductFamilyScopeOper": "in",
                "ProductGroupScope": [
                  "All"
                ],
                "ProductGroupScopeOper": "in",
                "ProductScope": [
                  "All"
                ],
                "ProductScopeOper": "in",
                "RecurrenceFrequency": null,
                "RegionScope": [
                  "All"
                ],
                "RegionScopeOper": "in",
                "RenewalEffectiveDate": null,
                "SearchField": null,
                "Sequence": 1,
                "Status": "New",
                "StopProcessingMoreIncentives": false,
                "SubUseType": "Point Accrual",
                "Upgrade": null,
                "UseType": "Price Program",
                "VersionNumber": null,
                "Criteria": null,
                "ExclusionCriteria": null
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs/{ParentId}/rules": {
      "delete": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Delete incentive rules",
        "description": "Deletes one or more incentive rules from the collection.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              },
              "example": [
                {
                  "Id": "Id of the record to delete"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Retrieve incentive rules",
        "description": "Retrieves a collection of incentive rules based on the parent incentive.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "An optional array of included fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Update incentive rules",
        "description": "Updates one or more incentive rules in the collection. Parent reassignment is not allowed.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of records to be updated",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "PriceProgramRuleName",
                  "AdjustmentAppliesTo": "Base Price",
                  "AdjustmentChargeType": "Adjustment",
                  "BenefitType": "Price Only",
                  "Criteria": null,
                  "Description": "Price program rule Description",
                  "Dimension1": {
                    "Id": "Dimension1Id",
                    "Name": "DimensionName1"
                  },
                  "Dimension1ValueType": "value",
                  "Dimension2": null,
                  "Dimension2ValueType": null,
                  "Dimension3": null,
                  "Dimension3ValueType": null,
                  "Dimension4": null,
                  "Dimension4ValueType": null,
                  "Dimension5": null,
                  "Dimension5ValueType": null,
                  "Dimension6": null,
                  "Dimension6ValueType": null,
                  "EffectiveDate": "2024-09-08",
                  "ExpirationDate": "2029-09-08",
                  "ForEveryXCriteriaDimension": null,
                  "ForEveryXCriteriaDimensionType": null,
                  "ForEveryXCriteriaDimensionValue": null,
                  "FutureBenefitValidityOffset": null,
                  "FutureBenefitValidityType": null,
                  "IsActive": true,
                  "ProductCriteria": null,
                  "ProductCriteriaOper": null,
                  "ProductFamilyCriteria": null,
                  "ProductFamilyCriteriaOper": null,
                  "ProductGroupCriteria": null,
                  "ProductGroupCriteriaOper": null,
                  "RegionCriteria": null,
                  "RegionCriteriaOper": null,
                  "RateType": "Single Rate",
                  "RateTableTierType": null,
                  "TierMetricType": null,
                  "TierMetricRollupDuration": "No Rollup",
                  "MetricValueSource": null,
                  "Id": "Id of the record"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Create incentive rules",
        "description": "Adds one or more incentive rules to the collection. The parent incentive is automatically filled.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The list of incentive rules to add to the collection",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/IncentiveRule"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs/{ParentId}/rules/{Id}": {
      "delete": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Delete an incentive rule",
        "description": "Deletes a single incentive rule document based on the identifier and parent incentive.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Retrieve an incentive rule",
        "description": "Retrieves a single incentive rule document based on the identifier and parent incentive.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Price Program Rules"
        ],
        "summary": "Update an incentive rule",
        "description": "Updates a single incentive rule document based on the identifier and parent incentive.",
        "parameters": [
          {
            "name": "ParentId",
            "in": "path",
            "description": "The identifier of the parent incentive",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The identifier of the incentive rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated state of the incentive rule",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "PriceProgramRuleName",
                "AdjustmentAppliesTo": "Base Price",
                "AdjustmentChargeType": "Adjustment",
                "BenefitType": "Price Only",
                "Criteria": null,
                "Description": "Price program rule Description",
                "Dimension1": {
                  "Id": "Dimension1Id",
                  "Name": "DimensionName1"
                },
                "Dimension1ValueType": "value",
                "Dimension2": null,
                "Dimension2ValueType": null,
                "Dimension3": null,
                "Dimension3ValueType": null,
                "Dimension4": null,
                "Dimension4ValueType": null,
                "Dimension5": null,
                "Dimension5ValueType": null,
                "Dimension6": null,
                "Dimension6ValueType": null,
                "EffectiveDate": "2024-09-08",
                "ExpirationDate": "2029-09-08",
                "ForEveryXCriteriaDimension": null,
                "ForEveryXCriteriaDimensionType": null,
                "ForEveryXCriteriaDimensionValue": null,
                "FutureBenefitValidityOffset": null,
                "FutureBenefitValidityType": null,
                "IsActive": true,
                "ProductCriteria": null,
                "ProductCriteriaOper": null,
                "ProductFamilyCriteria": null,
                "ProductFamilyCriteriaOper": null,
                "ProductGroupCriteria": null,
                "ProductGroupCriteriaOper": null,
                "RegionCriteria": null,
                "RegionCriteriaOper": null,
                "RateType": "Single Rate",
                "RateTableTierType": null,
                "TierMetricType": null,
                "TierMetricRollupDuration": "No Rollup",
                "MetricValueSource": null
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs/{priceProgramId}/business-objects": {
      "get": {
        "tags": [
          "Price Program Associations"
        ],
        "summary": "List businessObject details which are associated with the given priceProgramId",
        "description": "List BusinessObject Details.",
        "parameters": [
          {
            "name": "priceProgramId",
            "in": "path",
            "description": "PriceProgram Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "BusinessObject Type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An optional array of filters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "An optional sort criteria",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number for pagination",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated multiple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Filter Expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/price-programs/{priceProgramId}/price-program-associations": {
      "delete": {
        "tags": [
          "Price Program Associations"
        ],
        "summary": "Disassociate a price program from businessObjects based on the given priceProgramId and businessObjectIds.",
        "description": "Deletes IncentiveAssociation based on priceProgramId and businessObjectIds.",
        "parameters": [
          {
            "name": "priceProgramId",
            "in": "path",
            "description": "Price Program Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessObjectIdsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessObjectIdsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessObjectIdsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessObjectIdsRequest": {
        "type": "object",
        "properties": {
          "BusinessObjectIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CurrencyField": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number",
            "format": "double"
          },
          "DisplayValue": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CurrencySymbol": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "Incentive": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AccountScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccountScopeOper": {
            "type": "string",
            "nullable": true
          },
          "AccountTypeScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AccountTypeScopeOper": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "AmendmentEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Ancestor": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ApplicationMethod": {
            "type": "string",
            "nullable": true
          },
          "AutoApply": {
            "type": "boolean",
            "nullable": true
          },
          "BenefitUom": {
            "type": "string",
            "nullable": true
          },
          "CascadeBenefitsForBundles": {
            "type": "boolean",
            "nullable": true
          },
          "CombineWithOtherIncentives": {
            "type": "boolean",
            "nullable": true
          },
          "ContextType": {
            "type": "string",
            "nullable": true
          },
          "CountryScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CountryScopeOper": {
            "type": "string",
            "nullable": true
          },
          "CycleEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "CycleStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Downgrade": {
            "type": "string",
            "nullable": true
          },
          "EffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EnableBenefitEffectivityDates": {
            "type": "boolean",
            "nullable": true
          },
          "ExcludeChildrenWithActivePrograms": {
            "type": "boolean",
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "IncentiveCode": {
            "type": "string",
            "nullable": true
          },
          "IncentiveGroup": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "IncentiveProgram": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "IncentiveNumber": {
            "type": "string",
            "nullable": true
          },
          "IncentiveNumberAuto": {
            "type": "string",
            "nullable": true
          },
          "IncentiveNumberText": {
            "type": "string",
            "nullable": true
          },
          "IncludeOrdersForAccountHierarchy": {
            "type": "boolean",
            "nullable": true
          },
          "IsBundle": {
            "type": "boolean",
            "nullable": true
          },
          "Loyalty": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "MaxPoints": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OriginalEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PointAccrualLevel": {
            "type": "string",
            "nullable": true
          },
          "PriceListScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "PriceListScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilyScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamilyScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductGroupScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupScopeOper": {
            "type": "string",
            "nullable": true
          },
          "ProductScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductScopeOper": {
            "type": "string",
            "nullable": true
          },
          "RecurrenceFrequency": {
            "type": "string",
            "nullable": true
          },
          "RegionScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RegionScopeOper": {
            "type": "string",
            "nullable": true
          },
          "RenewalEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SearchField": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "EnableCurrency": {
            "type": "boolean",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "nullable": true
          },
          "StopProcessingMoreIncentives": {
            "type": "boolean",
            "nullable": true
          },
          "SubUseType": {
            "type": "string",
            "nullable": true
          },
          "Upgrade": {
            "type": "string",
            "nullable": true
          },
          "UseType": {
            "type": "string",
            "nullable": true
          },
          "VersionNumber": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "ExclusionCriteria": {
            "type": "string",
            "nullable": true
          },
          "AdhocGroupScope": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "IncentiveConditionExpression": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {},
        "example": {
          "Name": "PriceProgramName",
          "AccountScope": [
            "All"
          ],
          "AccountScopeOper": "in",
          "AccountTypeScope": [
            "All"
          ],
          "AccountTypeScopeOper": "in",
          "IsActive": true,
          "AmendmentEffectiveDate": null,
          "Ancestor": null,
          "ApplicationMethod": "Buy X Get X",
          "AutoApply": true,
          "BenefitUom": null,
          "CombineWithOtherIncentives": false,
          "ContextType": "Line Item",
          "CountryScope": [
            "All"
          ],
          "CountryScopeOper": "in",
          "CycleEndDate": null,
          "CycleStartDate": null,
          "Description": "Price program description",
          "Downgrade": null,
          "EffectiveDate": "2022-10-10",
          "EnableBenefitEffectivityDates": false,
          "ExcludeChildrenWithActivePrograms": false,
          "ExpirationDate": "2023-10-10",
          "IncentiveCode": null,
          "IncentiveGroup": null,
          "IncentiveNumber": null,
          "IncentiveNumberAuto": null,
          "IncentiveNumberText": null,
          "IncludeOrdersForAccountHierarchy": false,
          "IsBundle": false,
          "Loyalty": null,
          "MaxPoints": null,
          "OriginalEffectiveDate": null,
          "PointAccrualLevel": null,
          "PriceListScope": [
            "All"
          ],
          "PriceListScopeOper": "in",
          "ProductFamilyScope": [
            "All"
          ],
          "ProductFamilyScopeOper": "in",
          "ProductGroupScope": [
            "All"
          ],
          "ProductGroupScopeOper": "in",
          "ProductScope": [
            "All"
          ],
          "ProductScopeOper": "in",
          "RecurrenceFrequency": null,
          "RegionScope": [
            "All"
          ],
          "RegionScopeOper": "in",
          "RenewalEffectiveDate": null,
          "SearchField": null,
          "Sequence": 1,
          "Status": "New",
          "StopProcessingMoreIncentives": false,
          "SubUseType": "Point Accrual",
          "Upgrade": null,
          "UseType": "Price Program",
          "VersionNumber": null,
          "Criteria": null,
          "ExclusionCriteria": null
        }
      },
      "IncentiveAssociation": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "Incentive": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "BusinessObjectType": {
            "type": "string",
            "nullable": true
          },
          "BusinessObjectId": {
            "type": "string",
            "nullable": true
          },
          "ContractNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "IncentiveProgram": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "ApplicationMethod": {
            "type": "string",
            "nullable": true
          },
          "ProgramType": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "IncentiveRule": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentChargeType": {
            "type": "string",
            "nullable": true
          },
          "BenefitType": {
            "type": "string",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Dimension1": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension1ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension2": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension2ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension3": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension3ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension4": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension4ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension5": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension5ValueType": {
            "type": "string",
            "nullable": true
          },
          "Dimension6": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Dimension6ValueType": {
            "type": "string",
            "nullable": true
          },
          "EffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ForEveryXCriteriaDimension": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ForEveryXCriteriaDimensionType": {
            "type": "string",
            "nullable": true
          },
          "ForEveryXCriteriaDimensionValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FutureBenefitValidityOffset": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FutureBenefitValidityType": {
            "type": "string",
            "nullable": true
          },
          "IsActive": {
            "type": "boolean",
            "nullable": true
          },
          "MetricValueSourceAggregator": {
            "type": "string",
            "nullable": true
          },
          "ProductCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilyCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamilyCriteriaOper": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductGroupCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "RegionCriteria": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RegionCriteriaOper": {
            "type": "string",
            "nullable": true
          },
          "RateType": {
            "type": "string",
            "nullable": true
          },
          "RateTableTierType": {
            "type": "string",
            "nullable": true
          },
          "TierMetricType": {
            "type": "string",
            "nullable": true
          },
          "TierMetricRollupDuration": {
            "type": "string",
            "nullable": true
          },
          "MetricValueSource": {
            "type": "string",
            "nullable": true
          },
          "Incentive": {
            "$ref": "#/components/schemas/LookupObject"
          }
        },
        "additionalProperties": {},
        "example": {
          "Name": "PriceProgramRuleName",
          "AdjustmentAppliesTo": "Base Price",
          "AdjustmentChargeType": "Adjustment",
          "BenefitType": "Price Only",
          "Criteria": null,
          "Description": "Price program rule Description",
          "Dimension1": {
            "Id": "Dimension1Id",
            "Name": "DimensionName1"
          },
          "Dimension1ValueType": "value",
          "Dimension2": null,
          "Dimension2ValueType": null,
          "Dimension3": null,
          "Dimension3ValueType": null,
          "Dimension4": null,
          "Dimension4ValueType": null,
          "Dimension5": null,
          "Dimension5ValueType": null,
          "Dimension6": null,
          "Dimension6ValueType": null,
          "EffectiveDate": "2024-09-08",
          "ExpirationDate": "2029-09-08",
          "ForEveryXCriteriaDimension": null,
          "ForEveryXCriteriaDimensionType": null,
          "ForEveryXCriteriaDimensionValue": null,
          "FutureBenefitValidityOffset": null,
          "FutureBenefitValidityType": null,
          "IsActive": true,
          "ProductCriteria": null,
          "ProductCriteriaOper": null,
          "ProductFamilyCriteria": null,
          "ProductFamilyCriteriaOper": null,
          "ProductGroupCriteria": null,
          "ProductGroupCriteriaOper": null,
          "RegionCriteria": null,
          "RegionCriteriaOper": null,
          "RateType": "Single Rate",
          "RateTableTierType": null,
          "TierMetricType": null,
          "TierMetricRollupDuration": "No Rollup",
          "MetricValueSource": null
        }
      },
      "IncentiveRuleEntry": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AdjustmentAmountSource": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "AdjustmentReason": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentUom": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentValueSource": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentValueType": {
            "type": "string",
            "nullable": true
          },
          "ChargeTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Condition": {
            "type": "string",
            "nullable": true
          },
          "Dimension1ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension1Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension2ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension2Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension3ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension3Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension4ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension4Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension5ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension5Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension6ListValue": {
            "type": "string",
            "nullable": true
          },
          "Dimension6Value": {
            "type": "string",
            "nullable": true
          },
          "InclusionMethod": {
            "type": "string",
            "nullable": true
          },
          "LoyaltyLevel": {
            "type": "string",
            "nullable": true
          },
          "PeriodEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PeriodStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PriceOverride": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "IncentiveRule": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProductCategory": {
            "type": "string",
            "nullable": true
          },
          "ProductFamilies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductFamily": {
            "type": "string",
            "nullable": true
          },
          "ProductGroup": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProductGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Products": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ProductsOper": {
            "type": "string",
            "nullable": true
          },
          "Quantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Sequence": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TierMetricTypeEntry": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentSource": {
            "type": "string",
            "nullable": true
          },
          "AdhocGroups": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": {},
        "example": {
          "Name": "PriceProgramRuleEntryName",
          "AdjustmentAmount": 50,
          "AdjustmentAmountSource": null,
          "AdjustmentReason": null,
          "AdjustmentType": "% Discount",
          "AdjustmentUom": null,
          "AdjustmentValueSource": null,
          "AdjustmentValueType": "Constant",
          "ChargeTypes": null,
          "Condition": null,
          "Dimension1ListValue": null,
          "Dimension1Value": null,
          "Dimension2ListValue": null,
          "Dimension2Value": null,
          "Dimension3ListValue": null,
          "Dimension3Value": null,
          "Dimension4ListValue": null,
          "Dimension4Value": null,
          "Dimension5ListValue": null,
          "Dimension5Value": null,
          "Dimension6ListValue": null,
          "Dimension6Value": null,
          "InclusionMethod": null,
          "LoyaltyLevel": null,
          "PeriodEndDate": null,
          "PeriodStartDate": null,
          "PriceOverride": null,
          "ProductCategory": null,
          "ProductFamilies": null,
          "ProductFamily": "Software",
          "ProductGroup": null,
          "ProductGroups": null,
          "Products": null,
          "ProductsOper": null,
          "Quantity": null,
          "Currency": "USD",
          "TierMetricTypeEntry": "USD",
          "Sequence": 1,
          "AdjustmentSource": null
        }
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PriceProgramIdsRequest": {
        "type": "object",
        "properties": {
          "PriceProgramIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Incentive Programs"
    },
    {
      "name": "Price Program Associations"
    },
    {
      "name": "Price Program Rule Entries"
    },
    {
      "name": "Price Program Rules"
    },
    {
      "name": "Price Programs"
    }
  ]
}
