{
  "openapi": "3.0.1",
  "info": {
    "title": "Contracts",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    },
    {
      "url": "https://preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/clm/v1/accounts/{accountId}/contracts/hierarchy/query": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get contract hierarchy for an account using query",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Query object containing optional filtering (`CriteriaExpression`),\r\nsorting (`SortInfo`), and field selection (`Fields`).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQueryCommon"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hierarchy contracts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                        "Name": "Reviewer",
                        "Description": "Team is responsible to review the associated contract",
                        "Action": [
                          "SendforReview"
                        ],
                        "IsActive": true,
                        "CreatedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "CreatedDate": "2026-08-14T00:01:41.5186442Z",
                        "ModifiedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "ModifiedDate": "2026-08-14T00:01:41.5186447Z",
                        "ExternalId": null
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Required value is missing from the request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/accounts/{accountId}/contracts/{contractId}/hierarchy/query": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get hierarchy starting from a specific contract under an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional sorting and field selection",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQueryHierarchyChild"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQueryHierarchyChild"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQueryHierarchyChild"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract hierarchy tree",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                        "Name": "Reviewer",
                        "Description": "Team is responsible to review the associated contract",
                        "Action": [
                          "SendforReview"
                        ],
                        "IsActive": true,
                        "CreatedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "CreatedDate": "2026-08-14T00:01:41.5292849Z",
                        "ModifiedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "ModifiedDate": "2026-08-14T00:01:41.5292853Z",
                        "ExternalId": null
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/clauses/{clauseId}/obligations": {
      "delete": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Delete clause obligations",
        "description": "Deletes clause obligations based on the provided clause obligation IDs for the specified clause ID.\r\n\r\nIf clause obligation IDs are not provided, all clause obligations associated with the provided clause ID are deleted.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "Clause Id for which clause obligations are to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteAll",
            "in": "query",
            "description": "DeleteAll is true when wan to delete all obligations related to clauseId",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "List of Obligation IDs",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The given clause obligations Ids are deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResultStatusDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "4ae151a8-ba84-4e60-888e-86326c02d0db": "Success",
                    "af72e569-9e65-4f97-a7c9-26466c02be51": "Fail"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Clause IDs is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Create a clause obligation request",
        "description": "Creates a clause obligation record in CLM. Makes Obligation entry in Master Obligation and makes entry of Clause Id and Obligation Id in Clause Obligation table.\r\nThe required fields to create a clause obligation record are: \r\n* Name   \r\nYou can introduce these additional fields to the clause obligation.\r\n* ObligationType \r\n* Priority \r\n* Description",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "ID of a clause",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "OBL-0000006",
                "Description": "Obligation Description",
                "ObligationType": "Operational",
                "Priority": "High"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the details of the created clause obligation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Id": "454552c7-915c-4cb0-a9af-d2c015b3597d",
                    "Name": "Test Obligation 1",
                    "ObligationType": "Operational",
                    "Priority": "High",
                    "Description": "Test data",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    }
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "A required value is missing from the request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/clauses/{clauseId}/obligations/query": {
      "post": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Get all clause obligations",
        "description": "Fetches all clause obligations with respect to clause Id. \r\nYou can filter and sort the results by defining query parameters.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "ID of a clause",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Query parameters to filter and sort the list of clause obligations",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                        "Name": "Reviewer",
                        "Description": "Team is responsible to review the associated contract",
                        "Action": [
                          "SendforReview"
                        ],
                        "IsActive": true,
                        "CreatedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "CreatedDate": "2026-08-14T00:01:41.6886803Z",
                        "ModifiedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "ModifiedDate": "2026-08-14T00:01:41.6886806Z",
                        "ExternalId": null
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/clauses/{clauseId}/obligations/{obligationId}": {
      "delete": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Delete a clause obligation by ID",
        "description": "Deletes a clause obligation by its ID.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "ID of the clause",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obligationId",
            "in": "path",
            "description": "ID of the obligation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The clause obligation is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Clause obligation not found."
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Get a clause obligation by ID",
        "description": "Fetches a clause obligation by its ID.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "ID of the clause",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obligationId",
            "in": "path",
            "description": "ID of the obligation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the clause obligation details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Id": "c9654dd4-6de8-44ec-9d2d-03088bf3dbfe",
                    "Name": "Test Obligation 1",
                    "ObligationType": "Operational",
                    "Priority": "High",
                    "Description": "Test data",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    }
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Clause obligation not found."
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clause Obligations"
        ],
        "summary": "Update a clause obligation",
        "description": "Updates a clause obligation record.",
        "parameters": [
          {
            "name": "clauseId",
            "in": "path",
            "description": "ID of the clause",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "obligationId",
            "in": "path",
            "description": "ID of the obligation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated clause obligation details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "OBL-0000006",
                "Description": "Obligation Description",
                "ObligationType": "Operational",
                "Priority": "High"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated clause obligation details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Id": "9882f368-1344-4a52-9d02-cc31bad2fff8",
                    "Name": "Test Obligation 1",
                    "ObligationType": "Operational",
                    "Priority": "High",
                    "Description": "Test data",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    }
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/configurations/category/{category}/name/{name}": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "summary": "Get configuration",
        "description": "Fetches CLM configuration settings by category and name. All CLM-related configurations are available in the CLM category.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Category in which the CLM configuration setting resides",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "CLM configuration setting name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns configuration details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "CLM configuration setting is unavailable for the provided category and configuration name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts": {
      "delete": {
        "tags": [
          "Contract"
        ],
        "summary": "Delete contracts",
        "description": "Permanently deletes the contract records of the provided contract IDs from the system.",
        "requestBody": {
          "description": "List of contract IDs to be deleted",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The given contract IDs are deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringResultStatusDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "64608ac0-f8d6-482e-8585-cf7f2cdb0b7b": "Success",
                    "d2fd6dcd-c28c-44ca-9961-b01fc00cbc6a": "Success"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "One or more contract IDs is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Create a contract record",
        "description": "Creates a contract record in CLM. Name and Record Type are the required fields to create a contract. \r\n\r\nCLM auto-populates the system fields, such as Status Category and Status fields, which help identify the current stage of the contract lifecycle.\r\n\r\nThe Status Category and Status fields are set to \"Requested\". The logged-in user is added to the RecordOwner field by default. \r\n\r\nYou can introduce these additional and custom fields to the contract.\r\n* Name \r\n* Account \r\n* RecordType \r\n* RecordOwner \r\n* Status \r\n* StatusCategory \r\n* Id \r\n* CreatedBy \r\n* CreatedDate \r\n* ModifiedBy \r\n* ModifiedDate \r\n* ExternalId \r\n* ActivatedBy \r\n* ActivatedDate \r\n* ContractCategory \r\n* ContractNumber \r\n* AmendmentEffectiveDate \r\n* AutoRenewConsent \r\n* AutoRenewTermMonths \r\n* AutoRenewalTerms \r\n* AutoRenewal \r\n* ContractEndDate \r\n* ContractNumber \r\n* ContractStartDate \r\n* Description \r\n* InitiationType \r\n* InternalRenewalNotificationDays \r\n* InternalRenewalStartDate \r\n* ParentContract \r\n* Perpetual \r\n* PrimaryContact \r\n* Opportunity \r\n* RemainingContractedDays \r\n* RenewalNoticeDate \r\n* RenewalNoticeDays \r\n* RetentionDate \r\n* RetentionPolicyId \r\n* Source \r\n* SpecialTerms \r\n* SubmitRequestMode \r\n* TermMonths \r\n* TerminationComments \r\n* TerminationDate \r\n* TerminationNoticeDays \r\n* TerminationNoticeIssueDate \r\n* TermType \r\n* TotalContractValue \r\n* ExecutedDate \r\n* Currency",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "examples": {
                "Auto Renew": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "TermType": "Auto Renew"
                  }
                },
                "Fixed Term": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "TermType": "Fixed Term"
                  }
                },
                "Perpetual": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "TermType": "Perpetual"
                  }
                },
                "Coterminous": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ParentAgreement": {
                      "Id": "b88r9fgt-a155-69bc-5d99-60c854a1a4a3",
                      "Name": "Parent Agreement"
                    },
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "TermType": "Coterminous"
                  }
                },
                "No Term Type": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Details of the created contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    },
                    "Status": "Request",
                    "StatusCategory": "Request",
                    "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                    "CreatedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "CreatedDate": "2026-08-14T00:01:41.735946Z",
                    "ModifiedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "ModifiedDate": "2026-08-14T00:01:41.7359462Z",
                    "ExternalId": null,
                    "ActivatedBy": null,
                    "ActivatedDate": null,
                    "ContractNumber": "42",
                    "AmendmentEffectiveDate": null,
                    "AutoRenewConsent": null,
                    "AutoRenewTermMonths": null,
                    "AutoRenewalTerms": null,
                    "AutoRenewal": null,
                    "ContractNumberAuto": 42,
                    "Description": null,
                    "InitiationType": null,
                    "InternalRenewalNotificationDays": null,
                    "InternalRenewalStartDate": null,
                    "ParentContract": null,
                    "Perpetual": null,
                    "PrimaryContact": null,
                    "RemainingContractedDays": null,
                    "RenewalNoticeDate": null,
                    "RenewalNoticeDays": null,
                    "RetentionDate": null,
                    "RetentionPolicyId": null,
                    "Source": null,
                    "SpecialTerms": null,
                    "SubmitRequestMode": null,
                    "TerminationComments": null,
                    "TerminationDate": null,
                    "TerminationNoticeDays": null,
                    "TerminationNoticeIssueDate": null,
                    "ExecutedDate": null,
                    "Currency": "USD",
                    "ContractDurationDays": null,
                    "ContractedDays": null
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Required value is missing from the request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/clauses/{contractClauseId}": {
      "get": {
        "tags": [
          "Contract Clause"
        ],
        "summary": "Get contract clause details",
        "description": "Fetches contract clause details based on contract clause ID.",
        "parameters": [
          {
            "name": "contractClauseId",
            "in": "path",
            "description": "ID of a clause available in CLM",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns contract clause details based on the clause ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Id": "51c157c8-a45e-43b0-a5a1-df4cdc72a407",
                      "Name": "Affiliate",
                      "Agreement": "4ae151a8-ba84-4e60-888e-86326c02d0db",
                      "Template": {
                        "Id": "af72e569-9e65-4f97-a7c9-26466c02be51",
                        "Name": "SP test Clause"
                      },
                      "Clause": "Affiliate",
                      "Category": "Default",
                      "Subcategory": "Default",
                      "Text": "Affiliate means, with respect to a party, an entity that is directly or indirectly controlled by or is under common control with such party, where “control” means an ownership, voting or similar interest representing fifty percent (50%) or more of the total interests then outstanding of the relevant entity (but only if such person or entity meets these requirements).",
                      "Comments": "Marked clause 'Property rights'",
                      "MateriallySignificant": false,
                      "CreatedBy": {
                        "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                        "Name": "user"
                      },
                      "CreatedDate": "2026-08-14T00:01:41.7835349Z",
                      "ModifiedBy": {
                        "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                        "Name": "user"
                      },
                      "ModifiedDate": "2026-08-14T00:01:41.7835351Z"
                    }
                  ],
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "The provided clause ID is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/createoffline": {
      "post": {
        "tags": [
          "Contract Documents"
        ],
        "summary": "Create an offline contract document",
        "description": "Creates a new contract record based on an imported third-party contract document and attaches the original document to the new contract.\r\n\r\nOn success, the contract status changes to \"Author Contract\".",
        "requestBody": {
          "description": "File binary data",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentAttributes": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "contract": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              },
              "example": {
                "Name": "Reviewer",
                "Description": "Team is responsible to review the associated contract",
                "Action": [
                  "SendForReview"
                ],
                "IsActive": true
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "documentAttributes": {
                  "style": "form"
                },
                "contract": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created contract document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMetadataAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "The provided contract data or file data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/createoffline/large": {
      "post": {
        "tags": [
          "Contract Documents"
        ],
        "summary": "Creates an offline contract and imports a large document linked to it.",
        "description": "Creates a new contract record based on an imported third-party contract document and attaches the original document to the new contract.\r\n\r\nOn success, the contract status changes to \"Author Contract\".",
        "requestBody": {
          "description": "An object containing document-specific details, including the file name, file path of the large document and contract details required to create the contract.\r\n            to be imported.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created contract document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMetadataAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "The provided contract or file data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/obligations/fulfillments/query": {
      "post": {
        "tags": [
          "Contract Obligations Fulfillment"
        ],
        "summary": "Get all active obligation fulfillments for the Manage Fulfillment listing",
        "description": "Fetches all active obligation fulfillment records excluding Canceled and Superseded status records at database level.\r\n\r\nFor Recurring Obligations (Monthly, Quarterly, Custom):\r\n- Excludes terminal statuses: FulfilledOnTime, FulfilledLate, Waived\r\n- If there are overdue pending fulfillments (DueDate Less Than Today with PendingFulfillment or PendingReview status):\r\n  Shows all overdue pending fulfillments PLUS the next upcoming fulfillment (earliest future DueDate)\r\n- If all pending fulfillments are future (DueDate Greater Than Or Equal Today):\r\n  Shows only the next upcoming (earliest) pending fulfillment\r\n- Prevents showing all future fulfillments - only the immediate next one\r\n\r\nResults are sorted by due date and include contract and obligation details for each fulfillment.",
        "requestBody": {
          "description": "Query parameters for filtering, sorting, and pagination",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the list of active obligation fulfillments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManageFulfillmentResponseQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Id": "a1234567-1234-1234-1234-123456789012",
                        "Name": "Submit Quarterly Report",
                        "FulfillmentNumber": "FOB-001",
                        "ObligationName": null,
                        "ObligationNumber": "OBL-001",
                        "Frequency": "Quarterly",
                        "AgreementObligation": null,
                        "Agreement": null,
                        "ContractName": null,
                        "ObligationType": "Reporting",
                        "Status": "PendingFulfillment",
                        "Assignee": {
                          "Id": "d1234567-1234-1234-1234-123456789012",
                          "Name": "John Smith"
                        },
                        "Reviewer": {
                          "Id": "e1234567-1234-1234-1234-123456789012",
                          "Name": "Jane Doe"
                        },
                        "DueDate": "2024-03-31T00:00:00",
                        "FulfillmentDate": null,
                        "Priority": "High",
                        "ReviewerContact": {
                          "Id": "f1234567-1234-1234-1234-123456789012",
                          "Name": "Alice Johnson"
                        },
                        "AssigneeContact": {
                          "Id": "a1234567-1234-1234-1234-123456789013",
                          "Name": "Bob Williams"
                        },
                        "AssigneeSupplierContact": {
                          "Id": "a1234567-1234-1234-1234-123456789016",
                          "Name": "Supplier Contact"
                        },
                        "ReviewerUserGroup": {
                          "Id": "b1234567-1234-1234-1234-123456789014",
                          "Name": "Legal Review Group"
                        },
                        "AssigneeUserGroup": {
                          "Id": "c1234567-1234-1234-1234-123456789015",
                          "Name": "Compliance Team"
                        },
                        "AssigneeType": "User",
                        "ReviewerType": "User"
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/query": {
      "post": {
        "tags": [
          "Contract"
        ],
        "summary": "Get contract records",
        "description": "Returns contract records matching the query request. Contracts created from contract requests are included in the result only if their contract status is \"Request\". Contracts with an \"In Progress\" or \"Canceled\" contract status are not included in the result.",
        "requestBody": {
          "description": "Query parameters to get contract records",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns contract records that match the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Name": "Contract-Demo",
                        "Account": {
                          "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                          "Name": "Conga"
                        },
                        "RecordType": "MSA",
                        "ContractCategory": "Sales",
                        "TotalContractValue": 2000,
                        "ContractStartDate": "2023-01-01T00:00:00",
                        "ContractEndDate": "2023-12-31T00:00:00",
                        "RecordOwner": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "Bumble Bee",
                          "OwnerType": "User"
                        },
                        "Status": "Request",
                        "StatusCategory": "Request",
                        "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                        "CreatedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "CreatedDate": "2023-01-16T11:59:24",
                        "ModifiedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "ModifiedDate": "2023-01-16T11:59:24",
                        "ExternalId": null,
                        "ActivatedBy": null,
                        "ActivatedDate": null,
                        "ContractNumber": "42",
                        "AmendmentEffectiveDate": null,
                        "AutoRenewConsent": null,
                        "AutoRenewTermMonths": null,
                        "AutoRenewalTerms": null,
                        "AutoRenewal": null,
                        "ContractNumberAuto": 42,
                        "Description": null,
                        "Currency": "USD"
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Provided query is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/storeexecuted": {
      "post": {
        "tags": [
          "Contract Documents"
        ],
        "summary": "Create a contract from an executed contract",
        "description": "Creates a new contract record from the provided executed contract document.\r\n\r\nOn success, the contract status changes to \"Activated\".",
        "requestBody": {
          "description": "File binary data",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "documentAttributes": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "contract": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              },
              "example": {
                "Name": "Reviewer",
                "Description": "Team is responsible to review the associated contract",
                "Action": [
                  "SendForReview"
                ],
                "IsActive": true
              },
              "encoding": {
                "file": {
                  "style": "form"
                },
                "documentAttributes": {
                  "style": "form"
                },
                "contract": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns contract document details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMetadataAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "The provided contract data or file data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/storeexecuted/large": {
      "post": {
        "tags": [
          "Contract Documents"
        ],
        "summary": "Store an executed large document.",
        "description": "Stores an executed large document for the specified contract ID. This operation allows the user to upload or reference \r\na document that is already uploaded to a filestore, and it links the document to the contract.",
        "requestBody": {
          "description": "An object containing document-specific details, including the file name and file path of the large document \r\n            to be stored.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContractLargeDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the newly created contract document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentMetadataAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "The provided contract ID or file data is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/{contractId}": {
      "delete": {
        "tags": [
          "Contract"
        ],
        "summary": "Delete a contract",
        "description": "Permanently deletes the record of the provided contract ID from the system.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of the contract to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contract is deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "The provided contract ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contract"
        ],
        "summary": "Get a contract's details",
        "description": "Fetches contract details of the provided contract ID. The API returns values of all contract fields including any configured custom fields.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Identifier of the contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details of the provided contract ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    },
                    "Status": "Request",
                    "StatusCategory": "Request",
                    "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                    "CreatedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "CreatedDate": "2026-08-14T00:01:41.7510845Z",
                    "ModifiedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "ModifiedDate": "2026-08-14T00:01:41.7510848Z",
                    "ExternalId": null,
                    "ActivatedBy": null,
                    "ActivatedDate": null,
                    "ContractNumber": "42",
                    "AmendmentEffectiveDate": null,
                    "AutoRenewConsent": null,
                    "AutoRenewTermMonths": null,
                    "AutoRenewalTerms": null,
                    "AutoRenewal": null,
                    "ContractNumberAuto": 42,
                    "Description": null,
                    "InitiationType": null,
                    "InternalRenewalNotificationDays": null,
                    "InternalRenewalStartDate": null,
                    "ParentContract": null,
                    "Perpetual": null,
                    "PrimaryContact": null,
                    "RemainingContractedDays": null,
                    "RenewalNoticeDate": null,
                    "RenewalNoticeDays": null,
                    "RetentionDate": null,
                    "RetentionPolicyId": null,
                    "Source": null,
                    "SpecialTerms": null,
                    "SubmitRequestMode": null,
                    "TerminationComments": null,
                    "TerminationDate": null,
                    "TerminationNoticeDays": null,
                    "TerminationNoticeIssueDate": null,
                    "ExecutedDate": null,
                    "Currency": "USD",
                    "ContractDurationDays": null,
                    "ContractedDays": null
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Provided contract ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contract"
        ],
        "summary": "Update a contract record",
        "description": "Updates a contract record in CLM. The Name and Record Type fields are required update a contract.\r\n\r\nYou can also update the contract with these additional and custom fields. \r\n\r\n* Name\r\n* Account\r\n* RecordType\r\n* RecordOwner\r\n* Status\r\n* StatusCategory\r\n* Id\r\n* CreatedBy\r\n* CreatedDate\r\n* ModifiedBy\r\n* ModifiedDate\r\n* ExternalId\r\n\r\n* ActivatedBy\r\n* ActivatedDate\r\n* ContractCategory\r\n* ContractNumber\r\n* AmendmentEffectiveDate\r\n* AutoRenewConsent\r\n* AutoRenewTermMonths\r\n* AutoRenewalTerms\r\n* AutoRenewal\r\n* ContractEndDate\r\n* ContractNumber\r\n* ContractStartDate\r\n* Description\r\n* InitiationType\r\n* InternalRenewalNotificationDays\r\n* InternalRenewalStartDate\r\n* ParentContract\r\n* Perpetual\r\n* PrimaryContact\r\n* Opportunity\r\n* RemainingContractedDays\r\n* RenewalNoticeDate\r\n* RenewalNoticeDays\r\n* RetentionDate\r\n* RetentionPolicyId\r\n* Source\r\n* SpecialTerms\r\n* SubmitRequestMode\r\n* TermMonths\r\n* TerminationComments\r\n* TerminationDate\r\n* TerminationNoticeDays\r\n* TerminationNoticeIssueDate\r\n* TermType\r\n* TotalContractValue\r\n* ExecutedDate\r\n* Currency",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of the contract to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "examples": {
                "Auto Renew": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "TermType": "Auto Renew"
                  }
                },
                "Fixed Term": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "TermType": "Fixed Term"
                  }
                },
                "Perpetual": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "TermType": "Perpetual"
                  }
                },
                "Coterminous": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ParentAgreement": {
                      "Id": "b88r9fgt-a155-69bc-5d99-60c854a1a4a3",
                      "Name": "Parent Agreement"
                    },
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "TermType": "Coterminous"
                  }
                },
                "No Term Type": {
                  "value": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns updated contract details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Contract-Demo",
                    "Account": {
                      "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                      "Name": "Conga"
                    },
                    "RecordType": "MSA",
                    "ContractCategory": "Sales",
                    "TotalContractValue": 2000,
                    "ContractStartDate": "2023-01-01T00:00:00",
                    "ContractEndDate": "2023-12-31T00:00:00",
                    "RecordOwner": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "Bumble Bee",
                      "OwnerType": "User"
                    },
                    "Status": "Request",
                    "StatusCategory": "Request",
                    "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                    "CreatedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "CreatedDate": "2026-08-14T00:01:41.747207Z",
                    "ModifiedBy": {
                      "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                      "Name": "user"
                    },
                    "ModifiedDate": "2026-08-14T00:01:41.7472071Z",
                    "ExternalId": null,
                    "ActivatedBy": null,
                    "ActivatedDate": null,
                    "ContractNumber": "42",
                    "AmendmentEffectiveDate": null,
                    "AutoRenewConsent": null,
                    "AutoRenewTermMonths": null,
                    "AutoRenewalTerms": null,
                    "AutoRenewal": null,
                    "ContractNumberAuto": 42,
                    "Description": null,
                    "InitiationType": null,
                    "InternalRenewalNotificationDays": null,
                    "InternalRenewalStartDate": null,
                    "ParentContract": null,
                    "Perpetual": null,
                    "PrimaryContact": null,
                    "RemainingContractedDays": null,
                    "RenewalNoticeDate": null,
                    "RenewalNoticeDays": null,
                    "RetentionDate": null,
                    "RetentionPolicyId": null,
                    "Source": null,
                    "SpecialTerms": null,
                    "SubmitRequestMode": null,
                    "TerminationComments": null,
                    "TerminationDate": null,
                    "TerminationNoticeDays": null,
                    "TerminationNoticeIssueDate": null,
                    "ExecutedDate": null,
                    "Currency": "USD",
                    "ContractDurationDays": null,
                    "ContractedDays": null
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Provided contract ID is not valid or required values are not provided in the request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/{contractId}/activate": {
      "post": {
        "tags": [
          "Contract Lifecycle"
        ],
        "summary": "Activate a contract",
        "description": "Activates a contract or brings it into effect after it has been finalized and signed by stakeholders.\r\nActivating a contract ensures that key dates and events are monitored by the system and that all in-effect contracts are included in appropriate searches and views.\r\nTo activate a contract, the contract status must be fully signed, and the contract's Contract Start Date and Contract End Date fields must have valid dates.\r\n\r\nActivation changes the contract's status changes to Activated. The Activated By field is updated to the current user and the  Activated Date field is updated to the current date.\r\n\r\nAdditionally, this operation deletes any documents that were not selected at the time of activation.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract ID of the contract to be activated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of document IDs selected at the time of activation",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contract is activated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "Success",
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "The contract ID is invalid or the contract is in an invalid state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/{contractId}/activityhistory/query": {
      "post": {
        "tags": [
          "ActivityHistory"
        ],
        "summary": "Get activity history records",
        "description": "Fetches activity history records.",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of a contract",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Query parameters to get the activity history records",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomQuery"
              },
              "example": {
                "Distinct": false,
                "Fields": null,
                "GroupBy": null,
                "IncludeTotalCount": true,
                "SortInfo": {
                  "FieldName": "ContractType",
                  "Direction": "Ascending"
                },
                "CriteriaExpression": null,
                "Limit": 10,
                "Skip": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns activity history records that match the query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryQueryResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "RecordCount": 1,
                    "Data": [
                      {
                        "Name": "Contract-Demo",
                        "Account": {
                          "Id": "0474fc7a-5914-4059-a412-e88afb581b7a",
                          "Name": "Conga"
                        },
                        "RecordType": "MSA",
                        "ContractCategory": "Sales",
                        "TotalContractValue": 2000,
                        "ContractStartDate": "2023-01-01T00:00:00",
                        "ContractEndDate": "2023-12-31T00:00:00",
                        "RecordOwner": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "Bumble Bee",
                          "OwnerType": "User"
                        },
                        "Status": "Request",
                        "StatusCategory": "Request",
                        "Id": "0c4dadb2-a7ee-4672-bfa3-3c9ee2ac85d1",
                        "CreatedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "CreatedDate": "2023-01-16T11:59:24",
                        "ModifiedBy": {
                          "Id": "d717a075-9cbf-480c-b230-837e0e6dee75",
                          "Name": "user"
                        },
                        "ModifiedDate": "2023-01-16T11:59:24",
                        "ExternalId": null,
                        "ActivatedBy": null,
                        "ActivatedDate": null,
                        "ContractNumber": "42",
                        "AmendmentEffectiveDate": null,
                        "AutoRenewConsent": null,
                        "AutoRenewTermMonths": null,
                        "AutoRenewalTerms": null,
                        "AutoRenewal": null,
                        "ContractNumberAuto": 42,
                        "Description": null,
                        "Currency": "USD"
                      }
                    ],
                    "NextCursor": null,
                    "StatusCode": "OK"
                  },
                  "Warnings": null,
                  "Errors": null
                }
              }
            }
          },
          "400": {
            "description": "Provided query is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Error Message"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIResponseError"
                },
                "example": {
                  "Success": false,
                  "Data": null,
                  "Warnings": null,
                  "Errors": [
                    {
                      "Id": null,
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/clm/v1/contracts/{contractId}/amend": {
      "post": {
        "tags": [
          "Contract Lifecycle"
        ],
        "summary": "Amend a contract",
        "description": "Amends a contract. During the term of a contract, there may be a need to modify its language or terms. This API creates a new version of the contract record after amendment. The new, amended record shares the same base contract number as the original, but with an incremented decimal, and all data from the original version is copied to the new version.\r\n\r\nTo amend a contract, the contract's status must be Activated, Superseded, or Being Terminated.\r\n\r\nOn amendment (success), the status of the original contract changes to \"Being Amended\".",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "Contract ID of the contract to be amended",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns contract ID of the newly created contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "640d07f2-e6b3-4793-bc18-96df910d97b8",
                  "Warnings": null,
[...]
