{
  "openapi": "3.0.1",
  "info": {
    "title": "Configuration Management",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/config-management/v1/configurations": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Add a configuration",
        "description": "Creates a new configuration and returns the request status.",
        "requestBody": {
          "description": "Configuration data to be added.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Configuration"
        ],
        "summary": "Update a configuration",
        "description": "Updates a configuration and returns the request status.",
        "requestBody": {
          "description": "Configuration data to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/config-management/v1/configurations/categories": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get configuration categories",
        "description": "Fetches all configuration categories.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/config-management/v1/configurations/export": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Export custom configuration",
        "description": "For the configuration categories passed in the request body, exports the custom configuration (zipped, with a JSON file for each configuration category).",
        "requestBody": {
          "description": "List of category names to categorize multiple configurations. **For example**: CLM, eSign, etc.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/config-management/v1/configurations/import": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Import custom configuration",
        "description": "Imports custom configuration. For duplicate configuration, the API throws an error. <p>**Note**: Upload a Zip file containg list of configurations.</p>",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/config-management/v1/configurations/{category}": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get configurations by category",
        "description": "Fetches all configurations that are part of the input category.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Configuration category **For example**: CLM, eSign, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Category": "examplecategory",
                      "Name": "example1",
                      "Value": "examplevalue1"
                    },
                    {
                      "Category": "examplecategory",
                      "Name": "example2",
                      "Value": "examplevalue2"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get multiple configurations",
        "description": "When you pass a category and list of configuration names to this endpoint, it returns configuration details.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "A category name to categorize multiple configurations. **For example**: CLM, eSign, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of configuration names.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Category": "examplecategory",
                    "Name": "example1",
                    "Value": "examplevalue1"
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/config-management/v1/configurations/{category}/{name}": {
      "delete": {
        "tags": [
          "Configuration"
        ],
        "summary": "Delete a configuration",
        "description": "Deletes a configuration and returns the status of request.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Configuration category **For example**: CLM, eSign, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Configuration name. **For example**: config",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get a configuration",
        "description": "When you pass a valid name and category to this endpoint, it returns configuration details.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Configuration category **For example**: CLM, eSign, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "Configuration name. **For example**: config",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Category": "examplecategory",
                    "Name": "example1",
                    "Value": "examplevalue1"
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "OrganizationFriendlyId is not defined."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BooleanNullableAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "boolean",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Configuration": {
        "type": "object",
        "properties": {
          "Category": {
            "type": "string",
            "description": "A category name to categorize multiple configurations. **For example**: CLM, eSign etc.",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "description": "Configuration name. **For example**: config",
            "nullable": true
          },
          "Value": {
            "type": "string",
            "description": "Configuration value.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Configuration data to be added."
      },
      "ConfigurationAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/Configuration"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ConfigurationListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Configuration"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HttpStatusCode": {
        "enum": [
          "Continue",
          "SwitchingProtocols",
          "Processing",
          "EarlyHints",
          "OK",
          "Created",
          "Accepted",
          "NonAuthoritativeInformation",
          "NoContent",
          "ResetContent",
          "PartialContent",
          "MultiStatus",
          "AlreadyReported",
          "IMUsed",
          "MultipleChoices",
          "MovedPermanently",
          "Found",
          "SeeOther",
          "NotModified",
          "UseProxy",
          "Unused",
          "TemporaryRedirect",
          "PermanentRedirect",
          "BadRequest",
          "Unauthorized",
          "PaymentRequired",
          "Forbidden",
          "NotFound",
          "MethodNotAllowed",
          "NotAcceptable",
          "ProxyAuthenticationRequired",
          "RequestTimeout",
          "Conflict",
          "Gone",
          "LengthRequired",
          "PreconditionFailed",
          "RequestEntityTooLarge",
          "RequestUriTooLong",
          "UnsupportedMediaType",
          "RequestedRangeNotSatisfiable",
          "ExpectationFailed",
          "MisdirectedRequest",
          "UnprocessableEntity",
          "Locked",
          "FailedDependency",
          "UpgradeRequired",
          "PreconditionRequired",
          "TooManyRequests",
          "RequestHeaderFieldsTooLarge",
          "UnavailableForLegalReasons",
          "InternalServerError",
          "NotImplemented",
          "BadGateway",
          "ServiceUnavailable",
          "GatewayTimeout",
          "HttpVersionNotSupported",
          "VariantAlsoNegotiates",
          "InsufficientStorage",
          "LoopDetected",
          "NotExtended",
          "NetworkAuthenticationRequired"
        ],
        "type": "string"
      },
      "StringAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "string",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StringListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Configuration"
    }
  ]
}
