{
  "openapi": "3.0.1",
  "info": {
    "title": "User Management",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/user-management/v1/actionpermissions": {
      "get": {
        "tags": [
          "Action Permissions"
        ],
        "summary": "Get the master list of all action permissions",
        "description": "Retrieves the master list of action permissions from the data storage.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPermissionsGroupAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ActionPermissionsList": [
                      {
                        "DisplayName": "Action Permission",
                        "Value": "ACTION_PERMISSION",
                        "IsProtectedPermission": false,
                        "Id": null,
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "ExternalId": null,
                        "ETag": null
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/admin-permissions": {
      "get": {
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Get the master list of admin permissions",
        "description": "Returns the master list of admin permissions from the data storage.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPermissionsAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "AdminPermissionsList": [
                      {
                        "Value": "SchemaManager",
                        "DisplayName": "Schema Manager",
                        "Description": "Manage schema definition"
                      },
                      {
                        "Value": "Templates",
                        "DisplayName": "Templates",
                        "Description": "Manage Email Templates"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/api-connections": {
      "get": {
        "tags": [
          "API Connections"
        ],
        "summary": "Get all API connections",
        "description": "Retrieves all API connections.",
        "parameters": [
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: APIType.<p>**Note**: The sort field (in this case, APIType) should be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC<p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIConnectionResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "APIType": "API to API",
                      "ClientId": "SampleClientId",
                      "ClientName": "ClientA",
                      "Description": "ClientA Description",
                      "ExternalIdentifier": "ABCDEFGHI123456789",
                      "CorsOrigins": [],
                      "BackChannelLogoutURI": "",
                      "FrontChannelLogoutURI": "",
                      "RedirectURI": [],
                      "ClientSecret": "",
                      "IsActive": false,
                      "AllowedScopes": []
                    },
                    {
                      "APIType": "API to API",
                      "ClientId": "SampleClientId",
                      "ClientName": "ClientA",
                      "Description": "ClientA Description",
                      "ExternalIdentifier": "ABCDEFGHI123456789",
                      "CorsOrigins": [
                        "http://localhost:3000"
                      ],
                      "BackChannelLogoutURI": "",
                      "FrontChannelLogoutURI": "",
                      "RedirectURI": [
                        "https://www.sampleabc.com/"
                      ],
                      "ClientSecret": "",
                      "IsActive": true,
                      "AllowedScopes": []
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/api-connections/{externalIdentifier}": {
      "get": {
        "tags": [
          "API Connections"
        ],
        "summary": "Get API connections",
        "description": "Retrieves API connections based on the API connection type selected.",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "External identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiConnectionType",
            "in": "query",
            "description": "API connection type",
            "schema": {
              "$ref": "#/components/schemas/APIConnectionType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIConnectionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "APIType": "API to API",
                    "ClientId": "000000000000-000000000000.apps.googleusercontent.com",
                    "ClientName": "ClientA",
                    "Description": "ClientA Description",
                    "IsActive": true,
                    "ExternalIdentifier": "ABCDEFGHI123456789",
                    "CorsOrigins": null,
                    "BackChannelLogoutURI": null,
                    "FrontChannelLogoutURI": null,
                    "RedirectURI": null,
                    "ClientSecret": null,
                    "AllowedScopes": null,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "API Connections"
        ],
        "summary": "Add API connection",
        "description": "Adds API connection.",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "External identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiConnectionType",
            "in": "query",
            "description": "API connection type",
            "schema": {
              "$ref": "#/components/schemas/APIConnectionType"
            }
          }
        ],
        "requestBody": {
          "description": "Input for creating an API connection.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIConnectionResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "API Connections"
        ],
        "summary": "Update API connection",
        "description": "Updates API connection.",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "External identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiConnectionType",
            "in": "query",
            "description": "API connection type",
            "schema": {
              "$ref": "#/components/schemas/APIConnectionType"
            }
          }
        ],
        "requestBody": {
          "description": "Input for updating an API connection.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/APIConnectionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIConnectionResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/api-connections/{externalIdentifier}/status": {
      "put": {
        "tags": [
          "API Connections"
        ],
        "summary": "Update API connection status",
        "description": "Updates the status of the API connection.",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "External identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiConnectionType",
            "in": "query",
            "description": "API connection type",
            "schema": {
              "$ref": "#/components/schemas/APIConnectionType"
            }
          }
        ],
        "requestBody": {
          "description": "Input for updating the API connection status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAPIConnectionStatusRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAPIConnectionStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAPIConnectionStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/contact-users": {
      "post": {
        "tags": [
          "Contact Users"
        ],
        "summary": "Creates a contact user and creates a mapping between the user and the contact object.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "UserId": "478f03ef-7f8c-4f27-9a88-ba2e9190b1e5",
                    "UserContactMappingId": "00656b6d-f8f3-49a3-baf3-c2c1a288112c"
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/contact-users/{userId}": {
      "delete": {
        "tags": [
          "Contact Users"
        ],
        "summary": "Deactivate a contact user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "User InActivate request has been processed. Kindly review identity status of user.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Contact Users"
        ],
        "summary": "Update a contact user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserBaseRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserBaseRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUserBaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/contact-users/{userId}/restore": {
      "put": {
        "tags": [
          "Contact Users"
        ],
        "summary": "Reactivate a previously deactivated contact user.",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "User Activate request has been processed. Kindly review identity status of user.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/currency-formats": {
      "get": {
        "tags": [
          "Currency Format"
        ],
        "summary": "Get all currency formats",
        "description": "Retrieves all currency formats based on the provided format type.",
        "parameters": [
          {
            "name": "formatType",
            "in": "query",
            "description": "Enter `PositiveCurrencyFormat` or `NegativeCurrencyFormat`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PositiveCurrencyFormatAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "CurrencyFormatList": [
                      {
                        "DisplayValue": "$n",
                        "Value": "$n"
                      },
                      {
                        "DisplayValue": "n $",
                        "Value": "n $"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/decimal-symbols": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all decimal symbols from locales",
        "description": "Retrieves all decimal symbols from locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecimalSymbolsAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "DecimalSymbolsList": [
                      {
                        "DisplayValue": ".",
                        "Value": "."
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/digitgrouping-symbols": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all digit grouping symbols from locales",
        "description": "Retrieves all digit grouping symbols from locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigitGroupingSymbolAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "DigitGroupingSymbols": [
                      {
                        "DisplayValue": ",",
                        "Value": ","
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/digitgroups": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all digit groups from locales",
        "description": "Retrieves all digit groups from locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigitGroupAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "DigitGroupList": [
                      {
                        "DisplayValue": "123,456,789.00",
                        "Value": "123,456,789.00"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/field-permissions": {
      "delete": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Delete a field permission by permission group and object",
        "description": "Deletes a field permission from the given permission group and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "query",
            "description": "Object name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionGroupName",
            "in": "query",
            "description": "Permission group name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "c898c355-6b18-45f9-a836-45279e3d7a9b deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Get the field permission details by object and permission group name",
        "description": "Fetches the field permission details for the given object and permission group name.",
        "parameters": [
          {
            "name": "objectName",
            "in": "query",
            "description": "Object name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissionGroupName",
            "in": "query",
            "description": "Permission group name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accessType",
            "in": "query",
            "description": "Type of access",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObject",
                    "PermissionGroupName": "ViewAllPermissionGroup",
                    "Id": "b92d92a5-99d0-4de8-8599-bfe47a5408a4",
                    "FieldLevelAccess": {
                      "Id": {
                        "ReadAccess": true,
                        "WriteAccess": false
                      },
                      "SampleField": {
                        "ReadAccess": true,
                        "WriteAccess": true
                      },
                      "ExternalId": {
                        "ReadAccess": true,
                        "WriteAccess": false
                      }
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Set field permissions",
        "description": "Sets field permissions and returns a unique identifier (ID).",
        "requestBody": {
          "description": "Field permission model data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "ea7d5061-219a-49c9-948c-9dacc5fad4f1",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Update a field permission for a given permission group and object",
        "description": "Updates a field permission for a given permission group and object, and returns the updated field permission details.",
        "requestBody": {
          "description": "Updated model data for the field permission",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldPermissionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "FieldLevelAccess": "{\"Account\":{\"ReadAccess\":true,\"WriteAccess\":true},\"ActivatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false},\"ActivatedDate\":{\"ReadAccess\":false,\"WriteAccess\":true},\"Id\":{\"ReadAccess\":true,\"WriteAccess\":false},\"CreatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false}}",
                    "Id": "24716990-7502-4ead-b175-b878f91f9a61",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "45b58395-0e52-4da5-8ab3-a65d1535397a",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:35.9555663+00:00",
                    "ModifiedBy": {
                      "Id": "97919eac-5af3-4dab-9241-dac06c79f292",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:35.955575+00:00",
                    "ExternalId": "6dea6932-bbc3-4796-aa79-3f7a29797f63",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/field-permissions/bulk": {
      "post": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Set multiple field permissions",
        "description": "Sets multiple field permissions and returns their respective unique identifiers (ID).",
        "requestBody": {
          "description": "Field permission model data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldPermissionCreateRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldPermissionCreateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FieldPermissionCreateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "8bd45e98-4081-4680-95b7-62ca9cb8a97f",
                    "ad9ec466-9d9c-4602-92b3-878f5aba3879"
                  ],
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/field-permissions/{fieldPermissionId}": {
      "delete": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Delete a field permission by ID",
        "description": "Deletes a field permission for the given field permission ID.",
        "parameters": [
          {
            "name": "fieldPermissionId",
            "in": "path",
            "description": "Field permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "fc4be84c-ea66-4c3f-b579-67acb39ebfce deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Get the field permission details by ID",
        "description": "Fetches the field permission details based on the field permission ID.",
        "parameters": [
          {
            "name": "fieldPermissionId",
            "in": "path",
            "description": "Field permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldPermissionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "FieldLevelAccess": "{\"Account\":{\"ReadAccess\":true,\"WriteAccess\":true},\"ActivatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false},\"ActivatedDate\":{\"ReadAccess\":false,\"WriteAccess\":true},\"Id\":{\"ReadAccess\":true,\"WriteAccess\":false},\"CreatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false}}",
                    "Id": "5c3681d2-5672-4ee3-a299-ff7ff816ce68",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "7964eb7c-f01e-4df8-a927-15926e15b31d",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:35.9718361+00:00",
                    "ModifiedBy": {
                      "Id": "50a08d66-6427-4e3e-8ff4-897a45456677",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:35.9718433+00:00",
                    "ExternalId": "bb2c656c-f83a-4140-85a3-abf7cf112a8b",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Field Permission"
        ],
        "summary": "Update a field permission",
        "description": "Updates a field permission and returns the updated field permission details.",
        "parameters": [
          {
            "name": "fieldPermissionId",
            "in": "path",
            "description": "Field permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated model data for the field permission",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateByIdRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateByIdRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldPermissionUpdateByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldPermissionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "FieldLevelAccess": "{\"Account\":{\"ReadAccess\":true,\"WriteAccess\":true},\"ActivatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false},\"ActivatedDate\":{\"ReadAccess\":false,\"WriteAccess\":true},\"Id\":{\"ReadAccess\":true,\"WriteAccess\":false},\"CreatedBy\":{\"ReadAccess\":true,\"WriteAccess\":false}}",
                    "Id": "98d42c2b-396f-47bc-b924-df289016d5cd",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "96da70d9-a031-41ec-b6b5-dce5afc1579b",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:35.9780738+00:00",
                    "ModifiedBy": {
                      "Id": "83c7defa-dffd-45ee-9057-291b0d936b3a",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:35.9780812+00:00",
                    "ExternalId": "d1ae4429-6506-43f0-b336-1df07b42d892",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/grantlogin": {
      "get": {
        "tags": [
          "Grant Login"
        ],
        "summary": "Get all Grant Login Requests",
        "description": "Returns all grant logins that meet the criteria.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the grant login.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "UserId": "6aef19a8-dc6b-40d2-b0ea-d4593c9a6422",
                      "UserName": null,
                      "AccessDuration": "1 Day",
                      "ExpiresOn": "2026-07-28T11:07:36.6266664+00:00",
                      "Status": "OPEN",
                      "IsCancelled": false,
                      "CaseId": "c329da22-adee-42b3-8c52-706b81703ad5",
                      "Notes": "Sample request",
                      "Id": "e62c818b-ef51-4827-9ebb-efa0c6382b34",
                      "Name": "GrantLogin",
                      "CreatedBy": {
                        "Id": "37d1487e-d097-4591-aa00-d656e8484ad4",
                        "Name": "System Admin"
                      },
                      "CreatedDate": "2026-07-27T11:07:36.6266788+00:00",
                      "ModifiedBy": {
                        "Id": "e47da62c-6702-4d42-8598-2e53ce886d32",
                        "Name": "System Admin"
                      },
                      "ModifiedDate": "2026-07-27T11:07:36.6266864+00:00",
                      "ExternalId": "0363b86b-0a0c-4637-872d-68da5e0097b2",
                      "ETag": null
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Grant Login"
        ],
        "summary": "Create a Grant Login Request",
        "description": "Creates a Grant Login Request and returns its unique identifier (ID).",
        "requestBody": {
          "description": "Grant Login Request model data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantLoginCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantLoginCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GrantLoginCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "1dedf38d-afae-4987-9766-f36289062ba4",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/grantlogin/durations": {
      "get": {
        "tags": [
          "Grant Login"
        ],
        "summary": "Get Access durations",
        "description": "Retrieves all Access Durations available.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessDurationListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "DisplayValue": "1 Day",
                      "Value": 1,
                      "ExpirationDate": "8/11/2024"
                    },
                    {
                      "DisplayValue": "3 Days",
                      "Value": 3,
                      "ExpirationDate": "11/11/2024"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/grantlogin/{grantLoginId}": {
      "get": {
        "tags": [
          "Grant Login"
        ],
        "summary": "Get the grant login details by ID",
        "description": "Fetches the grant login details based on the grant login ID.",
        "parameters": [
          {
            "name": "grantLoginId",
            "in": "path",
            "description": "Grant Login ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantLoginDetailsAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "UserId": "8a8d7465-5344-4214-bb88-b45f14d59cc1",
                    "UserName": null,
                    "AccessDuration": "1 Day",
                    "ExpiresOn": "2026-07-28T11:07:36.6675675+00:00",
                    "Status": "OPEN",
                    "IsCancelled": false,
                    "CaseId": "742ea2b6-2ab8-4352-a2d2-a9f1feb8d093",
                    "Notes": "Sample request",
                    "Id": "ebe6e983-f767-427b-9c04-f385acf68dba",
                    "Name": "GrantLogin",
                    "CreatedBy": {
                      "Id": "1f52fc01-8234-495a-b13b-7ea4bfdf9570",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:36.6675796+00:00",
                    "ModifiedBy": {
                      "Id": "285eaca5-e376-4ba7-b84f-599885d24f50",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:36.6675874+00:00",
                    "ExternalId": "d3ec31cb-b971-48a0-9af9-6754204da017",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Grant Login"
        ],
        "summary": "Cancel Grant Login Request",
        "description": "Cancels the Grant Login Request and returns status.",
        "parameters": [
          {
            "name": "grantLoginId",
            "in": "path",
            "description": "Grant Login ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantLoginDetailsAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "UserId": "4a14786f-51a1-48e1-ac69-c335e626b9c3",
                    "UserName": null,
                    "AccessDuration": "3 Days",
                    "ExpiresOn": "2026-07-30T11:07:36.6635577+00:00",
                    "Status": "CANCELLED",
                    "IsCancelled": true,
                    "CaseId": "89860049-6f07-46ed-b8c5-b1e8cb6b3c2d",
                    "Notes": "Sample request",
                    "Id": "d88fd662-9efe-4e0a-8bf2-115062bb7f17",
                    "Name": "GrantLogin",
                    "CreatedBy": {
                      "Id": "1cecc347-a2a1-4108-832c-43b476fb3d83",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:36.6635735+00:00",
                    "ModifiedBy": {
                      "Id": "863c136f-00eb-41ea-a194-496e01ea2520",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:36.6635811+00:00",
                    "ExternalId": "5cdee7cf-6ab2-44a7-ae11-b64e55e6b173",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "User Activate request has been processed. Kindly review identity status of user.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/integrations": {
      "delete": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Delete external identifiers",
        "description": "Deletes external identifiers.",
        "requestBody": {
          "description": "Unique record IDs of external system",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Get a list of external integration identifiers",
        "description": "Returns all external integration identifiers that meet the specified criteria, with support for sorting and pagination.",
        "parameters": [
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. For example: Type.<p>**Note:** The sort field (in this case, Type) must be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ascending or descending) of the data. For example: ASC or DESC<p>**Note:** If the sort field parameter is specified, the default sort order is DESC.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to return. Default value: 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Add an external identifier",
        "description": "Add an organization's external integration identifier.",
        "parameters": [
          {
            "name": "ExternalId",
            "in": "query",
            "description": "Unique record identifiers from the external system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Type of the external system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Description",
            "in": "query",
            "description": "Description of the external integration identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Provider",
            "in": "query",
            "description": "Identity provider of external integration",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefaultIdp",
            "in": "query",
            "description": "Set the default identity provider",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SAMLMetadataLocationURL",
            "in": "query",
            "description": "The SAML IDP's metadata information location(URL). For more information on how to get the URL, click [here.](https://documentation.conga.com/congaplatform/latest/getting-saml-identity-provider-settings-235406458.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SAMLExternalOrgIdClaimType",
            "in": "query",
            "description": "The SAML IDP's external org ID claim type. For more information on how to get this, click [here.](https://documentation.conga.com/congaplatform/latest/getting-saml-identity-provider-settings-235406458.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmailDomain",
            "in": "query",
            "description": "Email domain of the external integration identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DisplayName",
            "in": "query",
            "description": "SAML provider Display Name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLMetadataFile": {
                    "type": "string",
                    "description": "SAML Metadata File",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "SAMLMetadataFile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Update external identifiers",
        "description": "Updates an organization's external integration identifiers.",
        "requestBody": {
          "description": "Details about external integration identifiers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/integrations/identity-providers": {
      "get": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Get all identity providers (IdPs)",
        "description": "Retrieves all identity providers.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IDPMasterListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Salesforce",
                      "ACRName": "idp:Salesforce"
                    },
                    {
                      "Name": "Salesforce Sandbox",
                      "ACRName": "idp:SalesforceSandbox"
                    },
                    {
                      "Name": "Microsoft",
                      "ACRName": "idp:Microsoft"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/integrations/{externalIntegrationId}": {
      "delete": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Remove external identifiers",
        "description": "Updates an organization's external integration and removes external identifiers.",
        "parameters": [
          {
            "name": "externalIntegrationId",
            "in": "path",
            "description": "Organization ID is the external integration ID. It is onboarded as \"OrganizationID\" from the organization's demographics.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Unique record IDs of external system",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Get external identifiers",
        "description": "Returns the external identifiers of an external integration.",
        "parameters": [
          {
            "name": "externalIntegrationId",
            "in": "path",
            "description": "Organization ID is the external integration ID. It is onboarded as \"OrganizationID\" from the organization's demographics.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. For example: Type.<p>**Note:** The sort field (in this case, Type) must be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ascending or descending) of the data. For example: ASC or DESC<p>**Note:** If the sort field parameter is specified, the default sort order is DESC.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to return. Default value: 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Add external identifiers",
        "description": "Add an organization's external integration identifiers.",
        "parameters": [
          {
            "name": "externalIntegrationId",
            "in": "path",
            "description": "Organization ID is the external integration ID. It is onboarded as \"OrganizationID\" from the organization's demographics.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details about external organization",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Update external identifiers",
        "description": "Updates an organization's external integration identifiers.",
        "parameters": [
          {
            "name": "externalIntegrationId",
            "in": "path",
            "description": "Organization ID is the external integration ID. It is onboarded as \"OrganizationID\" from the organization's demographics.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details about external integration identifiers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationExternalIntegrationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/integrations/{id}": {
      "patch": {
        "tags": [
          "Organization External Integration"
        ],
        "summary": "Update an external integration identifier",
        "description": "Updates an organization's external integration identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "External integration ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExternalId",
            "in": "query",
            "description": "Unique record identifiers from the external system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Type",
            "in": "query",
            "description": "Type of the external system",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Description",
            "in": "query",
            "description": "Description of the external integration identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Provider",
            "in": "query",
            "description": "Identity provider of external integration",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DefaultIdp",
            "in": "query",
            "description": "Set the default identity provider",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SAMLMetadataLocationURL",
            "in": "query",
            "description": "The SAML IDP's metadata information location(URL). For more information on how to get the URL, click [here.](https://documentation.conga.com/congaplatform/latest/getting-saml-identity-provider-settings-235406458.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SAMLExternalOrgIdClaimType",
            "in": "query",
            "description": "The SAML IDP's external org ID claim type. For more information on how to get this, click [here.](https://documentation.conga.com/congaplatform/latest/getting-saml-identity-provider-settings-235406458.html)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmailDomain",
            "in": "query",
            "description": "Email domain of the external integration identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DisplayName",
            "in": "query",
            "description": "SAML provider Display Name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLMetadataFile": {
                    "type": "string",
                    "description": "SAML Metadata File",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "SAMLMetadataFile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/locales": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all locales",
        "description": "Retrieves all locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocaleResponseListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "es-ES",
                      "DisplayName": "Spanish (Spain)"
                    },
                    {
                      "Name": "de-DE",
                      "DisplayName": "German (Germany)"
                    },
                    {
                      "Name": "fr-FR",
                      "DisplayName": "French (France)"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/user-management/v1/longdate-formats": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all long date formats from locales",
        "description": "Retrieves all long date formats from locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LongDateFormatAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "LongDateFormatList": [
                      {
                        "DisplayValue": "dddd, MMMM dd, yyyy",
                        "Value": "dddd, MMMM dd, yyyy"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/negativenumber-formats": {
      "get": {
        "tags": [
          "Timezone and Locale"
        ],
        "summary": "Get all negative number formats from locales",
        "description": "Retrieves all negative number formats from locales.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NegativeNumberFormatAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "NegativeNumberFormatList": [
                      {
                        "DisplayValue": "-n",
                        "Value": "-n"
                      }
                    ]
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions": {
      "get": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Get all object permissions",
        "description": "Returns all object permissions that meet the criteria.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the object permissions. **For example**: IsActive = 'true'.<p>**Note**: The criteria field (in this case, IsDeleted) should be indexed.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: ObjectName.<p>**Note**: The sort field (in this case, ObjectName) should be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC<p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page. Default page size is 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Create a new object permission",
        "description": "Creates a new object permission and returns the object permission's ID.",
        "requestBody": {
          "description": "Object permission model data to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "99d39a44-53ef-4f8d-b56e-ae188a0eb8d9",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions/bulk": {
      "delete": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Delete multiple object permission records",
        "description": "Removes multiple object permission records and returns a list of the deleted object permission's IDs as well as error messages for invalid records.",
        "requestBody": {
          "description": "Multiple object permission IDs to be deleted",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Create multiple object permissions",
        "description": "Creates multiple object permissions and returns their IDs.",
        "requestBody": {
          "description": "Object permissions model data to be created",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ObjectPermissionCreateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "d7e20470-6d6c-41e5-9035-4ce9b48d27d9",
                    "d9bd7ebb-757c-4eb1-8886-ab32cb374c0c"
                  ],
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions/objects": {
      "get": {
        "tags": [
          "Object Permission"
        ],
        "summary": "List all object names for object permissions",
        "description": "Fetches and lists all objects for object permissions and returns `OK` when the request is executed.",
        "parameters": [
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ascending or descending) of the data in sortField.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startsWithFilter",
            "in": "query",
            "description": "Filter to fetch only names starting with this string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInfoListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions/objects/{objectName}": {
      "get": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Get object permission details by object name",
        "description": "Fetches the object permission details for the provided object name.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Object name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectPermissionListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "ViewAll": true,
                    "ModifyAll": false,
                    "ActionPermissions": "{\"CREATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"UPDATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"DELETE\":{\"Standard\":true,\"Enabled\":false,\"Criteria\":\"\"},\"READ\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"}}",
                    "ScopePermissions": "{\"GLOBAL\":\"\",\"USER\":[],\"ACCOUNT\":null,\"CONTACT\":\"\"}",
                    "IsDeleted": false,
                    "PermissionType": null,
                    "Id": "b0a81cd8-26a4-4286-883b-8046e9143dac",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "52ef899b-44a6-4d8e-ad91-4d17f873f425",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:36.101872+00:00",
                    "ModifiedBy": {
                      "Id": "5e7f0e3a-8ef4-44f0-9abf-d8306d8319a6",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:36.1018797+00:00",
                    "ExternalId": "97153a87-759b-41b9-bc77-660abba6d57e",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions/{objectName}/actionpermissions/{actionName}/validate": {
      "get": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Validate object action permission",
        "description": "Based on the object name and action name, validates whether the object has action permission.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Object name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "Action name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/objectpermissions/{objectPermissionId}": {
      "delete": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Delete an object permission",
        "description": "Removes an object permission and returns the deleted object permission's ID.",
        "parameters": [
          {
            "name": "objectPermissionId",
            "in": "path",
            "description": "Object permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "ef4510e9-3517-4919-b32a-9316cad0bc5c deleted successfully.",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Get object permission details by ID",
        "description": "Fetches the object permission details based on the object permission ID.",
        "parameters": [
          {
            "name": "objectPermissionId",
            "in": "path",
            "description": "Object permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectPermissionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "ViewAll": true,
                    "ModifyAll": false,
                    "ActionPermissions": "{\"CREATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"UPDATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"DELETE\":{\"Standard\":true,\"Enabled\":false,\"Criteria\":\"\"},\"READ\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"}}",
                    "ScopePermissions": "{\"GLOBAL\":\"\",\"USER\":[],\"ACCOUNT\":null,\"CONTACT\":\"\"}",
                    "IsDeleted": false,
                    "PermissionType": null,
                    "Id": "e582a83d-ee56-403b-8fcf-c91acd1725b4",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "0f233730-312d-4ab5-aa2e-fd328679961e",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:36.0632876+00:00",
                    "ModifiedBy": {
                      "Id": "3c68efbc-e968-42ec-a0bc-dcbae44383b0",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:36.0632953+00:00",
                    "ExternalId": "99f4eea4-3177-46ff-b17f-9386249cbc89",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Object Permission"
        ],
        "summary": "Update an object permission",
        "description": "Updates an object permission and returns updated object permission details.",
        "parameters": [
          {
            "name": "objectPermissionId",
            "in": "path",
            "description": "Object permission ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details to be updated in the object permission model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectPermissionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectPermissionAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "PermissionGroupName": "SamplePermissionGroupName",
                    "ViewAll": true,
                    "ModifyAll": false,
                    "ActionPermissions": "{\"CREATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"UPDATE\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"},\"DELETE\":{\"Standard\":true,\"Enabled\":false,\"Criteria\":\"\"},\"READ\":{\"Standard\":true,\"Enabled\":true,\"Criteria\":\"\"}}",
                    "ScopePermissions": "{\"GLOBAL\":\"\",\"USER\":[],\"ACCOUNT\":null,\"CONTACT\":\"\"}",
                    "IsDeleted": false,
                    "PermissionType": null,
                    "Id": "5e7778f2-5430-43a9-bd5c-a6f52633f50b",
                    "Name": "SampleObjectName.SamplePermissionGroupName",
                    "CreatedBy": {
                      "Id": "13251bda-f4d5-4700-9f29-18116df87926",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-07-27T11:07:36.0759932+00:00",
                    "ModifiedBy": {
                      "Id": "ee0a81db-5c29-4257-8780-61181c878799",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-07-27T11:07:36.0760005+00:00",
                    "ExternalId": "0a257ef0-e0d1-4682-97d4-afcfe91f6018",
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/organization/currency": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get the currency type",
        "description": "Returns the organization's currency.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user-management/v1/organization/info": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get an organization's information",
        "description": "Returns an organization's sitewide information, like number, date, and currency formats.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Organization"
        ],
        "summary": "Update organizational information",
        "description": "Updates an organization's sitewide information, like number, date, and currency formats.",
        "requestBody": {
[...]
