{
  "openapi": "3.0.1",
  "info": {
    "title": "Quote",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/quote/v1"
    }
  ],
  "paths": {
    "/job-status/{jobId}": {
      "get": {
        "tags": [
          "JobStatus"
        ],
        "summary": "Get job status",
        "description": "Retrieves job status details for the given job.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "A unique identifier of the job",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/quotes": {
      "delete": {
        "tags": [
          "Quote"
        ],
        "summary": "Delete quotes",
        "description": "Deletes one or more quote records.",
        "requestBody": {
          "description": "The list of quotes to delete.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Retrieve quotes",
        "description": "Retrieves list of quotes.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. The filter criteria.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional. The sort criteria.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Optional. The page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optional. The maximum number of records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional. The included related resources.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "field",
            "in": "query",
            "description": "Pass Comma separated mulitple fields",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Quote"
        ],
        "summary": "Update quotes",
        "description": "Updates one or more quotes.",
        "requestBody": {
          "description": "The list of quotes with updated data.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "example": [
                {
                  "Name": "ProposalName",
                  "IsActive": true,
                  "Account": {
                    "Id": "AccountId",
                    "Name": "AccountName"
                  },
                  "ApprovalStage": "Approval Stage",
                  "AutoActivateOrder": false,
                  "Currency": "USD",
                  "Description": "Description",
                  "Location": {
                    "Id": "LocationId",
                    "Name": "LocationName"
                  },
                  "PriceList": {
                    "Id": "PriceListId",
                    "Name": "PriceListName"
                  },
                  "PrimaryContact": {
                    "Id": "ContactId",
                    "Name": "ContactName"
                  },
                  "ExpectedStartDate": "2019-10-10",
                  "ExpectedEndDate": "2030-10-10"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Create quotes",
        "description": "Creates one or more quotes with details provided in the request body. The API returns the IDs of the newly created quotes and their structure.",
        "requestBody": {
          "description": "The list of quotes to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/quotes/upsert-quote": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Upsert a quote",
        "description": "Upserts an existing quote.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "QuoteName",
                "IsActive": true,
                "Account": {
                  "Id": "AccountId",
                  "Name": "AccountName"
                },
                "ApprovalStage": "Approval Stage",
                "AutoActivateOrder": false,
                "Currency": "USD",
                "Description": "Description",
                "Location": {
                  "Id": "LocationId",
                  "Name": "LocationName"
                },
                "PriceList": {
                  "Id": "PriceListId",
                  "Name": "PriceListName"
                },
                "PrimaryContact": {
                  "Id": "ContactId",
                  "Name": "ContactName"
                },
                "ExpectedStartDate": "2019-10-10",
                "ExpectedEndDate": "2030-10-10"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{ExternalId}/clone-quote": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Clone external quote",
        "description": "Clones a quote based on the external quote ID.",
        "parameters": [
          {
            "name": "ExternalId",
            "in": "path",
            "description": "An external quote's ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloneLineItems",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "QuoteName",
                "IsActive": true,
                "Account": {
                  "Id": "AccountId",
                  "Name": "AccountName"
                },
                "ApprovalStage": "Approval Stage",
                "AutoActivateOrder": false,
                "Currency": "USD",
                "Description": "Description",
                "Location": {
                  "Id": "LocationId",
                  "Name": "LocationName"
                },
                "PriceList": {
                  "Id": "PriceListId",
                  "Name": "PriceListName"
                },
                "PrimaryContact": {
                  "Id": "ContactId",
                  "Name": "ContactName"
                },
                "ExpectedStartDate": "2019-10-10",
                "ExpectedEndDate": "2030-10-10"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{Id}": {
      "delete": {
        "tags": [
          "Quote"
        ],
        "summary": "Delete a quote",
        "description": "Deletes the quote where the quote ID matches the ID provided in the parameter.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the quote to delete.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Quote"
        ],
        "summary": "Retrieve a quote",
        "description": "Retrieves the details of a quote based on the quote ID provided in the parameters.\r\n<param>The API returns the details of quote object</param>",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the quote.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional. The included related resources.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": [
          "Quote"
        ],
        "summary": "Update a quote",
        "description": "Updates the quote with details provided in the request parameter. The API returns the ID of the updated quote and its structure.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the quote to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The updated data for the quote.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "ProposalName",
                "IsActive": true,
                "Account": {
                  "Id": "AccountId",
                  "Name": "AccountName"
                },
                "ApprovalStage": "Approval Stage",
                "AutoActivateOrder": false,
                "Currency": "USD",
                "Description": "Description",
                "Location": {
                  "Id": "LocationId",
                  "Name": "LocationName"
                },
                "PriceList": {
                  "Id": "PriceListId",
                  "Name": "PriceListName"
                },
                "PrimaryContact": {
                  "Id": "ContactId",
                  "Name": "ContactName"
                },
                "ExpectedStartDate": "2019-10-10",
                "ExpectedEndDate": "2030-10-10"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/quotes/{Id}/accept": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Accept a quote and create an order",
        "description": "Accepts a specified quote in any approval stage other than Accepted. \r\nCreates an order and order line items based on the quote’s header and line item details. \r\nCreates an order in draft stage with a Pending pricing status. The order inherits the following header fields, among others:\r\n<ul><li>Account</li><li>Sold To</li><li>Bill To</li><li>Primary Contact</li></ul><p>The order line items inherit the following fields, among others:</p><ul><li>Configuration Type</li><li>Charge Type</li><li>Price Type</li><li>Adjustments</li></ul>",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "An internal quote's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsAsync",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{Id}/agreement": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Create agreement from a quote",
        "description": "Create an agreement from a quote, where the quote ID matches the ID provided in the parameter.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "The ID of the quote.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteToAgreementDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteToAgreementDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteToAgreementDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{Id}/clone": {
      "post": {
        "tags": [
          "Quote"
        ],
        "summary": "Clone quote",
        "description": "Clones a quote based on the internal quote ID.",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "An internal Quote's unique identifierID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cloneLineItems",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              },
              "example": {
                "Name": "QuoteName",
                "IsActive": true,
                "Account": {
                  "Id": "AccountId",
                  "Name": "AccountName"
                },
                "ApprovalStage": "Approval Stage",
                "AutoActivateOrder": false,
                "Currency": "USD",
                "Description": "Description",
                "Location": {
                  "Id": "LocationId",
                  "Name": "LocationName"
                },
                "PriceList": {
                  "Id": "PriceListId",
                  "Name": "PriceListName"
                },
                "PrimaryContact": {
                  "Id": "ContactId",
                  "Name": "ContactName"
                },
                "ExpectedStartDate": "2019-10-10",
                "ExpectedEndDate": "2030-10-10"
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueException"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Assembly": {
        "type": "object",
        "properties": {
          "DefinedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "ExportedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          },
          "CodeBase": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "EntryPoint": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "FullName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ImageRuntimeVersion": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "IsDynamic": {
            "type": "boolean",
            "readOnly": true
          },
          "Location": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ReflectionOnly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFullyTrusted": {
            "type": "boolean",
            "readOnly": true
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "EscapedCodeBase": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "ManifestModule": {
            "$ref": "#/components/schemas/Module"
          },
          "Modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Module"
            },
            "nullable": true,
            "readOnly": true
          },
          "GlobalAssemblyCache": {
            "type": "boolean",
            "readOnly": true,
            "deprecated": true
          },
          "HostContext": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "SecurityRuleSet": {
            "$ref": "#/components/schemas/SecurityRuleSet"
          }
        },
        "additionalProperties": false
      },
      "CallingConventions": {
        "enum": [
          1,
          2,
          3,
          32,
          64
        ],
        "type": "integer",
        "format": "int32"
      },
      "ConstructorInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Attributes": {
            "$ref": "#/components/schemas/MethodAttributes"
          },
          "MethodImplementationFlags": {
            "$ref": "#/components/schemas/MethodImplAttributes"
          },
          "CallingConvention": {
            "$ref": "#/components/schemas/CallingConventions"
          },
          "IsAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructor": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFinal": {
            "type": "boolean",
            "readOnly": true
          },
          "IsHideBySig": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsStatic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVirtual": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyAndAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyOrAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructedGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethodDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "ContainsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "MethodHandle": {
            "$ref": "#/components/schemas/RuntimeMethodHandle"
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          }
        },
        "additionalProperties": false
      },
      "CurrencyField": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number",
            "format": "double"
          },
          "DisplayValue": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "CurrencyCode": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CurrencySymbol": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CustomAttributeData": {
        "type": "object",
        "properties": {
          "AttributeType": {
            "$ref": "#/components/schemas/Type"
          },
          "Constructor": {
            "$ref": "#/components/schemas/ConstructorInfo"
          },
          "ConstructorArguments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeTypedArgument"
            },
            "nullable": true,
            "readOnly": true
          },
          "NamedArguments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeNamedArgument"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CustomAttributeNamedArgument": {
        "type": "object",
        "properties": {
          "MemberInfo": {
            "$ref": "#/components/schemas/MemberInfo"
          },
          "TypedValue": {
            "$ref": "#/components/schemas/CustomAttributeTypedArgument"
          },
          "MemberName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "IsField": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CustomAttributeTypedArgument": {
        "type": "object",
        "properties": {
          "ArgumentType": {
            "$ref": "#/components/schemas/Type"
          },
          "Value": {
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventAttributes": {
        "enum": [
          0,
          512,
          1024
        ],
        "type": "integer",
        "format": "int32"
      },
      "EventInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Attributes": {
            "$ref": "#/components/schemas/EventAttributes"
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "AddMethod": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "RemoveMethod": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "RaiseMethod": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "IsMulticast": {
            "type": "boolean",
            "readOnly": true
          },
          "EventHandlerType": {
            "$ref": "#/components/schemas/Type"
          }
        },
        "additionalProperties": false
      },
      "Exception": {
        "type": "object",
        "properties": {
          "TargetSite": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "Message": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Data": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true,
            "readOnly": true
          },
          "InnerException": {
            "$ref": "#/components/schemas/Exception"
          },
          "HelpLink": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "HResult": {
            "type": "integer",
            "format": "int32"
          },
          "StackTrace": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FieldAttributes": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          16,
          32,
          64,
          128,
          256,
          512,
          1024,
          4096,
          8192,
          32768,
          38144
        ],
        "type": "integer",
        "format": "int32"
      },
      "FieldInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Attributes": {
            "$ref": "#/components/schemas/FieldAttributes"
          },
          "FieldType": {
            "$ref": "#/components/schemas/Type"
          },
          "IsInitOnly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsLiteral": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNotSerialized": {
            "type": "boolean",
            "readOnly": true,
            "deprecated": true
          },
          "IsPinvokeImpl": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsStatic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyAndAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyOrAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "FieldHandle": {
            "$ref": "#/components/schemas/RuntimeFieldHandle"
          }
        },
        "additionalProperties": false
      },
      "GenericParameterAttributes": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          8,
          16,
          28
        ],
        "type": "integer",
        "format": "int32"
      },
      "ICustomAttributeProvider": {
        "type": "object",
        "additionalProperties": false
      },
      "IntPtr": {
        "type": "object",
        "additionalProperties": false
      },
      "LayoutKind": {
        "enum": [
          0,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MemberInfo": {
        "type": "object",
        "properties": {
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "MemberTypes": {
        "enum": [
          1,
          2,
          4,
          8,
          16,
          32,
          64,
          128,
          191
        ],
        "type": "integer",
        "format": "int32"
      },
      "MethodAttributes": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          16,
          32,
          64,
          128,
          256,
          512,
          1024,
          2048,
          4096,
          8192,
          16384,
          32768,
          53248
        ],
        "type": "integer",
        "format": "int32"
      },
      "MethodBase": {
        "type": "object",
        "properties": {
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Attributes": {
            "$ref": "#/components/schemas/MethodAttributes"
          },
          "MethodImplementationFlags": {
            "$ref": "#/components/schemas/MethodImplAttributes"
          },
          "CallingConvention": {
            "$ref": "#/components/schemas/CallingConventions"
          },
          "IsAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructor": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFinal": {
            "type": "boolean",
            "readOnly": true
          },
          "IsHideBySig": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsStatic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVirtual": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyAndAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyOrAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructedGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethodDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "ContainsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "MethodHandle": {
            "$ref": "#/components/schemas/RuntimeMethodHandle"
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "MethodImplAttributes": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          8,
          16,
          32,
          64,
          128,
          256,
          512,
          4096,
          65535
        ],
        "type": "integer",
        "format": "int32"
      },
      "MethodInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "Attributes": {
            "$ref": "#/components/schemas/MethodAttributes"
          },
          "MethodImplementationFlags": {
            "$ref": "#/components/schemas/MethodImplAttributes"
          },
          "CallingConvention": {
            "$ref": "#/components/schemas/CallingConventions"
          },
          "IsAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructor": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFinal": {
            "type": "boolean",
            "readOnly": true
          },
          "IsHideBySig": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsStatic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVirtual": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyAndAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFamilyOrAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructedGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethodDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "ContainsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "MethodHandle": {
            "$ref": "#/components/schemas/RuntimeMethodHandle"
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "ReturnParameter": {
            "$ref": "#/components/schemas/ParameterInfo"
          },
          "ReturnType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReturnTypeCustomAttributes": {
            "$ref": "#/components/schemas/ICustomAttributeProvider"
          }
        },
        "additionalProperties": false
      },
      "Module": {
        "type": "object",
        "properties": {
          "Assembly": {
            "$ref": "#/components/schemas/Assembly"
          },
          "FullyQualifiedName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "MDStreamVersion": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "ModuleVersionId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "ScopeName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ModuleHandle": {
            "$ref": "#/components/schemas/ModuleHandle"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ModuleHandle": {
        "type": "object",
        "properties": {
          "MDStreamVersion": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ParameterAttributes": {
        "enum": [
          0,
          1,
          2,
          4,
          8,
          16,
          4096,
          8192,
          16384,
          32768,
          61440
        ],
        "type": "integer",
        "format": "int32"
      },
      "ParameterInfo": {
        "type": "object",
        "properties": {
          "Attributes": {
            "$ref": "#/components/schemas/ParameterAttributes"
          },
          "Member": {
            "$ref": "#/components/schemas/MemberInfo"
          },
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ParameterType": {
            "$ref": "#/components/schemas/Type"
          },
          "Position": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "IsIn": {
            "type": "boolean",
            "readOnly": true
          },
          "IsLcid": {
            "type": "boolean",
            "readOnly": true
          },
          "IsOptional": {
            "type": "boolean",
            "readOnly": true
          },
          "IsOut": {
            "type": "boolean",
            "readOnly": true
          },
          "IsRetval": {
            "type": "boolean",
            "readOnly": true
          },
          "DefaultValue": {
            "nullable": true,
            "readOnly": true
          },
          "RawDefaultValue": {
            "nullable": true,
            "readOnly": true
          },
          "HasDefaultValue": {
            "type": "boolean",
            "readOnly": true
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "PropertyAttributes": {
        "enum": [
          0,
          512,
          1024,
          4096,
          8192,
          16384,
          32768,
          62464
        ],
        "type": "integer",
        "format": "int32"
      },
      "PropertyInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "PropertyType": {
            "$ref": "#/components/schemas/Type"
          },
          "Attributes": {
            "$ref": "#/components/schemas/PropertyAttributes"
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "CanRead": {
            "type": "boolean",
            "readOnly": true
          },
          "CanWrite": {
            "type": "boolean",
            "readOnly": true
          },
          "GetMethod": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "SetMethod": {
            "$ref": "#/components/schemas/MethodInfo"
          }
        },
        "additionalProperties": false
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "ABOType": {
            "type": "string",
            "nullable": true
          },
          "Account": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Amount": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "ApprovalStage": {
            "type": "string",
            "nullable": true
          },
          "AutoActivateOrder": {
            "type": "boolean",
            "nullable": true
          },
          "AutoCreateBill": {
            "type": "boolean",
            "nullable": true
          },
          "AutoCreateRevenue": {
            "type": "boolean",
            "nullable": true
          },
          "BillingPreference": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "BillToAccount": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ConfigurationEffectiveDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ConfigurationFinalizedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ConfigurationSyncDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "DisableCartVersioning": {
            "type": "boolean",
            "nullable": true
          },
          "DiscountPercent": {
            "type": "string",
            "nullable": true
          },
          "ExpectedEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExpectedStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "GrandTotal": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "Intent": {
            "type": "string",
            "nullable": true
          },
          "InternalDeadline": {
            "type": "string",
            "nullable": true
          },
          "IsAutoAccepted": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimary": {
            "type": "boolean",
            "nullable": true
          },
          "IsSystemGenerated": {
            "type": "boolean",
            "nullable": true
          },
          "IsTaskPending": {
            "type": "boolean",
            "nullable": true
          },
          "LegalEntity": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "Location": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "NetAmount": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "Opportunity": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ParentProposal": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "PartnerAccount": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProposalPaymentTerm": {
            "type": "string",
            "nullable": true
          },
          "PaymentTerm": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "PODate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PONumber": {
            "type": "string",
            "nullable": true
          },
          "PresentedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PriceList": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "PricingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PrimaryContact": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProposalApprovalDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ProposalCategory": {
            "type": "string",
            "nullable": true
          },
          "ProposalExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ProposalName": {
            "type": "string",
            "nullable": true
          },
          "PurchaseId": {
            "type": "string",
            "nullable": true
          },
          "QTCProfile": {
            "type": "string",
            "nullable": true
          },
          "ReadyForActivationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ReadyForBillingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ReadyForFulfillmentDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ReadyForRevRecDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ReadyToGenerate": {
            "type": "boolean",
            "nullable": true
          },
          "ReadyToPresent": {
            "type": "boolean",
            "nullable": true
          },
          "RelatedProposal": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "RFPIntakeDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "RFPResponseDueDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "RFPStage": {
            "type": "string",
            "nullable": true
          },
          "RFPValue": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "RiskFactors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "SalesTaxAmount": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "SalesTaxPercent": {
            "type": "string",
            "nullable": true
          },
          "ShippingHandling": {
            "$ref": "#/components/schemas/CurrencyField"
          },
          "ShipToAccount": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "SingleTransactionAdjustment": {
            "type": "boolean",
            "nullable": true
          },
          "SourceChannel": {
            "type": "string",
            "nullable": true
          },
          "SpecialTerms": {
            "type": "string",
            "nullable": true
          },
          "StrategicImportance": {
            "type": "string",
            "nullable": true
          },
          "SyncAssetChangesToQuote": {
            "type": "boolean",
            "nullable": true
          },
          "UseType": {
            "type": "string",
            "nullable": true
          },
          "ValidUntilDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Owner": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ProposalNumber": {
            "type": "string",
            "nullable": true
          },
          "Requestor": {
            "$ref": "#/components/schemas/LookupObject"
          }
        },
        "additionalProperties": {},
        "example": {
          "Name": "ProposalName",
          "IsActive": true,
          "Account": {
            "Id": "AccountId",
            "Name": "AccountName"
          },
          "ApprovalStage": "Approval Stage",
          "AutoActivateOrder": false,
          "Currency": "USD",
          "Description": "Description",
          "Location": {
            "Id": "LocationId",
            "Name": "LocationName"
          },
          "PriceList": {
            "Id": "PriceListId",
            "Name": "PriceListName"
          },
          "PrimaryContact": {
            "Id": "ContactId",
            "Name": "ContactName"
          },
          "ExpectedStartDate": "2019-10-10",
          "ExpectedEndDate": "2030-10-10"
        }
      },
      "QuoteToAgreementDTO": {
        "type": "object",
        "properties": {
          "OverrideValues": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RevenueException": {
        "type": "object",
        "properties": {
          "TargetSite": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "Message": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Data": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true,
            "readOnly": true
          },
          "InnerException": {
            "$ref": "#/components/schemas/Exception"
          },
          "HelpLink": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "type": "string",
            "nullable": true
          },
          "HResult": {
            "type": "integer",
            "format": "int32"
          },
          "StackTrace": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "RuntimeFieldHandle": {
        "type": "object",
        "properties": {
          "Value": {
            "$ref": "#/components/schemas/IntPtr"
          }
        },
        "additionalProperties": false
      },
      "RuntimeMethodHandle": {
        "type": "object",
        "properties": {
          "Value": {
            "$ref": "#/components/schemas/IntPtr"
          }
        },
        "additionalProperties": false
      },
      "RuntimeTypeHandle": {
        "type": "object",
        "properties": {
          "Value": {
            "$ref": "#/components/schemas/IntPtr"
          }
        },
        "additionalProperties": false
      },
      "SecurityRuleSet": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "format": "int32"
      },
      "StructLayoutAttribute": {
        "type": "object",
        "properties": {
          "TypeId": {
            "nullable": true,
            "readOnly": true
          },
          "Value": {
            "$ref": "#/components/schemas/LayoutKind"
          }
        },
        "additionalProperties": false
      },
      "Type": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "IsInterface": {
            "type": "boolean",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Namespace": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "AssemblyQualifiedName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FullName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Assembly": {
            "$ref": "#/components/schemas/Assembly"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "IsNested": {
            "type": "boolean",
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "DeclaringMethod": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "UnderlyingSystemType": {
            "$ref": "#/components/schemas/Type"
          },
          "IsTypeDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "IsArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsByRef": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructedGenericType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericTypeParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethodParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericTypeDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSZArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVariableBoundArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsByRefLike": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFunctionPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "IsUnmanagedFunctionPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "HasElementType": {
            "type": "boolean",
            "readOnly": true
          },
          "GenericTypeArguments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          },
          "GenericParameterPosition": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "GenericParameterAttributes": {
            "$ref": "#/components/schemas/GenericParameterAttributes"
          },
          "Attributes": {
            "$ref": "#/components/schemas/TypeAttributes"
          },
          "IsAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "IsImport": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSealed": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamANDAssem": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamORAssem": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNotPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAutoLayout": {
            "type": "boolean",
            "readOnly": true
          },
          "IsExplicitLayout": {
            "type": "boolean",
            "readOnly": true
          },
          "IsLayoutSequential": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAnsiClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAutoClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsUnicodeClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsCOMObject": {
            "type": "boolean",
            "readOnly": true
          },
          "IsContextful": {
            "type": "boolean",
            "readOnly": true
          },
          "IsEnum": {
            "type": "boolean",
            "readOnly": true
          },
          "IsMarshalByRef": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrimitive": {
            "type": "boolean",
            "readOnly": true
          },
          "IsValueType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSignatureType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "StructLayoutAttribute": {
            "$ref": "#/components/schemas/StructLayoutAttribute"
          },
          "TypeInitializer": {
            "$ref": "#/components/schemas/ConstructorInfo"
          },
          "TypeHandle": {
            "$ref": "#/components/schemas/RuntimeTypeHandle"
          },
          "GUID": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "BaseType": {
            "$ref": "#/components/schemas/Type"
          },
          "IsSerializable": {
            "type": "boolean",
            "readOnly": true,
            "deprecated": true
          },
          "ContainsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVisible": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "TypeAttributes": {
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6,
          7,
          8,
          16,
          24,
          32,
          128,
          256,
          1024,
          2048,
          4096,
          8192,
          16384,
          65536,
          131072,
          196608,
          262144,
          264192,
          1048576,
          12582912
        ],
        "type": "integer",
        "format": "int32"
      },
      "TypeInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "CustomAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "IsCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "MetadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "IsInterface": {
            "type": "boolean",
            "readOnly": true
          },
          "MemberType": {
            "$ref": "#/components/schemas/MemberTypes"
          },
          "Namespace": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "AssemblyQualifiedName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "FullName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "Assembly": {
            "$ref": "#/components/schemas/Assembly"
          },
          "Module": {
            "$ref": "#/components/schemas/Module"
          },
          "IsNested": {
            "type": "boolean",
            "readOnly": true
          },
          "DeclaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "DeclaringMethod": {
            "$ref": "#/components/schemas/MethodBase"
          },
          "ReflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "UnderlyingSystemType": {
            "$ref": "#/components/schemas/Type"
          },
          "IsTypeDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "IsArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsByRef": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "IsConstructedGenericType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericTypeParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericMethodParameter": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsGenericTypeDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSZArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVariableBoundArray": {
            "type": "boolean",
            "readOnly": true
          },
          "IsByRefLike": {
            "type": "boolean",
            "readOnly": true
          },
          "IsFunctionPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "IsUnmanagedFunctionPointer": {
            "type": "boolean",
            "readOnly": true
          },
          "HasElementType": {
            "type": "boolean",
            "readOnly": true
          },
          "GenericTypeArguments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          },
          "GenericParameterPosition": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "GenericParameterAttributes": {
            "$ref": "#/components/schemas/GenericParameterAttributes"
          },
          "Attributes": {
            "$ref": "#/components/schemas/TypeAttributes"
          },
          "IsAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "IsImport": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSealed": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "IsClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamANDAssem": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedFamORAssem": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNestedPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsNotPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAutoLayout": {
            "type": "boolean",
            "readOnly": true
          },
          "IsExplicitLayout": {
            "type": "boolean",
            "readOnly": true
          },
          "IsLayoutSequential": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAnsiClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsAutoClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsUnicodeClass": {
            "type": "boolean",
            "readOnly": true
          },
          "IsCOMObject": {
            "type": "boolean",
            "readOnly": true
          },
          "IsContextful": {
            "type": "boolean",
            "readOnly": true
          },
          "IsEnum": {
            "type": "boolean",
            "readOnly": true
          },
          "IsMarshalByRef": {
            "type": "boolean",
            "readOnly": true
          },
          "IsPrimitive": {
            "type": "boolean",
            "readOnly": true
          },
          "IsValueType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSignatureType": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "IsSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "StructLayoutAttribute": {
            "$ref": "#/components/schemas/StructLayoutAttribute"
          },
          "TypeInitializer": {
            "$ref": "#/components/schemas/ConstructorInfo"
          },
          "TypeHandle": {
            "$ref": "#/components/schemas/RuntimeTypeHandle"
          },
          "GUID": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "BaseType": {
            "$ref": "#/components/schemas/Type"
          },
          "IsSerializable": {
            "type": "boolean",
            "readOnly": true,
            "deprecated": true
          },
          "ContainsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "IsVisible": {
            "type": "boolean",
            "readOnly": true
          },
          "GenericTypeParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredConstructors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConstructorInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredMembers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MemberInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MethodInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredNestedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "DeclaredProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PropertyInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "ImplementedInterfaces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "JobStatus",
      "description": "API to return job status details"
    },
    {
      "name": "Quote",
      "description": "Quote APIs related with quote details."
    }
  ]
}
