{
  "openapi": "3.0.1",
  "info": {
    "title": "Invoice Management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/invoicing/v1"
    }
  ],
  "paths": {
    "/configure-requests": {
      "patch": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Updates an existing invoice configuration request with modified settings.",
        "requestBody": {
          "description": "The invoice configuration request containing updated settings for the invoice run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Id\": \"example-invoice-configuration-id\",\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Id\": \"TMPL-INV-001\",\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-INV-001\",\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Id\": \"TMPL-CM-001\",\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Id\": \"TMPL-EMAIL-CM-001\",\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Configures and creates an invoice run request based on the provided configuration.",
        "requestBody": {
          "description": "The invoice configuration request containing settings for the invoice run.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure-requests/estimate": {
      "post": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Retrieves a preview of an invoice request based on the provided configuration without persisting the request.",
        "requestBody": {
          "description": "The invoice configuration request containing settings to preview.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceConfigurationRequest"
              },
              "example": "{\n  \"Name\": \"Monthly Invoice Run - January 2026\",\n  \"RunType\": \"Immediate\",\n  \"AutoApproveInvoices\": true,\n  \"Status\": \"Draft\",\n  \"InvoiceDateType\": \"Ready for Invoice Date\",\n  \"ProcessFrom\": \"2025-06-15T00:00:00\",\n  \"ProcessTo\": \"2026-08-20T00:00:00\",\n  \"FilterCriteria\": {\n    \"ParentOperator\": \"AND\",\n    \"Rules\": [\n      {\n        \"ObjectName\": \"Account\",\n        \"ChildOperator\": \"OR\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"Name\",\n            \"ComparisonOperator\": \"LIKE\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": \"Acme%\"\n          },\n          {\n            \"FieldName\": \"AccountNumber\",\n            \"ComparisonOperator\": \"IN\",\n            \"FieldType\": \"STRING\",\n            \"FieldValue\": [\n              \"ACC-001\",\n              \"ACC-002\",\n              \"ACC-003\"\n            ]\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"Product\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"IsActive\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"BOOLEAN\",\n            \"FieldValue\": true\n          },\n          {\n            \"FieldName\": \"ProductFamily\",\n            \"ComparisonOperator\": \"=\",\n            \"FieldType\": \"PICKLIST\",\n            \"FieldValue\": \"Subscription\"\n          }\n        ]\n      },\n      {\n        \"ObjectName\": \"BillingScheduleRecord\",\n        \"ChildOperator\": \"AND\",\n        \"Rules\": [\n          {\n            \"FieldName\": \"ReadyForInvoiceDate\",\n            \"ComparisonOperator\": \"\\u003E=\",\n            \"FieldType\": \"DATE\",\n            \"FieldValue\": \"2025-01-01\"\n          },\n          {\n            \"FieldName\": \"NetPrice\",\n            \"ComparisonOperator\": \"\\u003E\",\n            \"FieldType\": \"CURRENCY\",\n            \"FieldValue\": 100\n          }\n        ]\n      }\n    ]\n  },\n  \"FilterCriteriaOld\": null,\n  \"CreateCreditMemos\": true,\n  \"CreditMemoCreationOption\": \"One Per Negative Billing Schedule\",\n  \"InvoiceDate\": null,\n  \"CreditMemoDateBasedOn\": \"Ready for Invoice Date\",\n  \"CreditMemoDate\": null,\n  \"AutoApproveAmountOperator\": \"Less than or equal to\",\n  \"AutoApproveAmount\": {\n    \"Value\": 10000,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"SuppressCriterion\": \"Amount\",\n  \"SuppressOperator\": \"Less than\",\n  \"SuppressInvoiceAmount\": {\n    \"Value\": 10,\n    \"DisplayValue\": 0,\n    \"CurrencyCode\": null,\n    \"CurrencySymbol\": null\n  },\n  \"AutoApplyCreditMemo\": true,\n  \"AutoApproveCreditMemos\": true,\n  \"Frequency\": \"Monthly by Date\",\n  \"WeekOfTheMonth\": \"The 1st\",\n  \"WeekDay\": [\n    \"Monday\"\n  ],\n  \"InvoiceDayReference\": \"Last\",\n  \"InvoiceMonthReference\": \"Current Month\",\n  \"InvoiceDateOffset\": \"0\",\n  \"ProcessThroughOffset\": \"0\",\n  \"StartHour\": \"00\",\n  \"StartMinute\": \"00\",\n  \"OverwriteInvoiceTemplates\": true,\n  \"InvoiceDocumentTemplate\": {\n    \"Name\": \"Standard Invoice Template\"\n  },\n  \"InvoiceEmailTemplate\": {\n    \"Name\": \"Invoice Email Template\"\n  },\n  \"OverwriteCreditMemoTemplates\": true,\n  \"CreditMemoDocumentTemplate\": {\n    \"Name\": \"Standard Credit Memo Template\"\n  },\n  \"CreditMemoEmailTemplate\": {\n    \"Name\": \"Credit Memo Email Template\"\n  },\n  \"SplitCriteria\": null,\n  \"MonthlyDate\": null,\n  \"ProcessFromDayReference\": null,\n  \"ProcessFromMonthReference\": null,\n  \"ProcessToDayReference\": null,\n  \"ProcessToMonthReference\": null,\n  \"ProcessFromOffset\": null,\n  \"ScheduleFrom\": null,\n  \"ScheduleTo\": null\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure-requests/{id}": {
      "get": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Retrieves an invoice configuration request by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice configuration request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationRequestResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationRequestResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationRequestResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure-requests/{id}/clone": {
      "post": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Clones an existing invoice configuration request to create a new configuration based on the specified source.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice configuration request to clone.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceConfigurationResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure-requests/{id}/estimate": {
      "get": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Retrieves a preview of an invoice request, including billing schedule records and estimated invoice details.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice configuration request to preview.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestPreviewResponse"
                }
              }
            }
          }
        }
      }
    },
    "/configure-requests/{id}/request-results": {
      "get": {
        "tags": [
          "Invoice Configurations"
        ],
        "summary": "Retrieves an invoice request result by configuration request identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the configuration request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional list of related entities to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRequestResult"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRequestResult"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceRequestResult"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/creditmemos/approve": {
      "post": {
        "tags": [
          "Credit Memos"
        ],
        "summary": "Approve one or more credit memos",
        "description": "This endpoint allows bulk approval of credit memos. Each credit memo is processed independently,\r\nenabling partial success scenarios where some credit memos may be approved while others fail validation.\r\n            \r\n**Conditions:**\r\n- Only credit memos with status 'Draft' or 'Pending Approval' can be approved.\r\n            \r\n**Effects of approval:**\r\n- Credit memo status is updated to 'Approved'.\r\n- All related Credit Memo Line Items are approved.\r\n- Related Billing Schedule Records and Billing Schedule Details are marked as 'Invoiced'.\r\n- Billing Header Rollup - Total Invoice Amount and Total Pending Amount are updated.",
        "requestBody": {
          "description": "The request containing the list of credit memo IDs to approve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoApprovalRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoApprovalRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/creditmemos/cancel": {
      "post": {
        "tags": [
          "Credit Memos"
        ],
        "summary": "Cancels one or more credit memos.",
        "description": "This endpoint allows bulk cancellation of credit memos. Each credit memo is processed independently,\r\nenabling partial success scenarios where some credit memos may be cancelled while others fail validation.\r\n            \r\n**Conditions:**\r\n- Only credit memos with status 'Approved' and payment status 'Uncredited' can be cancelled.\r\n            \r\n**Effects of Cancellation:**\r\n- Credit memo status is updated to 'Cancelled'.\r\n- All related Credit Memo Line Items are Cancelled.\r\n- Billing Header Rollup - Total Credit Memo Amount and Total Pending Amount are updated.",
        "requestBody": {
          "description": "The request containing the list of credit memo IDs to cancel.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoCancellationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoCancellationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreditMemoCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/creditmemos/{id}": {
      "get": {
        "tags": [
          "Credit Memos"
        ],
        "summary": "Retrieve credit memo details",
        "description": "This method fetches an existing credit memo from the data store and translates it\r\nto a response object that can be sent to clients. The method supports viewing the details\r\nof a previously created credit memo.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the credit memo to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreditMemoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditMemoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditMemoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/approve": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Approve one or more invoices",
        "description": "This endpoint allows bulk approval of invoices. Each invoice is processed independently,\r\nenabling partial success scenarios where some invoices may be approved while others fail validation.\r\n            \r\n**Conditions:**\r\n- Only invoices with status 'Draft' or 'Pending Approval' can be approved.\r\n            \r\n**Effects of approval:**\r\n- Invoice status is updated to 'Approved'.\r\n- All related Invoice Line Items are approved.\r\n- Related Billing Schedule Records and Billing Schedule Details are marked as 'Invoiced'.\r\n- Billing Header Rollup - Total Invoice Amount and Total Pending Amount are updated.",
        "requestBody": {
          "description": "The request containing the list of invoice IDs to approve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceApprovalRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceApprovalRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/cancel": {
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Cancels one or more invoices.",
        "description": "This endpoint allows bulk cancellation of invoices. Each invoice is processed independently,\r\nenabling partial success scenarios where some invoices may be cancelled while others fail validation.\r\n            \r\n**Conditions:**\r\n- Only invoices with status 'Approved' and payment status 'Unpaid' can be cancelled.\r\n            \r\n**Effects of Cancellation:**\r\n- Invoice status is updated to 'Cancelled'.\r\n- All related Invoice Line Items are Cancelled.\r\n- Billing Header Rollup - Total Invoice Amount and Total Pending Amount are updated.",
        "requestBody": {
          "description": "The request containing the list of invoice IDs to cancel.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCancellationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCancellationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancellationResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve invoice details",
        "description": "This method fetches an existing invoice from the data store and translates it\r\nto a response object that can be sent to clients. The method supports viewing the details\r\nof a previously created invoice.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/request-results/{id}": {
      "get": {
        "tags": [
          "Invoice Request Results"
        ],
        "summary": "Retrieves an invoice request result by its identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice request result.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional list of related entities to include in the response.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceRequestResult"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/request-results/{id}/invoices": {
      "get": {
        "tags": [
          "Invoice Request Results"
        ],
        "summary": "Retrieves all invoices associated with a specific invoice request result.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the invoice request result.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/split-criteria": {
      "get": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Gets a list of split criteria setups based on the provided query parameters.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Related resources to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Additional filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SplitCriteriaSetup"
                  }
                },
                "example": [
                  {
                    "Sequence": 1,
                    "Description": "Split invoices based on payment terms",
                    "Object": "InvoiceLineItem",
                    "CriteriaValue": "PaymentTerm",
                    "Action": "Split",
                    "UseForAllInvoiceRequests": true,
                    "Active": true,
                    "Id": "example-split-criteria-id",
                    "Name": "Split by PaymentTerm",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": "SPLIT-001",
                    "ETag": null
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SplitCriteriaSetup"
                  }
                },
                "example": [
                  {
                    "Sequence": 1,
                    "Description": "Split invoices based on payment terms",
                    "Object": "InvoiceLineItem",
                    "CriteriaValue": "PaymentTerm",
                    "Action": "Split",
                    "UseForAllInvoiceRequests": true,
                    "Active": true,
                    "Id": "example-split-criteria-id",
                    "Name": "Split by PaymentTerm",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": "SPLIT-001",
                    "ETag": null
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SplitCriteriaSetup"
                  }
                },
                "example": [
                  {
                    "Sequence": 1,
                    "Description": "Split invoices based on payment terms",
                    "Object": "InvoiceLineItem",
                    "CriteriaValue": "PaymentTerm",
                    "Action": "Split",
                    "UseForAllInvoiceRequests": true,
                    "Active": true,
                    "Id": "example-split-criteria-id",
                    "Name": "Split by PaymentTerm",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": "SPLIT-001",
                    "ETag": null
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Updates multiple split criteria setups based on the provided request data.",
        "description": "Partial success is supported; if some records are invalid or fail to update, the response\r\n            will include details for each record and use status code 207 (Multi-Status). The order of responses corresponds\r\n            to the order of input records.",
        "requestBody": {
          "description": "A list of split criteria setup objects to be updated. The list must not be null and should contain valid setup\r\n            records.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Id\": \"example-split-criteria-id\",\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Id\": \"example-split-criteria-id\",\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Id\": \"example-split-criteria-id\",\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Creates a new split criteria setup based on the provided request data.",
        "requestBody": {
          "description": "A list of Conga.MAF.Entities.Models.SplitCriteriaSetup objects that defines the split criteria setup",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "example": "[\n  {\n    \"Sequence\": 1,\n    \"Description\": \"Split invoices based on payment terms\",\n    \"Object\": \"InvoiceLineItem\",\n    \"CriteriaValue\": \"PaymentTerm\",\n    \"Action\": \"Split\",\n    \"UseForAllInvoiceRequests\": true,\n    \"Active\": true,\n    \"Name\": \"Split by PaymentTerm\"\n  }\n]"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/split-criteria/activate": {
      "patch": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Toggles the active status of the specified split criteria setups.",
        "description": "This method processes the provided requests to toggle the active status of the specified\r\n            split criteria setups. It returns a 207 Multi Status code on partial success or a 400 Bad Request status code if the\r\n            input is invalid.",
        "requestBody": {
          "description": "A list of requests specifying the split criteria setups to update and their desired active statuses. Each\r\n            request must include the necessary identifiers and the target active status.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetupToggleActiveRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Criteria-Id-1\",\n    \"Active\": true\n  },\n  {\n    \"Id\": \"Criteria-Id-2\",\n    \"Active\": false\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetupToggleActiveRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Criteria-Id-1\",\n    \"Active\": true\n  },\n  {\n    \"Id\": \"Criteria-Id-2\",\n    \"Active\": false\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SplitCriteriaSetupToggleActiveRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Criteria-Id-1\",\n    \"Active\": true\n  },\n  {\n    \"Id\": \"Criteria-Id-2\",\n    \"Active\": false\n  }\n]"
            }
          }
        },
        "responses": {
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/split-criteria/{id}": {
      "get": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Gets a split criteria setup by its unique identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitCriteriaSetup"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/split-criteria/{id}/activate": {
      "patch": {
        "tags": [
          "Split Criteria"
        ],
        "summary": "Activates the split criteria setup identified by the specified ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the split criteria setup to activate. Cannot be null or empty.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "A boolean value indicating whether to activate (true) or deactivate (false) the split criteria setup.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "Source": {
            "type": "string",
            "nullable": true
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Detail": {
            "nullable": true
          },
          "Help": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprovalResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "RecordIndex": {
            "type": "integer",
            "format": "int32"
          },
          "IsSuccess": {
            "type": "boolean"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ErrorMessage": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the result of approving a single entity (e.g., invoice or credit memo) within a batch approval operation.\r\nInherits from Conga.MAF.Entities.Responses.BaseResponse to support standardized batch response handling."
      },
      "ApprovalResponseBatchResponse": {
        "type": "object",
        "properties": {
          "Summary": {
            "type": "string",
            "nullable": true
          },
          "Results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApprovalResponse"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BaseResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "RecordIndex": {
            "type": "integer",
            "format": "int32"
          },
          "IsSuccess": {
            "type": "boolean"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ErrorMessage": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false
      },
      "BaseResponseBatchResponse": {
        "type": "object",
        "properties": {
          "Summary": {
            "type": "string",
            "nullable": true
          },
          "Results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseResponse"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CancellationResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "RecordIndex": {
            "type": "integer",
            "format": "int32"
          },
          "IsSuccess": {
            "type": "boolean"
          },
          "Errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "ErrorMessage": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          }
        },
        "additionalProperties": false,
[...]
