{
  "openapi": "3.0.0",
  "info": {
    "title": "Conga Sign",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/sign"
    }
  ],
  "paths": {
    "/v1/comprehensive": {
      "get": {
        "tags": [
          "ComprehensiveHealthCheck"
        ],
        "summary": "Checks for comprehensive health",
        "operationId": "ComprehensiveHealthCheck_CheckComprehensiveHealth",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckSummary"
                }
              }
            }
          },
          "503": {
            "description": ""
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/accessibleaccounts": {
      "get": {
        "tags": [
          "SubAccounts"
        ],
        "summary": "List sub-accounts",
        "description": "Sub-accounts enable an organization to create child accounts within its\n            master account. For example, an organization might want to create child accounts on the basis of its departments,\n            geographical locations, or lines of business. Accounts can be created on three levels (parent > child > grandchild),\n            enabling an organization to manage many account types under its master account.",
        "operationId": "SubAccounts_ListAccessibleSubAccounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessibleAccountResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings": {
      "delete": {
        "tags": [
          "AccountSettings"
        ],
        "summary": "Deletes and resets any customized Backoffice Account settings.",
        "description": "Deletes any Backoffice Account settings that you may have changed. Your Backoffice Account settings\nwill be returned to their default values.",
        "operationId": "AccountSettings_DeleteAccountSettings",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountSettings"
        ],
        "summary": "Retrieves a list of all your current Backoffice Account settings.",
        "description": "Retrieves your Backoffice Account settings. This includes feature settings, package settings,\ndesigner settings, email reminder settings, and signing UI options.",
        "operationId": "AccountSettings_GetAccountSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountSettings"
        ],
        "summary": "Updates your Backoffice Account settings with any or all changes. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes.",
        "description": "Update your Backoffice Account settings with your new settings. You can update one or more setting groups\n(feature settings, package settings, designer settings, etc.) in a single request.",
        "operationId": "AccountSettings_UpdateAccountSettings",
        "requestBody": {
          "x-name": "accountConfiguration",
          "description": "The account configuration settings to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountConfiguration"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/attachmentsBlacklist": {
      "get": {
        "tags": [
          "AccountAttachmentsBlacklist"
        ],
        "summary": "Retrieves a list of blacklisted attachment types.",
        "description": "An attachment blacklist is a list of file types that a signer cannot upload to a transaction. \nFor example, .exe files may be blacklisted, meaning that a signer cannot attach an .exe file \nto the transaction.\n\nReturns a list of blocked file extensions (e.g., \"EXE\", \"DLL\", \"MSI\", \"DMG\", \"SO\").\n\nNote: This endpoint is READ-ONLY. The blacklist is managed by OneSpan system administrators \nand cannot be modified via the API.",
        "operationId": "AccountAttachmentsBlacklist_GetAccountAttachmentsBlacklist",
        "responses": {
          "200": {
            "description": "OK - Returns list of blacklisted file extensions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/attachmentsWhitelist": {
      "delete": {
        "tags": [
          "AccountAttachmentsWhitelist"
        ],
        "summary": "Deletes and resets attachments whitelist.",
        "description": "Deletes attachments whitelist that you may have configured. \nYour attachments whitelist will be returned to their default values.\n\nAfter deletion, the system will revert to OneSpan's default allowed file types.",
        "operationId": "AccountAttachmentsWhitelist_DeleteAccountAttachmentsWhitelist",
        "responses": {
          "200": {
            "description": "OK - Whitelist reset to defaults"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountAttachmentsWhitelist"
        ],
        "summary": "Retrieves your current attachments whitelist.",
        "description": "Retrieves your attachments whitelist. The whitelist defines which file types are allowed \nas attachments in signing ceremonies.\n\nReturns a list of allowed file extensions (e.g., \"PDF\", \"TXT\", \"JPG\", \"DOC\").",
        "operationId": "AccountAttachmentsWhitelist_GetAccountAttachmentsWhitelist",
        "responses": {
          "200": {
            "description": "OK - Returns list of allowed file extensions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "AccountAttachmentsWhitelist"
        ],
        "summary": "Updates your attachments whitelist.",
        "description": "Updates your attachments whitelist. This defines which file types are allowed as attachments.\n\nProvide a list of file extensions (e.g., [\"PDF\", \"TXT\", \"JPG\", \"DOC\", \"DOCX\"]).\n\nNote: This endpoint uses PUT (full replacement), not PATCH (partial update).\nAll file types must be specified; any types not included will be removed from the whitelist.",
        "operationId": "AccountAttachmentsWhitelist_UpdateAccountAttachmentsWhitelist",
        "requestBody": {
          "x-name": "attachmentsWhitelist",
          "description": "List of allowed file extension strings",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK - Whitelist updated successfully"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/designerSettings": {
      "delete": {
        "tags": [
          "AccountDesignerSettings"
        ],
        "summary": "Deletes any Designer settings that you may have configured. Your Designer settings will be returned to their default values.",
        "description": "Deletes customized Designer settings",
        "operationId": "AccountDesignerSettings_DeleteAccountDesignerSettings",
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountDesignerSettings"
        ],
        "summary": "Retrieves your current Designer settings. Retrieved values include any customizations you may have made, as well as any current default values.",
        "description": "Retrieves your current Designer settings",
        "operationId": "AccountDesignerSettings_GetAccountDesignerSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDesignerSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountDesignerSettings"
        ],
        "summary": "Updates your account Designer settings. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes.",
        "description": "Updates your Designer settings",
        "operationId": "AccountDesignerSettings_UpdateAccountDesignerSettings",
        "requestBody": {
          "x-name": "accountDesignerSettings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountDesignerSettings"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/emailReminderSettings": {
      "delete": {
        "tags": [
          "AccountEmailReminderSettings"
        ],
        "summary": "Deletes any customized Account Email Reminder settings.",
        "description": "Deletes any account email reminder settings that you may have configured and returns them to the default value of 0 (zero).\nWhen set to 0, no email reminders will be sent.",
        "operationId": "AccountEmailReminderSettings_DeleteEmailReminderSettings",
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountEmailReminderSettings"
        ],
        "summary": "Retrieves your current Email Reminder settings.",
        "description": "Retrieves your current Email Reminder settings. This includes the amount of time to wait before sending the first email reminder (startInDaysDelay),\nthe amount of time to wait before sending any subsequent reminders (intervalInDays), and the total number of reminders to be sent (repetitionsCount).",
        "operationId": "AccountEmailReminderSettings_GetEmailReminderSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PackageReminderSchedule"
                }
              }
            }
          },
          "400": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountEmailReminderSettings"
        ],
        "summary": "Updates your account email reminder settings.",
        "description": "Updates your email reminder settings. This includes the amount of time to wait before sending the first email reminder(startInDaysDelay),\nthe amount of time to wait before sending any subsequent reminders (intervalInDays), and the total number of reminders to be sent(repetitionsCount).",
        "operationId": "AccountEmailReminderSettings_UpdateEmailReminderSettings",
        "requestBody": {
          "x-name": "emailReminderSchedule",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PackageReminderSchedule"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/featureSettings": {
      "delete": {
        "tags": [
          "AccountFeatureSettings"
        ],
        "summary": "Deletes and resets any customized Backoffice Feature settings.",
        "description": "Deletes any Backoffice Feature settings that you may have changed. Your\nBackoffice Feature settings will be returned to their default values.",
        "operationId": "AccountFeatureSettings_DeleteAccountFeatureSettings",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountFeatureSettings"
        ],
        "summary": "Retrieves a list of all your current Backoffice Feature settings.",
        "description": "Retrieves your Backoffice Feature settings. These settings are used to enable or disable features in the Backoffice.",
        "operationId": "AccountFeatureSettings_GetAccountFeatureSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFeatureSettings"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountFeatureSettings"
        ],
        "summary": "Updates your Backoffice Feature settings with any or all changes. This\ncall can be used to implement either some of the settings that you wish\nto change, or to implement all of your changes.",
        "description": "Update your Backoffice Feature settings with your new settings.",
        "operationId": "AccountFeatureSettings_PatchAccountFeatureSettings",
        "requestBody": {
          "x-name": "accountFeatureSettings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountFeatureSettings"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/limitSupportedLanguages": {
      "delete": {
        "tags": [
          "AccountSupportedLanguages"
        ],
        "summary": "Deletes your personally configured supported signing language settings.",
        "description": "Deletes any signing language settings that you may have configured for your account. \nThis includes the list of languages that can be used when signing a transaction, \nand the default language to be used by your signers in any transaction that you send.",
        "operationId": "AccountSupportedLanguages_DeleteAccountSupportedLanguages",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountSupportedLanguages"
        ],
        "summary": "Retrieves the list of supported languages that you can set for your signers.",
        "description": "Retrieves a list of languages that you have defined as being available for use by your signers \nin any transaction that you send. This includes the default signing language set by you.",
        "operationId": "AccountSupportedLanguages_GetAccountSupportedLanguages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSupportedLanguages"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountSupportedLanguages"
        ],
        "summary": "Updates your supported signing languages.",
        "description": "Defines or updates the default language to be used by your signers, and defines the list of \nsupported signer languages that can be used instead of the default one.",
        "operationId": "AccountSupportedLanguages_UpdateAccountSupportedLanguages",
        "requestBody": {
          "x-name": "accountSupportedLanguages",
          "description": "The supported languages settings to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSupportedLanguages"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/packageSettings": {
      "patch": {
        "tags": [
          "AccountPackageSettings"
        ],
        "summary": "Updates your Backoffice Package settings with any or all changes. This call can be used to implement either some of the settings that you wish to change, or to implement all of your changes",
        "description": "Update your Backoffice Package settings with your new settings",
        "operationId": "AccountPackageSettings_AddAccountPackageSettings",
        "requestBody": {
          "x-name": "accountPackageSettings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPackageSettings"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccountPackageSettings"
        ],
        "summary": "Deletes and resets any customized Backoffice Package settings",
        "description": "Deletes any Backoffice Package settings that you may have changed. Your Backoffice Package settings will be returned to their default values",
        "operationId": "AccountPackageSettings_DeleteAccountPackageSettings",
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountPackageSettings"
        ],
        "summary": "Retrieves a list of all your current Backoffice Package Settings",
        "description": "Retrieves your Backoffice Package settings",
        "operationId": "AccountPackageSettings_GetAccountPackageSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountPackageSettings"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/signatureLayout": {
      "get": {
        "tags": [
          "SignatureLayout"
        ],
        "summary": "Retrieve signature layout configuration",
        "description": "Retrieves the current signature layout configuration for the account, including logo and capture layout settings.",
        "operationId": "SignatureLayout_GetSignatureLayout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "SignatureLayout"
        ],
        "summary": "Update signature layout configuration",
        "description": "Updates the signature layout configuration for the account, including logo image and capture layout settings.",
        "operationId": "SignatureLayout_UpdateSignatureLayout",
        "requestBody": {
          "x-name": "signatureLayoutRequest",
          "description": "The signature layout configuration to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureLayoutRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/signingUiOptions": {
      "delete": {
        "tags": [
          "AccountSigningUIOptions"
        ],
        "summary": "Delete customized new signer experience settings",
        "description": "Deletes customized New Signer Experience settings. Note that if there are no customized settings for the\nNew Signer Experience then the default settings for the New Signer Experience will be returned.",
        "operationId": "AccountSigningUIOptions_DeleteAccountSigningUIOptions",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountSigningUIOptions"
        ],
        "summary": "Retrieve customized new signer experience settings",
        "description": "Retrieves customized New Signer Experience settings. Note that if there are no customized settings for the\nNew Signer Experience then the default settings for the New Signer Experience will be returned.",
        "operationId": "AccountSigningUIOptions_GetAccountSigningUIOptions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SigningUiOptions"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountSigningUIOptions"
        ],
        "summary": "Patch custom signing UI options",
        "description": "Retrieves the customized Signing UI Options.",
        "operationId": "AccountSigningUIOptions_PatchAccountSigningUIOptions",
        "requestBody": {
          "x-name": "signingUiOptions",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SigningUiOptions"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/accountSettings/systemSettings": {
      "delete": {
        "tags": [
          "AccountSystemSettings"
        ],
        "summary": "Deletes and resets any customized system settings.",
        "description": "Deletes any system settings that you may have changed. Your system settings \nwill be returned to their default values.",
        "operationId": "AccountSystemSettings_DeleteAccountSystemSettings",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountSystemSettings"
        ],
        "summary": "Retrieves your current system settings.",
        "description": "Retrieves your system settings. These settings control system-level configurations \nsuch as session timeouts, transaction lifetimes, and authentication settings.",
        "operationId": "AccountSystemSettings_GetAccountSystemSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSystemSettings"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "AccountSystemSettings"
        ],
        "summary": "Update your system settings with new settings.",
        "description": "Updates your account system settings with any or all changes. This call can be used to \nimplement either some of the settings that you wish to change, or to implement all of your changes.",
        "operationId": "AccountSystemSettings_UpdateAccountSystemSettings",
        "requestBody": {
          "x-name": "accountSystemSettings",
          "description": "The system settings to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSystemSettings"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/admin/signingLogos": {
      "post": {
        "tags": [
          "AccountSigningLogos"
        ],
        "summary": "Retrieve an account's signing ceremony logos",
        "description": "Adds, updates or deletes an account's customized signing ceremony logos. To add or update a signing ceremony logo for a language, pass the base-64 decoded image (data URI) with the language.\nTo delete all signing ceremony logos, provide an empty {} request body.\n            \nNote that\n1. The image has to be one of the following formats - jpeg, png, gif, bmp or svg.\n2. The maximum supported size for an image is 1MB\n3. The recommended dimensions for a Signing Ceremony logo is 258px X 40 px.",
        "operationId": "AccountSigningLogos_CreateAccountSigningLogos",
        "requestBody": {
          "x-name": "logoData",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SigningLogo"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "List of SigningLogo models."
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountSigningLogos"
        ],
        "summary": "Add, update, or delete signing ceremony logos",
        "description": "Retrieves an account's customized logo for use during the signing ceremony. In addition, the corresponding\nlanguage for the account is retrieved.",
        "operationId": "AccountSigningLogos_GetAccountSigningLogos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfSigningLogo"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/authentication/oauth2/clients": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Create a new OAuth2 client",
        "description": "Creates a new OAuth2 client for the authenticated account. The client will be assigned a unique\nclient ID and client secret that can be used for OAuth2 authentication flows. The client secret\nis only returned in this response and when regenerating credentials, so it should be stored securely.",
        "operationId": "OAuth2_CreateOAuth2Client",
        "requestBody": {
          "x-name": "clientCreation",
          "description": "OAuth2 client creation request with alias",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientCreation"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OAuth2 client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ClientCredentials"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid client details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "List all OAuth2 clients",
        "description": "Retrieves a list of all OAuth2 clients associated with the authenticated account.\nThis endpoint returns basic information about each OAuth2 client, including the account UID,\nclient alias, client ID, and creation timestamp. The client secret is not included in the\nresponse for security reasons.",
        "operationId": "OAuth2_ListOAuth2Clients",
        "responses": {
          "200": {
            "description": "Successfully retrieved OAuth2 clients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OAuth2Client"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/authentication/oauth2/clients/{clientId}": {
      "delete": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Delete an OAuth2 client",
        "description": "Permanently deletes an OAuth2 client from the authenticated account. Once deleted, the client ID\nand secret will no longer be valid for authentication. This action cannot be undone. Any existing\naccess tokens generated by this client will be immediately invalidated.",
        "operationId": "OAuth2_DeleteOAuth2Client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the OAuth2 client to delete",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth2 client deleted successfully"
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - OAuth2 client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/authentication/oauth2/clients/{clientId}/regenerate-secret": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Regenerate OAuth2 client secret",
        "description": "Generates a new client secret for an existing OAuth2 client. The old client secret will be\nimmediately invalidated and any existing access tokens generated with the old secret will be revoked.\nThe new client secret is only returned in this response, so it should be stored securely. This operation\nis useful for security rotation or when the client secret has been compromised.",
        "operationId": "OAuth2_RegenerateOAuth2ClientSecret",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the OAuth2 client",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OAuth2 client secret regenerated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2ClientCredentials"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - OAuth2 client not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/customfields": {
      "post": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Create a custom field",
        "operationId": "CustomFields_CreateCustomField",
        "requestBody": {
          "x-name": "customField",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "List all custom fields. Query parameters \"to\" and \"from\" are expected to navigate pages.",
        "operationId": "CustomFields_ListCustomFields",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Update a custom field",
        "operationId": "CustomFields_UpdateCustomField",
        "requestBody": {
          "x-name": "customField",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomField"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/customfields/{customFieldId}": {
      "delete": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Delete a custom account field by ID",
        "operationId": "CustomFields_DeleteCustomField",
        "parameters": [
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "CustomFields"
        ],
        "summary": "Retrieve an account specified custom field",
        "operationId": "CustomFields_GetCustomField",
        "parameters": [
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomField"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/roles": {
      "post": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Create a new account role",
        "description": "Adds an account role to an account. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_CreateAccountRole",
        "requestBody": {
          "x-name": "accountRoleWithoutId",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRoleWithoutId"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Retrieve account role information",
        "description": "Retrieves account role information, such as name and permissions, for the current system account. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_ListRoles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfAccountRole"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/roles/{accountRoleId}": {
      "delete": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Delete an account role",
        "description": "Deletes an account role using the specified ID. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_DeleteAccountRole",
        "parameters": [
          {
            "name": "accountRoleId",
            "in": "path",
            "required": true,
            "description": "The unique role id.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "304": {
            "description": "Not Modified Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Retrieve an account role",
        "description": "Retrieves an account role using the specified ID. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_GetAccountRole",
        "parameters": [
          {
            "name": "accountRoleId",
            "in": "path",
            "required": true,
            "description": "The unique role id.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountRole"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Update an account role",
        "description": "Updates an account role, for example, to change permission settings or a role name. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions, contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_UpdateAccountRole",
        "parameters": [
          {
            "name": "accountRoleId",
            "in": "path",
            "required": true,
            "description": "The unique role id.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "accountRoleWithoutId",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRoleWithoutId"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountRole"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/roles/{accountRoleId}/users": {
      "get": {
        "tags": [
          "AccountRoles"
        ],
        "summary": "Retrieve user IDs assigned to a role",
        "description": "Retrieves the list of user IDs assigned to a given role. Using this call requires roles and permissions to be enabled on your account. To enable roles and permissions contact your Conga Sign sales representative.",
        "operationId": "AccountRoles_GetAccountUsers",
        "parameters": [
          {
            "name": "accountRoleId",
            "in": "path",
            "required": true,
            "description": "The unique role id.",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/v1/cs-account/senders": {
      "post": {
        "tags": [
          "Sender"
        ],
        "summary": "Create a user",
        "description": "Creates a new user in an account.",
        "operationId": "Sender_CreateSender",
        "requestBody": {
          "x-name": "sender",
          "description": "The sender account payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Sender"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sender"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
            "description": "Not Authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Sender"
        ],
        "summary": "List users in an account",
        "description": "Retrieves a list of the users in an account. Optional query parameters can be used to filter the list. By default, only one sender is retrieved. To retrieve additional users you must modify the \"to\" and \"from\" parameters, where each number in the parameter corresponds to a user. For example: to = 3 from = 10 Will return users 3 to 10 in the user list.",
        "operationId": "Sender_ListSenders",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Any text which is going to be used in conjunction with the searchtype if provided. ",
            "schema": {
              "type": "string"
            },
            "x-position": 1
          },
          {
            "name": "from",
            "in": "query",
            "description": "The first record that will be returned. Useful for pagination. ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "to",
            "in": "query",
            "description": "The last record that will be returned. Useful for pagination. ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 3
          },
          {
            "name": "dir",
            "in": "query",
            "description": "The direction according to which the data will be sorted. 'asc' for ascending and 'desc' for descending.",
            "schema": {
              "type": "string"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultOfSender"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error2"
                }
              }
            }
          },
          "401": {
[...]
