{
  "openapi": "3.0.1",
  "info": {
    "title": "Billing Management",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com/api/billing/v1"
    }
  ],
  "paths": {
    "/custom-plan-templates": {
      "patch": {
        "tags": [
          "Custom Plan Template"
        ],
        "summary": "Edit custom plan template",
        "description": "Edit multiple custom plan template records along with template line items and returns the updated custom plan template record IDs.",
        "requestBody": {
          "description": "The list of plan template and plan template line item records to update",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Id-1\",\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"Items\": [\n      {\n        \"Id\": \"LineItemId-1\",\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Id\": \"PaymentTermId\",\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Id-1\",\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"Items\": [\n      {\n        \"Id\": \"LineItemId-1\",\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Id\": \"PaymentTermId\",\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Id\": \"Id-1\",\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"Items\": [\n      {\n        \"Id\": \"LineItemId-1\",\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Id\": \"PaymentTermId\",\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Custom Plan Template"
        ],
        "summary": "Create a custom plan template with  line items",
        "description": "This API allows you to create one or multiple custom billing plan templates in a single request. Each template can include \r\nits own set of line items (installments or milestones), and the API validates all input before committing any records. \r\nThis endpoint is bulkified, so you can efficiently create several templates at once, and it provides detailed feedback for each record in the batch.",
        "requestBody": {
          "description": "The list of plan template and plan template line item records to create",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"PlanType\": \"MileStone\",\n    \"BasedOn\": \"Percentage\",\n    \"Items\": [\n      {\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"PlanType\": \"MileStone\",\n    \"BasedOn\": \"Percentage\",\n    \"Items\": [\n      {\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanTemplateRequest"
                }
              },
              "example": "[\n  {\n    \"Name\": \"Monthly Billing Plan\",\n    \"PeriodsNeeded\": false,\n    \"NumberOfInstallments\": 1,\n    \"ComputationMethod\": \"Custom\",\n    \"StartDateBasedOn\": \"Custom\",\n    \"Description\": \"Example plan for 12-month billing\",\n    \"PlanType\": \"MileStone\",\n    \"BasedOn\": \"Percentage\",\n    \"Items\": [\n      {\n        \"Name\": \"Initial Payment\",\n        \"OffsetType\": \"Months\",\n        \"OffsetNumber\": 1,\n        \"Percent\": 100,\n        \"PaymentTerm\": {\n          \"Name\": \"Net 30 Days\"\n        }\n      }\n    ]\n  }\n]"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plan-templates/activate": {
      "patch": {
        "tags": [
          "Custom Plan Template"
        ],
        "summary": "Activate or deactivate a list of custom plan templates",
        "description": "This API is used to activate or deactivate one or more custom Plan Templates in bulk. \r\nYou provide a list of template IDs along with the desired active status (true for activate, false for deactivate). The API processes each request individually, \r\nvalidates prerequisites (such as template existence and readiness), and returns a batch response indicating the success or failure for each template.",
        "requestBody": {
          "description": "Contains the list of custom plan template id and true/false to activate or deactivate the custom plan template.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanToggleActiveRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanToggleActiveRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CustomPlanToggleActiveRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plan-templates/{planTemplateId}": {
      "get": {
        "tags": [
          "Custom Plan Template"
        ],
        "summary": "Retrieve a custom plan template record",
        "description": "This API endpoint allows you to retrieve a specific custom Plan Template by its unique identifier (planTemplateId).",
        "parameters": [
          {
            "name": "planTemplateId",
            "in": "path",
            "description": "The identifier of the custom plan template",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlanTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanTemplate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plan-templates/{planTemplateId}/activate": {
      "patch": {
        "tags": [
          "Custom Plan Template"
        ],
        "summary": "Activate or deactivate a custom plan template",
        "description": "This API allows you to activate or deactivate a specific custom plan template by passing its unique identifier (planTemplateId) \r\nin the route and the desired status (active=true or active=false) as a query parameter. The API processes the request and updates the \r\ntemplate’s active status accordingly.",
        "parameters": [
          {
            "name": "planTemplateId",
            "in": "path",
            "description": "Custom plan template id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active flag value",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plans": {
      "delete": {
        "tags": [
          "Custom Plans"
        ],
        "summary": "Delete custom plan records",
        "description": "Deletes one or more custom plans along with their associated plan line items.",
        "requestBody": {
          "description": "A list of custom plan identifiers to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResponseWrapper"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plans/search": {
      "post": {
        "tags": [
          "Custom Plans"
        ],
        "summary": "Retrieve custom plans and their line items",
        "description": "This API endpoint allows users to search and fetch custom plans and their corresponding line items. This endpoint is typically used in billing workflows where users need to retrieve customized plans and their detailed line items for invoicing, reporting, or subscription management.",
        "parameters": [
          {
            "name": "includes",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "description": "A list of search criteria for custom plans and their line items",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomPlanAndLineItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomPlanAndLineItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomPlanAndLineItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomPlan"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomPlan"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomPlan"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom-plans/{customPlanId}": {
      "get": {
        "tags": [
          "Custom Plans"
        ],
        "summary": "Retrieve a custom plan record",
        "description": "Retrieves the details of a custom plan based on its unique identifier. This API is typically used when users need to fetch detailed information about a specific custom plan, optionally including related data for comprehensive insights.",
        "parameters": [
          {
            "name": "customPlanId",
            "in": "path",
            "description": "The identifier of the custom plan",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPlan"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPlan"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPlan"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast": {
      "post": {
        "tags": [
          "Forecast Billing"
        ],
        "summary": "Create forecast data",
        "description": "Create forecast data for Proposal, Product Configuration, Order, LineItem, and OrderLineItem.",
        "requestBody": {
          "description": "Forecast Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/regenerate-forecast-summary": {
      "post": {
        "tags": [
          "Forecast Billing"
        ],
        "summary": "Regenerate forecast summary",
        "description": "Regenerate forecast summary for Proposal, Product Configuration, Order based on Summary Criteria passed.",
        "requestBody": {
          "description": "Forecast Summary Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastSummaryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastSummaryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ForecastSummaryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ForecastSummaryResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/forecast/{businessObjectType}/{businessObjectId}": {
      "get": {
        "tags": [
          "Forecast Billing"
        ],
        "summary": "Retrieve forecast data",
        "description": "Retrieve forecast data for Proposal, Product Configuration, Order, LineItem, and OrderLineItem.",
        "parameters": [
          {
            "name": "businessObjectType",
            "in": "path",
            "description": "Business object type can be Proposal, ProductConfiguration, Order, LineItem or  OrderLineItem",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessObjectId",
            "in": "path",
            "description": "Id of the Business object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForecastScheduleResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/job-status/{id}": {
      "get": {
        "tags": [
          "JobStatus"
        ],
        "summary": "Get job status",
        "description": "Retrieves job status details for the given job or record.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A unique identifier of the job or Record Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/milestone/complete": {
      "put": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Mark billing schedule details complete",
        "description": "This API marks milestone-type billing schedule details as complete. When the milestones are complete, the actual fee amount is computed using the percentage of TCV (sales) contained in the BSDs.",
        "requestBody": {
          "description": "Complete Milestone Requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CompleteMilestoneRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CompleteMilestoneRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CompleteMilestoneRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompleteMilestoneResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/milestone/header": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get billing schedule details for billing headers",
        "description": "The API fetches the milestone-type billing schedule details for a list of billing header IDs. Click **ADD OBJECT** to enter the required parameters. Click **ADD STRING** in the ObjectIds field to enter the billing header ID. Repeat this to add more billing header IDs.",
        "requestBody": {
          "description": "Milestone Schedule Requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/milestone/header/{billingHeaderId}": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get billing schedule details for a billing header",
        "description": "The API fetches milestone-type billing schedule details for a billing header. Enter the billing header ID in the billingHeaderId field to fetch the billing schedule detail.",
        "parameters": [
          {
            "name": "billingHeaderId",
            "in": "path",
            "description": "Billing Header Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Filter to query billing schedule details of milestone type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingHeaderMilestoneResponse"
                }
              }
            }
          }
        }
      }
    },
    "/milestone/order-line-item": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get billing schedule details for order line items",
        "description": "The API fetches milestone-type billing schedule details for a list of order line-item IDs. Click **ADD OBJECT** to enter the required parameters. Click **ADD STRING** in the ObjectIds field to enter the order line item ID. Repeat this to add multiple order line item IDs.",
        "requestBody": {
          "description": "Milestone Schedule Requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/milestone/order-line-item/{orderLineItemId}": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get billing schedule details for an order line item",
        "description": "This API fetches the milestone-type billing schedule details for one order line item ID. Enter the order line item ID in the orderLineItemId field to fetch the billing schedule detail.",
        "parameters": [
          {
            "name": "orderLineItemId",
            "in": "path",
            "description": "Order Line Item Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Filter to query billing schedule details of milestone type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderLineItemMilestoneResponse"
                }
              }
            }
          }
        }
      }
    },
    "/milestone/schedule-record": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get milestone-type billing schedule details by record IDs",
        "description": "The API fetches milestone-type billing schedule details for a list of billing schedule record IDs. Click **ADD OBJECT** to enter the required parameters. Click **ADD STRING** in the ObjectIds field to enter the billing schedule record ID. Repeat this to add billing schedule record IDs.",
        "requestBody": {
          "description": "Milestone Schedule Requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MilestoneScheduleRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/milestone/schedule-record/{scheduleRecordId}": {
      "post": {
        "tags": [
          "Milestone Schedule"
        ],
        "summary": "Get milestone-type billing schedule details by a record ID",
        "description": "The API fetches milestone-type billing schedule details for a billing schedule by record ID. Enter the billing schedule record ID in the scheduleRecordId field to fetch the billing schedule detail.",
        "parameters": [
          {
            "name": "scheduleRecordId",
            "in": "path",
            "description": "Billing Schedule Record Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Filter to query billing schedule details of milestone type",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneScheduleFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingScheduleRecordMilestoneResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-terms": {
      "get": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Retrieve the collection of payment term records",
        "description": "Retrieves the collection of payment term records",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional name of the fields to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Optional filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTerm"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "IsDefault": true,
                    "IsSystemCreated": false,
                    "Description": "This is a example payment term.",
                    "Type": "Compute",
                    "StartBasis": "Days",
                    "StartValue": 30,
                    "FirstQuarterStartingMonth": "January",
                    "OffsetType1": "End of the Month",
                    "OffsetValue1": 0,
                    "OffsetType2": "Days",
                    "OffsetValue2": 10,
                    "OffsetType3": "Start of the Quarter",
                    "OffsetValue3": 0,
                    "Id": "PaymentTermIdToUpdate",
                    "Name": "Updated Payment Term Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTerm"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "IsDefault": true,
                    "IsSystemCreated": false,
                    "Description": "This is a example payment term.",
                    "Type": "Compute",
                    "StartBasis": "Days",
                    "StartValue": 30,
                    "FirstQuarterStartingMonth": "January",
                    "OffsetType1": "End of the Month",
                    "OffsetValue1": 0,
                    "OffsetType2": "Days",
                    "OffsetValue2": 10,
                    "OffsetType3": "Start of the Quarter",
                    "OffsetValue3": 0,
                    "Id": "PaymentTermIdToUpdate",
                    "Name": "Updated Payment Term Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTerm"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "IsDefault": true,
                    "IsSystemCreated": false,
                    "Description": "This is a example payment term.",
                    "Type": "Compute",
                    "StartBasis": "Days",
                    "StartValue": 30,
                    "FirstQuarterStartingMonth": "January",
                    "OffsetType1": "End of the Month",
                    "OffsetValue1": 0,
                    "OffsetType2": "Days",
                    "OffsetValue2": 10,
                    "OffsetType3": "Start of the Quarter",
                    "OffsetValue3": 0,
                    "Id": "PaymentTermIdToUpdate",
                    "Name": "Updated Payment Term Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Update payment term records",
        "description": "Updates multiple payment term records and returns the updated payment term records with IDs.",
        "requestBody": {
          "description": "The list of payment term records with updated data",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Id\": \"PaymentTermIdToUpdate\",\n    \"Name\": \"Updated Payment Term Name\"\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Id\": \"PaymentTermIdToUpdate\",\n    \"Name\": \"Updated Payment Term Name\"\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Id\": \"PaymentTermIdToUpdate\",\n    \"Name\": \"Updated Payment Term Name\"\n  }\n]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Create payment term records",
        "description": "Creates multiple payment term records and returns the created records with their IDs.",
        "requestBody": {
          "description": "The list of payment term records",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Name\": \"Payment Term Name\"\n  }\n]"
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Name\": \"Payment Term Name\"\n  }\n]"
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "example": "[\n  {\n    \"Active\": true,\n    \"IsDefault\": true,\n    \"IsSystemCreated\": false,\n    \"Description\": \"This is a example payment term.\",\n    \"Type\": \"Compute\",\n    \"StartBasis\": \"Days\",\n    \"StartValue\": 30,\n    \"FirstQuarterStartingMonth\": \"January\",\n    \"OffsetType1\": \"End of the Month\",\n    \"OffsetValue1\": 0,\n    \"OffsetType2\": \"Days\",\n    \"OffsetValue2\": 10,\n    \"OffsetType3\": \"Start of the Quarter\",\n    \"OffsetValue3\": 0,\n    \"Name\": \"Payment Term Name\"\n  }\n]"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-terms/activate": {
      "patch": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Activate or deactivate a list of payment term records",
        "description": "Toggles the Active flag for the ID's passed for payment term records.",
        "requestBody": {
          "description": "Contains the list of payment term id and true/false to activate or deactivate the payment term.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTermToggleActiveRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTermToggleActiveRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PaymentTermToggleActiveRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-terms/{id}": {
      "get": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Get a payment term record",
        "description": "Retrieves a single payment term record by its identifier.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier of the payment term",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTerm"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-terms/{id}/default": {
      "put": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Mark the payment term record as default",
        "description": "Marks the passed ID of the payment term record as org default. There can be only one default payment term record.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "payment term id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/payment-terms/{paymentTermId}/activate": {
      "patch": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Activate or deactivate a payment term record",
        "description": "Toggles the Active flag for the ID passed for a payment term record.",
        "parameters": [
          {
            "name": "paymentTermId",
            "in": "path",
            "description": "Payment term id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active flag value",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/preferences": {
      "get": {
        "tags": [
          "Preferences"
        ],
        "summary": "List preference records",
        "description": "Retrieves the collection of preference records.\r\nTo access Billing Preference History records, ensure the \"includes\" parameter is set to \"history\".",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter parameters",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "includes",
            "in": "query",
            "description": "Optional related entities to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Optional name of the fields to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Optional filter expression",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingPreference"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "Default": true,
                    "BillingCycleStart": "Billing Day of Month",
                    "BillingDayOfMonth": "1st of the Month",
                    "BillingDayOfWeek": "Monday",
                    "CalendarCycleStart": "January",
                    "ProrationComputationMethod": "Calendar Days of First Month",
                    "ProrateWhenBilledAsOneTime": true,
                    "SplitDistributionMethod": "Defer to the last schedule",
                    "EvergreenBillingScheduleRecordsCreationOption": "Ahead of time",
                    "CreateBillingForInformationalProducts": "Yes",
                    "SyncBillingInfoDuringAmendment": true,
                    "Id": "BillingPreferenceIdToUpdate",
                    "Name": "Updated Billing Preference Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingPreference"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "Default": true,
                    "BillingCycleStart": "Billing Day of Month",
                    "BillingDayOfMonth": "1st of the Month",
                    "BillingDayOfWeek": "Monday",
                    "CalendarCycleStart": "January",
                    "ProrationComputationMethod": "Calendar Days of First Month",
                    "ProrateWhenBilledAsOneTime": true,
                    "SplitDistributionMethod": "Defer to the last schedule",
                    "EvergreenBillingScheduleRecordsCreationOption": "Ahead of time",
                    "CreateBillingForInformationalProducts": "Yes",
                    "SyncBillingInfoDuringAmendment": true,
                    "Id": "BillingPreferenceIdToUpdate",
                    "Name": "Updated Billing Preference Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillingPreference"
                  }
                },
                "example": [
                  {
                    "Active": true,
                    "Default": true,
                    "BillingCycleStart": "Billing Day of Month",
                    "BillingDayOfMonth": "1st of the Month",
                    "BillingDayOfWeek": "Monday",
                    "CalendarCycleStart": "January",
                    "ProrationComputationMethod": "Calendar Days of First Month",
                    "ProrateWhenBilledAsOneTime": true,
                    "SplitDistributionMethod": "Defer to the last schedule",
                    "EvergreenBillingScheduleRecordsCreationOption": "Ahead of time",
                    "CreateBillingForInformationalProducts": "Yes",
                    "SyncBillingInfoDuringAmendment": true,
                    "Id": "BillingPreferenceIdToUpdate",
                    "Name": "Updated Billing Preference Name",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  }
                ]
              }
            }
          },
          "204": {
[...]
