{
  "openapi": "3.0.1",
  "info": {
    "title": "Asset",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    },
    {
      "url": "https://preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/asset/v1/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List asset line items",
        "description": "Retrieves all asset line items for the given account(s).",
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "description": "List of accounts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specify the sort order and a sort field separated by any of these characters: \" \", \",\", \"(\", \")\", \";\". Sort order is ascending by default\r\n            <p><ul><li> Sample input to sort by Quantity field in descending order: `desc Quantity`</li><li> Sample input to sort by Quantity field in ascending order: `Quantity`</li></ul></p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Add conditional filters in standard URI format to narrow the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Specifies a logical expression to combine multiple filter conditions, use numbers to reference filter indexes (1-based) with logical operators (AND, OR). Example:\r\n            <p><ul><li> \"1 AND 2\" - Both first and second filters must be satisfied</li><li> \"(1 OR 2) AND 3\" - Either first or second filter must be satisfied, and third filter must be satisfied</li><li>  Leave empty to apply all filters with AND logic by default</li></ul></p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "query",
            "description": "The cart's unique identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify the page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specify the number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "fetchTopLevelBundlesOnly",
            "in": "query",
            "description": "Indicates whether only a root-level bundle or standalone asset must be fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "productSearchString",
            "in": "query",
            "description": "Searches against product fields to filter assets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fetchAttributes",
            "in": "query",
            "description": "Indicates whether attribute must be fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "rootLineItemFilter",
            "in": "query",
            "description": "Indicates filters that should be applied only to root line items. \r\n           <remarks>\r\n           Ensure the `fetchTopLevelBundlesOnly` flag is set to `true` when passing a root filter.\r\n           If not provided, the API will automatically default it to `true`.\r\n           </remarks>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/group-summary": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Fetch grouping summary of asset line items",
        "description": "Retrieves Grouped summary of asset line items for the given account(s) based on the grouping field.",
        "parameters": [
          {
            "name": "accountIds",
            "in": "query",
            "description": "List of accounts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "groupingField",
            "in": "query",
            "description": "Asset Line Item Field Api name to group assets by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartId",
            "in": "query",
            "description": "The cart's unique identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productSearchString",
            "in": "query",
            "description": "Searches against product fields to filter assets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Add conditional filters in standard URI format to narrow the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Specifies a logical expression to combine multiple filter conditions, use numbers to reference filter indexes (1-based) with logical operators (AND, OR). Example:\r\n            <p><ul><li> \"1 AND 2\" - Both first and second filters must be satisfied</li><li> \"(1 OR 2) AND 3\" - Either first or second filter must be satisfied, and third filter must be satisfied</li><li>  Leave empty to apply all filters with AND logic by default</li></ul></p>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/related-purchases": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "List related purchased assets for given asset ids",
        "description": "Retrieves all related purchased assets for the given assetId(s).",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Add conditional filters in standard URI format to narrow the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Specifies a logical expression to combine multiple filter conditions, use numbers to reference filter indexes (1-based) with logical operators (AND, OR). Example:\r\n            <p><ul><li> \"1 AND 2\" - Both first and second filters must be satisfied</li><li> \"(1 OR 2) AND 3\" - Either first or second filter must be satisfied, and third filter must be satisfied</li><li>  Leave empty to apply all filters with AND logic by default</li></ul></p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify the page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specify the number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "productSearchString",
            "in": "query",
            "description": "Searches against product fields to filter assets.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of assets",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List asset line items",
        "description": "Retrieves all asset line items for the given account(s).",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountIds",
            "in": "query",
            "description": "List of accounts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Specify the sort order and a sort field separated by any of these characters: \" \", \",\", \"(\", \")\", \";\". Sort order is ascending by default\r\n            <p><ul><li> Sample input to sort by Quantity field in descending order: `desc Quantity`</li><li> Sample input to sort by Quantity field in ascending order: `Quantity`</li></ul></p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Add conditional filters in standard URI format to narrow the search results.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "filterExpression",
            "in": "query",
            "description": "Specifies a logical expression to combine multiple filter conditions, use numbers to reference filter indexes (1-based) with logical operators (AND, OR). Example:\r\n            <p><ul><li> \"1 AND 2\" - Both first and second filters must be satisfied</li><li> \"(1 OR 2) AND 3\" - Either first or second filter must be satisfied, and third filter must be satisfied</li><li>  Leave empty to apply all filters with AND logic by default</li></ul></p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify the page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specify the number of records per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "fetchTopLevelBundlesOnly",
            "in": "query",
            "description": "Indicates whether only a root-level bundle or standalone asset must be fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "productSearchString",
            "in": "query",
            "description": "Searches against product fields to filter assets.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fetchAttributes",
            "in": "query",
            "description": "Indicates whether attribute must be fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "rootLineItemFilter",
            "in": "query",
            "description": "Indicates filters that should be applied only to root line items. \r\n           <remarks>\r\n           Ensure the `fetchTopLevelBundlesOnly` flag is set to `true` when passing a root filter.\r\n           If not provided, the API will automatically default it to `true`.\r\n           </remarks>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": true
      }
    },
    "/api/asset/v1/assets/{cartId}/change": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Change a cart's assets",
        "description": "Changes the list of assets provided for a given cart.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of asset IDs to change",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/change-configuration": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Configure an asset",
        "description": "Changes the configuration of an asset provided for a given cart.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Asset Change Config Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/change-quantity": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Change quantity",
        "description": "Updates the quantity characteristic of assets in a given cart's asset list. This API updates the associated or implied quantity that any asset has. The AssetChangeQuantityRequest request parameter lists items the API can act on. You can change the quantities of multiple assets in a single request.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of AssetChangeQuantityRequest parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/renew": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Renew a cart's assets",
        "description": "Renews the listed assets for a given cart.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useAssetPrice",
            "in": "query",
            "description": "Flag for using existing asset price and skipping config/pricing",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "RenewAssetRequest, containing the asset IDs, renew date, and renew term needed to renew asset records",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/restore": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Restore line items",
        "description": "Restores line-item fields to their original values from the asset line item.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of asset restore line items",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/resume": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Resume assets",
        "description": "Resumes the listed assets.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of AssetResumeRequest parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetResumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/suspend": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Suspend assets",
        "description": "Suspends the listed assets by date. This API suspends an existing asset based on the suspension date. It remains suspended until the suspension end date.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of AssetSuspendRequest parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/swap": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Swap an asset",
        "description": "Swaps an asset with any eligible replacement product, effective a given date.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "assetSwapRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetSwapRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/terminate": {
      "post": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Terminate a cart's assets",
        "description": "Terminates the assets listed for a given cart.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of asset IDs to terminate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/assets/{cartId}/termination-date": {
      "get": {
        "tags": [
          "AssetActions"
        ],
        "summary": "Get termination date",
        "description": "Gets the default asset termination date based on the callback.",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cart's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/product/{productId}/replacement-products": {
      "get": {
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priceListId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortorder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/terminate-preview": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Calculates metrics for asset termination based on the provided termination date",
        "requestBody": {
          "description": "Asset Terminate Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/{assetId}/coterm": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get assets by co-termination criteria",
        "description": "Retrieves assets with identical values in specified criteria fields within the same account. Primarily used to amend asset co-termination during quantity changes.",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "Input AssetLineItem ID for which you want to fetch the co-termination assets based on PurchaseIdentificationCriteria. This asset ID must be from a primary line item and not from an option line.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "Sold to the asset's account ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/asset/v1/{parentAssetId}/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get child asset line items",
        "description": "Retrieves all the child asset line items (primary, secondary, and option) associated with a parent bundle (excluding the parent bundle record).",
        "parameters": [
          {
            "name": "parentAssetId",
            "in": "path",
            "description": "Root bundle/standalone asset ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Add conditional filters in standard URI format to narrow the search result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Specify the page number.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Specify the number of records per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "fetchAttributes",
            "in": "query",
            "description": "Indicates whether attribute must be fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Conga.Revenue.Asset.Manager.Model.AssetChangeConfigRequest": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "string",
            "nullable": true
          },
          "EffectiveStartDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetChangeQuantityRequest": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "string",
            "nullable": true
          },
          "Quantity": {
            "type": "number",
            "format": "double"
          },
          "IsUpdateExistingAsset": {
            "type": "boolean"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "CotermAssetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetRestoreLineItem": {
        "type": "object",
        "properties": {
          "RenewalStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "RenewalEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.LineItem"
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetResumeRequest": {
        "type": "object",
        "properties": {
          "AssetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LineItemFieldsToBeUpdated": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetSuspendRequest": {
        "type": "object",
        "properties": {
          "AssetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Term": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "LineItemFieldsToBeUpdated": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetSwapRequest": {
        "type": "object",
        "properties": {
          "AssetId": {
            "type": "string",
            "nullable": true
          },
          "EffectiveSwapDate": {
            "type": "string",
            "format": "date-time"
          },
          "ProductId": {
            "type": "string",
            "nullable": true
          },
          "LineItemFieldsToBeUpdated": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.AssetTerminateRequest": {
        "type": "object",
        "properties": {
          "AssetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AssetTerminationDate": {
            "type": "string",
            "format": "date-time"
          },
          "LineItemFieldsToBeUpdated": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Asset.Manager.Model.RenewAssetsRequest": {
        "type": "object",
        "properties": {
          "FarthestAssetEndDate": {
            "type": "boolean"
          },
          "RenewTerm": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "AssetIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "RenewEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Conga.Revenue.Entities.AssetLineItem": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "AddedBy": {
            "type": "string",
            "nullable": true
          },
          "AgreementId": {
            "type": "string",
            "nullable": true
          },
          "AgreementLineItemId": {
            "type": "string",
            "nullable": true
          },
          "AdjustedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AllowedActions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "AssetARR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AssetCode": {
            "type": "string",
            "nullable": true
          },
          "AssetMRR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AssetNumber": {
            "type": "string",
            "nullable": true
          },
          "AssetStatus": {
            "type": "string",
            "nullable": true
          },
          "AssetTCV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ACV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseTCV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ContractionTCV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ExpansionTCV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "GRR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NRR": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AutoRenewalType": {
            "type": "string",
            "nullable": true
          },
          "AutoRenewal": {
            "type": "boolean",
            "nullable": true
          },
          "AvailableBalance": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseExtendedCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BasePrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BasePriceMethod": {
            "type": "string",
            "nullable": true
          },
          "BillingDayOfMonth": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BillingEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "BillingFrequency": {
            "type": "string",
            "nullable": true
          },
          "BillingRule": {
            "type": "string",
            "nullable": true
          },
          "BillingStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "BillingThroughDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "BusinessLineItemId": {
            "type": "string",
            "nullable": true
          },
          "BusinessObjectId": {
            "type": "string",
            "nullable": true
          },
          "BusinessObjectType": {
            "type": "string",
            "nullable": true
          },
          "CancelledDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ChargeGroupId": {
            "type": "string",
            "nullable": true
          },
          "Comments": {
            "type": "string",
            "nullable": true
          },
          "ChargeType": {
            "type": "string",
            "nullable": true
          },
          "CurrentContractStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "CurrentContractTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TotalContractTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "CurrentContractUnitPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "CurrentContractValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DeltaPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DeltaQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExtendedCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ExtendedDescription": {
            "type": "string",
            "nullable": true
          },
          "ExtendedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Frequency": {
            "type": "string",
            "nullable": true
          },
          "HasAttributes": {
            "type": "boolean",
            "nullable": true
          },
          "HasOptions": {
            "type": "boolean",
            "nullable": true
          },
          "HideInvoiceDisplay": {
            "type": "boolean",
            "nullable": true
          },
          "InitalActivationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "IsHistory": {
            "type": "boolean",
            "nullable": true
          },
          "IsInActive": {
            "type": "boolean",
            "nullable": true
          },
          "IsOptionRollupLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimaryLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimaryRampLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimaryService": {
            "type": "boolean",
            "nullable": true
          },
          "IsReadOnly": {
            "type": "boolean",
            "nullable": true
          },
          "IsRenewalPending": {
            "type": "boolean",
            "nullable": true
          },
          "IsRenewed": {
            "type": "boolean",
            "nullable": true
          },
          "IsUsageTierModifiable": {
            "type": "boolean",
            "nullable": true
          },
          "ItemSequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LastRenewEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LineType": {
            "type": "string",
            "nullable": true
          },
          "ListPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MaxUsageQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MinUsageQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MustUpgrade": {
            "type": "boolean",
            "nullable": true
          },
          "NetPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NetUnitPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NextRenewalEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "OptionCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OptionPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OriginalStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ParentBundleNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PriceGroup": {
            "type": "string",
            "nullable": true
          },
          "PriceIncludedInBundle": {
            "type": "boolean",
            "nullable": true
          },
          "PriceMethod": {
            "type": "string",
            "nullable": true
          },
          "PriceType": {
            "type": "string",
            "nullable": true
          },
          "PriceUom": {
            "type": "string",
            "nullable": true
          },
          "PricingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PrimaryLineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ProductType": {
            "type": "string",
            "nullable": true
          },
          "PurchaseDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PurchaseId": {
            "type": "string",
            "nullable": true
          },
          "Quantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RenewalAdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RenewalAdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "RenewalDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "RenewalFrequency": {
            "type": "string",
            "nullable": true
          },
          "RenewalTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "SellingFrequency": {
            "type": "string",
            "nullable": true
          },
          "SellingTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "SellingUom": {
            "type": "string",
            "nullable": true
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Taxable": {
            "type": "boolean",
            "nullable": true
          },
          "TaxInclusive": {
            "type": "boolean",
            "nullable": true
          },
          "Term": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TotalBalance": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TotalQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ProposalId": {
            "type": "string",
            "nullable": true
          },
          "ProposalLineItemId": {
            "type": "string",
            "nullable": true
          },
          "ProductVersion": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Account": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "AssetAttributeValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetLineItemAttribute"
            },
            "nullable": true
          },
          "BillingPlan": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BillingPreference": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BillToAccount": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BundleAssetLineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "LegalEntity": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "Location": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "Option": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Product"
          },
          "PaymentTerm": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "PriceList": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ParentAsset": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetLineItem"
          },
          "PriceListItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.PriceListItem"
          },
          "Product": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Product"
          },
          "ShipToAccount": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "TaxCode": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "AssetUsagePriceTiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetUsagePriceTier"
            },
            "nullable": true
          },
          "Attribute": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.AssetLineItemAttribute": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "AttributeName": {
            "type": "string",
            "nullable": true
          },
          "AttributeValue": {
            "type": "string",
            "nullable": true
          },
          "AssetLineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetLineItem"
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.AssetUsagePriceTier": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "AdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "CommitmentQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Dimension1Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension2Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension3Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension4Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension5Value": {
            "type": "string",
            "nullable": true
          },
          "Dimension6Value": {
            "type": "string",
            "nullable": true
          },
          "FlatPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IsCommitted": {
            "type": "boolean",
            "nullable": true
          },
          "IsIncluded": {
            "type": "boolean",
            "nullable": true
          },
          "PeriodEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PeriodStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PriceAdjustment": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "PriceOverride": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32"
          },
          "TierEndValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TierStartValue": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "UsageRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AssetLineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetLineItem"
          },
          "PriceMatrix": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.Attribute": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "DefaultValue": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "DisplayName": {
            "type": "string",
            "nullable": true
          },
          "IsRequired": {
            "type": "boolean",
            "nullable": true
          },
          "LookupObjectName": {
            "type": "string",
            "nullable": true
          },
          "PickListValue": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Revenue.Entities.Platform.PickListValueItem"
            },
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "HelpText": {
            "type": "string",
            "nullable": true
          },
          "Precision": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "Scale": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.AttributeGroup": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "AttributeMatrixId": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "ThreeColumnAttributeDisplay": {
            "type": "boolean",
            "nullable": true
          },
          "TwoColumnAttributeDisplay": {
            "type": "boolean",
            "nullable": true
          },
          "AttributeGroupMembers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Revenue.Entities.AttributeGroupMember"
            },
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.AttributeGroupMember": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "Attribute": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Attribute"
          },
          "AttributeGroupId": {
            "type": "string",
            "nullable": true
          },
          "AttributeId": {
            "type": "string",
            "nullable": true
          },
          "CascadeSharedAttributeStatus": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "CascadeSharedAttributeUpdates": {
            "type": "string",
            "nullable": true
          },
          "DisplayType": {
            "type": "string",
            "nullable": true
          },
          "IsHidden": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimary": {
            "type": "boolean",
            "nullable": true
          },
          "IsReadOnly": {
            "type": "boolean",
            "nullable": true
          },
          "Sequence": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.AttributeGroupTranslation": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "AttributeGroupTranslationName": {
            "type": "string",
            "nullable": true
          },
          "ProductAttributeGroupId": {
            "type": "string",
            "nullable": true
          },
          "ProductAttributeGroup": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.ProductAttributeGroup"
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.BaseEntity": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.Category": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "AncestorId": {
            "type": "string",
            "nullable": true
          },
          "AncestorPath": {
            "type": "string",
            "nullable": true
          },
          "HierarchyId": {
            "type": "string",
            "nullable": true
          },
          "DefaultSearchCategory": {
            "type": "boolean"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "ExpandedByDefault": {
            "type": "boolean"
          },
          "GuidePage": {
            "type": "string",
            "nullable": true
          },
          "HideAllSearchFilters": {
            "type": "boolean"
          },
          "ImageURL": {
            "type": "string",
            "nullable": true
          },
          "IncludeInTotalsView": {
            "type": "boolean"
          },
          "IsHidden": {
            "type": "boolean"
          },
          "IsLeaf": {
            "type": "boolean",
            "nullable": true
          },
          "IsPicklist": {
            "type": "boolean"
          },
          "Label": {
            "type": "string",
            "nullable": true
          },
          "LargeImageURL": {
            "type": "string",
            "nullable": true
          },
          "LongDescription": {
            "type": "string",
            "nullable": true
          },
          "SearchFilterFields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Type": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.Feature": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "FeatureSetId": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.FeatureSet": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "Sequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.LineItem": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Currency": {
            "type": "string",
            "nullable": true
          },
          "Digest": {
            "type": "string",
            "nullable": true
          },
          "ABOAction": {
            "type": "string",
            "nullable": true
          },
          "AddedBy": {
            "type": "string",
            "nullable": true
          },
          "AddedByRuleInfo": {
            "type": "string",
            "nullable": true
          },
          "AdHocGroup": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "GroupSequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "AdjustedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "AllocateGroupAdjustment": {
            "type": "boolean",
            "nullable": true
          },
          "AllowableAction": {
            "type": "string",
            "nullable": true
          },
          "AllowManualAdjustment": {
            "type": "boolean",
            "nullable": true
          },
          "AllowProration": {
            "type": "boolean",
            "nullable": true
          },
          "AllowRemoval": {
            "type": "boolean",
            "nullable": true
          },
          "ApprovalStatus": {
            "type": "string",
            "nullable": true
          },
          "AssetQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IsAutoRenew": {
            "type": "boolean",
            "nullable": true
          },
          "AutoRenewalTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "AutoRenewalType": {
            "type": "string",
            "nullable": true
          },
          "BaseCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseCostOverride": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseExtendedCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BaseExtendedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BasePrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BasePriceOverride": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "BasePriceMethod": {
            "type": "string",
            "nullable": true
          },
          "BillingFrequency": {
            "type": "string",
            "nullable": true
          },
          "BaseProduct": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BillingPreference": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BillingRule": {
            "type": "string",
            "nullable": true
          },
          "BillingPlan": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "BillToAccount": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ChargeType": {
            "type": "string",
            "nullable": true
          },
          "ClassificationHierarchy": {
            "type": "string",
            "nullable": true
          },
          "ClassificationHierarchyInfo": {
            "type": "string",
            "nullable": true
          },
          "ClassificationId": {
            "type": "string",
            "nullable": true
          },
          "Comments": {
            "type": "string",
            "nullable": true
          },
          "CommitmentQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ContractNumbers": {
            "type": "string",
            "nullable": true
          },
          "Cost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ConfigStatus": {
            "type": "string",
            "nullable": true
          },
          "CopySourceBundleNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CopySourceNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "CouponCode": {
            "type": "string",
            "nullable": true
          },
          "IsCustomizable": {
            "type": "boolean",
            "nullable": true
          },
          "IsReadOnly": {
            "type": "boolean",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "DeltaPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DeltaQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "DerivedFrom": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExtendedCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ExtendedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ExtendedDescription": {
            "type": "string",
            "nullable": true
          },
          "ExtendedQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FlatOptionPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Frequency": {
            "type": "string",
            "nullable": true
          },
          "GroupAdjustmentPercent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Guidance": {
            "type": "string",
            "nullable": true
          },
          "HasAttributes": {
            "type": "boolean",
            "nullable": true
          },
          "HasBaseProduct": {
            "type": "boolean",
            "nullable": true
          },
          "HasDefaults": {
            "type": "boolean",
            "nullable": true
          },
          "HasIncentives": {
            "type": "boolean"
          },
          "HasOptions": {
            "type": "boolean",
            "nullable": true
          },
          "HasTieredPrice": {
            "type": "boolean",
            "nullable": true
          },
          "Incentive": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "IncentiveAdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IncentiveBasePrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IncentiveCode": {
            "type": "string",
            "nullable": true
          },
          "IncentiveExtendedPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "IncentiveType": {
            "type": "string",
            "nullable": true
          },
          "IsAssetPricing": {
            "type": "boolean",
            "nullable": true
          },
          "IsCustomPricing": {
            "type": "boolean",
            "nullable": true
          },
          "IsHidden": {
            "type": "boolean",
            "nullable": true
          },
          "IsOptional": {
            "type": "boolean",
            "nullable": true
          },
          "IsOptionRollupLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimaryLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsPrimaryRampLine": {
            "type": "boolean",
            "nullable": true
          },
          "IsQuantityModifiable": {
            "type": "boolean",
            "nullable": true
          },
          "IsSellingTermReadOnly": {
            "type": "boolean",
            "nullable": true
          },
          "IsUsageTierModifiable": {
            "type": "boolean",
            "nullable": true
          },
          "ItemSequence": {
            "type": "integer",
            "format": "int32"
          },
          "LineNumber": {
            "type": "integer",
            "format": "int32"
          },
          "LineSequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LineStatus": {
            "type": "string",
            "nullable": true
          },
          "LineType": {
            "type": "string",
            "nullable": true
          },
          "ListPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MaxPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MaxUsageQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MinMaxPriceAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "MinPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "MinUsageQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NetAdjustmentPercent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NetPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "NetUnitPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OptionCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OptionGroupLabel": {
            "type": "string",
            "nullable": true
          },
          "OptionPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "OptionSequence": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "OrderLineStatus": {
            "type": "string",
            "nullable": true
          },
          "OverrideName": {
            "type": "string",
            "nullable": true
          },
          "ParentBundleNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PriceAdjustment": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "PriceAdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "PriceAdjustmentAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "PriceAdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "PriceGroup": {
            "type": "string",
            "nullable": true
          },
          "PriceIncludedInBundle": {
            "type": "boolean",
            "nullable": true
          },
          "PriceMethod": {
            "type": "string",
            "nullable": true
          },
          "PriceType": {
            "type": "string",
            "nullable": true
          },
          "PriceUom": {
            "type": "string",
            "nullable": true
          },
          "PricingDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PricingGuidance": {
            "type": "string",
            "nullable": true
          },
          "PricingStatus": {
            "type": "string",
            "nullable": true
          },
          "PricingSteps": {
            "type": "string",
            "nullable": true
          },
          "Location": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "PaymentTerm": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "PrimaryLineNumber": {
            "type": "integer",
            "format": "int32"
          },
          "PrimaryTxnLineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ProductOption": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ProductVersion": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RelatedAdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RelatedAdjustmentAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "RelatedAdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "RelatedItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "RelatedPercent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RelatedPercentAppliesTo": {
            "type": "string",
            "nullable": true
          },
          "Quantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RenewalAdjustmentAmount": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "RenewalAdjustmentType": {
            "type": "string",
            "nullable": true
          },
          "RollupPriceMethod": {
            "type": "string",
            "nullable": true
          },
          "RollupPriceToBundle": {
            "type": "boolean",
            "nullable": true
          },
          "ShipToAccount": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "SellingFrequency": {
            "type": "string",
            "nullable": true
          },
          "SellingTerm": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "SellingUom": {
            "type": "string",
            "nullable": true
          },
          "ServiceLocation": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "StatusDetails": {
            "type": "string",
            "nullable": true
          },
          "SummaryGroup": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "IsTaxable": {
            "type": "boolean",
            "nullable": true
          },
          "TaxCode": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "IsTaxInclusive": {
            "type": "boolean",
            "nullable": true
          },
          "Term": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TransferPriceLineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "TotalQuantity": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "TxnParentBundleNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "UnitCostAdjustment": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "UnitPriceAdjustmentAuto": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "UnitPriceAdjustmentManual": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Uom": {
            "type": "string",
            "nullable": true
          },
          "CategoryHierarchyIds": {
            "type": "string",
            "nullable": true
          },
          "ParentConfiguration": {
            "type": "string",
            "nullable": true
          },
          "CollaborationParentLineNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "PurchaseId": {
            "type": "string",
            "nullable": true
          },
          "BenefitLineType": {
            "type": "string",
            "nullable": true
          },
          "TargetPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ExpertPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "FloorPrice": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "ACV": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "Attribute": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "AssetLineItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.AssetLineItem"
          },
          "Option": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Product"
          },
          "Product": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Product"
          },
          "Configuration": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.ProductConfiguration"
          },
          "PriceList": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.PriceList"
          },
          "PriceListItem": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.PriceListItem"
          },
          "RelatedLineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conga.Revenue.Entities.RelatedLineItem"
            },
            "nullable": true
          },
          "Category": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.Category"
          },
          "CollaborationRequest": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          }
        },
        "additionalProperties": {}
      },
      "Conga.Revenue.Entities.OptionGroup": {
        "type": "object",
        "properties": {
          "CreatedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Id": {
            "type": "string",
            "nullable": true
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/Conga.Revenue.Entities.BaseEntity"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time",
[...]
