{
  "openapi": "3.0.1",
  "info": {
    "title": "Schema Manager",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    },
    {
      "url": "https://preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/metadata/v1/objects": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get all scoped object names",
        "description": "Retrieves a list of object information, including object names and basic metadata, with support for sorting, pagination, and optional filtering.",
        "parameters": [
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ascending or descending) of the data in sortField.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startsWithFilter",
            "in": "query",
            "description": "Optional filter to return objects that start with the specified string.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInfoListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Currency",
                      "DisplayName": "Currency",
                      "Description": "Currency",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Role",
                      "DisplayName": "Role",
                      "Description": "Role",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "ObjectPermission",
                      "DisplayName": "ObjectPermission",
                      "Description": "ObjectPermission",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Agreement_UserShare_p",
                      "DisplayName": "Agreement_UserShare_p",
                      "Description": "Agreement_UserShare_p",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInfoListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Currency",
                      "DisplayName": "Currency",
                      "Description": "Currency",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Role",
                      "DisplayName": "Role",
                      "Description": "Role",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "ObjectPermission",
                      "DisplayName": "ObjectPermission",
                      "Description": "ObjectPermission",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Agreement_UserShare_p",
                      "DisplayName": "Agreement_UserShare_p",
                      "Description": "Agreement_UserShare_p",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    }
                  ],
                  "StatusCode": "OK"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInfoListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Currency",
                      "DisplayName": "Currency",
                      "Description": "Currency",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Role",
                      "DisplayName": "Role",
                      "Description": "Role",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "ObjectPermission",
                      "DisplayName": "ObjectPermission",
                      "Description": "ObjectPermission",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Agreement_UserShare_p",
                      "DisplayName": "Agreement_UserShare_p",
                      "Description": "Agreement_UserShare_p",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/customschema/export": {
      "post": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Export custom schema",
        "description": "For the object(s) passed in the request body, exports a schema (zipped, with a JSON file for each object) for custom fields and custom objects. This exports:\r\n            <ul><li>All of a custom object, except its default field.</li><li>All of a standard object, except its default and standard fields.</li></ul>",
        "requestBody": {
          "description": "A list of standard and custom objects. For example: [\"Agreement\",\"CustomObject1_c\",\"CustomObject2_c\"]",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get a schema definition",
        "description": "Validates and retrieves an object's metadata at runtime.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional parameter, name of the organization supported locale",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Account",
                    "DisplayName": "Account",
                    "Description": "Account",
                    "IsProtected": true,
                    "IsDeprecated": false,
                    "IsShared": true,
                    "IsDataCacheEnabled": true,
                    "IsTrackingEnabled": true,
                    "IsAllowOwnerScope": false,
                    "Category": "Common",
                    "ObjectType": "Default",
                    "IsRecycleBinEnabled": false,
                    "FieldMetadata": [
                      {
                        "FieldName": "Name",
                        "DisplayName": "Name",
                        "Description": null,
                        "DataType": "String",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": false,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      },
                      {
                        "FieldName": "Id",
                        "DisplayName": "Id",
                        "Description": null,
                        "DataType": "Identifier",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": true,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      }
                    ],
                    "InternalRuntimeAliasFields": [],
                    "InternalPrecomputedAliasFields": [],
                    "PicklistMetadata": [],
                    "DependentPicklistMetadata": [],
                    "ComplexFieldMetadata": [],
                    "AliasFieldMetadata": [],
                    "IndexMetadata": [],
                    "TtlFieldMetadata": null,
                    "CreatedBy": {
                      "Id": "d9155304-5b37-40e6-a5ad-f16ea82ccc20",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-08-14T00:04:01.408+00:00",
                    "ModifiedBy": {
                      "Id": "7cb347d9-e43c-470b-96a6-74c2b3d01cb2",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-08-14T00:04:01.408+00:00",
                    "Attributes": {
                      "PublishDataChangeEvents": true,
                      "TrackAuditHistory": true,
                      "IsInternalObject": false
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}/dependencies": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get all dependencies",
        "description": "Retrieves all dependencies for a given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentObjectMetadataListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Agreement",
                      "FieldName": "ParentAgreement"
                    },
                    {
                      "Name": "AgreementClause",
                      "FieldName": "Agreement"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}/fields/{fieldName}": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get field metadata",
        "description": "Retrieves the metadata of the specified field.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "AgreementField",
                    "DisplayName": "AgreementField",
                    "Description": "AgreementField desc",
                    "DataType": "String",
                    "DefaultValue": "string",
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": true,
                    "IsRequired": true,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": 200,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": null,
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}/fields/{fieldName}/dependency-fields": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get field dependencies",
        "description": "Retrieves the metadata of a specified field, including information about any dependent fields.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependencyFieldsMetadataAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}/fields/{fieldName}/dependent-picklists": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get the dependent picklist definition",
        "description": "Validates and fetches the dependent picklist metadata for the given dependent field name and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the dependent field for which the dependent picklist metadata is to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentPicklistMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "BillingCity",
                    "DependentFieldName": "BillingCity_c",
                    "ControllingFieldName": "BillingState_c",
                    "ControllingAndDependentPicklistEntries": [
                      {
                        "ControllingPicklistEntry": "Gujarat",
                        "DependentPicklistEntries": [
                          {
                            "Value": "Ahmedabad",
                            "DisplayText": "Ahmedabad",
                            "Sequence": 0,
                            "IsDeprecated": false
                          }
                        ]
                      }
                    ],
                    "IsDeprecated": false
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/metadata/v1/objects/{objectName}/references": {
      "get": {
        "tags": [
          "Object Metadata"
        ],
        "summary": "Get all references",
        "description": "Retrieves all references to the given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentObjectMetadataListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Agreement",
                      "FieldName": "ParentAgreement"
                    },
                    {
                      "Name": "AgreementClause",
                      "FieldName": "Agreement"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects": {
      "get": {
        "tags": [
          "Object Definition"
        ],
        "summary": "List all object names",
        "description": "Fetches and lists all metadata and returns `OK` when the request is executed.",
        "parameters": [
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (ascending or descending) of the data in sortField.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startsWithFilter",
            "in": "query",
            "description": "Filter to fetch only names starting with this string.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "objectType",
            "in": "query",
            "description": "Filter to fetch objects based on their object type.",
            "schema": {
              "$ref": "#/components/schemas/ObjectTypeFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectInfoListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "Name": "Currency",
                      "DisplayName": "Currency",
                      "Description": "Currency",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Role",
                      "DisplayName": "Role",
                      "Description": "Role",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "ObjectPermission",
                      "DisplayName": "ObjectPermission",
                      "Description": "ObjectPermission",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    },
                    {
                      "Name": "Agreement_UserShare_p",
                      "DisplayName": "Agreement_UserShare_p",
                      "Description": "Agreement_UserShare_p",
                      "Category": "Platform",
                      "IsProtected": true,
                      "IsDeprecated": false,
                      "ObjectType": "Default"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Define a new object schema",
        "description": "Validates and creates an object schema definition.",
        "requestBody": {
          "description": "Request to create object schema definition",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Account",
                    "DisplayName": "Account",
                    "Description": "Account",
                    "IsProtected": true,
                    "IsDeprecated": false,
                    "IsShared": true,
                    "IsDataCacheEnabled": true,
                    "IsTrackingEnabled": true,
                    "IsAllowOwnerScope": false,
                    "Category": "Common",
                    "ObjectType": "Default",
                    "IsRecycleBinEnabled": false,
                    "FieldMetadata": [
                      {
                        "FieldName": "Name",
                        "DisplayName": "Name",
                        "Description": null,
                        "DataType": "String",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": false,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      },
                      {
                        "FieldName": "Id",
                        "DisplayName": "Id",
                        "Description": null,
                        "DataType": "Identifier",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": true,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      }
                    ],
                    "InternalRuntimeAliasFields": [],
                    "InternalPrecomputedAliasFields": [],
                    "PicklistMetadata": [],
                    "DependentPicklistMetadata": [],
                    "ComplexFieldMetadata": [],
                    "AliasFieldMetadata": [],
                    "IndexMetadata": [],
                    "TtlFieldMetadata": null,
                    "CreatedBy": {
                      "Id": "c3213a44-7ad0-4361-8b6d-bce0f1cee228",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-08-14T00:04:01.194+00:00",
                    "ModifiedBy": {
                      "Id": "f1c6dc48-76fb-4bcd-94bb-2444ce659760",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-08-14T00:04:01.194+00:00",
                    "Attributes": {
                      "PublishDataChangeEvents": true,
                      "TrackAuditHistory": true,
                      "IsInternalObject": false
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/customschema/import": {
      "post": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Import custom schema",
        "description": "Imports schema for custom fields and custom objects. \r\n            <ul><li><b>For standard object</b>: Creates missing custom fields from the corresponding JSON file (part of the ZIP file).</li><li><b>For custom object</b>: If a custom object is not available, it is created with all the fields; otherwise, it creates missing custom fields from the corresponding JSON file (part of the ZIP file).</li></ul>",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringStringDictionaryAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/formula-functions": {
      "get": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Get the list of formula functions",
        "description": "Retrieves the list of formula functions from data storage.",
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{lookupObjectName}/lookup-criteria/validate": {
      "post": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Validate lookup criteria",
        "description": "Validates the provided lookup criteria against the schema of the specified lookup object.",
        "parameters": [
          {
            "name": "lookupObjectName",
            "in": "path",
            "description": "The name of the object for which the lookup criteria should be validated. Must be a valid, existing object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The criteria string to validate. Must be non-empty and use supported syntax for field references and operators.",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringStringDictionaryAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}": {
      "get": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Get a translated schema definition",
        "description": "Validates and fetches a given object's schema definition.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional parameter, name of the organization supported locale",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Account",
                    "DisplayName": "Account",
                    "Description": "Account",
                    "IsProtected": true,
                    "IsDeprecated": false,
                    "IsShared": true,
                    "IsDataCacheEnabled": true,
                    "IsTrackingEnabled": true,
                    "IsAllowOwnerScope": false,
                    "Category": "Common",
                    "ObjectType": "Default",
                    "IsRecycleBinEnabled": false,
                    "FieldMetadata": [
                      {
                        "FieldName": "Name",
                        "DisplayName": "Name",
                        "Description": null,
                        "DataType": "String",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": false,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      },
                      {
                        "FieldName": "Id",
                        "DisplayName": "Id",
                        "Description": null,
                        "DataType": "Identifier",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": true,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      }
                    ],
                    "InternalRuntimeAliasFields": [],
                    "InternalPrecomputedAliasFields": [],
                    "PicklistMetadata": [],
                    "DependentPicklistMetadata": [],
                    "ComplexFieldMetadata": [],
                    "AliasFieldMetadata": [],
                    "IndexMetadata": [],
                    "TtlFieldMetadata": null,
                    "CreatedBy": {
                      "Id": "6739a9f3-fa32-4ee7-bff0-7e92c9dd5ab6",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-08-14T00:04:01.226+00:00",
                    "ModifiedBy": {
                      "Id": "f1e469f2-92e5-4d30-95a6-343ca36d9045",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-08-14T00:04:01.226+00:00",
                    "Attributes": {
                      "PublishDataChangeEvents": true,
                      "TrackAuditHistory": true,
                      "IsInternalObject": false
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Update a schema definition",
        "description": "Validates and updates an object's schema definition.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details to be updated in the object's schema definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectMetadataUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "Account",
                    "DisplayName": "Account",
                    "Description": "Account",
                    "IsProtected": true,
                    "IsDeprecated": false,
                    "IsShared": true,
                    "IsDataCacheEnabled": true,
                    "IsTrackingEnabled": true,
                    "IsAllowOwnerScope": false,
                    "Category": "Common",
                    "ObjectType": "Default",
                    "IsRecycleBinEnabled": false,
                    "FieldMetadata": [
                      {
                        "FieldName": "Name",
                        "DisplayName": "Name",
                        "Description": null,
                        "DataType": "String",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": false,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      },
                      {
                        "FieldName": "Id",
                        "DisplayName": "Id",
                        "Description": null,
                        "DataType": "Identifier",
                        "DefaultValue": null,
                        "IsProtected": false,
                        "IsIndexField": true,
                        "IsSortable": false,
                        "IsRequired": true,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": null,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      }
                    ],
                    "InternalRuntimeAliasFields": [],
                    "InternalPrecomputedAliasFields": [],
                    "PicklistMetadata": [],
                    "DependentPicklistMetadata": [],
                    "ComplexFieldMetadata": [],
                    "AliasFieldMetadata": [],
                    "IndexMetadata": [],
                    "TtlFieldMetadata": null,
                    "CreatedBy": {
                      "Id": "693f0e39-fdc6-42a4-8828-f83ca2554551",
                      "Name": "System Admin"
                    },
                    "CreatedDate": "2026-08-14T00:04:01.223+00:00",
                    "ModifiedBy": {
                      "Id": "06fb2a39-a847-472a-96ea-c739800573b9",
                      "Name": "System Admin"
                    },
                    "ModifiedDate": "2026-08-14T00:04:01.223+00:00",
                    "Attributes": {
                      "PublishDataChangeEvents": true,
                      "TrackAuditHistory": true,
                      "IsInternalObject": false
                    }
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/complex-field/{complexFieldMetadataName}": {
      "post": {
        "tags": [
          "Complex Field Definition"
        ],
        "summary": "Create a new complex field",
        "description": "Validates and creates a complex field for the given complex field metadata.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the complex field metadata",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "complexFieldMetadataName",
            "in": "path",
            "description": "Name of the complex field metadata into which the complex field is to be entered.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Complex field details to be created in the given complex field metadata",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "ComplexField",
                    "DisplayName": "ComplexField01",
                    "Description": null,
                    "DataType": "Complex",
                    "DefaultValue": null,
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": false,
                    "IsRequired": false,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": null,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": "ComplexFieldMetadata",
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Object name cannot be empty."
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Complex Field Definition"
        ],
        "summary": "Update an object's complex field definition",
        "description": "Validates and updates the complex field definition for the given complex field metadata and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the complex field definition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "complexFieldMetadataName",
            "in": "path",
            "description": "Name of the complex field metadata in which the complex field definition is to be validated and updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Complex field definition update details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "ComplexField",
                    "DisplayName": "ComplexField01",
                    "Description": null,
                    "DataType": "Complex",
                    "DefaultValue": null,
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": false,
                    "IsRequired": false,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": null,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": "ComplexFieldMetadata",
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/complex-fields": {
      "post": {
        "tags": [
          "Complex Field Definition"
        ],
        "summary": "Create new complex field metadata",
        "description": "Validates and creates metadata for complex fields.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object for which complex fields are to be created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Complex field metadata details to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplexFieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "DocumentVersionObject",
                    "Fields": [
                      {
                        "FieldName": "ObjectId",
                        "DisplayName": "ObjectId",
                        "Description": null,
                        "DataType": "Lookup",
                        "DefaultValue": null,
                        "IsProtected": true,
                        "IsIndexField": false,
                        "IsSortable": false,
                        "IsRequired": false,
                        "IsUnique": false,
                        "IsDeprecated": false,
                        "IsCalculated": false,
                        "IsInternalField": false,
                        "IsAliasField": false,
                        "Length": 2000,
                        "LookupObjectName": null,
                        "LookupFilterCriteria": null,
                        "DependentPicklistMetadataName": null,
                        "PicklistName": null,
                        "ComplexMetadataName": null,
                        "AutoNumberInitialSeed": 0,
                        "AutoNumberPrefix": null,
                        "Precision": 0,
                        "Scale": 0,
                        "Expression": null,
                        "ExpressionDependency": null,
                        "AliasExpressionDependency": null,
                        "IsPreComputed": null,
                        "ReferenceObject": null,
                        "TargetObject": null,
                        "TargetField": null,
                        "RollupFunction": null,
                        "RollupFilterCriteria": null,
                        "AliasFieldDefinition": null,
                        "AliasFieldMetadataName": null,
                        "IsRichTextField": false,
                        "IsPropertyLookup": false,
                        "IdentifierType": null
                      }
                    ]
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/complex-fields/{complexFieldMetadataName}": {
      "post": {
        "tags": [
          "Complex Field Definition"
        ],
        "summary": "Create complex fields",
        "description": "Validates and creates multiple complex fields for the given complex field metadata.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the complex field metadata",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "complexFieldMetadataName",
            "in": "path",
            "description": "Name of the complex field metadata into which the complex fields are to be entered.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Complex fields details to be created in the given complex field metadata",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComplexFieldMetadataEntryFieldsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "ComplexField",
                    "DisplayName": "ComplexField01",
                    "Description": null,
                    "DataType": "Complex",
                    "DefaultValue": null,
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": false,
                    "IsRequired": false,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": null,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": "ComplexFieldMetadata",
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Object name cannot be empty."
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/deprecate": {
      "patch": {
        "tags": [
          "Object Definition"
        ],
        "summary": "Deprecate an object",
        "description": "Deprecates the object in the metadata, accepting the object name as input and setting it to be deprecated.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/fields": {
      "post": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Create a field definition for an object",
        "description": "Validates and creates a field inside the specified object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the field is to be created",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Actual field metadata input which needs to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "AgreementField",
                    "DisplayName": "AgreementField",
                    "Description": "AgreementField desc",
                    "DataType": "String",
                    "DefaultValue": "string",
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": true,
                    "IsRequired": true,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": 200,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": null,
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/fields/{fieldName}": {
      "delete": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Delete a custom field definition",
        "description": "Validates and deletes a custom field from the specified object.<p>**Note:** The custom field is deleted only if it contains no data in any of the records.</p>",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object from which the field is to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the custom field to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Update an object's field definition",
        "description": "Validates and updates the field definitions available in the specified object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the field is to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the field to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Metadata update details for the field mentioned in the field name parameter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMetadataUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "AgreementField",
                    "DisplayName": "AgreementField",
                    "Description": "AgreementField desc",
                    "DataType": "String",
                    "DefaultValue": "string",
                    "IsProtected": false,
                    "IsIndexField": false,
                    "IsSortable": true,
                    "IsRequired": true,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": 200,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": null,
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/fields/{fieldName}/dependent-picklists": {
      "delete": {
        "tags": [
          "Dependent Picklist Definition"
        ],
        "summary": "Delete the dependent picklist",
        "description": "Validates and removes the dependent picklist metadata for the given dependent field and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the dependent field from which dependent picklist metadata is to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Dependent Picklist Definition"
        ],
        "summary": "Get the dependent picklist",
        "description": "Validates and fetches the dependent picklist metadata for the given dependent field name and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the dependent field for which the dependent picklist metadata is to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentPicklistMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "BillingCity",
                    "DependentFieldName": "BillingCity_c",
                    "ControllingFieldName": "BillingState_c",
                    "ControllingAndDependentPicklistEntries": [
                      {
                        "ControllingPicklistEntry": "Gujarat",
                        "DependentPicklistEntries": [
                          {
                            "Value": "Ahmedabad",
                            "DisplayText": "Ahmedabad",
                            "Sequence": 0,
                            "IsDeprecated": false
                          }
                        ]
                      }
                    ],
                    "IsDeprecated": false
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Dependent Picklist Definition"
        ],
        "summary": "Create a new dependent picklist mapping",
        "description": "Validates and creates a new dependent picklist mapping for the given dependent field name and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the fields",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the dependent field for which the dependent pickist mapping is to be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input for creating a dependent picklist mapping for the controlling and dependent fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentPicklistMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "BillingCity",
                    "DependentFieldName": "BillingCity_c",
                    "ControllingFieldName": "BillingState_c",
                    "ControllingAndDependentPicklistEntries": [
                      {
                        "ControllingPicklistEntry": "Gujarat",
                        "DependentPicklistEntries": [
                          {
                            "Value": "Ahmedabad",
                            "DisplayText": "Ahmedabad",
                            "Sequence": 0,
                            "IsDeprecated": false
                          }
                        ]
                      }
                    ],
                    "IsDeprecated": false
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Dependent Picklist Definition"
        ],
        "summary": "Update the dependent picklist",
        "description": "Validates and updates the dependent picklist metadata for the given dependent field name and object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object containing the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the dependent field for which the dependent picklist metadata is to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Dependent picklist metadata details to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DependentPicklistMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DependentPicklistMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "BillingCity",
                    "DependentFieldName": "BillingCity_c",
                    "ControllingFieldName": "BillingState_c",
                    "ControllingAndDependentPicklistEntries": [
                      {
                        "ControllingPicklistEntry": "Gujarat",
                        "DependentPicklistEntries": [
                          {
                            "Value": "Ahmedabad",
                            "DisplayText": "Ahmedabad",
                            "Sequence": 0,
                            "IsDeprecated": false
                          }
                        ]
                      }
                    ],
                    "IsDeprecated": false
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/fields/{fieldName}/deprecate": {
      "patch": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Set the field to deprecate",
        "description": "Validates the field of the given object and sets it to be deprecated.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object from which the field is to be deprecated",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the field to be deprecated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Field name cannot be empty."
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/fields/{fieldName}/expression/validate": {
      "post": {
        "tags": [
          "Field Definition"
        ],
        "summary": "Validate formula field expression",
        "description": "Validates the formula field expression of the field of the given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the field exists",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fieldName",
            "in": "path",
            "description": "Name of the field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Actual field name, data type, and expression which needs to be validated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFieldExpressionValidationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFieldExpressionValidationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFieldExpressionValidationRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/indexes": {
      "post": {
        "tags": [
          "Index Definition"
        ],
        "summary": "Index a field",
        "description": "Validates and enables the \"IsIndexField\" field value to true for a field in a given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the field exists",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Field name to be indexed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexMetadataCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexMetadataCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IndexMetadataCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FieldName": "Name",
                    "DisplayName": "Name",
                    "Description": null,
                    "DataType": "String",
                    "DefaultValue": null,
                    "IsProtected": true,
                    "IsIndexField": true,
                    "IsSortable": true,
                    "IsRequired": false,
                    "IsUnique": false,
                    "IsDeprecated": false,
                    "IsCalculated": false,
                    "IsInternalField": false,
                    "IsAliasField": false,
                    "Length": 2000,
                    "LookupObjectName": null,
                    "LookupFilterCriteria": null,
                    "DependentPicklistMetadataName": null,
                    "PicklistName": null,
                    "ComplexMetadataName": null,
                    "AutoNumberInitialSeed": 0,
                    "AutoNumberPrefix": null,
                    "Precision": 0,
                    "Scale": 0,
                    "Expression": null,
                    "ExpressionDependency": null,
                    "AliasExpressionDependency": null,
                    "IsPreComputed": null,
                    "ReferenceObject": null,
                    "TargetObject": null,
                    "TargetField": null,
                    "RollupFunction": null,
                    "RollupFilterCriteria": null,
                    "AliasFieldDefinition": null,
                    "AliasFieldMetadataName": null,
                    "IsRichTextField": false,
                    "IsPropertyLookup": false,
                    "IdentifierType": null
                  },
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/indexes/{indexFieldName}": {
      "delete": {
        "tags": [
          "Index Definition"
        ],
        "summary": "Delete an existing index",
        "description": "Validates and sets the \"IsIndexField\" field value to false for a field in a given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the field exists",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexFieldName",
            "in": "path",
            "description": "Name of the indexed field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/schema/v1/objects/{objectName}/picklists": {
      "post": {
        "tags": [
          "Picklist Definition"
        ],
        "summary": "Create a new picklist",
        "description": "Validates and creates a new picklist metadata for the given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object in which the picklist is to be created.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Input for creating a picklist metadata. <p><b>Note</b>: Each <b>picklist entry</b> must have an unique (incremental) sequence number.</p>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PicklistMetadataCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PicklistMetadataCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PicklistMetadataCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PicklistMetadataAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "Name": "TypePickList",
                    "AllowNonConfiguredPicklistEntries": false,
                    "PicklistEntries": [
                      {
                        "Value": "Advertisement",
                        "DisplayText": "Advertisement",
                        "Sequence": 0,
                        "IsDeprecated": false
                      },
                      {
                        "Value": "Competitor",
                        "DisplayText": "Competitor",
                        "Sequence": 1,
[...]
