{
  "openapi": "3.0.1",
  "info": {
    "title": "Conversion Management",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    },
    {
      "url": "https://preview-rls09.congacloud.com"
    }
  ],
  "paths": {
    "/api/conversion-management/v1/frequency-conversion-rates": {
      "get": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Get all frequency conversion rates",
        "description": "Returns all frequency conversion rates that meet the criteria.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the frequency conversion rates. **For example**: FromFrequency = 'Daily'. <p>**Note**: The criteria field (in this case, FromFrequency) should be indexed.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: ModifiedDate. <p>**Note**: The sort field (in this case, ModifiedDate) should be indexed or sortable.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC. <p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyConversionRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 2,
                  "Data": [
                    {
                      "FromFrequency": "Weekly",
                      "ToFrequency": "Daily",
                      "Product": null,
                      "ProductFamily": null,
                      "ConversionRate": 7,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    },
                    {
                      "FromFrequency": "Daily",
                      "ToFrequency": "Hourly",
                      "Product": null,
                      "ProductFamily": null,
                      "ConversionRate": 24,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Add a new frequency conversion rate",
        "description": "Creates a new frequency conversion rate.",
        "requestBody": {
          "description": "Frequency conversion rate information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromFrequency": "Weekly",
                    "ToFrequency": "Daily",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 7,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/frequency-conversion-rates/bulk": {
      "post": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Add multiple Frequency conversion rates",
        "description": "Creates multiple frequency conversion rates.",
        "requestBody": {
          "description": "Frequency conversion rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionRate"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionRate"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionRate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyConversionRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromFrequency": "Weekly",
                    "ToFrequency": "Daily",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 7,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Update multiple frequency conversion rates",
        "description": "Updates multiple frequency conversion rates and returns the request status.",
        "requestBody": {
          "description": "Frequency conversion rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/frequency-conversion-rates/{id}": {
      "delete": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Delete frequency conversion rate by ID",
        "description": "Deletes frequency conversion rate.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Frequency conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Retrieve a frequency conversion rate by ID",
        "description": "Retrieves a frequency conversion rate for the given frequency conversion rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Frequency conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromFrequency": "Weekly",
                    "ToFrequency": "Daily",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 7,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Frequency Conversion Admin"
        ],
        "summary": "Update a frequency conversion rate",
        "description": "Updates a frequency conversion rate for the given frequency conversion rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Frequency conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Frequency conversion rate information",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/health/live": {
      "get": {
        "tags": [
          "Health Check"
        ],
        "summary": "Check for liveness",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckSummary"
                },
                "example": {
                  "Status": "Healthy",
                  "ServiceVersion": "22.6.0.34",
                  "Duration": 1.9753
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/conversion-management/v1/health/ready": {
      "get": {
        "tags": [
          "Health Check"
        ],
        "summary": "Check for readiness",
        "parameters": [
          {
            "name": "deepCheck",
            "in": "query",
            "style": "form",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckSummary"
                },
                "example": {
                  "Status": "Healthy",
                  "ServiceVersion": "22.6.0.34",
                  "ComponentHealthSummary": [
                    {
                      "Name": "Index Cache",
                      "Status": "Healthy",
                      "Duration": 314.4967
                    },
                    {
                      "Name": "Data Cache",
                      "Status": "Healthy",
                      "Duration": 385.204
                    },
                    {
                      "Name": "Data Config",
                      "Status": "Healthy",
                      "Duration": 418.9651
                    },
                    {
                      "Name": "Queue",
                      "Status": "Healthy",
                      "Duration": 446.0765
                    },
                    {
                      "Name": "Topic",
                      "Status": "Healthy",
                      "Duration": 373.9502
                    }
                  ],
                  "Duration": 460.0827
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable"
          }
        }
      }
    },
    "/api/conversion-management/v1/query/frequency-conversion": {
      "post": {
        "tags": [
          "Frequency Conversion Runtime"
        ],
        "summary": "Retrieve converted frequency value",
        "description": "Retrieves the converted frequency value.",
        "requestBody": {
          "description": "Frequency conversion request. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedFrequencyAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromFrequency": "Monthly",
                    "ToFrequency": "Yearly",
                    "Value": 100,
                    "ConvertedValue": 1200,
                    "ConversionRate": 12,
                    "Product": {
                      "Id": "2953886e-5575-4153-903c-13fcf35bdcc0",
                      "Name": "product-001"
                    },
                    "ProductFamily": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/query/frequency-conversion-rates": {
      "post": {
        "tags": [
          "Frequency Conversion Runtime"
        ],
        "summary": "Retrieve effective frequency Conversion rate",
        "description": "Retrieves the effective frequency conversion rate.",
        "requestBody": {
          "description": "Frequency conversion rate retrieval request. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionGetRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionGetRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FrequencyConversionGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrequencyConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromFrequency": "Weekly",
                    "ToFrequency": "Daily",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 7,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/query/frequency-conversion-rates/bulk": {
      "post": {
        "tags": [
          "Frequency Conversion Runtime"
        ],
        "summary": "Retrieve effective frequency conversion rates in bulk",
        "description": "Retrieves the effective frequency conversion rates in bulk.",
        "requestBody": {
          "description": "Frequency conversion rate retrieval requests. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionGetRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionGetRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/FrequencyConversionGetRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkFrequencyConversionRatesAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FrequencyConversionRates": [
                      {
                        "FromFrequency": "Monthly",
                        "ToFrequency": "Yearly",
                        "Product": {
                          "Id": "product-001",
                          "Name": "Enterprise Software"
                        },
                        "ProductFamily": null,
                        "ConversionRate": 12,
                        "Id": "freq-conv-rate-001",
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "2026-07-15T00:00:45.5877013Z",
                        "ModifiedBy": null,
                        "ModifiedDate": "2026-08-14T00:00:45.5877044Z",
                        "ExternalId": null,
                        "ETag": null
                      },
                      {
                        "FromFrequency": "Weekly",
                        "ToFrequency": "Monthly",
                        "Product": {
                          "Id": "product-002",
                          "Name": "Cloud Services"
                        },
                        "ProductFamily": null,
                        "ConversionRate": 4.3,
                        "Id": "freq-conv-rate-002",
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "2026-07-30T00:00:45.58771Z",
                        "ModifiedBy": null,
                        "ModifiedDate": "2026-08-14T00:00:45.5877117Z",
                        "ExternalId": null,
                        "ETag": null
                      }
                    ],
                    "Error": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/query/uom-conversion": {
      "post": {
        "tags": [
          "UOM Conversion Runtime"
        ],
        "summary": "Retrieve converted UOM value",
        "description": "Retrieves the converted UOM value.",
        "requestBody": {
          "description": "UOM conversion request. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedUOMAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromUOM": "Box",
                    "ToUOM": "Each",
                    "Product": {
                      "Id": "a0b1c2d3-e4f5-6789-0abc-def123456789",
                      "Name": "Product-001"
                    },
                    "ProductFamily": null,
                    "Value": 5,
                    "ConversionRate": 10,
                    "ConvertedValue": 50
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/query/uom-conversion-rates": {
      "post": {
        "tags": [
          "UOM Conversion Runtime"
        ],
        "summary": "Retrieve effective UOM conversion rate",
        "description": "Retrieves the effective UOM conversion rate.",
        "requestBody": {
          "description": "UOM conversion rate retrieval request. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionGetRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionGetRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOMConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromUOM": "Box",
                    "ToUOM": "Each",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 10,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/query/uom-conversion-rates/bulk": {
      "post": {
        "tags": [
          "UOM Conversion Runtime"
        ],
        "summary": "Retrieve effective UOM conversion rates in bulk",
        "description": "Retrieves the effective UOM conversion rates in bulk.",
        "requestBody": {
          "description": "UOM conversion rate retrieval requests. The API supports multiple levels of conversion rate configuration, at the Product level, the Product Family level, and the Global level. For more information on how the conversion rate takes precedence, click [here](https://documentation.conga.com/en/advantage-platform-administration/preview/conga-advantage-platform-api-reference/conversion-rate-lookup-precedence).",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionGetRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionGetRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionGetRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkUOMConversionRatesAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "UOMConversionRates": [
                      {
                        "FromUOM": "Box",
                        "ToUOM": "Each",
                        "Product": null,
                        "ProductFamily": null,
                        "ConversionRate": 10,
                        "Id": "a0b1c2d3-e4f5-6789-0abc-def123456789",
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "ExternalId": null,
                        "ETag": null
                      },
                      {
                        "FromUOM": "Case",
                        "ToUOM": "Box",
                        "Product": null,
                        "ProductFamily": null,
                        "ConversionRate": 5,
                        "Id": "b1c2d3e4-f567-8901-2abc-def345678901",
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "ExternalId": null,
                        "ETag": null
                      }
                    ],
                    "Error": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/uom-conversion-rates": {
      "get": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Get all UOM conversion rates",
        "description": "Returns all UOM conversion rates that meet the criteria.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the UOM conversion rates. **For example**: FromUOM = 'Box'. <p>**Note**: The criteria field (in this case, FromUOM) should be indexed.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: ModifiedDate. <p>**Note**: The sort field (in this case, ModifiedDate) should be indexed or sortable.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC. <p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOMConversionRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 2,
                  "Data": [
                    {
                      "FromUOM": "Box",
                      "ToUOM": "Each",
                      "Product": null,
                      "ProductFamily": null,
                      "ConversionRate": 10,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    },
                    {
                      "FromUOM": "Box",
                      "ToUOM": "Each",
                      "Product": null,
                      "ProductFamily": null,
                      "ConversionRate": 10,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Add a new UOM conversion rate",
        "description": "Creates a new UOM conversion rate.",
        "requestBody": {
          "description": "UOM conversion rate information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UOMConversionRate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOMConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromUOM": "Box",
                    "ToUOM": "Each",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 10,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/uom-conversion-rates/bulk": {
      "post": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Add multiple UOM conversion rates",
        "description": "Creates multiple UOM conversion rates.",
        "requestBody": {
          "description": "UOM conversion rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionRate"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionRate"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UOMConversionRate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOMConversionRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromUOM": "Box",
                    "ToUOM": "Each",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 10,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Update multiple UOM conversion rates",
        "description": "Updates multiple UOM conversion rates and returns the request status.",
        "requestBody": {
          "description": "UOM conversion rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/conversion-management/v1/uom-conversion-rates/{id}": {
      "delete": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Delete UOM conversion rate by ID",
        "description": "Deletes UOM conversion rate by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UOM conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Retrieve a UOM conversion rate by ID",
        "description": "Retrieves a UOM conversion rate for the given UOM conversion rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UOM conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOMConversionRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "FromUOM": "Box",
                    "ToUOM": "Each",
                    "Product": null,
                    "ProductFamily": null,
                    "ConversionRate": 10,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "UOM Conversion Admin"
        ],
        "summary": "Update a UOM conversion rate",
        "description": "Updates a UOM conversion rate for the given UOM conversion rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "UOM conversion rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "UOM conversion rate information",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/currency-rates": {
      "get": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Get all currency rates",
        "description": "Returns all currency rates that meet the criteria.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the currency rates. **For example**: SourceCurrency = 'USD'. <p>**Note**: The criteria field (in this case, SourceCurrency) should be indexed.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: EffectiveEndDate. <p>**Note**: The sort field (in this case, EffectiveEndDate) should be indexed or sortable.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction (Ascending or Descending) of the data. For example: ASC or DESC. <p>**Note**: The default sort order is **DESC** if the sort field parameter is specified.</p>",
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the result set to view.",
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 2,
                  "Data": [
                    {
                      "SourceCurrency": "USD",
                      "TargetCurrency": "INR",
                      "EffectiveStartDate": "2023-02-25T00:00:00",
                      "EffectiveEndDate": "2023-03-25T00:00:00",
                      "ConversionRate": 80,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    },
                    {
                      "SourceCurrency": "USD",
                      "TargetCurrency": "INR",
                      "EffectiveStartDate": "2023-04-25T00:00:00",
                      "EffectiveEndDate": "2023-05-25T00:00:00",
                      "ConversionRate": 81,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Add a new currency rate",
        "description": "Creates a new currency rate.",
        "requestBody": {
          "description": "Currency rate information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "INR",
                    "EffectiveStartDate": "0001-01-01T00:00:00",
                    "EffectiveEndDate": "0001-01-01T00:00:00",
                    "ConversionRate": 10,
                    "Scale": 2,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/currency-rates/bulk": {
      "post": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Add multiple currency rates",
        "description": "Creates multiple currency rates.",
        "requestBody": {
          "description": "Currency rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRateListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    {
                      "SourceCurrency": "USD",
                      "TargetCurrency": "INR",
                      "EffectiveStartDate": "0001-01-01T00:00:00",
                      "EffectiveEndDate": "0001-01-01T00:00:00",
                      "ConversionRate": 10,
                      "Scale": 2,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    },
                    {
                      "SourceCurrency": "EUR",
                      "TargetCurrency": "IDR",
                      "EffectiveStartDate": "0001-01-01T00:00:00",
                      "EffectiveEndDate": "0001-01-01T00:00:00",
                      "ConversionRate": 5,
                      "Scale": 2,
                      "Id": null,
                      "Name": null,
                      "CreatedBy": null,
                      "CreatedDate": "0001-01-01T00:00:00",
                      "ModifiedBy": null,
                      "ModifiedDate": "0001-01-01T00:00:00",
                      "ExternalId": null,
                      "ETag": null
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Update multiple currency rates",
        "description": "Update multiple currency rates and returns the request status.",
        "requestBody": {
          "description": "Currency rates information list",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/currency-rates/{id}": {
      "delete": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Delete currency rate by ID",
        "description": "Deletes a currency rate.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Retrieve a currency rate by ID",
        "description": "Retrieves a currency rate for the given currency rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRateResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "INR",
                    "EffectiveStartDate": "0001-01-01T00:00:00",
                    "EffectiveEndDate": "0001-01-01T00:00:00",
                    "ConversionRate": 10,
                    "Scale": 2,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Currency Admin"
        ],
        "summary": "Update a currency rate",
        "description": "Updates a currency rate for the given currency rate ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency rate ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Currency rate information",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/query/currency-conversion": {
      "post": {
        "tags": [
          "Currency Runtime"
        ],
        "summary": "Retrieve converted currency",
        "description": "Retrieves the converted currency.",
        "requestBody": {
          "description": "Currency conversion retrieval request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyConversionGetRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyConversionGetRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyConversionGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertedCurrencyAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "INR",
                    "EffectiveDate": "0001-01-01T00:00:00",
                    "Value": 10,
                    "ConversionRate": 2,
                    "ConvertedValue": 20
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/query/currency-rates": {
      "post": {
        "tags": [
          "Currency Runtime"
        ],
        "summary": "Retrieve effective currency rate",
        "description": "Retrieves the effective currency rate.",
        "requestBody": {
          "description": "Currency rate retrieval request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRateGetRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRateGetRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRateGetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRateAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "INR",
                    "EffectiveStartDate": "0001-01-01T00:00:00",
                    "EffectiveEndDate": "0001-01-01T00:00:00",
                    "ConversionRate": 10,
                    "Scale": 2,
                    "Id": null,
                    "Name": null,
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/currency-management/v1/query/currency-rates/bulk": {
      "post": {
        "tags": [
          "Currency Runtime"
        ],
        "summary": "Retrieve effective currency rates",
        "description": "Retrieves the effective currency rates.",
        "requestBody": {
          "description": "Currency rate retrieval requests",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRateGetRequest"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRateGetRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CurrencyRateGetRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCurrencyRatesAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "CurrencyRates": [
                      {
                        "SourceCurrency": "USD",
                        "TargetCurrency": "INR",
                        "EffectiveStartDate": "0001-01-01T00:00:00",
                        "EffectiveEndDate": "0001-01-01T00:00:00",
                        "ConversionRate": 10,
                        "Scale": 2,
                        "Id": null,
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "ExternalId": null,
                        "ETag": null
                      },
                      {
                        "SourceCurrency": "EUR",
                        "TargetCurrency": "IDR",
                        "EffectiveStartDate": "0001-01-01T00:00:00",
                        "EffectiveEndDate": "0001-01-01T00:00:00",
                        "ConversionRate": 5,
                        "Scale": 2,
                        "Id": null,
                        "Name": null,
                        "CreatedBy": null,
                        "CreatedDate": "0001-01-01T00:00:00",
                        "ModifiedBy": null,
                        "ModifiedDate": "0001-01-01T00:00:00",
                        "ExternalId": null,
                        "ETag": null
                      }
                    ],
                    "Error": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BooleanAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "boolean"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BulkCurrencyRates": {
        "type": "object",
        "properties": {
          "CurrencyRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrencyRateResponse"
            },
            "description": "A collection of CurrencyRates",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "description": "Error details",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Bulk currency rates"
      },
      "BulkCurrencyRatesAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/BulkCurrencyRates"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BulkFrequencyConversionRates": {
        "type": "object",
        "properties": {
          "FrequencyConversionRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FrequencyConversionRate"
            },
            "description": "A collection of FrequencyConversionRates",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "description": "General error details that apply to the entire operation",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Bulk Frequency conversion rates"
      },
      "BulkFrequencyConversionRatesAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/BulkFrequencyConversionRates"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BulkUOMConversionRates": {
        "type": "object",
        "properties": {
          "UOMConversionRates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UOMConversionRate"
            },
            "description": "A collection of UOMConversionRates",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "description": "General error details that apply to the entire operation",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Bulk UOM conversion rates"
      },
      "BulkUOMConversionRatesAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/BulkUOMConversionRates"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ComponentHealthCheckSummary": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "nullable": true
          },
          "Result": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          },
          "Duration": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "ConvertedCurrency": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "Source currency. **For example:** USD, INR, EUR etc",
            "nullable": true
          },
          "TargetCurrency": {
            "type": "string",
            "description": "Target currency. **For example:** TVD, IDR, MYR etc",
            "nullable": true
          },
          "EffectiveDate": {
            "type": "string",
            "description": "Effective date",
            "format": "date-time"
          },
          "Value": {
            "type": "number",
            "description": "Conversion value",
            "format": "double"
          },
          "ConversionRate": {
            "type": "number",
            "description": "Conversion rate",
            "format": "double"
          },
          "ConvertedValue": {
            "type": "number",
            "description": "Converted value",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "Converted currency"
      },
      "ConvertedCurrencyAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ConvertedCurrency"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
[...]
