{
  "openapi": "3.0.1",
  "info": {
    "title": "Search",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/search/v1/datasyncstatus": {
      "get": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Get the data sync status of all objects",
        "description": "Lists all objects and their data sync status (Elasticsearch and database).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSyncStatusResponseListAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/datasyncstatus/{trackingId}": {
      "get": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Get data sync status by tracking ID",
        "description": "Gets the data sync status for a specific tracking ID.",
        "parameters": [
          {
            "name": "trackingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDataSyncStatusResponseAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/document/index": {
      "post": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Index a document",
        "description": "Creates an index for the specified document.",
        "requestBody": {
          "description": "The ID of the document referring to the document store.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDocumentIndexRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDocumentIndexRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDocumentIndexRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/document/query": {
      "post": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Search documents",
        "description": "Searches an object using various query parameters (for example, Advanced, Fulltext, and Typeahead) and returns the results along with a count.",
        "parameters": [
          {
            "name": "objectName",
            "in": "query",
            "description": "Document object for which the query needs to be executed.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsRefreshFromDB",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Query to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "49c384a9-a1a8-4b30-9a18-85c9acaf3965"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/global-search-data-types": {
      "get": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Get field data types supported in global search configuration.",
        "description": "Returns field data types supported in global search configuration.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/global/query": {
      "post": {
        "tags": [
          "GlobalSearch Runtime"
        ],
        "summary": "Global Search on configured objects",
        "requestBody": {
          "description": "The global search request containing search term, object list, pagination settings, and exclude object options (via ExcludeObjectList).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalSearchRequest"
              },
              "example": {
                "SearchTerm": "SomeText",
                "PhraseSearch": null,
                "ObjectList": [
                  {
                    "ObjectName": "Account",
                    "Select": [
                      "Id",
                      "Name"
                    ],
                    "FilterCriteria": "CreatedDate > '2025-01-01'",
                    "Skip": 0,
                    "Limit": 10,
                    "Sort": {
                      "FieldName": "CreatedDate",
                      "Direction": "Descending"
                    }
                  },
                  {
                    "ObjectName": "Agreement",
                    "Select": null,
                    "FilterCriteria": null,
                    "Skip": null,
                    "Limit": null,
                    "Sort": null
                  }
                ],
                "Skip": 0,
                "Limit": 20,
                "ExcludeObjectList": [
                  "AgreementClause"
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalSearchRequest"
              },
              "example": {
                "SearchTerm": "SomeText",
                "PhraseSearch": null,
                "ObjectList": [
                  {
                    "ObjectName": "Account",
                    "Select": [
                      "Id",
                      "Name"
                    ],
                    "FilterCriteria": "CreatedDate > '2025-01-01'",
                    "Skip": 0,
                    "Limit": 10,
                    "Sort": {
                      "FieldName": "CreatedDate",
                      "Direction": "Descending"
                    }
                  },
                  {
                    "ObjectName": "Agreement",
                    "Select": null,
                    "FilterCriteria": null,
                    "Skip": null,
                    "Limit": null,
                    "Sort": null
                  }
                ],
                "Skip": 0,
                "Limit": 20,
                "ExcludeObjectList": [
                  "AgreementClause"
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GlobalSearchRequest"
              },
              "example": {
                "SearchTerm": "SomeText",
                "PhraseSearch": null,
                "ObjectList": [
                  {
                    "ObjectName": "Account",
                    "Select": [
                      "Id",
                      "Name"
                    ],
                    "FilterCriteria": "CreatedDate > '2025-01-01'",
                    "Skip": 0,
                    "Limit": 10,
                    "Sort": {
                      "FieldName": "CreatedDate",
                      "Direction": "Descending"
                    }
                  },
                  {
                    "ObjectName": "Agreement",
                    "Select": null,
                    "FilterCriteria": null,
                    "Skip": null,
                    "Limit": null,
                    "Sort": null
                  }
                ],
                "Skip": 0,
                "Limit": 20,
                "ExcludeObjectList": [
                  "AgreementClause"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalSearchResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/objects/multiple/query": {
      "post": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Search objects",
        "description": "Searches over multiple objects using various query parameters (for example, Advanced, Fulltext, and Typeahead) and returns the results along with the record count.<p>When searching the text across all the documents, the response provides the total DocumentCount (which indicates in how many documents the document search text was found) and the NoOfOccurrances count (which indicates how many times the document search text appeared in all documents).</p>",
        "parameters": [
          {
            "name": "IncludeTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsRefreshFromDB",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Query to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleObjectDocumentSearchRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleObjectDocumentSearchRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MultipleObjectDocumentSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "7c9fccb5-9eeb-4b88-8df6-8cc03ea03c0f"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/objects/{objectName}/indexedfields": {
      "get": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Retrieve fields from the search settings or database",
        "description": "Retrieves the list of fields first from the [search settings](https://documentation.conga.com/congaplatform/latest/creating-and-managing-search-settings-222430006.html), and if no fields are enabled for search for the object, it displays indexed fields from the database.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object for which the field list to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "290ee5a1-7a9f-4a66-9961-d55d5d4534d6"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/objects/{objectName}/query": {
      "post": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Search an object",
        "description": "Searches an object using various query parameters (for example, Advanced, Fulltext, and Typeahead) and returns the results along with a count.<p>**Note**: If no search settings are configured for User, Role, and Object Permission objects, the API searches the database for object details.</p>",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object for which the query needs to be executed.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeTotalCount",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsRefreshFromDB",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Query to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAPIQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "c805377e-94a0-4981-9b99-977e415ef4ff"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/rbac-migrate": {
      "post": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Migrate Search RBAC settings",
        "description": "Migrates Search RBAC settings by identifying missing RBAC fields in search settings and publishing a migration message if required.",
        "parameters": [
          {
            "name": "updateSearchSetting",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchRbacMigrationResponseAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/resyncdata": {
      "post": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Resync data for objects except Document",
        "description": "Resync data of objects which have mismatch (Elasticsearch and database) count and their data sync will be initialized.\r\n            Document object will not be processed here. to sync data of Documents, trigger manually using `api/search/v1/{objectName}/resyncdata`",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/setting": {
      "get": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Get all search settings",
        "description": "Retrieves all objects' search settings.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "EnableAllSearchFields": false,
                    "IsGlobalSearchEnabled": true,
                    "SearchFields": [
                      {
                        "FieldName": "SearchFields",
                        "Source": "None"
                      }
                    ],
                    "GlobalSearchFields": [
                      {
                        "FieldName": "GlobalSearchField"
                      }
                    ],
                    "TypeAheadFields": [
                      {
                        "FieldName": "TypeAheadFieldName"
                      }
                    ],
                    "SelectFields": [
                      {
                        "FieldName": "SearchField"
                      }
                    ],
                    "IgnoreFields": [],
                    "PriorityFields": [
                      {
                        "FieldName": "PriorityField",
                        "Priority": 1
                      }
                    ],
                    "Id": "e6e8542a-dbab-4fd6-986a-915bb3ada27c",
                    "Name": "SampleName",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Create a search setting",
        "description": "Creates a search setting for a particular object.",
        "requestBody": {
          "description": "Search setting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "EnableAllSearchFields": false,
                    "IsGlobalSearchEnabled": true,
                    "SearchFields": [
                      {
                        "FieldName": "SearchFields",
                        "Source": "None"
                      }
                    ],
                    "GlobalSearchFields": [
                      {
                        "FieldName": "GlobalSearchField"
                      }
                    ],
                    "TypeAheadFields": [
                      {
                        "FieldName": "TypeAheadFieldName"
                      }
                    ],
                    "SelectFields": [
                      {
                        "FieldName": "SearchField"
                      }
                    ],
                    "IgnoreFields": [],
                    "PriorityFields": [
                      {
                        "FieldName": "PriorityField",
                        "Priority": 1
                      }
                    ],
                    "Id": "24ae658e-b54f-4861-85a4-a4ed37fc29bb",
                    "Name": "SampleName",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/setting/list": {
      "get": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Get a list of objects for which the search setting is enabled",
        "description": "Retrieves a list of objects for which the search setting is enabled.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/setting/{objectName}": {
      "delete": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Delete object search setting",
        "description": "Deletes the search setting for a given object name.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object to delete the search setting from.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Search Runtime"
        ],
        "summary": "Get search setting",
        "description": "Retrieves the search setting by object name.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchSettingResponseAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": {
                    "ObjectName": "SampleObjectName",
                    "EnableAllSearchFields": false,
                    "IsGlobalSearchEnabled": true,
                    "SearchFields": [
                      {
                        "FieldName": "SearchFields",
                        "Source": "None"
                      }
                    ],
                    "GlobalSearchFields": [
                      {
                        "FieldName": "GlobalSearchField"
                      }
                    ],
                    "TypeAheadFields": [
                      {
                        "FieldName": "TypeAheadFieldName"
                      }
                    ],
                    "SelectFields": [
                      {
                        "FieldName": "SearchField"
                      }
                    ],
                    "IgnoreFields": [],
                    "PriorityFields": [
                      {
                        "FieldName": "PriorityField",
                        "Priority": 1
                      }
                    ],
                    "Id": "52c6470c-47e0-4592-bf23-9f39fe9fdb71",
                    "Name": "SampleName",
                    "CreatedBy": null,
                    "CreatedDate": "0001-01-01T00:00:00",
                    "ModifiedBy": null,
                    "ModifiedDate": "0001-01-01T00:00:00",
                    "ExternalId": null,
                    "ETag": null
                  },
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Update object search setting",
        "description": "Updates the search setting for a given object name.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object for which the search setting shall be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forceToUpdateSearchSetting",
            "in": "query",
            "description": "",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "Search setting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchSettingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/{objectName}/datasyncstatus": {
      "get": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Get data sync status of an object",
        "description": "Gets data sync status (Elasticsearch and database) of the given object.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "description": "Name of the object for which the data sync status to be checked.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSyncStatusResponseAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/search/v1/{objectName}/resyncdata": {
      "post": {
        "tags": [
          "Search Admin"
        ],
        "summary": "Resync data for an object",
        "description": "Resync data of an object which have mismatch (Elasticsearch and database) count and their data sync will be initialized.",
        "parameters": [
          {
            "name": "objectName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forceToSyncData",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DataSyncStatus": {
        "enum": [
          "Error",
          "InProgress",
          "Completed",
          "NotStarted"
        ],
        "type": "string"
      },
      "DataSyncStatusResponse": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "nullable": true
          },
          "ElasticSearchCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "DatabaseCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "DataSyncStatus": {
            "$ref": "#/components/schemas/DataSyncStatus"
          }
        },
        "additionalProperties": false
      },
      "DataSyncStatusResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/DataSyncStatusResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DataSyncStatusResponseListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataSyncStatusResponse"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FieldSource": {
        "enum": [
          "None",
          "SeedSchema",
          "User",
          "RBACWorker"
        ],
        "type": "string"
      },
      "GlobalSearchField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "description": "Gets or sets the name of the field.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Contains the definition of a global search field."
      },
      "GlobalSearchObjectResult": {
        "type": "object",
        "properties": {
          "RecordCount": {
            "type": "integer",
            "description": "Total number of records found",
            "format": "int32"
          },
          "Results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {},
              "description": "Global Search Generic Records for each Object."
            },
            "description": "The list of matching records, where each record is represented as a dictionary of key-value pairs.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents the result of a global search operation, including the total number of records found and the list of\r\nmatching records."
      },
      "GlobalSearchQueryObject": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "description": "The name of the object to be searched. This identifies the specific entity type to query.",
            "nullable": true
          },
          "Select": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of field names to be returned in the search results. Specifies which properties of the object should be included in the response.",
            "nullable": true
          },
          "FilterCriteria": {
            "type": "string",
            "description": "Optional filter criteria to narrow down search results. Defines conditions that records must meet to be included in the results.",
            "nullable": true
          },
          "Skip": {
            "type": "integer",
            "description": "The number of records to skip for pagination. Used in conjunction with Limit to implement paging.",
            "format": "int32",
            "nullable": true
          },
          "Limit": {
            "type": "integer",
            "description": "The maximum number of records to return. Used for pagination along with Skip.",
            "format": "int32",
            "nullable": true
          },
          "Sort": {
            "$ref": "#/components/schemas/SortInfo"
          }
        },
        "additionalProperties": false
      },
      "GlobalSearchRequest": {
        "type": "object",
        "properties": {
          "SearchTerm": {
            "type": "string",
            "description": "The search term or keyword to search across objects. Used for search operations.",
            "nullable": true
          },
          "PhraseSearch": {
            "type": "boolean",
            "description": "Flag indicating phrase search mode. \r\nIf true, the search term will be treated as an exact phrase, and results will only include records that match the entire phrase.",
            "nullable": true
          },
          "ObjectList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalSearchQueryObject"
            },
            "description": "List of objects to be searched along with their specific search criteria, filters, and field selections.\r\nEach entry in this list represents a separate object query with its own configuration.",
            "nullable": true
          },
          "Skip": {
            "type": "integer",
            "description": "The number of records to skip for pagination. Used in conjunction with Limit to implement paging.\r\nDefault is 0 if not specified.",
            "format": "int32"
          },
          "Limit": {
            "type": "integer",
            "description": "The maximum number of records to return per page. Used for pagination along with Skip.\r\nDefault page size applies if not specified.",
            "format": "int32"
          },
          "ExcludeObjectList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of object identifiers or names to exclude from the global search operation.\r\nAny objects specified here will be omitted from search results, even if they appear in ObjectList or defaults.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Global Search Request"
      },
      "GlobalSearchResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/GlobalSearchObjectResult"
            },
            "description": "GlobalSearchResponse",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HttpStatusCode": {
        "enum": [
          "Continue",
          "SwitchingProtocols",
          "Processing",
          "EarlyHints",
          "OK",
          "Created",
          "Accepted",
          "NonAuthoritativeInformation",
          "NoContent",
          "ResetContent",
          "PartialContent",
          "MultiStatus",
          "AlreadyReported",
          "IMUsed",
          "MultipleChoices",
          "MovedPermanently",
          "Found",
          "SeeOther",
          "NotModified",
          "UseProxy",
          "Unused",
          "TemporaryRedirect",
          "PermanentRedirect",
          "BadRequest",
          "Unauthorized",
          "PaymentRequired",
          "Forbidden",
          "NotFound",
          "MethodNotAllowed",
          "NotAcceptable",
          "ProxyAuthenticationRequired",
          "RequestTimeout",
          "Conflict",
          "Gone",
          "LengthRequired",
          "PreconditionFailed",
          "RequestEntityTooLarge",
          "RequestUriTooLong",
          "UnsupportedMediaType",
          "RequestedRangeNotSatisfiable",
          "ExpectationFailed",
          "MisdirectedRequest",
          "UnprocessableEntity",
          "Locked",
          "FailedDependency",
          "UpgradeRequired",
          "PreconditionRequired",
          "TooManyRequests",
          "RequestHeaderFieldsTooLarge",
          "UnavailableForLegalReasons",
          "InternalServerError",
          "NotImplemented",
          "BadGateway",
          "ServiceUnavailable",
          "GatewayTimeout",
          "HttpVersionNotSupported",
          "VariantAlsoNegotiates",
          "InsufficientStorage",
          "LoopDetected",
          "NotExtended",
          "NetworkAuthenticationRequired"
        ],
        "type": "string"
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MultipleObjectDocumentSearchRequest": {
        "type": "object",
        "properties": {
          "DocumentSearchText": {
            "type": "string",
            "nullable": true
          },
          "IsInverseRelation": {
            "type": "boolean"
          },
          "MultipleObjectSearchQueries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultipleObjectSearchQuery"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MultipleObjectSearchQuery": {
        "type": "object",
        "properties": {
          "Query": {
            "$ref": "#/components/schemas/Query"
          },
          "IsPrimaryObject": {
            "type": "boolean"
          },
          "ReferenceAliasName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OrderBy": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "PriorityField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          },
          "Priority": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "Query": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "description": "Name of object on which querying needs to be done.",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "Select": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The fields which are to be displayed.",
            "nullable": true
          },
          "Distinct": {
            "type": "boolean",
            "description": "Select true to get distinct records"
          },
          "Limit": {
            "type": "integer",
            "description": "Limit set for records to be fetched. **For example**: Limit = 100, This will fetch 100 records matching the criteria.",
            "format": "int32",
            "nullable": true
          },
          "Skip": {
            "type": "integer",
            "description": "Number of records to be skipped.",
            "format": "int32",
            "nullable": true
          },
          "Sort": {
            "$ref": "#/components/schemas/Sort"
          },
          "GroupBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of field names which are to be grouped.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Schema Model for Query"
      },
      "SearchAPIQuery": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "description": "Name of object on which querying needs to be done.",
            "nullable": true
          },
          "Criteria": {
            "type": "string",
            "nullable": true
          },
          "Select": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The fields which are to be displayed.",
            "nullable": true
          },
          "Distinct": {
            "type": "boolean",
            "description": "Select true to get distinct records"
          },
          "Limit": {
            "type": "integer",
            "description": "Limit set for records to be fetched. **For example**: Limit = 100, This will fetch 100 records matching the criteria.",
            "format": "int32",
            "nullable": true
          },
          "Skip": {
            "type": "integer",
            "description": "Number of records to be skipped.",
            "format": "int32",
            "nullable": true
          },
          "Sort": {
            "$ref": "#/components/schemas/Sort"
          },
          "GroupBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of field names which are to be grouped.",
            "nullable": true
          },
          "SearchType": {
            "type": "string",
            "nullable": true
          },
          "AdditionalTypeAheadFilterCriteria": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchDataSyncStatusResponse": {
        "type": "object",
        "properties": {
          "TrackingId": {
            "type": "string",
            "nullable": true
          },
          "EventType": {
            "type": "string",
            "nullable": true
          },
          "ObjectSyncStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchObjectSyncStatus"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchDataSyncStatusResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/SearchDataSyncStatusResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchDocumentIndexRequest": {
        "type": "object",
        "properties": {
          "DocumentId": {
            "type": "string",
            "description": "ID of the document that refers to document store.",
            "nullable": true
          },
          "Version": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Search Document Index Request"
      },
      "SearchField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          },
          "Source": {
            "$ref": "#/components/schemas/FieldSource"
          }
        },
        "additionalProperties": false
      },
      "SearchObjectDataSyncStatus": {
        "type": "object",
        "properties": {
          "Status": {
            "type": "string",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchObjectSyncStatus": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "nullable": true
          },
          "TotalCount": {
            "type": "integer",
            "format": "int32"
          },
          "SuccessCount": {
            "type": "integer",
            "format": "int32"
          },
          "FailedCount": {
            "type": "integer",
            "format": "int32"
          },
          "ObjectDataSyncStatus": {
            "$ref": "#/components/schemas/SearchObjectDataSyncStatus"
          }
        },
        "additionalProperties": false
      },
      "SearchRbacMigrationDetail": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "nullable": true
          },
          "SearchFieldsAdded": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchRbacMigrationResponse": {
        "type": "object",
        "properties": {
          "TrackingId": {
            "type": "string",
            "description": "Tracking ID for the migration",
            "nullable": true
          },
          "UpdateSearchSetting": {
            "type": "boolean",
            "description": "Update search setting flag"
          },
          "SearchSettingChanges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchRbacMigrationDetail"
            },
            "description": "Search setting changes",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Search Rbac Migration response"
      },
      "SearchRbacMigrationResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/SearchRbacMigrationResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchSetting": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExternalId": {
            "type": "string",
            "nullable": true
          },
          "ETag": {
            "type": "string",
            "nullable": true
          },
          "ObjectName": {
            "type": "string",
            "description": "Name of the object",
            "nullable": true
          },
          "EnableAllSearchFields": {
            "type": "boolean",
            "description": "Enable All Search Fields from metadata."
          },
          "IsGlobalSearchEnabled": {
            "type": "boolean",
            "description": "Enable Global Search",
            "readOnly": true
          },
          "SearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchField"
            },
            "description": "Search Fields - Perform search on SearchFields set.",
            "nullable": true
          },
          "GlobalSearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalSearchField"
            },
            "description": "Global Search Fields - Perform search on GlobalSearchFields set.",
            "nullable": true
          },
          "TypeAheadFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "TypeAhead Fields - Provide suggestions for users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "SelectFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Select Fields - users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "IgnoreFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Ignore fields - should not return in results.",
            "nullable": true
          },
          "PriorityFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriorityField"
            },
            "description": "Based on Priority fields - result should be sort.",
            "nullable": true
          }
        },
        "additionalProperties": {},
        "description": "Search Setting - Define search configuration for Object."
      },
      "SearchSettingAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/SearchSetting"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchSettingRequest": {
        "type": "object",
        "properties": {
          "ObjectName": {
            "type": "string",
            "description": "Name of the object",
            "nullable": true
          },
          "EnableAllSearchFields": {
            "type": "boolean",
            "description": "Enable All Search Fields from metadata."
          },
          "SearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Search Fields - Perform search on SearchFields set.",
            "nullable": true
          },
          "GlobalSearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalSearchField"
            },
            "description": "Global Search Fields - Perform search on GlobalSearchFields set.",
            "nullable": true
          },
          "TypeAheadFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "TypeAhead Fields - Provide suggestions for users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "SelectFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Select Fields - users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "IgnoreFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Ignore fields - should not return in results.",
            "nullable": true
          },
          "PriorityFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriorityField"
            },
            "description": "Based on Priority fields - result should be sort.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchSettingResponse": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Id for the search setting.",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "description": "Name of the object for which search setting is created.",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "CreatedDate": {
            "type": "string",
            "description": "Indicates the date and time when search setting was created.",
            "format": "date-time"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedDate": {
            "type": "string",
            "description": "Indicates the date and time when search setting was updated.",
            "format": "date-time"
          },
          "ObjectName": {
            "type": "string",
            "description": "Name of the object",
            "nullable": true
          },
          "EnableAllSearchFields": {
            "type": "boolean",
            "description": "Enable All Search Fields from metadata."
          },
          "SearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Search Fields - Perform search on SearchFields set.",
            "nullable": true
          },
          "GlobalSearchFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalSearchField"
            },
            "description": "Global Search Fields - Perform search on GlobalSearchFields set.",
            "nullable": true
          },
          "TypeAheadFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "TypeAhead Fields - Provide suggestions for users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "SelectFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Select Fields - users as they type in a query and return list of fields in result.",
            "nullable": true
          },
          "IgnoreFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableField"
            },
            "description": "Ignore fields - should not return in results.",
            "nullable": true
          },
          "PriorityFields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PriorityField"
            },
            "description": "Based on Priority fields - result should be sort.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SearchSettingResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/SearchSettingResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Sort": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "description": "Field name for sort. **For example**: FirstName. <p>**Note**: The sort field (in this case, FirstName) should be indexed or sortable.</p>",
            "nullable": true
          },
          "OrderBy": {
            "$ref": "#/components/schemas/OrderBy"
          }
        },
        "additionalProperties": false,
        "description": "Sort information for records."
      },
      "SortDirection": {
        "enum": [
          "Ascending",
          "Descending"
        ],
        "type": "string"
      },
      "SortInfo": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          },
          "Direction": {
            "$ref": "#/components/schemas/SortDirection"
          }
        },
        "additionalProperties": false
      },
      "StringAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "string",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StringListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "StringObjectDictionaryListAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TableField": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "GlobalSearch Runtime"
    },
    {
      "name": "Search Admin"
    },
    {
      "name": "Search Runtime"
    }
  ]
}
