{
  "openapi": "3.0.1",
  "info": {
    "title": "Data",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/data/v1/Account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get all account records",
        "description": "Returns a list of all records for the given object.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the users. **For example**: IsActive = 'true'. <p>**Note**: The criteria field (in this case, IsActive) should be indexed.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records in each page. **For example**: 5, It will display 5 records on each page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of pages to be fetched. **For example**: 2, It will fetch the second page with the number of records (mentioned in the pageSize parameter).<p>**Note**:The page Index starts from 1.</p>",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: FirstName. <p>**Note**: The sort field (in this case, FirstName) should be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction for the data.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "95dabd23-df92-4fe8-81c3-8015e968b3c2"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Insert a new account record",
        "description": "Validates the record details and inserts if it does not exist in the given object.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. For example: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be schema fields). The schema and metadata can be generated using the Schema Manager APIs.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create a record using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create a record using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate a new GUID and create a record using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate a new GUID and create a record using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestExample"
              },
              "example": "{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}}"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "e94d5eb4-c88e-463a-8065-6c0e6ef4eeb2",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "User doesn't have permission on 'account_p' object."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Account/bulk": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete multiple account records",
        "description": "Removes multiple records from the given object.",
        "parameters": [
          {
            "name": "DeleteByField",
            "in": "query",
            "description": "The field to use for deleting the record. <p>**Note**: Default value set to Id.</p>",
            "schema": {
              "$ref": "#/components/schemas/DeleteByField"
            }
          },
          {
            "name": "DeleteBehaviour",
            "in": "query",
            "description": "whether to do  a soft/hard delete record or not",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          },
          {
            "name": "IncludeDeleteResultStatus",
            "in": "query",
            "description": "Set to true to get the delete status in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Multiple record IDs to be deleted. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "DeletedRecordIds : [a1111a4e-3d31-4b98-84b6-123bcadb553d,3030cb96-fc43-401e-a2ec-da73eafbca73]",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Upsert multiple account records",
        "description": "Validates the record details and updates if the ID already exists in the provided object, else inserts if it does not.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "description": "Set to true to enforce optimistic locking. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdateByField",
            "in": "query",
            "description": "The field to use for updating the record. <p>**Note**: Default value set to Id.</p>",
            "schema": {
              "$ref": "#/components/schemas/UpdateByField"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID. and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you want to upsert records by ID field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `ID` if it exists, and ensure that the `externalId` is unique. | ExternalId unique validation |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, and ensure that the `externalId` is unique. | NA |\r\n             | No             | Yes                    | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` is unique. | ExternalId unique validation |\r\n             | No             | No                     | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` remains null. | NA |\r\n             Refer to the following table to understand the behavior when you want to upsert records by externalId field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `externalId` if it exists. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, keeping `externalId` unchanged. If the `ID` does not exist, create a new record with that ID, and set the `externalId` to null. | NA |\r\n             | No             | Yes                    | Update the record using the `externalId` if it exists. | NA |\r\n             | No             | No                     | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` remains null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Insert multiple account records",
        "description": "Validates the object record details and creates multiple records in the given object.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create records using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create records using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate new GUIDs and create records using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate new GUIDs and create records using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestExample"
              },
              "example": "[{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}},{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}}]"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "04448912-ec07-464e-a834-01104c9e6133",
                    "ea57cd70-101f-4ac8-9431-e0c2f2cbc6f4",
                    "e16db7ba-5da4-4177-9171-a8afd434af3c"
                  ],
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update multiple account records",
        "description": "Validates the object record details and updates multiple records in the given object.",
        "parameters": [
          {
            "name": "UpdateByField",
            "in": "query",
            "description": "The field to use for updating the record. <p>**Note**: Default value set to ID.</p>",
            "schema": {
              "$ref": "#/components/schemas/UpdateByField"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\", `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID. and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you want to update records by ID field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `ID` if it exists, and ensure the `externalId` is unique. | ExternalId unique validation |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, and ensure the `externalId` is unique. | NA |\r\n             | No             | Yes                    | Invalid scenario. Throw a validation error. | Throw a validation error if the ID is not found, indicating that the ID must exist. |\r\n             | No             | No                     | Invalid scenario. Throw a validation error. | NA |\r\n             Refer to the following table to understand the behavior when you want to update records by externalId field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `externalId` if it exists. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | Yes            | No                     | Invalid scenario. Throw a validation error. | Throw a validation error indicating that the externalId must exist. |\r\n             | No             | Yes                    | Update the record using the `externalId` if it exists. | NA |\r\n             | No             | No                     | Invalid scenario. Throw a validation error. | Throw a validation error indicating that the externalId must exist. |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestExample"
              },
              "example": "[{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}},{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}}]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Account/by-externalId/{externalId}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete a account record by externalId",
        "description": "Validates the record based on the External ID and removes it from the given object.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 27a6a4a6-41c0-4e2a-b56d-355bb4ab2e09.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteBehaviour",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get a account record using externalId",
        "description": "Checks the externalId in the given object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update a account record by externalId",
        "description": "Updates the record based on the object, externalId, and the details of the record that you want to update.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\".\r\n             /// <p>**Note**: The fields/properties should be part of the schema/metadata created for the object(in this case, Name and Description should be a field in schema). The schema/metadata can be generated using schema manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID in the payload.\r\n            \r\n             | ID in payload? | Behavior | Validation |\r\n             |----------------|----------|------------|\r\n             | Yes            | Update a record by `externalId`. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | No             | Update a record by `externalId`. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestExample"
              },
              "example": "{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Account/query": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Execute single query",
        "description": "Validates and executes the query request for the given object and specifying whether the total record count should be included in the response.",
        "parameters": [
          {
            "name": "IncludeTotalCount",
            "in": "query",
            "description": "Set to true to get the total count of records in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Actual query to be executed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "c078a7ab-182b-4681-ad61-545c46a2bcfe"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/data/v1/Account/recordtypes": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get all account record types",
        "description": "Retrieves a list of all record types for the given object.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Account/summary": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get object account record count and size on disk",
        "description": "Returns a count of all records for the given object, and it's size on disk.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "4c003591-f7c7-4b04-b887-57e25f42aa91"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Account/{id}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete a account record",
        "description": "Validates the record based on the record ID and removes it from the given object.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteBehaviour",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get a account record using account record ID",
        "description": "Checks the record ID in the given object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update a account record",
        "description": "Updates the record based on the object, record ID, and the details of the record that you want to update.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\". <p>**Note**: The fields/properties should be part of the schema/metadata created for the object(in this case, Name and Description should be a field in schema). The schema/metadata can be generated using schema manager API.</p>",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequestExample"
              },
              "example": "{\"Name\":\"Conga Account\",\"AccountNumber\":\"1111111111\",\"AccountSource\":\"Account Source\",\"BillingAddress\":\"Billing Address\",\"BillingCity\":\"Billing City\",\"ChannelProgramName\":\"Channel Program Name\",\"Industry\":\"Communications\",\"IsCustomerPortal\":\"false\",\"IsPartner\":true,\"AnnualRevenue\":111111,\"BillingCountry\":\"Billing Country\",\"BillingCountryCode\":\"Billing Country Code\",\"BillingPostalCode\":\"Billing Postal Code\",\"BillingState\":\"Billing State\",\"BillingStreet\":\"Billing Street\",\"ChannelProgramLevelName\":\"Channel ProgramLevel Name\",\"Description\":\"Description\",\"Fax\":\"Fax\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Ownership\":\"Public\",\"Parent\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Phone\":\"111111111\",\"PhotoUrl\":\"https://testurl.com/1234\",\"Rating\":\"Rating\",\"ShippingAddress\":\"Shipping Address\",\"ShippingCity\":\"Shipping City\",\"ShippingCountry\":\"Shipping Country\",\"ShippingCountryCode\":\"Shipping Country Code\",\"ShippingPostalCode\":\"Shipping Postal Code\",\"ShippingState\":\"Shipping State\",\"ShippingStreet\":\"Shipping Street\",\"Site\":\"Site\",\"Type\":\"Type\",\"Website\":\"https://testweb.com\",\"PriceList\":{\"Id\":\"Guid\",\"Name\":\"PriceList Name\"}}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get all contact records",
        "description": "Returns a list of all records for the given object.",
        "parameters": [
          {
            "name": "criteria",
            "in": "query",
            "description": "Search criteria for the users. **For example**: IsActive = 'true'. <p>**Note**: The criteria field (in this case, IsActive) should be indexed.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records in each page. **For example**: 5, It will display 5 records on each page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Number of pages to be fetched. **For example**: 2, It will fetch the second page with the number of records (mentioned in the pageSize parameter).<p>**Note**:The page Index starts from 1.</p>",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Field name for sorting. **For example**: FirstName. <p>**Note**: The sort field (in this case, FirstName) should be indexed or sortable.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction for the data.",
            "schema": {
              "$ref": "#/components/schemas/SortDirection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "95dabd23-df92-4fe8-81c3-8015e968b3c2"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Insert a new contact record",
        "description": "Validates the record details and inserts if it does not exist in the given object.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. For example: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be schema fields). The schema and metadata can be generated using the Schema Manager APIs.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create a record using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create a record using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate a new GUID and create a record using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate a new GUID and create a record using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequestExample"
              },
              "example": "{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"}"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "e94d5eb4-c88e-463a-8065-6c0e6ef4eeb2",
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Found unknown field(s)"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "User doesn't have permission on 'account_p' object."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact/bulk": {
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete multiple contact records",
        "description": "Removes multiple records from the given object.",
        "parameters": [
          {
            "name": "DeleteByField",
            "in": "query",
            "description": "The field to use for deleting the record. <p>**Note**: Default value set to Id.</p>",
            "schema": {
              "$ref": "#/components/schemas/DeleteByField"
            }
          },
          {
            "name": "DeleteBehaviour",
            "in": "query",
            "description": "whether to do  a soft/hard delete record or not",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          },
          {
            "name": "IncludeDeleteResultStatus",
            "in": "query",
            "description": "Set to true to get the delete status in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Multiple record IDs to be deleted. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": "DeletedRecordIds : [a1111a4e-3d31-4b98-84b6-123bcadb553d,3030cb96-fc43-401e-a2ec-da73eafbca73]",
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contact"
        ],
        "summary": "Upsert multiple contact records",
        "description": "Validates the record details and updates if the ID already exists in the provided object, else inserts if it does not.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "description": "Set to true to enforce optimistic locking. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "UpdateByField",
            "in": "query",
            "description": "The field to use for updating the record. <p>**Note**: Default value set to Id.</p>",
            "schema": {
              "$ref": "#/components/schemas/UpdateByField"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID. and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you want to upsert records by ID field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `ID` if it exists, and ensure that the `externalId` is unique. | ExternalId unique validation |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, and ensure that the `externalId` is unique. | NA |\r\n             | No             | Yes                    | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` is unique. | ExternalId unique validation |\r\n             | No             | No                     | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` remains null. | NA |\r\n             Refer to the following table to understand the behavior when you want to upsert records by externalId field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `externalId` if it exists. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, keeping `externalId` unchanged. If the `ID` does not exist, create a new record with that ID, and set the `externalId` to null. | NA |\r\n             | No             | Yes                    | Update the record using the `externalId` if it exists. | NA |\r\n             | No             | No                     | Generate a new GUID to use as the ID, create a new record with ID, and ensure the `externalId` remains null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Insert multiple contact records",
        "description": "Validates the object record details and creates multiple records in the given object.",
        "parameters": [
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: `Name = \"Mark\"`, `Description = \"Description\"`, `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID, and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID and/or External ID.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Create records using the ID field value as provided in the payload. | ExternalId unique validation |\r\n             | Yes            | No                     | Create records using the ID field value as provided in the payload and set the ExternalId to null. | NA |\r\n             | No             | Yes                    | Generate new GUIDs and create records using the ID field value with the new GUID value. | ExternalId unique validation |\r\n             | No             | No                     | Generate new GUIDs and create records using the ID field value with the new GUID value and set the ExternalId to null. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequestExample"
              },
              "example": "[{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"},{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"}]"
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": [
                    "04448912-ec07-464e-a834-01104c9e6133",
                    "ea57cd70-101f-4ac8-9431-e0c2f2cbc6f4",
                    "e16db7ba-5da4-4177-9171-a8afd434af3c"
                  ],
                  "StatusCode": "Created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update multiple contact records",
        "description": "Validates the object record details and updates multiple records in the given object.",
        "parameters": [
          {
            "name": "UpdateByField",
            "in": "query",
            "description": "The field to use for updating the record. <p>**Note**: Default value set to ID.</p>",
            "schema": {
              "$ref": "#/components/schemas/UpdateByField"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\", `ID = \"263rd72c-edfc-4dc5-b72f-45104fe5ef43\"`, `externalId = \"4614d72c-edfd-4dc5-b72f-45104fe5ef43\"`.\r\n             <p>**Note**: The fields/properties must be part of the schema/metadata created for the custom object (in this case, Name, Description, ID. and externalId must be fields in the schema). The schema and metadata can be generated using the Schema Manager API.</p>\r\n             Refer to the following table to understand the behavior when you want to update records by ID field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `ID` if it exists, and ensure the `externalId` is unique. | ExternalId unique validation |\r\n             | Yes            | No                     | Update the record using the `ID` if it exists, and ensure the `externalId` is unique. | NA |\r\n             | No             | Yes                    | Invalid scenario. Throw a validation error. | Throw a validation error if the ID is not found, indicating that the ID must exist. |\r\n             | No             | No                     | Invalid scenario. Throw a validation error. | NA |\r\n             Refer to the following table to understand the behavior when you want to update records by externalId field.\r\n            \r\n             | ID in payload? | ExternalId in payload? | Behavior | Validation |\r\n             |----------------|------------------------|----------|------------|\r\n             | Yes            | Yes                    | Update the record using the `externalId` if it exists. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | Yes            | No                     | Invalid scenario. Throw a validation error. | Throw a validation error indicating that the externalId must exist. |\r\n             | No             | Yes                    | Update the record using the `externalId` if it exists. | NA |\r\n             | No             | No                     | Invalid scenario. Throw a validation error. | Throw a validation error indicating that the externalId must exist. |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequestExample"
              },
              "example": "[{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"},{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"}]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact/by-externalId/{externalId}": {
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete a contact record by externalId",
        "description": "Validates the record based on the External ID and removes it from the given object.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 27a6a4a6-41c0-4e2a-b56d-355bb4ab2e09.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteBehaviour",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get a contact record using externalId",
        "description": "Checks the externalId in the given object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact"
        ],
        "summary": "Update a contact record by externalId",
        "description": "Updates the record based on the object, externalId, and the details of the record that you want to update.",
        "parameters": [
          {
            "name": "externalId",
            "in": "path",
            "description": "External ID of the record. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IncludeRecordPayloadInResponse",
            "in": "query",
            "description": "Set to true to get the payload in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "EnforceOptimisticLocking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Details about the record. **For example**: Name = \"Mark\", Description = \"Description\".\r\n             /// <p>**Note**: The fields/properties should be part of the schema/metadata created for the object(in this case, Name and Description should be a field in schema). The schema/metadata can be generated using schema manager API.</p>\r\n             Refer to the following table to understand the behavior when you pass ID in the payload.\r\n            \r\n             | ID in payload? | Behavior | Validation |\r\n             |----------------|----------|------------|\r\n             | Yes            | Update a record by `externalId`. | The record's ID must match the ID provided in the payload. If not, give an error. Do not allow the ID to be updated in any case. |\r\n             | No             | Update a record by `externalId`. | NA |",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequestExample"
              },
              "example": "{\"Account\":{\"Id\":\"Guid\",\"Name\":\"Account Name\"},\"Name\":\"Contact Name\",\"FirstName\":\"Contact First Name\",\"LastName\":\"Contact Last Name\",\"AssistantName\":\"Assistant Name\",\"Department\":\"QA\",\"Description\":\"Sample Contact Rec\",\"DoNotCall\":\"false\",\"Email\":\"test@email.com\",\"IsEmailBounced\":true,\"EmailBouncedDate\":\"2021-02-25\",\"EmailBouncedReason\":\"Failure\",\"LeadSource\":\"Lead Source\",\"AssistantPhone\":\"1111111111\",\"Birthdate\":\"2021-02-25\",\"Fax\":\"TestFAX\",\"HasOptedOutOfEmail\":\"false\",\"HasOptedOutOfFax\":\"false\",\"HomePhone\":\"1111111111\",\"MailingAddress\":\"Mailing Address\",\"MailingCity\":\"Mailing City\",\"MailingCountry\":\"Mailing Country\",\"MailingCountryCode\":\"Mailing Country Code\",\"MailingPostalCode\":\"Mailing Postal Code\",\"MailingState\":\"Mailing State\",\"MailingStreet\":\"Mailing Street\",\"MobilePhone\":\"1111111111\",\"OtherAddress\":\"Other Address\",\"OtherCity\":\"Other City\",\"OtherCountry\":\"Other Country\",\"OtherCountryCode\":\"Other Country Code\",\"OtherPhone\":\"1111111111\",\"OtherPostalCode\":\"Other Postal Code\",\"OtherState\":\"Other State\",\"OtherStreet\":\"Other Street\",\"Owner\":{\"Id\":\"Guid\",\"Name\":\"User Name\"},\"Phone\":\"1111111111\",\"PhotoUrl\":\"https://test.com/123\",\"Salutation\":\"Salutation\",\"Title\":\"Title\"}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryAPIResponse"
                },
                "example": {
                  "Success": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact/query": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Execute single query",
        "description": "Validates and executes the query request for the given object and specifying whether the total record count should be included in the response.",
        "parameters": [
          {
            "name": "IncludeTotalCount",
            "in": "query",
            "description": "Set to true to get the total count of records in response. <p>**Note**: Default value set to false.</p>",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Actual query to be executed",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "c078a7ab-182b-4681-ad61-545c46a2bcfe"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/data/v1/Contact/recordtypes": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get all contact record types",
        "description": "Retrieves a list of all record types for the given object.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact/summary": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get object contact record count and size on disk",
        "description": "Returns a count of all records for the given object, and it's size on disk.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectDictionaryListAPIResponse"
                },
                "example": {
                  "Success": true,
                  "RecordCount": 1,
                  "Data": [
                    {
                      "Name": "System Admin",
                      "Id": "4c003591-f7c7-4b04-b887-57e25f42aa91"
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      }
    },
    "/api/data/v1/Contact/{id}": {
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete a contact record",
        "description": "Validates the record based on the record ID and removes it from the given object.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteBehaviour",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/DeleteBehaviour"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanNullableAPIResponse"
                },
                "example": {
                  "Success": true,
                  "Data": true,
                  "StatusCode": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                },
                "example": {
                  "Success": false,
                  "Errors": [
                    {
                      "Message": "Internal server error occurred. Please contact admin."
                    }
                  ],
                  "StatusCode": "OK"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get a contact record using contact record ID",
        "description": "Checks the record ID in the given object and fetches the record if it exists.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Actual record ID. **For example**: 2614d72c-edfc-4dc5-b72f-45104fe5ef43.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Record not found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
[...]
