{
  "openapi": "3.0.1",
  "info": {
    "title": "Scheduler",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rls.congacloud.com"
    }
  ],
  "paths": {
    "/api/scheduler/v1/jobs": {
      "get": {
        "tags": [
          "Scheduler"
        ],
        "summary": "List scheduled jobs",
        "description": "Returns scheduled job details.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, all the scheduled job records are considered.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number of the current page for which the records will be fetched and displayed.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobListResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobListResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobListResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/cron": {
      "post": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Create a new cron scheduled job",
        "description": "Creates a new cron scheduled job and returns the job name.",
        "requestBody": {
          "description": "Request details about creating cron scheduled job",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/export": {
      "post": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Export all scheduled jobs",
        "description": "Exports all scheduled job information in a zip file, based on the appNamespace parameter.",
        "parameters": [
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "requestBody": {
          "description": "List of the scheduled job to be exported",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/onetime": {
      "post": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Create a one-time scheduled job",
        "description": "Creates a new scheduled job and returns the job's name.",
        "requestBody": {
          "description": "Request details about creating one time scheduled job",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneTimeScheduledJobCreateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OneTimeScheduledJobCreateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OneTimeScheduledJobCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}": {
      "delete": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Delete a scheduled job",
        "description": "Deletes a scheduled job and its execution history by job name.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Scheduled job's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Get scheduled job details",
        "description": "Returns the scheduled job details based on the job name.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Scheduled job name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/cron": {
      "put": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Update the scheduled job",
        "description": "Updates and returns the scheduled job information or an appropriate error message.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the scheduled job to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request details about updating cron scheduled job",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobUpdateRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CronScheduledJobUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/disable": {
      "put": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Disable the scheduled job",
        "description": "Disables a scheduled job by job name.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Job name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/enable": {
      "put": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Enable scheduled job",
        "description": "Enables a named scheduled job.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the scheduled job to be enabled",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/execute": {
      "post": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Execute the scheduled job",
        "description": "Executes and returns the executed scheduled job or an appropriate error message.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the scheduled job to be executed",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/execution-history": {
      "get": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Get scheduled job execution history",
        "description": "Returns the scheduled job execution history.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Scheduled job's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AppNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "description": "The page number of the current page for which the records will be fetched and displayed",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "The number of records to display on each page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobExecutionHistoryListResponseAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobExecutionHistoryListResponseAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledJobExecutionHistoryListResponseAPIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scheduler/v1/jobs/{jobName}/export": {
      "get": {
        "tags": [
          "Scheduler"
        ],
        "summary": "Export a scheduled job",
        "description": "Returns scheduled job information by name in a ZIP file.",
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "Scheduled job's name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appNamespace",
            "in": "query",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "schema": {
              "type": "string",
              "default": "default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAPIResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActionType": {
        "enum": [
          "PublishMessage",
          "ExecuteCustomCode",
          "Webhook"
        ],
        "type": "string"
      },
      "CronScheduledJobCreateRequest": {
        "type": "object",
        "properties": {
          "AppNamespace": {
            "type": "string",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "nullable": true
          },
          "Payload": {
            "type": "object",
            "additionalProperties": {},
            "description": "The additional payload that will be passed in as a message when the Scheduled job runs",
            "nullable": true
          },
          "FilterAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The Filter attributes to filter the messages",
            "nullable": true
          },
          "JobName": {
            "type": "string",
            "description": "The Scheduler Job Name",
            "nullable": true
          },
          "ActionType": {
            "$ref": "#/components/schemas/ActionType"
          },
          "JobRecurrence": {
            "$ref": "#/components/schemas/JobRecurrence"
          },
          "CronExpression": {
            "type": "string",
            "description": "The Cron expression for the scheduled job",
            "nullable": true
          },
          "StartDateTimeUtc": {
            "type": "string",
            "description": "The scheduled job's execution time, expressed as a Cron job",
            "format": "date-time",
            "nullable": true
          },
          "EndDateTimeUtc": {
            "type": "string",
            "description": "The date and time to stop executing the scheduled Cron job",
            "format": "date-time",
            "nullable": true
          },
          "TimezoneId": {
            "type": "string",
            "description": "The timezone in which the cron expression is evaluated.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CronScheduledJobUpdateRequest": {
        "type": "object",
        "properties": {
          "JobRecurrence": {
            "$ref": "#/components/schemas/JobRecurrence"
          },
          "CronExpression": {
            "type": "string",
            "description": "The Cron expression for the scheduled job",
            "nullable": true
          },
          "AppNamespace": {
            "type": "string",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "nullable": true
          },
          "Payload": {
            "type": "object",
            "additionalProperties": {},
            "description": "The additional payload that will be passed in as a message when the Scheduled job runs",
            "nullable": true
          },
          "FilterAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The Filter attributes to filter the messages",
            "nullable": true
          },
          "JobName": {
            "type": "string",
            "description": "The Scheduler Job Name",
            "nullable": true
          },
          "StartDateTimeUtc": {
            "type": "string",
            "description": "The scheduled job's execution time, expressed as a Cron job",
            "format": "date-time",
            "nullable": true
          },
          "EndDateTimeUtc": {
            "type": "string",
            "description": "The date and time to stop executing the scheduled Cron job",
            "format": "date-time",
            "nullable": true
          },
          "TimezoneId": {
            "type": "string",
            "description": "The timezone in which the cron expression is evaluated.",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DayOfWeek": {
        "enum": [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ],
        "type": "string"
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "Message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExecutionType": {
        "enum": [
          "Schedule",
          "OnDemand"
        ],
        "type": "string"
      },
      "Frequency": {
        "enum": [
          "Daily",
          "Weekly",
          "Monthly",
          "Yearly",
          "EveryMinute",
          "Hourly"
        ],
        "type": "string"
      },
      "HttpStatusCode": {
        "enum": [
          "Continue",
          "SwitchingProtocols",
          "Processing",
          "EarlyHints",
          "OK",
          "Created",
          "Accepted",
          "NonAuthoritativeInformation",
          "NoContent",
          "ResetContent",
          "PartialContent",
          "MultiStatus",
          "AlreadyReported",
          "IMUsed",
          "MultipleChoices",
          "MovedPermanently",
          "Found",
          "SeeOther",
          "NotModified",
          "UseProxy",
          "Unused",
          "TemporaryRedirect",
          "PermanentRedirect",
          "BadRequest",
          "Unauthorized",
          "PaymentRequired",
          "Forbidden",
          "NotFound",
          "MethodNotAllowed",
          "NotAcceptable",
          "ProxyAuthenticationRequired",
          "RequestTimeout",
          "Conflict",
          "Gone",
          "LengthRequired",
          "PreconditionFailed",
          "RequestEntityTooLarge",
          "RequestUriTooLong",
          "UnsupportedMediaType",
          "RequestedRangeNotSatisfiable",
          "ExpectationFailed",
          "MisdirectedRequest",
          "UnprocessableEntity",
          "Locked",
          "FailedDependency",
          "UpgradeRequired",
          "PreconditionRequired",
          "TooManyRequests",
          "RequestHeaderFieldsTooLarge",
          "UnavailableForLegalReasons",
          "InternalServerError",
          "NotImplemented",
          "BadGateway",
          "ServiceUnavailable",
          "GatewayTimeout",
          "HttpVersionNotSupported",
          "VariantAlsoNegotiates",
          "InsufficientStorage",
          "LoopDetected",
          "NotExtended",
          "NetworkAuthenticationRequired"
        ],
        "type": "string"
      },
      "JobRecurrence": {
        "type": "object",
        "properties": {
          "Frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "Interval": {
            "type": "integer",
            "format": "int32"
          },
          "AtMinute": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "AtHour": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "OnDay": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "DayOfWeek": {
            "$ref": "#/components/schemas/DayOfWeek"
          }
        },
        "additionalProperties": false
      },
      "LookupObject": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OneTimeScheduledJobCreateRequest": {
        "type": "object",
        "properties": {
          "AppNamespace": {
            "type": "string",
            "description": "Namespace for sorting jobs. It is a folder where the scheduled jobs for a specific category belong. <p>The namespace parameter is optional: if it is left blank, the scheduled job record in the default namespace is considered.</p>",
            "nullable": true
          },
          "Payload": {
            "type": "object",
            "additionalProperties": {},
            "description": "The additional payload that will be passed in as a message when the Scheduled job runs",
            "nullable": true
          },
          "FilterAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The Filter attributes to filter the messages",
            "nullable": true
          },
          "JobName": {
            "type": "string",
            "description": "The Scheduler Job Name",
            "nullable": true
          },
          "ActionType": {
            "$ref": "#/components/schemas/ActionType"
          },
          "ExecutionDateTimeUtc": {
            "type": "string",
            "description": "The UTC date time at which the scheduled job will run",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "ScheduledJob": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "JobName": {
            "type": "string",
            "nullable": true
          },
          "AppNamespace": {
            "type": "string",
            "nullable": true
          },
          "JobRecurrence": {
            "$ref": "#/components/schemas/JobRecurrence"
          },
          "Payload": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          },
          "FilterAttributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "CronExpression": {
            "type": "string",
            "nullable": true
          },
          "CronDescription": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "State": {
            "$ref": "#/components/schemas/ScheduledJobState"
          },
          "ActionType": {
            "$ref": "#/components/schemas/ActionType"
          },
          "ExecutionDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "ExecutionDateTimeUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ScheduledJobType": {
            "$ref": "#/components/schemas/ScheduledJobType"
          },
          "Version": {
            "type": "string",
            "nullable": true
          },
          "StartDateTimeUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EndDateTimeUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "ModifiedBy": {
            "$ref": "#/components/schemas/LookupObject"
          },
          "TimezoneId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ScheduledJob"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobExecutionHistoryListResponse": {
        "type": "object",
        "properties": {
          "JobName": {
            "type": "string",
            "nullable": true
          },
          "JobRecurrence": {
            "$ref": "#/components/schemas/JobRecurrence"
          },
          "CreatedDate": {
            "type": "string",
            "format": "date-time"
          },
          "ActionType": {
            "$ref": "#/components/schemas/ActionType"
          },
          "State": {
            "$ref": "#/components/schemas/ScheduledJobState"
          },
          "CronExpression": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          },
          "CronDescription": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "ScheduleExpression": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          },
          "ScheduledJobType": {
            "$ref": "#/components/schemas/ScheduledJobType"
          },
          "TotalCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "StartDateTimeUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "EndDateTimeUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ExecutionHistoryRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduledJobGetExecutionHistory"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobExecutionHistoryListResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ScheduledJobExecutionHistoryListResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobGetExecutionHistory": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "nullable": true
          },
          "Error": {
            "type": "string",
            "nullable": true
          },
          "TraceId": {
            "type": "string",
            "nullable": true
          },
          "Status": {
            "$ref": "#/components/schemas/ScheduledJobHistoryStatus"
          },
          "ExecutionDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "ExecutionDateTimeUtc": {
            "type": "string",
            "format": "date-time"
          },
          "ExecutionType": {
            "$ref": "#/components/schemas/ExecutionType"
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobHistoryStatus": {
        "enum": [
          "Inprogress",
          "Succeeded",
          "Failed",
          "Queued"
        ],
        "type": "string"
      },
      "ScheduledJobListResponse": {
        "type": "object",
        "properties": {
          "HasMoreRecords": {
            "type": "boolean"
          },
          "ContinuationToken": {
            "type": "string",
            "nullable": true
          },
          "TotalCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "ScheduledJobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduledJob"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobListResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ScheduledJobListResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobResponse": {
        "type": "object",
        "properties": {
          "JobName": {
            "type": "string",
            "nullable": true
          },
          "State": {
            "$ref": "#/components/schemas/ScheduledJobState"
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobResponseAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "$ref": "#/components/schemas/ScheduledJobResponse"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScheduledJobState": {
        "enum": [
          "Enabled",
          "Disabled"
        ],
        "type": "string"
      },
      "ScheduledJobType": {
        "enum": [
          "Cron",
          "OneTime"
        ],
        "type": "string"
      },
      "StringAPIResponse": {
        "type": "object",
        "properties": {
          "Success": {
            "type": "boolean"
          },
          "RecordCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "Data": {
            "type": "string",
            "nullable": true
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          },
          "Profile": {
            "type": "string",
            "nullable": true
          },
          "TotalTime": {
            "type": "number",
            "format": "float"
          },
          "StatusCode": {
            "$ref": "#/components/schemas/HttpStatusCode"
          },
          "HasMoreRecords": {
            "type": "boolean",
            "nullable": true
          },
          "NextCursor": {
            "type": "string",
            "nullable": true
          },
          "Warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetail"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please insert JWT with Bearer into field",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Scheduler"
    }
  ]
}
